## Emprendimiento migración - CCB

In [1]:
import pandas as pd
import numpy as np

In [2]:
coding: "latin-1"

In [1]:
#actualizar
# import numexpr as nm
# nm.__version__

'2.7.3'

In [6]:
#!pip install numexpr==2.7.3 --upgrade
#versión pandas luego de la actualización
#pd.__version__

Collecting numexpr==2.7.3
  Downloading numexpr-2.7.3-cp38-cp38-win_amd64.whl (93 kB)
Requirement already satisfied, skipping upgrade: numpy>=1.7 in d:\anaconda\lib\site-packages (from numexpr==2.7.3) (1.23.3)
Installing collected packages: numexpr
  Attempting uninstall: numexpr
    Found existing installation: numexpr 2.7.1
    Uninstalling numexpr-2.7.1:
      Successfully uninstalled numexpr-2.7.1

ERROR: Could not install packages due to an EnvironmentError: [WinError 5] Acceso denegado: 'D:\\anaconda\\Lib\\site-packages\\~umexpr\\interpreter.cp38-win_amd64.pyd'
Consider using the `--user` option or check the permissions.

In [4]:
##soluciona el error [Errno 22] Invalid argument
!pip3 install --upgrade pandas

Requirement already up-to-date: pandas in d:\anaconda\lib\site-packages (1.5.0)
Requirement already satisfied, skipping upgrade: pytz>=2020.1 in d:\anaconda\lib\site-packages (from pandas) (2020.1)
Requirement already satisfied, skipping upgrade: numpy>=1.20.3; python_version < "3.10" in d:\anaconda\lib\site-packages (from pandas) (1.23.3)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.8.1 in d:\anaconda\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied, skipping upgrade: six>=1.5 in d:\anaconda\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.15.0)

In [2]:
#cargue desde el escritorio
#p = "C:/Users/IVAN CORREDOR/OneDrive - Universidad Nacional de Colombia/Escritorio/CCB_DIC2019.dta"

In [3]:
p1= "G:/Unidades compartidas/Datos y procesamientos 2023/CCB/Datos/3_Clean/CCB_DIC2021.dta"
p2= "G:/Unidades compartidas/Datos y procesamientos 2023/CCB/Datos/3_Clean/CCB_DIC2020.dta"
p3= "G:/Unidades compartidas/Datos y procesamientos 2023/CCB/Datos/3_Clean/CCB_DIC2019.dta"

#### Creación de Empresas

#### 2021

In [4]:
##Cargar base de matriculas activas y canceladas 2021
#primero debo copiar la base en mi escritorio y cargarla, posteriormente cargarla desde el google drive
CCB_21= pd.read_stata(p1)

In [7]:
CCB_21.columns

Index(['num_matricula', 'fec_matricula', 'nombre', 'tipo_persona', 'nit', 'dv',
       'admon_dian_id', 'admon_dian', 'direccion_comercial',
       'id_municipio_comercial', 'direccion_notifica', 'id_municipio_notifica',
       'num_tel1', 'num_tel2', 'email', 'cantidad_establecimientos',
       'organizacion_juridica', 'clase_generica_esal',
       'fec_inicio_actividad_ppal', 'num_doc', 'fec_doc', 'id_munip_doc',
       'rep_legal', 'tipo_id_replegal', 'num_id_replegal', 'rep_legal_sup',
       'tipo_id_replegal_sup', 'num_id_replegal_sup', 'revisor_fiscal',
       'tipo_id_revisor', 'num_id_revisor', 'fec_vigencia',
       'importador_exportador', 'estado_matricula', 'fec_cancelacion',
       'tipo_disolucion', 'fec_disolucion', 'fec_renova', 'ano_renova',
       'numero_empleados', 'activo_corriente', 'activo_no_corriente',
       'activo_total', 'pasivo_corriente', 'pasivo_no_corriente',
       'pasivo_total', 'patrimonio_neto', 'pasivo_mas_patrimonio',
       'balance_social', 'ingreso_actividad_ordinaria', 'otros_ingresos',
       'costo_ventas', 'gastos_operacionales', 'otros_gastos',
       'gatos_impuestos', 'utilidad_perdida_operacional', 'resultado_periodo',
       'tamano_activos', 'tamano_ingresos', 'pct_nal_total', 'pct_nal_privado',
       'pct_nal_publico', 'pct_ext_total', 'pct_ext_privado',
       'pct_ext_publico', 'vr_cap_autoriza', 'vr_cap_suscrito',
       'vr_cap_pagado', 'vr_cap_social', 'ciiu_1', 'ciiu_2', 'ciiu_3',
       'ciiu_4', 'direccion', 'estado', 'dirtrad', 'diraprox',
       'tipo_direccion', 'codloc', 'localidad', 'codupz', 'nomupz',
       'codseccat', 'nomseccat', 'cpocodigo', 'mancodigo', 'lotcodigo',
       'longitude', 'latitude', 'primero', 'inicial', 'año_matricula',
       'div_ciiu', 'sectores_pib', 'sectores_14', 'año_cancelacion',
       'macro_sec', 'vigencia'],
      dtype='object')

In [6]:
CCB_21["num_id_replegal"].value_counts()

                   619286
9002654083             48
000000003227092        45
000001069726096        36
000001023899716        35
                    ...
000000019494133         1
000000052783194         1
000001129571442         1
000000080196790         1
80398769                1
Name: num_id_replegal, Length: 289150, dtype: int64

In [11]:
#seleccionar variables necesarias y filtrar por año de matricula 2021. 
msk1 = CCB_21["año_matricula"]==2021
CCB_21a = CCB_21[msk1==True]

In [8]:
#variables
var = ["num_matricula", "vigencia", "fec_matricula", "año_matricula", "fec_vigencia",
                   "fec_cancelacion","año_cancelacion","tipo_disolucion","fec_disolucion", "fec_renova",
                   "ano_renova", "nombre", "tipo_persona", "direccion_comercial", 
                   "id_municipio_comercial", "cantidad_establecimientos",
                   "organizacion_juridica", "rep_legal", "tipo_id_replegal", "estado_matricula",
                   "resultado_periodo", "utilidad_perdida_operacional",
                   "activo_total", "pasivo_total", "patrimonio_neto", "tamano_activos", "tamano_ingresos",
                   "numero_empleados","importador_exportador", "ciiu_1", "sectores_pib","sectores_14",
                   "macro_sec",  "codloc", "localidad", "codupz", "nomupz", "longitude","latitude"]

In [296]:
##seleccionar solo las variables deseadas
CCB_21a = CCB_21[var]

In [297]:
CCB_21a.to_csv("G:/Unidades compartidas/Datos y procesamientos 2023/CCB/Datos/3_Clean/CCB_21.csv",
             sep = ';', index = False, date_format= "yyyy-mm-dd")

#### 2020

In [340]:
#2020
CCB_20= pd.read_stata(p2)

In [108]:
#filtro 2020
msk2 = CCB_20["año_matricula"]==2020
CCB_20a = CCB_20[msk2==True]

In [341]:
CCB_20.rename(columns={"nro_matricula":"num_matricula"}, inplace = True)

In [374]:
#EXTRACCIÓN VARIABLES 2020
CCB_20a = CCB_20[var]

In [370]:
#para pasar de float a entero no deben existir nulos
#CCB_20a["año_cancelacion"]  = CCB_20a["año_cancelacion"].fillna(-1).astype("int32")

In [459]:
#del CCB_20a

In [375]:
CCB_20a.to_csv("G:/Unidades compartidas/Datos y procesamientos 2023/CCB/Datos/3_Clean/CCB_20.csv",
             sep = ';', index = False, date_format= "yyyy-mm-dd", decimal=",")

#### 2019

In [382]:
#2019
CCB_19= pd.read_stata(p3)

In [102]:
#filtro 2019
msk3 = CCB_19["año_matricula"]==2019
CCB_19a = CCB_19[msk3==True]

In [383]:
CCB_19.rename(columns={"nro_matricula":"num_matricula"}, inplace = True)

In [384]:
#EXTRACCIÓN VARIABLES 2019
CCB_19a = CCB_19[var]

In [387]:
del CCB_19a

In [385]:
CCB_19a.to_csv("G:/Unidades compartidas/Datos y procesamientos 2023/CCB/Datos/3_Clean/CCB_19.csv",
             sep = ';', index = False, date_format= "yyyy-mm-dd", decimal=",")

In [335]:
#CCB_19a.info() ## 2021: 963126 datos, 97 variable; 2020: 865856, 104 variables; 2019

<class 'pandas.core.frame.DataFrame'>
Int64Index: 865856 entries, 0 to 865855
Data columns (total 39 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   num_matricula                 865852 non-null  float64
 1   vigencia                      865856 non-null  object
 2   fec_matricula                 865856 non-null  int32
 3   año_matricula                 865856 non-null  float64
 4   fec_vigencia                  58515 non-null   float64
 5   fec_cancelacion               231302 non-null  float64
 6   año_cancelacion               231302 non-null  float64
 7   tipo_disolucion               0 non-null       float64
 8   fec_disolucion                10996 non-null   float64
 9   fec_renova                    865856 non-null  int32
 10  ano_renova                    865856 non-null  int16
 11  nombre                        865856 non-null  object
 12  tipo_persona                  865856 non-null  int8
 13  direccion_comercial           865856 non-null  object
 14  id_municipio_comercial        865856 non-null  int16
 15  cantidad_establecimientos     865856 non-null  int16
 16  organizacion_juridica         865856 non-null  object
 17  rep_legal                     865856 non-null  object
 18  tipo_id_replegal              865856 non-null  object
 19  estado_matricula              865856 non-null  object
 20  resultado_periodo             859959 non-null  float64
 21  utilidad_perdida_operacional  864776 non-null  float64
 22  activo_total                  865845 non-null  float64
 23  pasivo_total                  864765 non-null  float64
 24  patrimonio_neto               865234 non-null  float64
 25  tamano_activos                865856 non-null  object
 26  tamano_ingresos               865856 non-null  object
 27  numero_empleados              864611 non-null  float64
 28  importador_exportador         865856 non-null  object
 29  ciiu_1                        859520 non-null  float64
 30  sectores_pib                  865856 non-null  object
 31  sectores_14                   865856 non-null  object
 32  macro_sec                     865856 non-null  object
 33  codloc                        802941 non-null  float64
 34  localidad                     865856 non-null  object
 35  codupz                        865856 non-null  object
 36  nomupz                        865856 non-null  object
 37  longitude                     802948 non-null  float64
 38  latitude                      802948 non-null  float64
dtypes: float64(17), int16(3), int32(2), int8(1), object(16)
memory usage: 237.0+ MB

In [112]:
#reindexar
frames = [CCB_21a, CCB_20a, CCB_19a]
for i in frames:
    i.reset_index(drop=True, inplace=True)

In [113]:
#concatenar
CBB_19_21 = pd.concat(frames, axis = 0, join = 'outer', sort = False)

In [394]:
#exportar a cvs para visor
CBB_19_21.to_csv("G:/Unidades compartidas/Datos y procesamientos 2023/CCB/Datos/3_Clean/CCB_19_21.csv",
                 sep = ';', index = False, date_format= "yyyy-mm-dd")

#### cargue de la base procesada de creación de empresas

In [3]:
p4= "G:/Unidades compartidas/Datos y procesamientos 2023/CCB/Datos/3_Clean/CCB_19_21.csv"

In [389]:
ccb_f= pd.read_csv(p4, sep = ";", low_memory=False)

In [395]:
ccb_f["latitude"].head()

0    4.600717
1    4.623026
2    4.599316
3    4.704900
4    4.765529
Name: latitude, dtype: float64

In [396]:
ccb_f = ccb_f[var]

In [397]:
ccb_f.columns

Index(['num_matricula', 'vigencia', 'fec_matricula', 'año_matricula',
       'fec_vigencia', 'fec_cancelacion', 'año_cancelacion', 'tipo_disolucion',
       'fec_disolucion', 'fec_renova', 'ano_renova', 'nombre', 'tipo_persona',
       'direccion_comercial', 'id_municipio_comercial',
       'cantidad_establecimientos', 'organizacion_juridica', 'rep_legal',
       'tipo_id_replegal', 'estado_matricula', 'resultado_periodo',
       'utilidad_perdida_operacional', 'activo_total', 'pasivo_total',
       'patrimonio_neto', 'tamano_activos', 'tamano_ingresos',
       'numero_empleados', 'importador_exportador', 'ciiu_1', 'sectores_pib',
       'sectores_14', 'macro_sec', 'codloc', 'localidad', 'codupz', 'nomupz',
       'longitude', 'latitude'],
      dtype='object')

In [270]:
ccb_f[['estado_matricula']].value_counts()

estado_matricula
MA                  211577
MC                    1723
IA                    1452
IC                       7
dtype: int64

In [10]:
ccb_f[ccb_f['año_matricula']==2019]['estado_matricula'].value_counts()

MA    78904
Name: estado_matricula, dtype: int64

In [34]:
#la variable vigencia presenta problemas ya que el estado de matrícula aparece cancelado pero también aparece como vigente, pues no se controla por la fecha de cancelación. 
#para la variable vigente se debe incoporar la condición de que el Estado de matricula sea MA
ccb_f[ccb_f['estado_matricula']=="MC"][['estado_matricula','fec_matricula', 'fec_cancelacion', 'fec_renova','vigencia','ano_renova']]

,estado_matricula,fec_matricula,fec_cancelacion,fec_renova,vigencia,ano_renova
71908,MC,20210813,20210824.0,20210813.0,Vigente,2021.0
71909,MC,20210301,20210615.0,20210301.0,Vigente,2021.0
71910,MC,20210809,20211129.0,20210809.0,Vigente,2021.0
71911,MC,20210121,20210413.0,20210121.0,Vigente,2021.0
71912,MC,20210319,20210405.0,20210319.0,Vigente,2021.0
...,...,...,...,...,...,...
135850,MC,20200303,20200813.0,20200303.0,Vigente,2020.0
135851,MC,20200310,20201120.0,20200310.0,Vigente,2020.0
135852,MC,20200316,20201215.0,20200316.0,Vigente,2020.0
135853,MC,20200429,20200929.0,20200429.0,Vigente,2020.0
135854,MC,20200731,20200907.0,20200731.0,Vigente,2020.0

In [398]:
#exportar a cvs para visor con coma como separadpr de decimales 
ccb_f.to_csv("G:/Unidades compartidas/Datos y procesamientos 2023/CCB/Datos/3_Clean/CCB_19_21.csv",
             sep = ';', index = False, date_format= "yyyy-mm-dd", decimal=",")

### Cancelación de empresas

In [426]:
paths = [p3, p2, p1]
per = [2019, 2020, 2021]

for i, j, k in zip(paths, range(19,22), per):
    exec('CCB_{}= pd.read_stata(i)'.format(j))
    exec('msk = CCB_{}["año_cancelacion"]== k'.format(j))
    exec('CCB_{}a = CCB_{}[msk==True]'.format(j,j))
    exec('del CCB_{}'.format(j))
    exec('CCB_{}a.reset_index(drop =True, inplace = True)'.format(j))

In [427]:
#cambiar nombres de variables
for l in range(19,21):
    names = {'nro_matricula':'num_matricula'}
    exec('CCB_{}a = CCB_{}a.rename(columns= names)'.format(l,l))

In [429]:
#sustraer variables 
for j in range(19,22):
    exec('CCB_{}a = CCB_{}a[var]'.format(j,j))

In [430]:
frames = [CCB_19a, CCB_20a,CCB_21a]
#concatenar
CBB_19_21_canceladas = pd.concat(frames, axis = 0, join = 'outer', sort = False)

In [432]:
#crear variable canceladas
CBB_19_21_canceladas.insert(39, "tipo empresa", "canceladas")

In [437]:
#exportar a cvs para visor
CBB_19_21_canceladas.to_csv("G:/Unidades compartidas/Datos y procesamientos 2023/CCB/Datos/3_Clean/CCB_19_21_cancel.csv",
             sep = ';', index = False, date_format= "yyyy-mm-dd", decimal = ",")

In [444]:
#matriculas canceladas por año
CBB_19_21_canceladas[CBB_19_21_canceladas['estado_matricula']=="MC"]["año_cancelacion"].value_counts()

2021.0    42313
2020.0    41528
2019.0    37526
Name: año_cancelacion, dtype: int64

In [449]:
#borrar elemntos para obterner más ram
#del CCB_19a
#del CCB_20a
#del CCB_21a
# del frames
# del CBB_19_21_canceladas

#### Renovación de empresas

In [464]:
paths = [p3, p2, p1]
per = [2019, 2020, 2021]

for i, j, k in zip(paths, range(19,22), per):
    exec('CCB_{}= pd.read_stata(i)'.format(j))
    exec('msk = CCB_{}["ano_renova"]== k'.format(j))
    exec('CCB_{}ar = CCB_{}[msk==True]'.format(j,j))
    exec('del CCB_{}'.format(j))
    exec('CCB_{}ar.reset_index(drop =True, inplace = True)'.format(j))

In [465]:
#cambiar nombres de variables
for l in range(19,21):
    names = {'nro_matricula':'num_matricula'}
    exec('CCB_{}ar = CCB_{}ar.rename(columns= names)'.format(l,l))

In [466]:
#sustraer variables 
for j in range(19,22):
    exec('CCB_{}ar = CCB_{}ar[var]'.format(j,j))

In [467]:
framesr = [CCB_19ar, CCB_20ar,CCB_21ar]
#concatenar
CBB_19_21_renovadas = pd.concat(framesr, axis = 0, join = 'outer', sort = False)

In [468]:
#crear variable canceladas
CBB_19_21_renovadas.insert(39, "tipo empresa", "renovadas")

In [469]:
#exportar a cvs para visor
CBB_19_21_renovadas.to_csv("G:/Unidades compartidas/Datos y procesamientos 2023/CCB/Datos/3_Clean/CCB_19_21_reno.csv",
             sep = ';', index = False, date_format= "yyyy-mm-dd", decimal = ",")

In [471]:
#matriculas canceladas por año
CBB_19_21_renovadas[CBB_19_21_renovadas['estado_matricula']=="MA"]["ano_renova"].value_counts()

2019.0    441715
2021.0    405380
2020.0    387217
Name: ano_renova, dtype: int64

In [473]:
#borrar elemntos para obterner más ram
# del CCB_19ar
# del CCB_20ar
# del CCB_21ar
# del framesr
# del CBB_19_21_renovadas

### Cargar bases creadas, canceladas y renovadas

In [4]:
p4= "G:/Unidades compartidas/Datos y procesamientos 2023/CCB/Datos/3_Clean/CCB_19_21.csv"
p5 = "G:/Unidades compartidas/Datos y procesamientos 2023/CCB/Datos/3_Clean/CCB_19_21_cancel.csv"
p6 = "G:/Unidades compartidas/Datos y procesamientos 2023/CCB/Datos/3_Clean/CCB_19_21_reno.csv"

In [5]:
paths2 = [p4, p5, p6]
l1 = ["cr", "can", "re"]
for i, j in zip(paths2, l1):
    exec('CCB_{}= pd.read_csv(i, sep = ";", low_memory=False, decimal= ",")'.format(j))

In [6]:
#crear variable canceladas
CCB_cr.insert(39, "tipo empresa", "creadas")

In [7]:
framesp = [CCB_cr, CCB_can,CCB_re]
#concatenar
CBB_19_21_cr_can_re = pd.concat(framesp, axis = 0, join = 'outer', sort = False)

In [10]:
CBB_19_21_cr_can_re["tipo empresa"].value_counts()

renovadas     1273844
creadas        214759
canceladas     121752
Name: tipo empresa, dtype: int64

In [ ]:
CBB_19_21_cr_can_re.info()

In [11]:
#exportar a cvs para visor
CBB_19_21_cr_can_re.to_csv("G:/Unidades compartidas/Datos y procesamientos 2023/CCB/Datos/3_Clean/CBB_19_21_cr_can_re.csv",
             sep = ';', index = False, date_format= "yyyy-mm-dd", decimal = ",")

### Procesar corte 2022

In [3]:
p7 =  "G:/Unidades compartidas/Datos y procesamientos 2023/CCB/Datos/3_Clean/MA_AUG2022.csv" 
p8 = "G:/Unidades compartidas/Datos y procesamientos 2023/CCB/Datos/3_Clean/G:/Unidades compartidas/Datos y procesamientos 2023/CCB/Datos/3_Clean/MC_AUG2022.csv"

In [4]:
#cargar base
#CCB_22 = pd.read_csv(p7, sep = ";", low_memory=False, decimal= ",")
#nombres de columnas a minusculas
#CCB_22.columns = CCB_22.columns.str.lower() #df= df.rename(columns=str.lower)
#CCB_22prueba[["ano_renova", "utilidad_perdida_operacional", "activo_total","resultado_periodo", "patrimonio_neto"]].head(20)
#CCB_22['vigencia'].value_counts()
#CCB_22.rename(columns = names, inplace =True)
#print(list(CCB_22.columns)) # "loccodigo":"codloc", "locnombre":"localidad"

In [5]:
##renombrar variables
names = {"nro_matricula":"num_matricula", "ano_cancelacion": "año_cancelacion", 
         "ano_creacion":"año_matricula", "loccodigo":"codloc", "locnombre":"localidad",
         "cod_upz":"codupz", "nom_upz":"nomupz"}

In [6]:
### se deben crear las variables: "sectores_pib","sectores_14","macro_sec" despues de concatenar la base MA y MC
var2 = ["num_matricula", "vigencia", "fec_matricula", "año_matricula", "fec_vigencia",
                   "fec_cancelacion","año_cancelacion","tipo_disolucion","fec_disolucion", "fec_renova",
                   "ano_renova", "nombre", "tipo_persona", "direccion_comercial", 
                   "id_municipio_comercial", "cantidad_establecimientos",
                   "organizacion_juridica", "rep_legal", "tipo_id_replegal", "estado_matricula",
                   "resultado_periodo", "utilidad_perdida_operacional",
                   "activo_total", "pasivo_total", "patrimonio_neto", "tamano_activos", "tamano_ingresos",
                   "numero_empleados","importador_exportador", "ciiu_1", "codloc", "localidad", "codupz", "nomupz", "longitude","latitude", "sexo"]

In [7]:
# cargar ma y mc 2022, esandarizar variables, subset y eliminación de objetos primarios
paths3 = [p7, p8]
l2 = ["MA", "MC"]
for i, j in zip(paths3, l2):
    exec('CCB_22{}= pd.read_csv(i, sep = ";", low_memory=False, decimal= ",")'.format(j))
    exec('CCB_22{}.columns = CCB_22{}.columns.str.lower()'.format(j,j))
    exec('CCB_22{} = CCB_22{}.rename(columns= names)'.format(j,j))
    exec('CCB_22{}a = CCB_22{}[var2]'.format(j,j))
    exec('del CCB_22{}'.format(j))

In [8]:
#concatenar
frames_22 = [CCB_22MAa, CCB_22MCa]
CCB_22 = pd.concat(frames_22)

In [10]:
##crear variables faltantes
CCB_22["div_ciiu"] = np.trunc(CCB_22["ciiu_1"]/100)
CCB_22["div_ciiu"] = CCB_22["div_ciiu"].astype("Int8", errors='ignore')
CCB_22["div_ciiu"] = pd.Series(CCB_22["div_ciiu"], dtype = "int").replace(np.nan, -1)

In [15]:
def sec_pib(df):
    if df["div_ciiu"] >=1 and df["div_ciiu"]<=3:
        x = "A"
    elif df["div_ciiu"]>=5 and df["div_ciiu"]<=9:
        x = "B"
    elif df["div_ciiu"]>=10 and df["div_ciiu"]<=12:
        x = "C01"
    elif df["div_ciiu"]>=13 and df["div_ciiu"]<=15:
        x = "C02"
    elif df["div_ciiu"]>=16 and df["div_ciiu"]<=18:
        x = "C03"
    elif df["div_ciiu"]>=19 and df["div_ciiu"]<=23:
        x = "C04"
    elif ((df["div_ciiu"]>=24 and df["div_ciiu"]<=30) or (df["div_ciiu"]==33)):
        x = "C05"
    elif df["div_ciiu"]>=31 and df["div_ciiu"]<=32:
        x = "C06"
    elif df["div_ciiu"]==35:
        x = "D"
    elif df["div_ciiu"]>=36 and df["div_ciiu"]<=39:
        x = "E"
    elif df["div_ciiu"]==41:
        x = "F01"
    elif df["div_ciiu"]==42:
        x = "F02"
    elif df["div_ciiu"]==43:
        x = "F03"
    elif df["div_ciiu"]>=44 and df["div_ciiu"]<=47:
        x = "G"
    elif df["div_ciiu"]>=49 and df["div_ciiu"]<=53:
        x = "H"
    elif df["div_ciiu"]>=55 and df["div_ciiu"]<=56:
        x = "I"
    elif df["div_ciiu"]>=58 and df["div_ciiu"]<=63:
        x = "J"
    elif df["div_ciiu"]>=64 and df["div_ciiu"]<=66:
        x = "K"
    elif df["div_ciiu"]==68:
        x = "L"
    elif df["div_ciiu"]>=69 and df["div_ciiu"]<=82:
        x = "M&N"
    elif df["div_ciiu"]==84:
        x = "O"
    elif df["div_ciiu"]==85:
        x = "P"
    elif df["div_ciiu"]>=86 and df["div_ciiu"]<=88:
        x = "Q"
    elif df["div_ciiu"]>=90 and df["div_ciiu"]<=96:
        x = "R&S"
    elif df["div_ciiu"]==97:
        x = "T"
    else:
        x = np.nan
    return(x)

In [16]:
CCB_22["sectores_pib"] = CCB_22.apply(sec_pib, axis=1)

In [17]:
def sec_14(df):
    if df["sectores_pib"] in ("A", "B"):
        x = "A&B"
    elif df["sectores_pib"]=="C01":
        x = "C01"
    elif df["sectores_pib"]=="C02":
        x = "C02"
    elif df["sectores_pib"] in ("C03", "C04", "C05", "C06"):
        x = "C07"
    elif df["sectores_pib"] in ("D","E"):
            x = "D&E"
    elif df["sectores_pib"] in ("F01","F02","F03"):
            x = "F"
    elif df["sectores_pib"]=="G":
        x = "G"
    elif df["sectores_pib"]=="H":
        x = "H"
    elif df["sectores_pib"]=="I":
        x = "I"
    elif df["sectores_pib"]=="J":
        x = "J"
    elif df["sectores_pib"]=="K":
        x = "K"
    elif df["sectores_pib"]=="L":
        x = "L"
    elif df["sectores_pib"]=="M&N":
        x = "M&N"
    elif df["sectores_pib"] in ("O","P","Q"):
            x = "O&P&Q"
    elif df["sectores_pib"]=="R&S":
        x = "R&S"
    elif df["sectores_pib"]=="T":
        x = "T"
    else:
        x = np.nan
    return(x)

In [18]:
CCB_22["sectores_14"] = CCB_22.apply(sec_14, axis=1)

In [20]:
def sec_macro(df):
    if df["sectores_14"]=="A&B":
        x = "Agricultura" 
    elif df["sectores_14"] in ("C01", "C02", "C07"):
            x = "Industria"
    elif df["sectores_14"]=="F":
        x = "Construcción"
    elif df["sectores_14"] in ("G", "H", "I"):
            x = "Comercio"
    elif df["sectores_14"] in ("D&E", "J", "K", "L", "M&N", "O&P&Q", "R&S", "T"):
            x = "Servicios"
    else:
        x = np.nan
    return(x)

In [21]:
CCB_22["macro_sec"] = CCB_22.apply(sec_macro, axis=1)

In [22]:
#borrar div_ciuu
CCB_22.drop(columns ="div_ciiu", inplace =True)

In [26]:
#exportar base CCB_22
CCB_22.to_csv("G:/Unidades compartidas/Datos y procesamientos 2023/CCB/Datos/3_Clean/CCB_22.csv",
             sep = ';', index = False, date_format= "yyyy-mm-dd", decimal = ",")

##### creadas, canceladas y renovadas 2022

In [32]:
#filtar creadas, canceladas, renovadas y almacenar en un objeto cada filtro
fec = ["año_matricula", "año_cancelacion", "ano_renova"]
per3 = [2022, 2022, 2022]
l1 = ["cr", "can", "re"]
tipo = ["creadas", "canceladas", "renovadas"]
for i, j, k, l in zip(fec, per3, l1, tipo):
    msk = CCB_22[i]==j
    exec('CCB_22{} = CCB_22[msk==True]'.format(k))
    exec('CCB_22{}.reset_index(drop =True, inplace = True)'.format(k))
    exec('CCB_22{}.insert(40,"tipo empresa",l)'.format(k))

In [33]:
##concatenar
frames4 = [CCB_22cr, CCB_22can , CCB_22re]
CBB_22_cr_can_re = pd.concat(frames4)

In [4]:
p9 = "G:/Unidades compartidas/Datos y procesamientos 2023/CCB/Datos/3_Clean/CBB_19_21_cr_can_re.csv"

In [5]:
#cargar base anterior y concatenar nueva base
CBB_19_21_cr_can_re_b = pd.read_csv(p9, sep = ";", low_memory=False, decimal= ",")

In [54]:
#transformar a minusculas los nombres de las variables de CBB_19_21_cr_can_re_b
CBB_19_21_cr_can_re_b.columns = CBB_19_21_cr_can_re_b.columns.str.lower()

In [56]:
#pasar categorías de masuclino a hombre y de femenino a mujer
CBB_22_cr_can_re["sexo"] = CBB_22_cr_can_re["sexo"].replace("Femenino","Mujer", regex=True)
# pasar categorías de masuclino a hombre
CBB_22_cr_can_re["sexo"] = CBB_22_cr_can_re["sexo"].replace("Masculino","Hombre", regex=True)

In [60]:
##concatenar
frames5 = [CBB_19_21_cr_can_re_b, CBB_22_cr_can_re]
CBB_19_22_cr_can_re = pd.concat(frames5)

In [61]:
#exportar
CBB_19_22_cr_can_re.to_csv("G:/Unidades compartidas/Datos y procesamientos 2023/CCB/Datos/3_Clean/CBB_19_22_cr_can_re.csv",
                           sep = ';', index = False, date_format= "yyyy-mm-dd", decimal = ",")

In [ ]:
# Cargar cortes agosto 2022 MA y MC
# limpiar y hacer subset de ambas bases
## concatenarlas
##crear variables faltantes
###exportar base CCB_22 (agosto)
### filtar creadas, canceladas, renovadas y almacenar en un objeto cada filtro
#### concatenar cada objeto y almacenar en uno nuevo CBB_22_cr_can_re
##### cargar base CBB_19_21_cr_can_re
###### concatenar CBB_22_cr_can_re a  CBB_19_21_cr_can_re_b (b de base), generando CBB_19_22_cr_can_re
#exportar

### outliers

In [4]:
# cargue de base
bc = pd.read_csv("G:/Unidades compartidas/Datos y procesamientos 2023/CCB/Datos/3_Clean/CBB_19_22_cr_can_re.csv",
                           sep = ';', decimal = ",", low_memory=False)

In [5]:
    bc[bc["num_matricula"]=="3308039.0"][["resultado_periodo"]].head() #

        resultado_periodo
120385    1170287000000,0
1070086   1170287000000,0

In [37]:
bc["num_matricula"].head()

0    03320638
1    03320654
2    03320668
3    03320669
4    03320686
Name: num_matricula, dtype: object

In [7]:
#imprimir el número completo
#resultado_periodo
# 1.170.287.000.000 : 2020
# 905.832.615.732.777 : 2022
pd.set_option('float_format', '{:f}'.format)

In [2]:
bc[(bc["año_matricula"]==2020) & (bc["fec_matricula"]=="20201110") & (bc["num_matricula"]=="3308039.0")][["resultado_periodo"]].tail(20)