In [1]:
import pandas as pd
import numpy as np

### Marco muestral 2005

In [2]:
#datos 2019
names_col_19 = ["Poblaciones", "Ene - Mar","Feb - Abr", "Mar - May","Abr - Jun", "May - Jul",
             "Jun - Ago", "Jul - Sep", "Ago - Oct", "Sep - Nov", "Oct - Dic","Nov 19 - Ene 20", 
             "Dic 19 - Feb 20"]

t05_19 = pd.read_excel("G:/Unidades compartidas/Mercado laboral/Datos/1_Raw/marco_muestral 2005_proyec_CNPV2018.xlsx",     
                       sheet_name = "ocu ramas trim 23 áreas CIIU 4", header = 0,
                       skiprows = range(79), nrows = 17,  usecols = "A, AX:BI", names=names_col_19)

In [3]:
#borrar filas innecesarias y reindexar
t05_19.drop(t05_19.index[0], inplace = True)
t05_19.reset_index(drop =True, inplace = True) 

#visualizar datos
t05_19

,Poblaciones,Ene - Mar,Feb - Abr,Mar - May,Abr - Jun,May - Jul,Jun - Ago,Jul - Sep,Ago - Oct,Sep - Nov,Oct - Dic,Nov 19 - Ene 20,Dic 19 - Feb 20
0,Ocupados Bogotá,3855.141739,3898.333157,3952.238742,3992.800026,4047.230933,3999.323017,3994.218402,3989.294562,4069.585355,4064.303324,4019.442390,3989.997773
1,No informa,0.000000,0.000000,0.000000,0.000000,0.693180,0.693180,0.693180,0.000000,0.000000,2.473938,2.473938,2.473938
2,"Agricultura, ganadería, caza, silvicultura y p...",21.413267,17.503940,16.698934,15.031029,11.505815,11.496669,10.515425,17.637480,16.583467,17.669026,13.435084,12.996389
3,Explotación de minas y canteras,10.298286,12.454678,19.627468,21.830533,19.139999,10.148584,9.300497,8.282242,10.928384,11.370341,12.719830,14.194377
4,Industrias manufactureras,489.299154,531.127989,539.815850,536.958207,535.119237,538.978083,535.100100,544.491623,535.240483,560.248960,561.665037,565.445871
5,"Suministro de electricidad gas, agua y gestión...",22.862809,20.580648,26.012529,25.988644,29.913640,29.265876,32.297549,33.279567,34.852355,34.052474,38.119481,39.450087
6,Construcción,248.731835,253.364417,248.473022,277.849133,269.840422,292.982773,278.420072,287.509713,300.537589,284.962715,273.922863,277.687499
7,Comercio y reparación de vehículos,784.647840,797.259222,825.778783,798.765548,771.477290,767.241606,774.493466,776.225801,788.936610,790.543478,765.667347,752.796871
8,Alojamiento y servicios de comida,292.441600,294.267211,276.656562,279.107979,302.835046,291.872448,276.572249,240.663511,282.574508,279.011790,271.138740,254.122961
9,Transporte y almacenamiento,283.593847,278.204008,277.194104,284.019085,289.495901,281.793392,294.760462,299.280681,306.488389,294.683693,314.754321,330.688736
10,Información y comunicaciones,103.119998,128.641814,125.760478,126.605516,97.055470,103.258736,107.484106,114.291400,95.949972,93.761448,103.636114,116.031831
11,Actividades financieras y de seguros,135.486946,131.691747,119.593661,115.818595,115.622391,107.154782,131.831129,132.386228,137.165250,120.927511,108.098979,111.507230
12,Actividades inmobiliarias,102.285768,87.780838,93.823595,79.664633,102.804903,98.515552,110.413420,110.913923,114.972678,112.803419,112.553063,102.542628
13,"Actividades profesionales, científicas, técnic...",410.218727,409.769499,421.363205,446.824028,453.012073,452.240856,465.178094,479.413924,488.841431,493.156670,507.436681,480.093108
14,"Administración pública y defensa, educación y ...",542.503256,554.424929,603.917842,615.048101,662.817846,608.459626,587.293321,561.559884,585.442696,603.280114,579.088336,563.240397
15,"Actividades artísticas, entretenimiento recrea...",408.238406,381.262217,357.522709,369.288995,385.897720,405.220855,379.865333,383.358587,371.071543,365.357747,354.732577,366.725851

In [4]:
#datos 2020
names_col_20= ["Poblaciones", "Ene - Mar","Feb - Abr", "Mar - May","Abr - Jun", "May - Jul",
             "Jun - Ago", "Jul - Sep", "Ago - Oct", "Sep - Nov", "Oct - Dic","Nov 20 - Ene 21", 
             "Dic 20 - Feb 21"]
t05_20 = pd.read_excel("G:/Unidades compartidas/Mercado laboral/Datos/1_Raw/marco_muestral 2005_proyec_CNPV2018.xlsx",     
                       sheet_name = "ocu ramas trim 23 áreas CIIU 4", header = 0,
                       skiprows = range(79), nrows =17,  usecols = "A, BJ:BU", names = names_col_20)
t05_20

,Poblaciones,Ene - Mar,Feb - Abr,Mar - May,Abr - Jun,May - Jul,Jun - Ago,Jul - Sep,Ago - Oct,Sep - Nov,Oct - Dic,Nov 20 - Ene 21,Dic 20 - Feb 21
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Ocupados Bogotá,3831.926883,3440.384163,3142.954173,2976.520103,3094.994428,3196.684802,3367.347846,3561.922811,3702.670645,3755.562844,3677.593967,3615.485989
2,No informa,2.248126,9.364251,10.037747,7.789621,0.673496,0.000000,1.010204,1.010204,1.010204,0.000000,0.000000,0.000000
3,"Agricultura, ganadería, caza, silvicultura y p...",10.942399,8.366995,5.434493,7.861370,14.915565,15.243748,11.906521,11.451035,18.195306,29.393119,30.550284,29.418993
4,Explotación de minas y canteras,10.634236,8.323477,3.658559,5.337904,6.292204,8.209439,7.575663,6.685430,4.498132,11.339549,16.225290,17.242611
5,Industrias manufactureras,527.154158,453.432670,423.911208,398.041139,422.176054,442.275716,496.867958,539.438307,532.533883,519.822654,465.584939,513.925185
6,"Suministro de electricidad gas, agua y gestión...",51.868895,45.131969,53.381715,51.709211,58.029524,44.874670,42.936559,36.255301,38.633888,40.545067,46.339778,44.988525
7,Construcción,279.409221,246.080766,202.854620,192.442685,225.293425,232.448630,214.493331,221.002089,237.226117,244.875721,239.564341,232.329937
8,Comercio y reparación de vehículos,714.203133,661.321327,613.110978,568.507789,583.453502,615.049195,681.777088,720.696137,749.068901,784.176877,771.957312,730.921925
9,Alojamiento y servicios de comida,242.142271,228.214218,194.018398,177.225327,169.958315,173.816817,179.218676,186.190409,189.826467,196.104812,220.159141,227.577121
10,Transporte y almacenamiento,320.141315,262.949871,239.749721,213.869855,233.323995,229.588364,262.265921,282.106135,288.094351,282.821564,268.334412,270.965626
11,Información y comunicaciones,114.964411,120.121194,109.973548,115.615655,107.168041,109.631414,102.657627,105.313994,122.586103,128.310373,124.552150,108.082721
12,Actividades financieras y de seguros,108.330547,103.220733,104.523158,112.297384,114.121504,117.293925,110.873028,102.730861,101.601076,95.892042,102.281423,103.692336
13,Actividades inmobiliarias,99.075470,75.682585,70.469778,60.890943,63.619429,76.556967,90.108884,101.793374,98.033210,101.273580,99.057344,96.619779
14,"Actividades profesionales, científicas, técnic...",454.260962,410.222879,412.134512,411.984525,409.742910,392.867022,400.646974,408.396809,437.892353,446.216373,456.938206,446.070263
15,"Administración pública y defensa, educación y ...",555.343981,533.464585,493.348242,451.650364,457.365585,464.079140,473.451464,496.769615,524.608759,525.121823,526.882206,490.702348
16,"Actividades artísticas, entretenimiento recrea...",341.207760,274.486644,206.347496,201.296329,228.860880,274.749756,291.557949,342.083110,358.861895,349.669289,309.167139,302.948618

In [5]:
#borrar filas innecesarias y reindexar
t05_20.drop(t05_20.index[0], inplace = True)
t05_20.reset_index(drop =True, inplace = True) 

#visualizar datos
t05_20

,Poblaciones,Ene - Mar,Feb - Abr,Mar - May,Abr - Jun,May - Jul,Jun - Ago,Jul - Sep,Ago - Oct,Sep - Nov,Oct - Dic,Nov 20 - Ene 21,Dic 20 - Feb 21
0,Ocupados Bogotá,3831.926883,3440.384163,3142.954173,2976.520103,3094.994428,3196.684802,3367.347846,3561.922811,3702.670645,3755.562844,3677.593967,3615.485989
1,No informa,2.248126,9.364251,10.037747,7.789621,0.673496,0.000000,1.010204,1.010204,1.010204,0.000000,0.000000,0.000000
2,"Agricultura, ganadería, caza, silvicultura y p...",10.942399,8.366995,5.434493,7.861370,14.915565,15.243748,11.906521,11.451035,18.195306,29.393119,30.550284,29.418993
3,Explotación de minas y canteras,10.634236,8.323477,3.658559,5.337904,6.292204,8.209439,7.575663,6.685430,4.498132,11.339549,16.225290,17.242611
4,Industrias manufactureras,527.154158,453.432670,423.911208,398.041139,422.176054,442.275716,496.867958,539.438307,532.533883,519.822654,465.584939,513.925185
5,"Suministro de electricidad gas, agua y gestión...",51.868895,45.131969,53.381715,51.709211,58.029524,44.874670,42.936559,36.255301,38.633888,40.545067,46.339778,44.988525
6,Construcción,279.409221,246.080766,202.854620,192.442685,225.293425,232.448630,214.493331,221.002089,237.226117,244.875721,239.564341,232.329937
7,Comercio y reparación de vehículos,714.203133,661.321327,613.110978,568.507789,583.453502,615.049195,681.777088,720.696137,749.068901,784.176877,771.957312,730.921925
8,Alojamiento y servicios de comida,242.142271,228.214218,194.018398,177.225327,169.958315,173.816817,179.218676,186.190409,189.826467,196.104812,220.159141,227.577121
9,Transporte y almacenamiento,320.141315,262.949871,239.749721,213.869855,233.323995,229.588364,262.265921,282.106135,288.094351,282.821564,268.334412,270.965626
10,Información y comunicaciones,114.964411,120.121194,109.973548,115.615655,107.168041,109.631414,102.657627,105.313994,122.586103,128.310373,124.552150,108.082721
11,Actividades financieras y de seguros,108.330547,103.220733,104.523158,112.297384,114.121504,117.293925,110.873028,102.730861,101.601076,95.892042,102.281423,103.692336
12,Actividades inmobiliarias,99.075470,75.682585,70.469778,60.890943,63.619429,76.556967,90.108884,101.793374,98.033210,101.273580,99.057344,96.619779
13,"Actividades profesionales, científicas, técnic...",454.260962,410.222879,412.134512,411.984525,409.742910,392.867022,400.646974,408.396809,437.892353,446.216373,456.938206,446.070263
14,"Administración pública y defensa, educación y ...",555.343981,533.464585,493.348242,451.650364,457.365585,464.079140,473.451464,496.769615,524.608759,525.121823,526.882206,490.702348
15,"Actividades artísticas, entretenimiento recrea...",341.207760,274.486644,206.347496,201.296329,228.860880,274.749756,291.557949,342.083110,358.861895,349.669289,309.167139,302.948618

In [6]:
#datos 2021
names_col_21= ["Poblaciones", "Ene - Mar","Feb - Abr", "Mar - May","Abr - Jun", "May - Jul",
             "Jun - Ago", "Jul - Sep", "Ago - Oct", "Sep - Nov", "Oct - Dic", "Nov 20 - Ene 21", 
             "Dic 20 - Feb 21"]
t05_21 = pd.read_excel("G:/Unidades compartidas/Mercado laboral/Datos/1_Raw/marco_muestral 2005_proyec_CNPV2018.xlsx",     
                       sheet_name = "ocu ramas trim 23 áreas CIIU 4", header = 0,
                       skiprows = range(79), nrows = 17,  usecols = "A, BV:Cg", names = names_col_21)
t05_21

<ipython-input-6-20217ed1f43a>:5: FutureWarning: Defining usecols with out of bounds indices is deprecated and will raise a ParserError in a future version.
  t05_21 = pd.read_excel("G:/Unidades compartidas/Mercado laboral/Datos/1_Raw/marco_muestral 2005_proyec_CNPV2018.xlsx",
<ipython-input-6-20217ed1f43a>:5: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  t05_21 = pd.read_excel("G:/Unidades compartidas/Mercado laboral/Datos/1_Raw/marco_muestral 2005_proyec_CNPV2018.xlsx",

,Poblaciones,Ene - Mar,Feb - Abr,Mar - May,Abr - Jun,May - Jul,Jun - Ago,Jul - Sep,Ago - Oct,Sep - Nov,Oct - Dic,Nov 20 - Ene 21,Dic 20 - Feb 21
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Ocupados Bogotá,3602.203101,3626.247614,3646.383056,3597.084276,3687.325228,3725.169324,3821.248085,3882.599249,3871.197685,3825.305171,NaN,NaN
2,No informa,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN
3,"Agricultura, ganadería, caza, silvicultura y p...",23.159860,18.443161,14.567043,11.726071,18.095046,20.136596,25.532252,24.362317,22.642380,15.392006,NaN,NaN
4,Explotación de minas y canteras,16.678544,10.627156,12.382185,5.059267,3.882826,1.408473,2.774347,5.353730,3.945257,2.579382,NaN,NaN
5,Industrias manufactureras,517.752443,520.024959,484.411598,438.265101,469.284450,462.530980,509.101549,522.471526,524.830451,494.425942,NaN,NaN
6,"Suministro de electricidad gas, agua y gestión...",50.494095,49.097122,54.271790,46.300647,48.168599,58.750550,58.815925,70.827537,62.610577,57.731634,NaN,NaN
7,Construcción,240.621839,234.930673,225.747337,242.390157,235.775670,231.952272,224.749123,227.149737,237.631219,250.797404,NaN,NaN
8,Comercio y reparación de vehículos,699.205042,743.349178,800.141957,813.501062,771.029232,737.194007,734.273479,756.941122,767.153387,774.366668,NaN,NaN
9,Alojamiento y servicios de comida,231.599841,220.447500,209.510720,194.193772,211.666744,224.178273,245.052605,219.197331,224.135456,229.018406,NaN,NaN
10,Transporte y almacenamiento,269.970923,258.990930,252.671544,256.859612,285.254996,280.123374,278.565812,293.367006,286.822127,278.329946,NaN,NaN
11,Información y comunicaciones,111.450855,108.709783,109.324070,100.454425,113.879889,123.958160,135.212625,123.596839,134.941555,114.733487,NaN,NaN
12,Actividades financieras y de seguros,121.298921,114.718671,123.872914,116.324180,135.696584,117.396168,116.204246,129.012404,127.465708,131.676614,NaN,NaN
13,Actividades inmobiliarias,87.593614,90.572534,102.742812,96.624319,98.965319,95.704031,110.770750,101.109724,94.140938,100.951604,NaN,NaN
14,"Actividades profesionales, científicas, técnic...",428.865755,439.619355,420.031776,413.531471,420.428949,466.814108,484.440731,485.480664,470.272137,488.866717,NaN,NaN
15,"Administración pública y defensa, educación y ...",499.936483,500.902218,535.005296,551.123302,558.655166,578.948537,562.708647,564.163978,549.419669,535.441639,NaN,NaN
16,"Actividades artísticas, entretenimiento recrea...",303.574886,315.814373,301.702014,310.730890,316.541757,326.073794,333.045994,359.565335,365.186824,350.993723,NaN,NaN

In [7]:
#borrar filas innecesarias y reindexar
t05_21.drop(t05_21.index[0], inplace = True)
t05_21.reset_index(drop =True, inplace = True) 
#visualizar datos
t05_21

,Poblaciones,Ene - Mar,Feb - Abr,Mar - May,Abr - Jun,May - Jul,Jun - Ago,Jul - Sep,Ago - Oct,Sep - Nov,Oct - Dic,Nov 20 - Ene 21,Dic 20 - Feb 21
0,Ocupados Bogotá,3602.203101,3626.247614,3646.383056,3597.084276,3687.325228,3725.169324,3821.248085,3882.599249,3871.197685,3825.305171,NaN,NaN
1,No informa,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN
2,"Agricultura, ganadería, caza, silvicultura y p...",23.159860,18.443161,14.567043,11.726071,18.095046,20.136596,25.532252,24.362317,22.642380,15.392006,NaN,NaN
3,Explotación de minas y canteras,16.678544,10.627156,12.382185,5.059267,3.882826,1.408473,2.774347,5.353730,3.945257,2.579382,NaN,NaN
4,Industrias manufactureras,517.752443,520.024959,484.411598,438.265101,469.284450,462.530980,509.101549,522.471526,524.830451,494.425942,NaN,NaN
5,"Suministro de electricidad gas, agua y gestión...",50.494095,49.097122,54.271790,46.300647,48.168599,58.750550,58.815925,70.827537,62.610577,57.731634,NaN,NaN
6,Construcción,240.621839,234.930673,225.747337,242.390157,235.775670,231.952272,224.749123,227.149737,237.631219,250.797404,NaN,NaN
7,Comercio y reparación de vehículos,699.205042,743.349178,800.141957,813.501062,771.029232,737.194007,734.273479,756.941122,767.153387,774.366668,NaN,NaN
8,Alojamiento y servicios de comida,231.599841,220.447500,209.510720,194.193772,211.666744,224.178273,245.052605,219.197331,224.135456,229.018406,NaN,NaN
9,Transporte y almacenamiento,269.970923,258.990930,252.671544,256.859612,285.254996,280.123374,278.565812,293.367006,286.822127,278.329946,NaN,NaN
10,Información y comunicaciones,111.450855,108.709783,109.324070,100.454425,113.879889,123.958160,135.212625,123.596839,134.941555,114.733487,NaN,NaN
11,Actividades financieras y de seguros,121.298921,114.718671,123.872914,116.324180,135.696584,117.396168,116.204246,129.012404,127.465708,131.676614,NaN,NaN
12,Actividades inmobiliarias,87.593614,90.572534,102.742812,96.624319,98.965319,95.704031,110.770750,101.109724,94.140938,100.951604,NaN,NaN
13,"Actividades profesionales, científicas, técnic...",428.865755,439.619355,420.031776,413.531471,420.428949,466.814108,484.440731,485.480664,470.272137,488.866717,NaN,NaN
14,"Administración pública y defensa, educación y ...",499.936483,500.902218,535.005296,551.123302,558.655166,578.948537,562.708647,564.163978,549.419669,535.441639,NaN,NaN
15,"Actividades artísticas, entretenimiento recrea...",303.574886,315.814373,301.702014,310.730890,316.541757,326.073794,333.045994,359.565335,365.186824,350.993723,NaN,NaN

#### Transponer

In [8]:
#establecer indice
t05_19 = t05_19.set_index("Poblaciones")
t05_20 = t05_20.set_index("Poblaciones")
t05_21 = t05_21.set_index("Poblaciones")

In [9]:
#trasponer
t05_19t= t05_19.transpose().reset_index()
t05_20t= t05_20.transpose().reset_index()
t05_21t= t05_21.transpose().reset_index()

In [10]:
#renombrar
t05_19t.rename(columns = {'index':'Trimestre','Ocupados Bogotá': 'Ocupados'
                          },
               inplace = True)
t05_20t.rename(columns = {'index':'Trimestre','Ocupados Bogotá': 'Ocupados'
                         },
               inplace = True)
t05_21t.rename(columns = {'index':'Trimestre','Ocupados Bogotá': 'Ocupados' 
                         },
               inplace = True)
#crear nueva variable periodo
t05_19t.insert(0, "Periodo",  2019)
t05_20t.insert(0, "Periodo",  2020)
t05_21t.insert(0, "Periodo",  2021)

In [11]:
#visuarizar
t05_19t

Poblaciones,Periodo,Trimestre,Ocupados,No informa,"Agricultura, ganadería, caza, silvicultura y pesca",Explotación de minas y canteras,Industrias manufactureras,"Suministro de electricidad gas, agua y gestión de desechos",Construcción,Comercio y reparación de vehículos,Alojamiento y servicios de comida,Transporte y almacenamiento,Información y comunicaciones,Actividades financieras y de seguros,Actividades inmobiliarias,"Actividades profesionales, científicas, técnicas y servicios administrativos","Administración pública y defensa, educación y atención de la salud humana","Actividades artísticas, entretenimiento recreación y otras actividades de servicios"
0,2019,Ene - Mar,3855.141739,0.000000,21.413267,10.298286,489.299154,22.862809,248.731835,784.647840,292.441600,283.593847,103.119998,135.486946,102.285768,410.218727,542.503256,408.238406
1,2019,Feb - Abr,3898.333157,0.000000,17.503940,12.454678,531.127989,20.580648,253.364417,797.259222,294.267211,278.204008,128.641814,131.691747,87.780838,409.769499,554.424929,381.262217
2,2019,Mar - May,3952.238742,0.000000,16.698934,19.627468,539.815850,26.012529,248.473022,825.778783,276.656562,277.194104,125.760478,119.593661,93.823595,421.363205,603.917842,357.522709
3,2019,Abr - Jun,3992.800026,0.000000,15.031029,21.830533,536.958207,25.988644,277.849133,798.765548,279.107979,284.019085,126.605516,115.818595,79.664633,446.824028,615.048101,369.288995
4,2019,May - Jul,4047.230933,0.693180,11.505815,19.139999,535.119237,29.913640,269.840422,771.477290,302.835046,289.495901,97.055470,115.622391,102.804903,453.012073,662.817846,385.897720
5,2019,Jun - Ago,3999.323017,0.693180,11.496669,10.148584,538.978083,29.265876,292.982773,767.241606,291.872448,281.793392,103.258736,107.154782,98.515552,452.240856,608.459626,405.220855
6,2019,Jul - Sep,3994.218402,0.693180,10.515425,9.300497,535.100100,32.297549,278.420072,774.493466,276.572249,294.760462,107.484106,131.831129,110.413420,465.178094,587.293321,379.865333
7,2019,Ago - Oct,3989.294562,0.000000,17.637480,8.282242,544.491623,33.279567,287.509713,776.225801,240.663511,299.280681,114.291400,132.386228,110.913923,479.413924,561.559884,383.358587
8,2019,Sep - Nov,4069.585355,0.000000,16.583467,10.928384,535.240483,34.852355,300.537589,788.936610,282.574508,306.488389,95.949972,137.165250,114.972678,488.841431,585.442696,371.071543
9,2019,Oct - Dic,4064.303324,2.473938,17.669026,11.370341,560.248960,34.052474,284.962715,790.543478,279.011790,294.683693,93.761448,120.927511,112.803419,493.156670,603.280114,365.357747
10,2019,Nov 19 - Ene 20,4019.442390,2.473938,13.435084,12.719830,561.665037,38.119481,273.922863,765.667347,271.138740,314.754321,103.636114,108.098979,112.553063,507.436681,579.088336,354.732577
11,2019,Dic 19 - Feb 20,3989.997773,2.473938,12.996389,14.194377,565.445871,39.450087,277.687499,752.796871,254.122961,330.688736,116.031831,111.507230,102.542628,480.093108,563.240397,366.725851

In [12]:
t05_20t.columns

Index(['Periodo', 'Trimestre', 'Ocupados', 'No informa',
       'Agricultura, ganadería, caza, silvicultura y pesca',
       'Explotación de minas y canteras', 'Industrias manufactureras',
       'Suministro de electricidad gas, agua y gestión de desechos',
       'Construcción', 'Comercio y reparación de vehículos',
       'Alojamiento y servicios de comida', 'Transporte y almacenamiento',
       'Información y comunicaciones', 'Actividades financieras y de seguros',
       'Actividades inmobiliarias',
       'Actividades profesionales, científicas, técnicas y servicios administrativos',
       'Administración pública y defensa, educación y atención de la salud humana',
       'Actividades artísticas, entretenimiento recreación y otras actividades de servicios'],
      dtype='object', name='Poblaciones')

### Marco muestral 2018

In [13]:
#datos 2021
raw5 = "G:/Unidades compartidas/Mercado laboral/Datos/1_Raw/anexo_empleo_jul_22.xlsx"
names_col_21= ["Poblaciones", "Ene - Mar","Feb - Abr", "Mar - May","Abr - Jun", "May - Jul",
             "Jun - Ago", "Jul - Sep", "Ago - Oct", "Sep - Nov", "Oct - Dic","Nov 21 - Ene 22", 
             "Dic 21 - Feb 22"]
t18_21 = pd.read_excel(raw5,     
                       sheet_name = "Ocupados 23 Ciudades_rama_Trim", header = 0,
                       skiprows = range(78), nrows = 17, usecols = "A:M", names =names_col_21)
                        
t18_21.drop([0], inplace = True)

In [14]:
#datos 2022
names_col_22= ["Poblaciones", "Ene - Mar","Feb - Abr", "Mar - May","Abr - Jun", "May - Jul"]
t18_22 = pd.read_excel(raw5,     
                       sheet_name = "Ocupados 23 Ciudades_rama_Trim", header = 0,
                       skiprows = range(78), nrows = 17,  usecols = "A, N:R", names = names_col_22)
t18_22.drop([0], inplace = True)

#### Transponer

In [15]:
#establecer indice
t18_21 = t18_21.set_index("Poblaciones")
t18_22 = t18_22.set_index("Poblaciones")

In [16]:
#trasponer
t18_21t= t18_21.transpose().reset_index()
t18_22t= t18_22.transpose().reset_index()
#renombrar
t18_21t.rename(columns = {'index':'Trimestre', 'Ocupados ': 'Ocupados'}, inplace = True)
t18_22t.rename(columns = {'index':'Trimestre', 'Ocupados ': 'Ocupados'}, inplace = True)
#crear nueva variable periodo
t18_21t.insert(0, "Periodo",  2021)
t18_22t.insert(0, "Periodo",  2022)

In [17]:
#visuarizar columnas
t18_21t.columns

Index(['Periodo', 'Trimestre', 'Ocupados', 'No informa',
       'Agricultura, ganadería, caza, silvicultura y pesca',
       'Explotación de minas y canteras', 'Industrias manufactureras',
       'Suministro de electricidad gas, agua y gestión de desechos',
       'Construcción', 'Comercio y reparación de vehículos',
       'Alojamiento y servicios de comida', 'Transporte y almacenamiento',
       'Información y comunicaciones', 'Actividades financieras y de seguros',
       'Actividades inmobiliarias',
       'Actividades profesionales, científicas, técnicas y servicios administrativos',
       'Administración pública y defensa, educación y atención de la salud humana',
       'Actividades artísticas, entretenimiento recreación y otras actividades de servicios'],
      dtype='object', name='Poblaciones')

In [18]:
#visuarizar
#t18_21t

#### Imputar 2019 y 2020

##### Variables poblacionales

In [19]:
###cargue de totales 
#cargue totales 2019-2022 
names_grl = ["Periodo", "Trimestre",  "Ocupados_T"]
t18_Tot = pd.read_excel("G:/Unidades compartidas/Mercado laboral/Datos/4_Output/ml_pob_impu_19_22.xlsx",     
                       sheet_name = "bogotá trim movil", header = 0,
                         nrows = 41, usecols = "A,B,L", names = names_grl)
##datos 2021
msk_T = t18_Tot["Periodo"]==2019
t18_19_Tot = t18_Tot[msk_T==True]
t18_19_Tot.reset_index(drop =True, inplace=True)
##datos 2022
msk_T_2 = t18_Tot["Periodo"]==2020
t18_20_Tot = t18_Tot[msk_T_2 ==True]
t18_20_Tot.reset_index(drop =True, inplace=True)

In [20]:
#variables
l1 = ['Ocupados', 'No informa', 'Agricultura, ganadería, caza, silvicultura y pesca',
       'Explotación de minas y canteras', 'Industrias manufactureras',
       'Suministro de electricidad gas, agua y gestión de desechos',
       'Construcción', 'Comercio y reparación de vehículos',
       'Alojamiento y servicios de comida', 'Transporte y almacenamiento',
       'Información y comunicaciones', 'Actividades financieras y de seguros',
       'Actividades inmobiliarias',
       'Actividades profesionales, científicas, técnicas y servicios administrativos',
       'Administración pública y defensa, educación y atención de la salud humana',
       'Actividades artísticas, entretenimiento recreación y otras actividades de servicios']

In [21]:
##reemplazar cero para división
t05_19t['No informa'] = t05_19t['No informa'].replace({0 : np.nan})

In [22]:
### 2019_impu  = (2021 marco 2018 / 2021 marco 2005) * 2019 marco 2005
#impuar valores 2019. nan quedan nan
t05_19t_imp = t05_19t.copy()
t05_20t_imp = t05_20t.copy()
for i in (l1):           
    t05_19t_imp[i] = (t05_19t[i] /t05_19t["Ocupados"]) * (t18_19_Tot["Ocupados_T"]/1000).astype(np.double)
    t05_20t_imp[i] = ((t05_19t_imp[i] * (1 + ((t05_20t[i] - t05_19t[i]) / t05_19t[i])))).astype(np.double)

#### Concatenar

In [24]:
lframe = [t05_19t_imp, t05_20t_imp, t18_21t, t18_22t]

In [80]:
#print(type(t18_22t))

<class 'pandas.core.frame.DataFrame'>

In [25]:
ml_pob_impu_19_22_sec = pd.concat(lframe, axis = 0, join = 'outer', sort = False)

In [26]:
ml_pob_impu_19_22_sec

Poblaciones,Periodo,Trimestre,Ocupados,No informa,"Agricultura, ganadería, caza, silvicultura y pesca",Explotación de minas y canteras,Industrias manufactureras,"Suministro de electricidad gas, agua y gestión de desechos",Construcción,Comercio y reparación de vehículos,Alojamiento y servicios de comida,Transporte y almacenamiento,Información y comunicaciones,Actividades financieras y de seguros,Actividades inmobiliarias,"Actividades profesionales, científicas, técnicas y servicios administrativos","Administración pública y defensa, educación y atención de la salud humana","Actividades artísticas, entretenimiento recreación y otras actividades de servicios"
0,2019,Ene - Mar,3745.928049,NaN,20.806643,10.006542,475.437623,22.215121,241.685421,762.419270,284.156918,275.559815,100.198674,131.648688,99.388078,398.597494,527.134487,396.673274
1,2019,Feb - Abr,3838.280479,NaN,17.234297,12.262817,522.946118,20.263609,249.461413,784.977678,289.734111,273.918357,126.660124,129.663074,86.428600,403.457120,545.884176,375.388984
2,2019,Mar - May,3871.815929,NaN,16.359133,19.228075,528.831314,25.483209,243.416926,808.975280,271.026968,271.553572,123.201419,117.160089,91.914409,412.789023,591.628915,350.247596
3,2019,Abr - Jun,3941.762933,NaN,14.838898,21.551489,530.094656,25.656450,274.297588,788.555502,275.540342,280.388673,124.987209,114.338169,78.646337,441.112598,607.186383,364.568640
4,2019,May - Jul,3899.785221,0.667927,11.086644,18.442705,515.624170,28.823848,260.009796,743.371403,291.802385,278.949201,93.519617,111.410122,99.059591,436.508274,638.670558,371.838981
5,2019,Jun - Ago,3881.269094,0.672718,11.157305,9.849013,523.068271,28.401992,284.334368,744.593803,283.256818,273.475280,100.210695,103.991736,95.607523,438.891395,590.498825,393.259352
6,2019,Jul - Sep,3856.014715,0.669195,10.151581,8.978691,516.585137,31.180023,268.786478,747.695269,267.002591,284.561474,103.765056,127.269649,106.593012,449.082498,566.972423,366.721638
7,2019,Ago - Oct,3796.932854,NaN,16.787010,7.882876,518.236520,31.674844,273.646144,738.796596,229.058842,284.849522,108.780328,126.002633,105.565711,456.296834,534.481759,364.873235
8,2019,Sep - Nov,3873.460471,NaN,15.784262,10.401714,509.445723,33.172721,286.053828,750.915513,268.956439,291.717842,91.325870,130.554867,109.431818,465.282773,557.228548,353.188551
9,2019,Oct - Dic,3871.004005,2.356277,16.828683,10.829565,533.603374,32.432930,271.409815,752.945025,265.741917,280.668460,89.302129,115.176167,107.438459,469.702011,574.587956,347.981238
10,2019,Nov 19 - Ene 20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2019,Dic 19 - Feb 20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,2020,Ene - Mar,3723.370855,NaN,10.632408,10.332975,512.220219,50.399483,271.493737,693.970217,235.282536,311.071917,111.707543,105.261612,96.268726,441.392041,539.611442,331.541563
1,2020,Feb - Abr,3387.386055,NaN,8.238104,8.195256,446.447673,44.436725,242.289964,651.133866,224.698645,258.899205,118.270762,101.630648,74.516717,403.903516,525.246719,270.258257
2,2020,Mar - May,3078.999227,NaN,5.323908,3.584113,415.285177,52.295468,198.726797,600.634983,190.070381,234.871132,107.735732,102.396250,69.035811,403.748122,483.309260,202.148598
3,2020,Abr - Jun,2938.473385,NaN,7.760884,5.269673,392.953265,51.048250,189.982829,561.240963,174.959983,211.136111,114.137823,110.861967,60.112618,406.718423,445.877242,198.723303
4,2020,May - Jul,2982.239890,0.648960,14.372173,6.062971,406.795649,55.915435,217.085702,562.197557,163.766520,224.823708,103.263774,109.963914,61.301694,394.815461,440.703181,220.523190
5,2020,Jun - Ago,3102.323536,0.000000,14.793776,7.967109,429.220411,43.550038,225.587101,596.893879,168.686009,222.811265,106.395262,113.831587,74.297122,381.270186,450.380230,266.639561
6,2020,Jul - Sep,3250.834466,0.975250,11.494544,7.313538,479.675863,41.450914,207.071661,658.186964,173.017542,253.191275,99.105577,107.036718,86.991032,386.784214,457.069602,281.469771
7,2020,Ago - Oct,3390.168746,NaN,10.898872,6.363062,513.426873,34.507090,210.345484,685.944544,177.212405,268.503124,100.235808,97.777233,96.884950,388.704127,472.815642,325.588040
8,2020,Sep - Nov,3524.228424,NaN,17.318422,4.281355,506.869562,36.772011,225.793516,712.969142,180.678190,274.210266,116.678330,96.704631,93.308711,416.789076,499.326372,341.567320
9,2020,Oct - Dic,3576.947302,0.000000,27.995174,10.800237,495.099754,38.616733,233.229369,746.881222,186.778016,269.370497,122.207898,91.331392,96.456983,424.994207,500.146893,333.038927
10,2020,Nov 20 - Ene 21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2020,Dic 20 - Feb 21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,2021,Ene - Mar,3500.155000,7.609333,16.688333,14.856333,402.964000,42.534333,200.180667,630.882000,167.660000,222.194000,164.847667,157.474667,43.022333,533.577667,637.148667,258.516667
1,2021,Feb - Abr,3570.386333,7.609333,15.151000,9.624333,380.340667,45.065333,206.613667,665.817667,195.726667,215.767333,158.304667,150.107000,46.761667,558.698667,666.444667,248.354667
2,2021,Mar - May,3572.184000,6.617667,14.756667,12.792000,366.071000,58.309667,218.403333,682.294667,194.870667,214.457000,150.302667,153.277333,53.856000,524.417333,664.725667,257.033000
3,2021,Abr - Jun,3551.105332,1.223966,11.529215,16.355017,390.571840,50.347162,189.880005,704.244298,210.050013,229.896027,146.287869,156.403783,51.666361,516.155273,641.852144,234.642361
4,2021,May - Jul,3552.991278,1.223966,6.722174,17.544265,414.247955,50.690105,170.423437,745.599433,217.395630,251.102964,149.290499,147.539515,54.931614,510.116761,578.865973,237.296987
5,2021,Jun - Ago,3615.207796,3.929495,9.683301,17.081288,441.202784,45.447384,188.791417,740.277386,220.358944,266.373810,146.633811,143.493060,54.852381,535.100850,555.995465,245.986421
6,2021,Jul - Sep,3689.029150,3.929495,19.230131,12.138084,432.561111,46.726990,195.816007,729.870535,204.711355,260.761051,145.391583,163.458932,54.388663,553.698431,586.678849,279.667934
7,2021,Ago - Oct,3695.382179,3.929495,19.700289,12.993405,424.425714,46.530973,200.496789,695.530089,191.809219,266.635226,154.232605,163.957748,44.062449,555.352153,617.218031,298.507995
8,2021,Sep - Nov,3684.633632,4.401159,23.072735,13.765777,404.946553,38.034793,201.067215,699.976476,185.659668,255.918871,161.889092,167.465051,40.727762,561.502417,630.396396,295.809664
9,2021,Oct - Dic,3643.372866,5.574189,15.846819,16.554450,414.581737,43.080757,187.113402,697.160689,197.503579,268.668633,162.852809,149.669499,36.968508,549.683528,607.891641,290.222625
10,2021,Nov 21 - Ene 22,3642.759607,6.872725,17.674648,14.624292,417.805190,60.074874,189.386573,688.558948,188.316534,250.427645,160.382426,160.163254,41.918990,551.203305,607.437411,287.912792
11,2021,Dic 21 - Feb 22,3659.342667,4.365899,17.577269,13.293498,412.099136,69.018645,179.363362,699.738841,197.766600,255.107633,168.608951,170.702808,49.438934,540.969238,601.899644,279.391770
0,2022,Ene - Mar,3701.409667,3.193000,16.905333,13.982667,431.048000,67.736333,182.934333,678.764333,195.191333,260.997000,160.164333,165.839667,53.632333,529.324667,654.425000,287.271000
1,2022,Feb - Abr,3783.731667,3.369333,17.982667,15.725667,440.218333,59.261000,185.414000,711.227333,194.334667,290.612333,163.988000,161.888000,66.487000,538.241667,642.962667,292.018667
2,2022,Mar - May,3819.123333,5.984667,14.410000,15.524667,431.458333,56.599667,207.304667,674.320000,205.441333,313.896667,147.788667,152.080333,71.306667,530.446000,683.301667,309.259667
3,2022,Abr - Jun,3818.291000,6.766000,16.612333,11.044000,397.987000,59.624000,205.640333,665.199333,193.696000,320.695000,169.695667,157.067000,80.652333,533.455667,678.818333,321.337667
4,2022,May - Jul,3783.140000,5.291000,19.525333,9.711667,412.997000,61.584000,192.636000,644.892333,193.168667,325.801667,150.477333,157.638000,75.760000,518.878000,702.140667,312.637667

In [27]:
#poblaciones a millones enteros
for i in (l1):
    ml_pob_impu_19_22_sec[i] = ml_pob_impu_19_22_sec[i]*1000

In [28]:
### marca valores imputados
def m_imp(df):
    if ((df["Periodo"] == 2019 or df["Periodo"] == 2020) 
        and (pd.notnull(df["Ocupados"]))): 
        x = 1
    elif ((df["Periodo"] == 2019 or df["Periodo"] == 2020) 
        and (pd.isnull(df["Ocupados"]))):
        x = np.nan
    else:
        x = 0
    return(x)

In [29]:
ml_pob_impu_19_22_sec["valor Imputado"] = ml_pob_impu_19_22_sec.apply(m_imp, axis=1)

In [30]:
ml_pob_impu_19_22_sec

Poblaciones,Periodo,Trimestre,Ocupados,No informa,"Agricultura, ganadería, caza, silvicultura y pesca",Explotación de minas y canteras,Industrias manufactureras,"Suministro de electricidad gas, agua y gestión de desechos",Construcción,Comercio y reparación de vehículos,Alojamiento y servicios de comida,Transporte y almacenamiento,Información y comunicaciones,Actividades financieras y de seguros,Actividades inmobiliarias,"Actividades profesionales, científicas, técnicas y servicios administrativos","Administración pública y defensa, educación y atención de la salud humana","Actividades artísticas, entretenimiento recreación y otras actividades de servicios",valor Imputado
0,2019,Ene - Mar,3.745928e+06,NaN,20806.642895,10006.542170,475437.623453,22215.120624,241685.421493,762419.270164,284156.917563,275559.815400,100198.674343,131648.687811,99388.078191,398597.493851,527134.486756,396673.274398,1.0
1,2019,Feb - Abr,3.838280e+06,NaN,17234.297269,12262.817012,522946.117866,20263.609485,249461.412508,784977.677976,289734.111298,273918.357226,126660.124278,129663.074284,86428.599622,403457.119790,545884.175998,375388.984432,1.0
2,2019,Mar - May,3.871816e+06,NaN,16359.133183,19228.075076,528831.313902,25483.208885,243416.925778,808975.280421,271026.968145,271553.572205,123201.419183,117160.088725,91914.409039,412789.023342,591628.915441,350247.596380,1.0
3,2019,Abr - Jun,3.941763e+06,NaN,14838.897830,21551.489316,530094.655835,25656.449513,274297.587558,788555.502420,275540.341976,280388.673167,124987.208683,114338.169142,78646.336924,441112.597592,607186.383174,364568.639522,1.0
4,2019,May - Jul,3.899785e+06,667.926581,11086.643693,18442.704771,515624.170359,28823.848483,260009.796140,743371.402623,291802.384823,278949.201326,93519.617194,111410.121917,99059.590800,436508.273582,638670.558471,371838.980849,1.0
5,2019,Jun - Ago,3.881269e+06,672.718382,11157.305168,9849.013260,523068.271047,28401.991923,284334.368182,744593.802575,283256.817961,273475.280017,100210.695090,103991.736070,95607.522979,438891.394856,590498.825066,393259.352333,1.0
6,2019,Jul - Sep,3.856015e+06,669.195325,10151.581476,8978.691119,516585.137190,31180.023324,268786.477844,747695.268539,267002.590924,284561.474448,103765.055565,127269.648834,106593.012243,449082.497890,566972.423362,366721.638085,1.0
7,2019,Ago - Oct,3.796933e+06,NaN,16787.010207,7882.876282,518236.520194,31674.843909,273646.143890,738796.596366,229058.842015,284849.521936,108780.328149,126002.632956,105565.711015,456296.833668,534481.758845,364873.235048,1.0
8,2019,Sep - Nov,3.873460e+06,NaN,15784.262278,10401.714434,509445.723295,33172.720645,286053.828462,750915.512934,268956.439069,291717.842498,91325.870478,130554.867098,109431.818214,465282.773476,557228.548342,353188.550762,1.0
9,2019,Oct - Dic,3.871004e+06,2356.276868,16828.682547,10829.564955,533603.374363,32432.929835,271409.814789,752945.025443,265741.917324,280668.460241,89302.128932,115176.166940,107438.459495,469702.011369,574587.955852,347981.237611,1.0
10,2019,Nov 19 - Ene 20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2019,Dic 19 - Feb 20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,2020,Ene - Mar,3.723371e+06,NaN,10632.407538,10332.974598,512220.218848,50399.482508,271493.736844,693970.217131,235282.536258,311071.916774,111707.542727,105261.612159,96268.725548,441392.040612,539611.442262,331541.563237,1.0
1,2020,Feb - Abr,3.387386e+06,NaN,8238.103569,8195.255951,446447.673111,44436.724590,242289.963686,651133.866028,224698.644615,258899.205402,118270.761929,101630.648227,74516.716660,403903.516261,525246.719290,270258.257472,1.0
2,2020,Mar - May,3.078999e+06,NaN,5323.908280,3584.112507,415285.177210,52295.467948,198726.797387,600634.983325,190070.381104,234871.132376,107735.731930,102396.250459,69035.811219,403748.121996,483309.260052,202148.598323,1.0
3,2020,Abr - Jun,2.938473e+06,NaN,7760.884087,5269.673410,392953.264872,51048.249649,189982.828800,561240.962861,174959.983350,211136.110686,114137.822849,110861.966922,60112.618168,406718.422919,445877.241679,198723.302703,1.0
4,2020,May - Jul,2.982240e+06,648.959694,14372.172534,6062.970776,406795.649205,55915.435156,217085.702253,562197.557312,163766.519886,224823.708169,103263.774197,109963.914439,61301.693530,394815.460916,440703.181345,220523.190060,1.0
5,2020,Jun - Ago,3.102324e+06,0.000000,14793.776104,7967.108867,429220.410608,43550.038102,225587.100545,596893.879380,168686.009347,222811.265240,106395.261990,113831.587015,74297.121634,381270.185664,450380.230423,266639.561422,1.0
6,2020,Jul - Sep,3.250834e+06,975.250320,11494.544255,7313.537986,479675.863004,41450.913965,207071.661455,658186.964118,173017.542136,253191.275232,99105.577245,107036.718021,86991.032149,386784.214257,457069.601563,281469.771389,1.0
7,2020,Ago - Oct,3.390169e+06,NaN,10898.872367,6363.061726,513426.872780,34507.089564,210345.483555,685944.544194,177212.404655,268503.123610,100235.808313,97777.232642,96884.950461,388704.127326,472815.642277,325588.040394,1.0
8,2020,Sep - Nov,3.524228e+06,NaN,17318.422493,4281.354553,506869.561724,36772.011458,225793.515911,712969.141817,180678.190388,274210.265782,116678.330308,96704.631081,93308.710684,416789.075707,499326.371973,341567.320399,1.0
9,2020,Oct - Dic,3.576947e+06,0.000000,27995.174330,10800.236795,495099.754264,38616.733113,233229.368606,746881.221953,186778.016034,269370.497486,122207.898111,91331.391965,96456.982624,424994.207052,500146.892779,333038.926737,1.0
10,2020,Nov 20 - Ene 21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2020,Dic 20 - Feb 21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,2021,Ene - Mar,3.500155e+06,7609.333333,16688.333333,14856.333333,402964.000000,42534.333333,200180.666667,630882.000000,167660.000000,222194.000000,164847.666667,157474.666667,43022.333333,533577.666667,637148.666667,258516.666667,0.0
1,2021,Feb - Abr,3.570386e+06,7609.333333,15151.000000,9624.333333,380340.666667,45065.333333,206613.666667,665817.666667,195726.666667,215767.333333,158304.666667,150107.000000,46761.666667,558698.666667,666444.666667,248354.666667,0.0
2,2021,Mar - May,3.572184e+06,6617.666667,14756.666667,12792.000000,366071.000000,58309.666667,218403.333333,682294.666667,194870.666667,214457.000000,150302.666667,153277.333333,53856.000000,524417.333333,664725.666667,257033.000000,0.0
3,2021,Abr - Jun,3.551105e+06,1223.966000,11529.215333,16355.017000,390571.840000,50347.161667,189880.005000,704244.297667,210050.013333,229896.026667,146287.868667,156403.782667,51666.361000,516155.273333,641852.143667,234642.361333,0.0
4,2021,May - Jul,3.552991e+06,1223.966000,6722.174333,17544.265333,414247.954667,50690.104667,170423.436667,745599.433333,217395.630333,251102.964333,149290.499333,147539.515333,54931.614000,510116.760667,578865.972667,237296.986667,0.0
5,2021,Jun - Ago,3.615208e+06,3929.494667,9683.301000,17081.288333,441202.783667,45447.384333,188791.416667,740277.386000,220358.943667,266373.810333,146633.810667,143493.060000,54852.380667,535100.849667,555995.465000,245986.421333,0.0
6,2021,Jul - Sep,3.689029e+06,3929.494667,19230.131333,12138.084000,432561.111333,46726.990000,195816.006667,729870.534667,204711.355333,260761.051333,145391.583333,163458.932000,54388.662667,553698.431000,586678.848667,279667.933667,0.0
7,2021,Ago - Oct,3.695382e+06,3929.494667,19700.289000,12993.405000,424425.714333,46530.973000,200496.789000,695530.089000,191809.219333,266635.226000,154232.605000,163957.748333,44062.448667,555352.152667,617218.030667,298507.995333,0.0
8,2021,Sep - Nov,3.684634e+06,4401.159333,23072.735333,13765.777333,404946.553333,38034.792667,201067.215333,699976.475667,185659.668333,255918.871333,161889.092333,167465.051000,40727.762333,561502.416667,630396.396333,295809.664333,0.0
9,2021,Oct - Dic,3.643373e+06,5574.189333,15846.819333,16554.450000,414581.736667,43080.757333,187113.402333,697160.689000,197503.579333,268668.632667,162852.809000,149669.499333,36968.507667,549683.527667,607891.641333,290222.624667,0.0
10,2021,Nov 21 - Ene 22,3.642760e+06,6872.724667,17674.647667,14624.292333,417805.189667,60074.874333,189386.573000,688558.948333,188316.534333,250427.644667,160382.426000,160163.254333,41918.989667,551203.305000,607437.411000,287912.791667,0.0
11,2021,Dic 21 - Feb 22,3.659343e+06,4365.898667,17577.269000,13293.498000,412099.136333,69018.645000,179363.361667,699738.841000,197766.600000,255107.633000,168608.951333,170702.807667,49438.934000,540969.237667,601899.643667,279391.770333,0.0
0,2022,Ene - Mar,3.701410e+06,3193.000000,16905.333333,13982.666667,431048.000000,67736.333333,182934.333333,678764.333333,195191.333333,260997.000000,160164.333333,165839.666667,53632.333333,529324.666667,654425.000000,287271.000000,0.0
1,2022,Feb - Abr,3.783732e+06,3369.333333,17982.666667,15725.666667,440218.333333,59261.000000,185414.000000,711227.333333,194334.666667,290612.333333,163988.000000,161888.000000,66487.000000,538241.666667,642962.666667,292018.666667,0.0
2,2022,Mar - May,3.819123e+06,5984.666667,14410.000000,15524.666667,431458.333333,56599.666667,207304.666667,674320.000000,205441.333333,313896.666667,147788.666667,152080.333333,71306.666667,530446.000000,683301.666667,309259.666667,0.0
3,2022,Abr - Jun,3.818291e+06,6766.000000,16612.333333,11044.000000,397987.000000,59624.000000,205640.333333,665199.333333,193696.000000,320695.000000,169695.666667,157067.000000,80652.333333,533455.666667,678818.333333,321337.666667,0.0
4,2022,May - Jul,3.783140e+06,5291.000000,19525.333333,9711.666667,412997.000000,61584.000000,192636.000000,644892.333333,193168.666667,325801.666667,150477.333333,157638.000000,75760.000000,518878.000000,702140.666667,312637.666667,0.0

In [85]:
#ml_pob_impu_19_22_sec.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40 entries, 0 to 3
Data columns (total 19 columns):
 #   Column                                                                               Non-Null Count  Dtype
---  ------                                                                               --------------  -----
 0   Periodo                                                                              40 non-null     int64
 1   Trimestre                                                                            40 non-null     object
 2   Ocupados                                                                             36 non-null     float64
 3   No informa                                                                           40 non-null     float64
 4   Agricultura, ganadería, caza, silvicultura y pesca                                   36 non-null     float64
 5   Explotación de minas y canteras                                                      36 non-null     float64
 6   Industrias manufactureras                                                            36 non-null     float64
 7   Suministro de electricidad gas, agua y gestión de desechos                           36 non-null     float64
 8   Construcción                                                                         36 non-null     float64
 9   Comercio y reparación de vehículos                                                   36 non-null     float64
 10  Alojamiento y servicios de comida                                                    36 non-null     float64
 11  Transporte y almacenamiento                                                          36 non-null     float64
 12  Información y comunicaciones                                                         36 non-null     float64
 13  Actividades financieras y de seguros                                                 36 non-null     float64
 14  Actividades inmobiliarias                                                            36 non-null     float64
 15  Actividades profesionales, científicas, técnicas y servicios administrativos         36 non-null     float64
 16  Administración pública y defensa, educación y atención de la salud humana            36 non-null     float64
 17  Actividades artísticas, entretenimiento recreación y otras actividades de servicios  36 non-null     float64
 18  valor Imputado                                                                       36 non-null     float64
dtypes: float64(17), int64(1), object(1)
memory usage: 6.2+ KB

In [86]:
##guardar en un solo archivo excel con distintas pestañas
ml_pob_impu_19_22 = pd.read_excel("G:/Unidades compartidas/Mercado laboral/Datos/4_Output/ml_pob_impu_19_22.xlsx",     
                       sheet_name = "bogotá trim movil", header = 0)
writer = pd.ExcelWriter("G:/Unidades compartidas/Mercado laboral/Datos/4_Output/ml_pob_impu_19_22.xlsx")
ml_pob_impu_19_22.to_excel(writer, sheet_name = "bogotá trim movil", header = True, index=False)
ml_pob_impu_19_22_sec.to_excel(writer, sheet_name = "sectores", header = True, index=False)
writer.save()
writer.close()