In [1]:
import pandas as pd
import numpy as np

### Marco muestral 2005

In [2]:
#datos 2019, 2020, 2021

t05_19_21 = pd.read_excel("G:/Unidades compartidas/Mercado laboral/Datos/1_Raw/Datos_marco_2005_proyecciones_2018.xlsx",     
                       sheet_name = "genero", header = 0,
                       nrows = 68,  usecols = "A, B, D:I, K, L")

In [3]:
t05_19_21 .head()

,periodo,trimestre,genero,PET,FT,desocupados,ocupados,informal_dane,TO,TD
0,2019,1 ene-mar,Hombre,2.850020e+06,2.299575e+06,272860.563182,2.026715e+06,726244.711405,0.711123,0.118657
1,2019,1 ene-mar,Mujer,3.203846e+06,2.130636e+06,302208.445953,1.828427e+06,764160.865856,0.570698,0.141840
2,2019,2 feb-abr,Hombre,2.857064e+06,2.285004e+06,235501.885501,2.049502e+06,786853.575752,0.717346,0.103064
3,2019,2 feb-abr,Mujer,3.211010e+06,2.127985e+06,279154.088160,1.848831e+06,798863.155207,0.575779,0.131182
4,2019,3 mar-may,Hombre,2.863992e+06,2.286374e+06,209104.334313,2.077270e+06,818807.426091,0.725306,0.091457

#### Slice and Marge

In [4]:
#hombres
mask_1 = t05_19_21["genero"] == "Hombre"
t05_19_21_h = t05_19_21[mask_1==True]
t05_19_21_h = t05_19_21_h.drop(columns = "genero", axis=1)
t05_19_21_h.reset_index(drop =True, inplace = True) 
t05_19_21_h.head()

,periodo,trimestre,PET,FT,desocupados,ocupados,informal_dane,TO,TD
0,2019,1 ene-mar,2.850020e+06,2.299575e+06,272860.563182,2.026715e+06,726244.711405,0.711123,0.118657
1,2019,2 feb-abr,2.857064e+06,2.285004e+06,235501.885501,2.049502e+06,786853.575752,0.717346,0.103064
2,2019,3 mar-may,2.863992e+06,2.286374e+06,209104.334313,2.077270e+06,818807.426091,0.725306,0.091457
3,2019,4 abr-jun,2.871059e+06,2.283883e+06,199809.763727,2.084073e+06,819149.776211,0.725890,0.087487
4,2019,5 may-jul,2.877897e+06,2.311651e+06,201780.460838,2.109870e+06,792870.414664,0.733129,0.087288

In [5]:
#mujeres
mask_2 = t05_19_21["genero"] == "Mujer"
t05_19_21_m = t05_19_21[mask_2==True]
t05_19_21_m = t05_19_21_m.drop(columns = "genero", axis=1) 
t05_19_21_m.reset_index(drop =True, inplace = True)
t05_19_21_m.head()

,periodo,trimestre,PET,FT,desocupados,ocupados,informal_dane,TO,TD
0,2019,1 ene-mar,3.203846e+06,2.130636e+06,302208.445953,1.828427e+06,764160.865856,0.570698,0.141840
1,2019,2 feb-abr,3.211010e+06,2.127985e+06,279154.088160,1.848831e+06,798863.155207,0.575779,0.131182
2,2019,3 mar-may,3.218050e+06,2.142457e+06,267488.133111,1.874969e+06,825944.818104,0.582641,0.124851
3,2019,4 abr-jun,3.225232e+06,2.153976e+06,245248.890797,1.908727e+06,836943.445293,0.591811,0.113859
4,2019,5 may-jul,3.232193e+06,2.190780e+06,253419.572493,1.937360e+06,848558.268445,0.599395,0.115675

In [6]:
t05_19_21_h.columns

Index(['periodo', 'trimestre', 'PET', 'FT', 'desocupados', 'ocupados',
       'informal_dane', 'TO', 'TD'],
      dtype='object')

In [7]:
##renombrar variables hombres
t05_19_21_h.rename(columns = {'periodo': 'Periodo', 'trimestre': "Trimestre", 'PET':'PET_h', 
                               'FT':'FT_h', 'desocupados': 'Desocupados_h','ocupados': 'Ocupados_h',
                              'informal_dane':'Informal_h', 'TO': 'TO_h', 'TD':'TD_h'},
               inplace = True)
##renombrar variables mujeres
t05_19_21_m.rename(columns = {'periodo': 'Periodo', 'trimestre': "Trimestre", 'PET':'PET_m', 
                               'FT':'FT_m', 'desocupados': 'Desocupados_m','ocupados': 'Ocupados_m',
                              'informal_dane':'Informal_m', 'TO': 'TO_m', 'TD':'TD_m'},
               inplace = True)

In [8]:
t05_19_21_m.columns

Index(['Periodo', 'Trimestre', 'PET_m', 'FT_m', 'Desocupados_m', 'Ocupados_m',
       'Informal_m', 'TO_m', 'TD_m'],
      dtype='object')

In [9]:
#merge
t05_19_21_sexo = pd.merge(left=t05_19_21_h, right=t05_19_21_m, 
                            on = ["Periodo", "Trimestre"], how = 'inner', sort =False,
                            validate = '1:1', suffixes=("_hombre", "_mujer"))
#quitar los numeros de la columna trimestre
t05_19_21_sexo["Trimestre"] = (pd.Series(t05_19_21_sexo["Trimestre"], # r'\d\s', \A coincide al inciio , \b                                
                                         dtype = "string").str.split( r'\d\s', expand = True).get(1))
t05_19_21_sexo

,Periodo,Trimestre,PET_h,FT_h,Desocupados_h,Ocupados_h,Informal_h,TO_h,TD_h,PET_m,FT_m,Desocupados_m,Ocupados_m,Informal_m,TO_m,TD_m
0,2019,ene-mar,2.850020e+06,2.299575e+06,272860.563182,2.026715e+06,7.262447e+05,0.711123,0.118657,3.203846e+06,2.130636e+06,302208.445953,1.828427e+06,7.641609e+05,0.570698,0.141840
1,2019,feb-abr,2.857064e+06,2.285004e+06,235501.885501,2.049502e+06,7.868536e+05,0.717346,0.103064,3.211010e+06,2.127985e+06,279154.088160,1.848831e+06,7.988632e+05,0.575779,0.131182
2,2019,mar-may,2.863992e+06,2.286374e+06,209104.334313,2.077270e+06,8.188074e+05,0.725306,0.091457,3.218050e+06,2.142457e+06,267488.133111,1.874969e+06,8.259448e+05,0.582641,0.124851
3,2019,abr-jun,2.871059e+06,2.283883e+06,199809.763727,2.084073e+06,8.191498e+05,0.725890,0.087487,3.225232e+06,2.153976e+06,245248.890797,1.908727e+06,8.369434e+05,0.591811,0.113859
4,2019,may-jul,2.877897e+06,2.311651e+06,201780.460838,2.109870e+06,7.928704e+05,0.733129,0.087288,3.232193e+06,2.190780e+06,253419.572493,1.937360e+06,8.485583e+05,0.599395,0.115675
5,2019,jun-ago,2.884614e+06,2.304926e+06,202845.636646,2.102080e+06,7.629961e+05,0.728722,0.088005,3.239045e+06,2.144437e+06,247194.019467,1.897243e+06,8.035295e+05,0.585741,0.115272
6,2019,jul-sep,2.891107e+06,2.314667e+06,199908.761330,2.114758e+06,7.726980e+05,0.731470,0.086366,3.245695e+06,2.120003e+06,240542.372869,1.879460e+06,7.877393e+05,0.579063,0.113463
7,2019,ago-oct,2.897395e+06,2.330571e+06,207176.181797,2.123395e+06,7.881452e+05,0.732863,0.088895,3.252153e+06,2.091900e+06,225999.841179,1.865900e+06,7.660303e+05,0.573743,0.108036
8,2019,sep-nov,2.903486e+06,2.358262e+06,199111.811314,2.159150e+06,8.466910e+05,0.743641,0.084432,3.258432e+06,2.130828e+06,220392.235100,1.910436e+06,8.069738e+05,0.586305,0.103430
9,2019,oct-dic,2.909342e+06,2.354975e+06,197405.002449,2.157570e+06,8.531003e+05,0.741601,0.083825,3.264487e+06,2.135680e+06,228946.566800,1.906733e+06,8.245479e+05,0.584083,0.107201
10,2019,nov19-ene20,2.915111e+06,2.352189e+06,210246.799297,2.141942e+06,8.629591e+05,0.734772,0.089383,3.270470e+06,2.135666e+06,258165.612720,1.877500e+06,7.846925e+05,0.574077,0.120883
11,2019,dic19-feb20,2.920747e+06,2.358267e+06,212591.398512,2.145675e+06,8.765660e+05,0.734632,0.090147,3.276331e+06,2.114194e+06,269871.447222,1.844323e+06,7.667438e+05,0.562923,0.127647
12,2020,ene-mar,2.926216e+06,2.297424e+06,239658.678584,2.057765e+06,1.144125e+06,0.703217,0.104316,3.282032e+06,2.047673e+06,273511.059618,1.774162e+06,9.811852e+05,0.540568,0.133572
13,2020,feb-abr,2.931594e+06,2.120184e+06,285028.425822,1.835155e+06,1.288936e+06,0.625992,0.134436,3.287649e+06,1.904956e+06,299726.871374,1.605229e+06,1.149977e+06,0.488260,0.157341
14,2020,mar-may,2.936844e+06,2.057438e+06,367939.532752,1.689499e+06,1.222255e+06,0.575277,0.178834,3.293142e+06,1.829819e+06,376363.491682,1.453456e+06,1.069483e+06,0.441358,0.205683
15,2020,abr-jun,2.942162e+06,2.061428e+06,441470.288047,1.619958e+06,8.813666e+05,0.550601,0.214158,3.298711e+06,1.826982e+06,470419.723195,1.356562e+06,7.289197e+05,0.411240,0.257485
16,2020,may-jul,2.947213e+06,2.218373e+06,485484.797834,1.732888e+06,7.030495e+05,0.587975,0.218847,3.304007e+06,1.906924e+06,544817.479290,1.362107e+06,5.060091e+05,0.412259,0.285705
17,2020,jun-ago,2.951936e+06,2.254021e+06,474439.767557,1.779581e+06,7.095928e+05,0.602852,0.210486,3.308965e+06,1.945298e+06,528194.354974,1.417103e+06,5.306050e+05,0.428262,0.271524
18,2020,jul-sep,2.956276e+06,2.284751e+06,447312.062095,1.837439e+06,7.595938e+05,0.621538,0.195782,3.313531e+06,2.018659e+06,488750.706489,1.529909e+06,6.157578e+05,0.461716,0.242116
19,2020,ago-oct,2.960425e+06,2.308318e+06,380654.314715,1.927663e+06,8.033955e+05,0.651144,0.164906,3.317897e+06,2.074698e+06,440438.135717,1.634259e+06,6.603948e+05,0.492559,0.212290
20,2020,sep-nov,2.964549e+06,2.332041e+06,336738.844870,1.995302e+06,8.464233e+05,0.673054,0.144397,3.322241e+06,2.121037e+06,413669.062055,1.707368e+06,6.878677e+05,0.513921,0.195031
21,2020,oct-dic,2.968598e+06,2.369727e+06,301008.970015,2.068718e+06,8.786498e+05,0.696867,0.127023,3.326504e+06,2.093767e+06,406922.542488,1.686844e+06,6.793605e+05,0.507092,0.194349
22,2020,nov20-ene21,2.972650e+06,2.367720e+06,354822.542233,2.012898e+06,8.592941e+05,0.677139,0.149858,3.330773e+06,2.072438e+06,407742.316091,1.664696e+06,6.855373e+05,0.499793,0.196745
23,2020,dic20-feb21,2.976650e+06,2.392334e+06,382060.695210,2.010273e+06,8.376175e+05,0.675347,0.159702,3.334989e+06,2.071778e+06,466564.807198,1.605213e+06,6.751641e+05,0.481325,0.225200
24,2021,ene-mar,2.980509e+06,2.382105e+06,403377.156244,1.978728e+06,8.442832e+05,0.663889,0.169336,3.339058e+06,2.099098e+06,475623.176660,1.623475e+06,6.545877e+05,0.486207,0.226585
25,2021,feb-abr,2.984300e+06,2.355061e+06,370978.201619,1.984083e+06,8.322037e+05,0.664840,0.157524,3.343056e+06,2.106087e+06,463922.306204,1.642165e+06,6.520399e+05,0.491217,0.220277
26,2021,mar-may,2.987973e+06,2.340580e+06,369850.131134,1.970730e+06,8.300012e+05,0.659554,0.158016,3.346935e+06,2.091064e+06,415411.616743,1.675653e+06,6.733738e+05,0.500653,0.198660
27,2021,abr-jun,2.991686e+06,2.331368e+06,382124.884716,1.949243e+06,7.963435e+05,0.651553,0.163906,3.350859e+06,2.037444e+06,389602.452357,1.647841e+06,6.929925e+05,0.491767,0.191221
28,2021,may-jul,2.995263e+06,2.376361e+06,359512.078794,2.016849e+06,8.023165e+05,0.673346,0.151287,3.354645e+06,2.048781e+06,378305.282131,1.670476e+06,7.004239e+05,0.497959,0.184649
29,2021,jun-ago,2.998780e+06,2.361788e+06,325939.018728,2.035849e+06,7.894942e+05,0.678893,0.138005,3.358368e+06,2.049780e+06,360460.051791,1.689320e+06,7.031386e+05,0.503018,0.175853
30,2021,jul-sep,3.002193e+06,2.389336e+06,287997.796343,2.101339e+06,8.104397e+05,0.699935,0.120535,3.361989e+06,2.058614e+06,338704.420455,1.719909e+06,7.178777e+05,0.511575,0.164530
31,2021,ago-oct,3.005515e+06,2.373748e+06,273569.958595,2.100178e+06,8.277600e+05,0.698775,0.115248,3.365516e+06,2.076073e+06,293651.945648,1.782421e+06,7.406384e+05,0.529613,0.141446
32,2021,sep-nov,3.008750e+06,2.356074e+06,267117.813923,2.088956e+06,8.430293e+05,0.694294,0.113374,3.368957e+06,2.043501e+06,261259.841934,1.782242e+06,7.384080e+05,0.529019,0.127849
33,2021,oct-dic,3.011878e+06,2.288405e+06,234865.069969,2.053540e+06,8.561093e+05,0.681814,0.102633,3.372287e+06,2.001028e+06,229263.142266,1.771765e+06,7.325535e+05,0.525390,0.114573

In [10]:
# fragmentar bases para imputar sencillo
#2019
m_19 = t05_19_21_sexo["Periodo"] == 2019
t05_19t = t05_19_21_sexo[m_19==True]
t05_19t.reset_index(drop =True, inplace = True)
#2020
m_20 = t05_19_21_sexo["Periodo"] == 2020
t05_20t = t05_19_21_sexo[m_20==True]
t05_20t.reset_index(drop =True, inplace = True)
#2021
m_21 = t05_19_21_sexo["Periodo"] == 2021
t05_21t = t05_19_21_sexo[m_21==True]
t05_21t.reset_index(drop =True, inplace = True)

### Marco muestral 2018

In [11]:
#datos 2021
names_col_21= ["Poblaciones", "Ene - Mar","Feb - Abr", "Mar - May","Abr - Jun", "May - Jul",
             "Jun - Ago", "Jul - Sep", "Ago - Oct", "Sep - Nov", "Oct - Dic","Nov 21 - Ene 22", 
             "Dic 21 - Feb 22"]
t18_21_h = pd.read_excel("G:/Unidades compartidas/Mercado laboral/Datos/1_Raw/anexo_GEIH_sexo_abr22_jun22.xlsx",     
                       sheet_name = "Hombres - 23 Ciud", header = 0,
                       skiprows = range(17), nrows = 10, usecols = "A:M", names =names_col_21)
t18_21_h.drop([4], inplace = True) 

t18_21_m = pd.read_excel("G:/Unidades compartidas/Mercado laboral/Datos/1_Raw/anexo_GEIH_sexo_abr22_jun22.xlsx",     
                       sheet_name = "Mujeres - 23 ciu", header = 0,
                       skiprows = range(17), nrows = 10, usecols = "A:M", names =names_col_21)
t18_21_m.drop([4], inplace = True) 
t18_21_m

,Poblaciones,Ene - Mar,Feb - Abr,Mar - May,Abr - Jun,May - Jul,Jun - Ago,Jul - Sep,Ago - Oct,Sep - Nov,Oct - Dic,Nov 21 - Ene 22,Dic 21 - Feb 22
0,% poblacin en edad de trabajar,82.403764,82.427560,82.450918,82.474874,82.498369,82.521897,82.545200,82.568272,82.591112,82.613460,82.635822,82.657933
1,TGP,61.686536,61.651776,60.199384,60.320858,59.461040,59.956793,59.570754,58.673611,57.888618,57.248329,58.908853,59.567002
2,TO,48.562953,49.423173,48.347135,48.574857,47.654004,49.005903,49.909508,50.039626,49.919951,49.306969,49.970264,50.016397
3,TD,21.274631,19.834956,19.688322,19.472537,19.856760,18.264635,16.218101,14.715277,13.765517,13.871777,15.173592,16.033382
5,Poblacin total,4052.069333,4055.750667,4059.306333,4062.884667,4066.316333,4069.669333,4072.906333,4076.040667,4079.079333,4082.006333,4084.896333,4087.732667
6,Poblacin en edad de trabajar,3339.057667,3343.056333,3346.935333,3350.859000,3354.644667,3358.368333,3361.988667,3365.516333,3368.957000,3372.286667,3375.587667,3378.835333
7,Fuerza de trabajo,2059.749000,2061.053594,2014.834443,2021.266911,1994.706606,2013.569949,2002.761985,1974.669948,1950.242663,1930.577782,1988.519967,2012.670923
8,Ocupados,1621.544991,1652.244517,1618.147344,1627.674970,1598.622499,1645.798743,1677.952018,1684.091795,1681.781687,1662.772345,1686.790055,1689.971707
9,Desocupados,438.204010,408.809078,396.687099,393.591941,396.084107,367.771206,324.809967,290.578153,268.460976,267.805437,301.729912,322.699216

In [12]:
#datos 2022
names_col_22= ["Poblaciones", "Ene - Mar","Feb - Abr", "Mar - May", "Abr - Jun", "May - Jul"]
t18_22_h = pd.read_excel("G:/Unidades compartidas/Mercado laboral/Datos/1_Raw/anexo_GEIH_sexo_may22_jul22.xlsx",     
                       sheet_name = "Hombres - 23 Ciud", header = 0,
                       skiprows = range(17), nrows = 10, usecols = "A, N:R", names =names_col_22)
t18_22_h.drop([4], inplace = True) 

t18_22_m = pd.read_excel("G:/Unidades compartidas/Mercado laboral/Datos/1_Raw/anexo_GEIH_sexo_may22_jul22.xlsx",     
                       sheet_name = "Mujeres - 23 ciu", header = 0,
                       skiprows = range(17), nrows = 10, usecols = "A, N:R", names =names_col_22)
t18_22_m.drop([4], inplace = True) 
t18_22_h

,Poblaciones,Ene - Mar,Feb - Abr,Mar - May,Abr - Jun,May - Jul
0,% poblacin en edad de trabajar,80.403626,80.428003,80.451814,80.476118,80.499843
1,TGP,75.642271,75.664693,75.779845,75.745604,74.967235
2,TO,65.349349,66.808905,67.673790,67.964077,67.315600
3,TD,13.607368,11.703989,10.696849,10.273238,10.206638
5,Poblacin total,3757.239333,3759.710000,3762.137667,3764.644000,3767.132000
6,Poblacin en edad de trabajar,3020.956667,3023.859667,3026.708000,3029.639333,3032.535333
7,Fuerza de trabajo,2285.120228,2287.994121,2293.634646,2294.818600,2273.407881
8,Ocupados,1974.175519,2020.207534,2048.288004,2059.066416,2041.369365
9,Desocupados,310.944709,267.786587,245.346642,235.752184,232.038516

#### Transponer

In [13]:
#establecer indice y transponer
frames_18 = [t18_21_h, t18_21_m, t18_22_h, t18_22_m]

for i in (frames_18):
    i.set_index("Poblaciones", inplace =True)

t18_21_h_t = t18_21_h.transpose()
t18_21_m_t = t18_21_m.transpose()
t18_22_h_t = t18_22_h.transpose()
t18_22_m_t = t18_22_m.transpose()

In [14]:
## homogenizar nombres de variables y asignar variable de ao
frames_18_t = [t18_21_h_t, t18_21_m_t, t18_22_h_t, t18_22_m_t]

names_h = {'index':'Trimestre','% poblacin en edad de trabajar ': "%PET_h", 
                              'Poblacin en edad de trabajar':'PET_h', 
                               'Fuerza de trabajo':'FT_h', 'Desocupados': 'Desocupados_h',
                              'Ocupados': 'Ocupados_h', 'TGP':'TGP_h', 'TO': 'TO_h', 'TD':'TD_h'}
names_m = {'index':'Trimestre','% poblacin en edad de trabajar ': "%PET_m", 
                              'Poblacin en edad de trabajar':'PET_m', 
                               'Fuerza de trabajo':'FT_m', 'Desocupados': 'Desocupados_m',
                              'Ocupados': 'Ocupados_m', 'TGP':'TGP_m', 'TO': 'TO_m', 'TD':'TD_m'}
names_col = [names_h, names_m, names_h, names_m]
per = [2021, 2021, 2022, 2022]

for i, j, k in zip(frames_18_t, names_col, per):
    i.reset_index(inplace =True)
    i.rename(columns = j, inplace =True)
    i = i.insert(0, "Periodo",  k)

In [15]:
#merge 2021 hombres y mujeres
##
t18_21_sexo = pd.merge(left=t18_21_h_t, right=t18_21_m_t, 
                            on = ["Periodo", "Trimestre"], how = 'inner', sort =False,
                            validate = '1:1', suffixes=("_hombre", "_mujer"))
#merge 2022 hombres y mujeres
t18_22_sexo = pd.merge(left=t18_22_h_t, right=t18_22_m_t, 
                            on = ["Periodo", "Trimestre"], how = 'inner', sort =False,
                            validate = '1:1', suffixes=("_hombre", "_mujer"))

#### Imputar 2019 y 2020

##### Variables poblacionales

In [16]:
###cargue de totales 
#cargue totales 2019-2022 
names_col_21 = ["Periodo", "Trimestre", "PET_T", "FT_T", "Ocupados_T", "Desocupados_T"]
t18_Tot = pd.read_excel("G:/Unidades compartidas/Mercado laboral/Datos/4_Output/ml_pob_impu_19_22.xlsx",     
                       sheet_name = "bogot trim movil", header = 0,
                         nrows = 41, usecols = "A,B,J:M", names = names_col_21 )
##datos 2021
msk_T = t18_Tot["Periodo"]==2019
t18_19_Tot = t18_Tot[msk_T==True]
t18_19_Tot.reset_index(inplace=True)
##datos 2022
msk_T_2 = t18_Tot["Periodo"]==2020
t18_20_Tot = t18_Tot[msk_T_2 ==True]
t18_20_Tot.reset_index(inplace=True)

In [17]:
#print(t18_21_sexo.columns, t05_21t.columns)

In [18]:
#variables poblacionales
l1 = ['PET_h', 'FT_h', 'Desocupados_h', 'Ocupados_h', 'PET_m', 
      'FT_m', 'Desocupados_m', 'Ocupados_m']
ld = ['PET_m', 'FT_m', 'Desocupados_m', 'Ocupados_m', 'PET_h', 
      'FT_h', 'Desocupados_h', 'Ocupados_h']
lt = ["PET_T", "FT_T",  "Desocupados_T", "Ocupados_T",
      "PET_T", "FT_T", "Desocupados_T", "Ocupados_T"]

In [19]:
### = ocupadasmujeresmarco2005proy2018 / (ocupadasmujeresmarco2005proy2018 + 
#ocupadoshombresmarco2005proy2018) * totalocupadosimputad
#impuar valores 2019. nan quedan nan
#h_19_imp= (h_19/(m_19+h_19)) * ocu_t_imp_19
t05_19t_imp = t05_19t.copy()
t05_20t_imp = t05_20t.copy()

for i, j, k in zip(l1,ld,lt):
    t05_19t_imp[i] = ((t05_19t[i] / (t05_19t[i]+ t05_19t[j])) * (t18_19_Tot[k]/1000)).astype(np.double)
    t05_20t_imp [i] = ((t05_19t_imp[i] *
                              (1 + ((t05_20t[i] - t05_19t[i]) / t05_19t[i])))).astype(np.double)

In [20]:
t05_20t_imp

,Periodo,Trimestre,PET_h,FT_h,Desocupados_h,Ocupados_h,Informal_h,TO_h,TD_h,PET_m,FT_m,Desocupados_m,Ocupados_m,Informal_m,TO_m,TD_m
0,2020,ene-mar,2926.216333,2241.541470,237.763222,1999.469809,1.144125e+06,0.703217,0.104316,3282.032333,1997.865691,271.347865,1723.901045,9.811852e+05,0.540568,0.133572
1,2020,feb-abr,2931.594000,2089.715981,282.213133,1806.885084,1.288936e+06,0.625992,0.134436,3287.649333,1877.581242,296.766399,1580.500970,1.149977e+06,0.488260,0.157341
2,2020,mar-may,2936.843667,2013.585630,358.447789,1655.119462,1.222255e+06,0.575277,0.178834,3293.141667,1790.818223,366.654435,1423.879765,1.069483e+06,0.441358,0.205683
3,2020,abr-jun,2942.162333,2034.929926,435.647531,1599.250907,8.813666e+05,0.550601,0.214158,3298.710667,1803.497755,464.215139,1339.222478,7.289197e+05,0.411240,0.257485
4,2020,may-jul,2947.213000,2139.826173,470.779547,1669.756629,7.030495e+05,0.587975,0.218847,3304.006667,1839.405004,528.315051,1312.483261,5.060091e+05,0.412259,0.285705
5,2020,jun-ago,2951.936000,2193.657784,468.784542,1727.050814,7.095928e+05,0.602852,0.210486,3308.964667,1893.202182,521.898386,1375.272722,5.306050e+05,0.428262,0.271524
6,2020,jul-sep,2956.276333,2202.676110,427.637479,1773.862012,7.595938e+05,0.621538,0.195782,3313.530667,1946.143165,467.253485,1476.972453,6.157578e+05,0.461716,0.242116
7,2020,ago-oct,2960.424667,2215.036025,385.616831,1834.712436,8.033955e+05,0.651144,0.164906,3317.897333,1990.856781,446.180043,1555.456310,6.603948e+05,0.492559,0.212290
8,2020,sep-nov,2964.548667,2245.792824,351.938414,1899.143136,8.464233e+05,0.673054,0.144397,3322.241333,2042.592618,432.341074,1625.085288,6.878677e+05,0.513921,0.195031
9,2020,oct-dic,2968.598000,2311.127211,350.207826,1970.329699,8.786498e+05,0.696867,0.127023,3326.504333,2041.990796,473.432598,1606.617603,6.793605e+05,0.507092,0.194349
10,2020,nov20-ene21,NaN,NaN,NaN,NaN,8.592941e+05,0.677139,0.149858,NaN,NaN,NaN,NaN,6.855373e+05,0.499793,0.196745
11,2020,dic20-feb21,NaN,NaN,NaN,NaN,8.376175e+05,0.675347,0.159702,NaN,NaN,NaN,NaN,6.751641e+05,0.481325,0.225200

##### Tasas

In [21]:
t05_19t_imp.columns

Index(['Periodo', 'Trimestre', 'PET_h', 'FT_h', 'Desocupados_h', 'Ocupados_h',
       'Informal_h', 'TO_h', 'TD_h', 'PET_m', 'FT_m', 'Desocupados_m',
       'Ocupados_m', 'Informal_m', 'TO_m', 'TD_m'],
      dtype='object')

In [22]:
#variables
l2 = ['TGP_h','TGP_m', 'TO_h', 'TD_h', 'TO_m', 'TD_m']
l3_n = ['FT_h', 'FT_m', 'Ocupados_h', 'Desocupados_h', 'Ocupados_m', 'Desocupados_m']
l4_d = [ 'PET_h', 'PET_m', 'PET_h', 'FT_h', 'PET_m', 'FT_m']

In [23]:
### 2019_impu  = (2021 marco 2018 / 2021 marco 2005) * 2019 marco 2005
#impuar valores 2019. nan quedan nan
for i, j, k in zip(l2, l3_n, l4_d):
    t05_19t_imp[i] = (t05_19t_imp[j] / t05_19t_imp[k]*100).astype(np.double)
    t05_20t_imp[i] = (t05_20t_imp[j] / t05_20t_imp[k]*100).astype(np.double)#.astype(int)

In [24]:
#observar si los nombres de las columnas de ambos dataset son iguales
#print(t05_19t_imp.columns, t05_20t_imp.columns)

#### Concatenar

In [25]:
#concat 2019-2022
f_frames = [t05_19t_imp, t05_20t_imp, t18_21_sexo, t18_22_sexo]
desag_impu_19_22 = pd.concat(f_frames)

In [26]:
##eliminar variables que no tienen marco muestral 2005
desag_impu_19_22.drop(columns=["%PET_h", "Poblacin total_hombre", "%PET_m", "Poblacin total_mujer"], inplace = True)

In [27]:
#poblaciones a millones enteros de l1
for i in (l1):
    desag_impu_19_22[i] = desag_impu_19_22[i]*1000 #np.around(desag_impu_19_22[i], 0)

In [28]:
### marca valores imputados
def m_imp(df):
    if ((df["Periodo"] == 2019 or df["Periodo"] == 2020) 
        and (pd.notnull(df["PET_h"]))): 
        x = 1
    elif ((df["Periodo"] == 2019 or df["Periodo"] == 2020) 
        and (pd.isnull(df["PET_h"]))):
        x = np.nan
    else:
        x = 0
    return(x)

In [29]:
desag_impu_19_22["valor Imputado"] = desag_impu_19_22.apply(m_imp, axis=1)

In [30]:
#desag_impu_19_22.info()

In [31]:
desag_impu_19_22.tail(15)

,Periodo,Trimestre,PET_h,FT_h,Desocupados_h,Ocupados_h,Informal_h,TO_h,TD_h,PET_m,FT_m,Desocupados_m,Ocupados_m,Informal_m,TO_m,TD_m,TGP_h,TGP_m,valor Imputado
2,2021,Mar - May,2.987973e+06,2.322354e+06,368317.220093,1.954037e+06,NaN,65.396733,15.859649,3.346935e+06,2.014834e+06,396687.099313,1.618147e+06,NaN,48.347135,19.688322,77.723390,60.199384,0.0
3,2021,Abr - Jun,2.991686e+06,2.291387e+06,367956.872917,1.923430e+06,NaN,64.292529,16.058258,3.350859e+06,2.021267e+06,393591.940877,1.627675e+06,NaN,48.574857,19.472537,76.591845,60.320858,0.0
4,2021,May - Jul,2.995263e+06,2.273754e+06,319385.054170,1.954369e+06,NaN,65.248654,14.046598,3.354645e+06,1.994707e+06,396084.106983,1.598622e+06,NaN,47.654004,19.856760,75.911659,59.461040,0.0
5,2021,Jun - Ago,2.998780e+06,2.279855e+06,310446.127017,1.969409e+06,NaN,65.673683,13.616923,3.358368e+06,2.013570e+06,367771.206047,1.645799e+06,NaN,49.005903,18.264635,76.026098,59.956793,0.0
6,2021,Jul - Sep,3.002193e+06,2.285404e+06,274327.224850,2.011077e+06,NaN,66.986937,12.003444,3.361989e+06,2.002762e+06,324809.966777,1.677952e+06,NaN,49.909508,16.218101,76.124498,59.570754,0.0
7,2021,Ago - Oct,3.005515e+06,2.295329e+06,284038.411570,2.011290e+06,NaN,66.919999,12.374629,3.365516e+06,1.974670e+06,290578.152943,1.684092e+06,NaN,50.039626,14.715277,76.370574,58.673611,0.0
8,2021,Sep - Nov,3.008750e+06,2.286618e+06,283766.218770,2.002852e+06,NaN,66.567569,12.409865,3.368957e+06,1.950243e+06,268460.975917,1.681782e+06,NaN,49.919951,13.765517,75.998933,57.888618,0.0
9,2021,Oct - Dic,3.011878e+06,2.252783e+06,272182.828927,1.980601e+06,NaN,65.759653,12.082069,3.372287e+06,1.930578e+06,267805.437097,1.662772e+06,NaN,49.306969,13.871777,74.796634,57.248329,0.0
10,2021,Nov 21 - Ene 22,3.014976e+06,2.241541e+06,285571.208707,1.955970e+06,NaN,64.875128,12.739952,3.375588e+06,1.988520e+06,301729.912163,1.686790e+06,NaN,49.970264,15.173592,74.346886,58.908853,0.0
11,2021,Dic 21 - Feb 22,3.018019e+06,2.251990e+06,282619.688853,1.969371e+06,NaN,65.253749,12.549773,3.378835e+06,2.012671e+06,322699.215613,1.689972e+06,NaN,50.016397,16.033382,74.618158,59.567002,0.0
0,2022,Ene - Mar,3.020957e+06,2.285120e+06,310944.708930,1.974176e+06,NaN,65.349349,13.607368,3.381972e+06,2.049329e+06,322095.168577,1.727234e+06,NaN,51.071807,15.717101,75.642271,60.595694,0.0
1,2022,Feb - Abr,3.023860e+06,2.287994e+06,267786.587050,2.020208e+06,NaN,66.808905,11.703989,3.385076e+06,2.040905e+06,277380.612493,1.763524e+06,NaN,52.097033,13.591061,75.664693,60.291254,0.0
2,2022,Mar - May,3.026708e+06,2.293635e+06,245346.641857,2.048288e+06,NaN,67.673790,10.696849,3.388124e+06,2.021967e+06,251132.091530,1.770835e+06,NaN,52.265959,12.420185,75.779845,59.678087,0.0
3,2022,Abr - Jun,3.029639e+06,2.294819e+06,235752.184437,2.059066e+06,NaN,67.964077,10.273238,3.391263e+06,2.001680e+06,242455.080880,1.759224e+06,NaN,51.875201,12.112582,75.745604,59.024604,0.0
4,2022,May - Jul,3.032535e+06,2.273408e+06,232038.515797,2.041369e+06,NaN,67.315600,10.206638,3.394366e+06,1.986200e+06,244429.705047,1.741770e+06,NaN,51.313569,12.306399,74.967235,58.514611,0.0

In [32]:
##guardar en un solo archivo excel con distintas pestaas
ml_pob_impu_19_22 = pd.read_excel("G:/Unidades compartidas/Mercado laboral/Datos/4_Output/ml_pob_impu_19_22.xlsx",     
                       sheet_name = "bogot trim movil", header = 0)
ml_pob_impu_19_22_sec = pd.read_excel("G:/Unidades compartidas/Mercado laboral/Datos/4_Output/ml_pob_impu_19_22.xlsx",     
                       sheet_name = "sectores", header = 0)
writer = pd.ExcelWriter("G:/Unidades compartidas/Mercado laboral/Datos/4_Output/ml_pob_impu_19_22.xlsx")
ml_pob_impu_19_22.to_excel(writer, sheet_name = "bogot trim movil", header = True, index=False)
ml_pob_impu_19_22_sec.to_excel(writer, sheet_name = "sectores", header = True, index=False)
desag_impu_19_22.to_excel(writer, sheet_name = "sexo", header = True, index=False)
writer.save()
writer.close()