In [24]:
import pandas as pd
import numpy as np

### Marco muestral 2005

In [25]:
coding: "latin-1"

In [26]:
#datos 2019, 2020, 2021
cols= ["Periodo", "Trimestre", "Tamaño", "Ocupados"]
t05_19_21 = pd.read_excel("G:/Unidades compartidas/Mercado laboral/Datos/1_Raw/tema_1_v2.xlsx",                      
                        sheet_name = "GEIH marco 2005", header = 0, nrows = 111, 
                        usecols = "B:E", names = cols)

In [27]:
##limpiar variable trimestre
t05_19_21["Trimestre"] = (pd.Series(t05_19_21["Trimestre"],                                
                                         dtype = "string").str.split( r'\d\s', expand = True).get(1))

#### Crear Rangos

In [28]:
t05_19_21["Tamaño"].value_counts()	
# 1. Trabaja solo = 1
#2. 2 a 3 personas #3. 4 a 5 personas  #4. 6 a 10 personas = 2, 3, 4
#5. 11 a 19 personas #6. 20 a 30 personas #7. 31 a 50 personas = 5, 6, 7
#8. 51 a 100 personas = 8
#9. 101 o más personas = 9
#uni, 2-10, 11-50, 51-100, 100+

1.0    12
2.0    12
3.0    12
4.0    12
5.0    12
6.0    12
7.0    12
8.0    12
9.0    12
Name: Tamaño, dtype: int64

In [29]:
def rang(df):
    if df["Tamaño"]==1:
        x = "Unipersonal"
    elif (df["Tamaño"]==2 or df["Tamaño"]==3 or df["Tamaño"]==4):
        x = "Entre 2 y 10"
    elif (df["Tamaño"]==5 or df["Tamaño"]==6 or df["Tamaño"]==7):
        x = "Entre 11 y 50"
    elif df["Tamaño"]==8:
        x = "Entre 51 y 100"
    elif df["Tamaño"]==9:
        x = "Más de 100"
    else:
        x = np.nan
    return(x)

In [30]:
#aplicar función
t05_19_21["Tamaño2"] = t05_19_21.apply(rang, axis=1)

#### Slice

In [31]:
##filtrar ara cada categoria y crear dataframes
cat = ["Unipersonal", "Entre 2 y 10", "Entre 11 y 50", "Entre 51 y 100", "Más de 100"]
lf = ["u", "mi", "pe", "me", "gr"]

for i, j in zip(cat, lf):
    msk19 = t05_19_21["Tamaño2"] == i
    exec('t05_19_21_{} = t05_19_21[msk19==True]'.format(j))
    # class Lista(object):
#     pass
# i = 1
# lista1 = Lista()
# for fram in ["t05_19_21_u", "t05_19_21_mi", "t05_19_21_pe", "t05_19_21_me", "t05_19_21_gr"]:
#     setattr(lista1, "producto" + str(i), fram)
#     i = i + 1
# lista1.producto1
# lista1.producto2

In [32]:
#Estandarizar
fam = [t05_19_21_u, t05_19_21_mi, t05_19_21_pe, t05_19_21_me, t05_19_21_gr]

for i, j in zip(fam, cat):
    i.drop(columns=["Tamaño", "Tamaño2"], axis=1, inplace =True)
    i.reset_index(drop =True, inplace = True)
    i.rename(columns = {'Ocupados': j}, inplace =True)

D:\anaconda\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(
D:\anaconda\lib\site-packages\pandas\core\frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [33]:
#agrupar mi 
t05_19_21_mi = t05_19_21_mi.groupby(["Periodo", "Trimestre"]).sum()
t05_19_21_mi.reset_index(inplace=True)
#agrupar pe
t05_19_21_pe = t05_19_21_pe.groupby(["Periodo", "Trimestre"]).sum()
t05_19_21_pe.reset_index(inplace=True)

In [34]:
#merge
t05_19_21_merg = t05_19_21_u.merge(t05_19_21_mi,on=['Periodo', 'Trimestre'],validate = '1:1'
                          ).merge(t05_19_21_pe, on=['Periodo', 'Trimestre'],validate = '1:1'
                                 ).merge(t05_19_21_me,on=['Periodo', 'Trimestre'],validate = '1:1'
                                        ).merge(t05_19_21_gr,on=['Periodo', 'Trimestre'],validate = '1:1')
t05_19_21_merg

,Periodo,Trimestre,Unipersonal,Entre 2 y 10,Entre 11 y 50,Entre 51 y 100,Más de 100
0,2019,ene-mar,8.753068e+05,1.032173e+06,443372.592510,162019.178582,1.342270e+06
1,2019,abr-jun,1.002749e+06,1.071837e+06,511676.679232,114742.666352,1.291795e+06
2,2019,jul-sep,9.732548e+05,1.005822e+06,571283.343161,144725.485996,1.299133e+06
3,2019,oct-dic,1.035854e+06,1.033858e+06,536030.780755,150331.759203,1.308229e+06
4,2020,ene-mar,6.807197e+05,6.588039e+05,327197.346353,108888.700105,8.689104e+05
5,2020,abr-jun,5.150993e+05,4.749200e+05,322557.035746,101252.762503,6.424434e+05
6,2020,jul-sep,9.017886e+05,8.058164e+05,435280.476826,163249.919347,1.061212e+06
7,2020,oct-dic,1.039139e+06,8.845279e+05,421768.190269,151707.120749,1.258420e+06
8,2021,ene-mar,9.773486e+05,9.124515e+05,389445.666556,137092.036416,1.185865e+06
9,2021,abr-jun,9.326691e+05,9.159196e+05,489240.179514,181509.393717,1.077746e+06
10,2021,jul-sep,9.838751e+05,9.869910e+05,455735.456460,184371.372154,1.210275e+06
11,2021,oct-dic,1.027249e+06,9.562336e+05,548281.519469,240916.646559,1.052625e+06

In [35]:
##filtro periodos y creación dataframe
per = [2019, 2020, 2021]

for i, j in zip(per, range(19,22)):
    msk19 = t05_19_21_merg["Periodo"] == i
    exec('t05_{} = t05_19_21_merg[msk19==True]'.format(j))
    exec('t05_{}.reset_index(drop =True, inplace = True)'.format(j))

### Marco muestral 2018

In [36]:
#datos
t18_21_22 = pd.read_excel("G:/Unidades compartidas/Mercado laboral/Datos/1_Raw/tema_1_v2.xlsx",                      
                        sheet_name = "GEIH marco 2018", header = 0, nrows = 61, 
                        usecols = "B:E", names = cols)

In [37]:
#limpiar variable trimestre
t18_21_22["Trimestre"] = (pd.Series(t18_21_22["Trimestre"],                                
                                         dtype = "string").str.split( r'\d\s', expand = True).get(1))

In [38]:
#aplicar función
t18_21_22["Tamaño2"] = t18_21_22.apply(rang, axis=1)

#### Slice

In [39]:
#filtros por categoria
for i, j in zip(cat, lf):
    msk19 = t18_21_22["Tamaño2"] == i
    exec('t18_21_22_{} = t18_21_22[msk19==True]'.format(j))

In [40]:
#Estandarizar
fam = [t18_21_22_u, t18_21_22_mi, t18_21_22_pe, t18_21_22_me, t18_21_22_gr]
for i, j in zip(fam, cat):
    i.drop(columns=["Tamaño", "Tamaño2"], axis=1, inplace =True)
    i.reset_index(drop =True, inplace = True)
    i.rename(columns = {'Ocupados': j}, inplace =True)

D:\anaconda\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(
D:\anaconda\lib\site-packages\pandas\core\frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [41]:
#agrupar mi 
t18_21_22_mi = t18_21_22_mi.groupby(["Periodo", "Trimestre"]).sum()
t18_21_22_mi.reset_index(inplace=True)
#agrupar pe
t18_21_22_pe = t18_21_22_pe.groupby(["Periodo", "Trimestre"]).sum()
t18_21_22_pe.reset_index(inplace=True)

In [42]:
#merge
t18_21_22_merg = t18_21_22_u.merge(t18_21_22_mi,on=['Periodo', 'Trimestre'],validate = '1:1'
                          ).merge(t18_21_22_pe, on=['Periodo', 'Trimestre'],validate = '1:1'
                                 ).merge(t18_21_22_me,on=['Periodo', 'Trimestre'],validate = '1:1'
                                        ).merge(t18_21_22_gr,on=['Periodo', 'Trimestre'],validate = '1:1')
t18_21_22_merg

,Periodo,Trimestre,Unipersonal,Entre 2 y 10,Entre 11 y 50,Entre 51 y 100,Más de 100
0,2021,ene-mar,794875.391591,946881.980736,524308.820517,208014.749949,197838.141475
1,2021,abr-jun,849878.478061,791168.599531,526604.495642,250267.848647,301902.341818
2,2021,jul-sep,901891.900921,810373.634838,515356.218098,280365.433190,237567.334568
3,2021,oct-dic,861309.147197,665097.135337,517588.745522,239824.086370,318869.839729
4,2022,ene-mar,762517.729364,745263.287140,543444.164460,233112.875058,237233.295195
5,2022,abr-jun,834744.077707,731415.624518,473142.945984,205847.994287,232020.974309

In [43]:
 ###fragmentar para 2021 y 2022
per2 = [2021, 2022]

for i, j in zip(per2, range(21,23)):
    msk19 = t18_21_22_merg["Periodo"] == i
    exec('t18_{} = t18_21_22_merg[msk19==True]'.format(j))
    exec('t18_{}.reset_index(drop =True, inplace = True)'.format(j))

#### Imputar 2019 y 2020

##### Variables poblacionales

In [44]:
###cargue de totales 
#cargue totales 2019-2022 
names_grl = ["Periodo", "Trimestre",  "Ocupados_T"]
t18_Tot = pd.read_excel("G:/Unidades compartidas/Mercado laboral/Datos/4_Output/ml_pob_impu_19_22.xlsx",     
                       sheet_name = "bogotá trim movil", header = 0,
                         nrows = 40, usecols = "A,B,L", names = names_grl)

In [45]:
#Fragmentar, establecer indice, segmentar
per3 = [2019, 2020]

for i, j in zip(per3, range(19,21)):
    msk_T = t18_Tot["Periodo"] == i
    exec('t18_{}_Tot = t18_Tot[msk_T==True]'.format(j))
    exec('t18_{}_Tot.reset_index(drop =True, inplace = True)'.format(j))
    exec('t18_{}_Tot = t18_{}_Tot.iloc[0:12:3]'.format(j,j)) #para cada {} un valor
    exec('t18_{}_Tot.reset_index(drop =True, inplace = True)'.format(j))

In [46]:
#crear variable total ocupados en las 4 tablas
fram = [t05_19, t05_20, t18_21, t18_22]
for i in (fram):
    i["Ocupados"] = np.sum(i.iloc[:,2:7], axis=1)

<ipython-input-46-1fb1f44db088>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  i["Ocupados"] = np.sum(i.iloc[:,2:7], axis=1)

In [47]:
#imputar nan quedan nan
#x_19_imp= (x_19/(ocupados_19)) * ocu_t_imp_19
cat = cat + ["Ocupados"]
t05_19_imp = t05_19.copy()
t05_20_imp = t05_20.copy()

for i in (cat):
    t05_19_imp[i] = ((t05_19[i] / (t05_19["Ocupados"])) * (t18_19_Tot["Ocupados_T"])).astype(np.double)
    t05_20_imp[i] = ((t05_19_imp[i] *
                              (1 + ((t05_20[i] - t05_19[i]) / t05_19[i])))).astype(np.double)

#### Concatenar

In [48]:
#concat 2019-2022
f_frames = [t05_19_imp, t05_20_imp, t18_21, t18_22]
t05_18_19_22b = pd.concat(f_frames)
t05_18_19_22b.reset_index(drop =True, inplace = True)

In [49]:
### marca valores imputados
def m_imp(df):
    if ((df["Periodo"] == 2019 or df["Periodo"] == 2020) 
        and (pd.notnull(df["Unipersonal"]))): 
        x = 1
    elif ((df["Periodo"] == 2019 or df["Periodo"] == 2020) 
        and (pd.isnull(df["Unipersonal"]))):
        x = np.nan
    else:
        x = 0
    return(x)

In [50]:
t05_18_19_22b["valor Imputado"] = t05_18_19_22b.apply(m_imp, axis=1)

In [51]:
t05_18_19_22b.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Periodo         14 non-null     int64
 1   Trimestre       14 non-null     object
 2   Unipersonal     14 non-null     float64
 3   Entre 2 y 10    14 non-null     float64
 4   Entre 11 y 50   14 non-null     float64
 5   Entre 51 y 100  14 non-null     float64
 6   Más de 100      14 non-null     float64
 7   Ocupados        14 non-null     float64
 8   valor Imputado  14 non-null     int64
dtypes: float64(6), int64(2), object(1)
memory usage: 1.1+ KB

In [52]:
##guardar en un solo archivo excel con distintas pestañas
tamaño_empresa = pd.read_excel("G:/Unidades compartidas/Mercado laboral/Datos/4_Output/tamaño_empresa.xlsx",     
                       sheet_name = "tamaño_empresa", header = 0)
writer = pd.ExcelWriter("G:/Unidades compartidas/Mercado laboral/Datos/4_Output/tamaño_empresa.xlsx")
tamaño_empresa.to_excel(writer, sheet_name = "tamaño_empresa", header = True, index=False)
t05_18_19_22b.to_excel(writer, sheet_name = "tamaño_empresa_vs", header = True, index=False)
writer.save()
writer.close()