In [1]:
import pandas as pd
import numpy as np

In [103]:
icfes_f = pd.read_csv("D:/UARIV_backup/icfes/RUV_SIMAT_ICFES_FINAL_v2.dsv", sep= ";", encoding= "latin-1", low_memory=False)

In [4]:
icfes_f["VICTIMA"].value_counts() ## antes

0    450055
1     91435
Name: VICTIMA, dtype: int64

In [343]:
icfes_f["COLE_DEPTO_UBICACION"].value_counts() #despues

In [ ]:
icfes_f["VICTIMA"].value_counts() #despues

In [294]:
icfes_f.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541683 entries, 0 to 541682
Data columns (total 45 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   ESTU_PRIMERNOMBRE            541683 non-null  object
 1   ESTU_SEGUNDONOMBRE           436279 non-null  object
 2   ESTU_PRIMERAPELLIDO          541683 non-null  object
 3   ESTU_SEGUNDOAPELLIDO         538923 non-null  object
 4   ESTU_TIPODOCUMENTO           541683 non-null  object
 5   ESTU_DOCUMENTO               541683 non-null  object
 6   ESTU_FECHANACIMIENTO         541683 non-null  object
 7   ESTU_GENERO                  541589 non-null  object
 8   ESTU_DEPTO_RESIDE            541522 non-null  object
 9   ESTU_MCPIO_RESIDE            541522 non-null  object
 10  COLE_NOMBRE_ESTABLECIMIENTO  541683 non-null  object
 11  COLE_CALENDARIO              541683 non-null  object
 12  COLE_GENERO                  541683 non-null  object
 13  COLE_GRADO                   541683 non-null  int64
 14  COLE_NATURALEZA              541683 non-null  object
 15  COLE_NOMBRE_SEDE             541683 non-null  object
 16  COLE_AREA_UBICACION          541683 non-null  object
 17  COLE_MCPIO_UBICACION         541683 non-null  object
 18  COLE_DEPTO_UBICACION         541683 non-null  object
 19  ESTU_MCPIO_PRESENTACION      541683 non-null  object
 20  ESTU_DEPTO_PRESENTACION      541683 non-null  object
 21  GENERO_HOM                   91705 non-null   object
 22  EDAD                         91705 non-null   float64
 23  CICLO_VITAL                  91705 non-null   object
 24  PERT_ETNICA                  91705 non-null   object
 25  GRUPO_ETCNI                  532826 non-null  float64
 26  ESTU_ETNIA                   540792 non-null  object
 27  DISCAP                       91705 non-null   float64
 28  ESTU_DISC_FISICA             567 non-null     object
 29  ESTU_DISC_SISTEM             168 non-null     object
 30  ESTU_DISC_AUDITCASTELL       245 non-null     object
 31  ESTU_DISC_AUDITLSC           8 non-null       object
 32  ESTU_DISC_VISUALCEGUE        92 non-null      object
 33  ESTU_DISC_VISUALBAJA         392 non-null     object
 34  ESTU_DISC_VOZHABLA           77 non-null      object
 35  ESTU_DISC_INTELEC            3226 non-null    object
 36  ESTU_DISC_ESPAUTISTA         127 non-null     object
 37  ESTU_DISC_MENTALPSICO        796 non-null     object
 38  DEPARTAMENTO                 90691 non-null   object
 39  MUNICIPIO                    90691 non-null   object
 40  HV5                          91705 non-null   float64
 41  VICTIMA                      541683 non-null  int64
 42  NO_VICTIMA                   541683 non-null  int64
 43  PUNT_GLOBAL                  541683 non-null  int64
 44  PERCENTIL_GLOBAL             535564 non-null  float64
dtypes: float64(5), int64(4), object(36)
memory usage: 186.0+ MB

### General

In [176]:
grl= icfes_f.groupby(by=["VICTIMA"]).aggregate({"PUNT_GLOBAL": [np.mean, np.size, np.var]})#, np.max, np.min, np.mean, np.std]})
grl
#np.mean, np.var(ddof=1), np.size

# grl_p= icfes_f.pivot_table(values= ["PUNT_GLOBAL"],
#                                   index=["VICTIMA"],#, "sexo"],
#                                 aggfunc= ["mean", "count", "var(ddof=1)"])#, margins = True
# agregar nueva fila a dataframe mediante listasgrl_p.loc[2] = [1, 1,1]

        PUNT_GLOBAL
               mean    size          var
VICTIMA
0        249.760499  449978  2605.475291
1        226.697508   91705  1921.956631

In [177]:
grl = grl.stack()
grl = grl.unstack(0)

In [111]:
grl.columns

MultiIndex([('PUNT_GLOBAL', 0),
            ('PUNT_GLOBAL', 1)],
           names=[None, 'VICTIMA'])

In [178]:
grl["dif_mean"]  = grl[('PUNT_GLOBAL', 0)] - grl[('PUNT_GLOBAL', 1)]

In [179]:
#s = np.sqrt((((91435 - 1)* var_v) + ((450055 - 1) * var_nv)) / (91435 + 450055 - 2))
#g = n/s

In [120]:
grl.index

Index(['mean', 'size', 'var'], dtype='object')

In [180]:
g = grl.loc["mean",('dif_mean', '')] / np.sqrt((((grl.loc["size", ('PUNT_GLOBAL', 1)] - 1)* grl.loc["var",('PUNT_GLOBAL', 1)]) + ((grl.loc["size",('PUNT_GLOBAL', 0)] - 1) * grl.loc["var",('PUNT_GLOBAL', 0)])) / (grl.loc["size",('PUNT_GLOBAL', 1)] + grl.loc["size",('PUNT_GLOBAL', 0)] - 2))
g

0.46220750015692447

# Sexo

In [181]:
# grl_s= icfes_f.pivot_table(values= ["PUNT_GLOBAL"],
#                                   index=["ESTU_GENERO"],#, "sexo"],
#                                   columns=["VICTIMA"], aggfunc= ["mean", "count", "var"], margins = True)
# grl_s
grl_s= icfes_f.groupby(by=["VICTIMA", "ESTU_GENERO"]).aggregate({"PUNT_GLOBAL": [np.mean, np.size, np.var]})#, np.max, np.min, np.mean, np.std]})
grl_s

                    PUNT_GLOBAL
                           mean    size          var
VICTIMA ESTU_GENERO
0       F            246.388729  242256  2462.612225
        M            253.694529  207640  2743.719593
1       F            224.369403   52620  1755.909074
        M            229.825097   39073  2128.664996

In [182]:
grl_s = grl_s.stack()
grl_s = grl_s.unstack(0)
grl_s

                    PUNT_GLOBAL
VICTIMA                       0             1
ESTU_GENERO
F           mean     246.388729    224.369403
            size  242256.000000  52620.000000
            var     2462.612225   1755.909074
M           mean     253.694529    229.825097
            size  207640.000000  39073.000000
            var     2743.719593   2128.664996

In [142]:
grl_s.index

MultiIndex([('F', 'mean'),
            ('F', 'size'),
            ('F',  'var'),
            ('M', 'mean'),
            ('M', 'size'),
            ('M',  'var')],
           names=['ESTU_GENERO', None])

In [147]:
grl_s.columns

MultiIndex([('PUNT_GLOBAL',  0),
            ('PUNT_GLOBAL',  1),
            (   'dif_mean', '')],
           names=[None, 'VICTIMA'])

In [183]:
##crear numerador
grl_s["dif_mean"]  = grl_s[('PUNT_GLOBAL', 0)] - grl_s[('PUNT_GLOBAL', 1)]

In [184]:
#prueba
for i in l:
    print(grl_s.loc[(i,'size'),('PUNT_GLOBAL', 0)])

242256.0
207640.0

In [185]:
###calcular g
l1 = ['F', 'M'] 

for i in l1:
    exec("g_{} = grl_s.loc[(i, 'mean'),('dif_mean', '')] / np.sqrt((((grl_s.loc[(i,'size'), ('PUNT_GLOBAL', 1)] - 1)* grl_s.loc[(i,'var'),('PUNT_GLOBAL', 1)]) + ((grl_s.loc[(i,'size'),('PUNT_GLOBAL', 0)] - 1) * grl_s.loc[(i,'var'),('PUNT_GLOBAL', 0)])) / (grl_s.loc[(i,'size'),('PUNT_GLOBAL', 1)] + grl_s.loc[(i,'size'),('PUNT_GLOBAL', 0)] - 2))".format(i))
    exec("print(i + ' ' + str(g_{}))".format(i))

F 0.45553395004376485
M 0.46400379366937916

# Grupo etnico

In [187]:
# grl_s= icfes_f.pivot_table(values= ["PUNT_GLOBAL"],
#                                   index=["ESTU_GENERO"],#, "sexo"],
#                                   columns=["VICTIMA"], aggfunc= ["mean", "count", "var"], margins = True)
# grl_s
grl_e= icfes_f.groupby(by=["VICTIMA", "GRUPO_ETCNI"]).aggregate({"PUNT_GLOBAL": [np.mean, np.size, np.var]})#, np.max, np.min, np.mean, np.std]})
grl_e

                    PUNT_GLOBAL
                           mean    size           var
VICTIMA GRUPO_ETCNI
0       0.0          252.615404  412617   2562.410709
        1.0          213.418259   13133   1916.118299
        2.0          215.138289    8193   1851.528115
        3.0          283.500000       2     40.500000
        4.0          225.227273      22   2402.564935
        5.0          223.311224     196   1862.430848
        6.0          223.107883    6952   1873.887942
        7.0          257.333333       6   2304.666667
1       0.0          230.699022   76205   1918.284273
        1.0          206.636779    3725   1705.279152
        2.0          204.580228    7354   1377.941951
        3.0          187.000000       3    921.000000
        4.0          245.500000       2  14620.500000
        5.0          243.166667      12   1330.696970
        6.0          211.310313    4402   1405.199753
        7.0          256.500000       2   2964.500000

In [188]:
grl_e = grl_e.stack()
grl_e = grl_e.unstack(0)
grl_e

                    PUNT_GLOBAL
VICTIMA                       0             1
GRUPO_ETCNI
0.0         mean     252.615404    230.699022
            size  412617.000000  76205.000000
            var     2562.410709   1918.284273
1.0         mean     213.418259    206.636779
            size   13133.000000   3725.000000
            var     1916.118299   1705.279152
2.0         mean     215.138289    204.580228
            size    8193.000000   7354.000000
            var     1851.528115   1377.941951
3.0         mean     283.500000    187.000000
            size       2.000000      3.000000
            var       40.500000    921.000000
4.0         mean     225.227273    245.500000
            size      22.000000      2.000000
            var     2402.564935  14620.500000
5.0         mean     223.311224    243.166667
            size     196.000000     12.000000
            var     1862.430848   1330.696970
6.0         mean     223.107883    211.310313
            size    6952.000000   4402.000000
            var     1873.887942   1405.199753
7.0         mean     257.333333    256.500000
            size       6.000000      2.000000
            var     2304.666667   2964.500000

In [289]:
##crear numerador
grl_e["dif_mean"]  = grl_e[('PUNT_GLOBAL', 0)] - grl_e[('PUNT_GLOBAL', 1)]

                    PUNT_GLOBAL                     dif_mean
VICTIMA                       0             1
GRUPO_ETCNI
0.0         mean     252.615404    230.699022      21.916381
            size  412617.000000  76205.000000  336412.000000
            var     2562.410709   1918.284273     644.126435
1.0         mean     213.418259    206.636779       6.781481
            size   13133.000000   3725.000000    9408.000000
            var     1916.118299   1705.279152     210.839147
2.0         mean     215.138289    204.580228      10.558060
            size    8193.000000   7354.000000     839.000000
            var     1851.528115   1377.941951     473.586164
3.0         mean     283.500000    187.000000      96.500000
            size       2.000000      3.000000      -1.000000
            var       40.500000    921.000000    -880.500000
4.0         mean     225.227273    245.500000     -20.272727
            size      22.000000      2.000000      20.000000
            var     2402.564935  14620.500000  -12217.935065
5.0         mean     223.311224    243.166667     -19.855442
            size     196.000000     12.000000     184.000000
            var     1862.430848   1330.696970     531.733878
6.0         mean     223.107883    211.310313      11.797569
            size    6952.000000   4402.000000    2550.000000
            var     1873.887942   1405.199753     468.688190
7.0         mean     257.333333    256.500000       0.833333
            size       6.000000      2.000000       4.000000
            var     2304.666667   2964.500000    -659.833333

In [291]:
grl_e.loc[(0.0, 'mean'),('dif_mean', '')]

21.916381257110146

In [284]:
#grl_e.loc[(0,'mean')]
#lp= grl_e.index.to_list()
#grl_e.loc[(0.0, 'mean'):(7, 'mean')]
# for i in enumerate(grl_e.index):
#     print(i)
#print(grl_s.loc[(i,'size'),('PUNT_GLOBAL', 0)])

In [292]:
###calcular g
l2 = [0,1,2,3,4,5,6,7] 

for i in l2:
    exec("g_{} = grl_e.loc[(i, 'mean'),('dif_mean', '')] / np.sqrt((((grl_e.loc[(i,'size'), ('PUNT_GLOBAL', 1)] - 1)* grl_e.loc[(i,'var'),('PUNT_GLOBAL', 1)]) + ((grl_e.loc[(i,'size'),('PUNT_GLOBAL', 0)] - 1) * grl_e.loc[(i,'var'),('PUNT_GLOBAL', 0)])) / (grl_e.loc[(i,'size'),('PUNT_GLOBAL', 1)] + grl_e.loc[(i,'size'),('PUNT_GLOBAL', 0)] - 2))".format(i))
    exec("print(str(i) + ' ' + str(g_{}))".format(i))

0 0.44169779189045366
1 0.15684021931888534
2 0.2617107718444759
3 3.8523030830692306
4 -0.3727507735442488
5 -0.4636342192259956
6 0.2867930785958952
7 0.016958703942181512

## Grado

In [297]:
grl_g= icfes_f.groupby(by=["VICTIMA", "COLE_GRADO"]).aggregate({"PUNT_GLOBAL": [np.mean, np.size, np.var]})#, np.max, np.min, np.mean, np.std]})
grl_g

                   PUNT_GLOBAL
                          mean    size          var
VICTIMA COLE_GRADO
0       11          253.641741  405589  2559.837423
        26          214.297011   44389  1627.209611
1       11          229.771448   80870  1931.751508
        26          203.754315   10835  1252.050211

In [298]:
grl_g = grl_g.stack()
grl_g = grl_g.unstack(0)
grl_g

                   PUNT_GLOBAL
VICTIMA                      0             1
COLE_GRADO
11         mean     253.641741    229.771448
           size  405589.000000  80870.000000
           var     2559.837423   1931.751508
26         mean     214.297011    203.754315
           size   44389.000000  10835.000000
           var     1627.209611   1252.050211

In [299]:
##crear numerador
grl_g["dif_mean"]  = grl_g[('PUNT_GLOBAL', 0)] - grl_g[('PUNT_GLOBAL', 1)]

In [312]:
###calcular g
l3 = [11,26] 

for i in l3:
    exec("g_{} = grl_g.loc[(i, 'mean'),('dif_mean', '')] / np.sqrt((((grl_g.loc[(i,'size'), ('PUNT_GLOBAL', 1)] - 1)* grl_g.loc[(i,'var'),('PUNT_GLOBAL', 1)]) + ((grl_g.loc[(i,'size'),('PUNT_GLOBAL', 0)] - 1) * grl_g.loc[(i,'var'),('PUNT_GLOBAL', 0)])) / (grl_g.loc[(i,'size'),('PUNT_GLOBAL', 1)] + grl_g.loc[(i,'size'),('PUNT_GLOBAL', 0)] - 2))".format(i))
    exec("print(str(i) + ' ' + str(g_{}))".format(i))

11 0.48171980810127846
26 0.26747369330579807

## Naturaleza del colegio

In [304]:
grl_n= icfes_f.groupby(by=["VICTIMA", "COLE_NATURALEZA"]).aggregate({"PUNT_GLOBAL": [np.mean, np.size, np.var]})#, np.max, np.min, np.mean, np.std]})
grl_n

                        PUNT_GLOBAL
                               mean    size          var
VICTIMA COLE_NATURALEZA
0       NO OFICIAL       272.800632  112069  3073.131371
        OFICIAL          242.119139  337909  2215.934686
1       NO OFICIAL       233.043243    8510  2483.935608
        OFICIAL          226.048404   83195  1859.960647

In [305]:
grl_n = grl_n.stack()
grl_n = grl_n.unstack(0)
grl_n

                        PUNT_GLOBAL
VICTIMA                           0             1
COLE_NATURALEZA
NO OFICIAL      mean     272.800632    233.043243
                size  112069.000000   8510.000000
                var     3073.131371   2483.935608
OFICIAL         mean     242.119139    226.048404
                size  337909.000000  83195.000000
                var     2215.934686   1859.960647

In [310]:
grl_n.index

MultiIndex([('NO OFICIAL', 'mean'),
            ('NO OFICIAL', 'size'),
            ('NO OFICIAL',  'var'),
            (   'OFICIAL', 'mean'),
            (   'OFICIAL', 'size'),
            (   'OFICIAL',  'var')],
           names=['COLE_NATURALEZA', None])

In [311]:
##crear numerador
grl_n["dif_mean"]  = grl_n[('PUNT_GLOBAL', 0)] - grl_n[('PUNT_GLOBAL', 1)]

In [317]:
grl_n.loc[('NO OFICIAL', 'mean'),('dif_mean', '')]

39.75738851040853

In [318]:
###calcular g
l4 = ['NO OFICIAL', 'OFICIAL'] 
l5 = ['NO_OFICIAL', 'OFICIAL']

for i,j in zip(l4,l5):
    exec("g_{} = grl_n.loc[(i, 'mean'),('dif_mean', '')] / np.sqrt((((grl_n.loc[(i,'size'), ('PUNT_GLOBAL', 1)] - 1)* grl_n.loc[(i,'var'),('PUNT_GLOBAL', 1)]) + ((grl_n.loc[(i,'size'),('PUNT_GLOBAL', 0)] - 1) * grl_n.loc[(i,'var'),('PUNT_GLOBAL', 0)])) / (grl_n.loc[(i,'size'),('PUNT_GLOBAL', 1)] + grl_n.loc[(i,'size'),('PUNT_GLOBAL', 0)] - 2))".format(j))
    exec("print(j + ' ' + str(g_{}))".format(j))

NO_OFICIAL 0.7220799889909494
OFICIAL 0.34694495471947184

In [ ]:
## gENERO DEL COLEGIO

In [328]:
grl_gro= icfes_f.groupby(by=["VICTIMA", "COLE_GENERO"]).aggregate({"PUNT_GLOBAL": [np.mean, np.size, np.var]})#, np.max, np.min, np.mean, np.std]})
grl_gro

                    PUNT_GLOBAL
                           mean    size          var
VICTIMA COLE_GENERO
0       FEMENINO     282.179975   11835  2241.113119
        MASCULINO    296.932464    3835  2846.827206
        MIXTO        248.460526  434308  2563.305372
1       FEMENINO     242.372800    1250  2274.475801
        MASCULINO    227.011070     271  1864.714692
        MIXTO        226.479298   90184  1913.834684

In [329]:
grl_gro = grl_gro.stack()
grl_gro = grl_gro.unstack(0)
grl_gro

                    PUNT_GLOBAL
VICTIMA                       0             1
COLE_GENERO
FEMENINO    mean     282.179975    242.372800
            size   11835.000000   1250.000000
            var     2241.113119   2274.475801
MASCULINO   mean     296.932464    227.011070
            size    3835.000000    271.000000
            var     2846.827206   1864.714692
MIXTO       mean     248.460526    226.479298
            size  434308.000000  90184.000000
            var     2563.305372   1913.834684

In [330]:
##crear numerador
grl_gro["dif_mean"]  = grl_gro[('PUNT_GLOBAL', 0)] - grl_gro[('PUNT_GLOBAL', 1)]

In [331]:
###calcular g
l7 = ['FEMENINO', 'MASCULINO', 'MIXTO'] 

for i in l7:
    exec("g_{} = grl_gro.loc[(i, 'mean'),('dif_mean', '')] / np.sqrt((((grl_gro.loc[(i,'size'), ('PUNT_GLOBAL', 1)] - 1)* grl_gro.loc[(i,'var'),('PUNT_GLOBAL', 1)]) + ((grl_gro.loc[(i,'size'),('PUNT_GLOBAL', 0)] - 1) * grl_gro.loc[(i,'var'),('PUNT_GLOBAL', 0)])) / (grl_gro.loc[(i,'size'),('PUNT_GLOBAL', 1)] + grl_gro.loc[(i,'size'),('PUNT_GLOBAL', 0)] - 2))".format(i))
    exec("print(i + ' ' + str(g_{}))".format(i))

FEMENINO 0.8402742923689344
MASCULINO 1.3256069436753226
MIXTO 0.44393996915130474

## Discapacidad física

In [322]:
grl_df= icfes_f.groupby(by=["VICTIMA", "ESTU_DISC_FISICA"]).aggregate({"PUNT_GLOBAL": [np.mean, np.size, np.var]})#, np.max, np.min, np.mean, np.std]})
grl_df

                         PUNT_GLOBAL
                                mean size          var
VICTIMA ESTU_DISC_FISICA
0       x                 229.786307  482  2606.201642
1       x                 220.929412   85  1935.137815

In [323]:
grl_df = grl_df.stack()
grl_df = grl_df.unstack(0)
grl_df

                       PUNT_GLOBAL
VICTIMA                          0            1
ESTU_DISC_FISICA
x                mean   229.786307   220.929412
                 size   482.000000    85.000000
                 var   2606.201642  1935.137815

In [324]:
##crear numerador
grl_df["dif_mean"]  = grl_df[('PUNT_GLOBAL', 0)] - grl_df[('PUNT_GLOBAL', 1)]

In [326]:
###calcular g
l6 = ['x'] 

for i in l6:
    exec("g_{} = grl_df.loc[(i, 'mean'),('dif_mean', '')] / np.sqrt((((grl_df.loc[(i,'size'), ('PUNT_GLOBAL', 1)] - 1)* grl_df.loc[(i,'var'),('PUNT_GLOBAL', 1)]) + ((grl_df.loc[(i,'size'),('PUNT_GLOBAL', 0)] - 1) * grl_df.loc[(i,'var'),('PUNT_GLOBAL', 0)])) / (grl_df.loc[(i,'size'),('PUNT_GLOBAL', 1)] + grl_df.loc[(i,'size'),('PUNT_GLOBAL', 0)] - 2))".format(i))
    exec("print(i + ' ' + str(g_{}))".format(i))

x 0.17691044397764238

## Zona de ubicación

In [337]:
grl_z= icfes_f.groupby(by=["VICTIMA", "COLE_AREA_UBICACION"]).aggregate({"PUNT_GLOBAL": [np.mean, np.size, np.var]})#, np.max, np.min, np.mean, np.std]})
grl_z

                            PUNT_GLOBAL
                                   mean    size          var
VICTIMA COLE_AREA_UBICACION
0       RURAL                227.802327   67384  2226.003487
        URBANO               253.627861  382594  2572.438439
1       RURAL                214.248357   22669  1593.642039
        URBANO               230.785373   69036  1962.186208

In [338]:
grl_z = grl_z.stack()
grl_z = grl_z.unstack(0)
grl_z

                            PUNT_GLOBAL
VICTIMA                               0             1
COLE_AREA_UBICACION
RURAL               mean     227.802327    214.248357
                    size   67384.000000  22669.000000
                    var     2226.003487   1593.642039
URBANO              mean     253.627861    230.785373
                    size  382594.000000  69036.000000
                    var     2572.438439   1962.186208

In [339]:
##crear numerador
grl_z["dif_mean"]  = grl_z[('PUNT_GLOBAL', 0)] - grl_z[('PUNT_GLOBAL', 1)]

In [340]:
###calcular g
l7 = ['URBANO', 'RURAL'] 

for i in l7:
    exec("g_{} = grl_z.loc[(i, 'mean'),('dif_mean', '')] / np.sqrt((((grl_z.loc[(i,'size'), ('PUNT_GLOBAL', 1)] - 1)* grl_z.loc[(i,'var'),('PUNT_GLOBAL', 1)]) + ((grl_z.loc[(i,'size'),('PUNT_GLOBAL', 0)] - 1) * grl_z.loc[(i,'var'),('PUNT_GLOBAL', 0)])) / (grl_z.loc[(i,'size'),('PUNT_GLOBAL', 1)] + grl_z.loc[(i,'size'),('PUNT_GLOBAL', 0)] - 2))".format(i))
    exec("print(i + ' ' + str(g_{}))".format(i))

URBANO 0.45876623810427797
RURAL 0.2981363232056293

## Departamentos

In [104]:
### eliminar espacios blanco para cada departamentos
icfes_f["COLE_DEPTO_UBICACION_TRIM"]= icfes_f["COLE_DEPTO_UBICACION"].replace(' ', '', regex =True)

In [105]:
grl_dpto= icfes_f.groupby(by=["VICTIMA", "COLE_DEPTO_UBICACION_TRIM"]).aggregate({"PUNT_GLOBAL": [np.mean, np.size, np.var]})#, np.max, np.min, np.mean, np.std]})
grl_dpto

                                  PUNT_GLOBAL
                                         mean   size          var
VICTIMA COLE_DEPTO_UBICACION_TRIM
0       AMAZONAS                   213.053846    650  1910.017127
        ANTIOQUIA                  249.899848  54577  2643.334370
        ARAUCA                     237.966767   1986  2197.395369
        ATLANTICO                  241.602891  29541  2664.536036
        BOGOTÁ                     267.046899  76356  2398.769184
...                                       ...    ...          ...
1       SUCRE                      224.774911   3914  1905.093457
        TOLIMA                     229.227570   2597  1689.904663
        VALLE                      224.968690   6803  1891.360237
        VAUPES                     219.476190     84  1202.083764
        VICHADA                    221.178947     95  1834.701680

[66 rows x 3 columns]

In [106]:
grl_dpto = grl_dpto.stack()
grl_dpto = grl_dpto.unstack(0)
grl_dpto

                                 PUNT_GLOBAL
VICTIMA                                    0             1
COLE_DEPTO_UBICACION_TRIM
AMAZONAS                  mean    213.053846    223.444444
                          size    650.000000     27.000000
                          var    1910.017127   1701.333333
ANTIOQUIA                 mean    249.899848    225.619085
                          size  54577.000000  18004.000000
...                                      ...           ...
VAUPES                    size    306.000000     84.000000
                          var    1673.713747   1202.083764
VICHADA                   mean    218.510597    221.178947
                          size    519.000000     95.000000
                          var    2134.543806   1834.701680

[99 rows x 2 columns]

In [107]:
##crear numerador
grl_dpto["dif_mean"]  = grl_dpto[('PUNT_GLOBAL', 0)] - grl_dpto[('PUNT_GLOBAL', 1)]

In [108]:
# convertir categorías en listas para recorrerlas
#l8 = icfes_f["COLE_DEPTO_UBICACION"].replace(' ', '', regex =True).value_counts().index.to_list() 
l8 = icfes_f["COLE_DEPTO_UBICACION_TRIM"].value_counts().index.to_list()

In [109]:
###calcular g
for i in l8:
    exec("g_{} = grl_dpto.loc[(i, 'mean'),('dif_mean', '')] / np.sqrt((((grl_dpto.loc[(i,'size'), ('PUNT_GLOBAL', 1)] - 1)* grl_dpto.loc[(i,'var'),('PUNT_GLOBAL', 1)]) + ((grl_dpto.loc[(i,'size'),('PUNT_GLOBAL', 0)] - 1) * grl_dpto.loc[(i,'var'),('PUNT_GLOBAL', 0)])) / (grl_dpto.loc[(i,'size'),('PUNT_GLOBAL', 1)] + grl_dpto.loc[(i,'size'),('PUNT_GLOBAL', 0)] - 2))".format(i))
    exec("print(i + ' ' + str(g_{}))".format(i))

BOGOTÁ 0.478629018367419
ANTIOQUIA 0.4883353610754436
VALLE 0.47471781616374853
CUNDINAMARCA 0.3905823393300851
ATLANTICO 0.20965606281345078
BOLIVAR 0.1920776712944998
SANTANDER 0.38688713009960685
CORDOBA 0.21201635884200185
NARIÑO 0.6247431665488887
NORTESANTANDER 0.4025686389662108
TOLIMA 0.2702209302790968
MAGDALENA 0.3056832169421139
BOYACA 0.3925147386694157
HUILA 0.22316077297999817
CAUCA 0.1708909361056205
CESAR 0.28040538740691107
META 0.3854732972159484
SUCRE 0.23353169301362428
CALDAS 0.30460589499606266
RISARALDA 0.4520751883954432
LAGUAJIRA 0.030655400231657387
QUINDIO 0.45133742343277944
CASANARE 0.17351591291300525
CHOCO 0.3517287494051003
PUTUMAYO 0.12976777895592403
CAQUETA 0.21492289860375902
ARAUCA 0.12592097043590228
GUAVIARE 0.24099122414205687
AMAZONAS -0.23825263003746266
VICHADA -0.0583884093305097
SANANDRES 0.38237539112664837
VAUPES -0.3633699298886584
GUAINIA -0.23460500986185237

## Municipios > 3 vic y no víctimas

In [110]:
### eliminar espacios blanco, guiones, puntos para cada municipio
icfes_f["COLE_MCPIO_UBICACION_TRIM"]= icfes_f["COLE_MCPIO_UBICACION"].replace("[' '-.]", '', regex =True)
#icfes_f["COLE_MCPIO_UBICACION_TRIM"]= icfes_f["COLE_MCPIO_UBICACION_TRIM"].replace('-', '', regex =True)

In [ ]:
###agrupar para crear nuevas variables a partir de valores de una variable
# data = data.groupby(['type', 'status', 'name'])['value'].agg(
#     [('one',  np.mean), 
#     ('two', lambda value: 100* ((value>32).sum() / reading.mean())), 
#     ('test2', lambda value: 100* ((value > 45).sum() / value.mean()))])

In [111]:
grl_mun= icfes_f.groupby(by=["VICTIMA", "COLE_MCPIO_UBICACION_TRIM"]).aggregate({"PUNT_GLOBAL": [np.mean, np.size, np.var]})
grl_mun

                                  PUNT_GLOBAL
                                         mean size          var
VICTIMA COLE_MCPIO_UBICACION_TRIM
0       ABEJORRAL                  247.356589  129  2047.824976
        ABRIAQUÍ                   229.400000    5  1419.300000
        ACACÍAS                    253.824499  849  1993.227418
        ACANDÍ                     201.666667   15  1352.952381
        ACEVEDO                    231.200680  294  1641.758225
...                                       ...  ...          ...
1       ZIPAQUIRÁ                  250.500000   30  2043.224138
        ZONABANANERA               200.781818  330  1012.262282
        ÁBREGO                     247.122807   57  1036.359649
        ÍQUIRA                     227.333333   24  2856.753623
        ÚTICA                      250.750000   12  1298.568182

[1999 rows x 3 columns]

In [112]:
msk_1 = grl_mun[('PUNT_GLOBAL', 'size')] > 3
grl_mun1 = grl_mun[msk_1==True]

In [113]:
grl_mun1 = grl_mun1.stack()
grl_mun2 = grl_mun1.unstack(0)
grl_mun2

                                PUNT_GLOBAL
VICTIMA                                   0            1
COLE_MCPIO_UBICACION_TRIM
ABEJORRAL                 mean   247.356589   241.652174
                          size   129.000000    69.000000
                          var   2047.824976  2385.112532
ABRIAQUÍ                  mean   229.400000   221.600000
                          size     5.000000    10.000000
...                                     ...          ...
HACARÍ                    size          NaN    42.000000
                          var           NaN  1049.879791
RECETOR                   mean          NaN   230.250000
                          size          NaN     8.000000
                          var           NaN   784.500000

[3090 rows x 2 columns]

In [114]:
##crear numerador
grl_mun2["dif_mean"]  = grl_mun2[('PUNT_GLOBAL', 0)] - grl_mun2[('PUNT_GLOBAL', 1)]

In [115]:
##contar nulos
grl_mun2[('PUNT_GLOBAL', 1)].isna().sum()

525

In [116]:
#reemplazar nulos en víctimas
grl_mun2[('PUNT_GLOBAL', 1)] = pd.Series(grl_mun2[('PUNT_GLOBAL', 1)], dtype = "int").replace(np.nan, -1)

In [117]:
#reemplazar nulos en no víctimas víctimas
grl_mun2[('PUNT_GLOBAL', 0)] = pd.Series(grl_mun2[('PUNT_GLOBAL', 0)], dtype = "int").replace(np.nan, -1)

In [118]:
### eliminar nulos
msk_2 = (grl_mun2[('PUNT_GLOBAL', 0)] != -1) & (grl_mun2[('PUNT_GLOBAL', 1)] != -1)
grl_mun3 = grl_mun2[msk_2==True]

In [119]:
##contar nulos
grl_mun3[('PUNT_GLOBAL', 0)].isna().sum()

0

In [120]:
grl_mun3

                                PUNT_GLOBAL                 dif_mean
VICTIMA                                   0            1
COLE_MCPIO_UBICACION_TRIM
ABEJORRAL                 mean   247.356589   241.652174    5.704415
                          size   129.000000    69.000000   60.000000
                          var   2047.824976  2385.112532 -337.287556
ABRIAQUÍ                  mean   229.400000   221.600000    7.800000
                          size     5.000000    10.000000   -5.000000
...                                     ...          ...         ...
ÍQUIRA                    size    90.000000    24.000000   66.000000
                          var   2981.657928  2856.753623  124.904304
ÚTICA                     mean   231.837209   250.750000  -18.912791
                          size    43.000000    12.000000   31.000000
                          var    997.330011  1298.568182 -301.238171

[2559 rows x 3 columns]

In [121]:
grl_mun4 = grl_mun3.reset_index()

In [122]:
grl_mun4.columns

MultiIndex([('COLE_MCPIO_UBICACION_TRIM', ''),
            (                  'level_1', ''),
            (              'PUNT_GLOBAL',  0),
            (              'PUNT_GLOBAL',  1),
            (                 'dif_mean', '')],
           names=[None, 'VICTIMA'])

In [123]:
# convertir categorías en listas para recorrerlas
l9 = grl_mun4[('COLE_MCPIO_UBICACION_TRIM', '')].value_counts().index.to_list()

In [124]:
###calcular g
for i in l9:
    exec("g_{} = grl_mun3.loc[(i, 'mean'),('dif_mean', '')] / np.sqrt((((grl_mun3.loc[(i,'size'), ('PUNT_GLOBAL', 1)] - 1)* grl_mun3.loc[(i,'var'),('PUNT_GLOBAL', 1)]) + ((grl_mun3.loc[(i,'size'),('PUNT_GLOBAL', 0)] - 1) * grl_mun3.loc[(i,'var'),('PUNT_GLOBAL', 0)])) / (grl_mun3.loc[(i,'size'),('PUNT_GLOBAL', 1)] + grl_mun3.loc[(i,'size'),('PUNT_GLOBAL', 0)] - 2))".format(i))
    exec("print(i + ' ' + str(g_{}))".format(i))

ABEJORRAL 0.12260210234987413
PUERTOSANTANDER -0.23973895822601732
PUERTOTRIUNFO 0.04523313669656425
PUERTOWILCHES -0.11899687851116904
PULÍ 0.7718662477180577
PUPIALES 0.26757689342407176
PURACÉ -0.3253651762267519
PURIFICACIÓN 0.11301807455340726
PURÍSIMADELACONCEPCIÓN -0.051057267001094114
PÁCORA 0.8691163929341256
PÁEZ -0.3993508000341331
QUEBRADANEGRA 0.019619456704264963
QUETAME 0.09083721339356578
QUIBDÓ 0.36300509642862033
QUIMBAYA 0.5650095127009029
QUINCHÍA -0.044017472900583665
QUIPILE 0.15564044629498963
RAGONVALIA 1.2661091621179985
RAMIRIQUÍ -0.2698763268611427
REGIDOR 0.6889620654476356
REMEDIOS 0.11945508186140613
REMOLINO -0.14102206921152508
REPELÓN 0.02215806873562722
RESTREPO 0.20019705560345138
RETIRO 0.48757418922107815
PUERTOTEJADA 0.13684291278364452
PUERTOSALGAR 0.24241230866721625
PROVIDENCIA -0.5172795377635188
PUERTORONDÓN 0.05354282685689764
PUEBLONUEVO -0.018994071542600376
PUEBLORICO 0.4010998922251247
PUEBLORRICO 0.07035733731845852
PUEBLOVIEJO -0.0999903416896127
PUENTENACIONAL 0.2212028905381518
PUERRES 0.016420499158773496
PUERTOASÍS 0.17432404241400315
PUERTOBERRÍO 0.0987813340013315
PUERTOBOYACÁ 0.2538485556633881
PUERTOCAICEDO -0.09478214293720344
PUERTOCARREÑO 0.2866966851259024
PUERTOCOLOMBIA 0.43753791771490724
PUERTOCONCORDIA -0.1366977396537454
PUERTOESCONDIDO -0.016848913278144754
PUERTOGAITÁN -0.2916816363951773
PUERTOGUZMÁN -0.2428052379059726
PUERTOLEGUÍZAMO -0.04847051857949597
PUERTOLIBERTADOR 0.1760694492866375
PUERTOLLERAS 0.04635701120076059
PUERTOLÓPEZ 0.440455145240911
PUERTONARE 0.01798941929540049
PUERTOPARRA 0.17692298722859978
PUERTORICO 0.28844738054329266
RICAURTE 0.2803186604676442
RIOBLANCO -0.06002815886886489
RIOFRÍO 0.01290760159293875
RIOHACHA 0.31961915565290705
SAMANÁ 0.17824584785344766
SAMPUÉS 0.12051793869216072
SANAGUSTÍN 0.20833877491480657
SANALBERTO -0.051265380973466654
SANANDRÉS 0.2387844861125912
SANANDRÉSDECUERQUÍA 0.33879685332580206
SANANDRÉSDESOTAVENTO 0.2778719581961471
SANANDRÉSDETUMACO 0.35721929177858885
SANANTERO -0.2701999161582628
SANANTONIO -0.015710021463502002
SANANTONIODELTEQUENDAMA 0.5934652091682617
SANBENITOABAD -0.028775923231526356
SANBERNARDO -0.04290939243818672
SANBERNARDODELVIENTO 0.1345233158085453
SANCALIXTO -0.1153497464242269
SANCARLOS -0.14632097565963406
SANCARLOSDEGUAROA -0.14341388564569307
SANCAYETANO -0.19886710761889678
SANCRISTÓBAL -0.3953653169885398
SANDIEGO 0.4946568387093569
SANDONÁ 0.23408222278774843
SANESTANISLAO -0.5059384690083424
SANFRANCISCO 0.07177834495117424
SAMANIEGO 0.1965630934239204
SALGAR 0.16825903848896642
SALENTO 0.5224987445701644
RÍOIRÓ -0.1976217691788362
RIONEGRO 0.28163127180420683
RIOSUCIO 0.7310325353369368
RISARALDA -0.27755504865392505
RIVERA 0.2499136639313379
ROBERTOPAYÁN -0.19164207215997167
ROLDANILLO 0.29478999993401545
RONCESVALLES 0.2744215569897005
ROSAS 0.36202589683213765
ROVIRA 0.2308628114969739
RÍODEORO 0.08116766468115266
RÍOQUITO 0.6266827623133726
SALDAÑA -0.3073603480616919
RÍOVIEJO 0.15985970302893865
SABANADETORRES 0.2584717819910955
SABANAGRANDE 0.30604353249931443
SABANALARGA -0.004828534538521396
SABANASDESANÁNGEL -0.02199331790720354
SABANETA 0.3135176831578441
SAHAGÚN 0.22018651885294147
SALADOBLANCO 0.263052762260723
SALAMINA 0.9054140378067952
SALAZAR -0.22121468405437072
PUEBLOBELLO 0.2562681622480106
PRADO -0.1259645165108182
MEDIOBAUDÓ -0.1118324495380729
MURINDÓ -0.0021446434744377143
MUZO 0.5595287973879693
MÁLAGA 0.10205968460075554
NARIÑO 0.014602630376913771
NATAGAIMA 0.16485363593626226
NECHÍ 0.16627446079222344
NECOCLÍ 0.20688944646738314
NEIRA 0.23473024101722656
NEIVA 0.3249226655197614
NEMOCÓN 0.7021814593212443
NILO 0.3221233509459594
NOCAIMA 0.3693395377034552
NORCASIA -0.10242876701127442
NOROSÍ 0.9825214698474607
NUEVAGRANADA 0.0731468835216273
NUNCHÍA -0.04489225783226821
NUQUÍ 0.12291211756357152
NÁTAGA 0.043939727918140686
NÓVITA -0.37142789806456367
OBANDO 0.17753057740096517
OCAÑA 0.3181543758952818
OLAYA -0.18647439482969147
OLAYAHERRERA 0.3208820931791828
OPORAPA -0.4775979790489263
MUTATÁ 0.022199444122455732
MURILLO -0.012684676698274468
PRADERA 0.38150736495394294
MOÑITOS -0.017412155818669284
MELGAR 0.3183469913376436
MERCADERES 0.2516921850650716
MESETAS 0.25431830213040835
MILÁN -0.13934853164721475
MIRAFLORES 0.6062969995504568
MIRANDA 0.24772375632919813
MISTRATÓ 0.030969037410490792
MITÚ -0.3210704376976851
MOCOA 0.37852086050502215
MOGOTES -0.10751249085719826
MOMIL 0.10645489493799601
MOMPÓS -0.01085827748512035
MONIQUIRÁ -0.2256329173293718
MONTEBELLO -0.19239667311077713
MONTECRISTO -0.44661978754005927
MONTELÍBANO 0.505914648091606
MONTENEGRO 0.2273420664790911
MONTERREY -0.04535840015013536
MONTERÍA 0.3488214222327637
MORALES 0.08728831261847497
MORELIA 0.37371068062870166
MORROA 0.33221559788364363
MOSQUERA 0.6434538858950603
ORITO -0.003886069714099917
OROCUÉ -0.1347966992340542
ORTEGA 0.21886475857105675
OTANCHE 0.3392628861533284
PEQUE 0.13129722480529987
PEREIRA 0.4651143490150007
PEÑOL 0.36726455322310636
PIAMONTE -0.08803258586749327
PIEDECUESTA 0.2493718646460995
PIEDRAS -0.20298656640403787
PIENDAMÓTUNÍA -0.0931028593430772
PIJAO 0.34980172322710407
PIJIÑODELCARMEN -0.17240290560908075
PINILLOS 0.12358736548895843
PIOJÓ -0.5231439917467201
PITAL 0.32299233969419605
PITALITO 0.3502246147136647
PIVIJAY 0.16652450598980265
PLANADAS -0.030867866880385002
PLANETARICA 0.16526822153420528
PLATO 0.015729026804273894
POLICARPA 0.266557297518244
POLONUEVO -0.23850083851248535
PONEDERA -0.02453755934620903
POPAYÁN 0.23992466799342904
PORE 0.3283617274069079
POTOSÍ 0.49585817921061776
PENSILVANIA 0.28943731817004775
PELAYA -0.1218031270804171
PEDRAZA -0.2674350602522023
PALMARDEVARELA 0.13075648274321078
OVEJAS 0.19526941996262265
PACHO 0.2372841174684298
PADILLA -0.09225655339051606
PAICOL -0.28225477991318254
PAILITAS 0.38771015965569866
PAIME -0.3013759831593426
PAIPA 0.588129447797278
PAJARITO 0.2652133543617106
PALERMO 0.23277703093756863
PALESTINA -0.1259074821242307
PALMASDELSOCORRO 0.4311023520023037
PAZDEARIPORO -0.07132246775574859
PALMIRA 0.4609791673887001
PALMITO 0.17087318489935197
PALOCABILDO 0.3563040674385422
PAMPLONA -0.19965433629056487
PAMPLONITA 0.0760691909158549
PANDI 0.31471537566434904
PARATEBUENO 0.0963826602113007
PASCA -0.017825619931476015
PASTO 0.20949771071271298
PATÍA 0.0721647963785447
SANGIL 0.6290655224505599
SANJACINTO -0.009300784819806432
SANJACINTODELCAUCA 0.35612928688152323
TORIBÍO -0.18375014068954335
TOTORÓ -0.20661102281416605
TRINIDAD -0.2480453687034501
TRUJILLO 0.22305645900945856
TUBARÁ -0.4253998013010998
TUCHÍN -0.013309721550429933
TULUÁ 0.3099464317407765
TUNJA 0.5893831126399584
TURBACO 0.24910504977383027
TURBANÁ 0.39040012523046363
TURBO 0.08923933414173263
TURMEQUÉ 0.6484740723232645
TÁMARA -0.2908269882705778
TÁMESIS 0.1574253499693225
TÚQUERRES 0.28788295980579803
UBALÁ -0.6374584466642066
ULLOA 0.2787761375416054
UNGUÍA 0.1865824919777643
UNIÓNPANAMERICANA 0.6568027801364298
URAMITA 0.4389418230982376
URIBE 0.2829879825401237
URIBIA -0.3540074229663119
URRAO 0.5564944585024248
URUMITA -0.043501249033228724
TORO 0.15253300454149737
TOPAIPÍ -0.10447878475450086
SANJERÓNIMO -0.3439358542474347
TOLÚVIEJO -0.057182665843124925
TARAZÁ 0.11929219566632313
TARQUI 0.15879868764304808
TASCO -0.15492052769821743
TAURAMENA 0.28717132368054243
TAUSA -0.05236041136711213
TELLO -0.2318773559796282
TENA 0.3540068030125374
TENERIFE 0.021906705960445156
TENJO 0.37184754985576296
TEORAMA -0.2855091035318303
TESALIA 0.2785076640690225
TIBACUY -0.8292823831937578
TIBASOSA 0.16459656339298445
TIBÚ 0.15425995834379144
TIERRALTA -0.05093811151944287
TIMANÁ -0.02096098766254684
TIMBIQUÍ 0.1586235106227945
TIMBÍO -0.1712379986122006
TIQUISIO 0.09544088299133974
TITIRIBÍ 0.49560663716668707
TOCAIMA 0.44230521172243037
TOCANCIPÁ -0.3516231423756205
TOLEDO -0.21150326347290876
USIACURÍ 0.14087881672538716
VALDIVIA -0.02335860095140226
VALENCIA 0.23071780130389422
VALLEDELGUAMUEZ 0.09874491527092877
VISTAHERMOSA 0.30138616095683296
VITERBO -0.12104524332765848
VÉLEZ -0.008302962280027557
YACOPÍ -0.1977273500874677
YACUANQUER 0.137541104029884
YALÍ -0.12011014260617472
YARUMAL 0.12144777054696536
YOLOMBÓ -0.07763555193511161
YONDÓ 0.15774013231833348
YOPAL 0.28005472312407653
YOTOCO 0.36871032429354716

YUMBO 0.23143604200676898
ZAMBRANO 0.12774411334456173
ZAPATOCA 0.06911687834860471
ZAPAYÁN 0.12600186453613088
ZARAGOZA 0.13193694987827032
ZARZAL 0.33359335558333736
ZETAQUIRA 0.17761507957488035
ZIPACÓN -0.33896013631548433
ZIPAQUIRÁ 0.49050751054325736
ZONABANANERA 0.09127492172232388
ÁBREGO -0.15566659936584543
ÍQUIRA 0.20027685750769125
VIOTÁ 0.39358726249847314
VILLETA 0.18496370549809352
VILLAVIEJA 0.1052360720533801
VILLACARO -0.16264863277295574
VALLEDESANJUAN 0.2814587953312797
VALLEDUPAR 0.36607653309083077
VALPARAÍSO 0.3908460089578905
VEGACHÍ 0.18999319942964035
VENADILLO 0.10911423446177602
VENECIA 0.06505202936405606
VERGARA 0.45341245709576056
VICTORIA 0.17365529190147674
VIGÍADELFUERTE -0.405683818310603
VIJES 0.12055739166985774
VILLADELEYVA 0.27614397781970507
VILLAVICENCIO 0.4078397185301939
VILLADELROSARIO 0.2227267167708139
VILLADESANDIEGODEUBATÉ 0.4693467831214472
VILLAGARZÓN 0.22153960776278428
VILLAGÓMEZ 0.6391177879081265
VILLAHERMOSA 0.201514521150049
VILLAMARÍA 0.14229697863735488
VILLANUEVA 0.2573028166394985
VILLAPINZÓN 0.0007168233509687596
VILLARICA -0.5507740617541437
VILLARRICA -0.658697596200504
TANGUA -0.47553846742029476
TAMINANGO 0.32735265001047453
TAME 0.10683702862291831
SANTAROSADEOSOS 0.07391087816331403
SANPEDRODECARTAGO -0.15802544109026187
SANPEDRODELOSMILAGROS -0.07836096399089539
SANPEDRODEURABÁ 0.20769116621921394
SANPELAYO 0.30304156561238094
SANRAFAEL 0.633833898301034
SANROQUE 0.11488987656218941
SANSEBASTIÁN -0.3758288580542488
SANSEBASTIÁNDEBUENAVISTA 0.19416542155919223
SANSEBASTIÁNDEMARIQUITA 0.2072006674166326
SANTAANA -0.11741371908600712
SANTABÁRBARA 0.19771312867608523
SANTABÁRBARADEPINTO -0.1453742606667946
SANTACATALINA 0.19173639131209863
SANTACRUZ -0.19164986066496434
SANTAFÉDEANTIOQUIA 0.03469004636101608
SANTAHELENADELOPÓN -0.14598217825915358
SANTAISABEL 0.1148296043432237
SANTAMARTA 0.43191024796099736
SANTAMARÍA 0.3578497219402239
SANTANA -0.5256354318179104
SANTANDERDEQUILICHAO 0.0704754869079929
SANTAROSA -0.07913976853161786
SANTAROSADECABAL 0.10146602353151837
SANPEDRO 0.04880651506160979
SANPABLODEBORBUR -0.11764187627595324
SANPABLO 0.840191785146162
SANJUANDEURABÁ 0.0034877704445492636
SANJOSÉ 0.4625709172498025
SANJOSÉDELAMONTAÑA 0.18194232967980625
SANJOSÉDELFRAGUA -0.010248658096202543
SANJOSÉDELGUAVIARE 0.32531551746222304
SANJOSÉDELPALMAR 0.350408669146853
SANJOSÉDEURÉ 0.09334621661985766
SANJUANDEARAMA 0.4920217737599663
SANJUANDEBETULIA 0.2791306943979269
SANJUANDELCESAR 0.22249097598181608
SANJUANDERIOSECO 0.21398625774545144
SANJUANITO 0.5196488058073699
SANONOFRE -0.11025867825275158
SANJUANNEPOMUCENO 0.053064142213703126
SANLORENZO -0.07180151034172692
SANLUIS -0.04376198370541681
SANLUISDEGACENO -0.15785351089317728
SANLUISDEPALENQUE 0.19033143722471196
SANLUISDESINCÉ 0.3893418466987191
SANMARCOS -0.019252032878156498
SANMARTÍN -0.015575148760008636
SANMARTÍNDELOBA 0.07589259403817546
SANMIGUEL 0.21895671474586184
SANTAROSADELSUR 0.23500224031627567
SANTAROSALÍA -0.17991966778654886
TAMALAMEQUE 0.02579049487493748
SANTIAGO 0.06030728246311195
SOGAMOSO 0.37747996918650306
SOLANO 0.14715785191038833
SOLEDAD 0.21275233295585985
SOLITA -0.23495436335389344
SONSÓN 0.5227411405148947
SOPETRÁN -0.06509068715862802
SOPLAVIENTO 0.01405831508509291
SOPÓ 0.014988102420604138
SOTARA 0.024199745669252225
SUAITA -0.2759898657089662
SUAN 0.09966762192042156
SUAZA 0.09576191443770281
SUBACHOQUE -0.0231833924456986
SUCRE 0.2724286347481124
SUESCA -0.6139885250532197
SUPATÁ 0.389786678934573
SUPÍA -0.16383617023379152
SURATÁ 0.3401739254113097
SUÁREZ 0.19072866337935346
SÁCAMA -0.624264462409378
TABIO 0.9428219821916929
TADÓ 0.1817185795247125
TALAIGUANUEVO -0.8625692498131156
SOCORRO 0.24842617985926058
SOATÁ -0.43717296386164656
SOACHA 0.3346549913117964
SASAIMA -0.41099327202746483
SANTIAGODETOLÚ 0.7255747411837893
SANTODOMINGO -0.17664908129035892
SANTOTOMÁS 0.15894279286685184
SANTUARIO 0.20649948866446471
SANVICENTEDECHUCURÍ 0.04280132645892707
SANVICENTEDELCAGUÁN -0.016881719360614673
SANVICENTEFERRER 0.551629540171776
SANZENÓN -0.323641590095376
SARAVENA 0.22867432570804236
SARDINATA 0.20268637601735223
SEGOVIA 0.23295345145761662
SITIONUEVO 0.02934389900366806
SEVILLA 0.23266232033834017
SIBATÉ 0.2635263608495804
SIBUNDOY 0.26110988463776996
SILVANIA 0.12557389089240673
SILVIA -0.21003592127630735
SIMACOTA 0.1316660536215742
SIMIJACA 1.0222614926188454
SIMITÍ 0.027815992407775415
SINCELEJO 0.39298919044474
SIPÍ -0.6294900605650545
MEDIOSANJUAN 0.8812777137002118
MEDIOATRATO -0.497216585804207
ABRIAQUÍ 0.2095279256851231
CARTAGENADELCHAIRÁ 0.11193435656935005
CASABIANCA 0.22691914903680485
CASTILLALANUEVA 0.11619079879107024
CAUCASIA 0.18554283332759505
CAÑASGORDAS 0.1459214254034816
CERETÉ 0.28670742521397025
CERRITO 0.1975277289886163
CERRODESANANTONIO 0.13041879447311241
CHACHAGÜÍ 0.3356260316898032
CHAGUANÍ 0.20075244987281227
CHALÁN -1.142073956726666
CHAPARRAL -0.094470590002333
CHARALÁ 0.039159325516987156
CHIGORODÓ 0.2226974652587034
CHIMICHAGUA 0.11952632680242263
CHIMÁ -0.03198501677224687
CHINCHINÁ -0.0315207175266406
CHINÁCOTA -0.18743827632402568
CHINÚ 0.17614745280462693
CHIQUINQUIRÁ 0.4230060662094615
CHIRIGUANÁ 0.010603978465228875
CHISCAS 0.43731279745680374
CHIVOLO 0.07338029320871074
CHOCONTÁ 0.5940724336078621
CARTAGO 0.2317218192407654
CARTAGENADEINDIAS 0.13650771657934035
CAICEDONIA 0.2531140949514177
CAROLINA -0.10815350527126877
CAJAMARCA 0.30956566917708367
CAJIBÍO 0.008773289881277098
CAJICÁ 0.5035774256773156
CALAMAR -0.4867685162980306
CALARCÁ 0.3208317120789934
CALDAS 0.3890707391887959
CALDONO -0.5037093149867191
CALI 0.3888813764773378
CALIMA 0.19404935778076277
CALOTO -0.06312243562265676
CAMPAMENTO 0.08989572031915696
CAMPOALEGRE 0.14510623100785594
CAMPODELACRUZ 0.3766466628583054
CAMPOHERMOSO 0.45250157901347715
CANALETE 0.2010020320145624
CANDELARIA 0.045513494318610286
CANTAGALLO 0.2940067719243644
CAPARRAPÍ 0.2746101972126879
CARACOLÍ 0.20835603505580277
CARAMANTA 0.3885501447875385
CAREPA 0.5319757249213206
CARMENDEAPICALÁ 0.1813267812029324
CARMENDELDARIÉN 0.6308289502603627
CHÁMEZA -0.192447111151596
CHÍA 0.6072436413428834
CICUCO 0.012368706024964553
CIMITARRA -0.11098275778058518
CRAVONORTE -0.7694019480245528
CUASPÚD -0.01162943905895676
CUBARRAL 0.22972987775524198
CUBARÁ -0.8040879158742342
CUCUTILLA 0.4675060354578114
CUMARAL 0.14938508798491457
CUMARIBO -0.2563694343867089
CUMBAL 0.13054851390042896
CUMBITARA 0.4294146512649517
CUNDAY 0.0033938301268971486
CURILLO 0.06321734677828793
CURUMANÍ 0.036376550128572695
CÁCERES 0.022523564284534444
CÁCHIRA -0.37061201765883317
CÁQUEZA -0.18342761694965365
CÉRTEGUI -0.5010530571712815
CÓRDOBA 0.3034885094352319
CÚCUTA 0.3636889578306138
DABEIBA 0.18846907302248583
DAGUA 0.15455270309459468
DIBULLA -0.3171776764050341
DISTRACCIÓN 0.45354408015606623
DOLORES -0.039901566156459234
COYAIMA 0.09367418176603462
COVEÑAS 0.11662906855988023
COTORRA -0.21227916768315933
COLÓN 0.10962456098432283
CIRCASIA -0.14645957431807058
CISNEROS 0.02639735729335842
CIUDADBOLÍVAR 0.21370090799308566
CIÉNAGA 0.3662848820107426
CIÉNAGADEORO 0.05062346154039581
CLEMENCIA -0.3783933786540628
COCORNÁ 0.5207161714580224
COGUA -0.44925272239632624
COLOMBIA 0.07101516670182412
COLOSÓ 0.44677207637458205
CONCEPCIÓN 0.15922465306861608
COTA 1.0743694247921458
CONCORDIA 0.02674951253904219
CONDOTO 0.1601609364676708
CONSACÁ -0.15007891744546453
CONTADERO 0.17668503687562123
CONTRATACIÓN 1.2680377451968743
CONVENCIÓN 0.19927262176526336
COPACABANA 0.158110101027888
CORINTO -0.03858738310523975
COROMORO 0.30282481308281656
COROZAL 0.22947008078999787
CAIMITO -0.040712159887077694
CAICEDO -0.17679690966207215
MEDINA 0.4066647248990069
AMALFI 0.11093117268937172
ANCUYÁ -0.1734891588492193
ANDALUCÍA 0.3043199562473223
ANDES 0.3630168959469852
ANGELÓPOLIS -0.1037650439331157
ANGOSTURA 0.3216321595612805
ANOLAIMA 0.2626712513503524
ANORÍ 0.0729802089213513
ANSERMA 0.21640018113000856
ANSERMANUEVO 0.1406027389980799
ANZOÁTEGUI 0.19485406043717288
ANZÁ 0.1523477409861094
APARTADÓ 0.3211008818444327
APULO 0.5499304699488801
APÍA 0.23579623846084743
ARACATACA 0.13879338502335367
ARANZAZU 0.21731481557582083
ARAUCA 0.2753738599923222
ARAUQUITA 0.0243228937902616
ARBELÁEZ 0.5326271657183046
ARBOLEDA 0.020037869890478514
ARBOLEDAS 0.22070868156949933
ARBOLETES 0.09164947424112577
ARENAL 0.08442283394905956
ANAPOIMA 0.3499687466252593
AMAGÁ -0.1924549367243682
CACHIPAY -0.04984996491257135
ALVARADO -0.07771729436532121
ACACÍAS 0.20793822371863216
ACANDÍ 0.038174817539912684
ACEVEDO 0.11497934101738906
ACHÍ 0.10702048518787492
AGRADO -0.6051123465150392
AGUACHICA 0.3415010236246424
AGUADAS 0.1802372773521747
AGUADEDIOS 0.7029534762872658
AGUAZUL 0.306348842156739
AGUSTÍNCODAZZI 0.08089084850847605
AIPE 0.1443240115107636
ALBANIA 0.04250161659502537
ALBÁN -0.2325409551698639
ALCALÁ 0.2993716728905658
ALDANA -0.15167260687529244
ALEJANDRÍA 0.31106697006182255
ALGARROBO -0.1060661217209741
ALGECIRAS -0.059822588340003986
ALMAGUER -0.26143861862485496
ALPUJARRA 0.31914750942835085
ALTAMIRA 0.4083940346591217
ALTOBAUDÓ -0.470350237555903
ALTOSDELROSARIO 0.689732372818475
ARGELIA -0.05344645663370239
ARIGUANÍ 0.048009483124581684
ARJONA 0.10635613902447831
ARMENIA 0.5715395608159514
BELÉN 0.3064020876352417
BELÉNDEBAJIRÁ 0.2575427916355758
BELÉNDELOSANDAQUÍES 0.19398213491716773
BELÉNDEUMBRÍA -0.06177983784182787
BETANIA 0.25817254695366865
BETULIA 0.20696552973174967
BOCHALEMA -0.2734090641577876
BOGOTÁDC 0.478629018367419
BOJACÁ -0.2877403496837158
BOJAYÁ -0.14340087757035017
BOLÍVAR 0.13785976924289117
BOSCONIA 0.22927306100665776
BRICEÑO 0.16187051516641526
BUCARAMANGA 0.514252986994204
BUCARASICA -0.06653464107029888
BUENAVENTURA 0.5070538363189705
BUENAVISTA 0.224812012027216
BUENOSAIRES -0.04557653156621649
BUESACO 0.29837073855075863
BUGALAGRANDE 0.32785530020622644
BURITICÁ 0.29758927861784046
CABRERA 0.729091110917194
CABUYARO -0.6168354117753089
BELTRÁN -0.03720801841946159
BELMIRA -0.4728954051164583
BELLO 0.3104453260159824
BARANOA 0.08766178368050642
ARMERO 0.30151948642034926
ARROYOHONDO -0.2346555520378763
ASTREA 0.3398092080948643
ATACO 0.16827166496153115
ATRATO -0.048552289467987966
AYAPEL 0.17486988674569465

BAGADÓ -0.16259748936807872
BAHÍASOLANO 0.06688249128668217
BAJOBAUDÓ -0.13355027614042908
BALBOA -0.23058696209208843
BARAYA 0.2969856944726632
BELALCÁZAR -0.06900170920775951
BARBACOAS 0.00986041030608381
BARBOSA 0.28306494005304866
BARICHARA 0.6236911177869298
BARRANCABERMEJA 0.5156519527316566
BARRANCADEUPÍA 0.05612654137918328
BARRANCAS 0.11680833806086315
BARRANCODELOBA -0.01214650129431723
BARRANCOMINAS -0.5237935695675723
BARRANQUILLA 0.26744143644912716
BECERRIL 0.07185935288219826
DONMATÍAS -0.14466832753981645
DOSQUEBRADAS 0.37001411943732915
DUITAMA 0.5756457021272229
LABELLEZA 0.1288231474191555
LACALERA 0.19952681661653204
LACEJA 0.30465435371076866
LACELIA 0.22366314715548616
LACRUZ -0.12350063897158839
LACUMBRE 0.10414101790904387
LADORADA 0.1130900179753368
LAESPERANZA -0.04855347082154645
LAESTRELLA 0.11244000812925539
LAFLORIDA 0.498284281325509
LAGLORIA 0.03193506537475017
LAJAGUADEIBIRICO 0.10058165580847538
LAJAGUADELPILAR 0.03855429403965072
LALLANADA -0.06271553821984867
LAMACARENA -0.05287614629511885
LAMERCED 0.07778161247076129
LAMESA -0.0717486826897239
LAMONTAÑITA -0.20554972611513614
LANDÁZURI 0.3123586371628675
LAPALMA -0.24680197275098392
LAPAZ 0.06787182779073786
LAPEÑA 0.09229448188893606
LAPINTADA 0.25867167673768093
LAPLATA 0.19648084742803967
LABRANZAGRANDE 0.7182149257461777
LABATECA 0.06798096873379246
DURANIA 0.2316121026270476
LAARGENTINA 0.1640242206105015
HERVEO 0.2007184535826127
HISPANIA 0.3095093459017637
HOBO -0.8544983073931328
HONDA -0.1235008690908421
IBAGUÉ 0.417541396020525
ICONONZO 0.1498096149097914
ILES -0.029729809691689382
IMUÉS 0.1477344689802877
INZÁ -0.1349687359234822
INÍRIDA 0.015424908721508361
IPIALES 0.38357595826041285
ISNOS -0.22484502630895598
ISTMINA 0.5801681643799533
ITAGÜÍ 0.33964424730786813
ITUANGO 0.2783643984354436
JAMBALÓ -0.06367475355537144
JAMUNDÍ 0.14875140732489797
JARDÍN 0.2517341540986253
JERICÓ -0.26983456567132696
JESÚSMARÍA 0.08611788512567574
JUANDEACOSTA 0.6275931460557437
JURADÓ -0.1368837704190621
LAAPARTADA 0.29107596746686437
LAPLAYA 0.5033179356395173
LAPRIMAVERA -0.23063269761502306
LASALINA 0.26284687778743515
LASIERRA 0.2647476618211354
MAGÜÍ -0.14476159484788248
MAHATES -0.01873722000251983
MAICAO 0.005357984230493543
MAJAGUAL -0.02254539056197815
MALAMBO -0.038575762746064134
MALLAMA 0.33442764855456797
MANATÍ -0.1111786577720363
MANAURE -0.5911730568271425
MANAUREBALCÓNDELCESAR 0.2801705518306744
MANIZALES 0.48214770018706943
MANZANARES -0.007399014999906368
MANÍ -0.21294907876817862
MAPIRIPÁN -0.009691936770094656
MARGARITA 0.0890020862108051
MARINILLA 0.17259093624415886
MARIPÍ -0.19664756389677646
MARMATO -0.4270674575113357
MARQUETALIA 0.02561673500646205
MARSELLA 0.3370970087130239
MARULANDA 0.36112515993852956
MARÍALABAJA 0.13662759793781157
MATANZA -0.03290688247225646
MEDELLÍN 0.4368219107742442
MAGANGUÉ 0.09932646580550465
MADRID 0.6501470290333622
MACEO -0.08245323900191191
LIBORINA -0.16427570268020988
LATEBAIDA 0.1833625489075096
LATOLA 0.1341601354750248
LAUNIÓN 0.13146062235602454
LAVEGA 0.07495072412653297
LAVICTORIA 0.5840232933912161
LAVIRGINIA 0.012127664336979836
LEBRIJA 0.09767376203072015
LEIVA 0.08174754912319933
LEJANÍAS 0.19938847663820466
LETICIA -0.1858374506336385
LINARES -0.05371778932574621
LÓPEZDEMICAY 0.19326370752720878
LLORÓ -0.25768848471242056
LORICA 0.12160628193467563
LOSANDES 0.5355000610413423
LOSCÓRDOBAS -0.08488921194929785
LOSPALMITOS 0.28448473606596886
LOSPATIOS 0.13264285291508363
LOURDES 0.04831415257398668
LURUACO -0.08932781437570406
LÉRIDA 0.3554468769920611
LÍBANO 0.2326483343672122
HELICONIA -0.4805247758506175
HATONUEVO 0.06844822287436834
HATOCOROZAL 0.16809498259708136
FLORIDA 0.4500589819654183
ELPIÑÓN 0.12331640646536907
ELPLAYÓN -0.025767158213404258
ELRETORNO -0.018774816025687147
ELRETÉN 0.21844325548706256
ELROBLE 0.026041113689014028
ELROSAL 0.45641627728663053
ELROSARIO 0.3257528443455671
ELSANTUARIO 0.34775296081313284
ELTABLÓNDEGÓMEZ 0.17971946381510764
ELTAMBO 0.03742840557956759
ELTARRA 0.13340912439653813
ELZULIA 0.25432833024529305
ELÁGUILA 0.3383843214234003
ELÍAS 0.3719439226648839
ENCISO -0.25377064262329335
ENTRERRÍOS 0.43636837484045166
ENVIGADO 0.5684769090383742
ESPINAL 0.07886300975192484
FACATATIVÁ 0.3490965520321155
FALAN -0.05266447406841057
FILADELFIA 0.018741778223806946
FILANDIA 0.6660053447973956
FLANDES 0.13228259670881223
ELPEÑÓN 0.2249351001318032
ELPEÑOL 0.22260761500343695
ELPAUJÍL 0.16954112248176473
ELCARMENDEVIBORAL 0.2313360511764024
EBÉJICO -0.2085560671940893
ELBAGRE 0.31380637877143247
ELBANCO -0.02064619785296578
ELCAIRO 0.2932302979482833
ELCALVARIO 0.3398257470878728
ELCANTÓNDELSANPABLO -0.3199174676090163
ELCARMEN 0.13602187917841058
ELCARMENDEATRATO 0.5307194659265676
ELCARMENDEBOLÍVAR 0.041741473444657215
ELCARMENDECHUCURÍ 0.061627172324755376
ELCASTILLO 0.02270980127660062
ELPASO -0.004614484278706978
ELCERRITO 0.24648055882083778
ELCHARCO -0.16055639378051562
ELCOLEGIO -0.009963744279842748
ELCOPEY 0.4127321572004901
ELDONCELLO 0.0564730216204239
ELDORADO -0.04142041528458738
ELDOVIO 0.15001920796474358
ELGUAMO 0.07137005870147986
ELLITORALDELSANJUAN 0.06103154496834238
ELMOLINO 0.391925341271318
FLORENCIA 0.27072482982407137
FLORIDABLANCA 0.4541061615568652
HATILLODELOBA -0.23383654045306626
FONSECA 0.49494835731952214
GUACARÍ -0.038173080534785776
GUACHENÉ 0.16237546391223065
GUACHETÁ -0.2640205559201126
GUACHUCAL 1.136909379761449
GUADALAJARADEBUGA 0.13116018448872738
GUADALUPE 0.19075812846936033
GUADUAS 0.6735472120250499
GUAITARILLA 0.14818240778762273
GUALMATÁN 0.008955952139008554
GUAMAL 0.1780213694595164
GUAMO 0.0861987387985228
GUAPÍ 0.09353571327446188
GUARANDA 0.07675438253046904
GUARNE 0.6849614470159386
GUASCA 0.08899793835262179
GUATAPÉ 0.18849173219018028
GUAYABALDESÍQUIMA 0.19100886803186068
GUAYABETAL -0.08236338792659824
GUAYATÁ 0.510526995126847
GUÁTICA 0.13669290579066157
GÁMBITA -1.2701542782841861
GÉNOVA -0.04214359487393819
GÓMEZPLATA 0.14403766390308187
GRANADA 0.1859494122965991
GRAMALOTE 0.12486478767544727
GONZÁLEZ 0.08472963009519847
FÓMEQUE 0.661331925460113
FORTUL -0.21474643236056548
FRANCISCOPIZARRO 0.5857340935213357
FREDONIA -0.22487999471177228
FRESNO -0.014165851525361272
FRONTINO 0.467727787396384
FUENTEDEORO 0.22487069211591024
FUNDACIÓN 0.28772171156652726
FUNES 0.4545607616489108
FUNZA 0.3632474115438487
FUSAGASUGÁ 0.32625243222901
GACHALÁ 0.5365176721793563
GIRÓN 0.09352877339861812
GALAPA 0.1204462179001099
GALERAS 0.44758647499281856
GAMARRA -0.5473665716667766
GARAGOA 0.33272022247747285
GARZÓN 0.35583586990651295
GIGANTE 0.08139530262448363
GINEBRA 0.5152157034325227
GIRALDO -0.1497600983454043
GIRARDOT 0.31027101346582825
GIRARDOTA 0.3733718430035498
ÚTICA -0.5809425417946574