In [1]:
import pandas as pd
import numpy as np
from numpy import average
from pandas_profiling import ProfileReport
import dtale

In [2]:
import matplotlib.pyplot as plt
#import seaborn as sns
import plotly.graph_objects as go
from plotly.subplots import make_subplots 
import plotly.express as px

# Cargue de bases de datos

In [2]:
#cargue de base
primera_vuelta = pd.read_excel("D:/one_drive_unal/OneDrive - Universidad Nacional de Colombia/análisis_electoral_2022/primera_vuelta_presidencia/primera_vuelta.xlsx",  
                           sheet_name="Preconteo", header=0)

In [5]:
censo_electoral = pd.read_excel("D:/one_drive_unal/OneDrive - Universidad Nacional de Colombia/análisis_electoral_2022/Divipole_Elecciones_Congreso_13_03_2022.xlsx",
                           sheet_name="divipol", header=0)

In [9]:
censo_electoral.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12513 entries, 0 to 12512
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   dd            12513 non-null  object
 1   mm            12512 non-null  float64
 2   zz            12512 non-null  float64
 3   pp            12512 non-null  object
 4   departamento  12512 non-null  object
 5   municipio     12512 non-null  object
 6   puesto        12512 non-null  object
 7   mujeres       12513 non-null  int64
 8   hombres       12513 non-null  int64
 9   total         12513 non-null  int64
 10  mesas         12513 non-null  int64
 11  comuna        3803 non-null   object
dtypes: float64(2), int64(4), object(6)
memory usage: 1.1+ MB

In [470]:
#print(list(censo_electoral["municipio"].tail(100)))
#print(list(primera_vuelta["Municipio"].tail(100)))
censo_electoral = censo_electoral.iloc[:12512,:]
censo_electoral.tail()

,dd,mm,zz,pp,departamento,municipio,puesto,mujeres,hombres,total,mesas,comuna
12507,88,815.0,65.0,06,CONSULADOS,VENEZUELA,San Cristóbal -García de Hevia,516,520,1036,1,NaN
12508,88,815.0,65.0,07,CONSULADOS,VENEZUELA,San Cristóbal - Jauregui,70,153,223,1,NaN
12509,88,815.0,65.0,08,CONSULADOS,VENEZUELA,San Cristóbal - Torbes,171,153,324,1,NaN
12510,88,815.0,70.0,02,CONSULADOS,VENEZUELA,San Fernando de Atabapo - Consulado,271,303,574,1,NaN
12511,88,815.0,75.0,02,CONSULADOS,VENEZUELA,Valencia - Consulado,10437,9673,20110,9,NaN

In [609]:
pra_vuelta_censo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12505 entries, 0 to 12504
Data columns (total 30 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   COD_DANE                12505 non-null  object
 1   Departamento            12505 non-null  object
 2   Municipio               12505 non-null  object
 3   Zona                    12505 non-null  int64
 4   Puesto                  12505 non-null  object
 5   # Mesa                  12505 non-null  int64
 6   Sergio Fajardo          12505 non-null  int64
 7   Federico Gutiérrez      12505 non-null  int64
 8   Gustavo Petro           12505 non-null  int64
 9   John Milton Rodríguez   12505 non-null  int64
 10  Luis Pérez              12505 non-null  int64
 11  Rodolfo Hernández       12505 non-null  int64
 12  Enrique Gómez           12505 non-null  int64
 13  Ingrid Betancourt       12505 non-null  int64
 14  Tarjetones No Marcados  12505 non-null  int64
 15  Votos en blanco         12505 non-null  int64
 16  Votos nulos             12505 non-null  int64
 17  dd                      12188 non-null  object
 18  mm                      12188 non-null  float64
 19  zz                      12188 non-null  float64
 20  pp                      12188 non-null  object
 21  departamento            12188 non-null  object
 22  municipio               12188 non-null  object
 23  puesto                  12188 non-null  object
 24  mujeres                 12188 non-null  float64
 25  hombres                 12188 non-null  float64
 26  total                   12188 non-null  float64
 27  mesas                   12188 non-null  float64
 28  comuna                  3773 non-null   object
 29  indicator_column        12505 non-null  category
dtypes: category(1), float64(6), int64(13), object(10)
memory usage: 2.9+ MB

In [12]:
primera_vuelta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102149 entries, 0 to 102148
Data columns (total 18 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   COD_DANE                102149 non-null  object
 1   Departamento            102149 non-null  object
 2   Municipio               102149 non-null  object
 3   Zona                    102149 non-null  int64
 4   # Puesto                102149 non-null  object
 5   Puesto                  102149 non-null  object
 6   # Mesa                  102149 non-null  int64
 7   Sergio Fajardo          102149 non-null  int64
 8   Federico Gutiérrez      102149 non-null  int64
 9   Gustavo Petro           102149 non-null  int64
 10  John Milton Rodríguez   102149 non-null  int64
 11  Luis Pérez              102149 non-null  int64
 12  Rodolfo Hernández       102149 non-null  int64
 13  Enrique Gómez           102149 non-null  int64
 14  Ingrid Betancourt       102149 non-null  int64
 15  Tarjetones No Marcados  102149 non-null  int64
 16  Votos en blanco         102149 non-null  int64
 17  Votos nulos             102149 non-null  int64
dtypes: int64(13), object(5)
memory usage: 14.0+ MB

In [706]:
primera_vuelta[primera_vuelta["Departamento"]=="SANTANDER"][primera_vuelta["Municipio"]=="BUCARAMANGA"][primera_vuelta["Puesto"]=="AUDITORIO SENA"][primera_vuelta["# Mesa"]==4]

<ipython-input-706-27c71f82b9af>:1: UserWarning:

Boolean Series key will be reindexed to match DataFrame index.

,COD_DANE,Departamento,Municipio,Zona,# Puesto,Puesto,# Mesa,Sergio Fajardo,Federico Gutiérrez,Gustavo Petro,John Milton Rodríguez,Luis Pérez,Rodolfo Hernández,Enrique Gómez,Ingrid Betancourt,Tarjetones No Marcados,Votos en blanco,Votos nulos
59856,68001,SANTANDER,BUCARAMANGA,3,4,AUDITORIO SENA,4,6,23,20,2,0,122,0,0,0,0,2

# Modulo de Consultas

In [30]:
primera_vuelta[primera_vuelta["Municipio"]=="IBAGUE"][primera_vuelta["Puesto"]=="IE GERMAN PARDO SEDE PRINCIPAL"][primera_vuelta["# Mesa"]==21]

<ipython-input-30-78a139b8661d>:1: UserWarning:

Boolean Series key will be reindexed to match DataFrame index.

,COD_DANE,Departamento,Municipio,Zona,# Puesto,Puesto,# Mesa,Sergio Fajardo,Federico Gutiérrez,Gustavo Petro,John Milton Rodríguez,Luis Pérez,Rodolfo Hernández,Enrique Gómez,Ingrid Betancourt,Tarjetones No Marcados,Votos en blanco,Votos nulos
66219,73001,TOLIMA,IBAGUE,2,2,IE GERMAN PARDO SEDE PRINCIPAL,21,6,19,86,1,0,63,2,0,0,3,1

In [25]:
#cantidad de mesas por puesto. primera vuelta
primera_vuelta[primera_vuelta["Municipio"]=="BOGOTA. D.C."][primera_vuelta["Puesto"]=="LAS FERIAS"]["# Mesa"].count()

<ipython-input-25-73f362f44cb9>:1: UserWarning:

Boolean Series key will be reindexed to match DataFrame index.

23

In [28]:
primera_vuelta_1[primera_vuelta_1["Municipio"]=="BOGOTA. D.C."][primera_vuelta_1["Puesto"]=="LAS FERIAS"]

<ipython-input-28-c884dd50d6e3>:1: UserWarning:

Boolean Series key will be reindexed to match DataFrame index.

,COD_DANE,Departamento,Municipio,Zona,Puesto,# Mesa,Sergio Fajardo,Federico Gutiérrez,Gustavo Petro,John Milton Rodríguez,Luis Pérez,Rodolfo Hernández,Enrique Gómez,Ingrid Betancourt,Tarjetones No Marcados,Votos en blanco,Votos nulos
1932,11001,BOGOTA D.C.,BOGOTA. D.C.,10,LAS FERIAS,23,331,1058,2181,48,13,1369,12,5,1,103,69

In [10]:
##NÚMERO DE MESAS TOTALES
censo_electoral.iloc[12512,:]

dd                 TOTAL
mm                   NaN
zz                   NaN
pp                   NaN
departamento         NaN
municipio            NaN
puesto               NaN
mujeres         20031855
hombres         18788046
total           38819901
mesas             112009
comuna               NaN
Name: 12512, dtype: object

In [14]:
#NÚMERO DE MESAS EN VOTACIÓN PRIMERA VUELTA
primera_vuelta["# Mesa"].count()

102149

# Transformación base d resultados para pegue

In [26]:
primera_vuelta_1= primera_vuelta.groupby(
    ["COD_DANE","Departamento", "Municipio", "Zona", "Puesto"]).agg(
    {"# Mesa": np.size, "Sergio Fajardo":np.sum,
      "Federico Gutiérrez":np.sum,	"Gustavo Petro":np.sum, "John Milton Rodríguez":np.sum,
      "Luis Pérez":np.sum, "Rodolfo Hernández":np.sum,	"Enrique Gómez":np.sum,
      "Ingrid Betancourt":np.sum, "Tarjetones No Marcados":np.sum,
      "Votos en blanco":np.sum, "Votos nulos":np.sum}).reset_index()
#primera_vuelta.groupby(["COD_DANE","Departamento", "Municipio", "Puesto"]).sum().reset_index().tail()

In [ ]:
primera_vuelta_1.info()

In [373]:
primera_vuelta_1.head(5)

,COD_DANE,Departamento,Municipio,Zona,Puesto,# Mesa,Sergio Fajardo,Federico Gutiérrez,Gustavo Petro,John Milton Rodríguez,Luis Pérez,Rodolfo Hernández,Enrique Gómez,Ingrid Betancourt,Tarjetones No Marcados,Votos en blanco,Votos nulos
0,5001,ANTIOQUIA,MEDELLIN,1,I.E.FE Y ALEGRIA GRANIZAL,8,44,366,600,12,0,280,2,0,1,38,26
1,5001,ANTIOQUIA,MEDELLIN,1,IE ANTONIO DERKA,9,53,386,688,13,1,292,8,1,2,41,42
2,5001,ANTIOQUIA,MEDELLIN,1,IE LA AVANZADA,3,18,175,136,3,1,109,1,0,1,25,16
3,5001,ANTIOQUIA,MEDELLIN,1,IE.MARIA DE LOS ANGELES CANO MARQUEZ,20,227,1573,1357,31,10,716,13,7,19,83,110
4,5001,ANTIOQUIA,MEDELLIN,1,INST.EDUC. LA CANDELARIA,45,342,3094,2083,76,13,1379,20,5,22,252,190

In [601]:
primera_vuelta_1[primera_vuelta_1["Municipio"]=="BOGOTA. D.C."]["Gustavo Petro"].sum()

1769671

In [713]:
pra_vuelta_censo = pd.merge(left=primera_vuelta_1, right=censo_electoral, 
                            left_on=["Departamento", "Municipio", "Zona","Puesto"], #"Zona", "zz",
                            right_on=["departamento", "municipio",  "zz", "puesto"], how = 'outer', sort =False,
                            validate = '1:m', suffixes=("_resultado", "_censo"),
                            indicator = 'indicator_column')

In [ ]:
pra_vuelta_censo[pra_vuelta_censo["Municipio"]=="BOGOTA. D.C."]["Gustavo Petro"].sum()

In [617]:
pra_vuelta_censo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12505 entries, 0 to 12504
Data columns (total 30 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   COD_DANE                12505 non-null  object
 1   Departamento            12505 non-null  object
 2   Municipio               12505 non-null  object
 3   Zona                    12505 non-null  int64
 4   Puesto                  12505 non-null  object
 5   # Mesa                  12505 non-null  int64
 6   Sergio Fajardo          12505 non-null  int64
 7   Federico Gutiérrez      12505 non-null  int64
 8   Gustavo Petro           12505 non-null  int64
 9   John Milton Rodríguez   12505 non-null  int64
 10  Luis Pérez              12505 non-null  int64
 11  Rodolfo Hernández       12505 non-null  int64
 12  Enrique Gómez           12505 non-null  int64
 13  Ingrid Betancourt       12505 non-null  int64
 14  Tarjetones No Marcados  12505 non-null  int64
 15  Votos en blanco         12505 non-null  int64
 16  Votos nulos             12505 non-null  int64
 17  dd                      12188 non-null  object
 18  mm                      12188 non-null  float64
 19  zz                      12188 non-null  float64
 20  pp                      12188 non-null  object
 21  departamento            12188 non-null  object
 22  municipio               12188 non-null  object
 23  puesto                  12188 non-null  object
 24  mujeres                 12188 non-null  float64
 25  hombres                 12188 non-null  float64
 26  total                   12188 non-null  float64
 27  mesas                   12188 non-null  float64
 28  comuna                  3773 non-null   object
 29  indicator_column        12505 non-null  category
dtypes: category(1), float64(6), int64(13), object(10)
memory usage: 2.9+ MB

In [412]:
pra_vuelta_censo.head()

,COD_DANE,Departamento,Municipio,Zona,Puesto,# Mesa,Sergio Fajardo,Federico Gutiérrez,Gustavo Petro,John Milton Rodríguez,...,pp,departamento,municipio,puesto,mujeres,hombres,total,mesas,comuna,indicator_column
0,5001,ANTIOQUIA,MEDELLIN,1.0,I.E.FE Y ALEGRIA GRANIZAL,8.0,44.0,366.0,600.0,12.0,...,05,ANTIOQUIA,MEDELLIN,I.E.FE Y ALEGRIA GRANIZAL,1383.0,1223.0,2606.0,8.0,01COMUNA 1 POPULAR,both
1,5001,ANTIOQUIA,MEDELLIN,1.0,IE ANTONIO DERKA,9.0,53.0,386.0,688.0,13.0,...,08,ANTIOQUIA,MEDELLIN,IE ANTONIO DERKA,1547.0,1352.0,2899.0,9.0,01COMUNA 1 POPULAR,both
2,5001,ANTIOQUIA,MEDELLIN,1.0,IE LA AVANZADA,3.0,18.0,175.0,136.0,3.0,...,06,ANTIOQUIA,MEDELLIN,IE LA AVANZADA,609.0,403.0,1012.0,3.0,01COMUNA 1 POPULAR,both
3,5001,ANTIOQUIA,MEDELLIN,1.0,IE.MARIA DE LOS ANGELES CANO MARQUEZ,20.0,227.0,1573.0,1357.0,31.0,...,03,ANTIOQUIA,MEDELLIN,IE.MARIA DE LOS ANGELES CANO MARQUEZ,4097.0,3360.0,7457.0,22.0,01COMUNA 1 POPULAR,both
4,5001,ANTIOQUIA,MEDELLIN,1.0,INST.EDUC. LA CANDELARIA,45.0,342.0,3094.0,2083.0,76.0,...,02,ANTIOQUIA,MEDELLIN,INST.EDUC. LA CANDELARIA,11117.0,6890.0,18007.0,51.0,01COMUNA 1 POPULAR,both

In [708]:
pra_vuelta_censo[pra_vuelta_censo["Departamento"]=="SANTANDER"][pra_vuelta_censo["Municipio"]=="BUCARAMANGA"][pra_vuelta_censo["Puesto"]=="AUDITORIO SENA"]

<ipython-input-708-91b870171ba5>:1: UserWarning:

Boolean Series key will be reindexed to match DataFrame index.

,COD_DANE,Departamento,Municipio,Zona,Puesto,# Mesa,Sergio Fajardo,Federico Gutiérrez,Gustavo Petro,John Milton Rodríguez,Luis Pérez,Rodolfo Hernández,Enrique Gómez,Ingrid Betancourt,Tarjetones No Marcados,Votos en blanco,Votos nulos,dd,mm,zz,pp,departamento,municipio,puesto,mujeres,hombres,total,mesas,comuna,indicator_column
9039,68001,SANTANDER,BUCARAMANGA,3,AUDITORIO SENA,12,54,300,793,60,1,1575,5,0,0,30,7,27,1.0,3.0,04,SANTANDER,BUCARAMANGA,AUDITORIO SENA,3114.0,1196.0,4310.0,13.0,03COMUNA 3 SAN FRANCISCO,both

### Validaión de pegue

In [616]:
l1 = ["Gustavo Petro", "Rodolfo Hernández", "Sergio Fajardo","Federico Gutiérrez",
      "John Milton Rodríguez","Ingrid Betancourt","Luis Pérez"]
for i in l1:
    print(pd.to_numeric(pra_vuelta_censo[i]).sum())
print(pra_vuelta_censo["# Mesa"].sum())
print(pra_vuelta_censo["mesas"].sum())

s

8527826
5953211
888594
5058047
274251
14879
12425
102151
109881.0

In [717]:
l1 = ["Gustavo Petro", "Rodolfo Hernández", "Sergio Fajardo","Federico Gutiérrez",
      "John Milton Rodríguez","Ingrid Betancourt","Luis Pérez"]
for i in l1:
    print(pd.to_numeric(primera_vuelta_1[i]).sum())
print(primera_vuelta_1["# Mesa"].sum())
#print(primera_vuelta_1["mesas"].sum())

8527768
5953209
888585
5058010
274250
14878
12425
102149

In [364]:
#pra_vuelta_censo.head(50)
pra_vuelta_censo[pra_vuelta_censo["Municipio"]=="BOGOTA. D.C."]["Gustavo Petro"].sum()

1769671.0

In [718]:
pra_vuelta_censo["total"].sum()

TypeError: Cannot perform reduction 'sum' with string dtype

In [367]:
pra_vuelta_censo[pra_vuelta_censo["dd"]!="TOTAL"]["total"].sum()

38819901.0

In [370]:
pra_vuelta_censo[pra_vuelta_censo["Municipio"]=="AMAGA"]["Gustavo Petro"].sum()

2271.0

In [368]:
print(pra_vuelta_censo[(pra_vuelta_censo["dd"]!="TOTAL") & (pra_vuelta_censo["Municipio"]=="BOGOTA. D.C.")]["total"].sum())
bogota_1 = pra_vuelta_censo[pra_vuelta_censo["Municipio"]=="BOGOTA. D.C."]
print(bogota_1["Gustavo Petro"].sum())
#(a) electorado bogotá censo cruce con primera vuelta: 5954904
#(b) electorado bogotá en página: 5935722
#dif a y b: 19.182
#electorado total base censo electoral: 5967518
#electorado nacional  censo cruce con primera vuelta: 
#(c)electorado nacional censo cruce con primera vuelta: 37608064
#(d)electorado nacional en página: 39002239
#electorado nacional base censo electoral: 38819901
#dif c y d: 1.394.175 left; 182.338 outer

5954904.0
1769671.0

In [142]:
#print(list(censo_electoral["departamento"])) #BOGOTA D.C.
#print(list(censo_electoral["municipio"])) #BOGOTA. D.C.

# Base final para visor de datos

In [714]:
list_1= ["Zona","# Mesa", "Sergio Fajardo",
      "Federico Gutiérrez",	"Gustavo Petro", "John Milton Rodríguez",
      "Luis Pérez", "Rodolfo Hernández","Enrique Gómez",
      "Ingrid Betancourt", "Tarjetones No Marcados",
      "Votos en blanco", "Votos nulos","zz", "mm", "mujeres","hombres", "total", "mesas"]
#pra_vuelta_censo["Francia Márquez"] = round(pd.to_numeric(pra_vuelta_censo["Francia Márquez"], downcast='signed'),0)
for i in list_1:
    pra_vuelta_censo[i] = (pd.Series(pra_vuelta_censo[i], 
                                  dtype = "string").str.split('.', expand = True).get(0))

In [443]:
print(pd.to_numeric(primera_vuelta["Rodolfo Hernández"]).sum()) #5953209

5953209

In [681]:
#encontrar el registro duplicado y borrarlo
x = pra_vuelta_censo.groupby(["Departamento", "Municipio", "Zona","Puesto"]).aggregate({"Puesto": [np.size]})
mask_2 = x.iloc[:,0]>1
dupli = x[mask_2==True]
dupli

                                               Puesto
                                                 size
Departamento Municipio Zona Puesto
NARIÑO       TUMACO    99   GUACHAL LAS BRISAS      2

In [685]:
pd.options.display.max_columns = None #max_rows muestra el total de filas

In [720]:
pra_vuelta_censo[pra_vuelta_censo["Puesto"]=="GUACHAL LAS BRISAS"]

,COD_DANE,Departamento,Municipio,Zona,Puesto,# Mesa,Sergio Fajardo,Federico Gutiérrez,Gustavo Petro,John Milton Rodríguez,Luis Pérez,Rodolfo Hernández,Enrique Gómez,Ingrid Betancourt,Tarjetones No Marcados,Votos en blanco,Votos nulos,dd,mm,zz,pp,departamento,municipio,puesto,mujeres,hombres,total,mesas,comuna,indicator_column
8120,52835,NARIÑO,TUMACO,99,GUACHAL LAS BRISAS,2,9,37,58,1,0,2,0,1,0,5,0,23,139,99,44,NARIÑO,TUMACO,GUACHAL LAS BRISAS,57,68,125,1,NaN,both

In [719]:
#borrar el registro duplicado
pra_vuelta_censo = pra_vuelta_censo.drop(index = 8121)

KeyError: '[8121] not found in axis'

In [721]:
pra_vuelta_censo.to_csv("D:/one_drive_unal/OneDrive - Universidad Nacional de Colombia/análisis_electoral_2022/primera_vuelta_presidencia/result_primera_vuelta.csv", sep = ";", index=False)

### Comparar bases de datos

In [640]:
pra_vuelta_censo_1=pra_vuelta_censo.copy()
pra_vuelta_censo_1 = pra_vuelta_censo_1.iloc[:,:17]

In [653]:
primera_vuelta_2 = primera_vuelta_1.copy()
#primera_vuelta_2.loc[12504] = [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]

In [665]:
primera_vuelta_2.tail()

                                                                COD_DANE  \
Departamento Municipio Zona Puesto
CONSULADOS   VENEZUELA 65   SAN CRISTÓBAL - JAUREGUI                  --
                            SAN CRISTÓBAL - TORBES                    --
                            SAN CRISTÓBAL -GARCÍA DE HEVIA            --
                       70   SAN FERNANDO DE ATABAPO - CONSULADO       --
                       75   VALENCIA - CONSULADO                      --

                                                                 # Mesa  \
Departamento Municipio Zona Puesto
CONSULADOS   VENEZUELA 65   SAN CRISTÓBAL - JAUREGUI                  1
                            SAN CRISTÓBAL - TORBES                    1
                            SAN CRISTÓBAL -GARCÍA DE HEVIA            1
                       70   SAN FERNANDO DE ATABAPO - CONSULADO       1
                       75   VALENCIA - CONSULADO                      8

                                                                 Sergio Fajardo  \
Departamento Municipio Zona Puesto
CONSULADOS   VENEZUELA 65   SAN CRISTÓBAL - JAUREGUI                          1
                            SAN CRISTÓBAL - TORBES                            0
                            SAN CRISTÓBAL -GARCÍA DE HEVIA                    0
                       70   SAN FERNANDO DE ATABAPO - CONSULADO               0
                       75   VALENCIA - CONSULADO                              4

                                                                 Federico Gutiérrez  \
Departamento Municipio Zona Puesto
CONSULADOS   VENEZUELA 65   SAN CRISTÓBAL - JAUREGUI                              0
                            SAN CRISTÓBAL - TORBES                                0
                            SAN CRISTÓBAL -GARCÍA DE HEVIA                        1
                       70   SAN FERNANDO DE ATABAPO - CONSULADO                   2
                       75   VALENCIA - CONSULADO                                 29

                                                                 Gustavo Petro  \
Departamento Municipio Zona Puesto
CONSULADOS   VENEZUELA 65   SAN CRISTÓBAL - JAUREGUI                         1
                            SAN CRISTÓBAL - TORBES                           1
                            SAN CRISTÓBAL -GARCÍA DE HEVIA                   5
                       70   SAN FERNANDO DE ATABAPO - CONSULADO              4
                       75   VALENCIA - CONSULADO                            14

                                                                 John Milton Rodríguez  \
Departamento Municipio Zona Puesto
CONSULADOS   VENEZUELA 65   SAN CRISTÓBAL - JAUREGUI                                 0
                            SAN CRISTÓBAL - TORBES                                   0
                            SAN CRISTÓBAL -GARCÍA DE HEVIA                           0
                       70   SAN FERNANDO DE ATABAPO - CONSULADO                      1
                       75   VALENCIA - CONSULADO                                     0

                                                                 Luis Pérez  \
Departamento Municipio Zona Puesto
CONSULADOS   VENEZUELA 65   SAN CRISTÓBAL - JAUREGUI                      0
                            SAN CRISTÓBAL - TORBES                        0
                            SAN CRISTÓBAL -GARCÍA DE HEVIA                0
                       70   SAN FERNANDO DE ATABAPO - CONSULADO           0
                       75   VALENCIA - CONSULADO                          0

                                                                 Rodolfo Hernández  \
Departamento Municipio Zona Puesto
CONSULADOS   VENEZUELA 65   SAN CRISTÓBAL - JAUREGUI                             2
                            SAN CRISTÓBAL - TORBES                               5
                            SAN CRISTÓBAL -GARCÍA DE HEVIA                       6
                       70   SAN FERNANDO DE ATABAPO - CONSULADO                  2
                       75   VALENCIA - CONSULADO                                28

                                                                 Enrique Gómez  \
Departamento Municipio Zona Puesto
CONSULADOS   VENEZUELA 65   SAN CRISTÓBAL - JAUREGUI                         0
                            SAN CRISTÓBAL - TORBES                           0
                            SAN CRISTÓBAL -GARCÍA DE HEVIA                   0
                       70   SAN FERNANDO DE ATABAPO - CONSULADO              0
                       75   VALENCIA - CONSULADO                             0

                                                                 Ingrid Betancourt  \
Departamento Municipio Zona Puesto
CONSULADOS   VENEZUELA 65   SAN CRISTÓBAL - JAUREGUI                             0
                            SAN CRISTÓBAL - TORBES                               0
                            SAN CRISTÓBAL -GARCÍA DE HEVIA                       0
                       70   SAN FERNANDO DE ATABAPO - CONSULADO                  0
                       75   VALENCIA - CONSULADO                                 0

                                                                 Tarjetones No Marcados  \
Departamento Municipio Zona Puesto
CONSULADOS   VENEZUELA 65   SAN CRISTÓBAL - JAUREGUI                                  0
                            SAN CRISTÓBAL - TORBES                                    0
                            SAN CRISTÓBAL -GARCÍA DE HEVIA                            0
                       70   SAN FERNANDO DE ATABAPO - CONSULADO                       0
                       75   VALENCIA - CONSULADO                                      0

                                                                 Votos en blanco  \
Departamento Municipio Zona Puesto
CONSULADOS   VENEZUELA 65   SAN CRISTÓBAL - JAUREGUI                           0
                            SAN CRISTÓBAL - TORBES                             2
                            SAN CRISTÓBAL -GARCÍA DE HEVIA                     0
                       70   SAN FERNANDO DE ATABAPO - CONSULADO                1
                       75   VALENCIA - CONSULADO                               1

                                                                 Votos nulos
Departamento Municipio Zona Puesto
CONSULADOS   VENEZUELA 65   SAN CRISTÓBAL - JAUREGUI                       0
                            SAN CRISTÓBAL - TORBES                         0
                            SAN CRISTÓBAL -GARCÍA DE HEVIA                 0
                       70   SAN FERNANDO DE ATABAPO - CONSULADO            0
                       75   VALENCIA - CONSULADO                           0

In [654]:
#indexar primera_vuelta_2
#list_1 = ["Departamento", "Municipio", "Zona","Puesto"]
primera_vuelta_2= primera_vuelta_2.set_index(["Departamento", "Municipio", "Zona","Puesto"], drop = True)

In [664]:
#indexar pra_vuelta_censo_1
#pra_vuelta_censo_1= pra_vuelta_censo_1.set_index(["Departamento", "Municipio", "Zona","Puesto"], drop = True)
pra_vuelta_censo_1.tail()

                                                                COD_DANE  \
Departamento Municipio Zona Puesto
CONSULADOS   VENEZUELA 65   SAN CRISTÓBAL - JAUREGUI                  --
                            SAN CRISTÓBAL - TORBES                    --
                            SAN CRISTÓBAL -GARCÍA DE HEVIA            --
                       70   SAN FERNANDO DE ATABAPO - CONSULADO       --
                       75   VALENCIA - CONSULADO                      --

                                                                 # Mesa  \
Departamento Municipio Zona Puesto
CONSULADOS   VENEZUELA 65   SAN CRISTÓBAL - JAUREGUI                  1
                            SAN CRISTÓBAL - TORBES                    1
                            SAN CRISTÓBAL -GARCÍA DE HEVIA            1
                       70   SAN FERNANDO DE ATABAPO - CONSULADO       1
                       75   VALENCIA - CONSULADO                      8

                                                                 Sergio Fajardo  \
Departamento Municipio Zona Puesto
CONSULADOS   VENEZUELA 65   SAN CRISTÓBAL - JAUREGUI                          1
                            SAN CRISTÓBAL - TORBES                            0
                            SAN CRISTÓBAL -GARCÍA DE HEVIA                    0
                       70   SAN FERNANDO DE ATABAPO - CONSULADO               0
                       75   VALENCIA - CONSULADO                              4

                                                                 Federico Gutiérrez  \
Departamento Municipio Zona Puesto
CONSULADOS   VENEZUELA 65   SAN CRISTÓBAL - JAUREGUI                              0
                            SAN CRISTÓBAL - TORBES                                0
                            SAN CRISTÓBAL -GARCÍA DE HEVIA                        1
                       70   SAN FERNANDO DE ATABAPO - CONSULADO                   2
                       75   VALENCIA - CONSULADO                                 29

                                                                 Gustavo Petro  \
Departamento Municipio Zona Puesto
CONSULADOS   VENEZUELA 65   SAN CRISTÓBAL - JAUREGUI                         1
                            SAN CRISTÓBAL - TORBES                           1
                            SAN CRISTÓBAL -GARCÍA DE HEVIA                   5
                       70   SAN FERNANDO DE ATABAPO - CONSULADO              4
                       75   VALENCIA - CONSULADO                            14

                                                                 John Milton Rodríguez  \
Departamento Municipio Zona Puesto
CONSULADOS   VENEZUELA 65   SAN CRISTÓBAL - JAUREGUI                                 0
                            SAN CRISTÓBAL - TORBES                                   0
                            SAN CRISTÓBAL -GARCÍA DE HEVIA                           0
                       70   SAN FERNANDO DE ATABAPO - CONSULADO                      1
                       75   VALENCIA - CONSULADO                                     0

                                                                 Luis Pérez  \
Departamento Municipio Zona Puesto
CONSULADOS   VENEZUELA 65   SAN CRISTÓBAL - JAUREGUI                      0
                            SAN CRISTÓBAL - TORBES                        0
                            SAN CRISTÓBAL -GARCÍA DE HEVIA                0
                       70   SAN FERNANDO DE ATABAPO - CONSULADO           0
                       75   VALENCIA - CONSULADO                          0

                                                                 Rodolfo Hernández  \
Departamento Municipio Zona Puesto
CONSULADOS   VENEZUELA 65   SAN CRISTÓBAL - JAUREGUI                             2
                            SAN CRISTÓBAL - TORBES                               5
                            SAN CRISTÓBAL -GARCÍA DE HEVIA                       6
                       70   SAN FERNANDO DE ATABAPO - CONSULADO                  2
                       75   VALENCIA - CONSULADO                                28

                                                                 Enrique Gómez  \
Departamento Municipio Zona Puesto
CONSULADOS   VENEZUELA 65   SAN CRISTÓBAL - JAUREGUI                         0
                            SAN CRISTÓBAL - TORBES                           0
                            SAN CRISTÓBAL -GARCÍA DE HEVIA                   0
                       70   SAN FERNANDO DE ATABAPO - CONSULADO              0
                       75   VALENCIA - CONSULADO                             0

                                                                 Ingrid Betancourt  \
Departamento Municipio Zona Puesto
CONSULADOS   VENEZUELA 65   SAN CRISTÓBAL - JAUREGUI                             0
                            SAN CRISTÓBAL - TORBES                               0
                            SAN CRISTÓBAL -GARCÍA DE HEVIA                       0
                       70   SAN FERNANDO DE ATABAPO - CONSULADO                  0
                       75   VALENCIA - CONSULADO                                 0

                                                                 Tarjetones No Marcados  \
Departamento Municipio Zona Puesto
CONSULADOS   VENEZUELA 65   SAN CRISTÓBAL - JAUREGUI                                  0
                            SAN CRISTÓBAL - TORBES                                    0
                            SAN CRISTÓBAL -GARCÍA DE HEVIA                            0
                       70   SAN FERNANDO DE ATABAPO - CONSULADO                       0
                       75   VALENCIA - CONSULADO                                      0

                                                                 Votos en blanco  \
Departamento Municipio Zona Puesto
CONSULADOS   VENEZUELA 65   SAN CRISTÓBAL - JAUREGUI                           0
                            SAN CRISTÓBAL - TORBES                             2
                            SAN CRISTÓBAL -GARCÍA DE HEVIA                     0
                       70   SAN FERNANDO DE ATABAPO - CONSULADO                1
                       75   VALENCIA - CONSULADO                               1

                                                                 Votos nulos
Departamento Municipio Zona Puesto
CONSULADOS   VENEZUELA 65   SAN CRISTÓBAL - JAUREGUI                       0
                            SAN CRISTÓBAL - TORBES                         0
                            SAN CRISTÓBAL -GARCÍA DE HEVIA                 0
                       70   SAN FERNANDO DE ATABAPO - CONSULADO            0
                       75   VALENCIA - CONSULADO                           0

In [687]:
#dif =pra_vuelta_censo_1.compare(primera_vuelta_2, keep_shape=True, keep_equal= False)

In [ ]:
#dif.columns dif.info()

In [580]:
#dif[[('COD_DANE',  'self'), ('COD_DANE',  'other')]]
mask = dif[('COD_DANE',  'self')].notnull()
dif_2= dif[mask==True]

#dif[('COD_DANE',  'self')].value_counts()==1
# dif_2 = dif["COD_DANE"]!= 'NaN'
# dif_2.value_counts()
# dif_3 = dif_2[dif_2==True]
# dif_3

In [613]:
dif_2.iloc[:,:20].tail()

      COD_DANE        Departamento                   Municipio                 \
          self  other         self       other            self          other
12211    99001  99524          NaN         NaN  PUERTO CARREÑO   LA PRIMAVERA
12219    99524  99624          NaN         NaN    LA PRIMAVERA  SANTA ROSALIA
12223    99624  99773          NaN         NaN   SANTA ROSALIA       CUMARIBO
12255    99773     --      VICHADA  CONSULADOS        CUMARIBO       ALEMANIA
12504       --      0   CONSULADOS           0       VENEZUELA              0

       Zona                      Puesto                            # Mesa  \
       self other                  self                      other   self
12211  99.0   0.0        PUERTO MURILLO  PUESTO CABECERA MUNICIPAL    1.0
12219  99.0   0.0         SANTA CECILIA  PUESTO CABECERA MUNICIPAL    1.0
12223  99.0   0.0       VEREDA NAZARETH  PUESTO CABECERA MUNICIPAL    1.0
12255  99.0   5.0            TRES MATAS           BERLIN CONSULADO    2.0
12504  75.0   0.0  VALENCIA - CONSULADO                          0    8.0

            Sergio Fajardo        Federico Gutiérrez        Gustavo Petro  \
      other           self  other               self  other          self
12211  14.0            2.0   56.0                9.0  526.0           9.0
12219   8.0            2.0   19.0               23.0  311.0           2.0
12223  20.0            0.0   38.0               10.0  161.0           2.0
12255   6.0            4.0  411.0               16.0  257.0         106.0
12504   0.0            4.0    0.0               29.0    0.0          14.0

              John Milton Rodríguez
        other                  self other
12211   255.0                   1.0  61.0
12219   174.0                   4.0  13.0
12223   951.0                   0.0  16.0
12255  1497.0                   2.0   3.0
12504     0.0                   NaN   NaN

In [529]:
dif[dif[('COD_DANE',  'self')]==np.nan].sum()

COD_DANE                self     0.0
                        other    0.0
Departamento            self     0.0
                        other    0.0
Municipio               self     0.0
                        other    0.0
Zona                    self     0.0
                        other    0.0
Puesto                  self     0.0
                        other    0.0
# Mesa                  self     0.0
                        other    0.0
Sergio Fajardo          self     0.0
                        other    0.0
Federico Gutiérrez      self     0.0
                        other    0.0
Gustavo Petro           self     0.0
                        other    0.0
John Milton Rodríguez   self     0.0
                        other    0.0
Luis Pérez              self     0.0
                        other    0.0
Rodolfo Hernández       self     0.0
                        other    0.0
Enrique Gómez           self     0.0
                        other    0.0
Ingrid Betancourt       self     0.0
                        other    0.0
Tarjetones No Marcados  self     0.0
                        other    0.0
Votos en blanco         self     0.0
                        other    0.0
Votos nulos             self     0.0
                        other    0.0
dtype: float64

# Análisis Bogotá

In [147]:
censo_electoral[censo_electoral["municipio"]=="BOGOTA. D.C."]["comuna"].value_counts()

08LOCALIDAD  8 KENNEDY              102
11LOCALIDAD 11 SUBA                  98
10LOCALIDAD 10 ENGATIVA              81
19LOCALIDAD 19 CIUDAD BOLIVAR        67
07LOCALIDAD 7 BOSA                   67
18LOCALIDAD 18 RAFAEL URIBE URIB     56
04LOCALIDAD 4 SAN CRISTOBAL          53
01LOCALIDAD 1 USAQUEN                49
16LOCALIDAD 16 PUENTE ARANDA         44
09LOCALIDAD 9 FONTIBON               41
05LOCALIDAD 5 USME                   41
13LOCALIDAD 13 TEUSAQUILLO           32
06LOCALIDAD 6 TUNJUELITO             31
12LOCALIDAD 12 BARRIOS UNIDOS        31
02LOCALIDAD 2 CHAPINERO              28
03LOCALIDAD 3 SANTA FE               23
15LOCALIDAD 15 ANTONIO NARIÑO        20
14LOCALIDAD 14 MARTIRES              18
17LOCALIDAD 17 CANDELARIA             9
20LOCALIDAD 20 SUMAPAZ                5
Name: comuna, dtype: int64

In [308]:
censo_electoral[censo_electoral["municipio"]=="BOGOTA. D.C."]["total"].sum()

5967518

In [161]:
censo_electoral[censo_electoral["municipio"]=="BOGOTA. D.C."]["total"].sum()
#en página a la fecha 2022 bogotá: 5.935.722
#(en página a la fecha 2022 colombia: 39002239) - (total censo base: 38819901) = 182.338
censo_electoral[censo_electoral["dd"]!="TOTAL"]["total"].sum()

38819901

In [108]:
#print(list(primera_vuelta.Departamento))

In [109]:
bogota = primera_vuelta[primera_vuelta["Municipio"]=="BOGOTA. D.C."]
print(bogota["Puesto"].value_counts().head(30)) #ENGATIVA

PUESTO CENSO(FERIA EXPOSICION)    282
PARQUE FUNDACIONAL DE SUBA         86
UNICENTRO                          82
USAQUÉN                            76
BOSA                               71
FONTIBON                           64
SERVITA                            63
PATIO BONITO                       59
CHICO NORTE                        59
LA LIBERTAD                        59
CENTRO COMERCIAL TINTAL PLAZA      58
EL RINCON                          57
HAYUELOS CENTRO COMERCIAL          55
ENGATIVA                           55
CANDELARIA LA NUEVA                54
LOS CEDRITOS 151                   54
CENTRO COMERCIAL EL EDEN           53
ROMA                               52
NIZA CENTRO COMERCIAL NIZA         52
BOCHICA                            52
GRAN PLAZA EL ENSUEÑO              51
GALICIA                            51
LA VICTORIA A                      51
LA ESTANCIA                        51
CC PARQUE LA COLINA                51
SAN FRANCISCO                      50
JAIRO ANIBAL NIÑO                  50
COLEGIO HIJAS DE CRISTO REY        49
CENTRO COMERCIAL BULEVAR NIZA      49
ISMAEL PERDOMO                     48
Name: Puesto, dtype: int64

In [ ]:
bogota["Gustavo Petro"].sum()

In [122]:
bogota.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14935 entries, 27602 to 42536
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   COD_DANE                14935 non-null  object
 1   Departamento            14935 non-null  object
 2   Municipio               14935 non-null  object
 3   Zona                    14935 non-null  int64
 4   # Puesto                14935 non-null  object
 5   Puesto                  14935 non-null  object
 6   # Mesa                  14935 non-null  int64
 7   Sergio Fajardo          14935 non-null  int64
 8   Federico Gutiérrez      14935 non-null  int64
 9   Gustavo Petro           14935 non-null  int64
 10  John Milton Rodríguez   14935 non-null  int64
 11  Luis Pérez              14935 non-null  int64
 12  Rodolfo Hernández       14935 non-null  int64
 13  Enrique Gómez           14935 non-null  int64
 14  Ingrid Betancourt       14935 non-null  int64
 15  Tarjetones No Marcados  14935 non-null  int64
 16  Votos en blanco         14935 non-null  int64
 17  Votos nulos             14935 non-null  int64
dtypes: int64(13), object(5)
memory usage: 2.2+ MB

In [162]:
print(censo_electoral[(censo_electoral["comuna"]) == "10LOCALIDAD 10 ENGATIVA"]["total"].sum())
print(bogota[(bogota["Zona"]) == 10]["Gustavo Petro"].sum())
print((bogota[(bogota["Zona"]) == 10]["Gustavo Petro"].sum()/
       censo_electoral[(censo_electoral["comuna"]) == "10LOCALIDAD 10 ENGATIVA"]["total"].sum())*100)
print(censo_electoral[(censo_electoral["comuna"]) == "09LOCALIDAD 9 FONTIBON"]["total"].sum())
print(bogota[(bogota["Zona"]) == 9]["Gustavo Petro"].sum())
print((bogota[(bogota["Zona"]) == 9]["Gustavo Petro"].sum()/
       censo_electoral[(censo_electoral["comuna"]) == "09LOCALIDAD 9 FONTIBON"]["total"].sum())*100)

585572
182714
31.2026531323219
270622
81143
29.98388896689848

In [375]:
engativa = bogota[bogota["Zona"] == 10]

In [376]:
engativa.head() #Rodolfo Hernández

,COD_DANE,Departamento,Municipio,Zona,# Puesto,Puesto,# Mesa,Sergio Fajardo,Federico Gutiérrez,Gustavo Petro,John Milton Rodríguez,Luis Pérez,Rodolfo Hernández,Enrique Gómez,Ingrid Betancourt,Tarjetones No Marcados,Votos en blanco,Votos nulos
28710,11001,BOGOTA D.C.,BOGOTA. D.C.,10,1,BOYACA,1,18,62,52,2,0,67,0,0,0,2,0
28711,11001,BOGOTA D.C.,BOGOTA. D.C.,10,1,BOYACA,10,27,86,69,13,0,52,2,0,3,7,0
28712,11001,BOGOTA D.C.,BOGOTA. D.C.,10,1,BOYACA,11,26,73,85,15,0,58,0,0,1,6,2
28713,11001,BOGOTA D.C.,BOGOTA. D.C.,10,1,BOYACA,12,16,39,78,12,0,65,2,0,0,9,7
28714,11001,BOGOTA D.C.,BOGOTA. D.C.,10,1,BOYACA,13,17,22,38,7,0,51,3,0,0,4,7

In [89]:
reporte.index

Int64Index([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
            18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
            35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51,
            52, 53, 54, 55],
           dtype='int64', name='# Mesa')

In [379]:
reporte = engativa.groupby("# Mesa").sum()  # ""
reporte= reporte.iloc[:, [3,2,6,10]]
reporte["suma"] = reporte["Gustavo Petro"] + reporte["Federico Gutiérrez"]+reporte["Rodolfo Hernández"]+reporte["Votos en blanco"]
reporte.iloc[54] = np.sum(reporte[["Gustavo Petro", "Federico Gutiérrez", "Rodolfo Hernández","Votos en blanco", "suma"]])

In [380]:
reporte

,Gustavo Petro,Federico Gutiérrez,Rodolfo Hernández,Votos en blanco,suma
# Mesa,,,,,
1,7630,6451,6218,322,20621
2,7877,5787,5441,379,19484
3,6920,5336,4998,348,17602
4,6993,4807,4466,348,16614
5,6280,4691,4163,394,15528
6,5610,4264,3993,330,14197
7,5277,4105,3992,304,13678
8,5157,3808,3732,363,13060
9,5250,3498,3495,299,12542
10,5275,3521,3541,324,12661
11,5720,3179,3470,366,12735
12,5555,2965,3418,345,12283
13,5593,2501,3028,330,11452
14,5495,2313,3140,303,11251
15,5477,2169,3077,315,11038
16,5299,1970,2871,288,10428
17,5191,1895,2780,328,10194
18,4790,1897,2743,259,9689
19,4880,1503,2422,254,9059
20,4920,1368,2242,232,8762
21,4924,1274,2209,215,8622
22,4947,1186,2194,263,8590
23,4786,937,1904,210,7837
24,4462,940,1773,192,7367
25,4539,741,1745,209,7234
26,4288,781,1646,170,6885
27,4130,775,1670,177,6752
28,3629,716,1405,176,5926
29,3309,575,1254,159,5297
30,3082,513,1214,122,4931
31,2860,459,1044,115,4478
32,2629,360,895,116,4000
33,2390,326,803,123,3642
34,2124,314,733,86,3257
35,1926,247,642,75,2890
36,1801,259,621,63,2744
37,1628,269,617,76,2590
38,1588,224,496,69,2377
39,1380,166,492,59,2097
40,1087,129,345,40,1601
41,813,91,282,30,1216
42,800,108,296,27,1231
43,762,97,282,27,1168
44,813,102,214,21,1150
45,543,61,149,18,771
46,373,48,97,17,535
47,313,34,88,10,445
48,322,36,124,9,491
49,320,40,119,14,493
50,312,32,137,12,493
51,254,36,92,18,400
52,128,23,52,4,207
53,82,9,32,4,127
54,109,14,40,7,170
55,182714,79964,98962,9369,371009

In [382]:
#np.sum(reporte[["Gustavo Petro", "Federico Gutiérrez", "Rodolfo Hernández"]])