In [1]:
import pandas as pd
import numpy as np
# from pandas_profiling import ProfileReport
import dtale

In [4]:
%run ./bases_datos_tesis.ipynb

## Formateo de variables
Se seleccionan las variables de acuerdo con 9 grupos, las de indetificación, periodo, control, ubicación, representatividad, composición de la vivienda y el hogar, y las condiciones de la vivienda, sociodemográficas y socioeconómicas. Además, el grupo de las condiciones socioecnómicas se divide en 3  subgrupos, educación, clasificación e historia laboral. Asimismo, estos subgrupos contemplan las caracteristicas de los ocupados, las remuneraciones, la calidad del empleo y las características de los desocupados, presentes y pasadas.

In [11]:
df7 = df6[[
 #identificador
    'ID',
 #periodo
 'Fecha',
 'ola_l',
 'hogar_l',
 'hogar_n16_l'
 #control
 'orden',
 'seguimiento',
 'encuestada_2013',
 #ubicación
 'region',
 'RegionLb',
 'region_2016',
 'id_depto',
 'id_mpio',
 'id_mpioU',
 #representatividad
 'riqueza_pca',
 'tercil2010',
 'tercil2013',
 'tercil2016',
 'fhog',
 'fhog_2010',
 'fhog_2013',
 'fhog_2016',
 'fexhog',
 'fexhog_2010',
 'fexhog_2013',
 'fpers',
 'fpers_2010',
 'fpers_2013',
 'fpers_2016',
 'fexpers',
 'fexpers_2010',
 'fexpers_2013',
 #composición
 't_hogares',
 't_hogar',
 't_personas',
 #condiciones de la vivienda
 'tipo_vivienda',
 'material_pisos',
 'material_paredes',
 'sp_energia',
 'sp_estrato',
 'sp_gasnatural',
 'sp_acueducto',
 'sp_alcantarillado',
 'sp_telefono',
 'sp_recoleccion_basura',
 'eliminan_basura',
 #condiciones sociodemográficas
 'sexo',
 'edad',
 'edad_meses',
 'parentesco',
 'estado_civil',
 'vive_conyuge',
 'orden_conyuge',
 'etnia',
 #condiciones socieconómicas:  
 'estrato',
 ##educación
 'lee_escribe',
 'estudia',
 'nivel_educ',
 'grado_educ',
 'edad_dejoestudio',
 'nivel_educ_cursa',
 'grado_educ_cursa',
 'anos_superior',
 'estudiaba_2010',
 'nivel_educ_2010',
 'grado_educ_2010',
 'anos_superior_2010',
 'est_superiores',  
 ##clasificación laboral
     ###ocupados   
 'actividad_ppal',
 ### desocupados
 'diligencias4',
 'diligencias12',
 ###características de los ocupados
 'descripcion_ciiu',
 'descrip_oficio',
 'cod_oficio',
 'edad_tenia',
 'anos_trabaja',
 'meses_trabaja',
 'mes_inicio',
 'ano_inicio', 
 'ocupacion',
 'horas_normal',
 'cod_oficio2',
 'tipo_contrato',
 ### remuneraciones
'rec_otros_pago',
 'vr_alimentos_pago',
 'vr_vivienda_pago',
 'vr_educ_pago',
 'vr_subalimentacion',
 'vr_subtransporte',
 'vr_subfamiliar',
 'vr_bonos',
 'vr_ingmen_ase',
 'vr_salario',
 'vr_ganancia',  
 'meses_ganancia',
 'rec_ninguno',
 'pagos_adicion',
 'ingresos',
 'ganancia_neta',
 'vr_salario_mes',
 'recibio_ganancia',
    
 ### calidad del empleo
 ####salud
 'afiliacion',
 'seg_medico',
 'segsoc_salud',
 'estaba_sss',
 'beneficiario_sss',
 'beneficiario_orden',
 ####pensión
 'cotiza_fp',
 'estaba_fp',     
 'afiliacion_fp',
 'vr_rec_pension',
 ####tamaño
 'tam_empresa',
 'n_empleados',
 'registro_mercantil',
 ####condiciones adicionales
 'vacaciones',
 'prima_navidad',
 'cesantias',
 ### características de los desocupados
 'ofertas_empleo',
 'ofertas_emp12',
 'ofertas_emp1',
 'vr_salario_ofr',
 'razon_noacepto',
 'disponibilidad',
 't_bustrab_a',
 't_bustrab_m',
 'medio_busco',
 't_busco_trab',
 't_dejo_trabajar',
 'vr_rec_arriendos',
 'vr_rec_dividendos',
 'salario_insf',
 'salario_nopresta',
 'horario_nosirve',
 'ubica_inadecuada',
 'noapto_trabajo',
 'razon_personal',
 
  ## historia laboral
 ###caracterísicas ocupados
 'edad_primert',
 'anos_primert',
 'horas_normal_pt',
 'ocupacion_pt',
 'es_ptrabajo',
 't_trabajo_ult',
 'trabajo_ult3',
 'tiempo_trab',
 ###remuneración
 'vr_recibia_pt',
 'rango_ingreso',
 ###salud
 'sss_pt',
 ###pensión
 'afiliado_fp_pt',
 'cotizando',
 ###tamaño
 'tamano_pt',
  ###caracterísicas desocupados
 'desemp_ult3',
 'tiempo_desemp',
 'nocotiza_ult3',
 'tiempo_ncotiza',
 'primer_busca'
  ]]

### Base real

In [5]:
df7= pd.read_csv('D:/maestria_ciencias_economicas_unal/tesis_scarring/base datos/ELCA_FINAL/PANEL_PET_REDUC.csv', sep = ";", index_col=[0,1], low_memory=False)
dfprueba= pd.read_csv('D:/maestria_ciencias_economicas_unal/tesis_scarring/base datos/ELCA_FINAL/PET_REDUC_Trat_ctrl.csv', sep = ";", low_memory=False)

In [176]:
# d = dtale.show(df8, ignore_duplicate = True)
# d

## Formateo de variables

#### 1. variables a número o string

In [253]:
#clasificación laboral
#df7['clasif_lab']=pd.to_numeric(df7['clasif_lab'])
#df7['scar_uno']=pd.to_numeric(df7['scar_uno'])

str

In [29]:
#vr_Salario
# df7['vr_salario'] = pd.Series(df7['vr_salario'], dtype = "stringstr..str.replace('No recibió', '-1')
# df7['vr_salario'] = pd.Series(df7['vr_salario'], dtype = "string").str.replace('No informa', '-1')
# df7['vr_salario'] = pd.Series(df7['vr_salario'], dtype = "string").str.replace('No sabe', '-1')
# df7['vr_salario'] = pd.Series(df7['vr_salario']).replace("-1", np.nan)
#df7['vr_salario']= pd.Series(df7['vr_salario'], dtype = "string").str.split('.', expand = True).get(0)
#df7['vr_salario']=pd.to_numeric(df7['vr_salario'])
#df7[df7['vr_salario']== "No informa"].head()
#df7['mes_inicio'] = pd.Series(df7['mes_inicio'], dtype = "int").replace(np.nan, 0)
# df7['ano_inicio'] = pd.Series(df7['ano_inicio'], dtype = "int").replace(np.nan, 0)
# df7['ano_inicio'] = pd.Series(df7['ano_inicio'], dtype = "int").replace(9998, 0)
# df7['ano_inicio'] = pd.Series(df7['ano_inicio'], dtype = "int").replace(9999, 0)
#df7['edad_tenia'] = pd.Series(df7['edad_tenia'], dtype = "int").replace(99, np.nan)

In [121]:
##mes inicio, en el marco del proceso de creación de la variable tiempo de empleo

# mapping = [ ('Enero', '1'), ('Febrero', '2'), ('Marzo', '3'), ('Abril', '4'), ('Mayo', '5'), 
#            ('Junio', '6'), ('Julio', '7'), ('Agosto', '8'), ('Septiembre', '9'), 
#            ('Octubre', '10'), ('Noviembre', '11'), ('Diciembre', '12')]
# for k, v in mapping:
#     df7['mes_inicio'] = pd.Series(df7['mes_inicio'], dtype = "int").replace(k, v)

In [122]:
##mes inicio, paso 2, de string a  número
# df7['mes_inicio']=pd.to_numeric(df7['mes_inicio'])
# #import re
# df7['mes_inicio']=df7['mes_inicio'].map(lambda x: int(re.search(r"\d+", x).group(0)))
#df7['mes_inicio'].astype(str).astype(int)
#df7['mes_inicio'] = df7['mes_inicio'].astype(float)
#int(float(df7['mes_inicio']))

In [6]:
#asignar nulidad a la varable tiempo_empleo para la clasficación laboral de desocupados e inactivos.
def nul_tiempo_ta(df):
    if (((df['ano_encuesta'] == 2010) and (df['clasif_lab'] == 2)) or 
        ((df['ano_encuesta'] == 2010) and (df['clasif_lab'] == 3))):
        t_ac = np.nan    
    else:
        t_ac= df['tiempo_empleo']
    return(t_ac)

In [7]:
df7['tiempo_empleo']=df7.apply(nul_tiempo_ta, axis = 1)
#df7.drop(columns =['Tiempo_trab_act_prueba'], inplace =True)

In [8]:
#asignar nulidad a los registros de la varable tiempo_empleo para los datos incoherentes de edad_inicio
def edad_inicio_1(df):
    if (df['edad_tenia'] > df['edad']):
        ed_ini = np.nan    
    else:
        ed_ini= df['tiempo_empleo']
    return(ed_ini)

In [9]:
df7['tiempo_empleo']=df7.apply(edad_inicio_1, axis = 1)
#df7.drop(columns =['Tiempo_trab_act_prueba'], inplace =True)

In [104]:
#se reemplaza categorías edad_dejo_estudio df7:
#se debe convertir la variable a "int" para trasformar a nulos los valores string
df7['edad_dejoestudio'] = pd.Series(df7['edad_dejoestudio'], dtype = "string").str.replace("No informa", "-1")
df7['edad_dejoestudio'] = pd.Series(df7['edad_dejoestudio'], dtype = "string").str.replace('No sabe', '-1')
df7['edad_dejoestudio']=pd.to_numeric(df7['edad_dejoestudio'])
df7['edad_dejoestudio'] = pd.Series(df7['edad_dejoestudio'], dtype = "int").replace(-1, np.nan)

In [109]:
#se reemplaza categorías edad_dejo_estudio dfprueba
dfprueba['edad_dejoestudio'] = pd.Series(dfprueba['edad_dejoestudio'], dtype = "string").str.replace('No informa', '-1')
dfprueba['edad_dejoestudio'] = pd.Series(dfprueba['edad_dejoestudio'], dtype = "string").str.replace('No sabe', '-1')
dfprueba['edad_dejoestudio']=pd.to_numeric(dfprueba['edad_dejoestudio'])
dfprueba['edad_dejoestudio'] = pd.Series(dfprueba['edad_dejoestudio'], dtype = "int").replace(-1, np.nan) 
dfprueba["edad_dejoestudio"].value_counts(dropna=False)

In [116]:
#se reemplaza categorías nivel_educ df7:
df7['nivel_educ'] = pd.Series(df7['nivel_educ'], dtype = "string").replace("No informa", np.nan)
df7["nivel_educ"].value_counts(dropna=False)#No informa

NaN                                   6055
Básica secundaria y media (6 a 13)    4994
Básica primaria (1 a 5)               3455
Técnico con título                     800
Universitario con título               572
Ninguno                                531
Universitario sin título               315
Tecnológico con título                 273
Posgrado con título                    266
Técnico sin título                     162
Tecnológico sin título                  66
Posgrado sin título                     22
Name: nivel_educ, dtype: Int64

In [117]:
#se reemplaza categorías nivel_educ dfprueba:
dfprueba['nivel_educ'] = pd.Series(dfprueba['nivel_educ'], dtype = "string").replace("No informa", np.nan)
dfprueba["nivel_educ"].value_counts(dropna=False)#No informa

NaN                                   2439
Básica secundaria y media (6 a 13)    2055
Básica primaria (1 a 5)               1276
Técnico con título                     313
Universitario con título               245
Ninguno                                192
Universitario sin título               140
Tecnológico con título                 131
Posgrado con título                     96
Técnico sin título                      63
Tecnológico sin título                  22
Posgrado sin título                      9
Name: nivel_educ, dtype: Int64

#### 2. miusculas o mayusculas

In [30]:
minus = lambda x: x.str.lower() if (x.dtype == 'string') else x
df7["desemp_ult3"] = minus(df7["desemp_ult3"])
df7["trabajo_ult3"] = minus(df7["trabajo_ult3"])

#### 3. tildes

In [57]:
# df7["desemp_ult3"] = df7["desemp_ult3"].str.replace("í", "i")
# df7["trabajo_ult3"] = df7["trabajo_ult3"].str.replace("í", "i")
#df7["lee_escribe"] = df7["lee_escribe"].str.replace("í", "i")
#dfprueba["lee_escribe"] = dfprueba["lee_escribe"].str.replace("í", "i")
#dfprueba["lee_escribe"].value_counts(dropna=False)
# df7["estudia"] = df7["estudia"].str.replace("í", "i")
# dfprueba["estudia"] = dfprueba["estudia"].str.replace("í", "i")
# dfprueba["estudia"].value_counts(dropna=False)

No     6653
Si      318
NaN      10
Name: estudia, dtype: int64

#### 4. remplazar los datos nulos por "x" y viceversa

In [1]:
# df7['clasif_lab']= df7['clasif_lab'].replace(np.nan, "x")
# # df7['diligencias4']= df7['diligencias4'].replace(np.nan, "x")
# # df7['diligencias12']= df7['diligencias12'].replace(np.nan, "x") 
# # df7['actividad_ppal']= df7['actividad_ppal'].replace(np.nan, "x")
#df7["desemp_ult3"]= df7["desemp_ult3"].replace(np.nan, "x")
#df7["Tiempo_trab_act"]= df7["Tiempo_trab_act"].replace(np.nan, "x")
#df7["Tiempo_trab_act"]= df7["Tiempo_trab_act"].replace("x", np.nan)
#df7["tiempo_empleo"]= df7["tiempo_empleo"].replace(np.nan, "x")
#df7["tiempo_empleo"]= df7["tiempo_empleo"].replace( "x", np.nan,)
#df_nne["tiempo_empleo"]= df_nne["tiempo_empleo"].replace("x", np.nan)
#df_nne["tiempo_empleo"]= df_nne["tiempo_empleo"].replace(np.nan, "x")
# df7["trabajo_ult3"]= df7["trabajo_ult3"].replace(np.nan, "x")
#df7["mes_inicio"]= df7["mes_inicio"].replace(np.nan, "x")
#viceversa
#df7['clasif_lab']= df7['clasif_lab'].replace("x", np.nan) 
# df7['diligencias4']= df7['diligencias4'].replace("x", np.nan)
# df7['diligencias12']= df7['diligencias12'].replace("x", np.nan) 
# df7['actividad_ppal']= df7['actividad_ppal'].replace("x", np.nan)
#df7["desemp_ult3"]= df7["desemp_ult3"].replace("x", np.nan)
#df7["trabajo_ult3"]= df7["trabajo_ult3"].replace("x", np.nan)
#df7["mes_inicio"]= df7["mes_inicio"].replace("x", np.nan)

In [5]:
ncol =["trabajo_ult3", "desemp_ult3", "diligencias4","diligencias12"]

for h in (ncol):
    df7[h] = df7[h].replace("x", np.nan, regex = False)
    dfprueba[h] = dfprueba[h].replace("x", np.nan, regex = False)

In [6]:
ncol1 =["scar_dos", "scar_tres", "scar_cuatro","scar_cinco",
      "control_uno", "control_dos", "control_tres", "control_cuatro","control_cinco", "control_seis"]

for h in (ncol1):
    df8[h] = df8[h].replace("x", np.nan, regex = False)

#### 5. eliminar los espacios al final y al inicio

In [ ]:
#eliminar espacios al final de cada palabra y al inicio. dejar solo un espacio entre palabras

#### 6. homogenización de categoríoas de variables

In [15]:
#se reemplaza casasddo por casdo(a) df7
#df7["estado_civil"] = df7["estado_civil"].str.replace("Casado(a)","Casado", regex = False)
df7["estado_civil"] = df7["estado_civil"].str.replace("Casado","Casado(a)", regex = False)
df7["estado_civil"].value_counts(dropna=False)
#recategorizar variable a variable
# np.array(df7['sexo'])

# LabelEncoder().fit(df7['sexo']).transform(df7['sexo'])
# #encoder = encoder.fit(sexo)


# print(collections.Counter(LabelEncoder().fit(df7['sexo']).transform(df7['sexo'])))

Casado(a)                      6927
En unión libre                 6710
Separado(a) o divorciado(a)    2147
Soltero(a)                     1066
Viudo(a)                        661
Name: estado_civil, dtype: int64

In [18]:
#se reemplaza casado por casdo(a) dfprueba
dfprueba["estado_civil"] = dfprueba["estado_civil"].str.replace("Casado(a)","Casado", regex = False)
dfprueba["estado_civil"] = dfprueba["estado_civil"].str.replace("Casado","Casado(a)", regex = False)
dfprueba["estado_civil"].value_counts(dropna=False)
#recategorizar variable a variable

En unión libre                 2883
Casado(a)                      2540
Separado(a) o divorciado(a)     891
Soltero(a)                      471
Viudo(a)                        196
Name: estado_civil, dtype: int64

In [23]:
#se reemplaza Jefe de hogar por Jefe(a) df7
df7["parentesco"] = df7["parentesco"].str.replace("Jefe de hogar", "Jefe(a)", regex = False)
df7["parentesco"].value_counts(dropna=False)

Jefe(a)                                       10536
Cónyuge o compañera(o)                         6662
Hijo(a)                                         191
Hermano(a)                                       28
Padre o madre                                    27
Yerno o nuera                                    16
Hijastro(a)                                      13
Otro no pariente del jefe                        12
Suegro(a)                                        10
Otro pariente del jefe                            9
Nieto(a)del jefe del hogar o de su cónyuge        4
Sobrino(a)                                        3
Name: parentesco, dtype: int64

In [25]:
#se reemplaza Jefe de hogar por Jefe(a) dfprueba
dfprueba["parentesco"] = dfprueba["parentesco"].str.replace("Jefe de hogar", "Jefe(a)", regex = False)
dfprueba["parentesco"].value_counts(dropna=False)

Jefe(a)                                       4668
Cónyuge o compañera(o)                        2237
Hijo(a)                                         50
Otro no pariente del jefe                        6
Hermano(a)                                       5
Yerno o nuera                                    4
Padre o madre                                    4
Hijastro(a)                                      2
Nieto(a)del jefe del hogar o de su cónyuge       2
Suegro(a)                                        2
Sobrino(a)                                       1
Name: parentesco, dtype: int64

In [29]:
#se reemplaza categorías de etnia df7
list_et_1 = ["ninguno de los  anteriores", "negro, mulato (afro descendiente)"]
list_et_2 = ["ninguno de los anteriores", "negro, mulato (afrodescendiente)"]
for i, j in zip(list_et_1, list_et_2):
    df7["etnia"] = df7["etnia"].str.replace(i, j, regex = False)
df7["etnia"].value_counts(dropna=False)

ninguno de los anteriores           7168
NaN                                 5914
mestizo                             2033
blanco                              1308
negro, mulato (afrodescendiente)     660
indígena                             400
rom o gitano                          21
palenquero                             5
no informa                             1
raizal de archipiélago                 1
Name: etnia, dtype: int64

In [32]:
#se reemplaza categorías de etnia dfprueba
list_et_1 = ["ninguno de los  anteriores", "negro, mulato (afro descendiente)"]
list_et_2 = ["ninguno de los anteriores", "negro, mulato (afrodescendiente)"]
for i, j in zip(list_et_1, list_et_2):
    dfprueba["etnia"] = dfprueba["etnia"].str.replace(i, j, regex = False)
dfprueba["etnia"].value_counts(dropna=False)

ninguno de los anteriores           2887
NaN                                 2331
mestizo                              802
blanco                               510
negro, mulato (afrodescendiente)     271
indígena                             166
rom o gitano                          12
palenquero                             2
Name: etnia, dtype: int64

In [41]:
#se reemplaza categorías de vive conyugue df7
list_et_1 = ["SI", "NO", "Sí"]
list_et_2 = ["Si", "No", "Si"]
for i, j in zip(list_et_1, list_et_2):
    df7["vive_conyuge"] = df7["vive_conyuge"].str.replace(i, j, regex = False)
df7["vive_conyuge"].value_counts(dropna=False)

Si     13497
NaN     3870
No       144
Name: vive_conyuge, dtype: int64

In [45]:
#se reemplaza categorías de vive conyugue dfprueba
list_et_1 = ["SI", "NO", "Sí"]
list_et_2 = ["Si", "No", "Si"]
for i, j in zip(list_et_1, list_et_2):
    dfprueba["vive_conyuge"] = dfprueba["vive_conyuge"].str.replace(i, j, regex = False)
dfprueba["vive_conyuge"].value_counts(dropna=False)

Si     5368
NaN    1556
No       57
Name: vive_conyuge, dtype: int64

In [60]:
#se reemplaza categorías mivel_educ df7
df7["nivel_educ"] = df7["nivel_educ"].str.replace("Básica secundaria (6 a 13)", "Básica secundaria y media (6 a 13)", regex = False)
df7["nivel_educ"].value_counts(dropna=False)

NaN                                   6048
Básica secundaria y media (6 a 13)    4994
Básica primaria (1 a 5)               3455
Técnico con título                     800
Universitario con título               572
Ninguno                                531
Universitario sin título               315
Tecnológico con título                 273
Posgrado con título                    266
Técnico sin título                     162
Tecnológico sin título                  66
Posgrado sin título                     22
No informa                               7
Name: nivel_educ, dtype: int64

In [61]:
#se reemplaza categorías nivel_educ dfprueba
dfprueba["nivel_educ"] = dfprueba["nivel_educ"].str.replace("Básica secundaria (6 a 13)", "Básica secundaria y media (6 a 13)", regex = False)
dfprueba["nivel_educ"].value_counts(dropna=False)

NaN                                   2438
Básica secundaria y media (6 a 13)    2055
Básica primaria (1 a 5)               1276
Técnico con título                     313
Universitario con título               245
Ninguno                                192
Universitario sin título               140
Tecnológico con título                 131
Posgrado con título                     96
Técnico sin título                      63
Tecnológico sin título                  22
Posgrado sin título                      9
No informa                               1
Name: nivel_educ, dtype: int64

In [70]:
#se reemplaza categorías nivel_educ_cursa df7
df7["nivel_educ_cursa"] = df7["nivel_educ_cursa"].str.replace("Básica secundaria(6 a 13)", "Básica secundaria y media (6 a 13)", regex = False)
df7["nivel_educ_cursa"].value_counts(dropna=False)

NaN                                   16814
Universitario                           211
Técnico                                 189
Básica secundaria y media (6 a 13)      117
Posgrado                                 97
Tecnológico                              61
Básica primaria (1 a 5)                  22
Name: nivel_educ_cursa, dtype: int64

In [72]:
#se reemplaza categorías nivel_educ_cursa dfprueba
dfprueba["nivel_educ_cursa"] = dfprueba["nivel_educ_cursa"].str.replace("Básica secundaria(6 a 13)", "Básica secundaria y media (6 a 13)", regex = False)
dfprueba["nivel_educ_cursa"].value_counts(dropna=False)

NaN                                   6663
Universitario                           99
Técnico                                 85
Básica secundaria y media (6 a 13)      49
Posgrado                                46
Tecnológico                             33
Básica primaria (1 a 5)                  6
Name: nivel_educ_cursa, dtype: int64

In [135]:
#se reemplaza categorías ocupacion2 df7
list_et_1 = ["Asalariado de empresa particular con contrato a término indefinido", 
             "Asalariado de empresa particular con contrato a término fijo",
             "Asalariado del Gobierno con contrato a término indefinido", 
             "Asalariado del Gobierno con contrato a término fijo",
            "Trabajador de su propia finca (en arriendo o aparcería)", 
             "Trabajador sin remuneración"]
list_et_2 = ["Asalariado de empresa particular", "Asalariado de empresa particular", 
             "Asalariado del gobierno", "Asalariado del gobierno", 
             "Trabajador de su propia finca independientemente de la forma de tenencia",
            "Trabajador familiar sin remuneración"]
for i, j in zip(list_et_1, list_et_2):
    df7["ocupacion2"] = df7["ocupacion2"].str.replace(i, j, regex = False)
    dfprueba["ocupacion2"] = dfprueba["ocupacion2"].str.replace(i, j, regex = False)
df7["ocupacion2"].value_counts(dropna=False)

Trabajador por cuenta propia                                                5419
NaN                                                                         5201
Asalariado de empresa particular                                            4576
Asalariado del gobierno                                                      762
Empleado doméstico                                                           522
Jornalero o peón                                                             305
Patrón o empleador                                                           270
Trabajador familiar sin remuneración                                         194
Otro                                                                         153
Trabajador de su propia finca independientemente de la forma de tenencia     109
Name: ocupacion2, dtype: int64

In [5]:
#se acorta una categoria de ocupación2
list_et_1 = ["Trabajador de su propia finca independientemente de la forma de tenencia",
            "Trabajador familiar sin remuneración"]
list_et_2 = ["Trab. propia finca", "Trab. fam sin remun"]
for i, j in zip(list_et_1, list_et_2):
    df8["ocupacion2"] = df8["ocupacion2"].str.replace(i, j, regex = False)
    dfgroups["ocupacion2"] = dfgroups["ocupacion2"].str.replace(i, j, regex = False)

dfgroups["ocupacion2"].value_counts(dropna=False)

Trabajador por cuenta propia        2823
Asalariado de empresa particular    2247
NaN                                  760
Asalariado del gobierno              305
Empleado doméstico                   290
Jornalero o peón                     189
Patrón o empleador                   125
Trab. fam sin remun                  103
Otro                                  89
Trab. propia finca                    50
Name: ocupacion2, dtype: int64

In [9]:
#descripcion ciiu
#se reemplaza categorías descripcion_ciiu df7
list_et_1 = ["Comercio al por mayor y al por menor; reparación de vehículos automotores y mo", 
            "Comercio al por mayor y al por menor; reparación de vehículos automotores y mototo"]
list_et_2 = ["Comercio al por mayor y al por menor; reparación de vehículos automotores y moto",
            "Comercio al por mayor y al por menor; reparación de vehículos automotores y moto"]
for i, j in zip(list_et_1, list_et_2):
    df7["descripcion_ciiu"] = df7["descripcion_ciiu"].str.replace(i, j, regex = False)
    dfprueba["descripcion_ciiu"] = dfprueba["descripcion_ciiu"].str.replace(i, j, regex = False)
df7["descripcion_ciiu"].value_counts(normalize= True,dropna=False)

NaN                                                                                       0.303638
Comercio al por mayor y al por menor; reparación de vehículos automotores y moto          0.104734
Industrias manufactureras                                                                 0.059277
Otras actividades de servicios                                                            0.053966
Alojamiento y servicios de comida                                                         0.035920
                                                                                            ...
Comercio al por mayor de otros productos de otros productos intermedios ncp               0.000057
Actividades relacionadas con bases de datos                                               0.000057
Organizaciones y órganos extraterritoriales                                               0.000057
Comercio al por mayor de materias primas pecuarias y de animales vivos y sus productos    0.000057
Edición de libros , folletos partituras y otras publicaciones                             0.000057
Name: descripcion_ciiu, Length: 324, dtype: float64

In [82]:
# vr_salario
list_et_1 = ["No informa", "No recibió", "No sabe"]
list_et_2 = ["-1", "-1", "-1"]

for i, j in zip(list_et_1, list_et_2):
    df7["vr_salario"] = df7["vr_salario"].str.replace(i, j, regex = False)
    dfprueba["vr_salario"] = dfprueba["vr_salario"].str.replace(i, j, regex = False)

df7["vr_salario"] = pd.to_numeric(df7["vr_salario"])
df7['vr_salario'] = pd.Series(df7['vr_salario'], dtype = "int").replace(-1, np.nan) 
dfprueba["vr_salario"] = pd.to_numeric(dfprueba["vr_salario"])
dfprueba['vr_salario'] = pd.Series(dfprueba['vr_salario'], dtype = "int").replace(-1, np.nan) 

print(df7["vr_salario"].value_counts(normalize= True,dropna=False))
print(dfprueba["vr_salario"].value_counts(normalize= True,dropna=False))

NaN          0.652390
515000.0     0.020273
600000.0     0.019531
800000.0     0.018446
700000.0     0.015476
               ...
994000.0     0.000057
1288000.0    0.000057
4113000.0    0.000057
1985000.0    0.000057
526000.0     0.000057
Name: vr_salario, Length: 581, dtype: float64
NaN          0.568543
600000.0     0.026071
515000.0     0.023779
200000.0     0.022490
800000.0     0.021917
               ...
526000.0     0.000143
1578000.0    0.000143
634000.0     0.000143
1195000.0    0.000143
926000.0     0.000143
Name: vr_salario, Length: 364, dtype: float64

In [107]:
#homogenización de categorías de variables:
#vr_alimentos_pago, vr_vivienda_pago, vr_educ_pago, vr_subalimentacion, vr_subtransporte, vr_subfamiliar,vr_bonos:

n_col=["vr_alimentos_pago", "vr_vivienda_pago", "vr_educ_pago", "vr_subalimentacion", 
       "vr_subtransporte",  "vr_subfamiliar", "vr_bonos"]

list_et_1 = ["No informa", "No sabe"]
list_et_2 = ["-1", "-1"]

for h in (n_col):
    
    for i, j in zip (list_et_1, list_et_2):
        df7[h] = df7[h].str.replace(i, j, regex = False)
        dfprueba[h] = dfprueba[h].str.replace(i, j, regex = False)
        
    df7[h] = pd.to_numeric(df7[h])
    df7[h] = pd.Series(df7[h], dtype = "int").replace(-1, np.nan)
    dfprueba[h] = pd.to_numeric(dfprueba[h])
    dfprueba[h] = pd.Series(dfprueba[h], dtype = "int").replace(-1, np.nan)

In [137]:
#homogenización de categorías de variables:
#"vr_ganancia", "vr_rec_pension", "vr_rec_arriendos", "vr_rec_dividendos"

n_col=["vr_ganancia", "vr_rec_pension", "vr_rec_arriendos", "vr_rec_dividendos"]

list_et_1 = ["No recibió", "No informa", "No sabe"]
list_et_2 = ["-1", "-1", "-1"]

for h in (n_col):
    
    for i, j in zip (list_et_1, list_et_2):
        df7[h] = df7[h].replace(i, j, regex = False)
        dfprueba[h] = dfprueba[h].replace(i, j, regex = False)
        
    df7[h] = pd.to_numeric(df7[h])
    df7[h] = pd.Series(df7[h], dtype = "int").replace(-1, np.nan)
    dfprueba[h] = pd.to_numeric(dfprueba[h])
    dfprueba[h] = pd.Series(dfprueba[h], dtype = "int").replace(-1, np.nan)

In [152]:
#meses_ganancia df7 y dfprueba(juntos en el for)
list_et_1 = [97, 98, 99]
list_et_2 = [np.nan, np.nan, np.nan]
for i, j in zip(list_et_1, list_et_2):
    df7['meses_ganancia'] = df7['mesepiis_ganancia'].replace(i, j, regex = False) 
    dfprueba['meses_ganancia'] = dfprueba['meses_ganancia'].replace(i, j, regex = False) 
print(df7["meses_ganancia"].value_counts(dropna=False)) 
print(dfprueba["meses_ganancia"].value_counts(dropna=False))

NaN     12130
1.0      5353
2.0        12
3.0         7
11.0        3
4.0         3
6.0         2
12.0        1
Name: meses_ganancia, dtype: int64
NaN     4173
1.0     2795
3.0        5
2.0        4
4.0        2
11.0       1
12.0       1
Name: meses_ganancia, dtype: int64

In [5]:
#Tiempo de empleo retrospectivo df7 y dfprueba
list_et_1 = ["Más de dos (2) años", "Entre un (1) año y dos", "Menos de seis (6) meses"]
list_et_2 = ["Más de 2 años", "Entre 1 año y 2 años", "Menos de 6 meses"]
for i, j in zip(list_et_1, list_et_2):
    df7['tiempo_desemp'] = df7['tiempo_desemp'].replace(i, j, regex = False) 
    dfprueba['tiempo_desemp'] = dfprueba['tiempo_desemp'].replace(i, j, regex = False) 
print(df7["tiempo_desemp"].value_counts(dropna=False)) 
print(dfprueba["tiempo_desemp"].value_counts(dropna=False))

NaN                         15291
Menos de 6 meses              834
Entre 1 año y 2 años          484
Entre 6 meses y 11 meses      461
Más de 2 años                 441
Name: tiempo_desemp, dtype: int64
NaN                         5560
Menos de 6 meses             647
Entre 6 meses y 11 meses     328
Entre 1 año y 2 años         278
Más de 2 años                168
Name: tiempo_desemp, dtype: int64

In [14]:
# tamaño de la empresa df7 y dfprueba
list_et_1 = ["______trabaja solo"]
list_et_2 = ["Trabaja solo"]
for i, j in zip(list_et_1, list_et_2):
    df7['n_empleados'] = df7['n_empleados'].replace(i, j, regex = False) 
    dfprueba['n_empleados'] = dfprueba['n_empleados'].replace(i, j, regex = False) 
print(dfprueba["n_empleados"].value_counts(dropna=False))
print(dfprueba["tam_empresa"].value_counts(dropna=False))

NaN                    2888
Trabaja solo           1565
De 2 a 5 personas       977
50 personas y más       837
De 6 a 10 personas      273
De 20 a 49 personas     252
De 11 a 19 personas     189
Name: n_empleados, dtype: int64
NaN                    4955
Trabaja solo            754
De 2 a 5 personas       534
50 personas y más       411
De 6 a 10 personas      132
De 20 a 49 personas     113
De 11 a 19 personas      82
Name: tam_empresa, dtype: int64

In [3]:
# educación
list_et_1 = ["Técnico", "Tecnológico", "Universitario", "Posgrado"]
list_et_2 = ["Técnico sin título", "Tecnológico sin título", "Universitario sin título", "Posgrado sin título"]
for i, j in zip(list_et_1, list_et_2):
    df7['educación'] = df7['educación'].replace(i, j, regex = False) 
    dfprueba['educación'] = dfprueba['educación'].replace(i, j, regex = False) 
print(dfprueba["educación"].value_counts(dropna=False))
print(dfprueba["educación"].value_counts(dropna=False))

Básica secundaria y media (6 a 13)    3060
Básica primaria (1 a 5)               1890
Técnico con título                     469
Universitario con título               343
Universitario sin título               305
Ninguno                                287
Técnico sin título                     196
Tecnológico con título                 180
Posgrado con título                    128
Tecnológico sin título                  62
Posgrado sin título                     61
Name: educación, dtype: int64
Básica secundaria y media (6 a 13)    3060
Básica primaria (1 a 5)               1890
Técnico con título                     469
Universitario con título               343
Universitario sin título               305
Ninguno                                287
Técnico sin título                     196
Tecnológico con título                 180
Posgrado con título                    128
Tecnológico sin título                  62
Posgrado sin título                     61
Name: educación, dtype: int64

In [5]:
#pensión para variable informalidad
list_et_1 = ["Si está cotizando, pero todavía no es pensionado", 
             "Si está cotizando y recibe pensión", "No cotiza porque no tiene dinero",
             "No cotiza porque no trabaja", "No cotiza porque no quiere o no le interesa",
             "No cotiza porque está esperando cumplir la edad para pensionarse",
             "No, porque ya está pensionado",
             "No cotiza porque no tiene la edad legal para hacerlo"]
list_et_2 = ["Si", "Si", "No", "No", "No", "No", "No", "No"]
for i, j in zip(list_et_1, list_et_2):
    df7['cotiza_fp2'] = df7['cotiza_fp2'].replace(i, j, regex = False) 
    dfprueba['cotiza_fp2'] = dfprueba['cotiza_fp2'].replace(i, j, regex = False)
print(dfprueba["cotiza_fp2"].value_counts(dropna=False))
print(df7["cotiza_fp2"].value_counts(dropna=False))

NaN    4654
No     1687
Si      640
Name: cotiza_fp2, dtype: int64
NaN    11678
No      4322
Si      1511
Name: cotiza_fp2, dtype: int64

In [7]:
#region_encuesta
list_et_1 = ["1. Atlántica", "2. Oriental", "4. Pacífica", "3. Central", "5. Bogotá"]
list_et_2 = ["Atlántica", "Oriental", "Pacífica", "Central", "Bogotá"]
for i, j in zip(list_et_1, list_et_2):
    df7['region_encuesta'] = df7['region_encuesta'].replace(i, j, regex = False) 
    dfprueba['region_encuesta'] = dfprueba['region_encuesta'].replace(i, j, regex = False)
print(dfprueba["region_encuesta"].value_counts(dropna=False))
print(df7["region_encuesta"].value_counts(dropna=False))

Atlántica    1882
Oriental     1584
Pacífica     1352
Central      1165
Bogotá        983
NaN            15
Name: region_encuesta, dtype: int64
Atlántica             4397
Oriental              3583
Pacífica              3575
Central               3302
Bogotá                2595
NaN                     57
Orinoquía-Amazonía       2
Name: region_encuesta, dtype: int64

#### Conversión de variables para el modelo (5_12_2021)

In [37]:
dfgroups["parentesco2"].value_counts(dropna=False)

Jefe(a)                   4668
Cónyuge o compañera(o)    2237
Hijo(a)                     50
otro                        26
Name: parentesco2, dtype: int64

In [5]:
#se reemplaza categorías tipo de vivienda
list_et_1 = ["Otro tipo de unidad de vivienda (carpa, tienda, vagón, embarcación, refugio natu",
             "Otro tipo de unidad de vivienda (carpa, tienda,vagón, embarcación, refugio natural, puente, etc)"]
list_et_2 = ["otro", "otro"]
for i, j in zip(list_et_1, list_et_2):
    df8["tipo_vivienda"] = df8["tipo_vivienda"].str.replace(i, j, regex = False)
    dfgroups["tipo_vivienda"] = dfgroups["tipo_vivienda"].str.replace(i, j, regex = False)

In [35]:
#se reemplaza categorías parentesco
df8["parentesco2"] = df8["parentesco"]
dfgroups["parentesco2"] = dfgroups["parentesco"]

list_et_1 = ["Hermano(a)", "Padre o madre", "Yerno o nuera", "Hijastro(a)",
             "Otro no pariente del jefe","Suegro(a)", "Otro pariente del jefe", 
             "Nieto(a)del jefe del hogar o de su cónyuge", "Sobrino(a)"]
list_et_2 = ["otro", "otro", "otro", "otro","otro", "otro", "otro", "otro", "otro"]
for i, j in zip(list_et_1, list_et_2):
    df8["parentesco2"] = df8["parentesco2"].str.replace(i, j, regex = False)
    dfgroups["parentesco2"] = dfgroups["parentesco2"].str.replace(i, j, regex = False)

In [43]:
## lee escribe df8
df8["lee_escribe"] = df8["lee_escribe"].replace("No informa", np.nan, regex = False)

In [47]:
## afiliación df8
df8["afiliacion"] = df8["afiliacion"].replace("No informa", np.nan, regex = False)

In [57]:
#tiempo_trab
list_et_1 = ["Más de dos (2) años", "Entre un (1) año y dos", "Menos de seis (6) meses"]
list_et_2 = ["Más de 2 años", "Entre 1 año y 2 años", "Menos de 6 meses"]
for i, j in zip(list_et_1, list_et_2):
    df8["tiempo_trab"] = df8["tiempo_trab"].str.replace(i, j, regex = False)
    dfgroups["tiempo_trab"] = dfgroups["tiempo_trab"].str.replace(i, j, regex = False)

In [84]:
#tipo_contrato. se adicionan categorías de 2010 a la variable tipo contrato indefinido y fijo.
def tc(df):
    if ((df["ocupacion"]=="Asalariado de empresa particular con contrato a término indefinido") or
    (df["ocupacion"]=="Asalariado del Gobierno con contrato a término indefinido")):
        c="Contrato escrito a término indefinido"
    elif ((df["ocupacion"]=="Asalariado de empresa particular con contrato a término fijo") or
    (df["ocupacion"]=="Asalariado del Gobierno con contrato a término fijo")):
        c="Contrato escrito a término fijo"
    else:
        c=df["tipo_contrato"]
    return(c)

In [85]:
dfgroups["tipo_contrato"]= dfgroups.apply(tc,axis = 1)

In [88]:
df8["tipo_contrato"]= df8.apply(tc,axis = 1)

In [135]:
#descripción_ciuu, nueva variable con solo 10 categorias ordenadas de mayor a menor por número de observaciones. 
df8['descripcion_ciiu'] = pd.Series(df8['descripcion_ciiu'], dtype = "string").replace(np.nan, "x")
dfgroups['descripcion_ciiu'] = pd.Series(dfgroups['descripcion_ciiu'], dtype = "string").replace(np.nan, "x")
def dciuu(df):
    if ((df["descripcion_ciiu"]== "Comercio al por mayor y al por menor; reparación de vehículos automotores y moto") or
        (df["descripcion_ciiu"]== "Industrias manufactureras") or
        (df["descripcion_ciiu"]== "Otras actividades de servicios") or
        (df["descripcion_ciiu"]== "Alojamiento y servicios de comida") or 
        (df["descripcion_ciiu"]== "Transporte y almacenamiento") or 
        (df["descripcion_ciiu"]== "Educación") or 
        (df["descripcion_ciiu"]== "Agricultura, ganadería, caza, silvicultura y pesca") or
        (df["descripcion_ciiu"]== "Construcción") or
        (df["descripcion_ciiu"]=="Actividades de atención de la salud humana y de asistencia social") or
        (df["descripcion_ciiu"]=="Actividades de los hogares individuales en calidad de empleadores;actividades no")):
        dc=df["descripcion_ciiu"]
    elif (df["descripcion_ciiu"]=="x"):
        dc="x"
    else:
        dc= "otra"
    return(dc)

In [136]:
df8["descripcion_ciiu2"] = df8.apply(dciuu,axis = 1)
dfgroups["descripcion_ciiu2"] = dfgroups.apply(dciuu,axis = 1)

In [137]:
df8['descripcion_ciiu'] = pd.Series(df8['descripcion_ciiu'], dtype = "string").replace("x",np.nan)
dfgroups['descripcion_ciiu'] = pd.Series(dfgroups['descripcion_ciiu'], dtype = "string").replace("x",np.nan)
df8['descripcion_ciiu2'] = pd.Series(df8['descripcion_ciiu2'], dtype = "string").replace("x",np.nan)
dfgroups['descripcion_ciiu2'] = pd.Series(dfgroups['descripcion_ciiu2'], dtype = "string").replace("x",np.nan)

In [142]:
df8["descripcion_ciiu2"].value_counts(dropna=False)

NaN                              5317
otra                             5032
Comercio; rep. de vehículos      1834
Industrias manufactureras        1038
Otras act. de servicios           945
Alojamiento y serv. de comida     629
Transporte y almacenamiento       587
Agri. g. caza silv. y pesca       499
Construcción                      481
Educación                         439
Act. hogares empleadores          403
Act. salud y asis. social         307
Name: descripcion_ciiu2, dtype: Int64

In [140]:
#acortar categorias descripcion_ciuu2
list_et_1 = ['Comercio al por mayor y al por menor; reparación de vehículos automotores y moto',
             'Industrias manufactureras', 
             'Otras actividades de servicios',
             'Alojamiento y servicios de comida', 
             'Transporte y almacenamiento',
             'Educación',
             'Agricultura, ganadería, caza, silvicultura y pesca',
             'Construcción',
             'Actividades de atención de la salud humana y de asistencia social',
             'Actividades de los hogares individuales en calidad de empleadores;actividades no', 
             'otra']
list_et_2 = ["Comercio; rep. de vehículos", "Industrias manufactureras", 
             "Otras act. de servicios", "Alojamiento y serv. de comida",
            "Transporte y almacenamiento", "Educación",
            "Agri. g. caza silv. y pesca", "Construcción",
            "Act. salud y asis. social", 
            "Act. hogares empleadores", "otra"]
for i, j in zip(list_et_1, list_et_2):
    df8["descripcion_ciiu2"] = df8["descripcion_ciiu2"].str.replace(i, j, regex = False)
    dfgroups["descripcion_ciiu2"] = dfgroups["descripcion_ciiu2"].str.replace(i, j, regex = False)

In [152]:
#cotizando a pensión
df8["cotizando"] = df8["cotizando"].replace("No informa", np.nan, regex = False)
dfgroups["cotizando"] = dfgroups["cotizando"].replace("No informa", np.nan, regex = False)

In [158]:
df8["cotizando"] = df8["cotizando"].str.replace("í", "i", regex = False)
dfgroups["cotizando"] = dfgroups["cotizando"].str.replace("í", "i", regex = False)

In [167]:
#afiliación a pensión. unir cotiza_fp2 2010, cotizando 2013, 2016
list_1 =["cotiza_fp2","cotizando"]
for i in list_1:
    df8[i] = pd.Series(df8[i], dtype = "string").replace(np.nan, "x")
    dfgroups[i] = pd.Series(dfgroups[i], dtype = "string").replace(np.nan, "x")
def pen(df):
    if (df["cotiza_fp2"]!= "x"):
        p=df["cotiza_fp2"]
    elif (df["cotizando"]!= "x"):
        p=df["cotizando"]
    else:
        p="x"
    return(p)

In [168]:
df8["pension"] = df8.apply(pen,axis = 1)
dfgroups["pension"] = dfgroups.apply(pen,axis = 1)

In [169]:
list_1 =["cotiza_fp2","cotizando", "pension"]
for i in list_1:
    df8[i] = pd.Series(df8[i], dtype = "string").replace("x", np.nan)
    dfgroups[i] = pd.Series(dfgroups[i], dtype = "string").replace("x", np.nan)

In [ ]:
#prubea variable categórica a número con missing values.
#El modelo de efectos fijos funciona cuando se convierten los valores str a número previamente.
#No obstante, la función del modelo los toma como variables númericas y no categoricas. 
# afil = {"Si": 1,"No": 0}
# dfg_mod["afiliacion"]=dfg_mod["afiliacion"].map(afil, na_action='ignore')

In [ ]:
# par = {"Jefe(a)": 1,"Cónyuge o compañera(o)": 0, "Hijo(a)":2, "otro":3}
# dfg_mod["parentesco2"]=dfg_mod["parentesco2"].map(par, na_action='ignore')

In [6]:
df7.to_csv('D:/maestria_ciencias_economicas_unal/tesis_scarring/base datos/ELCA_FINAL/PANEL_PET_REDUC.csv', sep = ";")
# se guarda la base de datos imputada con otro nombre para no sobreescribir la base original.
dfprueba.to_csv('D:/maestria_ciencias_economicas_unal/tesis_scarring/base datos/ELCA_FINAL/PET_REDUC_Trat_ctrl.csv', sep = ";")

In [9]:
df8.to_csv('D:/maestria_ciencias_economicas_unal/tesis_scarring/base datos/ELCA_FINAL/PANEL_MODELO.csv', sep = ";")

In [8]:
dfgroups.to_csv('D:/maestria_ciencias_economicas_unal/tesis_scarring/base datos/ELCA_FINAL/Trat_ctrl_MODELO.csv', sep = ";")