In [62]:
import numpy as np
import pandas as pd
from numpy import average

In [63]:
### Procesamiento base de pobreza

In [64]:
vic_21 = pd.read_stata("C:/Users/Estadistico/Desktop/BACKUP_07_07_2022/ivan/DANE_pobreza/2021/Victimas_GEIH 2021.dta")

In [65]:
per_21 = pd.read_stata("C:/Users/Estadistico/Desktop/BACKUP_07_07_2022/ivan/DANE_pobreza/2021/Personas.dta")

In [66]:
hog_21 = pd.read_stata("C:/Users/Estadistico/Desktop/BACKUP_07_07_2022/ivan/DANE_pobreza/2021/Hogares.dta")

In [6]:
vic_21.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 711381 entries, 0 to 711380
Data columns (total 8 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   directorio     711381 non-null  float64
 1   secuencia_p    711381 non-null  float64
 2   orden          711381 non-null  float64
 3   mes            711381 non-null  int8
 4   es_victima     84419 non-null   float64
 5   es_desplazado  84419 non-null   float64
 6   decada_vic     711381 non-null  object
 7   fex_c_viv      84419 non-null   float64
dtypes: float64(6), int8(1), object(1)
memory usage: 44.1+ MB

In [7]:
vic_21.head()

,directorio,secuencia_p,orden,mes,es_victima,es_desplazado,decada_vic,fex_c_viv
0,5332763.0,1.0,1.0,1,1.0,0.0,a. 2010-2021,14.003113
1,5332763.0,1.0,2.0,1,NaN,NaN,,NaN
2,5332763.0,1.0,3.0,1,NaN,NaN,,NaN
3,5332763.0,1.0,4.0,1,NaN,NaN,,NaN
4,5332764.0,1.0,1.0,1,NaN,NaN,,NaN

In [8]:
print(vic_21["es_victima"].value_counts())
print(vic_21["es_desplazado"].value_counts())

1.0    84419
Name: es_victima, dtype: int64
1.0    78198
0.0     6221
Name: es_desplazado, dtype: int64

In [9]:
hog_21.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 225853 entries, 0 to 225852
Data columns (total 22 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   directorio   225853 non-null  float64
 1   secuencia_p  225853 non-null  float64
 2   mes          225853 non-null  object
 3   clase        225853 non-null  object
 4   dominio      225853 non-null  object
 5   p5090        225853 non-null  float64
 6   p5100        6471 non-null    float64
 7   p5130        132776 non-null  float64
 8   nper         225853 non-null  float64
 9   npersug      225853 non-null  float64
 10  ingtotug     225853 non-null  float64
 11  ingtotugarr  225853 non-null  float64
 12  ingpcug      225853 non-null  float64
 13  li           225853 non-null  float64
 14  lp           225853 non-null  float64
 15  pobre        225853 non-null  float64
 16  indigente    225853 non-null  float64
 17  npobres      225853 non-null  float64
 18  nindigentes  225853 non-null  float64
 19  fex_c        225853 non-null  float64
 20  dpto         225853 non-null  object
 21  fex_dpto     225853 non-null  float64
dtypes: float64(18), object(4)
memory usage: 39.6+ MB

In [10]:
per_21.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 711381 entries, 0 to 711380
Columns: 137 entries, directorio to fex_dpto
dtypes: float64(132), object(5)
memory usage: 749.0+ MB

In [67]:
hog_21_sub = hog_21.iloc[:,[0,1,2,8,13,14,15,16,17,18]]

In [69]:
hog_21_sub.iloc[:,2] = pd.to_numeric(hog_21_sub.iloc[:,2], downcast = 'integer')

In [13]:
hog_21_sub.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 225853 entries, 0 to 225852
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   directorio   225853 non-null  float64
 1   secuencia_p  225853 non-null  float64
 2   mes          225853 non-null  int8
 3   li           225853 non-null  float64
 4   lp           225853 non-null  float64
 5   pobre        225853 non-null  float64
 6   indigente    225853 non-null  float64
 7   npobres      225853 non-null  float64
 8   nindigentes  225853 non-null  float64
dtypes: float64(8), int8(1)
memory usage: 15.7 MB

In [70]:
vic_21_merge = pd.merge(left=vic_21, right=hog_21_sub, left_on=["directorio", "secuencia_p", "mes"], 
                        right_on=["directorio", "secuencia_p", "mes"], how='left', sort=False, validate='m:1', 
                        suffixes=("_v", "_h"), indicator = 'indicator_column')

In [15]:
vic_21_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 711381 entries, 0 to 711380
Data columns (total 15 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   directorio        711381 non-null  float64
 1   secuencia_p       711381 non-null  float64
 2   orden             711381 non-null  float64
 3   mes               711381 non-null  int8
 4   es_victima        84419 non-null   float64
 5   es_desplazado     84419 non-null   float64
 6   decada_vic        711381 non-null  object
 7   fex_c_viv         84419 non-null   float64
 8   li                711381 non-null  float64
 9   lp                711381 non-null  float64
 10  pobre             711381 non-null  float64
 11  indigente         711381 non-null  float64
 12  npobres           711381 non-null  float64
 13  nindigentes       711381 non-null  float64
 14  indicator_column  711381 non-null  category
dtypes: category(1), float64(12), int8(1), object(1)
memory usage: 77.3+ MB

In [22]:
#pd.options.display.max_info_rows= None

In [41]:
#per_21.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 711381 entries, 0 to 711380
Data columns (total 137 columns):
 #   Column       Dtype
---  ------       -----
 0   directorio   float64
 1   secuencia_p  float64
 2   orden        float64
 3   clase        object
 4   dominio      object
 5   mes          object
 6   p6020        float64
 7   p6040        float64
 8   p6050        float64
 9   p6090        float64
 10  p6100        float64
 11  p6210        float64
 12  p6210s1      float64
 13  p6220        float64
 14  p6240        float64
 15  oficio       object
 16  p6426        float64
 17  p6430        float64
 18  p6500        float64
 19  p6510        float64
 20  p6510s1      float64
 21  p6510s2      float64
 22  p6545        float64
 23  p6545s1      float64
 24  p6545s2      float64
 25  p6580        float64
 26  p6580s1      float64
 27  p6580s2      float64
 28  p6585s1      float64
 29  p6585s1a1    float64
 30  p6585s1a2    float64
 31  p6585s2      float64
 32  p6585s2a1    float64
 33  p6585s2a2    float64
 34  p6585s3      float64
 35  p6585s3a1    float64
 36  p6585s3a2    float64
 37  p6585s4      float64
 38  p6585s4a1    float64
 39  p6585s4a2    float64
 40  p6590        float64
 41  p6590s1      float64
 42  p6600        float64
 43  p6600s1      float64
 44  p6610        float64
 45  p6610s1      float64
 46  p6620        float64
 47  p6620s1      float64
 48  p6630s1      float64
 49  p6630s1a1    float64
 50  p6630s2      float64
 51  p6630s2a1    float64
 52  p6630s3      float64
 53  p6630s3a1    float64
 54  p6630s4      float64
 55  p6630s4a1    float64
 56  p6630s6      float64
 57  p6630s6a1    float64
 58  p6750        float64
 59  p6760        float64
 60  p550         float64
 61  p6800        float64
 62  p6870        float64
 63  p6920        float64
 64  p7040        float64
 65  p7045        float64
 66  p7050        float64
 67  p7070        float64
 68  p7090        float64
 69  p7110        float64
 70  p7120        float64
 71  p7140s1      float64
 72  p7140s2      float64
 73  p7150        float64
 74  p7160        float64
 75  p7310        float64
 76  p7350        float64
 77  p7422        float64
 78  p7422s1      float64
 79  p7472        float64
 80  p7472s1      float64
 81  p7495        float64
 82  p7500s1      float64
 83  p7500s1a1    float64
 84  p7500s2      float64
 85  p7500s2a1    float64
 86  p7500s3      float64
 87  p7500s3a1    float64
 88  p7505        float64
 89  p7510s1      float64
 90  p7510s1a1    float64
 91  p7510s2      float64
 92  p7510s2a1    float64
 93  p7510s3      float64
 94  p7510s3a1    float64
 95  p7510s5      float64
 96  p7510s5a1    float64
 97  p7510s6      float64
 98  p7510s6a1    float64
 99  p7510s7      float64
 100 p7510s7a1    float64
 101 pet          float64
 102 oc           float64
 103 des          float64
 104 ina          float64
 105 impa         float64
 106 isa          float64
 107 ie           float64
 108 imdi         float64
 109 iof1         float64
 110 iof2         float64
 111 iof3h        float64
 112 iof3i        float64
 113 iof6         float64
 114 cclasnr2     float64
 115 cclasnr3     float64
 116 cclasnr4     float64
 117 cclasnr5     float64
 118 cclasnr6     float64
 119 cclasnr7     float64
 120 cclasnr8     float64
 121 cclasnr11    float64
 122 impaes       float64
 123 isaes        float64
 124 iees         float64
 125 imdies       float64
 126 iof1es       float64
 127 iof2es       float64
 128 iof3hes      float64
 129 iof3ies      float64
 130 iof6es       float64
 131 ingtotob     float64
 132 ingtotes     float64
 133 ingtot       float64
 134 fex_c        float64
 135 dpto         object
 136 fex_dpto     float64
dtypes: float64(132), object(5)
memory usage: 749.0+ MB

In [71]:
per_21_sub = per_21.iloc[:,[0,1,2,3,4,5,6,7,133,134,135,136]]

In [17]:
per_21_sub.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 711381 entries, 0 to 711380
Data columns (total 12 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   directorio   711381 non-null  float64
 1   secuencia_p  711381 non-null  float64
 2   orden        711381 non-null  float64
 3   clase        711381 non-null  object
 4   dominio      711381 non-null  object
 5   mes          711381 non-null  object
 6   p6020        711381 non-null  float64
 7   p6040        711381 non-null  float64
 8   ingtot       594246 non-null  float64
 9   fex_c        711381 non-null  float64
 10  dpto         711381 non-null  object
 11  fex_dpto     711381 non-null  float64
dtypes: float64(8), object(4)
memory usage: 70.6+ MB

In [72]:
#formato
per_21_sub.iloc[:,5] = pd.to_numeric(per_21_sub.iloc[:,5], downcast = 'integer')

In [73]:
vic_21_merge_p = pd.merge(left=vic_21_merge, right=per_21_sub, left_on=["directorio", "secuencia_p", "orden", "mes"], 
                        right_on=["directorio", "secuencia_p", "orden", "mes"], how='left', sort=False, validate='1:1', 
                        suffixes=("_vh", "_p"), indicator = 'indicator_column_vhp')

In [19]:
vic_21_merge_p.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 711381 entries, 0 to 711380
Data columns (total 25 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   directorio            711381 non-null  float64
 1   secuencia_p           711381 non-null  float64
 2   orden                 711381 non-null  float64
 3   mes                   711381 non-null  int8
 4   es_victima            84419 non-null   float64
 5   es_desplazado         84419 non-null   float64
 6   decada_vic            711381 non-null  object
 7   fex_c_viv             84419 non-null   float64
 8   li                    711381 non-null  float64
 9   lp                    711381 non-null  float64
 10  pobre                 711381 non-null  float64
 11  indigente             711381 non-null  float64
 12  npobres               711381 non-null  float64
 13  nindigentes           711381 non-null  float64
 14  indicator_column      711381 non-null  category
 15  clase                 711381 non-null  int8
 16  dominio               711381 non-null  object
 17  sexo                  711381 non-null  float64
 18  edad                  711381 non-null  float64
 19  ingtot                594246 non-null  float64
 20  fex_c                 711381 non-null  float64
 21  dpto                  711381 non-null  object
 22  fex_dpto              711381 non-null  float64
 23  indicator_column_vhp  711381 non-null  category
 24  no_victima            711381 non-null  int32
dtypes: category(2), float64(17), int32(1), int8(2), object(3)
memory usage: 119.4+ MB

In [6]:
pd.options.display.max_columns= None

In [75]:
vic_21_merge_p["dominio"].value_counts()

RESTO URBANO     75192
RURAL            71074
BARRANQUILLA     38695
MEDELLIN         36929
BOGOTA           28987
SANTA MARTA      28616
CARTAGENA        27809
VALLEDUPAR       26677
SINCELEJO        26538
CALI             25982
RIOHACHA         24828
CUCUTA           24184
MANIZALES        23580
MONTERIA         23078
BUCARAMANGA      23034
POPAYAN          22633
ARMENIA          22315
VILLAVICENCIO    21263
NEIVA            20824
IBAGUE           20697
PASTO            20431
PEREIRA          20061
TUNJA            19759
FLORENCIA        19296
QUIBDO           18899
Name: dominio, dtype: int64

In [72]:
vic_21_merge_p.head()

,directorio,secuencia_p,orden,mes,es_victima,es_desplazado,decada_vic,fex_c_viv,li,lp,pobre,indigente,npobres,nindigentes,indicator_column,clase,dominio,p6020,p6040,ingtot,fex_c,dpto,fex_dpto,indicator_column_vhp,no_victima
0,5332763.0,1.0,1.0,1,1.0,0.0,a. 2010-2021,14.003113,179664.487378,423327.0221,1.0,0.0,4.0,0.0,both,1,ARMENIA,1.0,55.0,900000.000000,10.100768,63,10.209690,both,0
1,5332763.0,1.0,2.0,1,NaN,NaN,,NaN,179664.487378,423327.0221,1.0,0.0,4.0,0.0,both,1,ARMENIA,2.0,44.0,0.000000,10.100768,63,10.209690,both,1
2,5332763.0,1.0,3.0,1,NaN,NaN,,NaN,179664.487378,423327.0221,1.0,0.0,4.0,0.0,both,1,ARMENIA,1.0,20.0,0.000000,10.100768,63,10.209690,both,1
3,5332763.0,1.0,4.0,1,NaN,NaN,,NaN,179664.487378,423327.0221,1.0,0.0,4.0,0.0,both,1,ARMENIA,2.0,18.0,0.000000,10.100768,63,10.209690,both,1
4,5332764.0,1.0,1.0,1,NaN,NaN,,NaN,179664.487378,423327.0221,1.0,1.0,5.0,5.0,both,1,ARMENIA,1.0,65.0,140016.666667,6.203772,63,6.600542,both,1

In [38]:
hog_21_sub["pobre"].value_counts() #225853

0.0    154376
1.0     71477
Name: pobre, dtype: int64

In [46]:
#hog_21[["nper","pobre", "npobres"]].head(30) #225853

0         False
1         False
2         False
3          True
4         False
          ...
225848     True
225849     True
225850    False
225851     True
225852     True
Length: 225853, dtype: bool

In [54]:
mask =hog_21["nper"] > hog_21["npobres"]

In [55]:
mask[mask==True].count()

154376

In [58]:
hog_21_mask = hog_21[mask==True]
hog_21_mask["pobre"].value_counts()

0.0    154376
Name: pobre, dtype: int64

In [36]:
vic_21_merge_p["pobre"].value_counts()

0.0    433172
1.0    278209
Name: pobre, dtype: int64

In [30]:
print((vic_21_merge_p["es_victima"] * vic_21_merge_p["fex_c_viv"]).sum())

8024313.000000227

In [74]:
def novic(df):
    if df["es_victima"]!=1:
        x = 1
    else:
        x= 0
    return(x)

In [75]:
vic_21_merge_p["no_victima"] = vic_21_merge_p.apply(novic, axis = 1)

In [77]:
##renombrar variables
vic_21_merge_p.rename(columns = {"p6020":"sexo", "p6040":"edad"}, inplace = True)

In [18]:
#formato
#vic_21_merge_p.iloc[:,15] = pd.to_numeric(vic_21_merge_p.iloc[:,15], downcast = 'integer')

In [78]:
#vic_21_merge_p.drop(columns=["index"], inplace=True) 
vic_21_merge_p.drop(columns=["indicator_column", "indicator_column_vhp"], inplace=True)

In [79]:
vic_21_merge_p["periodo"] = 2021

In [49]:
#vic_21_merge_p.rename(columns= {"a_o": "periodo"}, inplace=True)

In [80]:
##renombrar variables
vic_21_merge_p.rename(columns = {"dpto":"depto"}, inplace = True)

In [50]:
vic_21_merge_p.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 711381 entries, 0 to 711380
Data columns (total 24 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   directorio     711381 non-null  float64
 1   secuencia_p    711381 non-null  float64
 2   orden          711381 non-null  float64
 3   mes            711381 non-null  int8
 4   es_victima     84419 non-null   float64
 5   es_desplazado  84419 non-null   float64
 6   decada_vic     711381 non-null  object
 7   fex_c_viv      84419 non-null   float64
 8   li             711381 non-null  float64
 9   lp             711381 non-null  float64
 10  pobre          711381 non-null  float64
 11  indigente      711381 non-null  float64
 12  npobres        711381 non-null  float64
 13  nindigentes    711381 non-null  float64
 14  clase          711381 non-null  int8
 15  dominio        711381 non-null  object
 16  sexo           711381 non-null  float64
 17  edad           711381 non-null  float64
 18  ingtot         594246 non-null  float64
 19  fex_c          711381 non-null  float64
 20  dpto           711381 non-null  object
 21  fex_dpto       711381 non-null  float64
 22  no_victima     711381 non-null  int32
 23  periodo        711381 non-null  int32
dtypes: float64(17), int32(2), int8(2), object(3)
memory usage: 120.8+ MB

In [81]:
#export
vic_21_merge_p.to_stata("C:/Users/Estadistico/Desktop/BACKUP_07_07_2022/ivan/DANE_pobreza/2021/Victimas_procesada_2021.dta",write_index=False)

## Validaciones

In [59]:
vic_21_merge_p = pd.read_stata("C:/Users/Estadistico/Desktop/BACKUP_07_07_2022/ivan/DANE_pobreza/2021/Victimas_procesada_2021.dta")

In [53]:
vic_21_merge_p.head()

,directorio,secuencia_p,orden,mes,es_victima,es_desplazado,decada_vic,fex_c_viv,li,lp,...,clase,dominio,sexo,edad,ingtot,fex_c,dpto,fex_dpto,no_victima,periodo
0,5332763.0,1.0,1.0,1,1.0,0.0,a. 2010-2021,14.003113,179664.487378,423327.0221,...,1,ARMENIA,1.0,55.0,900000.000000,10.100768,63,10.209690,0,2021
1,5332763.0,1.0,2.0,1,NaN,NaN,,NaN,179664.487378,423327.0221,...,1,ARMENIA,2.0,44.0,0.000000,10.100768,63,10.209690,1,2021
2,5332763.0,1.0,3.0,1,NaN,NaN,,NaN,179664.487378,423327.0221,...,1,ARMENIA,1.0,20.0,0.000000,10.100768,63,10.209690,1,2021
3,5332763.0,1.0,4.0,1,NaN,NaN,,NaN,179664.487378,423327.0221,...,1,ARMENIA,2.0,18.0,0.000000,10.100768,63,10.209690,1,2021
4,5332764.0,1.0,1.0,1,NaN,NaN,,NaN,179664.487378,423327.0221,...,1,ARMENIA,1.0,65.0,140016.666667,6.203772,63,6.600542,1,2021

##### Número de víctimas muestrales y expandidas

In [13]:
print(vic_21_merge_p["no_victima"].value_counts())
print((vic_21_merge_p["no_victima"] * vic_21_merge_p["fex_c"]).sum())
print((vic_21_merge_p["pobre"] * vic_21_merge_p["fex_c"]).sum())

1    626962
0     84419
Name: no_victima, dtype: int64
44156055.996016815
19621330.123367645

In [15]:
mask_2= vic_21_merge_p["no_victima"]==1

In [16]:
vic_21_merge_p_mask_nv = vic_21_merge_p[mask_2==True]

##### Tasa pobreza expandida población no víctima

In [17]:
print(
    round(
    ((vic_21_merge_p_mask_nv["pobre"] * vic_21_merge_p_mask_nv["fex_c"]).sum() /
      (vic_21_merge_p["no_victima"] * vic_21_merge_p["fex_c"]).sum()*100),2))

37.87

##### Tasa pobreza expandida población víctima

In [18]:
mask_3= vic_21_merge_p["es_victima"]==1

In [19]:
vic_21_merge_p_mask_v = vic_21_merge_p[mask_3==True]

In [20]:
print(   
    ((vic_21_merge_p_mask_v["pobre"] * vic_21_merge_p_mask_v["fex_c_viv"]).sum() /
      (round((vic_21_merge_p["es_victima"] * vic_21_merge_p["fex_c_viv"]),2)).sum())*100)

50.06160963455146

##### Tasa pobreza expandida población víctima desplazamiento

In [21]:
mask_4= vic_21_merge_p["es_desplazado"]==1

In [22]:
vic_21_merge_p_mask_vd = vic_21_merge_p[mask_4==True]

In [23]:
print(   
    ((vic_21_merge_p_mask_vd["pobre"] * vic_21_merge_p_mask_vd["fex_c_viv"]).sum() /
      ((vic_21_merge_p["es_desplazado"] * vic_21_merge_p["fex_c_viv"])).sum())*100)

51.57066651545995

##### Tasa pobreza extrema expandida población víctima y víctima desplazamiento

In [29]:
mask_5= vic_21_merge_p["es_victima"]==1

In [30]:
vic_21_merge_p_mask_v = vic_21_merge_p[mask_5==True]

In [35]:
print(   
    ((vic_21_merge_p_mask_v["indigente"] * vic_21_merge_p_mask_v["fex_c_viv"]).sum() /
      ((vic_21_merge_p["es_victima"] * vic_21_merge_p["fex_c_viv"])).sum())*100)

17.880665601041287

In [32]:
mask_6= vic_21_merge_p["es_desplazado"]==1

In [33]:
vic_21_merge_p_mask_vd = vic_21_merge_p[mask_6==True]

In [34]:
print(   
    ((vic_21_merge_p_mask_vd["indigente"] * vic_21_merge_p_mask_vd["fex_c_viv"]).sum() /
      ((vic_21_merge_p["es_desplazado"] * vic_21_merge_p["fex_c_viv"])).sum())*100)

18.54148340311986

##### Tasa pobreza extrema expandida población víctima desplazamiento (por sexo)

In [58]:
mask_7= vic_21_merge_p["es_desplazado"]==1
vic_21_merge_p_mask_v_m = vic_21_merge_p[mask_7==True]
mask_7= vic_21_merge_p_mask_v_m["sexo"]==1
vic_21_merge_p_mask_v_m = vic_21_merge_p_mask_v_m[mask_7==True]

In [47]:
mask_8= vic_21_merge_p["es_desplazado"]==1
vic_21_merge_p_mask_v_h = vic_21_merge_p[mask_8==True]
mask_8= vic_21_merge_p_mask_v_h["sexo"]==2
vic_21_merge_p_mask_v_h = vic_21_merge_p_mask_v_h[mask_8==True]

In [49]:
print(   
    ((vic_21_merge_p_mask_v_m["indigente"] * vic_21_merge_p_mask_v_m["fex_c_viv"]).sum() /
      ((vic_21_merge_p_mask_v_m["es_desplazado"] * vic_21_merge_p_mask_v_m["fex_c_viv"])).sum())*100)
print(   
    ((vic_21_merge_p_mask_v_h["indigente"] * vic_21_merge_p_mask_v_h["fex_c_viv"]).sum() /
      ((vic_21_merge_p_mask_v_h["es_desplazado"] * vic_21_merge_p_mask_v_h["fex_c_viv"])).sum())*100)

17.74628300141711
19.217903816029096

##### Tasa pobreza extrema expandida población víctima y víctima desplazamiento (por clase)

In [54]:
mask_9= vic_21_merge_p["es_desplazado"]==1
vic_21_merge_p_mask_v_c = vic_21_merge_p[mask_9==True]
mask_9= vic_21_merge_p_mask_v_c["clase"]==1
vic_21_merge_p_mask_v_c = vic_21_merge_p_mask_v_c[mask_9==True]

In [55]:
mask_9= vic_21_merge_p_mask_v_c["clase"]==1

In [56]:
mask_10= vic_21_merge_p["es_desplazado"]==1
vic_21_merge_p_mask_v_r = vic_21_merge_p[mask_10==True]
mask_10= vic_21_merge_p_mask_v_r["clase"]==2
vic_21_merge_p_mask_v_r = vic_21_merge_p_mask_v_r[mask_10==True]

In [57]:
print(   
    ((vic_21_merge_p_mask_v_c["indigente"] * vic_21_merge_p_mask_v_c["fex_c_viv"]).sum() /
      ((vic_21_merge_p_mask_v_c["es_desplazado"] * vic_21_merge_p_mask_v_c["fex_c_viv"])).sum())*100)
print(   
    ((vic_21_merge_p_mask_v_r["indigente"] * vic_21_merge_p_mask_v_r["fex_c_viv"]).sum() /
      ((vic_21_merge_p_mask_v_r["es_desplazado"] * vic_21_merge_p_mask_v_r["fex_c_viv"])).sum())*100)

17.3677028591577
20.59515503957117