In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [22]:
#pd.options.display.max_info_rows= None
pd.options.display.float_format = '{:.3f}'.format 
pd.options.display.max_rows = None
pd.options.display.max_columns = None
#pd.options.display.max_colwidth = 300

In [5]:
coding: "latin-1"

### Cargue de bases

In [4]:
#rutas
p1 = "C:/Users/ivan.corredor/pobreza_calculos_2019_2022/2023/pobreza monetaria/"
p2 = "C:/Users/ivan.corredor/pobreza_calculos_2019_2022/GEIH_2022/"

In [8]:
vic_22 = pd.read_stata(p1 + "Victimas_GEIH_2022.dta")

In [9]:
per_22 = pd.read_stata(p1 + "Personas.dta")

In [10]:
hog_22 = pd.read_stata(p1 + "Hogares.dta")

In [11]:
# impresión de las nuevas variables
hog_22.columns

Index(['DIRECTORIO', 'SECUENCIA_P', 'MES', 'nper', 'npersug', 'clase', 'fex_c',
       'ingtotug', 'DOMINIO', 'lp', 'li', 'P5090', 'P5100', 'P5130',
       'ingtotugarr', 'ingpcug', 'pobre', 'indigente', 'npobres',
       'nindigentes', 'fex_dpto'],
      dtype='object')

In [12]:
hog_22_sub = hog_22.iloc[:,[0,1,2,3,9,10,16,17,18,19]]

In [13]:
hog_22_sub.iloc[:,2] = pd.to_numeric(hog_22_sub.iloc[:,2], downcast = 'integer')

In [14]:
##convertir a minusculas las primeras tres variables
hog_22_sub.columns = hog_22_sub.columns.str.lower()

In [15]:
## agregar cero a la izquierda para la variable mes de la tabla hog_22_sub
hog_22_sub["mes"] = hog_22_sub["mes"].astype(str).str.zfill(2)

C:\Users\ivan.corredor\AppData\Local\Temp\2\ipykernel_8236\22515028.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hog_22_sub["mes"] = hog_22_sub["mes"].astype(str).str.zfill(2)

### Pegue variable departamento

In [6]:
for i in range(1,13):
    df = pd.read_stata(p2 + 
                      'Características generales, seguridad social en salud y educación_{}.dta'.format(i),
                       columns = ['DIRECTORIO', 'SECUENCIA_P', 'ORDEN', 'DPTO'])
    exec(f"geih_car_{i} = df.copy()")
    exec(f"geih_car_{i}['MES'] = {i}")
    exec(f"geih_car_{i}['MES'] = geih_car_{i}['MES'].astype(str).str.zfill(2)")

frames2 = [geih_car_1, geih_car_2, geih_car_3, 
           geih_car_4, geih_car_5, geih_car_6,
           geih_car_7, geih_car_8, geih_car_9, 
           geih_car_10, geih_car_11, geih_car_12]

dpto_geih_22 = pd.concat(frames2, axis=0, join = 'outer', sort = False)

In [40]:
dpto_geih_22["DPTO"].value_counts()

DPTO
05    52895
76    47359
68    42992
17    41698
13    41402
08    40503
47    39572
66    39204
52    38097
54    37788
27    37709
70    37359
44    36422
50    35453
20    34088
63    33130
19    32383
41    31915
18    31280
15    30535
23    30123
73    29822
11    27592
25    16642
88    14164
97     5800
81     5493
91     5376
85     5163
94     5057
95     4468
86     4174
99     3801
Name: count, dtype: int64

In [16]:
### traer la variable a la tabla per_22
per_22b = pd.merge(per_22, dpto_geih_22,
                   on = ["DIRECTORIO", "SECUENCIA_P", "ORDEN", "MES"], 
                   validate = "1:1")

In [23]:
per_22.head()

,DIRECTORIO,SECUENCIA_P,ORDEN,P3271,P6040,P6050,P6090,P6100,P3042,P3042S1,P3043,CLASE,FEX_C,MES,P6240,pet,P6426,P6510,P6510S1,P6510S2,P6585S1,P6585S1A1,P6585S1A2,P6585S2,P6585S2A1,P6585S2A2,P6585S3,P6585S3A1,P6585S3A2,P6585S4,P6585S4A1,P6585S4A2,P6545,P6545S1,P6545S2,P6580,P6580S1,P6580S2,P6630S1,P6630S1A1,P6630S2,P6630S2A1,P6630S3,P6630S3A1,P6630S4,P6630S4A1,P6630S6,P6630S6A1,P6750,P3073,P550,P6800,P6920,P7040,P7045,P7050,P7070,P7090,P7110,P7120,P7140S1,P7140S2,P7150,P7160,P6430,oc,P7350,des,ina,P7510S7,P7510S7A1,p6500,p6590s1,p6600s1,p6610s1,p6620s1,p7422s1,p7510s5a1,p7510s1a1,p7510s2a1,p7500s3a1,p7510s6a1,p7500s1a1,p6590,p6600,p6610,p6620,p7422,p7510s5,p7510s1,p7510s2,p7500s3,p7510s6,p7500s1,p7495,p7500s2,p7500s2a1,p7505,p7510s3,p7510s3a1,cclasnr2,cclasnr3,cclasnr4,cclasnr5,cclasnr6,cclasnr7,cclasnr8,cclasnr11,impa,isa,ie,imdi,iof1,iof2,iof3h,iof3i,iof6,impaes,isaes,iees,imdies,iof1es,iof3hes,iof6es,iof2es,iof3ies,ingtotob,ingtotes,ingtot,DOMINIO,FEX_DPTO
0,5000000.000,1.000,1.000,1.000,33.000,1.000,2.000,NaN,5.000,2.000,2.000,1,119.372,01,1.000,1.000,36.000,2.000,0.000,NaN,2.000,0.000,NaN,2.000,0.000,NaN,2.000,0.000,NaN,2.000,0.000,NaN,2.000,0.000,NaN,2.000,0.000,NaN,2.000,0.000,2.000,0.000,2.000,0.000,2.000,0.000,2.000,0.000,NaN,NaN,NaN,72.000,2.000,2.000,NaN,NaN,0.000,2.000,NaN,NaN,1.000,1.000,2.000,1.000,1.000,1.000,NaN,NaN,NaN,NaN,0.000,768000.000,0.000,0.000,0.000,0.000,NaN,0.000,0.000,0.000,0.000,0.000,0.000,2.000,2.000,2.000,2.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,768000.000,0.000,0.000,NaN,0.000,NaN,0.000,NaN,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,768000.000,NaN,768000.000,RESTO URBANO,189.040
1,5000000.000,1.000,2.000,2.000,31.000,2.000,2.000,NaN,5.000,2.000,2.000,1,119.372,01,4.000,1.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.000,1.000,NaN,NaN,0.000,NaN,NaN,NaN,NaN,NaN,0.000,0.000,0.000,0.000,0.000,0.000,0.000,NaN,NaN,NaN,NaN,2.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,NaN,NaN,NaN,NaN,0.000,NaN,0.000,NaN,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000,NaN,0.000,RESTO URBANO,189.040
2,5000000.000,1.000,3.000,2.000,11.000,3.000,2.000,NaN,3.000,4.000,NaN,1,119.372,01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RESTO URBANO,189.040
3,5000000.000,1.000,4.000,2.000,5.000,3.000,2.000,NaN,1.000,0.000,NaN,1,119.372,01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RESTO URBANO,189.040
4,5000000.000,1.000,5.000,1.000,3.000,3.000,2.000,NaN,1.000,0.000,NaN,1,119.372,01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RESTO URBANO,189.040

In [105]:
per_22b.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 865963 entries, 0 to 865962
Columns: 132 entries, DIRECTORIO to DPTO
dtypes: float64(128), object(4)
memory usage: 872.1+ MB

In [17]:
### seleccionar las variables necesarias
per_22_sub = per_22b.iloc[:,[0,1,2,11,129,13,3,4,128,12,130, 131]]

In [18]:
##convertir a minusculas los nombres de las variables
per_22_sub.columns = per_22_sub.columns.str.lower()

In [19]:
per_22_sub["dpto"].value_counts()

dpto
05    52895
76    47359
68    42992
17    41698
13    41402
08    40503
47    39572
66    39204
52    38097
54    37788
27    37709
70    37359
44    36422
50    35453
20    34088
63    33130
19    32383
41    31915
18    31280
15    30535
23    30123
73    29822
11    27592
25    16642
Name: count, dtype: int64

In [108]:
per_22_sub.head()

,directorio,secuencia_p,orden,clase,dominio,mes,p3271,p6040,ingtot,fex_c,fex_dpto,dpto
0,5000000.000,1.000,1.000,1,RESTO URBANO,01,1.000,33.000,768000.000,119.372,189.040,08
1,5000000.000,1.000,2.000,1,RESTO URBANO,01,2.000,31.000,0.000,119.372,189.040,08
2,5000000.000,1.000,3.000,1,RESTO URBANO,01,2.000,11.000,NaN,119.372,189.040,08
3,5000000.000,1.000,4.000,1,RESTO URBANO,01,2.000,5.000,NaN,119.372,189.040,08
4,5000000.000,1.000,5.000,1,RESTO URBANO,01,1.000,3.000,NaN,119.372,189.040,08

In [109]:
#per_22_sub.info

In [110]:
#ver el número de valores nulos para cada una de las variables
print(per_22_sub.isna().sum())

directorio          0
secuencia_p         0
orden               0
clase               0
dominio             0
mes                 0
p3271               0
p6040               0
ingtot         192463
fex_c               0
fex_dpto            0
dpto                0
dtype: int64

In [111]:
#formato
#per_22_sub.iloc[:,3] = pd.to_numeric(per_22_sub.iloc[:,3], downcast = 'integer')
#per_22_sub.iloc[:,5] = pd.to_numeric(per_22_sub.iloc[:,5], downcast = 'integer')

In [112]:
#per_22_sub['ingtot'] = pd.to_numeric(per_22_sub['ingtot'], errors='coerce')

### Pegue personas - hogares

In [113]:
per_hog_22 = pd.merge(left = per_22_sub, 
                        right = hog_22_sub, 
                        left_on = ["directorio", "secuencia_p", "mes"], 
                        right_on = ["directorio", "secuencia_p", "mes"],
                        how='left', sort=False, 
                        validate='m:1', 
                        suffixes=("_p", "_h"), 
                        indicator = 'indicator_column')

### Pegue personas - hogares - víctimas

In [114]:
phv_22 = pd.merge(left = per_hog_22, 
                          right= vic_22, 
                          left_on=["directorio", "secuencia_p", "orden", "mes"], 
                          right_on=["directorio", "secuencia_p", "orden", "mes"], 
                          how='left', sort=False, validate='1:1', 
                          suffixes=("_ph", "_v"), 
                          indicator = 'indicator_column_vhp')

In [115]:
#convertir variable clase a numerica
phv_22["clase"] = pd.to_numeric(phv_22["clase"], errors='coerce')

In [116]:
phv_22["indicator_column"].value_counts()

indicator_column
both          865963
left_only          0
right_only         0
Name: count, dtype: int64

In [117]:
print(phv_22.isna().sum())

directorio                   0
secuencia_p                  0
orden                        0
clase                        0
dominio                      0
mes                          0
p3271                        0
p6040                        0
ingtot                  192463
fex_c                        0
fex_dpto                     0
dpto                         0
nper                         0
lp                           0
li                           0
pobre                        0
indigente                    0
npobres                      0
nindigentes                  0
indicator_column             0
es_victima              742694
es_desplazado           742694
decada_vic              742694
fex_c_viv               742694
indicator_column_vhp         0
dtype: int64

In [118]:
phv_22["indigente"].value_counts()

indigente
0.000    742342
1.000    123621
Name: count, dtype: int64

In [119]:
phv_22.head()

,directorio,secuencia_p,orden,clase,dominio,mes,p3271,p6040,ingtot,fex_c,fex_dpto,dpto,nper,lp,li,pobre,indigente,npobres,nindigentes,indicator_column,es_victima,es_desplazado,decada_vic,fex_c_viv,indicator_column_vhp
0,5000000.000,1.000,1.000,1,RESTO URBANO,01,1.000,33.000,768000.000,119.372,189.040,08,6.000,352960.189,185502.396,1.000,1.000,6.000,6.000,both,NaN,NaN,NaN,NaN,left_only
1,5000000.000,1.000,2.000,1,RESTO URBANO,01,2.000,31.000,0.000,119.372,189.040,08,6.000,352960.189,185502.396,1.000,1.000,6.000,6.000,both,NaN,NaN,NaN,NaN,left_only
2,5000000.000,1.000,3.000,1,RESTO URBANO,01,2.000,11.000,NaN,119.372,189.040,08,6.000,352960.189,185502.396,1.000,1.000,6.000,6.000,both,NaN,NaN,NaN,NaN,left_only
3,5000000.000,1.000,4.000,1,RESTO URBANO,01,2.000,5.000,NaN,119.372,189.040,08,6.000,352960.189,185502.396,1.000,1.000,6.000,6.000,both,NaN,NaN,NaN,NaN,left_only
4,5000000.000,1.000,5.000,1,RESTO URBANO,01,1.000,3.000,NaN,119.372,189.040,08,6.000,352960.189,185502.396,1.000,1.000,6.000,6.000,both,NaN,NaN,NaN,NaN,left_only

In [120]:
hog_22_sub["pobre"].value_counts()

pobre
0.000    193740
1.000     92175
Name: count, dtype: int64

In [121]:
mask =hog_22["nper"] > hog_22["npobres"]

In [122]:
mask[mask==True].count()

193740

In [123]:
phv_22["pobre"].value_counts()

pobre
0.000    524186
1.000    341777
Name: count, dtype: int64

In [124]:
print((phv_22["es_victima"] * phv_22["fex_c_viv"]).sum())

8219191.084224458

In [125]:
def novic(df):
    if df["es_victima"]!=1:
        x = 1
    else:
        x= 0
    return(x)

In [126]:
phv_22["no_victima"] = phv_22.apply(novic, axis = 1)

In [127]:
##renombrar variables
phv_22.rename(columns = {"p3271":"sexo", "p6040":"edad"}, inplace = True)

In [128]:
phv_22.drop(columns=["indicator_column", "indicator_column_vhp"], inplace=True)

In [129]:
phv_22["periodo"] = 2022

In [130]:
phv_22.head()

,directorio,secuencia_p,orden,clase,dominio,mes,sexo,edad,ingtot,fex_c,fex_dpto,dpto,nper,lp,li,pobre,indigente,npobres,nindigentes,es_victima,es_desplazado,decada_vic,fex_c_viv,no_victima,periodo
0,5000000.000,1.000,1.000,1,RESTO URBANO,01,1.000,33.000,768000.000,119.372,189.040,08,6.000,352960.189,185502.396,1.000,1.000,6.000,6.000,NaN,NaN,NaN,NaN,1,2022
1,5000000.000,1.000,2.000,1,RESTO URBANO,01,2.000,31.000,0.000,119.372,189.040,08,6.000,352960.189,185502.396,1.000,1.000,6.000,6.000,NaN,NaN,NaN,NaN,1,2022
2,5000000.000,1.000,3.000,1,RESTO URBANO,01,2.000,11.000,NaN,119.372,189.040,08,6.000,352960.189,185502.396,1.000,1.000,6.000,6.000,NaN,NaN,NaN,NaN,1,2022
3,5000000.000,1.000,4.000,1,RESTO URBANO,01,2.000,5.000,NaN,119.372,189.040,08,6.000,352960.189,185502.396,1.000,1.000,6.000,6.000,NaN,NaN,NaN,NaN,1,2022
4,5000000.000,1.000,5.000,1,RESTO URBANO,01,1.000,3.000,NaN,119.372,189.040,08,6.000,352960.189,185502.396,1.000,1.000,6.000,6.000,NaN,NaN,NaN,NaN,1,2022

In [131]:
#### Observar etiquetas de variables posiblemente categóricas
phv_22["indigente"].value_counts()

indigente
0.000    742342
1.000    123621
Name: count, dtype: int64

In [132]:
#export
phv_22.to_stata(p1 + "Victimas_procesada_2022.dta", write_index=False)