In [1]:
import numpy as np
import pandas as pd

In [2]:
#pd.options.display.max_info_rows= 50
pd.options.display.float_format = '{:.2f}'.format 
pd.options.display.max_rows = None
pd.options.display.max_columns = None

In [3]:
#rutas
p1 = "C:/Users/ivan.corredor/pobreza_calculos_2019_2022/2023/"
p2 = "C:/Users/ivan.corredor/pobreza_calculos_2019_2022/2023/pobreza monetaria/"
p3 = "C:/Users/ivan.corredor/pobreza_calculos_2019_2022/2023/multidimensional/"

In [4]:
# importar bases de datos finales

## base de pobreza extrema y monetaria 2019-2021
vic_19_22 = pd.read_stata(p2 + "vic_4_periodos.dta")

## base de IPM nal 2019-2022
nal_19_22 = pd.read_csv(p3 + "nal_19_22.csv", sep=";", low_memory=False, decimal=",")

## base de IPM departamental 2019-2022
dpto_19_22 = pd.read_csv(p3 + "dpto_19_22.csv", sep=";", low_memory=False, decimal=",")

In [7]:
pd.options.display.max_columns = None

### Estandarizar

In [5]:
## borrar columnas innecesarios
nal_19_22.drop(columns=["Unnamed: 0"], inplace =True)
dpto_19_22.drop(columns=["Unnamed: 0"], inplace =True)

In [6]:
### estandarizar variable dpto
vic_19_22["dpto"] = pd.to_numeric(vic_19_22["dpto"], downcast = 'integer')
vic_19_22["depto"] = pd.to_numeric(vic_19_22["depto"], downcast = 'integer')

In [8]:
#agregar variable nombres de departamentos
def nom_dpto(df):
    cod_d = [5, 8, 11, 13, 15, 17, 18, 19, 20, 23, 25, 27, 41, 44, 47, 50, 52, 54, 63, 66, 68,
             70, 73, 76, 81, 85, 86, 88, 91, 94, 95, 97, 99]
    dep = ["Antioquia", "Atlántico", "Bogotá", "Bolívar", "Boyacá",
           "Caldas", "Caquetá", "Cauca", "Cesar", "Córdoba", "Cundinamarca",
           "Chocó", "Huila", "La Guajira", "Magdalena", "Meta", "Nariño",
           "Norte de Santander", "Quindio", "Risaralda", "Santander",
           "Sucre", "Tolima", "Valle del Cauca", "Arauca", "Casanare",
           "Putumayo", "Providencia y Santa Catalina", "Amazonas",
           "Guainía", "Guaviare", "Vaupés", "Vichada"]
    
    x = np.nan  # Initialize x outside the loop

    for i, j in zip(cod_d, dep):
        if df["dpto"] == i or df["depto"] == i:
            x = j
            break  # Break out of the loop once a match is found

    return x

vic_19_22["nombre_dpto"] = vic_19_22.apply(nom_dpto, axis=1)

In [9]:
#agregar variable código ciudades capítales
vic_19_22["cod_dane"]= vic_19_22["dominio"].replace(['ARMENIA','BARRANQUILLA','BOGOTA','BUCARAMANGA','CALI','CARTAGENA',
                                                     'CUCUTA', 'FLORENCIA','IBAGUE','MANIZALES','MEDELLIN','MONTERIA',
                                                     'NEIVA','PASTO','PEREIRA','POPAYAN','QUIBDO','RIOHACHA',
                                                     'SANTA MARTA','SINCELEJO','TUNJA','VALLEDUPAR','VILLAVICENCIO'],
                                                                [63001, 8001, 11001, 68001, 6001, 13001,
                                                                 54001, 18001, 73001, 17001, 5001, 23001,
                                                                 41001, 52001, 66001, 19001, 27001, 44001,
                                                                 47001, 70001, 15001, 20001, 50001])

In [10]:
#agregar variable nombre a regiones ipm dpto
dpto_19_22["nombre_region"] = dpto_19_22["REGION"].replace([1,2,3,4,5,6,7,8,9], 
                                                           ["Caribe", "Oriental", "Central", 
                                                             "Pacífica (sin valle)", "Bogotá", 
                                                             "Antioquia", "Valle del Cauca", 
                                                             "San Andrés y Providencia", "Orinoquía y Amazonía"])

In [11]:
#agregar variable nombre a departamento ipm dpto
dpto_19_22["nombre_departamento"] = dpto_19_22["DEPARTAMENTO"].replace([5,8,11,13,15,17,18,19,20,23,25,27,41,44,47,50,52,54,63,66,68,
                                                                70, 73, 76, 81, 85,86, 88, 91,94, 95,97,99],
                                                                ["Antioquia", "Atlántico", "Bogotá", "Bolívar","Boyacá", 
                                                                 "Caldas","Caquetá","Cauca", "Cesar","Córdoba", "Cundinamarca",
                                                                "Chocó", "Huila", "La Guajira", "Magdalena", "Meta", "Nariño",
                                                                "Norte de Santander", "Quindio", "Risaralda", "Santander",
                                                                "Sucre", "Tolima", "Valle del Cauca", "Arauca", "Casanare",
                                                                "Putumayo", "Providencia y Santa Catalina", "Amazonas", 
                                                                "Guainía", "Guaviare", "Vaupés", "Vichada"])

### Tablas 2022

In [51]:
## base pobreza mon y ext
vic_22 = vic_19_22[vic_19_22["periodo"]==2022]
# reset index
vic_22 = vic_22.reset_index(drop=True)

In [52]:
# base ipm nal y dpto
## nal
nal_22  = nal_19_22[nal_19_22["periodo"]==2022]
# reset index
nal_22 = nal_22.reset_index(drop=True)
##dpto
dpto_22 = dpto_19_22[dpto_19_22["periodo"]==2022]
# reset index
dpto_22 = dpto_22.reset_index(drop=True)

In [53]:
vic_22.head()

,directorio,secuencia_p,orden,mes,es_victima,es_desplazado,decada_vic,fex_c_viv,nper,li,lp,pobre,indigente,npobres,nindigentes,clase,dominio,sexo,edad,ingtot,fex_c,depto,fex_dpto,no_victima,periodo,dpto,nombre_dpto,cod_dane
0,5000000.00,1.00,1.00,1,NaN,NaN,,NaN,6.00,185502.40,352960.19,1.00,1.00,6.00,6.00,1,RESTO URBANO,1.00,33.00,768000.00,119.37,NaN,189.04,1,2022,8.00,Atlántico,RESTO URBANO
1,5000000.00,1.00,2.00,1,NaN,NaN,,NaN,6.00,185502.40,352960.19,1.00,1.00,6.00,6.00,1,RESTO URBANO,2.00,31.00,0.00,119.37,NaN,189.04,1,2022,8.00,Atlántico,RESTO URBANO
2,5000000.00,1.00,3.00,1,NaN,NaN,,NaN,6.00,185502.40,352960.19,1.00,1.00,6.00,6.00,1,RESTO URBANO,2.00,11.00,NaN,119.37,NaN,189.04,1,2022,8.00,Atlántico,RESTO URBANO
3,5000000.00,1.00,4.00,1,NaN,NaN,,NaN,6.00,185502.40,352960.19,1.00,1.00,6.00,6.00,1,RESTO URBANO,2.00,5.00,NaN,119.37,NaN,189.04,1,2022,8.00,Atlántico,RESTO URBANO
4,5000000.00,1.00,5.00,1,NaN,NaN,,NaN,6.00,185502.40,352960.19,1.00,1.00,6.00,6.00,1,RESTO URBANO,1.00,3.00,NaN,119.37,NaN,189.04,1,2022,8.00,Atlántico,RESTO URBANO

### Departamento

In [54]:
## víctimas de desplazamiento en pobreza monetaria por departamento 2022
pm_dpto22 = vic_22.groupby(["dpto", "nombre_dpto"]).apply(
    lambda x: pd.Series({
        # vic tot pobreza monetaria
        '%_vic_hechos_pobr_mon': round((x['pobre'] * x['es_victima'] * x['fex_c_viv']).sum() / (x['es_victima'] * x['fex_c_viv']).sum() * 100,1),
        'vic_hechos_pobr_mon': round((x['pobre'] * x['es_victima'] * x['fex_c_viv']).sum(),0),
        
        # vic tot pobreza extrema
        '%_vic_hechos_pobr_ext': round((x['indigente'] * x['es_victima'] * x['fex_c_viv']).sum() / (x['es_victima'] * x['fex_c_viv']).sum() * 100,1),
        'vic_hechos_pobr_ext': round((x['indigente'] * x['es_victima'] * x['fex_c_viv']).sum(),0),
        
        # vic des pobreza monetaria
        '%_des_pobr_mon': round((x['pobre'] * x['es_desplazado'] * x['fex_c_viv']).sum() / (x['es_desplazado'] * x['fex_c_viv']).sum() * 100,1),
        'des_pobr_mon': round((x['pobre'] * x['es_desplazado'] * x['fex_c_viv']).sum(),0),
         
        # vic des pobreza extrema
        '%_des_pobr_ext': round((x['indigente'] * x['es_desplazado'] * x['fex_c_viv']).sum() / (x['es_desplazado'] * x['fex_c_viv']).sum() * 100,1),
        'des_pobr_ext': round((x['indigente'] * x['es_desplazado'] * x['fex_c_viv']).sum(),0)
    })
).reset_index()

pm_dpto22.head(33)

,dpto,nombre_dpto,%_vic_hechos_pobr_mon,vic_hechos_pobr_mon,%_vic_hechos_pobr_ext,vic_hechos_pobr_ext,%_des_pobr_mon,des_pobr_mon,%_des_pobr_ext,des_pobr_ext
0,5.00,Antioquia,42.70,664730.00,17.80,276724.00,44.90,623247.00,19.10,265294.00
1,8.00,Atlántico,43.20,79833.00,13.20,24472.00,44.30,77836.00,13.80,24338.00
2,11.00,Bogotá,45.40,167395.00,14.30,52820.00,48.30,158131.00,15.70,51457.00
3,13.00,Bolívar,67.50,281045.00,32.10,133676.00,67.90,277460.00,32.20,131685.00
4,15.00,Boyacá,36.30,14293.00,16.70,6582.00,35.30,12053.00,17.30,5905.00
5,17.00,Caldas,37.00,45086.00,10.80,13206.00,38.50,41796.00,11.70,12758.00
6,18.00,Caquetá,52.10,104863.00,20.00,40313.00,53.10,100794.00,20.60,39024.00
7,19.00,Cauca,43.00,175610.00,17.00,69452.00,44.20,161883.00,17.40,63825.00
8,20.00,Cesar,53.80,207404.00,23.10,89091.00,54.50,199991.00,23.60,86529.00
9,23.00,Córdoba,61.60,250130.00,29.20,118665.00,62.20,241077.00,30.00,116208.00
10,25.00,Cundinamarca,38.00,93245.00,12.50,30618.00,39.40,91877.00,12.80,29934.00
11,27.00,Chocó,72.40,266007.00,52.50,192995.00,71.40,230902.00,50.20,162597.00
12,41.00,Huila,48.50,86229.00,16.40,29062.00,50.40,81487.00,17.10,27661.00
13,44.00,La Guajira,58.10,86882.00,25.20,37594.00,58.70,84692.00,25.40,36728.00
14,47.00,Magdalena,61.20,229991.00,28.20,105736.00,61.80,222374.00,28.60,102773.00
15,50.00,Meta,33.80,94578.00,10.70,29914.00,35.40,90649.00,11.00,28288.00
16,52.00,Nariño,46.70,275346.00,16.20,95392.00,48.00,267084.00,16.60,92557.00
17,54.00,Norte de Santander,50.60,156141.00,19.30,59558.00,52.50,144263.00,20.20,55421.00
18,63.00,Quindio,40.60,19619.00,9.20,4423.00,42.60,18479.00,9.80,4250.00
19,66.00,Risaralda,38.20,40242.00,10.40,10999.00,40.50,37526.00,11.00,10192.00
20,68.00,Santander,48.90,106929.00,20.30,44353.00,50.90,98719.00,21.00,40759.00
21,70.00,Sucre,66.70,249730.00,28.50,106822.00,67.30,246143.00,28.80,105287.00
22,73.00,Tolima,49.00,96102.00,17.90,35094.00,50.70,91993.00,18.90,34359.00
23,76.00,Valle del Cauca,47.10,326606.00,19.40,134708.00,49.10,317249.00,20.30,131135.00

In [55]:
#pasar variables base nal a formato numero antes de agrupar
#nal_22["fex_c_des"] = pd.to_numeric(nal_22["fex_c_des"], downcast="integer",errors="coerce")
nal_22['pobre'] = pd.to_numeric(nal_22['pobre'], errors='coerce')
nal_22['fex_c_victi'] = pd.to_numeric(nal_22['fex_c_victi'], errors='coerce')
nal_22['es_victima'] = pd.to_numeric(nal_22['es_victima'], errors='coerce')
nal_22['es_desplazado'] = pd.to_numeric(nal_22['es_desplazado'], errors='coerce')

In [56]:
nal_22["es_victima"].value_counts()

es_victima
0.00    161362
1.00     67526
Name: count, dtype: int64

In [57]:
nal_22.columns

Index(['DIRECTORIO', 'SECUENCIA_ENCUESTA_per', 'SECUENCIA_P', 'ORDEN', 'P6020',
       'P6040', 'fex_c_per', 'P6090', 'P5665', 'P8563', 'P51', 'P55', 'P774',
       'P6160', 'P8586', 'P8587', 'P8587S1', 'P1088', 'P1088S1', 'P6180',
       'P6240', 'P6250', 'P6260', 'P6270', 'P6351', 'P6390', 'P7250', 'P6920',
       'PERIODO', 'SECUENCIA_ENCUESTA_ph', 'SECUENCIA_P_h', 'P5010', 'P8526',
       'P8530', 'fex_c_ph', 'REGION', 'personas', 'paredes', 'pisos',
       'alcantarillado', 'acueducto', 'empleo_formal',
       'desempleo_larga_duracion', 'barreras_acceso_salud',
       'aseguramiento_salud', 'trabajo_infantil', 'atencion_integral',
       'inasistencia_escolar', 'rezago_escolar', 'alfabetismo',
       'logro_educativo', 'hacinamiento', 'ipm', 'pobre', 'fexp',
       'SECUENCIA_P_viv', 'P3', 'P4005', 'P4015', 'P8520S3', 'P8520S5',
       'indicator_column', 'indicator_column_2', 'directorio',
       'secuencia_encuesta', 'secuencia_p', 'orden', 'es_victima',
       'es_desplazado', 'fex_c_victi', 'fex_c_des', 'indicator_column_3',
       'victima', 'no_victima', 'periodo', 'SECUENCIA_ENCUESTA_hpv', 'P1075',
       'P1077S21', 'P1077S22', 'P1077S23', 'fex_c', 'SECUENCIA_ENCUESTA_p',
       'SECUENCIA_P_pv', 'P6051', 'P1082S2', 'SECUENCIA_ENCUESTA_vic',
       'es_desplazado2', 'fex_c_victi2', 'SECUENCIA_ENCUESTA_viv'],
      dtype='object')

In [58]:
print(
    round(
    ((nal_22["pobre"]* nal_22["fex_c_victi"]).sum() /
      (nal_22["es_victima"] * nal_22["fex_c_victi"]).sum()*100),1))

20.5

In [59]:
### regiones IPM

# ipm_reg22 = nal_22.groupby(["REGION"]).apply(
#     lambda x: pd.Series({
#         # vic tot ipm
#         '%_vic_hechos_ipm': round((pd.to_numeric(x['pobre']) * x['fex_c_victi']).sum() / (x['es_victima'] * x['fex_c_victi']).sum() * 100,1),
#         'vic_hechos_ipm': round((pd.to_numeric(x['pobre']) * x['fex_c_victi']).sum(),0),
        
#         # vic des ipm
#         '%_des_ipm': round((pd.to_numeric(x['pobre'])* x['fex_c_victi']).sum() / (x['es_desplazado'] * x['fex_c_victi']).sum() * 100,1),
#         'des_ipm': round((pd.to_numeric(x['pobre'])  * x['fex_c_victi']).sum(),0)
         
#     })
# ).reset_index()

# ipm_reg22.head(30)

In [60]:
ipm_reg22a = nal_22.groupby(["REGION"]).apply(
    lambda x: pd.Series({
        # vic tot ipm
        '%_vic_hechos_ipm': round((x['pobre'] * x['fex_c_victi']).sum() / (x['es_victima'] * x['fex_c_victi']).sum() * 100, 1),
        'vic_hechos_ipm': round((x['pobre'] * x['fex_c_victi']).sum(), 0)})
).reset_index()

ipm_reg22b = nal_22[nal_22["es_desplazado"]==1].groupby(["REGION"]).apply(
    lambda x: pd.Series({
        # vic des ipm
        '%_des_ipm': round((x['pobre'] * x['fex_c_victi']).sum() / (x['es_desplazado'] * x['fex_c_victi']).sum() * 100, 1),
        'des_ipm': round((x['pobre'] * x['es_desplazado'] * x['fex_c_victi']).sum(), 0)
    })
).reset_index()
  
ipm_reg22 = pd.merge(ipm_reg22a, ipm_reg22b, on =["REGION"])
ipm_reg22.head(10)

,REGION,%_vic_hechos_ipm,vic_hechos_ipm,%_des_ipm,des_ipm
0,Antioquia,17.00,434851.00,18.60,407236.00
1,Bogotá,1.90,14429.00,2.20,14429.00
2,Caribe,25.80,1152078.00,26.50,1131861.00
3,Central,17.20,277635.00,17.50,256729.00
4,Oriental,15.30,295807.00,15.80,270650.00
5,Orinoquía y Amazonía,18.00,71280.00,18.40,66350.00
6,Pacífica (sin valle),30.50,610263.00,30.90,564204.00
7,San Andrés y Providencia,2.00,33.00,2.20,33.00
8,Valle del Cauca,17.10,197289.00,18.20,187041.00

In [61]:
#pasar variables base dpto a formato numero antes de agrupar
dpto_22["es_desplazado"] = pd.to_numeric(dpto_22["es_desplazado"], downcast="integer",errors="coerce")
#dpto_22["fex_c_des"] = pd.to_numeric(dpto_22["fex_c_des"], downcast="integer",errors="coerce")
dpto_22["fex_c_victi"] = pd.to_numeric(dpto_22["fex_c_victi"], downcast="integer",errors="coerce")

In [62]:
### departamento ipm

ipm_dpto22a = dpto_22.groupby(["nombre_region", "DEPARTAMENTO", "nombre_departamento" ]).apply(
    lambda x: pd.Series({
        # vic tot ipm
        '%_vic_hechos_ipm': round((x['pobre'] * x['fex_c_victi']).sum() / (x['victima'] * x['fex_c_victi']).sum() * 100,1),
        'vic_hechos_ipm': round((x['pobre'] * x['fex_c_victi']).sum(),0)       
    })
).reset_index()

# vic des ipm
ipm_dpto22b =  dpto_22[dpto_22["es_desplazado"]==1].groupby(["nombre_region", "DEPARTAMENTO", "nombre_departamento" ]).apply(
    lambda x: pd.Series({
        '%_des_ipm': round((x['pobre'] * x['fex_c_victi']).sum() / (x['es_desplazado'] * x['fex_c_victi']).sum() * 100,1),
        'des_ipm': round((x['pobre']  * x['es_desplazado'] * x['fex_c_victi']).sum(),0)  
    })
).reset_index()

ipm_dpto22 = pd.merge(ipm_dpto22a, ipm_dpto22b, on =["nombre_region", "DEPARTAMENTO", "nombre_departamento"])
ipm_dpto22.head(33)

,nombre_region,DEPARTAMENTO,nombre_departamento,%_vic_hechos_ipm,vic_hechos_ipm,%_des_ipm,des_ipm
0,Antioquia,5,Antioquia,14.40,87114.00,15.20,84138.00
1,Bogotá,11,Bogotá,7.30,19826.00,4.60,11528.00
2,Caribe,8,Atlántico,19.70,120243.00,17.90,95947.00
3,Caribe,13,Bolívar,24.10,141954.00,21.80,117223.00
4,Caribe,20,Cesar,34.70,196208.00,35.50,187610.00
5,Caribe,23,Córdoba,29.30,146733.00,30.10,137522.00
6,Caribe,44,La Guajira,39.20,251931.00,38.70,224513.00
7,Caribe,47,Magdalena,23.60,105564.00,23.00,92569.00
8,Caribe,70,Sucre,32.50,163284.00,28.80,124708.00
9,Central,17,Caldas,9.60,32156.00,8.20,25245.00
10,Central,18,Caquetá,20.30,82652.00,21.20,77327.00
11,Central,41,Huila,15.00,70926.00,13.80,60224.00
12,Central,63,Quindio,8.20,32526.00,8.20,30421.00
13,Central,66,Risaralda,12.40,55457.00,12.10,47952.00
14,Central,73,Tolima,14.80,66858.00,14.90,61801.00
15,Oriental,11,Bogotá,5.80,9399.00,6.00,9399.00
16,Oriental,15,Boyacá,11.90,54319.00,12.30,52489.00
17,Oriental,25,Cundinamarca,9.00,49147.00,7.90,38454.00
18,Oriental,50,Meta,15.00,67905.00,14.60,61085.00
19,Oriental,54,Norte de Santander,20.50,109120.00,21.00,101312.00
20,Oriental,68,Santander,14.80,81813.00,15.10,76536.00
21,Orinoquía y Amazonía,81,Arauca,28.00,55437.00,28.40,52917.00
22,Orinoquía y Amazonía,85,Casanare,7.70,18391.00,7.50,16544.00
23,Orinoquía y Amazonía,86,Putumayo,10.80,22418.00,11.60,21662.00
24,Orinoquía y Amazonía,91,Amazonas,13.70,24271.00,12.70,20460.00
25,Orinoquía y Amazonía,94,Guainía,43.80,79971.00,45.60,77469.00
26,Orinoquía y Amazonía,95,Guaviare,18.00,38528.00,19.20,36869.00
27,Orinoquía y Amazonía,97,Vaupés,15.20,27326.00,15.90,24188.00
28,Orinoquía y Amazonía,99,Vichada,37.50,59395.00,37.90,54433.00
29,Pacífica (sin valle),19,Cauca,20.30,100754.00,20.50,92638.00
30,Pacífica (sin valle),27,Chocó,37.50,167596.00,38.00,159387.00
31,Pacífica (sin valle),52,Nariño,18.60,90612.00,19.20,85976.00
32,San Andrés y Providencia,88,Providencia y Santa Catalina,7.60,12922.00,7.30,11411.00

### Municipios

In [63]:
vic_22.columns

Index(['directorio', 'secuencia_p', 'orden', 'mes', 'es_victima',
       'es_desplazado', 'decada_vic', 'fex_c_viv', 'nper', 'li', 'lp', 'pobre',
       'indigente', 'npobres', 'nindigentes', 'clase', 'dominio', 'sexo',
       'edad', 'ingtot', 'fex_c', 'depto', 'fex_dpto', 'no_victima', 'periodo',
       'dpto', 'nombre_dpto', 'cod_dane'],
      dtype='object')

In [64]:
## víctimas de desplazamiento en pobreza monetaria por departamento 2021
pm_mun22 = vic_22.groupby(["cod_dane", "dominio"]).apply(
    lambda x: pd.Series({
        # vic tot pobreza monetaria
        '%_vic_hechos_pobr_mon': round((x['pobre'] * x['es_victima'] * x['fex_c_viv']).sum() / (x['es_victima'] * x['fex_c_viv']).sum() * 100,1),
        'vic_hechos_pobr_mon': round((x['pobre'] * x['es_victima'] * x['fex_c_viv']).sum(),0),
        
        # vic tot pobreza extrema
        '%_vic_hechos_pobr_ext': round((x['indigente'] * x['es_victima'] * x['fex_c_viv']).sum() / (x['es_victima'] * x['fex_c_viv']).sum() * 100,1),
        'vic_hechos_pobr_ext': round((x['indigente'] * x['es_victima'] * x['fex_c_viv']).sum(),0),
        
        # vic des pobreza monetaria
        '%_des_pobr_mon': round((x['pobre'] * x['es_desplazado'] * x['fex_c_viv']).sum() / (x['es_desplazado'] * x['fex_c_viv']).sum() * 100,1),
        'des_pobr_mon': round((x['pobre'] * x['es_desplazado'] * x['fex_c_viv']).sum(),0),
         
        # vic des pobreza extrema
        '%_des_pobr_ext': round((x['indigente'] * x['es_desplazado'] * x['fex_c_viv']).sum() / (x['es_desplazado'] * x['fex_c_viv']).sum() * 100,1),
        'des_pobr_ext': round((x['indigente'] * x['es_desplazado'] * x['fex_c_viv']).sum(),0)
    })
).reset_index()

pm_mun22.head(30)

,cod_dane,dominio,%_vic_hechos_pobr_mon,vic_hechos_pobr_mon,%_vic_hechos_pobr_ext,vic_hechos_pobr_ext,%_des_pobr_mon,des_pobr_mon,%_des_pobr_ext,des_pobr_ext
0,5001,MEDELLIN,40.10,242798.00,10.40,63276.00,43.80,223418.00,11.80,60035.00
1,6001,CALI,41.60,97428.00,12.20,28716.00,43.60,94892.00,13.00,28313.00
2,8001,BARRANQUILLA,42.10,56674.00,14.50,19566.00,42.60,55194.00,15.00,19431.00
3,11001,BOGOTA,45.50,167159.00,14.40,52750.00,48.40,157896.00,15.80,51387.00
4,13001,CARTAGENA,56.20,32489.00,14.70,8524.00,56.90,31545.00,15.00,8317.00
5,15001,TUNJA,47.10,2098.00,17.30,769.00,49.70,1892.00,19.30,737.00
6,17001,MANIZALES,35.90,10461.00,8.90,2599.00,37.70,9892.00,9.80,2571.00
7,18001,FLORENCIA,56.30,42198.00,20.70,15479.00,57.90,40854.00,21.50,15154.00
8,19001,POPAYAN,55.80,28298.00,21.90,11093.00,58.90,26379.00,23.80,10685.00
9,20001,VALLEDUPAR,56.50,61359.00,18.30,19921.00,57.70,58921.00,18.80,19197.00
10,23001,MONTERIA,52.20,46198.00,15.50,13712.00,53.60,44638.00,15.90,13210.00
11,27001,QUIBDO,72.30,33527.00,38.80,17974.00,73.00,32491.00,39.50,17598.00
12,41001,NEIVA,59.20,31419.00,18.60,9890.00,62.10,29567.00,20.20,9624.00
13,44001,RIOHACHA,56.00,20869.00,24.60,9177.00,56.70,20495.00,24.90,9001.00
14,47001,SANTA MARTA,57.00,48219.00,21.80,18410.00,57.50,45565.00,22.50,17813.00
15,50001,VILLAVICENCIO,39.20,37261.00,12.80,12161.00,41.20,35389.00,12.90,11110.00
16,52001,PASTO,53.20,19426.00,17.30,6330.00,57.90,18423.00,19.40,6168.00
17,54001,CUCUTA,50.90,53286.00,15.90,16601.00,53.90,48315.00,17.20,15415.00
18,63001,ARMENIA,49.80,10224.00,12.20,2499.00,52.20,9633.00,12.80,2369.00
19,66001,PEREIRA,40.80,22190.00,8.50,4623.00,43.60,20626.00,8.80,4148.00
20,68001,BUCARAMANGA,47.70,44679.00,14.00,13126.00,50.00,42232.00,15.00,12627.00
21,70001,SINCELEJO,63.10,63875.00,19.80,20054.00,63.50,63155.00,20.00,19910.00
22,73001,IBAGUE,51.80,26722.00,23.20,11968.00,52.90,25890.00,24.00,11722.00
23,RESTO URBANO,RESTO URBANO,52.00,1374228.00,21.40,565233.00,53.80,1318100.00,22.30,547135.00
24,RURAL,RURAL,50.80,1544949.00,26.20,797819.00,51.20,1462305.00,26.10,745286.00

### Exportar tablas 2022

In [65]:
salida = p1 + "tablas_pobreza_IPM_2022.xlsx"
writer = pd.ExcelWriter(salida)
#tablas
# 2021
tablas = [pm_dpto22, pm_mun22, ipm_reg22, ipm_dpto22]

pestañas = ['pobreza_dpto_22', 'pobreza_muni_22','ipm_reg_22','ipm_dpto_22',]
#exportar cada tabla como una pestaña del archivo excel
for i,j in zip(tablas, pestañas):
    i.to_excel(writer, sheet_name = j, header = True, index=True)

writer.close()

### Tablas 2021

In [58]:
## base pobreza mon y ext
vic_21 = vic_19_22[vic_19_22["periodo"]==2021]
# reset index
vic_21 = vic_21.reset_index(drop=True)

In [59]:
# base ipm nal y dpto
## nal
nal_21  = nal_19_22[nal_19_22["periodo"]==2021]
# reset index
nal_21 = nal_22.reset_index(drop=True)
##dpto
dpto_21 = dpto_19_22[dpto_19_22["periodo"]==2021]
# reset index
dpto_21 = dpto_22.reset_index(drop=True)

In [60]:
vic_21.head()

,directorio,secuencia_p,orden,mes,es_victima,es_desplazado,decada_vic,fex_c_viv,nper,li,lp,pobre,indigente,npobres,nindigentes,clase,dominio,sexo,edad,ingtot,fex_c,depto,fex_dpto,no_victima,periodo,dpto,nombre_dpto,cod_dane
0,5332763.00,1.00,1.00,1,1.00,0.00,a. 2010-2021,14.00,4.00,179664.49,423327.02,1.00,0.00,4.00,0.00,1,ARMENIA,1.00,55.00,900000.00,10.10,63.00,10.21,0,2021,NaN,Quindio,63001
1,5332763.00,1.00,2.00,1,NaN,NaN,,NaN,4.00,179664.49,423327.02,1.00,0.00,4.00,0.00,1,ARMENIA,2.00,44.00,0.00,10.10,63.00,10.21,1,2021,NaN,Quindio,63001
2,5332763.00,1.00,3.00,1,NaN,NaN,,NaN,4.00,179664.49,423327.02,1.00,0.00,4.00,0.00,1,ARMENIA,1.00,20.00,0.00,10.10,63.00,10.21,1,2021,NaN,Quindio,63001
3,5332763.00,1.00,4.00,1,NaN,NaN,,NaN,4.00,179664.49,423327.02,1.00,0.00,4.00,0.00,1,ARMENIA,2.00,18.00,0.00,10.10,63.00,10.21,1,2021,NaN,Quindio,63001
4,5332764.00,1.00,1.00,1,NaN,NaN,,NaN,5.00,179664.49,423327.02,1.00,1.00,5.00,5.00,1,ARMENIA,1.00,65.00,140016.67,6.20,63.00,6.60,1,2021,NaN,Quindio,63001

### Departamento

In [61]:
## víctimas de desplazamiento en pobreza monetaria por departamento 2021
tvic_monetaria_dpto = vic_21.groupby(["depto", "nombre_dpto"]).apply(
    lambda x: pd.Series({
        # vic tot pobreza monetaria
        '%_vic_hechos_pobr_mon': round((x['pobre'] * x['es_victima'] * x['fex_c_viv']).sum() / (x['es_victima'] * x['fex_c_viv']).sum() * 100,1),
        'vic_hechos_pobr_mon': round((x['pobre'] * x['es_victima'] * x['fex_c_viv']).sum(),0),
        
        # vic tot pobreza extrema
        '%_vic_hechos_pobr_ext': round((x['indigente'] * x['es_victima'] * x['fex_c_viv']).sum() / (x['es_victima'] * x['fex_c_viv']).sum() * 100,1),
        'vic_hechos_pobr_ext': round((x['indigente'] * x['es_victima'] * x['fex_c_viv']).sum(),0),
        
        # vic des pobreza monetaria
        '%_des_pobr_mon': round((x['pobre'] * x['es_desplazado'] * x['fex_c_viv']).sum() / (x['es_desplazado'] * x['fex_c_viv']).sum() * 100,1),
        'des_pobr_mon': round((x['pobre'] * x['es_desplazado'] * x['fex_c_viv']).sum(),0),
         
        # vic des pobreza extrema
        '%_des_pobr_ext': round((x['indigente'] * x['es_desplazado'] * x['fex_c_viv']).sum() / (x['es_desplazado'] * x['fex_c_viv']).sum() * 100,1),
        'des_pobr_ext': round((x['indigente'] * x['es_desplazado'] * x['fex_c_viv']).sum(),0)
    })
).reset_index()

#tvic_monetaria_dpto.head(30)

In [62]:
#pasar variables base nal a formato numero antes de agrupar
nal_21["es_desplazado"] = pd.to_numeric(nal_21["es_desplazado"], downcast="integer",errors="coerce")
nal_21["fex_c_des"] = pd.to_numeric(nal_21["fex_c_des"], downcast="integer",errors="coerce")
nal_21["fex_c_victi"] = pd.to_numeric(nal_21["fex_c_victi"], downcast="integer",errors="coerce")

In [63]:
### regiones IPM

tvic_ipm_reg = nal_21.groupby(["REGION"]).apply(
    lambda x: pd.Series({
        # vic tot ipm
        '%_vic_hechos_ipm': round((pd.to_numeric(x['pobre']) * x['fex_c_victi']).sum() / (x['victima'] * x['fex_c_victi']).sum() * 100,1),
        'vic_hechos_ipm': round((pd.to_numeric(x['pobre']) * x['fex_c_victi']).sum(),0),
        
        # vic des ipm
        '%_des_ipm': round((pd.to_numeric(x['pobre']) * x['fex_c_des']).sum() / (x['es_desplazado'] * x['fex_c_des']).sum() * 100,1),
        'des_ipm': round((pd.to_numeric(x['pobre'])  * x['fex_c_des']).sum(),0)
         
    })
).reset_index()

#tvic_ipm_reg.head(30)

C:\Users\ivan.corredor\AppData\Local\Temp\2\ipykernel_9984\899952206.py:10: RuntimeWarning: invalid value encountered in scalar divide
  '%_des_ipm': round((pd.to_numeric(x['pobre']) * x['fex_c_des']).sum() / (x['es_desplazado'] * x['fex_c_des']).sum() * 100,1),

In [64]:
#pasar variables base dpto a formato numero antes de agrupar
dpto_21["es_desplazado"] = pd.to_numeric(dpto_21["es_desplazado"], downcast="integer",errors="coerce")
dpto_21["fex_c_des"] = pd.to_numeric(dpto_21["fex_c_des"], downcast="integer",errors="coerce")
dpto_21["fex_c_victi"] = pd.to_numeric(dpto_21["fex_c_victi"], downcast="integer",errors="coerce")

In [65]:
### departamento ipm

tvic_ipm_dpto = dpto_21.groupby(["nombre_region", "DEPARTAMENTO", "nombre_departamento" ]).apply(
    lambda x: pd.Series({
        # vic tot ipm
        '%_vic_hechos_ipm': round((x['pobre'] * x['fex_c_victi']).sum() / (x['victima'] * x['fex_c_victi']).sum() * 100,1),
        'vic_hechos_ipm': round((x['pobre'] * x['fex_c_victi']).sum(),0),
        
        # vic des ipm
        '%_des_ipm': round((x['pobre'] * x['fex_c_des']).sum() / (x['es_desplazado'] * x['fex_c_des']).sum() * 100,1),
        'des_ipm': round((x['pobre']  * x['fex_c_des']).sum(),0)
         
    })
).reset_index()

#tvic_ipm_dpto.head(30)

C:\Users\ivan.corredor\AppData\Local\Temp\2\ipykernel_9984\1688519818.py:10: RuntimeWarning: invalid value encountered in scalar divide
  '%_des_ipm': round((x['pobre'] * x['fex_c_des']).sum() / (x['es_desplazado'] * x['fex_c_des']).sum() * 100,1),

### Municipios

In [66]:
vic_21.columns

Index(['directorio', 'secuencia_p', 'orden', 'mes', 'es_victima',
       'es_desplazado', 'decada_vic', 'fex_c_viv', 'nper', 'li', 'lp', 'pobre',
       'indigente', 'npobres', 'nindigentes', 'clase', 'dominio', 'sexo',
       'edad', 'ingtot', 'fex_c', 'depto', 'fex_dpto', 'no_victima', 'periodo',
       'dpto', 'nombre_dpto', 'cod_dane'],
      dtype='object')

In [67]:
## víctimas de desplazamiento en pobreza monetaria por departamento 2021
tvic_monetaria_mun= vic_21.groupby(["cod_dane", "dominio"]).apply(
    lambda x: pd.Series({
        # vic tot pobreza monetaria
        '%_vic_hechos_pobr_mon': round((x['pobre'] * x['es_victima'] * x['fex_c_viv']).sum() / (x['es_victima'] * x['fex_c_viv']).sum() * 100,1),
        'vic_hechos_pobr_mon': round((x['pobre'] * x['es_victima'] * x['fex_c_viv']).sum(),0),
        
        # vic tot pobreza extrema
        '%_vic_hechos_pobr_ext': round((x['indigente'] * x['es_victima'] * x['fex_c_viv']).sum() / (x['es_victima'] * x['fex_c_viv']).sum() * 100,1),
        'vic_hechos_pobr_ext': round((x['indigente'] * x['es_victima'] * x['fex_c_viv']).sum(),0),
        
        # vic des pobreza monetaria
        '%_des_pobr_mon': round((x['pobre'] * x['es_desplazado'] * x['fex_c_viv']).sum() / (x['es_desplazado'] * x['fex_c_viv']).sum() * 100,1),
        'des_pobr_mon': round((x['pobre'] * x['es_desplazado'] * x['fex_c_viv']).sum(),0),
         
        # vic des pobreza extrema
        '%_des_pobr_ext': round((x['indigente'] * x['es_desplazado'] * x['fex_c_viv']).sum() / (x['es_desplazado'] * x['fex_c_viv']).sum() * 100,1),
        'des_pobr_ext': round((x['indigente'] * x['es_desplazado'] * x['fex_c_viv']).sum(),0)
    })
).reset_index()

#tvic_monetaria_mun.head(30)

### Exportar bases en excel 2021-2022

In [70]:
salida = p1 + "tablas_pobreza_IPM_21_22.xlsx"
writer = pd.ExcelWriter(salida)
#tablas
# 2021
tablas = [tvic_monetaria_dpto, tvic_monetaria_mun, tvic_ipm_reg, tvic_ipm_dpto,
         pm_dpto22, pm_mun22, ipm_reg22, ipm_dpto22]

pestañas = ['pobreza_dpto_21','pobreza_muni_21','ipm_reg_21','ipm_dpto_21',
            'pobreza_dpto_22', 'pobreza_muni_22','ipm_reg_22','ipm_dpto_22',]
#exportar cada tabla como una pestaña del archivo excel
for i,j in zip(tablas, pestañas):
    i.to_excel(writer, sheet_name = j, header = True, index=True)

writer.close()