In [122]:
import numpy as np
import pandas as pd

In [123]:
### Procesamiento base de pobreza

In [124]:
coding: "latin-1"

In [125]:
vic_20 = pd.read_stata("C:/Users/Estadistico/Desktop/BACKUP_07_07_2022/ivan/DANE_pobreza/2020/Victimas_GEIH_2020.dta")

In [126]:
per_20 = pd.read_stata("C:/Users/Estadistico/Desktop/BACKUP_07_07_2022/ivan/DANE_pobreza/2020/Personas.dta")

In [127]:
hog_20 = pd.read_stata("C:/Users/Estadistico/Desktop/BACKUP_07_07_2022/ivan/DANE_pobreza/2020/Hogares.dta")

In [128]:
hog_20.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 229834 entries, 0 to 229833
Data columns (total 23 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   directorio   229834 non-null  int32
 1   secuencia_p  229834 non-null  int8
 2   mes          229834 non-null  object
 3   clase        229834 non-null  object
 4   dominio      229834 non-null  object
 5   p5000        229834 non-null  int8
 6   p5090        229834 non-null  category
 7   p5100        7045 non-null    float64
 8   p5130        136470 non-null  float64
 9   nper         229834 non-null  int8
 10  npersug      229834 non-null  int8
 11  ingtotug     229834 non-null  float64
 12  ingtotugarr  229834 non-null  float64
 13  ingpcug      229834 non-null  float64
 14  li           229834 non-null  float64
 15  lp           229834 non-null  float64
 16  pobre        229834 non-null  category
 17  indigente    229834 non-null  category
 18  npobres      229834 non-null  int8
 19  nindigentes  229834 non-null  int8
 20  fex_c        229834 non-null  float64
 21  depto        229834 non-null  object
 22  fex_dpto     229834 non-null  float64
dtypes: category(3), float64(9), int32(1), int8(6), object(4)
memory usage: 27.4+ MB

In [129]:
hog_20_sub = hog_20.iloc[:,[0,1,2,9,14,15,16,17,18,19]]

In [130]:
hog_20_sub.iloc[:,2] = pd.to_numeric(hog_20_sub.iloc[:,2], downcast = 'integer')

C:\Users\Estadistico\anaconda3\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [131]:
hog_20_sub.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 229834 entries, 0 to 229833
Data columns (total 10 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   directorio   229834 non-null  int32
 1   secuencia_p  229834 non-null  int8
 2   mes          229834 non-null  int8
 3   nper         229834 non-null  int8
 4   li           229834 non-null  float64
 5   lp           229834 non-null  float64
 6   pobre        229834 non-null  category
 7   indigente    229834 non-null  category
 8   npobres      229834 non-null  int8
 9   nindigentes  229834 non-null  int8
dtypes: category(2), float64(2), int32(1), int8(5)
memory usage: 7.7 MB

In [132]:
vic_20_merge = pd.merge(left=vic_20, right=hog_20_sub, left_on=["directorio", "secuencia_p", "mes"], 
                        right_on=["directorio", "secuencia_p", "mes"], how='left', sort=False, validate='m:1', 
                        suffixes=("_v", "_h"), indicator = 'indicator_column')

In [35]:
vic_20_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 747822 entries, 0 to 747821
Data columns (total 15 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   directorio        747822 non-null  int32
 1   secuencia_p       747822 non-null  int8
 2   orden             747822 non-null  int8
 3   mes               747822 non-null  int8
 4   es_victima        86605 non-null   float64
 5   es_desplazado     86605 non-null   float64
 6   decada_vic        747822 non-null  object
 7   fex_c_viv         86605 non-null   float64
 8   li                747822 non-null  float64
 9   lp                747822 non-null  float64
 10  pobre             747822 non-null  category
 11  indigente         747822 non-null  category
 12  npobres           747822 non-null  int8
 13  nindigentes       747822 non-null  int8
 14  indicator_column  747822 non-null  category
dtypes: category(3), float64(5), int32(1), int8(5), object(1)
memory usage: 48.5+ MB

In [22]:
#pd.options.display.max_info_rows= None

In [36]:
per_20.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 747822 entries, 0 to 747821
Data columns (total 137 columns):
 #   Column       Dtype
---  ------       -----
 0   directorio   int32
 1   secuencia_p  int8
 2   orden        int8
 3   clase        object
 4   dominio      object
 5   mes          object
 6   estrato1     category
 7   p6020        category
 8   p6040        int16
 9   p6050        category
 10  p6090        category
 11  p6100        category
 12  p6210        category
 13  p6210s1      float64
 14  p6240        category
 15  oficio       object
 16  p6426        float64
 17  p6430        category
 18  p6500        float64
 19  p6510        category
 20  p6510s1      float64
 21  p6510s2      category
 22  p6545        category
 23  p6545s1      float64
 24  p6545s2      category
 25  p6580        category
 26  p6580s1      float64
 27  p6580s2      category
 28  p6585s1      category
 29  p6585s1a1    float64
 30  p6585s1a2    category
 31  p6585s2      category
 32  p6585s2a1    float64
 33  p6585s2a2    category
 34  p6585s3      category
 35  p6585s3a1    float64
 36  p6585s3a2    category
 37  p6585s4      category
 38  p6585s4a1    float64
 39  p6585s4a2    category
 40  p6590        category
 41  p6590s1      float64
 42  p6600        category
 43  p6600s1      float64
 44  p6610        category
 45  p6610s1      float64
 46  p6620        category
 47  p6620s1      float64
 48  p6630s1      category
 49  p6630s1a1    float64
 50  p6630s2      category
 51  p6630s2a1    float64
 52  p6630s3      category
 53  p6630s3a1    float64
 54  p6630s4      category
 55  p6630s4a1    float64
 56  p6630s6      category
 57  p6630s6a1    float64
 58  p6750        float64
 59  p6760        float64
 60  p550         float64
 61  p6800        float64
 62  p6870        category
 63  p6920        category
 64  p7040        category
 65  p7045        float64
 66  p7050        category
 67  p7070        float64
 68  p7090        category
 69  p7110        category
 70  p7120        category
 71  p7140s1      category
 72  p7140s2      category
 73  p7150        category
 74  p7160        category
 75  p7310        category
 76  p7350        category
 77  p7422        category
 78  p7422s1      float64
 79  p7472        category
 80  p7472s1      float64
 81  p7495        category
 82  p7500s1      category
 83  p7500s1a1    float64
 84  p7500s2      category
 85  p7500s2a1    float64
 86  p7500s3      category
 87  p7500s3a1    float64
 88  p7505        category
 89  p7510s1      category
 90  p7510s1a1    float64
 91  p7510s2      category
 92  p7510s2a1    float64
 93  p7510s3      category
 94  p7510s3a1    float64
 95  p7510s5      category
 96  p7510s5a1    float64
 97  p7510s6      category
 98  p7510s6a1    float64
 99  p7510s7      category
 100 p7510s7a1    float64
 101 pet          category
 102 oc           category
 103 des          category
 104 ina          category
 105 impa         float64
 106 isa          float64
 107 ie           float64
 108 imdi         float64
 109 iof1         float64
 110 iof2         float64
 111 iof3h        float64
 112 iof3i        float64
 113 iof6         float64
 114 cclasnr2     category
 115 cclasnr3     category
 116 cclasnr4     category
 117 cclasnr5     category
 118 cclasnr6     category
 119 cclasnr7     category
 120 cclasnr8     category
 121 cclasnr11    category
 122 impaes       float64
 123 isaes        float64
 124 iees         float64
 125 imdies       float64
 126 iof1es       float64
 127 iof2es       float64
 128 iof3hes      float64
 129 iof3ies      float64
 130 iof6es       float64
 131 ingtotob     float64
 132 ingtotes     float64
 133 ingtot       float64
 134 fex_c        float64
 135 depto        object
 136 fex_dpto     float64
dtypes: category(69), float64(59), int16(1), int32(1), int8(2), object(5)
memory usage: 425.8+ MB

In [133]:
per_20_sub = per_20.iloc[:,[0,1,2,3,4,5,7,8,133,134,135,136]]

In [134]:
per_20_sub.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 747822 entries, 0 to 747821
Data columns (total 12 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   directorio   747822 non-null  int32
 1   secuencia_p  747822 non-null  int8
 2   orden        747822 non-null  int8
 3   clase        747822 non-null  object
 4   dominio      747822 non-null  object
 5   mes          747822 non-null  object
 6   p6020        747822 non-null  category
 7   p6040        747822 non-null  int16
 8   ingtot       747822 non-null  float64
 9   fex_c        747822 non-null  float64
 10  depto        747822 non-null  object
 11  fex_dpto     747822 non-null  float64
dtypes: category(1), float64(3), int16(1), int32(1), int8(2), object(4)
memory usage: 52.1+ MB

In [135]:
#formato
per_20_sub.iloc[:,3] = pd.to_numeric(per_20_sub.iloc[:,3], downcast = 'integer')
per_20_sub.iloc[:,5] = pd.to_numeric(per_20_sub.iloc[:,5], downcast = 'integer')

In [136]:
vic_20_merge_p = pd.merge(left=vic_20_merge, right=per_20_sub, left_on=["directorio", "secuencia_p", "orden", "mes"], 
                        right_on=["directorio", "secuencia_p", "orden", "mes"], how='left', sort=False, validate='1:1', 
                        suffixes=("_vh", "_p"), indicator = 'indicator_column_vhp')

In [43]:
vic_20_merge_p.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 747822 entries, 0 to 747821
Data columns (total 24 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   directorio            747822 non-null  int32
 1   secuencia_p           747822 non-null  int8
 2   orden                 747822 non-null  int8
 3   mes                   747822 non-null  int8
 4   es_victima            86605 non-null   float64
 5   es_desplazado         86605 non-null   float64
 6   decada_vic            747822 non-null  object
 7   fex_c_viv             86605 non-null   float64
 8   li                    747822 non-null  float64
 9   lp                    747822 non-null  float64
 10  pobre                 747822 non-null  category
 11  indigente             747822 non-null  category
 12  npobres               747822 non-null  int8
 13  nindigentes           747822 non-null  int8
 14  indicator_column      747822 non-null  category
 15  clase                 747822 non-null  int8
 16  dominio               747822 non-null  object
 17  p6020                 747822 non-null  category
 18  p6040                 747822 non-null  int16
 19  ingtot                747822 non-null  float64
 20  fex_c                 747822 non-null  float64
 21  depto                 747822 non-null  object
 22  fex_dpto              747822 non-null  float64
 23  indicator_column_vhp  747822 non-null  category
dtypes: category(5), float64(8), int16(1), int32(1), int8(6), object(3)
memory usage: 80.6+ MB

In [54]:
vic_20_merge_p["indigente"].value_counts()

No indigente    633571
Indigente       114251
Name: indigente, dtype: int64

In [45]:
pd.options.display.max_columns= None

In [55]:
vic_20_merge_p.head()

,directorio,secuencia_p,orden,mes,es_victima,es_desplazado,decada_vic,fex_c_viv,li,lp,pobre,indigente,npobres,nindigentes,indicator_column,clase,dominio,p6020,p6040,ingtot,fex_c,depto,fex_dpto,indicator_column_vhp
0,43,8,1,3,NaN,NaN,,NaN,179658.525509,452860.476815,Pobre,Indigente,1,1,both,1,BOGOTA,Hombre,47,0.0,135.612943,11,135.612943,both
1,43,9,1,3,1.0,1.0,b. 2000-2009,187.404085,179658.525509,452860.476815,No pobre,No indigente,0,0,both,1,BOGOTA,Hombre,27,1450000.0,135.612943,11,135.612943,both
2,43,9,2,3,NaN,NaN,,NaN,179658.525509,452860.476815,No pobre,No indigente,0,0,both,1,BOGOTA,Hombre,19,0.0,135.612943,11,135.612943,both
3,43,10,1,3,NaN,NaN,,NaN,179658.525509,452860.476815,Pobre,Indigente,1,1,both,1,BOGOTA,Mujer,57,0.0,135.612943,11,135.612943,both
4,47,1,1,3,NaN,NaN,,NaN,185075.004036,453256.554942,No pobre,No indigente,0,0,both,1,BUCARAMANGA,Hombre,39,2600000.0,32.066951,68,38.393864,both

In [47]:
#hog_20_sub["pobre"].value_counts() #225853

No pobre    144452
Pobre        85382
Name: pobre, dtype: int64

In [48]:
mask =hog_20["nper"] > hog_20["npobres"]

In [49]:
mask[mask==True].count()

144452

In [50]:
hog_20_mask = hog_20[mask==True]
hog_20_mask["pobre"].value_counts()

No pobre    144452
Pobre            0
Name: pobre, dtype: int64

In [51]:
vic_20_merge_p["pobre"].value_counts()

No pobre    419835
Pobre       327987
Name: pobre, dtype: int64

In [53]:
print((vic_20_merge_p["es_victima"] * vic_20_merge_p["fex_c_viv"]).sum())

7947611.000000213

In [137]:
def novic(df):
    if df["es_victima"]!=1:
        x = 1
    else:
        x= 0
    return(x)

In [138]:
vic_20_merge_p["no_victima"] = vic_20_merge_p.apply(novic, axis = 1)

In [140]:
##renombrar variables
vic_20_merge_p.rename(columns = {"p6020":"sexo", "p6040":"edad"}, inplace = True)

In [141]:
#vic_21_merge_p.drop(columns=["index"], inplace=True) 
vic_20_merge_p.drop(columns=["indicator_column", "indicator_column_vhp"], inplace=True)

In [142]:
vic_20_merge_p["periodo"] = 2020

In [66]:
#vic_20_merge_p.rename(columns= {"año": "periodo"}, inplace=True)

In [143]:
vic_20_merge_p.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 747822 entries, 0 to 747821
Data columns (total 25 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   directorio     747822 non-null  int32
 1   secuencia_p    747822 non-null  int8
 2   orden          747822 non-null  int8
 3   mes            747822 non-null  int8
 4   es_victima     86605 non-null   float64
 5   es_desplazado  86605 non-null   float64
 6   decada_vic     747822 non-null  object
 7   fex_c_viv      86605 non-null   float64
 8   nper           747822 non-null  int8
 9   li             747822 non-null  float64
 10  lp             747822 non-null  float64
 11  pobre          747822 non-null  category
 12  indigente      747822 non-null  category
 13  npobres        747822 non-null  int8
 14  nindigentes    747822 non-null  int8
 15  clase          747822 non-null  int8
 16  dominio        747822 non-null  object
 17  sexo           747822 non-null  category
 18  edad           747822 non-null  int16
 19  ingtot         747822 non-null  float64
 20  fex_c          747822 non-null  float64
 21  depto          747822 non-null  object
 22  fex_dpto       747822 non-null  float64
 23  no_victima     747822 non-null  int64
 24  periodo        747822 non-null  int64
dtypes: category(3), float64(8), int16(1), int32(1), int64(2), int8(7), object(3)
memory usage: 91.3+ MB

#### Reemplazar etiquetas de variables categóricas por valores discretos

In [144]:
def pob(df):
    if df["pobre"]=="Pobre": 
        x = 1
    else:
        x= 0
    return(x)

In [145]:
vic_20_merge_p["pobre"] = vic_20_merge_p.apply(pob, axis = 1)

In [146]:
def ind(df):
    if df["indigente"]=="Indigente": 
        x = 1
    else:
        x= 0
    return(x)

In [147]:
vic_20_merge_p["indigente"] = vic_20_merge_p.apply(ind, axis = 1)

In [148]:
vic_20_merge_p["indigente"].value_counts()

0    633571
1    114251
Name: indigente, dtype: int64

In [149]:
def sex(df):
    if df["sexo"]=="Hombre": 
        x = 1
    else:
        x= 2
    return(x)

In [150]:
vic_20_merge_p["sexo"] = vic_20_merge_p.apply(sex, axis = 1)

In [151]:
vic_20_merge_p["sexo"].value_counts()

2    395213
1    352609
Name: sexo, dtype: int64

In [152]:
#export
vic_20_merge_p.to_stata("C:/Users/Estadistico/Desktop/BACKUP_07_07_2022/ivan/DANE_pobreza/2021/Victimas_procesada_2020.dta",write_index=False)

## Validaciones

In [90]:
vic_20_merge_p = pd.read_stata("C:/Users/Estadistico/Desktop/BACKUP_07_07_2022/ivan/DANE_pobreza/2021/Victimas_procesada_2020.dta")

In [91]:
vic_20_merge_p.head()

,directorio,secuencia_p,orden,mes,es_victima,es_desplazado,decada_vic,fex_c_viv,li,lp,pobre,indigente,npobres,nindigentes,clase,dominio,sexo,edad,ingtot,fex_c,depto,fex_dpto,periodo,no_victima
0,43,8,1,3,NaN,NaN,,NaN,179658.525509,452860.476815,1,1,1,1,1,BOGOTA,1,47,0.0,135.612943,11,135.612943,2020,1
1,43,9,1,3,1.0,1.0,b. 2000-2009,187.404085,179658.525509,452860.476815,0,0,0,0,1,BOGOTA,1,27,1450000.0,135.612943,11,135.612943,2020,0
2,43,9,2,3,NaN,NaN,,NaN,179658.525509,452860.476815,0,0,0,0,1,BOGOTA,1,19,0.0,135.612943,11,135.612943,2020,1
3,43,10,1,3,NaN,NaN,,NaN,179658.525509,452860.476815,1,1,1,1,1,BOGOTA,2,57,0.0,135.612943,11,135.612943,2020,1
4,47,1,1,3,NaN,NaN,,NaN,185075.004036,453256.554942,0,0,0,0,1,BUCARAMANGA,1,39,2600000.0,32.066951,68,38.393864,2020,1

##### Número de víctimas muestrales y expandidas

In [92]:
print(vic_20_merge_p["no_victima"].value_counts())
print((vic_20_merge_p["no_victima"] * vic_20_merge_p["fex_c"]).sum())
print((vic_20_merge_p["pobre"] * vic_20_merge_p["fex_c"]).sum())

1    661217
0     86605
Name: no_victima, dtype: int64
43676063.118905164
21021563.959932372

##### Tasa pobreza expandida población no víctima

In [93]:
mask_2= vic_20_merge_p["no_victima"]==1

In [94]:
vic_20_merge_p_mask_nv = vic_20_merge_p[mask_2==True]

In [96]:
print(
    round(
    ((vic_20_merge_p_mask_nv["pobre"] * vic_20_merge_p_mask_nv["fex_c"]).sum() /
      (vic_20_merge_p["no_victima"] * vic_20_merge_p["fex_c"]).sum()*100),2))

41.29

##### Tasa pobreza expandida población víctima

In [97]:
mask_3= vic_20_merge_p["es_victima"]==1

In [98]:
vic_20_merge_p_mask_v = vic_20_merge_p[mask_3==True]

In [99]:
print(   
    ((vic_20_merge_p_mask_v["pobre"] * vic_20_merge_p_mask_v["fex_c_viv"]).sum() /
      (round((vic_20_merge_p["es_victima"] * vic_20_merge_p["fex_c_viv"]),2)).sum())*100)

51.925384784245345

##### Tasa pobreza expandida población víctima desplazamiento

In [100]:
mask_4= vic_20_merge_p["es_desplazado"]==1

In [101]:
vic_20_merge_p_mask_vd = vic_20_merge_p[mask_4==True]

In [102]:
print(   
    ((vic_20_merge_p_mask_vd["pobre"] * vic_20_merge_p_mask_vd["fex_c_viv"]).sum() /
      ((vic_20_merge_p["es_desplazado"] * vic_20_merge_p["fex_c_viv"])).sum())*100)

53.3923308610067

##### Tasa pobreza extrema expandida población víctima y víctima desplazamiento

In [103]:
mask_5= vic_20_merge_p["es_victima"]==1

In [104]:
vic_20_merge_p_mask_v = vic_20_merge_p[mask_5==True]

In [105]:
print(   
    ((vic_20_merge_p_mask_v["indigente"] * vic_20_merge_p_mask_v["fex_c_viv"]).sum() /
      ((vic_20_merge_p["es_victima"] * vic_20_merge_p["fex_c_viv"])).sum())*100)

19.840278931753723

In [106]:
mask_6= vic_20_merge_p["es_desplazado"]==1

In [107]:
vic_20_merge_p_mask_vd = vic_20_merge_p[mask_6==True]

In [108]:
print(   
    ((vic_20_merge_p_mask_vd["indigente"] * vic_20_merge_p_mask_vd["fex_c_viv"]).sum() /
      ((vic_20_merge_p["es_desplazado"] * vic_20_merge_p["fex_c_viv"])).sum())*100)

20.449661281154004

##### Tasa pobreza extrema expandida población víctima desplazamiento (por sexo)

In [109]:
mask_7= vic_20_merge_p["es_desplazado"]==1
vic_20_merge_p_mask_v_m = vic_20_merge_p[mask_7==True]
mask_7= vic_20_merge_p_mask_v_m["sexo"]==1
vic_20_merge_p_mask_v_m = vic_20_merge_p_mask_v_m[mask_7==True]

In [110]:
mask_8= vic_20_merge_p["es_desplazado"]==1
vic_20_merge_p_mask_v_h = vic_20_merge_p[mask_8==True]
mask_8= vic_20_merge_p_mask_v_h["sexo"]==2
vic_20_merge_p_mask_v_h = vic_20_merge_p_mask_v_h[mask_8==True]

In [111]:
print(   
    ((vic_20_merge_p_mask_v_m["indigente"] * vic_20_merge_p_mask_v_m["fex_c_viv"]).sum() /
      ((vic_20_merge_p_mask_v_m["es_desplazado"] * vic_20_merge_p_mask_v_m["fex_c_viv"])).sum())*100)
print(   
    ((vic_20_merge_p_mask_v_h["indigente"] * vic_20_merge_p_mask_v_h["fex_c_viv"]).sum() /
      ((vic_20_merge_p_mask_v_h["es_desplazado"] * vic_20_merge_p_mask_v_h["fex_c_viv"])).sum())*100)

19.603343705551197
21.174379535237584

##### Tasa pobreza extrema expandida población víctima desplazamiento (por clase)

In [113]:
mask_9= vic_20_merge_p["es_desplazado"]==1
vic_20_merge_p_mask_v_c = vic_20_merge_p[mask_9==True]
mask_9= vic_20_merge_p_mask_v_c["clase"]==1
vic_20_merge_p_mask_v_c = vic_20_merge_p_mask_v_c[mask_9==True]

In [114]:
mask_9= vic_20_merge_p_mask_v_c["clase"]==1

In [115]:
mask_10= vic_20_merge_p["es_desplazado"]==1
vic_20_merge_p_mask_v_r = vic_20_merge_p[mask_10==True]
mask_10= vic_20_merge_p_mask_v_r["clase"]==2
vic_20_merge_p_mask_v_r = vic_20_merge_p_mask_v_r[mask_10==True]

In [116]:
print(   
    ((vic_20_merge_p_mask_v_c["indigente"] * vic_20_merge_p_mask_v_c["fex_c_viv"]).sum() /
      ((vic_20_merge_p_mask_v_c["es_desplazado"] * vic_20_merge_p_mask_v_c["fex_c_viv"])).sum())*100)
print(   
    ((vic_20_merge_p_mask_v_r["indigente"] * vic_20_merge_p_mask_v_r["fex_c_viv"]).sum() /
      ((vic_20_merge_p_mask_v_r["es_desplazado"] * vic_20_merge_p_mask_v_r["fex_c_viv"])).sum())*100)

20.655420542956413
20.066866816989748