### PIN - Colombianos retornados
Elaborado por Ivan Gabriel Corredor Castillo

IMMAP-GIFMM

ivangcorredorc@gmail.com

ini: 03-08-2023, Fin: 10-08-2023

In [1]:
coding: "latin-1"

In [2]:
### librerias
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
#print(sns.__version__)
#!pip3 install seaborn --upgrade
plt.style.use('seaborn')
#sns.set_style('white')
import matplotlib.ticker as ticker
#import dtale

In [3]:
pd.options.display.float_format = '{:.1f}'.format 
pd.options.display.max_rows = None
pd.options.display.max_columns = None

### Importe de datos

In [4]:
# rutas 
p1 = "G:/Mi unidad/IMMAP/PIN/retornados/datos/1_raw/"

In [5]:
retor = pd.read_stata(p1+ "geih_22_retornados.dta")

In [300]:
vp = pd.read_stata(p1+ "PiN_vocacion_clean.dta")

In [139]:
## colombianos retornados muestra: 2.124
retor.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2124 entries, 0 to 2123
Data columns (total 52 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   directorio     2124 non-null   int32
 1   secuencia_p    2124 non-null   int8
 2   orden          2124 non-null   int8
 3   hogar          2124 non-null   int8
 4   area           1294 non-null   float64
 5   clase          2124 non-null   int8
 6   fex_c18        2124 non-null   float32
 7   dpto           2124 non-null   int8
 8   p3271          2124 non-null   int8
 9   p6040          2124 non-null   int16
 10  p6050          2124 non-null   int8
 11  p6090          2124 non-null   int8
 12  p6160          2115 non-null   float64
 13  p6170          2115 non-null   float64
 14  p3042          2115 non-null   float64
 15  p3042s1        2115 non-null   float64
 16  p6500          409 non-null    float64
 17  p6750          635 non-null    float64
 18  p3073          643 non-null    float64
 19  p6810          258 non-null    float64
 20  p6850          1081 non-null   float64
 21  p6880          1081 non-null   float64
 22  p6920          1081 non-null   float64
 23  oci            1081 non-null   float64
 24  inglabo        1034 non-null   float64
 25  dsi            165 non-null    float64
 26  p6240          1991 non-null   float64
 27  p3373s3        0 non-null      float64
 28  p3382s3        2088 non-null   float64
 29  p3384s3        208 non-null    float64
 30  p4000          2124 non-null   int8
 31  p4010          2124 non-null   int8
 32  p4020          2124 non-null   int8
 33  p4030s1        2124 non-null   int8
 34  p4030s2        2124 non-null   int8
 35  p4030s3        2124 non-null   int8
 36  p4030s4        2124 non-null   int8
 37  p4030s5        2124 non-null   int8
 38  p5000          2092 non-null   float64
 39  p5010          2092 non-null   float64
 40  p5020          2092 non-null   float64
 41  p5040          2092 non-null   float64
 42  p5050          2092 non-null   float64
 43  p5090          2092 non-null   float64
 44  p6008          2092 non-null   float64
 45  mes            2124 non-null   float32
 46  year           2124 non-null   float32
 47  fex_corregido  2124 non-null   int16
 48  venezolano     2124 non-null   float32
 49  ven_5y         2124 non-null   float32
 50  ven_12m        2124 non-null   float32
 51  ven_12m_5y     2124 non-null   float32
dtypes: float32(7), float64(26), int16(2), int32(1), int8(16)
memory usage: 555.9 KB

In [140]:
### descripción de categorias
for i in retor.columns[[8]]: #4,5,7
    print(retor[i].value_counts())

2    1182
1     942
Name: p3271, dtype: int64

In [141]:
retor.columns

Index(['directorio', 'secuencia_p', 'orden', 'hogar', 'area', 'clase',
       'fex_c18', 'dpto', 'p3271', 'p6040', 'p6050', 'p6090', 'p6160', 'p6170',
       'p3042', 'p3042s1', 'p6500', 'p6750', 'p3073', 'p6810', 'p6850',
       'p6880', 'p6920', 'oci', 'inglabo', 'dsi', 'p6240', 'p3373s3',
       'p3382s3', 'p3384s3', 'p4000', 'p4010', 'p4020', 'p4030s1', 'p4030s2',
       'p4030s3', 'p4030s4', 'p4030s5', 'p5000', 'p5010', 'p5020', 'p5040',
       'p5050', 'p5090', 'p6008', 'mes', 'year', 'fex_corregido', 'venezolano',
       'ven_5y', 'ven_12m', 'ven_12m_5y'],
      dtype='object')

In [6]:
## renombrar variables
name1 = ['p3271', 'p6040', 'p6050', 'p6090', 'p6160', 'p6170',
       'p3042', 'p3042s1', 'p6500', 'p6750', 'p3073', 'p6810', 
        'p6850','p6880', 'p6920', 'oci', 'inglabo', 'dsi',
        'p6240', 'p3373s3','p3382s3', 'p3384s3', 'p4000', 'p4010',
         'p4020', 'p4030s1', 'p4030s2','p4030s3', 'p4030s4', 'p4030s5', 
         'p5000','p5010', 'p5020', 'p5040','p5050', 'p5090',
         'p6008']
name2 = ['sexo', 'edad', 'parentesco', 'afil_salud','leer_escribir', 'asistencia_eduformal',
         'nivel_edu', 'años_estudio', 'ingreso_asalariados', 'honorarios_ganan','pago_meses','subempleo_horas',
         'horas_trabajadas', 'lugar_trabajo','cotiza_pension','pob_ocupada','inglabo','desocupados',
        'activ_realiza','donde_nacio','don_vivia_5años','don_vivia_12meses','tipo_vivienda','material_paredes',
        'material_pisos', 'ener_elec', 'gas_natura','alcantarillado', 'reco_basura','acueducto',
        'cuartos_hogar', 'cuartos_dormir', 'excretas','forma_reco_basura','fuente_agua','tenencia_viv',
        'tot_per_hogar']
for i,j in zip(name1, name2):
    retor.rename(columns={i:j},inplace=True)

In [143]:
retor.columns

Index(['directorio', 'secuencia_p', 'orden', 'hogar', 'area', 'clase',
       'fex_c18', 'dpto', 'sexo', 'edad', 'parentesco', 'afil_salud',
       'leer_escribir', 'asistencia_eduformal', 'nivel_edu', 'años_estudio',
       'ingreso_asalariados', 'honorarios_ganan', 'pago_meses',
       'subempleo_horas', 'horas_trabajadas', 'lugar_trabajo',
       'cotiza_pension', 'pob_ocupada', 'inglabo', 'desocupados',
       'activ_realiza', 'donde_nacio', 'don_vivia_5años', 'don_vivia_12meses',
       'tipo_vivienda', 'material_paredes', 'material_pisos', 'ener_elec',
       'gas_natura', 'alcantarillado', 'reco_basura', 'acueducto',
       'cuartos_hogar', 'cuartos_dormir', 'excretas', 'forma_reco_basura',
       'fuente_agua', 'tenencia_viv', 'tot_per_hogar', 'mes', 'year',
       'fex_corregido', 'venezolano', 'ven_5y', 'ven_12m', 'ven_12m_5y'],
      dtype='object')

In [144]:
retor['ingreso_asalariados'].mean() - retor['inglabo'].mean()

62038.24501425843

#### Análisis exploratorio de la muestra. Elementos relevantes
- la información corresponde al año 2022
- existen 23 ciudades y departamentos
- aréa urbana 1815 y rural 309
- 1081 ocupados
- 165 desocupados
- el promedio de p6500 e inglabo es ligeramnete distinto = 62.038 pesos

In [145]:
retor.columns[3:5]

Index(['hogar', 'area'], dtype='object')

#### Distribución retornados por departamento

<span style="color:yellow;"> NNA y adultos </span>

In [7]:
### crar función para NNA y Adultos
def g_etario(df):
    if (df["sexo"]==2 and df["edad"]< 18):
        x = 1
    elif (df["sexo"]==1 and df["edad"]< 18):
        x = 2
    elif (df["sexo"]==2 and df["edad"]>= 18):
        x = 3
    elif (df["sexo"]==1 and df["edad"]>= 18):
        x = 4
    else:
        x = np.nan
    return(x)

In [8]:
### crar variable de nna y adultos (h y m) 
retor["nna_adult"] = retor.apply(g_etario, axis=1)

In [9]:
### nombres de departamentos
retor["dpto_nom"] = retor["dpto"].replace([5,8,11,13,
                                           15,17,18,19,
                                           20,23,25,27,
                                           41,44,47,50,
                                           52,54,63,66,
                                           68,70,73,76,
                                           81,85,86,88,
                                           91,94,95,97,99],
                                          ["Antioquia", "Atlántico", "Bogotá", "Bolívar",
                                           "Boyacá", "Caldas","Caquetá","Cauca", 
                                           "Cesar","Córdoba", "Cundinamarca","Chocó", 
                                           "Huila", "La Guajira", "Magdalena", "Meta", 
                                           "Nariño","Norte de Santander", "Quindio", "Risaralda",
                                           "Santander","Sucre", "Tolima", "Valle del Cauca", 
                                           "Arauca", "Casanare","Putumayo", "Providencia y Santa Catalina", 
                                           "Amazonas","Guainía", "Guaviare", "Vaupés", "Vichada"])

In [115]:
# Número de retornados expandidos según variable nna y adultos
pd.options.display.float_format = '{:.0f}'.format 
dpto_nna_adult = retor.pivot_table(values= 'fex_corregido', index= 'dpto_nom', columns= 'nna_adult',
    aggfunc=np.sum, margins = True)
dpto_nna_adult.rename(columns={1:"M_<18",2:"H_<18",3:"M_>=_18",4:"H_>=_18"})

nna_adult           M_<18  H_<18  M_>=_18  H_>=_18    All
dpto_nom
Antioquia             103     68     4710     4626   9507
Arauca                 69     24      378      424    895
Atlántico             134    251     6586     6049  13020
Bogotá               1249    356     6051     5879  13535
Bolívar               728    670     7504     5728  14630
Boyacá                 10     39      563      909   1521
Caldas                NaN     11      275      514    800
Caquetá                 9      3       31       61    104
Casanare              NaN     30       51       63    144
Cauca                 NaN    NaN      130      102    232
Cesar                  65    343     3186     2361   5955
Chocó                   2    NaN       60       13     75
Cundinamarca          155    NaN      806     3347   4308
Córdoba               384    328     3028     1909   5649
Guainía                 4      9       28       18     59
Guaviare              NaN    NaN      NaN       51     51
Huila                 NaN    NaN      187      341    528
La Guajira            528    321     1996     1670   4515
Magdalena             176    216     2633     3641   6666
Meta                   15     46      439      697   1197
Nariño                NaN      8      109      228    345
Norte de Santander    615    309     7787     5909  14620
Quindio                 8    NaN      311      244    563
Risaralda             NaN    NaN      635      452   1087
Santander             123     17     3051     2434   5625
Sucre                   9     61     1346     1557   2973
Tolima                NaN     28      321      639    988
Valle del Cauca       272    175     3904     2817   7168
Vaupés                NaN    NaN       12        7     19
Vichada                54     42      110      105    311
All                  4712   3355    56228    52795 117090

In [11]:
# distrbución retornados expandidos según variable nna y adultos
pd.options.display.float_format = '{:.2f}'.format 
dna_frec = round(dpto_nna_adult.div(dpto_nna_adult.iloc[:, -1], axis=0)*100,2)
dna_frec.rename(columns={1:"M_<18",2:"H_<18",3:"M_>=_18",4:"H_>=_18"})

nna_adult           M_<18  H_<18  M_>=_18  H_>=_18    All
dpto_nom
Antioquia            1.08   0.72    49.54    48.66 100.00
Arauca               7.71   2.68    42.23    47.37 100.00
Atlántico            1.03   1.93    50.58    46.46 100.00
Bogotá               9.23   2.63    44.71    43.44 100.00
Bolívar              4.98   4.58    51.29    39.15 100.00
Boyacá               0.66   2.56    37.02    59.76 100.00
Caldas                NaN   1.38    34.38    64.25 100.00
Caquetá              8.65   2.88    29.81    58.65 100.00
Casanare              NaN  20.83    35.42    43.75 100.00
Cauca                 NaN    NaN    56.03    43.97 100.00
Cesar                1.09   5.76    53.50    39.65 100.00
Chocó                2.67    NaN    80.00    17.33 100.00
Cundinamarca         3.60    NaN    18.71    77.69 100.00
Córdoba              6.80   5.81    53.60    33.79 100.00
Guainía              6.78  15.25    47.46    30.51 100.00
Guaviare              NaN    NaN      NaN   100.00 100.00
Huila                 NaN    NaN    35.42    64.58 100.00
La Guajira          11.69   7.11    44.21    36.99 100.00
Magdalena            2.64   3.24    39.50    54.62 100.00
Meta                 1.25   3.84    36.68    58.23 100.00
Nariño                NaN   2.32    31.59    66.09 100.00
Norte de Santander   4.21   2.11    53.26    40.42 100.00
Quindio              1.42    NaN    55.24    43.34 100.00
Risaralda             NaN    NaN    58.42    41.58 100.00
Santander            2.19   0.30    54.24    43.27 100.00
Sucre                0.30   2.05    45.27    52.37 100.00
Tolima                NaN   2.83    32.49    64.68 100.00
Valle del Cauca      3.79   2.44    54.46    39.30 100.00
Vaupés                NaN    NaN    63.16    36.84 100.00
Vichada             17.36  13.50    35.37    33.76 100.00
All                  4.02   2.87    48.02    45.09 100.00

#### Distribución vocación permanencia por departamento

In [298]:
vp.columns

Index(['dpto', 'mujer', 'edad_individuo', 'dependientes', 'independientes',
       'jefe_mujer', 'jefe_hombre', 'vivienda_no_digna', 'vivienda_arriendo',
       'no_acueducto_pozo',
       ...
       'p4030s5', 'p5000', 'p5010', 'p5020', 'p5040', 'p5050', 'p5090',
       'p6008', 'year', '_merge'],
      dtype='object', length=1181)

In [301]:
# convertir variable a entero
vp["dpto"] = pd.to_numeric(vp["dpto"], downcast="integer")

In [302]:
### crar función para NNA y Adultos
def g_etario2(df):
    if (df["p3271"]==2 and df["p6040"]< 18):
        x = 1
    elif (df["p3271"]==1 and df["p6040"]< 18):
        x = 2
    elif (df["p3271"]==2 and df["p6040"]>= 18):
        x = 3
    elif (df["p3271"]==1 and df["p6040"]>= 18):
        x = 4
    else:
        x = np.nan
    return(x)
### crar variable de nna y adultos (h y m) 
vp["nna_adult"] = vp.apply(g_etario2, axis=1)

In [303]:
### nombres de departamentos
vp["dpto_nom"] = vp["dpto"].replace([5,8,11,13,
                       15,17,18,19,
                       20,23,25,27,
                       41,44,47,50,
                       52,54,63,66,
                       68,70,73,76,
                       81,85,86,88,
                       91,94,95,97,99],
                      ["Antioquia", "Atlántico", "Bogotá", "Bolívar",
                       "Boyacá", "Caldas","Caquetá","Cauca", 
                       "Cesar","Córdoba", "Cundinamarca","Chocó", 
                       "Huila", "La Guajira", "Magdalena", "Meta", 
                       "Nariño","Norte de Santander", "Quindio", "Risaralda",
                       "Santander","Sucre", "Tolima", "Valle del Cauca", 
                       "Arauca", "Casanare","Putumayo", "Providencia y Santa Catalina", 
                       "Amazonas","Guainía", "Guaviare", "Vaupés", "Vichada"])

In [113]:
# Número de vp expandidos según variable nna y adultos
pd.options.display.float_format = '{:.0f}'.format 
dpto_vp = vp.pivot_table(values= 'fex_corregido', index= 'dpto_nom', columns= 'nna_adult',
    aggfunc=np.sum, margins = True)
dpto_vp.rename(columns={1:"M_<18",2:"H_<18",3:"M_>=_18",4:"H_>=_18"})

NameError: name 'vp' is not defined

In [290]:
# distrbución vp expandidos según variable nna y adultos
pd.options.display.float_format = '{:.2f}'.format 
dvp_frec = round(dpto_vp.div(dpto_vp.iloc[:, -1], axis=0)*100,2)
dvp_frec.rename(columns={1:"M_<18",2:"H_<18",3:"M_>=_18",4:"H_>=_18"})

nna_adult                     M_<18  H_<18  M_>=_18  H_>=_18    All
dpto_nom
Amazonas                        NaN  30.00    50.00    20.00 100.00
Antioquia                     16.94  16.01    33.90    33.14 100.00
Arauca                        19.11  19.53    33.72    27.64 100.00
Atlántico                     20.04  21.20    33.48    25.28 100.00
Bogotá                        15.09  15.52    36.59    32.79 100.00
Bolívar                       24.75  22.41    29.97    22.87 100.00
Boyacá                        20.43  18.93    31.81    28.83 100.00
Caldas                        16.37  16.21    33.03    34.39 100.00
Caquetá                       16.45  17.87    34.93    30.75 100.00
Casanare                      14.99  18.01    38.98    28.02 100.00
Cauca                         14.38  17.31    29.66    38.65 100.00
Cesar                         21.81  20.46    33.19    24.54 100.00
Chocó                         25.37  15.60    29.72    29.31 100.00
Cundinamarca                  13.95  17.46    35.94    32.65 100.00
Córdoba                       25.29  19.34    30.99    24.37 100.00
Guainía                       15.81  19.77    35.21    29.21 100.00
Guaviare                      20.24  17.81    33.76    28.19 100.00
Huila                         19.72  21.94    28.65    29.69 100.00
La Guajira                    20.03  20.42    33.02    26.54 100.00
Magdalena                     17.74  22.67    32.79    26.80 100.00
Meta                          16.31  21.53    32.75    29.42 100.00
Nariño                        12.66  21.25    33.39    32.71 100.00
Norte de Santander            19.18  19.93    32.45    28.44 100.00
Providencia y Santa Catalina  18.75  26.25    40.00    15.00 100.00
Putumayo                      15.89  15.32    31.41    37.38 100.00
Quindio                       17.07  18.93    32.55    31.45 100.00
Risaralda                     18.39  17.68    33.65    30.28 100.00
Santander                     16.62  17.97    35.23    30.18 100.00
Sucre                         20.34  28.04    30.93    20.68 100.00
Tolima                        18.42  24.79    33.36    23.43 100.00
Valle del Cauca               17.66  18.17    33.34    30.83 100.00
Vaupés                        33.33   7.41    18.52    40.74 100.00
Vichada                       17.20  18.73    34.89    29.18 100.00
All                           17.79  18.62    33.86    29.73 100.00

In [306]:
del vp

#### Estandarización y creación de variables

<span style="color:yellow;">Educación </span>

In [12]:
### 1. Acceso escolar a educación inicial básica y media
### No asiste a la escuela < 18 años
def asistencia(df):
    if (df["asistencia_eduformal"]==2 and df["edad"]<18):
        x = 1
    elif (pd.isna(df["asistencia_eduformal"]) or pd.isna(df["edad"])):
        x = np.nan
    else:
        x = 0
    return(x)
retor["no_asistencia"] = retor.apply(asistencia, axis=1)

In [13]:
### 2. No asiste a educación superior en la edad para hacerlo
def asis_edusup(df):
    if (df["asistencia_eduformal"]==2 and (df["edad"]>17 and df["edad"]<29)):
        x = 1
    elif (pd.isna(df["asistencia_eduformal"]) or pd.isna(df["edad"])):
        x = np.nan
    else:
        x = 0
    return(x)
retor["asistencia_esup"] = retor.apply(asis_edusup, axis=1)

<span style="color:yellow;">Variables creadas aleatoriamente </span>

In [14]:
### 3. Asistencia escolar  < 5 días
# establecer semillillas
np.random.seed(1234)
retor["asiste_menos5d"] = np.random.uniform(size=len(retor)) < 0.08126

In [15]:
#para convertir a entero se deben reemplazar los valores NaN de pandas por nan numpy <NA>,
#depués se convierte en float con palabra reservada y después a entero con función pandas
retor["nivel_edu"] = retor["nivel_edu"].fillna(np.nan).astype(float).astype(pd.Int64Dtype())
#posteriormente se debe remplazar los pd.NA por -1 y el -1 por pd.nan

In [16]:
## posteriormente se usa la función pd.notna en un primer nivel:
#si no es nulo ejecuta la condición anidada, en caso contrario queda pd.NA <NA>
### 4. Extraedad
def extra(df):
    if pd.notna(df["asistencia_eduformal"]) and pd.notna(df["nivel_edu"]) and pd.notna(df["edad"]):
        # prescolar
        if (df["asistencia_eduformal"] == 1 and df["nivel_edu"]==2 and df["edad"] >= 7):
            x = 1
        # primero primaria
        elif (df["asistencia_eduformal"] == 1 and df["nivel_edu"]==3 and 
              df["años_estudio"]==1 and df["edad"] >= 8) :
            x = 1
        # segundo primaria
        elif (df["asistencia_eduformal"] == 1 and df["nivel_edu"]==3 and 
              df["años_estudio"]==2 and df["edad"] >= 9) :
            x = 1
        # tercero primaria
        elif (df["asistencia_eduformal"] == 1 and df["nivel_edu"]==3 and 
              df["años_estudio"]==3 and df["edad"] >= 10) :
            x = 1
        # cuarto primaria
        elif (df["asistencia_eduformal"] == 1 and df["nivel_edu"]==3 and 
              df["años_estudio"]==4 and df["edad"] >= 11) :
            x = 1
        # quinto primaria
        elif (df["asistencia_eduformal"] == 1 and df["nivel_edu"]==3 and 
              df["años_estudio"]==5 and df["edad"] >= 12) :
            x = 1
        # sexto secundaria
        elif (df["asistencia_eduformal"] == 1 and df["nivel_edu"]==4 and 
              df["años_estudio"]==6 and df["edad"] >= 13) :
            x = 1
        # séptimo secundaria
        elif (df["asistencia_eduformal"] == 1 and df["nivel_edu"]==4 and 
              df["años_estudio"]==7 and df["edad"] >= 14) :
            x = 1
        # octavo secundaria
        elif (df["asistencia_eduformal"] == 1 and df["nivel_edu"]==4 and 
              df["años_estudio"]==8 and df["edad"] >= 15) :
            x = 1
        # noveno secundaria
        elif (df["asistencia_eduformal"] == 1 and df["nivel_edu"]==4 and 
              df["años_estudio"]==9 and df["edad"] >= 16) :
            x = 1
        # décimo secundaria
        elif (df["asistencia_eduformal"] == 1 and df["nivel_edu"] in [5,6] and 
              df["años_estudio"]==10 and df["edad"] >= 17) :
            x = 1
        # once secundaria
        elif (df["asistencia_eduformal"] == 1 and df["nivel_edu"] in [5,6] and 
              df["años_estudio"]==11 and df["edad"] >= 18) :
            x = 1
        else:
            x = 0
    else:
        x = np.nan
    return x

retor["extraedad"] = retor.apply(extra, axis=1)

In [17]:
retor["nivel_edu"] = retor["nivel_edu"].replace(pd.NA, -1)

In [18]:
retor["nivel_edu"] = retor["nivel_edu"].replace(-1, np.nan)

In [19]:
retor["nivel_edu"].isna().sum()

9

In [20]:
retor["extraedad"].value_counts()

0.00    2084
1.00      31
Name: extraedad, dtype: int64

In [21]:
retor[(retor["edad"]>7) & (retor["asistencia_eduformal"]==1)]["nivel_edu"].value_counts()

4     56
3     42
5     24
10    17
8     12
6      6
9      4
2      1
Name: nivel_edu, dtype: Int64

In [22]:
### crear función para leer y escribir
### 5. Analfabetismo
def leer(df):
    if (df["leer_escribir"]==2 and df["edad"]>5):
        x = 1
    elif (pd.isna(df["leer_escribir"]) or pd.isna(df["edad"])):
        x = np.nan
    else:
        x = 0
    return(x)
### crar variable no lee ni escribe para personas mayores a 5 años
retor["no_lescribe"] = retor.apply(leer, axis=1)

In [23]:
retor[retor["edad"]<18]["asistencia_eduformal"].value_counts()

1.00    131
2.00     45
Name: asistencia_eduformal, dtype: int64

In [24]:
### 6. Acompñamieno en el hogar. 
### No realizan ninguna actividad con niños y niñas menores de 5 años
np.random.seed(1234)
retor["no_acompañamiento"] = np.random.uniform(size=len(retor)) < 0.05193

In [25]:
np.mean(retor["no_acompañamiento"])

0.06073446327683616

<span style="color:yellow;">Integración</span>

In [26]:
### 1. Desempleo
# la variable viene creada desde la GEIH: 'desocupados'

In [27]:
### 2. Subempleo
### Menos de 20 horas
def menos20h(df):
    if df["horas_trabajadas"]<20:
        x = 1
    elif pd.isna(df["horas_trabajadas"]):
        x = np.nan
    else:
        x = 0
    return(x)
retor["menos_20h"] = retor.apply(menos20h, axis=1)

In [28]:
### 3. jornada extrema
def mas48h(df):
    if df["horas_trabajadas"]>48:
        x = 1
    elif pd.isna(df["horas_trabajadas"]):
        x = np.nan
    else:
        x = 0
    return(x)
retor["mas_48h"] = retor.apply(mas48h, axis=1)

In [29]:
### 4. Calidad del empleo
#lugar de trabajo en calle
def lugar_trab(df):
    if df["lugar_trabajo"] in [4,6]:
        x = 1
    elif pd.isna(df["lugar_trabajo"]):
        x = np.nan
    else:
        x = 0
    return(x)
retor["trab_calle"] = retor.apply(lugar_trab, axis=1)

In [30]:
### 5. Informalidad - no cotiza pensión*
def nopen(df):
    if df["cotiza_pension"]==2:
        x = 1
    elif pd.isna(df["cotiza_pension"]):
        x = np.nan
    else:
        x = 0
    return(x)
retor["no_cotiza_pen"] = retor.apply(nopen, axis=1)

In [31]:
retor["no_cotiza_pen"].value_counts()

1.00    896
0.00    185
Name: no_cotiza_pen, dtype: int64

In [32]:
### 6. Ingresos - gana menos de 1M
def menos1m(df):
    if df["inglabo"]<1000000:
        x = 1
    elif pd.isna(df["inglabo"]):
        x = np.nan
    else:
        x = 0
    return(x)
retor["menos_1M"] = retor.apply(menos1m, axis=1)

In [33]:
### 7. Ingresos 2 - gananacia del negocio baja
def bajagan(df):
    if (df["honorarios_ganan"]/df["pago_meses"])<1423139:
        x = 1
    elif pd.isna(df["honorarios_ganan"]):
        x = np.nan
    else:
        x = 0
    return(x)
retor["baja_gan"] = retor.apply(bajagan, axis=1)

In [34]:
### 8. Trabajo infantil
def trabinfa(df):
    if df["pob_ocupada"]==1 and df["edad"]<=15:
        x = 1
    elif pd.isna(df["pob_ocupada"]) or pd.isna(df["edad"]):
        x = np.nan
    else:
        x = 0
    return(x)
retor["trab_infa"] = retor.apply(trabinfa, axis=1)

In [35]:
### calcular frecuencias y ordenarlas por la variable indicada
frec_edad = retor["edad"].sort_values().unique()
retor["edad"].value_counts().reindex(frec_edad )

1      6
2      3
3      5
4      8
5      8
6     10
7     11
8      8
9      8
10    10
11    11
12    14
13    18
14    13
15    16
16    17
17    19
18    15
19    29
20    18
21    23
22    19
23    33
24    17
25    23
26    23
27    34
28    26
29    19
30    36
31    34
32    36
33    36
34    31
35    30
36    30
37    33
38    39
39    39
40    31
41    35
42    41
43    36
44    26
45    35
46    36
47    39
48    36
49    32
50    33
51    45
52    44
53    28
54    40
55    36
56    35
57    36
58    35
59    37
60    37
61    31
62    53
63    35
64    30
65    44
66    41
67    27
68    33
69    28
70    29
71    36
72    22
73    25
74    21
75    13
76    14
77    15
78    12
79     7
80     8
81     7
82     7
83     9
84     5
85     1
86     2
87     2
88     1
89     1
90     1
91     1
93     1
98     1
Name: edad, dtype: int64

In [36]:
retor["pob_ocupada"].value_counts()

1.00    1081
Name: pob_ocupada, dtype: int64

In [37]:
### 9. NINIS
# error camila en código stata en el rango de la edad
# NINIS
def nini(df):
    if df["pob_ocupada"]!=1 and df["activ_realiza"]!=3 and (df["edad"]>=18 and df["edad"]<=28):
        x = 1
    elif pd.isna(df["pob_ocupada"]) or pd.isna(df["edad"]) or pd.isna(df["activ_realiza"]):
        x = np.nan
    else:
        x = 0
    return(x)
retor["ninis"] = retor.apply(nini, axis=1)

In [38]:
### 10. inclusión financiera
# it's a way to generate a random binary variable where the probability of having True is set to around 87.96%.
np.random.seed(1234)
retor["inclu_finan"] = np.random.uniform(size=len(retor)) <0.95996
### 11. Cohesión social - Discriminación
retor["discri"] = np.random.uniform(size=len(retor)) <0.75232

<span style="color:yellow;">Multisector</span>

<span style="color:withe;">Alojamiento</span>

In [39]:
### 1. Hogares con condiciones de vivienda inadecuadas
def vivina(df):
    if df["material_paredes"] >2 or df["material_pisos"]==1:
        x = 1
    elif pd.isna(df["material_paredes"]) or pd.isna(df["material_pisos"]):
        x = np.nan
    else:
        x = 0
    return(x)
retor["viv_inade"] = retor.apply(vivina, axis=1)

In [40]:
retor["material_paredes"].value_counts()

1    1914
5      91
8      58
4      25
2      19
3       7
7       6
6       2
9       2
Name: material_paredes, dtype: int64

In [41]:
### 2. Hogares con necesidades en artículos domésticos esenciales
## con cuáles de los siguientes artículos cuenta su hogar: Ninguno
np.random.seed(1234)
retor["hsin_articulos"]= np.random.uniform(size=len(retor)) <0.02492
    # Ayuda artículos hogar
#retor["ayuda_art_hogar"]= np.random.uniform(size=len(retor)) <0.0021044

In [42]:
### 3. Hogares con deficiencias al acceso a servicios públicos
    # No servicios básicos:
    #retor["no_servicios_básicos"]= np.random.uniform(size=len(retor)) <0.7689953
def def_serv(df):
    if (df["ener_elec"]==2 or df["gas_natura"]==2 or 
        df["alcantarillado"]==2 or df["reco_basura"]==2 or 
        df["acueducto"]==2):
        x = 1
    elif (pd.isna(df["ener_elec"]) or pd.isna(df["gas_natura"]) or
          pd.isna(df["alcantarillado"]) or pd.isna(df["reco_basura"]) or 
          pd.isna(df["acueducto"])):
        x = np.nan
    else:
        x = 0
    return(x)
retor["def_servicios"] = retor.apply(def_serv, axis=1)

In [43]:
### 4. Hogares que viven en hacinamiento
 # Hacinamiento: 
 # retor["hacinamiento"]= np.random.uniform(size=len(retor)) <0.1408985
def hacina(df):
    if pd.notna(df["tot_per_hogar"]) or pd.notna(df["cuartos_dormir"]):
        if (df["tot_per_hogar"] / df["cuartos_dormir"])>3:
            x = 1
        else:
            x = 0
    else:
        x = np.nan
    return(x)
retor["hacinamiento"] = retor.apply(hacina, axis=1)

In [44]:
### 5. Riesgo de desalojo
def rdesalojo(df):
    if df["tenencia_viv"] in [3,4,5,7]:
        x = 1
    elif pd.isna(df["tenencia_viv"]):
        x = np.nan
    else:
        x = 0
    return(x)
retor["riesgo_desalojo"] = retor.apply(rdesalojo, axis=1)
# otras opciones:
# np.random.seed(1234)
#retor["riesgo_desalojo"]= np.random.uniform(size=len(retor)) <0.64794 (valor correcto)
    # arriendo desalojo 
#retor["arriendo_desalojo"]= np.random.uniform(size=len(retor)) <0.2330453
###Dificultad económica
#retor["difi_economica"]= np.random.uniform(size=len(retor)) <0.7599082

In [45]:
# alojamiento:
# retor["necesidades_aloja"]= np.random.uniform(size=len(retor)) <0.54950
###Hogar no digno: 
#retor["hogar_no_digno"]= np.random.uniform(size=len(retor)) <0.4170201
### Desplazados
#retor["desplazado"]= np.random.uniform(size=len(retor)) <0.1226923

<span style="color:withe;"> Transporte</span>

In [46]:
### 1. Hogares con más de 30 m caminando (en promedio) desde que sale de su casa hasta llegar a su destino más común
np.random.seed(1234)
retor["caminando_30m"]= np.random.uniform(size=len(retor)) <0.57310

In [47]:
### 2. Hogares que identifican el transporte como una necesidad para trasladarse al interior 
### de una ciudad para acceder a bienes y servicios
### No tienen suficiente dinero para el transporte al mercado
np.random.seed(1234)
retor["sintrans_mercar"]= np.random.uniform(size=len(retor)) <0.21439

<span style="color:yellow;"> WASH</span>

In [48]:
### 1. Hogares sin acceso a fuente de agua mejorada
def peoragua(df):
    if df["fuente_agua"]>2:
        x = 1
    elif pd.isna(df["fuente_agua"]):
        x = np.nan
    else:
        x = 0
    return(x)
retor["peor_agua"] = retor.apply(peoragua, axis=1)

In [49]:
### 2. Hogares que tienen acceso a una cantidad insuficiente de agua
np.random.seed(1234)
retor["insufi_agua"]= np.random.uniform(size=len(retor)) <0.49591 #(valor debe ser corregido)

In [50]:
### 3. Hogares con servicio sanitario deficiente
def defexcre(df):
    if df["excretas"]>1:
        x = 1
    elif pd.isna(df["excretas"]):
        x = np.nan
    else:
        x = 0
    return(x)
retor["def_sanitario"] = retor.apply(defexcre, axis=1)

In [51]:
### 4. Hogares sin acceso o acceso deficiente a instalaciones de lavado de manos
np.random.seed(1234)
retor["sinlavado_manos"]= np.random.uniform(size=len(retor)) <0.59704

In [52]:
### 5. Hogares con niñas y mujeres que no tienen acceso o usan materiales inadecuados para su gestion menstrual
np.random.seed(1234)
retor["def_mestrual"]= np.random.uniform(size=len(retor)) <0.39628

In [53]:
### 6. Hogares con malas prácticas de eliminación de residuos
def defresid(df):
    if df["forma_reco_basura"]>1:
        x = 1
    elif pd.isna(df["forma_reco_basura"]):
        x = np.nan
    else:
        x = 0
    return(x)
retor["def_recobasura"] = retor.apply(defresid, axis=1)

<span style="color:yellow;"> SALUD </span>

In [54]:
### 1. Personas sin afiliación al sistema de salud
def sinsalud(df):
    if df["afil_salud"]==2:
        x = 1
    elif pd.isna(df["afil_salud"]):
        x = np.nan
    else:
        x = 0
    return(x)
retor["sin_salud"] = retor.apply(sinsalud, axis=1)

In [55]:
### 2. Personas con barreras al sistema de salud cuando lo requirieron
np.random.seed(1234)
retor["barreras_salud"]= np.random.uniform(size=len(retor)) <0.85661
### 3. personas diagnosticadas con enfermedades sin acceso a tratamiento
retor["sin_tratamiento"]= np.random.uniform(size=len(retor)) <0.85661
### 4. Hogares con al menos una persona con un sintoma de salud mental
retor["hsalud_mental"]= np.random.uniform(size=len(retor)) <0.99131
### 5. hogares con personas que han tenido necesidades en SSR y no accedieron al servicio
retor["hsalud_sexualr"]= np.random.uniform(size=len(retor)) <0.85661
### 6. Hogares con algún factor contaminante cerca de su vivienda
retor["hcontami_cerca"]= np.random.uniform(size=len(retor)) <0.9913

In [56]:
### INDICADOR AGRUPADO SALUD
# 7 SAL_ACC
def sal_acceso(df):
    if (df["sin_salud"]==1 and df["barreras_salud"]==1 and 
       df["sin_tratamiento"]==1 and  df["hsalud_sexualr"]==1):
        x = 1
    elif (pd.isna(df["sin_salud"]) or pd.isna(df["barreras_salud"]) or 
         pd.isna(df["sin_tratamiento"]) or pd.isna(df["hsalud_sexualr"])):
        x = np.nan
    else:
        x = 0
    return(x)
retor["SAL_ACC"] = retor.apply(sal_acceso, axis=1)

In [57]:
# 8 SAL_CON
def salcon(df):
    if df["hsalud_mental"]==1 and df["hcontami_cerca"]==1:
        x = 1
    elif pd.isna(df["hsalud_mental"]) or pd.isna(df["hcontami_cerca"]):
        x = np.nan
    else:
        x = 0
    return(x)
retor["SAL_CON"] = retor.apply(salcon, axis=1)

<span style="color:yellow;"> SEGURIDAD ALIMENTARIA Y NUTRICIÓN </span>

In [58]:
### 1. Seguridad alimentaria CARI
np.random.seed(1234)
retor["CARI"]= np.random.uniform(size=len(retor)) <0.53348
### 2. nutrición
retor["nutrición"]= np.random.uniform(size=len(retor)) <0.18249

In [59]:
np.mean(retor["nutrición"])

0.1869114877589454

<span style="color:yellow;"> PROTECCIÓN </span>

<span style="color:white;">  Protección general </span>

In [60]:
### 1 Hogares que en el último año tuvieron restricción a su tránsito libre
np.random.seed(1234)
retor["rest_transito"]= np.random.uniform(size=len(retor)) <0.76538
### 2. Hogares que conocen a alguien con al menos un riesgo de protección
retor["rprotec_conocido"]= np.random.uniform(size=len(retor)) <0.76538
### 3. hogares que conocen a alguien en una situación de violencia o trata y trafico
retor["trata_conocido"]= np.random.uniform(size=len(retor)) < 0.76538

In [61]:
### 4 Hogares que conocen a alguien victima de un riesgo y que no ha sido reportado a las autoridades
np.random.seed(1234)
retor["sin_reporte_auto"]= np.random.uniform(size=len(retor)) <0.26160
### 5. Hogares que no tienen acceso al sistema de protección internacional y lo requieren
retor["sin_pro_internal"]= np.random.uniform(size=len(retor)) <0.07953
### 6. Hogares con personas que no tienen PPT
retor["sin_PPT"]= np.random.uniform(size=len(retor)) < 0.65558

<span style="color:white;">  Protección niñez </span>

In [62]:
### 1. Hogares que conocen a algún niño, niña o adolescente que haya experimentado algun riesgo de protección
np.random.seed(1234)
retor["NNA_rprotec"]= np.random.uniform(size=len(retor)) <0.56485
### 2. Hogares que conocen a algún niño, niña o adolescente que no haya recibido asistencia ante afectaciones de protección
retor["NNA_sin_asis_protec"]= np.random.uniform(size=len(retor)) <0.56485
### 3. hogares que conocen a personas que haya experimentado algín riesgo de protección por perfil poblacional
retor["NNA_perfil"]= np.random.uniform(size=len(retor)) <0.56485

<span style="color:white;">  INDICADOR AGRUPADO PROTECCIÓN </span>

In [63]:
### 1. PROT_SE
def protecg(df):
    if (df["rest_transito"]==1 and df["rprotec_conocido"]==1 and 
       df["trata_conocido"]==1):
        x = 1
    elif (pd.isna(df["rest_transito"]) or pd.isna(df["rprotec_conocido"]) or 
         pd.isna(df["trata_conocido"])):
        x = np.nan
    else:
        x = 0
    return(x)
retor["PROT_SE"] = retor.apply(protecg, axis=1)

In [64]:
### 2. PROT_NN
def protecnna(df):
    if (df["NNA_rprotec"]==1 and df["NNA_sin_asis_protec"]==1 and 
       df["NNA_perfil"]==1):
        x = 1
    elif (pd.isna(df["NNA_rprotec"]) or pd.isna(df["NNA_sin_asis_protec"]) or 
         pd.isna(df["NNA_perfil"])):
        x = np.nan
    else:
        x = 0
    return(x)
retor["PROT_NN"] = retor.apply(protecnna, axis=1)

<span style="color:white;">  INDICADOR VBG </span>

In [65]:
### 1. Hogares que conocen a alguien en una situación de violencia
np.random.seed(1234)
#retor["viol_conocida"]= np.random.uniform(size=len(retor)) <0.35348
### 2. Hogares que conocen a personas que hayan experimentado algún riesgo de protección por perfil poblacional
retor["VBG_perfil"]= np.random.uniform(size=len(retor)) <0.35348

In [204]:
### NO SE REPORTAN VALORES DE LA DISTRIBUCIÓN PARA PROTECCIÓN TRATA Y TRÁFICO

### Variables para el PiN

In [66]:
educación = ['no_asistencia', 'asistencia_esup', 'asiste_menos5d', 'extraedad', 
             'no_lescribe', 'no_acompañamiento']

alojamiento = ['viv_inade', 'hsin_articulos', 'def_servicios', 'hacinamiento',
               'riesgo_desalojo']

integración = ['desocupados', 'menos_20h', 'mas_48h', 'trab_calle', 'no_cotiza_pen', 
               'menos_1M', 'baja_gan', 'trab_infa', 'ninis', 
               'inclu_finan', 'discri']

protección = ['rest_transito', 'rprotec_conocido', 'trata_conocido','sin_reporte_auto', 
              'sin_pro_internal', 'sin_PPT', 'NNA_rprotec', 'NNA_sin_asis_protec', 
              'NNA_perfil', 'VBG_perfil']

protección_agrupado = ['PROT_SE', 'PROT_NN', 'sin_reporte_auto', 'sin_pro_internal', 
                       'sin_PPT','VBG_perfil']

salud = ['sin_salud', 'barreras_salud', 'sin_tratamiento', 'hsalud_mental', 
         'hsalud_sexualr', 'hcontami_cerca']

salud_agrupado = ['SAL_ACC', 'SAL_CON']

transporte = ['caminando_30m', 'sintrans_mercar']

wash = ['peor_agua', 'insufi_agua', 'def_sanitario', 'sinlavado_manos', 
        'def_mestrual', 'def_recobasura']

cari = ['CARI']

nutrición = ['nutrición']

total_var = (educación + alojamiento + integración + protección_agrupado + 
             salud_agrupado + transporte + wash + cari + nutrición)

In [67]:
total_var2 = [educación, alojamiento, integración, protección_agrupado, 
             salud_agrupado, transporte, wash, cari, nutrición]

#### Calcular Indicadores

In [68]:
len(retor["directorio"].unique())

1607

In [69]:
# convertir mes a enter para psar a cadena
retor["mes"] = pd.to_numeric(retor["mes"], downcast="integer")

In [70]:
### crear llave de identificación del hogar por mes
retor["key_hogar"] = retor["directorio"].astype(str) + retor["secuencia_p"].astype(str) + retor["mes"].astype(str)

In [71]:
### calcular la sumatoria de (X_i/h) / n expandida para cada indicador sobre el total de la población retornada  
pin_ind = {}  # Dicconario para almacenar los valores

for i in total_var:
    value = ((retor[i] * retor['fex_corregido']).sum() / np.nansum(retor['fex_corregido']) * 100)
    pin_ind[f"{i}_pin"] = value
    
pin_ind = pd.DataFrame([pin_ind])
pin_ind

,no_asistencia_pin,asistencia_esup_pin,asiste_menos5d_pin,extraedad_pin,no_lescribe_pin,no_acompañamiento_pin,viv_inade_pin,hsin_articulos_pin,def_servicios_pin,hacinamiento_pin,riesgo_desalojo_pin,desocupados_pin,menos_20h_pin,mas_48h_pin,trab_calle_pin,no_cotiza_pen_pin,menos_1M_pin,baja_gan_pin,trab_infa_pin,ninis_pin,inclu_finan_pin,discri_pin,PROT_SE_pin,PROT_NN_pin,sin_reporte_auto_pin,sin_pro_internal_pin,sin_PPT_pin,VBG_perfil_pin,SAL_ACC_pin,SAL_CON_pin,caminando_30m_pin,sintrans_mercar_pin,peor_agua_pin,insufi_agua_pin,def_sanitario_pin,sinlavado_manos_pin,def_mestrual_pin,def_recobasura_pin,CARI_pin,nutrición_pin
0,1.31,11.53,10.32,0.88,4.63,5.77,11.92,2.68,41.13,14.93,80.86,6.69,5.03,14.69,7.94,43.73,32.43,27.60,0.00,3.58,96.50,74.10,43.76,17.42,26.73,8.12,68.39,34.58,9.63,98.64,57.86,23.67,11.26,50.16,29.67,60.15,39.12,16.30,53.70,18.70

In [72]:
# calcula cada indicador sobre el total del universo que debe responder la pregunta, 
#para caso de la tasa de desempleo se calcula sobre la población economicamente activa

pin_ind = {} 

for i in total_var:
    not_null_mask = pd.notna(retor[i])
    
    if not_null_mask.any() and i != "desocupados":
        numerator = np.nansum(retor[i][not_null_mask] * retor['fex_corregido'][not_null_mask])
        denominator = np.nansum(retor['fex_corregido'][not_null_mask])
        
        if denominator != 0:  # para evitar dividir por cero
            value = (numerator / denominator * 100)
        else:
            value = np.nan
    
    elif  not_null_mask.any() and i == "desocupados":
        numerator = np.nansum(retor["desocupados"][not_null_mask] * retor['fex_corregido'][not_null_mask]) 
        denominator = np.nansum(retor['desocupados'] *retor['fex_corregido'][not_null_mask]) + np.nansum(retor['pob_ocupada'] *retor['fex_corregido'])
        if denominator != 0:  
            value = (numerator / denominator * 100)
        else:
            value = np.nan
    else:
        value = np.nan
        
    pin_ind[f"{i}_pin"] = value

pin_ind_df = pd.DataFrame([pin_ind])
pin_ind_df.transpose()

                          0
no_asistencia_pin      1.31
asistencia_esup_pin   11.55
asiste_menos5d_pin    10.32
extraedad_pin          0.88
no_lescribe_pin        4.64
no_acompañamiento_pin  5.77
viv_inade_pin         11.92
hsin_articulos_pin     2.68
def_servicios_pin     41.13
hacinamiento_pin      15.23
riesgo_desalojo_pin   82.46
desocupados_pin       10.81
menos_20h_pin          9.11
mas_48h_pin           26.63
trab_calle_pin        14.39
no_cotiza_pen_pin     79.26
menos_1M_pin          61.18
baja_gan_pin          92.36
trab_infa_pin          0.00
ninis_pin              6.09
inclu_finan_pin       96.50
discri_pin            74.10
PROT_SE_pin           43.76
PROT_NN_pin           17.42
sin_reporte_auto_pin  26.73
sin_pro_internal_pin   8.12
sin_PPT_pin           68.39
VBG_perfil_pin        34.58
SAL_ACC_pin            9.63
SAL_CON_pin           98.64
caminando_30m_pin     57.86
sintrans_mercar_pin   23.67
peor_agua_pin         11.48
insufi_agua_pin       50.16
def_sanitario_pin     30.26
sinlavado_manos_pin   60.15
def_mestrual_pin      39.12
def_recobasura_pin    16.62
CARI_pin              53.70
nutrición_pin         18.70

In [73]:
### calculo para todos los indicadores sin agrupación
total_var1 = (educación + alojamiento + integración + protección + 
             salud+ transporte + wash + cari + nutrición)
pin_ind1 = {} 

for i in total_var1:
    not_null_mask = pd.notna(retor[i])
    
    if not_null_mask.any() and i != "desocupados":
        numerator = np.nansum(retor[i][not_null_mask] * retor['fex_corregido'][not_null_mask])
        denominator = np.nansum(retor['fex_corregido'][not_null_mask])
        
        if denominator != 0:  # para evitar dividir por cero
            value = (numerator / denominator * 100)
        else:
            value = np.nan
    
    elif  not_null_mask.any() and i == "desocupados":
        numerator = np.nansum(retor["desocupados"][not_null_mask] * retor['fex_corregido'][not_null_mask]) 
        denominator = np.nansum(retor['desocupados'] *retor['fex_corregido'][not_null_mask]) + np.nansum(retor['pob_ocupada'] *retor['fex_corregido'])
        if denominator != 0:  
            value = (numerator / denominator * 100)
        else:
            value = np.nan
    else:
        value = np.nan
        
    pin_ind1[f"{i}_pin"] = value

pin_ind1_df = pd.DataFrame([pin_ind1])
pin_ind1_df.transpose()

                            0
no_asistencia_pin        1.31
asistencia_esup_pin     11.55
asiste_menos5d_pin      10.32
extraedad_pin            0.88
no_lescribe_pin          4.64
no_acompañamiento_pin    5.77
viv_inade_pin           11.92
hsin_articulos_pin       2.68
def_servicios_pin       41.13
hacinamiento_pin        15.23
riesgo_desalojo_pin     82.46
desocupados_pin         10.81
menos_20h_pin            9.11
mas_48h_pin             26.63
trab_calle_pin          14.39
no_cotiza_pen_pin       79.26
menos_1M_pin            61.18
baja_gan_pin            92.36
trab_infa_pin            0.00
ninis_pin                6.09
inclu_finan_pin         96.50
discri_pin              74.10
rest_transito_pin       75.55
rprotec_conocido_pin    75.32
trata_conocido_pin      76.96
sin_reporte_auto_pin    26.73
sin_pro_internal_pin     8.12
sin_PPT_pin             68.39
NNA_rprotec_pin         56.27
NNA_sin_asis_protec_pin 54.68
NNA_perfil_pin          58.52
VBG_perfil_pin          34.58
sin_salud_pin           14.41
barreras_salud_pin      84.55
sin_tratamiento_pin     84.79
hsalud_mental_pin       99.25
hsalud_sexualr_pin      85.87
hcontami_cerca_pin      99.38
caminando_30m_pin       57.86
sintrans_mercar_pin     23.67
peor_agua_pin           11.48
insufi_agua_pin         50.16
def_sanitario_pin       30.26
sinlavado_manos_pin     60.15
def_mestrual_pin        39.12
def_recobasura_pin      16.62
CARI_pin                53.70
nutrición_pin           18.70

In [213]:
retor["no_cotiza_pen"].value_counts()

1.00    896
0.00    185
Name: no_cotiza_pen, dtype: int64

In [214]:
retor["nutrición"].isna().sum()

0

#### Cálculo del PIN global

In [82]:
#### calculo por dimensión
# lista de variables output
dim = ['educación','alojamiento','integración','protección_agrupado',
       'salud_agrupado','transporte','wash','cari','nutri_dim']
#recorre las dimensiones
# selecciona la primera fila de cada variable de la dimensión
# las convierte en un array de 2 dimensiones. ver: np.shape(np.column_stack([retor[i] for i in j]))
# y suma cada elemento del array omitiendo nulos 
#y el resultado lo divide en el total de variables de la dimensión
for j, k in zip(total_var2, dim):
    retor[k] = np.nansum(np.column_stack([retor[i] for i in j]), axis=1) / len(j)
    #values = np.column_stack([retor[i] * retor["fex_corregido"] for i in j]) # para expnadir

In [83]:
### sumatoria de (X_j/h) / H
retor["prom_dim"] = np.nansum(retor[dim], axis=1) /9

In [84]:
### sumatoria de (X_ij/h) / H
# crear variable dummy con más de 3 privaciones 0.33
retor["dummy_pin"] = retor.apply(lambda x: 1 if x["prom_dim"]>0.33 else 0,axis=1)

In [85]:
retor["dummy_pin"].value_counts(normalize=True)

1   0.51
0   0.49
Name: dummy_pin, dtype: float64

In [86]:
# Pin general
pin_general = ((retor["dummy_pin"]* retor['fex_corregido']).sum() / retor['fex_corregido'].sum() * 100)
pin_general_p = (retor["dummy_pin"]* retor['fex_corregido']).sum() 
print(round(pin_general,3))
print(round(pin_general_p,0))

52.336
61280

#### Cálculo del PiN por dimensión

In [87]:
#generar variables por dimensión
dim_pin = ['educación_pin','alojamiento_pin','integración_pin','protección_agrupado_pin',
       'salud_agrupado_pin','transporte_pin','wash_pin','cari_pin','nutri_dim_pin']
for j, k in zip(total_var2, dim_pin):
    retor[k] = retor.apply(lambda x: 1 if np.any(
        np.nansum(np.column_stack([x[i] for i in j]), axis=1)>0) and
                           x["dummy_pin"]>0 else 0, axis=1)

In [88]:
#verificar cálculo
for i in dim_pin:
    if np.any((retor["dummy_pin"]==0) & (retor[i]==1)):
        print(i,":", "existen errores")
    else:
        print(i,":", "verificación exitosa")

educación_pin : verificación exitosa
alojamiento_pin : verificación exitosa
integración_pin : verificación exitosa
protección_agrupado_pin : verificación exitosa
salud_agrupado_pin : verificación exitosa
transporte_pin : verificación exitosa
wash_pin : verificación exitosa
cari_pin : verificación exitosa
nutri_dim_pin : verificación exitosa

In [89]:
# ver frecuencias de las variables creadas
for i in dim_pin:
    print(retor[i].value_counts())

0    1748
1     376
Name: educación_pin, dtype: int64
0    1151
1     973
Name: alojamiento_pin, dtype: int64
1    1084
0    1040
Name: integración_pin, dtype: int64
0    1098
1    1026
Name: protección_agrupado_pin, dtype: int64
1    1077
0    1047
Name: salud_agrupado_pin, dtype: int64
0    1066
1    1058
Name: transporte_pin, dtype: int64
1    1074
0    1050
Name: wash_pin, dtype: int64
0    1089
1    1035
Name: cari_pin, dtype: int64
0    1879
1     245
Name: nutri_dim_pin, dtype: int64

In [90]:
### calcular el PiN para cada dimensión y expandirlo
res_dim = {} 
for i in dim_pin:
    value1 = round((retor[i]* retor['fex_corregido']).sum() / retor['fex_corregido'].sum() * 100,2)
    value2 = round((retor[i]* retor['fex_corregido']).sum(),0)
    res_dim[f"{i}_exp"] = [value1,value2]
res_dim_df = pd.DataFrame(res_dim)
res_dim_df

,educación_pin_exp,alojamiento_pin_exp,integración_pin_exp,protección_agrupado_pin_exp,salud_agrupado_pin_exp,transporte_pin_exp,wash_pin_exp,cari_pin_exp,nutri_dim_pin_exp
0,19.07,47.96,52.34,48.87,51.97,50.78,51.50,49.93,11.76
1,22330.00,56158.00,61280.00,57227.00,60854.00,59461.00,60298.00,58468.00,13769.00

In [91]:
### transponer
res_dim_df.rename(index={0:"PiN %",1:"PiN"}).transpose()

                             PiN %      PiN
educación_pin_exp            19.07 22330.00
alojamiento_pin_exp          47.96 56158.00
integración_pin_exp          52.34 61280.00
protección_agrupado_pin_exp  48.87 57227.00
salud_agrupado_pin_exp       51.97 60854.00
transporte_pin_exp           50.78 59461.00
wash_pin_exp                 51.50 60298.00
cari_pin_exp                 49.93 58468.00
nutri_dim_pin_exp            11.76 13769.00

#### PIN general por departamento

In [152]:
# Pin general por depto
pd.options.display.float_format = '{:.1f}'.format 
ping_dpto = retor.groupby(["dpto_nom"]).apply(
    lambda x: pd.Series({
        "PIN %":round(((x["dummy_pin"] * x['fex_corregido']).sum() / 
               (x['fex_corregido']).sum() * 100),1),
               "personas": round((x["dummy_pin"]* x['fex_corregido']).sum(),0)
                        })
)
ping_dpto

                    PIN %  personas
dpto_nom
Antioquia            50.1    4764.0
Arauca               48.3     432.0
Atlántico            41.1    5357.0
Bogotá               49.6    6708.0
Bolívar              59.0    8630.0
Boyacá               63.1     959.0
Caldas               37.9     303.0
Caquetá              52.9      55.0
Casanare             20.8      30.0
Cauca                77.6     180.0
Cesar                63.0    3752.0
Chocó                14.7      11.0
Cundinamarca         68.8    2966.0
Córdoba              54.2    3063.0
Guainía              74.6      44.0
Guaviare             45.1      23.0
Huila                37.1     196.0
La Guajira           48.0    2166.0
Magdalena            59.2    3945.0
Meta                 50.5     604.0
Nariño               35.9     124.0
Norte de Santander   50.0    7311.0
Quindio              42.3     238.0
Risaralda            58.4     635.0
Santander            50.1    2819.0
Sucre                54.1    1609.0
Tolima               61.0     603.0
Valle del Cauca      49.6    3555.0
Vaupés               78.9      15.0
Vichada              58.8     183.0

#### Cálculo del PiN por dimensión y departamento

In [168]:
### calcular el PiN por dpto y dimensión  expandido
dpto_dim = {}
for i in dim_pin:
    value1 = retor.groupby("dpto_nom").apply(
        lambda x: round((x[i]* x['fex_corregido']).sum() / 
                                    x['fex_corregido'].sum() * 100,1))
    value2 = retor.groupby("dpto_nom").apply(
        lambda x: round((x[i]* x['fex_corregido']).sum(),0))
    
    dpto_dim.update({(f"{i}_exp", "PIN %"): value1.to_dict(), 
                 (f"{i}_exp", "Personas"): value2.to_dict()})
    #dpto_dim[(f"{i}_exp", "PIN %")] = value1.to_dict()
    #dpto_dim[(f"{i}_exp", "Personas")] = value2.to_dict()
     
dpto_dim_df = pd.DataFrame(dpto_dim, columns=dpto_dim.keys())
dpto_dim_df

                   educación_pin_exp          alojamiento_pin_exp           \
                               PIN % Personas               PIN % Personas
Antioquia                        8.9      849                48.2     4580
Arauca                          17.9      160                48.3      432
Atlántico                        9.6     1255                34.4     4480
Bogotá                          24.7     3338                41.7     5643
Bolívar                         23.0     3370                56.2     8221
Boyacá                           3.6       55                61.3      933
Caldas                           9.4       75                35.2      282
Caquetá                         48.1       50                52.9       55
Casanare                         0.0        0                 0.0        0
Cauca                           39.7       92                77.6      180
Cesar                           24.0     1432                57.0     3397
Chocó                            8.0        6                14.7       11
Cundinamarca                    47.7     2055                66.7     2872
Córdoba                          8.8      498                52.4     2959
Guainía                         15.3        9                74.6       44
Guaviare                        29.4       15                45.1       23
Huila                            8.3       44                35.4      187
La Guajira                      22.8     1030                43.8     1978
Magdalena                       27.9     1862                56.4     3758
Meta                            17.5      209                50.5      604
Nariño                           2.3        8                35.9      124
Norte de Santander              15.0     2190                44.8     6548
Quindio                         13.7       77                36.2      204
Risaralda                        8.6       94                51.6      561
Santander                       18.9     1061                43.8     2466
Sucre                           27.1      805                51.9     1542
Tolima                          33.4      330                61.0      603
Valle del Cauca                 17.6     1264                45.7     3273
Vaupés                          15.8        3                78.9       15
Vichada                         30.2       94                58.8      183

                   integración_pin_exp          protección_agrupado_pin_exp  \
                                 PIN % Personas                       PIN %
Antioquia                         50.1     4764                        43.0
Arauca                            48.3      432                        46.9
Atlántico                         41.1     5357                        37.4
Bogotá                            49.6     6708                        49.6
Bolívar                           59.0     8630                        56.1
Boyacá                            63.1      959                        54.3
Caldas                            37.9      303                        37.9
Caquetá                           52.9       55                        52.9
Casanare                          20.8       30                        20.8
Cauca                             77.6      180                        77.6
Cesar                             63.0     3752                        60.1
Chocó                             14.7       11                        10.7
Cundinamarca                      68.8     2966                        68.8
Córdoba                           54.2     3063                        44.8
Guainía                           74.6       44                        49.2
Guaviare                          45.1       23                        45.1
Huila                             37.1      196                        31.8
La Guajira                        48.0     2166                        44.1
Magdalena                         59.2     3945                        56.5
Meta                              50.5      604                        50.5
Nariño                            35.9      124                        35.9
Norte de Santander                50.0     7311                        47.1
Quindio                           42.3      238                        39.8
Risaralda                         58.4      635                        51.6
Santander                         50.1     2819                        45.7
Sucre                             54.1     1609                        51.2
Tolima                            61.0      603                        43.1
Valle del Cauca                   49.6     3555                        47.1
Vaupés                            78.9       15                        63.2
Vichada                           58.8      183                        56.3

                            salud_agrupado_pin_exp           \
                   Personas                  PIN % Personas
Antioquia              4088                   50.1     4764
Arauca                  420                   48.3      432
Atlántico              4866                   40.7     5294
Bogotá                 6708                   49.6     6708
Bolívar                8210                   57.1     8359
Boyacá                  826                   63.1      959
Caldas                  303                   37.9      303
Caquetá                  55                   52.9       55
Casanare                 30                   20.8       30
Cauca                   180                   77.6      180
Cesar                  3580                   63.0     3752
Chocó                     8                   14.7       11
Cundinamarca           2966                   68.8     2966
Córdoba                2530                   53.9     3047
Guainía                  29                   74.6       44
Guaviare                 23                   45.1       23
Huila                   168                   37.1      196
La Guajira             1992                   48.0     2166
Magdalena              3767                   58.8     3919
Meta                    604                   50.5      604
Nariño                  124                   35.9      124
Norte de Santander     6884                   50.0     7311
Quindio                 224                   40.0      225
Risaralda               561                   55.2      600
Santander              2573                   50.1     2819
Sucre                  1521                   54.1     1609
Tolima                  426                   61.0      603
Valle del Cauca        3374                   49.6     3555
Vaupés                   12                   78.9       15
Vichada                 175                   58.2      181

                   transporte_pin_exp          wash_pin_exp           \
                                PIN % Personas        PIN % Personas
Antioquia                        50.1     4764         50.1     4764
Arauca                           44.7      400         46.5      416
Atlántico                        40.5     5275         40.9     5324
Bogotá                           45.0     6088         45.0     6088
Bolívar                          57.6     8420         59.0     8630
Boyacá                           63.1      959         63.1      959
Caldas                           37.9      303         37.9      303
Caquetá                          52.9       55         52.9       55
Casanare                         20.8       30         20.8       30
Cauca                            77.6      180         77.6      180
Cesar                            59.9     3567         63.0     3752
Chocó                            14.7       11         14.7       11
Cundinamarca                     68.8     2966         68.8     2966
Córdoba                          54.2     3063         54.2     3063
Guainía                          74.6       44         74.6       44
Guaviare                         45.1       23         45.1       23
Huila                            37.1      196         37.1      196
La Guajira                       45.6     2057         47.7     2155
Magdalena                        56.4     3762         57.7     3844
Meta                             50.5      604         50.5      604
Nariño                           35.9      124         35.9      124
Norte de Santander               48.2     7054         49.5     7234
Quindio                          38.0      214         38.0      214
Risaralda                        58.4      635         58.4      635
Santander                        50.1     2819         50.1     2819
Sucre                            53.6     1595         54.1     1609
Tolima                           61.0      603         61.0      603
Valle del Cauca                  48.2     3455         48.2     3455
Vaupés                           78.9       15         78.9       15
Vichada                          57.9      180         58.8      183

                   cari_pin_exp          nutri_dim_pin_exp
                          PIN % Personas             PIN % Personas
Antioquia                  49.4     4700               9.7      923
Arauca                     43.0      385              13.0      116
Atlántico                  39.9     5201              10.8     1410
Bogotá                     45.0     6088              11.3     1527
Bolívar                    57.6     8420              14.5     2127
Boyacá                     63.1      959               1.8       28
Caldas                     37.9      303              13.0      104
Caquetá                    52.9       55               0.0        0
Casanare                   20.8       30               0.0        0
Cauca                      77.6      180               0.0        0
Cesar                      59.9     3567              11.0      656
Chocó                      14.7       11               0.0        0
Cundinamarca               68.8     2966               4.5      195
Córdoba                    54.2     3063              11.6      654
Guainía                    74.6       44              10.2        6
Guaviare                   45.1       23              29.4       15
Huila                      37.1      196               0.0        0
La Guajira                 43.3     1957              17.2      776
Magdalena                  52.8     3521              10.9      727
Meta                       50.5      604               4.6       55
Nariño                     35.9      124               0.0        0
Norte de Santander         47.2     6897              15.5     2267
Quindio                    38.0      214              13.0       73
Risaralda                  56.9      619              14.0      152
Santander                  48.1     2704              17.7      994
Sucre                      53.0     1575               5.4      160
Tolima                     61.0      603               7.9       78
Valle del Cauca            45.6     3268               9.9      710
Vaupés                     78.9       15               0.0        0
Vichada                    56.6      176               5.1       16

In [169]:
### exportar a excel los valores
pt = "G:/Mi unidad/IMMAP/PIN/retornados/datos/3_Output/"
salida = pt + "retornados_pin_dpto.xlsx"
writer = pd.ExcelWriter(salida)

tablas= [ping_dpto, dpto_dim_df]
pestañas=["pin_gral_dpto", "pin_sec_dpto"]

for i,j in zip(tablas, pestañas):
    i.to_excel(writer, sheet_name = j, header = True, index=True)
writer.close()

In [238]:
retor["ven_12m_5y"].value_counts() #normalize=True to get it proportion

1.00    2124
Name: ven_12m_5y, dtype: int64

In [237]:
print(list(retor.columns))

['directorio', 'secuencia_p', 'orden', 'hogar', 'area', 'clase', 'fex_c18', 'dpto', 'sexo', 'edad', 'parentesco', 'afil_salud', 'leer_escribir', 'asistencia_eduformal', 'nivel_edu', 'años_estudio', 'ingreso_asalariados', 'honorarios_ganan', 'pago_meses', 'subempleo_horas', 'horas_trabajadas', 'lugar_trabajo', 'cotiza_pension', 'pob_ocupada', 'inglabo', 'desocupados', 'activ_realiza', 'donde_nacio', 'don_vivia_5años', 'don_vivia_12meses', 'tipo_vivienda', 'material_paredes', 'material_pisos', 'ener_elec', 'gas_natura', 'alcantarillado', 'reco_basura', 'acueducto', 'cuartos_hogar', 'cuartos_dormir', 'excretas', 'forma_reco_basura', 'fuente_agua', 'tenencia_viv', 'tot_per_hogar', 'mes', 'year', 'fex_corregido', 'venezolano', 'ven_5y', 'ven_12m', 'ven_12m_5y', 'nna_adult', 'no_asistencia', 'asistencia_esup', 'asiste_menos5d', 'extraedad', 'no_lescribe', 'no_acompañamiento', 'menos_20h', 'mas_48h', 'trab_calle', 'no_cotiza_pen', 'menos_1M', 'baja_gan', 'trab_infa', 'ninis', 'inclu_finan', 'discri', 'viv_inade', 'hsin_articulos', 'def_servicios', 'hacinamiento', 'riesgo_desalojo', 'caminando_30m', 'sintrans_mercar', 'peor_agua', 'insufi_agua', 'def_sanitario', 'sinlavado_manos', 'def_mestrual', 'def_recobasura', 'sin_salud', 'barreras_salud', 'sin_tratamiento', 'hsalud_mental', 'hsalud_sexualr', 'hcontami_cerca', 'SAL_ACC', 'SAL_CON', 'CARI', 'nutrición', 'rest_transito', 'rprotec_conocido', 'trata_conocido', 'sin_reporte_auto', 'sin_pro_internal', 'sin_PPT', 'NNA_rprotec', 'NNA_sin_asis_protec', 'NNA_perfil', 'PROT_SE', 'PROT_NN', 'VBG_perfil', 'key_hogar', 'educación', 'alojamiento', 'integración', 'protección_agrupado', 'salud_agrupado', 'transporte', 'wash', 'cari', 'nutri_dim', 'prom_dim', 'dummy_pin', 'educación_pin', 'alojamiento_pin', 'integración_pin', 'protección_agrupado_pin', 'salud_agrupado_pin', 'transporte_pin', 'wash_pin', 'cari_pin', 'nutri_dim_pin']

In [ ]:
### calcular suma de indicador expandido
# pin_ind = retor.pivot_table(values= 'fex_corregido', index= 'dpto', columns= 'nna_adult',
#     aggfunc=np.sum, margins = True)
#pin_ind  = retor.groupby(["key_hogar"]).apply(
    #lambda x: ((x['no_asistencia'] * x['fex_corregido']).sum() / (x['fex_corregido']).sum() * 100))

In [ ]:
### abandono de escuela
#retor["abandono"] = np.random.uniform(size=len(retor)) < 0.0237541
### Menos de 5 veces en el colegio
### Niños educación virtual
### Cuidador
# crear estadísticas descriptivas para esas variables using function df.describe()

In [ ]:
##hace lo mismo pero abreviado
# pin_ind = {}  # Dictionary to store pin_ind values
# for i in total_var:
#     not_null_mask = pd.notna(retor[i])
#     numerator = np.nansum(retor[i][not_null_mask] * retor['fex_corregido'][not_null_mask])
#     denominator = np.nansum(retor['fex_corregido'][not_null_mask])
#     value = (numerator / denominator * 100)      
#     pin_ind[f"{i}_pin"] = value

# pin_ind_df = pd.DataFrame([pin_ind])
# pin_ind_df