# Bogotá D.C. SISBEN IV víctima vs no víctima
Creado por ivan gabriel corredor
05_11_2024

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
coding: "latin-1"

#pd.options.display.max_info_rows= 50
pd.options.display.float_format = '{:.2f}'.format 
pd.options.display.max_rows = None
pd.options.display.max_columns = None
#pd.options.display.max_colwidth = 300

## Cargue información

In [ ]:
## ruta entrada
p1 = "D:/one_drive_unal/OneDrive - Universidad Nacional de Colombia/2025/víctimas bogotá/"
## ruta salida
p2 = "D:/one_drive_unal/OneDrive - Universidad Nacional de Colombia/2025/víctimas bogotá/salidas"

In [ ]:
# cargue base 2022
df_vic = pd.read_excel(p1 + "SISBEN LUCERO.xlsx", decimal=",")

In [ ]:
df_vic.info(verbose=True)

In [ ]:
df_vic.head(5)

In [ ]:
print(list(df_vic.columns))

## Selección de variables

In [ ]:
# seleccionar las variables para el analisis
df_vic_subselect = df_vic[[
                 # ubicación 
                 'FTE_NOMBARRIO19', 'FTE_CODCLASE4',
                 # vivienda
                 'FTE_IDEFICHAORIGEN1',
                 'FTE_TIPVIVIENDA23', 'FTE_TIPMATPAREDES24',
                 'FTE_TIPMATPISOS25', 'FTE_INDTIENEENERGIA26','FTE_INDTIENEALCANTARILLADO27',
                 'FTE_INDTIENEGAS28', 'FTE_INDTIENERECOLECCION29', 'FTE_INDTIENEACUEDUCTO30',
                 'FTE_TIPSANITARIO39', 'FTE_TIPORIGENAGUA42', 'FTE_TIPPREPARAALIMENTOS46',
                 'FTE_TOTHOGARES6', 'FTE_NUMPERSONASHOGAR81', 'FTE_NUMCUARTOSEXCLUSIVOS36',
                 'FTE_NUMCUARTOSUNICOSDORMIR38',
                  # hogar
                'FTE_IDEHOGAR34',
                  # caracteristicas de la persona
                  'FTE_SEXOPERSONA89', 'FTE_FECNACIMIENTO92', 'FTE_FECDIGITACION7', 'FTE_TIPPARENTESCO93', 'FTE_TIPESTADOCIVIL94',
                  #discapacidad
                  'FTE_INDDISCAPNINGUNA108',
                  # educación
                  'FTE_INDLEERESCRIBIR116', 'FTE_INDESTUDIA117', 'FTE_NIVEDUCATIVO118', 'FTE_GRADOALCANZADO119', 
                  # pensiones
                  'FTE_INDFONDOPENSIONES120',
                   #pobreza monetaria
                  'FTE_GRUPO174', 'FTE_NIVEL175', 'FTE_CLASIFICACION176',
                  #pobreza multidimensional 
                  'FTE_H5157', 'FTE_I1158', 'FTE_I2159', 'FTE_I3160', 'FTE_I4161', 'FTE_I5162', 'FTE_I6163', 'FTE_I7164', 'FTE_I8165',
                  'FTE_I9166', 'FTE_I10167', 'FTE_I11168', 'FTE_I12169', 'FTE_I13170', 'FTE_I14171', 'FTE_I15172', 'FTE_C173',
                    # víctimas
                    'FIX_CONS_UARIV', 'VICTIMA'   
                    ]].copy()

In [ ]:
df_vic_subselect.head()

In [ ]:
# verificar datos nulos para corroborar que todos tengan edad
print(df_vic_subselect['FTE_FECDIGITACION7'].isna().sum(), df_vic_subselect['FTE_FECNACIMIENTO92'].isna().sum())

In [ ]:
# Convertir las columnas de tipo objeto a tipo datetime
df_vic_subselect['FTE_FECDIGITACION7'] = pd.to_datetime(df_vic_subselect['FTE_FECDIGITACION7'], errors='coerce')
df_vic_subselect['FTE_FECNACIMIENTO92'] = pd.to_datetime(df_vic_subselect['FTE_FECNACIMIENTO92'], errors='coerce')

# Calcular la edad en años
#dt.days convierte la diferencia en dias y usamos // para división entera
df_vic_subselect.loc[:, 'EDAD'] = (df_vic_subselect['FTE_FECDIGITACION7'] - df_vic_subselect['FTE_FECNACIMIENTO92']).dt.days // 365

# Verificar los resultados
print(df_vic_subselect[['FTE_FECDIGITACION7', 'FTE_FECNACIMIENTO92', 'EDAD']].head())

In [ ]:
### crear rangos de edad
def rang_ed(df):
    if df["EDAD"]<=5:
        x = "Entre 0 y 5 años"
    elif (df["EDAD"]>5 and df["EDAD"]<=11):
        x = "Entre 6 y 11 años"
    elif (df["EDAD"]>11 and df["EDAD"]<=17):
        x = "Entre 12 y 17 años"
    elif (df["EDAD"]>17 and df["EDAD"]<=28):
        x = "Entre 18 y 28 años"
    elif (df["EDAD"]>28 and df["EDAD"]<=59):
        x = "Entre 29 y 59 años"
    else:
        x = "60 años o más"
    return x
                                                                                                                        
df_vic_subselect.loc[: , "GRUPO_ETARIO"] = df_vic_subselect.apply(rang_ed, axis = 1)

## filtro

In [ ]:
# filtrar la base para los 4 barrios 
df_vic_barrios = df_vic_subselect[df_vic_subselect["FTE_NOMBARRIO19"].isin(["BELLA FLOR", "BELLA FLOR SUR", "EL MIRADOR", "PARAISO QUIBA"])].copy()

In [ ]:
# seleccionar las variables a analizar
df_vic_barrios["FTE_NOMBARRIO19"].value_counts()

In [ ]:
# # asignar formato correcto a las variables
# names = ['CAMPESINA', 'P2059', 'ES_VICTIMA', 'FEX_C_VIV', 'ES_DESPLAZADO', 'FEX_C18', 
#          'PET', 'FT_x', 'FFT_x', 'FFT_y', 'FT_y', 'OCI', 'DSI', 'P6920', 'P1519']
# for i in names:
#     df_vic[i] = pd.to_numeric(df_vic[i], errors='coerce')

In [ ]:
# #renombrar variables educación
# df_vic.rename(columns= {"P6160": "LEER_ESCRIBIR", "P6170":"ASISTE_EDU", 
#                          "P3041":"INSTITUCION", "P3042":"NIVEL_EDU",
#                          "P3043": "TITULO_EDU"}, inplace = True)

## General

In [ ]:
sex1 = df_vic_barrios.pivot_table(values= ["FIX_CONS_UARIV"], 
                                  index=["VICTIMA", "FTE_NOMBARRIO19"],
                                  columns="FTE_SEXOPERSONA89", aggfunc= "count", margins = True)
round(sex1,2)#.iloc[:, [1,4]]

In [ ]:
rang_edad = df_vic_barrios.pivot_table(values= ["FIX_CONS_UARIV"], 
                                  index=["VICTIMA", "FTE_NOMBARRIO19"],
                                  columns="GRUPO_ETARIO", aggfunc= "count", margins = True)
round(rang_edad,2)#.iloc[:, [1,4]]

## Generación de ingresos

In [ ]:
pobreza_mon = df_vic_barrios.pivot_table(values= ["FIX_CONS_UARIV"], 
                                  index=["FTE_GRUPO174"],
                                  columns="VICTIMA", aggfunc= "count", margins = True)
round(pobreza_mon,2)#.iloc[:, [1,4]]

In [ ]:
# multidimensional
pobreza_mult = df_vic_barrios.pivot_table(values= ["FIX_CONS_UARIV"], 
                                  index=["FTE_H5157"],
                                  columns="VICTIMA", aggfunc= "count", margins = True)
round(pobreza_mult,2)#.iloc[:, [1,4]]

In [ ]:
df_vic_barrios["FTE_H5157"].value_counts()

### sexo

In [ ]:
# monetaria por sexo
pobreza_mon_sexo = df_vic_barrios[df_vic_barrios["FTE_GRUPO174"]=="B"].pivot_table(values= ["FIX_CONS_UARIV"],
                                  index=["VICTIMA"],
                                  columns="FTE_SEXOPERSONA89", aggfunc= "count", margins = True)
round(pobreza_mon_sexo,2)#.iloc[:, [1,4]]

In [ ]:
# extrema por sexo
pobreza_ext_sexo = df_vic_barrios[df_vic_barrios["FTE_GRUPO174"]=="A"].pivot_table(values= ["FIX_CONS_UARIV"],
                                  index=["VICTIMA"],
                                  columns="FTE_SEXOPERSONA89", aggfunc= "count", margins = True)
round(pobreza_ext_sexo,2)#.iloc[:, [1,4]]

In [ ]:
# multidimensional por sexo
pobreza_mult_sex = df_vic_barrios[df_vic_barrios["FTE_H5157"]==1].pivot_table(values= ["FIX_CONS_UARIV"],
                                  index=["VICTIMA"],
                                  columns="FTE_SEXOPERSONA89", aggfunc= "count", margins = True)
round(pobreza_mult_sex ,2)#.iloc[:, [1,4]]

### Privaciones

In [ ]:
# privaciones
#store them in a list
pivot_tables = []

# List of columns to create separate pivot tables for
fte_columns = ['FTE_I1158', 'FTE_I2159', 'FTE_I3160', 'FTE_I4161', 'FTE_I5162', 
               'FTE_I6163', 'FTE_I7164', 'FTE_I8165', 'FTE_I9166', 'FTE_I10167', 
               'FTE_I11168', 'FTE_I12169', 'FTE_I13170', 'FTE_I14171', 
               'FTE_I15172']

# Loop through each column to create a pivot table
for column in fte_columns:
    # Create a pivot table for the current column
    pivot_table = df_vic_barrios.pivot_table(values=["FIX_CONS_UARIV"], 
                                              index=["VICTIMA"],
                                              columns=[column], 
                                              aggfunc="count", 
                                              margins=False)
    # Add a new column to the pivot table indicating the variable name
    pivot_table['Variable'] = column
    # Append the pivot table to the list
    pivot_tables.append(pivot_table)

# Concatenate all the individual pivot tables along the columns
# This will create a single DataFrame with all the pivot tables combined
pobreza_priv = pd.concat(pivot_tables, axis=1)

# Round the resulting concatenated pivot table to 2 decimal places for better readability
pobreza_priv = round(pobreza_priv, 2)

# Invert the columns and rows of the DataFrame
pobreza_priv = pobreza_priv.transpose() 
pobreza_priv

### Pobreza por barrio

In [ ]:
# privaciones
#store them in a list
pivot_tables = []

# List of columns to create separate pivot tables for
fte_columns = ["FTE_GRUPO174", "FTE_H5157"]

# Loop through each column to create a pivot table
for column in fte_columns:
    # Create a pivot table for the current column
    pivot_table = df_vic_barrios.pivot_table(values=["FIX_CONS_UARIV"], 
                                              index=["VICTIMA"],
                                              columns=["FTE_NOMBARRIO19", column], 
                                              aggfunc="count", 
                                              margins=True)
    # Add a new column to the pivot table indicating the variable name
    pivot_table['Variable'] = column
    # Append the pivot table to the list
    pivot_tables.append(pivot_table)

# Concatenate all the individual pivot tables along the columns
# This will create a single DataFrame with all the pivot tables combined
pobreza_barrio = pd.concat(pivot_tables, axis=1)

# Round the resulting concatenated pivot table to 2 decimal places for better readability
pobreza_barrio = round(pobreza_barrio, 2)

# Invert the columns and rows of the DataFrame
pobreza_barrio = pobreza_barrio.transpose() 
pobreza_barrio

## Vivienda

In [ ]:
## descripción variables:
# FTE_CODCLASE4: 1 cabecera, 2 centro poblado, 3 rural disperso 
# FTE_IDEHOGAR34: posición del hogar en la vivienda
# FTE_TIPVIVIENDA23: tipo de vivienda, se exlucye la Vivienda indígena op (5)
# FTE_TIPMATPAREDES24: material de las paredes exteriores
# FTE_TIPMATPISOS25: material de los pisos
# servicios con que cuenta la vivienda:
# FTE_INDTIENEENERGIA26: energía eléctrica
# FTE_INDTIENEALCANTARILLADO27: alcantarillado
# FTE_INDTIENEGAS28: gas natural domiciliario
# FTE_INDTIENERECOLECCION29: recoelcción de basura
# FTE_INDTIENEACUEDUCTO30: acueducto
# FTE_TIPSANITARIO39: servicio sanitario del hogar
# FTE_TIPORIGENAGUA42: de donde obtiene el hogar el agua para consumo humano
# FTE_TIPPREPARAALIMENTOS46: lugar donde el hogar prepara alimentos
# FTE_TOTHOGARES6: No. hogares en la vivienda
# FTE_NUMPERSONASHOGAR81: total de personas en el hogar
# FTE_NUMCUARTOSEXCLUSIVOS36: total de cuartos que dispone el hogar
# FTE_NUMCUARTOSUNICOSDORMIR38: No. cuartos usados por el hogar para dormir

In [ ]:
df_vic_barrios["FTE_TIPVIVIENDA23"].value_counts()

### Componentes cuanti

In [ ]:
### Estructura – Tipo de vivienda
# op 6: Otra vivienda (carpa, vagón, embarcación, cueva, refugio natural, etc.)
df_vic_barrios.loc[:, "TIPO_VIVIENDA"] = (df_vic_barrios["FTE_TIPVIVIENDA23"] == 4).astype(int)

### Material paredes exteriores
df_vic_barrios.loc[:, "MATERIAL_PAREDES"] = ((df_vic_barrios["FTE_TIPMATPAREDES24"].isin([5, 6, 7, 0])) & (df_vic_barrios["FTE_TIPVIVIENDA23"]!=5)).astype(int)

### Cohabitación

# Se consideran en déficit los hogares que habitan en una vivienda en la que
# hay tres o más hogares.

# En cabeceras y centros poblados:
# hay más de 6 personas en total en la vivienda. 

# En los dos casos, no se consideran los hogares principales y unipersonales

group_sizes = df_vic_barrios.groupby("FTE_IDEFICHAORIGEN1").size()

def coha(row: pd.Series, group_sizes: pd.Series) -> int:
    """
    Determines cohabitation status based on specific conditions.

    Args:
    row (pd.Series): A row from the DataFrame containing relevant fields.
    group_sizes (pd.Series): A Series containing the sizes of groups based on "FTE_IDEFICHAORIGEN1".

    Returns:
    int: Returns 1 if the conditions for cohabitation are met, otherwise returns 0.
    """
    # Check conditions for cohabitation
    if (row["FTE_TIPVIVIENDA23"] != 5 and 
        row["FTE_TOTHOGARES6"] >= 3 and 
        row["FTE_IDEHOGAR34"] != 1 and 
        row["FTE_NUMPERSONASHOGAR81"] != 1):
        return 1
    elif (row["FTE_TIPVIVIENDA23"] != 5 and 
          row["FTE_TOTHOGARES6"] == 2 and 
          row["FTE_CODCLASE4"] in [1, 2] and 
          group_sizes[row["FTE_IDEFICHAORIGEN1"]] > 6 and 
          row["FTE_IDEHOGAR34"] != 1 and 
          row["FTE_NUMPERSONASHOGAR81"] != 1):
        return 1
    else:
        return 0

# # lambda actua para que apply solo reciba un argumento, pero coha recibe dos dataframes, el completo y el agrupado
df_vic_barrios["COHABITACION"] = df_vic_barrios.apply(lambda row: coha(row, group_sizes), axis=1)

### Hacinamiento no mitigable
# personas por cuarto
df_vic_barrios.loc[:, "PER_CUARTO"] = df_vic_barrios["FTE_NUMPERSONASHOGAR81"] / df_vic_barrios["FTE_NUMCUARTOSUNICOSDORMIR38"]

df_vic_barrios.loc[:, "HACI_NO_MITI"] = ((df_vic_barrios["FTE_CODCLASE4"].isin([1,2])) & (df_vic_barrios["PER_CUARTO"] > 4)  & (df_vic_barrios["FTE_TIPVIVIENDA23"]!=5)).astype(int)

### Deficit cuantitativo

In [ ]:
df_vic_barrios.loc[:, "DEF_CUANTI"] = ((df_vic_barrios.loc[:,"TIPO_VIVIENDA"]== 1) |
                        (df_vic_barrios.loc[:,"MATERIAL_PAREDES"]== 1) | 
                        (df_vic_barrios.loc[:,"COHABITACION"]== 1) | 
                        (df_vic_barrios.loc[:,"HACI_NO_MITI"]== 1)).astype(int)

In [ ]:
df_vic_barrios["DEF_CUANTI"].value_counts()

### Componentes cuali

In [ ]:
### Hacinamiento mitigable
condicion1 = ((df_vic_barrios["FTE_CODCLASE4"].isin([1,2])) & 
              ## para variables discretas usar between
              #(df_vic_barrios["PER_CUARTO"].between(3, 4, inclusive="both")) &
              ((df_vic_barrios["PER_CUARTO"]>2) & (df_vic_barrios["PER_CUARTO"]<=4)) & 
              (df_vic_barrios["FTE_TIPVIVIENDA23"]!=5))

condition2 = ((df_vic_barrios["FTE_CODCLASE4"] == 3) &
              (df_vic_barrios["FTE_TIPVIVIENDA23"]!=5) &
              (df_vic_barrios["PER_CUARTO"] > 2))

df_vic_barrios.loc[:, "HACI_MITI"] = (condicion1 | condition2).astype(int)

### Material de los pisos
df_vic_barrios.loc[:, "MAT_PISOS"] = ((df_vic_barrios["FTE_TIPVIVIENDA23"]!=5) & (df_vic_barrios["FTE_TIPMATPISOS25"].isin([5,6]))).astype(int)

### Cocina
con_coci1 = ((df_vic_barrios["FTE_CODCLASE4"] == 1) & 
              (df_vic_barrios["FTE_TIPPREPARAALIMENTOS46"].isin([2, 3, 4])) &
              (df_vic_barrios["FTE_TIPVIVIENDA23"]!=5))
con_coci2 = ((df_vic_barrios["FTE_CODCLASE4"].isin([2,3])) & 
              (df_vic_barrios["FTE_TIPPREPARAALIMENTOS46"].isin([2, 3])) &
              (df_vic_barrios["FTE_TIPVIVIENDA23"]!=5))
df_vic_barrios.loc[:, "COCINA"] = (con_coci1 | con_coci2).astype(int)

### Acueducto
con_acue1 = ((df_vic_barrios["FTE_CODCLASE4"] == 1) & 
              (df_vic_barrios["FTE_INDTIENEACUEDUCTO30"]==2) &
              (df_vic_barrios["FTE_TIPVIVIENDA23"]!=5))

con_acue2 = ((df_vic_barrios["FTE_CODCLASE4"].isin([2,3])) & 
              (df_vic_barrios["FTE_TIPORIGENAGUA42"].isin([3,4,5,7,8,9])) & 
              (df_vic_barrios["FTE_TIPVIVIENDA23"]!=5))

df_vic_barrios.loc[:, "ACUEDUCTO"] = (con_acue1 | con_acue2).astype(int)

# Alcantarillado
con_alca1 = ((df_vic_barrios["FTE_CODCLASE4"] == 1) & 
              (df_vic_barrios["FTE_INDTIENEALCANTARILLADO27"]==2) &
              (df_vic_barrios["FTE_TIPVIVIENDA23"]!=5))

con_alca2 = ((df_vic_barrios["FTE_CODCLASE4"] == 1) & 
              (df_vic_barrios["FTE_INDTIENEALCANTARILLADO27"]==1) &
             (df_vic_barrios["FTE_TIPSANITARIO39"].isin([2,3,4,5])) &
              (df_vic_barrios["FTE_TIPVIVIENDA23"]!=5))

con_alca3 = ((df_vic_barrios["FTE_CODCLASE4"].isin([2,3])) & 
              (df_vic_barrios["FTE_TIPSANITARIO39"].isin([3,4,5])) &
              (df_vic_barrios["FTE_TIPVIVIENDA23"]!=5))

df_vic_barrios.loc[:, "ALCANTARILLADO"] = (con_alca1 | con_alca2 | con_alca3).astype(int)

### Energía
df_vic_barrios.loc[:, "ENERGIA"] = ((df_vic_barrios["FTE_TIPVIVIENDA23"]!=5)  & 
                     (df_vic_barrios["FTE_INDTIENEENERGIA26"]==2)).astype(int)

## Recolección de basuras
df_vic_barrios.loc[:, "BASURAS"] = ((df_vic_barrios["FTE_TIPVIVIENDA23"]!=5) & 
                     (df_vic_barrios["FTE_CODCLASE4"].isin([1,2])) &
                     (df_vic_barrios["FTE_INDTIENERECOLECCION29"]==2)).astype(int)

### Déficit cualitativo

In [ ]:
df_vic_barrios.loc[:,"DEF_CUALI"] = ((df_vic_barrios.loc[:,"HACI_MITI"]== 1) |
                        (df_vic_barrios.loc[:,"MAT_PISOS"]== 1) | 
                        (df_vic_barrios.loc[:,"COCINA"]== 1) | 
                        (df_vic_barrios.loc[:,"ACUEDUCTO"]== 1) |
                        (df_vic_barrios.loc[:,"ALCANTARILLADO"]== 1) |
                        (df_vic_barrios.loc[:,"ENERGIA"]== 1) |
                        (df_vic_barrios.loc[:,"BASURAS"]== 1) ).astype(int)
# reemplazar los valores del deficit cualitativo en los hogares con doble déficit
df_vic_barrios.loc[(df_vic_barrios.loc[:,"DEF_CUALI"] == 1) & (df_vic_barrios.loc[:,"DEF_CUANTI"] == 1), "DEF_CUALI"] = 0

In [ ]:
df_vic_barrios["DEF_CUALI"].value_counts()

### Déficit Habitacional

In [ ]:
def df_hab(row):
    if row["DEF_CUANTI"]==1 and row["DEF_CUALI"]==0:
        x = 1
    elif row["DEF_CUANTI"]==0 and row["DEF_CUALI"]== 1:
        x = 1
    else:
        x = 0
    return x

df_vic_barrios.loc[:, "DEF_HABITACIONAL"] = df_vic_barrios.apply(df_hab, axis=1)

In [ ]:
df_vic_barrios["DEF_HABITACIONAL"].value_counts()

### Construir base de hogares

In [ ]:
# pasar la variable víctima númerica
df_vic_barrios.loc[:, "VICTIMA"] = (df_vic_barrios.loc[:, "VICTIMA"]=="SI").astype(int) 
# crear variable no víctima
df_vic_barrios.loc[:, "NO_VICTIMA"] = (df_vic_barrios.loc[:, "VICTIMA"]==0).astype(int)

In [ ]:
df_vic_barrios["VICTIMA"].value_counts()

In [ ]:
df_vic_barrios["NO_VICTIMA"].value_counts()

In [ ]:
df_vic_barrios_h = df_vic_barrios.groupby(['FTE_IDEFICHAORIGEN1', 'FTE_IDEHOGAR34']).apply(
    lambda x: pd.Series({
        # deficit habitacional
        'DEF_HABITACIONAL': x['DEF_HABITACIONAL'].max(),
        #deficit cuantitativo
        'DEF_CUANTI': x['DEF_CUANTI'].max(), 
        'TIPO_VIVIENDA': x['TIPO_VIVIENDA'].max(), 
        'MATERIAL_PAREDES': x['MATERIAL_PAREDES'].max(),
        'COHABITACION': x['COHABITACION'].max(),
        'HACI_NO_MITI': x['HACI_NO_MITI'].max(),
        # deficit cualitativo
        'DEF_CUALI': x['DEF_CUALI'].max(),
        'HACI_MITI': x['HACI_MITI'].max(), 
        'MAT_PISOS': x['MAT_PISOS'].max(), 
        'COCINA': x['COCINA'].max(),
        'ACUEDUCTO': x['ACUEDUCTO'].max(), 
        'ALCANTARILLADO': x['ALCANTARILLADO'].max(), 
        'ENERGIA': x['ENERGIA'].max(), 
        'BASURAS': x['BASURAS'].max(),
        # víctimas
        'ES_VICTIMA': x['VICTIMA'].max(),
        'NO_VICTIMA': 1 if x['NO_VICTIMA'].mean() == 1 else 0,
        # enfoques del jefe de hogar
        'JEFE': x['FTE_TIPPARENTESCO93'].min(),
        'SEXO': x.loc[x['FTE_TIPPARENTESCO93'].idxmin(), 'FTE_SEXOPERSONA89'],
        'GRUPO_ETARIO': x.loc[x['FTE_TIPPARENTESCO93'].idxmin(), 'GRUPO_ETARIO'],
        'DISCAPACIDAD': x.loc[x['FTE_TIPPARENTESCO93'].idxmin(), 'FTE_INDDISCAPNINGUNA108'], 
        # Territorial
        'BARRIO': x.loc[x['FTE_TIPPARENTESCO93'].idxmin(), 'FTE_NOMBARRIO19'],
        'CLASE': x.loc[x['FTE_TIPPARENTESCO93'].idxmin(), 'FTE_CODCLASE4']
    })
).reset_index()

In [531]:
df_vic_barrios_h.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9839 entries, 0 to 9838
Data columns (total 24 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   FTE_IDEFICHAORIGEN1  9839 non-null   object
 1   FTE_IDEHOGAR34       9839 non-null   int64
 2   DEF_HABITACIONAL     9839 non-null   int64
 3   DEF_CUANTI           9839 non-null   int64
 4   TIPO_VIVIENDA        9839 non-null   int64
 5   MATERIAL_PAREDES     9839 non-null   int64
 6   COHABITACION         9839 non-null   int64
 7   HACI_NO_MITI         9839 non-null   int64
 8   DEF_CUALI            9839 non-null   int64
 9   HACI_MITI            9839 non-null   int64
 10  MAT_PISOS            9839 non-null   int64
 11  COCINA               9839 non-null   int64
 12  ACUEDUCTO            9839 non-null   int64
 13  ALCANTARILLADO       9839 non-null   int64
 14  ENERGIA              9839 non-null   int64
 15  BASURAS              9839 non-null   int64
 16  ES_VICTIMA           9839 non-null   int64
 17  NO_VICTIMA           9839 non-null   int64
 18  JEFE                 9839 non-null   int64
 19  SEXO                 9839 non-null   int64
 20  GRUPO_ETARIO         9839 non-null   object
 21  DISCAPACIDAD         9839 non-null   int64
 22  BARRIO               9839 non-null   object
 23  CLASE                9839 non-null   int64
dtypes: int64(21), object(3)
memory usage: 1.8+ MB

### Resultados

In [600]:
#Resultados generales
def_hab_g = df_vic_barrios_h.pivot_table(values= ["FTE_IDEHOGAR34"],
                                  index=["DEF_HABITACIONAL"],
                                  columns="ES_VICTIMA", aggfunc= "count", margins = True)
#ordena primero la columna y después el indice
def_hab_g = def_hab_g.sort_index(axis=1, ascending=False)
round(def_hab_g ,2)

                 FTE_IDEHOGAR34
ES_VICTIMA                  All     1     0
DEF_HABITACIONAL
0                          4783   774  4009
1                          5056  1338  3718
All                        9839  2112  7727

In [598]:
#Resultados barrio
def_hab = df_vic_barrios_h.pivot_table(values= ["FTE_IDEHOGAR34"],
                                  index=["ES_VICTIMA", "BARRIO"],
                                  columns="DEF_HABITACIONAL", aggfunc= "count", margins = True)
#ordena primero la columna y después el indice
def_hab = def_hab.sort_index(axis=1, ascending=False).sort_index(axis=0, level=0, ascending=False)
round(def_hab ,2)

                          FTE_IDEHOGAR34
DEF_HABITACIONAL                     All     1     0
ES_VICTIMA BARRIO
All                                 9839  5056  4783
1          PARAISO QUIBA            1072   643   429
           EL MIRADOR                300   138   162
           BELLA FLOR SUR            377   316    61
           BELLA FLOR                363   241   122
0          PARAISO QUIBA            3807  1703  2104
           EL MIRADOR               1474   502   972
           BELLA FLOR SUR           1085   786   299
           BELLA FLOR               1361   727   634

In [620]:
# Resultados tipo
def_hab_t = df_vic_barrios_h.pivot_table(values= ["FTE_IDEHOGAR34"],
                                  index=["DEF_CUALI"], # CUANTI
                                  columns="ES_VICTIMA", aggfunc= "count", margins = False)
# #ordena primero la columna y después el indice
def_hab_t = def_hab_t.sort_index(axis=1, ascending=False).sort_index(axis=0, level=0, ascending=False)
# round(def_hab_g ,2)
def_hab_t

           FTE_IDEHOGAR34
ES_VICTIMA              1     0
DEF_CUALI
1                     677  2046
0                    1435  5681

In [624]:
# Resultados por sexo del jefe del hogar
def_hab_sex = df_vic_barrios_h[df_vic_barrios_h["DEF_HABITACIONAL"]==1].pivot_table(values= ["FTE_IDEHOGAR34"],
                                  index=["ES_VICTIMA"], # CUANTI
                                  columns="SEXO", aggfunc= "count", margins = False)
# #ordena primero la columna y después el indice
def_hab_sex = def_hab_sex.sort_index(axis=1, ascending=True).sort_index(axis=0, level=0, ascending=False)
# round(def_hab_g ,2)
def_hab_sex

           FTE_IDEHOGAR34
SEXO                    1     2
ES_VICTIMA
1                     501   837
0                    1570  2148

## Cargue información

In [ ]:
#ruta entrada
p1 = "C:/Users/ivan.corredor/visor_pobreza/"

In [ ]:
#cargue base 2022
df_pobreza = pd.read_csv(p1 + "vic_4_periodos.csv", sep = ";", decimal=",")

In [ ]:
# mayúsculas
df_pobreza.columns = df_pobreza.columns.str.upper()

In [ ]:
# asignar formato correcto a las variables
names = ['DIRECTORIO',	'SECUENCIA_P',	'ORDEN']
for i in names:
    df_pobreza[i] = pd.to_numeric(df_pobreza[i], errors='coerce', downcast= 'integer')

In [ ]:
# concatenar variables de identificación
df_pobreza["ID_PER"] = df_pobreza[['DIRECTORIO', 'SECUENCIA_P', 'ORDEN']].apply(lambda row: f"{row['DIRECTORIO']}_{row['SECUENCIA_P']}_{row['ORDEN']}", axis=1)

In [ ]:
df_pobreza.head()

## cruce geih víctimas con pobreza

In [ ]:
df_pobreza_GEIH =   pd.merge(left= df_pobreza, right = df_vic2,
                            left_on=['ID_PER'], 
                            right_on=['ID_PER'],
                            how='inner', sort=False, validate='m:1',
                            suffixes=('_POB', '_GEIH'), 
                            indicator = 'INDICATOR_COLUMN2')

In [ ]:
df_pobreza_GEIH.head()

In [ ]:
df_pobreza_GEIH.info()

In [ ]:
df_pobreza_GEIH["PERIODO"].value_counts()

In [ ]:
## hacer filtro solo para 2022
df_pobreza_GEIH = df_pobreza_GEIH[df_pobreza_GEIH["PERIODO"]==2022]

In [ ]:
df_pobreza_GEIH["PERIODO"].value_counts()

In [ ]:
# contar duplicados
df_pobreza_GEIH.duplicated().sum()

## Pobreza monetaria

### prueba nacional

In [ ]:
nal = df_pobreza_GEIH.groupby(["PERIODO"]).apply(
    lambda x: pd.Series({
        # vic des ipm
        '%_nacional': round((x['POBRE'] * x['FEX_C']).sum() / (x["FEX_C"]).sum() * 100, 1),
        'nacional': round((x['POBRE'] * x["FEX_C"]).sum(), 0)
    })
).reset_index()
nal

### Resultados muestrales

In [ ]:
### agrupar los datos para sacar tabla y gráfica
disca_h = df_pobreza_GEIH.groupby(["DISCAPACIDAD"]).apply(
    lambda x: pd.Series({
        # vic tot ipm
        '%_vic_hechos': round((x['POBRE'] * x['ES_VICTIMA_POB']).sum() / (x['ES_VICTIMA_POB']).sum() * 100, 1),
        'vic_hechos': round((x['POBRE']).sum(), 0)})
).reset_index()

disca_d = df_pobreza_GEIH.groupby(["DISCAPACIDAD"]).apply(
    lambda x: pd.Series({
        # vic des ipm
        '%_des': round((x['POBRE'] * x['ES_DESPLAZADO_POB']).sum() / (x['ES_DESPLAZADO_POB']).sum() * 100, 1),
        'des': round((x['POBRE'] * x['ES_DESPLAZADO_POB']).sum(), 0)
    })
).reset_index()


disca_nv = df_pobreza_GEIH.groupby(["DISCAPACIDAD"]).apply(
    lambda x: pd.Series({
        # vic des ipm
        '%_nv': round((x['POBRE'] * x["NO_VICTIMA_POB"]).sum() / (x["NO_VICTIMA_POB"]).sum() * 100, 1),
        'no_vic': round((x['POBRE'] * x["NO_VICTIMA_POB"]).sum(), 0)
    })
).reset_index()

disca_nal = df_pobreza_GEIH.groupby(["DISCAPACIDAD"]).apply(
    lambda x: pd.Series({
        # vic des ipm
        'nal': round((x['POBRE']).sum(), 0)
    })
).reset_index()

frames_disca = [disca_h, disca_d, disca_nv, disca_nal]

disca = reduce(lambda left, right: pd.merge(left, right, on =["DISCAPACIDAD"]), frames_disca)
disca

### Resultados poblacionales

In [ ]:
### agrupar los datos para sacar tabla y gráfica
disca_h = df_pobreza_GEIH.groupby(["DISCAPACIDAD"]).apply(
    lambda x: pd.Series({
        # vic tot ipm
        '%_vic_hechos': round((x['POBRE'] * x['ES_VICTIMA_POB']* x['FEX_C_VIV_POB']).sum() / (x['ES_VICTIMA_POB'] * x['FEX_C_VIV_POB']).sum() * 100, 1),
        'vic_hechos': round((x['POBRE'] * x['FEX_C_VIV_POB']).sum(), 0)})
).reset_index()

disca_d = df_pobreza_GEIH.groupby(["DISCAPACIDAD"]).apply(
    lambda x: pd.Series({
        # vic des ipm
        '%_des': round((x['POBRE'] * x['ES_DESPLAZADO_POB'] * x['FEX_C_VIV_POB']).sum() / (x['ES_DESPLAZADO_POB'] * x['FEX_C_VIV_POB']).sum() * 100, 1),
        'des': round((x['POBRE'] * x['ES_DESPLAZADO_POB'] *  x['FEX_C_VIV_POB']).sum(), 0)
    })
).reset_index()


disca_nv = df_pobreza_GEIH.groupby(["DISCAPACIDAD"]).apply(
    lambda x: pd.Series({
        # vic des ipm
        '%_nv': round((x['POBRE'] * x["NO_VICTIMA_POB"] * x['FEX_C']).sum() / (x["NO_VICTIMA_POB"] * x["FEX_C"]).sum() * 100, 1),
        'no_vic': round((x['POBRE'] * x["NO_VICTIMA_POB"]* x["FEX_C"]).sum(), 0)
    })
).reset_index()


disca_nal = df_pobreza_GEIH.groupby(["DISCAPACIDAD"]).apply(
    lambda x: pd.Series({
        # vic des ipm
        '%_nal': round((x['POBRE'] * x['FEX_C']).sum() / (x["FEX_C"]).sum() * 100, 1),
        'nal': round((x['POBRE'] * x["FEX_C"]).sum(), 0)
    })
).reset_index()

frames_disca = [disca_h, disca_d, disca_nv, disca_nal]

monetaria_discag = reduce(lambda left, right: pd.merge(left, right, on =["DISCAPACIDAD"]), frames_disca)
monetaria_discag

## Pobreza Extrema

### prueba nacional

In [ ]:
nal = df_pobreza_GEIH.groupby(["PERIODO"]).apply(
    lambda x: pd.Series({
        # vic des ipm
        '%_nacional': round((x['INDIGENTE'] * x['FEX_C']).sum() / (x["FEX_C"]).sum() * 100, 1),
        'nacional': round((x['INDIGENTE'] * x["FEX_C"]).sum(), 0)
    })
).reset_index()
nal

### resultados poblacionales

In [ ]:
### agrupar los datos para sacar tabla y gráfica
disca_h_e = df_pobreza_GEIH.groupby(["DISCAPACIDAD"]).apply(
    lambda x: pd.Series({
        # vic tot ipm
        '%_vic_hechos': round((x['INDIGENTE'] * x['ES_VICTIMA_POB']* x['FEX_C_VIV_POB']).sum() / (x['ES_VICTIMA_POB'] * x['FEX_C_VIV_POB']).sum() * 100, 1),
        'vic_hechos': round((x['INDIGENTE'] * x['FEX_C_VIV_POB']).sum(), 0)})
).reset_index()

disca_d_e = df_pobreza_GEIH.groupby(["DISCAPACIDAD"]).apply(
    lambda x: pd.Series({
        # vic des ipm
        '%_des': round((x['INDIGENTE'] * x['ES_DESPLAZADO_POB'] * x['FEX_C_VIV_POB']).sum() / (x['ES_DESPLAZADO_POB'] * x['FEX_C_VIV_POB']).sum() * 100, 1),
        'des': round((x['INDIGENTE'] * x['ES_DESPLAZADO_POB'] *  x['FEX_C_VIV_POB']).sum(), 0)
    })
).reset_index()


disca_nv_e = df_pobreza_GEIH.groupby(["DISCAPACIDAD"]).apply(
    lambda x: pd.Series({
        # vic des ipm
        '%_nv': round((x['INDIGENTE'] * x["NO_VICTIMA_POB"] * x['FEX_C']).sum() / (x["NO_VICTIMA_POB"] * x["FEX_C"]).sum() * 100, 1),
        'no_vic': round((x['INDIGENTE'] * x["NO_VICTIMA_POB"]* x["FEX_C"]).sum(), 0)
    })
).reset_index()


disca_nal_e = df_pobreza_GEIH.groupby(["DISCAPACIDAD"]).apply(
    lambda x: pd.Series({
        # vic des ipm
        '%_nal': round((x['INDIGENTE'] * x['FEX_C']).sum() / (x['FEX_C']).sum() * 100, 1),
        'nal': round((x['INDIGENTE'] * x['FEX_C']).sum(), 0)
    })
).reset_index()

frames_disca_e = [disca_h_e, disca_d_e, disca_nv_e, disca_nal_e]

extrema_discag = reduce(lambda left, right: pd.merge(left, right, on =["DISCAPACIDAD"]), frames_disca_e)
extrema_discag

## Exportar tablas

In [ ]:
salida = p2 + "vic_ML_sexo_22.xlsx"
writer = pd.ExcelWriter(salida)

# nombres de objetos de salida
tab_out = [
    # general            
    "sex",
    # laboral enfoques
    #"pob_lab_enf_disca",
    "pob_lab_enf_sex"]
    #pobreza disca
    #"monetaria_disca", 
    #"extrema_disca"]
# listas vacias
tablas = []
pestañas = []

for k in tab_out:
    # nombre de tablas y pestañas
   #The extend() method allows you to append elements from an iterable (like a list)
   #to the end of another list.
    tablas.extend([eval(f"{k}g")])
    pestañas.extend([f"{k}"])

#exportar cada tabla como una pestaña del archivo excel
for i,j in zip(tablas, pestañas):
    i.to_excel(writer, sheet_name = j, header = True, index= True)

writer.close()