In [1]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv("D:/maestria_ciencias_economicas_unal/curso_python/Casos_positivos_de_COVID-19_en_Colombia.csv")

In [168]:
data["Estado"]

0              Leve
1              Leve
2              Leve
3              Leve
4              Leve
             ...
1053117        Leve
1053118        Leve
1053119        Leve
1053120        Leve
1053121    Moderado
Name: Estado, Length: 1053122, dtype: object

In [4]:
data.columns.to_list #lista ordenada

<bound method IndexOpsMixin.tolist of Index(['fecha reporte web', 'ID de caso', 'Fecha de notificación',
       'Código DIVIPOLA departamento', 'Nombre departamento',
       'Código DIVIPOLA municipio', 'Nombre municipio', 'Edad',
       'Unidad de medida de edad', 'Sexo', 'Tipo de contagio',
       'Ubicación del caso', 'Estado', 'Código ISO del país',
       'Nombre del país', 'Recuperado', 'Fecha de inicio de síntomas',
       'Fecha de muerte', 'Fecha de diagnóstico', 'Fecha de recuperación',
       'Tipo de recuperación', 'Pertenencia étnica',
       'Nombre del grupo étnico'],
      dtype='object')>

In [5]:
#limpieza de datos
data.dtypes

fecha reporte web                object
ID de caso                       object
Fecha de notificación            object
Código DIVIPOLA departamento      int64
Nombre departamento              object
Código DIVIPOLA municipio         int64
Nombre municipio                 object
Edad                             object
Unidad de medida de edad          int64
Sexo                             object
Tipo de contagio                 object
Ubicación del caso               object
Estado                           object
Código ISO del país             float64
Nombre del país                  object
Recuperado                       object
Fecha de inicio de síntomas      object
Fecha de muerte                  object
Fecha de diagnóstico             object
Fecha de recuperación            object
Tipo de recuperación             object
Pertenencia étnica              float64
Nombre del grupo étnico          object
dtype: object

In [6]:
data[["Nombre departamento", "Nombre municipio", "Edad", "Estado"]] #doble parentesis son las columnas

        Nombre departamento Nombre municipio   Edad    Estado
0                    BOGOTA           BOGOTA  19,00      Leve
1                     VALLE             BUGA  34,00      Leve
2                 ANTIOQUIA         MEDELLIN  50,00      Leve
3                 ANTIOQUIA         MEDELLIN  55,00      Leve
4                 ANTIOQUIA         MEDELLIN  25,00      Leve
...                     ...              ...    ...       ...
1053117              BOGOTA           BOGOTA  16,00      Leve
1053118              BOGOTA           BOGOTA  39,00      Leve
1053119              BOGOTA           BOGOTA  21,00      Leve
1053120              BOGOTA           BOGOTA  35,00      Leve
1053121              BOGOTA           BOGOTA  82,00  Moderado

[1053122 rows x 4 columns]

In [7]:
#pegar una base: pd.marge(df1,df2,how="oute", on="nombre Departamento")

In [8]:
data.shape #filas y columnas

(1053122, 23)

In [9]:
data.describe()

,Código DIVIPOLA departamento,Código DIVIPOLA municipio,Unidad de medida de edad,Código ISO del país,Pertenencia étnica
count,1.053122e+06,1.053122e+06,1.053122e+06,933.000000,990270.000000
mean,1.159546e+03,2.767411e+04,1.004880e+00,602.443730,5.845071
std,5.384285e+03,2.592331e+04,7.782166e-02,253.314861,0.769194
min,5.000000e+00,5.001000e+03,1.000000e+00,32.000000,1.000000
25%,1.100000e+01,1.100100e+04,1.000000e+00,484.000000,6.000000
50%,1.500000e+01,1.100100e+04,1.000000e+00,724.000000,6.000000
75%,6.600000e+01,5.000100e+04,1.000000e+00,840.000000,6.000000
max,4.700100e+04,9.977300e+04,3.000000e+00,862.000000,6.000000

In [10]:
data["Estado"].unique() #ver si la columna tiene valores unicos

array(['Leve', 'Fallecido', nan, 'leve', 'Moderado', 'Grave', 'LEVE',
       'moderado'], dtype=object)

In [11]:
data["Nombre departamento"].unique()

array(['BOGOTA', 'VALLE', 'ANTIOQUIA', 'CARTAGENA', 'HUILA', 'META',
       'RISARALDA', 'NORTE SANTANDER', 'CALDAS', 'SANTANDER',
       'CUNDINAMARCA', 'TOLIMA', 'BARRANQUILLA', 'QUINDIO', 'CAUCA',
       'STA MARTA D.E.', 'CESAR', 'SAN ANDRES', 'CASANARE', 'NARIÑO',
       'ATLANTICO', 'BOYACA', 'CORDOBA', 'BOLIVAR', 'SUCRE', 'MAGDALENA',
       'GUAJIRA', 'CHOCO', 'AMAZONAS', 'CAQUETA', 'PUTUMAYO', 'ARAUCA',
       'VAUPES', 'GUAINIA', 'VICHADA', 'GUAVIARE'], dtype=object)

In [52]:
#Punto 1 quiz 2
Est_fa = data["Estado"]=="Fallecido"
fallecidos = data[Est_fa][["Nombre departamento", "Estado"]].groupby("Nombre departamento"
                                                                    ).count().sort_values(by="Estado",ascending=False)
fallecidos

                     Estado
Nombre departamento
BOGOTA                 7589
ANTIOQUIA              3149
VALLE                  2771
BARRANQUILLA           1702
SANTANDER              1666
CORDOBA                1611
ATLANTICO              1423
CUNDINAMARCA           1199
NORTE SANTANDER        1069
CESAR                   806
NARIÑO                  760
HUILA                   630
SUCRE                   614
CARTAGENA               585
TOLIMA                  580
META                    517
STA MARTA D.E.          466
MAGDALENA               431
GUAJIRA                 403
RISARALDA               396
CAQUETA                 392
CAUCA                   369
BOYACA                  290
CALDAS                  263
BOLIVAR                 256
QUINDIO                 234
PUTUMAYO                202
CHOCO                   162
AMAZONAS                117
ARAUCA                   94
CASANARE                 88
SAN ANDRES               30
GUAVIARE                 23
GUAINIA                  18
VAUPES                   12
VICHADA                   9

In [4]:
data["Edad"]

0          19,00
1          34,00
2          50,00
3          55,00
4          25,00
           ...
1053117    16,00
1053118    39,00
1053119    21,00
1053120    35,00
1053121    82,00
Name: Edad, Length: 1053122, dtype: object

In [25]:
#Punto 2 quiz 2 #si hay puntos utilizo pd.to_numeric
edadSerie = pd.Series(data["Edad"], dtype = "string").str.split(',', expand = True).get(0)
#y la ordeno

In [26]:
#ordenarlo
pd.Series(edadSerie, dtype = "int").sort_values(ascending = False)

985222    123
931585    115
862781    115
924603    115
995066    113
         ...
821446      1
352672      1
821530      1
121690      1
769280      1
Name: 0, Length: 1053122, dtype: int32

In [28]:
#cambiar formato a variable
data["Edad"] = pd.Series(edadSerie, dtype = "int")

In [ ]:
#Punto 2, forma dos
#edadSerie = pd.Series(data["Edad"], dtype = "string").str.rstrip(',00')

In [14]:
#para saber si es número o caracter, diferentes de ,
numeros = "1234567890"
errores = []
for i in data["Edad"]:
    for j in i:
        if j not in numeros:
            errores.append(j)

In [15]:
pd.Series(errores).duplicated().sum()

1053121

In [18]:
errores = pd.Series(errores)

In [21]:
errores = errores.drop_duplicates(keep = 'first')
errores

0    ,
dtype: object

In [24]:
str(edadSerie)

'0          19,00\n1          34,00\n2          50,00\n3          55,00\n4          25,00\n           ...  \n1053117    16,00\n1053118    39,00\n1053119    21,00\n1053120    35,00\n1053121    82,00\nName: Edad, Length: 1053122, dtype: object'

In [165]:
#punto 3 quiz 2
data['ID de caso'].count()
data["Estado"].value_counts()
tasa_mort = (data["Estado"].value_counts() / data["ID de caso"].count())*100
tasa_mort

Leve         93.948944
Fallecido     2.936602
Moderado      2.129003
leve          0.462340
Grave         0.223146
LEVE          0.000475
moderado      0.000095
Name: Estado, dtype: float64

In [163]:
#Punto 5 departamentos
Est_fa = data["Estado"]=="Fallecido"
fallecidos = data[Est_fa][["Nombre departamento", "Estado"]].groupby("Nombre departamento"
                                                                    ).count().sort_values(by="Estado",ascending=False)
tasa_mort = (data["Estado"].value_counts() / data["ID de caso"].count())*100
fallecidos_2 = fallecidos[["Estado"]].sort_values(by="Nombre departamento",ascending=True)
pacientes = data.groupby("Nombre departamento")["ID de caso"].count()
tasa_mor_depto = (fallecidos_2["Estado"] / pacientes)*100
tasa_mor_depto = pd.DataFrame(tasa_mor_depto)
tasa_mor_depto.iloc[:,0].sort_values(ascending=False)

Nombre departamento
MAGDALENA          7.375086
CORDOBA            6.163912
NORTE SANTANDER    5.105794
PUTUMAYO           4.659746
ATLANTICO          4.626439
BARRANQUILLA       4.192841
GUAJIRA            4.141829
STA MARTA D.E.     4.124624
AMAZONAS           4.030313
SANTANDER          4.014071
SUCRE              3.998958
CHOCO              3.879310
BOLIVAR            3.844998
NARIÑO             3.532419
CAQUETA            3.520431
VALLE              3.393546
CESAR              3.156205
TOLIMA             3.080518
ARAUCA             2.951334
HUILA              2.918964
CUNDINAMARCA       2.870206
CAUCA              2.834755
QUINDIO            2.495734
BOGOTA             2.389205
RISARALDA          2.338767
META               2.329249
CARTAGENA          2.253380
BOYACA             2.110012
CALDAS             2.048446
ANTIOQUIA          1.910639
CASANARE           1.801802
SAN ANDRES         1.608579
GUAVIARE           1.599444
GUAINIA            1.597161
VICHADA            1.140684
VAUPES             1.126761
Name: 0, dtype: float64

In [36]:
#Punto 5 municipios

Est_fa_mun = data["Estado"]=="Fallecido"
fallecidos_mun = data[Est_fa_mun][["Nombre municipio", "Estado"]].groupby("Nombre municipio"
                                                                     ).count().sort_values(by="Estado",ascending=False)
fallecidos_3 = fallecidos_mun[["Estado"]].sort_values(by="Nombre municipio",ascending=True)
pacientes_2 = data.groupby("Nombre municipio")["ID de caso"].count()
tasa_mor_muni = (fallecidos_3["Estado"] / pacientes_2)*1000
tasa_mor_muni = pd.DataFrame(tasa_mor_muni)
tasa_mor_muni.iloc[:,0].sort_values(ascending= False)

Nombre municipio
NOVITA             600.0
PUERTO PARRA       500.0
ONZAGA             500.0
SUPATA             500.0
UTICA              500.0
                   ...
YALI                 NaN
YAVARATE (CD)        NaN
ZAPATOCA             NaN
ZIPACON              NaN
puerto COLOMBIA      NaN
Name: 0, Length: 1011, dtype: float64

In [31]:
# size: cuenta los valores por categoria

data.groupby("Nombre municipio").aggregate({"Estado" : np.size})

                  Estado
Nombre municipio
ABEJORRAL             56
ABREGO                82
ABRIAQUI              17
ACACIAS             1859
ACANDI                95
...                  ...
ZETAQUIRA             15
ZIPACON               23
ZIPAQUIRA           3461
ZONA BANANERA        304
puerto COLOMBIA        1

[1011 rows x 1 columns]

In [30]:
#punto 4  quiz 2
data.groupby(by="Nombre departamento").aggregate(({"Edad":[np.max, np.min, np.mean, np.std]}))

                    Edad
                    amax amin       mean        std
Nombre departamento
AMAZONAS              95    1  36.364106  18.963167
ANTIOQUIA            115    1  39.189547  17.141693
ARAUCA                99    1  38.426060  16.648495
ATLANTICO            104    1  39.779830  18.524425
BARRANQUILLA         104    1  40.616042  18.393387
BOGOTA               106    1  39.115301  18.080056
BOLIVAR              103    1  40.126615  19.745193
BOYACA               115    1  39.748472  18.161675
CALDAS               123    1  41.644053  18.970618
CAQUETA              104    1  39.257027  18.225368
CARTAGENA            103    1  38.920920  17.673257
CASANARE              93    1  36.467649  16.337483
CAUCA                107    1  41.374280  18.261277
CESAR                101    1  39.131143  18.339856
CHOCO                102    1  38.950910  18.231045
CORDOBA              112    1  43.301997  19.586001
CUNDINAMARCA         108    1  39.080026  17.715652
GUAINIA               88    1  36.205856  15.682639
GUAJIRA              112    1  39.635457  18.860012
GUAVIARE              92    1  35.492350  15.652129
HUILA                 98    1  40.122596  17.553896
MAGDALENA             98    1  42.352841  20.639371
META                 108    1  38.066904  16.345153
NARIÑO               106    1  40.200790  18.023897
NORTE SANTANDER      115    1  41.170034  17.625662
PUTUMAYO             103    1  38.455133  17.330064
QUINDIO              102    1  41.692299  18.311181
RISARALDA            110    1  40.553863  18.167232
SAN ANDRES           100    1  41.055764  17.990016
SANTANDER            107    1  41.881096  18.447317
STA MARTA D.E.       110    1  40.172243  18.318465
SUCRE                103    1  41.690374  19.697018
TOLIMA               108    1  41.222488  18.402990
VALLE                105    1  40.916270  18.101952
VAUPES                90    1  38.922066  16.248960
VICHADA               95    1  36.269962  16.089829

In [ ]:
data.iloc[0:20] #iloc[filax:filay,culumnax:columnay]

In [ ]:
data.iloc[::-1] #-1: es el último dato

In [ ]:
data.iloc[:20] [["Nombre departamento","Edad"]]

In [ ]:
#muestra aleatoria
np.random.choice(data["Edad"],1000) #un vector

In [ ]:
data.sample(n=10) #para toda la base de datos

In [ ]:
#mascara buleana con condición
mask = data["Nombre departamento"]=="AMAZONAS"
data[mask]

In [ ]:
prueba = data[(data["Nombre departamento"]=="AMAZONAS") & (data["Nombre municipio"] == "LETICIA")]

In [ ]:
edad = pd.Series(data["Edad"],dtype="string")
edad = pd.Series(edad.str.split(",", expand = True).get(0),dtype="int")

In [ ]:
edad.mean()

In [ ]:
data["Edad"]=edad

In [ ]:
data[(data["Nombre departamento"]=="AMAZONAS") & (data["Nombre municipio"] == "LETICIA") & (data["Edad"]> 30)]

In [ ]:
pd.set_option("display.max_columns", 23) #máximo de columnas visibles
pd.set_option("display.max_rows", 10) #máximo de filas visibles

In [ ]:
data.drop("Edad", axis = "columns") #borra columnas

In [ ]:
#data.drop("Edad", axis = "columns", inplace = True) #reescribir la base

In [ ]:
data.drop([5], axis = "rows") #borrar filas

In [ ]:
#agrupar por
#data4 = data.copy()

In [ ]:
casos_bogota = data.groupby(by="Nombre departamento").aggregate({"Edad": [np.max,np.min]})
casos_bogota

In [ ]:
casos_bogota_1 = data.groupby(by="Nombre departamento").aggregate({"Edad": np.max, "Código DIVIPOLA departamento":np.min})

In [ ]:
casos_bogota_1

In [ ]:
data.groupby(by="Nombre departamento")["Edad"].count()

In [ ]:
data.groupby(by=["Nombre departamento"])[["Edad", "Código DIVIPOLA departamento"]].count()

#corregir los valores: "Leve, Fallecido, Moderado y Grave"

In [ ]:
data["Edad"].value_counts()

In [ ]:
data.isnull().sum()

In [ ]:
data["Edad"].drop_duplicates()