In [1]:
# # Cree una lista con 5 objetos de tipo int
lista_int = [21,10,2014,34]
# # Cree una lista con 5 objetos de tipo str (al menos uno debe contener un espacio)
lista_str = ['León', 'Jirafa','Ballena Jorobada','Tucán','pingüino']
# # Cree una lista que contega 10 objetos mezclados entre int y str 
lista_mix = lista_int + lista_str
# # Cree una lista con 5 tuplas con objetos int y str de la forma [('A',4), ('X',5),...]
lista_tuplas = [('X',2),('C',4),('A',5),('R',6),('O',7)]

In [2]:
lista_int[::-1]
lista_int[1:3]
#lista_int[inicio:fin]

[10, 2014]

In [21]:
# lista_str.sort(reverse=True)
# lista_str

In [7]:
for i in lista_tuplas:
    print(i[0])

X
C
A
R
O

In [14]:
def keysort(item):
    return(item[0])
sorted(lista_tuplas, key=keysort)

[('A', 5), ('C', 4), ('O', 7), ('R', 6), ('X', 2)]

<h1><center> Manipulación de Bases de Datos </center></h1>

In [1]:
import pandas as pd #modulo/librería 
import numpy as np #modulo/librería

# Pandas

# pd.Series()

``Numéricos``

In [3]:
serie_int = np.random.normal(0,10,1000) # creamos una serie de longitud 1000 con media 0 y varianza 10
serie_int = pd.Series(serie_int)

In [35]:
# Mask bool / máscara booleana
mask = serie_int > 5

In [37]:
serie_int[mask]

0       6.698939
4      12.369128
15     10.296971
16      7.498745
21      7.306415
         ...
987    17.359803
989    11.436331
991    13.909857
992    29.188109
998    14.134489
Length: 294, dtype: float64

In [41]:
serie_int.max()

31.826717922491742

In [42]:
serie_int.min()

-33.78001202966467

In [43]:
serie_int.argmax() # me muestra el índice del valor maximo

627

In [44]:
serie_int[627]

31.826717922491742

In [45]:
serie_int.nsmallest(3)

51    -33.780012
776   -32.674187
416   -27.893260
dtype: float64

In [46]:
serie_int.nlargest(3)

627    31.826718
992    29.188109
39     27.490827
dtype: float64

In [51]:
serie_int.mean()

-0.005131125235777509

In [52]:
serie_int.var()

106.49949651905874

In [55]:
serie_int.clip(-10,10)

0     -10.000000
1      -5.692971
2       4.498936
3     -10.000000
4       6.663042
         ...
995    -0.511638
996    -7.066116
997     8.478303
998    10.000000
999    -5.931130
Length: 1000, dtype: float64

In [56]:
serie_int.kurtosis()

-0.12353696684691196

In [60]:
pd.cut(serie_int,3)

0      (-13.902, 7.832]
1      (-13.902, 7.832]
2      (-13.902, 7.832]
3      (-13.902, 7.832]
4      (-13.902, 7.832]
             ...
995    (-13.902, 7.832]
996    (-13.902, 7.832]
997     (7.832, 29.566]
998     (7.832, 29.566]
999    (-13.902, 7.832]
Length: 1000, dtype: category
Categories (3, interval[float64]): [(-35.702, -13.902] < (-13.902, 7.832] < (7.832, 29.566]]

In [68]:
pd.qcut(serie_int,[.25,.50,.75])

0                                NaN
1      (-7.2090000000000005, -0.177]
2                    (-0.177, 7.148]
3                                NaN
4                    (-0.177, 7.148]
                   ...
995    (-7.2090000000000005, -0.177]
996    (-7.2090000000000005, -0.177]
997                              NaN
998                              NaN
999    (-7.2090000000000005, -0.177]
Length: 1000, dtype: category
Categories (2, interval[float64]): [(-7.2090000000000005, -0.177] < (-0.177, 7.148]]

In [72]:
serie_int.pct_change(1) # variación porcnetual

0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
         ...
995   -0.952438
996   -0.615249
997   -1.944452
998   -0.173302
999   -2.015390
Length: 1000, dtype: float64

In [73]:
pd.Series([1,2,3,4,5], dtype = 'int').pct_change(1)

0         NaN
1    1.000000
2    0.500000
3    0.333333
4    0.250000
dtype: float64

In [ ]:
# Otra manera de hacer las cosas

In [74]:
serie_int.agg(np.log) #logaritmo natural

0           NaN
1           NaN
2      1.503841
3           NaN
4      1.896576
         ...
995         NaN
996         NaN
997    2.137510
998    2.679898
999         NaN
Length: 1000, dtype: float64

In [75]:
serie_int.agg(np.average) #promedio

0     -11.797751
1      -5.692971
2       4.498936
3     -10.783171
4       6.663042
         ...
995    -0.511638
996    -7.066116
997     8.478303
998    14.583606
999    -5.931130
Length: 1000, dtype: float64

***
___

``De Texto``

In [4]:
lista_str

NameError: name 'lista_str' is not defined

In [5]:
serie_str = pd.Series(lista_str, index=['a','b','c','d','e'], dtype = 'string')

NameError: name 'lista_str' is not defined

In [78]:
serie_str

a                León
b              Jirafa
c    Ballena Jorobada
d               Tucán
e            pingüino
dtype: string

In [79]:
serie_str.str.lower()

a                león
b              jirafa
c    ballena jorobada
d               tucán
e            pingüino
dtype: string

In [80]:
serie_str.str.upper()

a                LEÓN
b              JIRAFA
c    BALLENA JOROBADA
d               TUCÁN
e            PINGÜINO
dtype: string

In [81]:
serie_str.str.capitalize()

a                León
b              Jirafa
c    Ballena jorobada
d               Tucán
e            Pingüino
dtype: string

In [82]:
serie_str.str.casefold()

a                león
b              jirafa
c    ballena jorobada
d               tucán
e            pingüino
dtype: string

In [86]:
mask = serie_str.str.endswith('n')
serie_str[mask]

a     León
d    Tucán
dtype: string

In [99]:
# serie_str.str.find('Tucán')

In [100]:
# serie_str.str.match('Tucán')

In [110]:
serie_carrea = pd.Series(['Economía','economia','economía'], dtype='string')
mask = serie_carrea.str.contains('ía')

In [111]:
mask

0     True
1    False
2     True
dtype: boolean

In [118]:
serie_carrea[mask == False]

1    economia
dtype: string

In [139]:
serie_str.str.split(' ', expand=True)

          0         1
a      León      <NA>
b    Jirafa      <NA>
c   Ballena  Jorobada
d     Tucán      <NA>
e  pingüino      <NA>

In [126]:
serie_str.str.split(' ').str[0]

a        León
b      Jirafa
c     Ballena
d       Tucán
e    pingüino
dtype: object

In [127]:
serie_str.str.cat(sep = ',')

'León,Jirafa,Ballena Jorobada,Tucán,pingüino'

In [129]:
pd.Series(['a1','b2','c3'], dtype='string')

0    a1
1    b2
2    c3
dtype: string

In [144]:
pd.Series(['a1','b2','c3'], dtype='string').str.extract(r'([abc])?(\d)')

   0  1
0  a  1
1  b  2
2  c  3

In [ ]:
#$2400
#1.2M
#1'200.400

In [146]:
serie_str.str.replace('n','ñ')

a                Leóñ
b              Jirafa
c    Balleña Jorobada
d               Tucáñ
e            piñgüiño
dtype: string

In [152]:
serie_str.str.rstrip('fa')

a               León
b                Jir
c    Ballena Jorobad
d              Tucán
e           pingüino
dtype: string

In [151]:
serie_str.str.lstrip('Ball')

a            León
b          Jirafa
c    ena Jorobada
d           Tucán
e        pingüino
dtype: string

***
___

``Categóricos``

In [153]:
nota = pd.Series([5,4,3,2,1])

In [154]:
categorías = pd.Series(['Excelente','Bueno','Regular','Malo','Pésimo'])

from pandas.api.types import CategoricalDtype

cat_ord = pd.api.types.CategoricalDtype(categories=categorías[::-1].to_list(), ordered=True)

In [155]:
df = pd.concat([nota,categorías], axis = 1, keys=['Nota','Categorías'])

In [156]:
df['Categorías'] = pd.Series(df['Categorías']).astype(cat_ord)

In [159]:
# df[df['Categorías'] != 'Regular']

In [160]:
# df

In [84]:
#boolean mask
# df[df['Categorías'] > 'Regular']

***
___

# ``Importar y visualizar una Base de Datos``

In [99]:
data = pd.read_csv('D:/Downloads/Casos_positivos_de_COVID-19_en_Colombia.csv')

C:\Users\ASUS\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (14,15,17,19,20,22) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [163]:
data = pd.read_csv("COVID19.csv")

C:\Users\ASUS\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (14,15,17,19,20,22) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [168]:
data

,fecha reporte web,ID de caso,Fecha de notificación,Código DIVIPOLA departamento,Nombre departamento,Código DIVIPOLA municipio,Nombre municipio,Edad,Unidad de medida de edad,Sexo,...,Código ISO del país,Nombre del país,Recuperado,Fecha de inicio de síntomas,Fecha de muerte,Fecha de diagnóstico,Fecha de recuperación,Tipo de recuperación,Pertenencia étnica,Nombre del grupo étnico
0,6/3/2020 0:00:00,"1,00",2/3/2020 0:00:00,11,BOGOTA,11001,BOGOTA,"19,00",1,F,...,380.0,ITALIA,Recuperado,27/2/2020 0:00:00,NaN,6/3/2020 0:00:00,13/3/2020 0:00:00,PCR,6.0,NaN
1,9/3/2020 0:00:00,"2,00",6/3/2020 0:00:00,76,VALLE,76111,BUGA,"34,00",1,M,...,724.0,ESPAÑA,Recuperado,4/3/2020 0:00:00,NaN,9/3/2020 0:00:00,19/3/2020 0:00:00,PCR,5.0,NaN
2,9/3/2020 0:00:00,"3,00",7/3/2020 0:00:00,5,ANTIOQUIA,5001,MEDELLIN,"50,00",1,F,...,724.0,ESPAÑA,Recuperado,29/2/2020 0:00:00,NaN,9/3/2020 0:00:00,15/3/2020 0:00:00,PCR,6.0,NaN
3,11/3/2020 0:00:00,"4,00",9/3/2020 0:00:00,5,ANTIOQUIA,5001,MEDELLIN,"55,00",1,M,...,NaN,NaN,Recuperado,6/3/2020 0:00:00,NaN,11/3/2020 0:00:00,26/3/2020 0:00:00,PCR,6.0,NaN
4,11/3/2020 0:00:00,"5,00",9/3/2020 0:00:00,5,ANTIOQUIA,5001,MEDELLIN,"25,00",1,M,...,NaN,NaN,Recuperado,8/3/2020 0:00:00,NaN,11/3/2020 0:00:00,23/3/2020 0:00:00,PCR,6.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1053117,29/10/2020 0:00:00,"1053158,00",18/10/2020 0:00:00,11,BOGOTA,11001,BOGOTA,"16,00",1,F,...,NaN,NaN,NaN,15/10/2020 0:00:00,NaN,28/10/2020 0:00:00,NaN,NaN,NaN,NaN
1053118,29/10/2020 0:00:00,"1053159,00",18/10/2020 0:00:00,11,BOGOTA,11001,BOGOTA,"39,00",1,F,...,NaN,NaN,NaN,15/10/2020 0:00:00,NaN,28/10/2020 0:00:00,NaN,NaN,NaN,NaN
1053119,29/10/2020 0:00:00,"1053160,00",17/10/2020 0:00:00,11,BOGOTA,11001,BOGOTA,"21,00",1,M,...,NaN,NaN,NaN,14/10/2020 0:00:00,NaN,27/10/2020 0:00:00,NaN,NaN,NaN,NaN
1053120,29/10/2020 0:00:00,"1053161,00",17/10/2020 0:00:00,11,BOGOTA,11001,BOGOTA,"35,00",1,F,...,NaN,NaN,NaN,14/10/2020 0:00:00,NaN,27/10/2020 0:00:00,NaN,NaN,NaN,NaN
1053121,29/10/2020 0:00:00,"1053162,00",17/10/2020 0:00:00,11,BOGOTA,11001,BOGOTA,"82,00",1,F,...,NaN,NaN,NaN,14/10/2020 0:00:00,NaN,27/10/2020 0:00:00,NaN,NaN,NaN,NaN

# iloc[]