In [8]:
import pandas as pd
import numpy as np

<h1><center> ENTENDER ¿QUE HEMOS HECHO? </center></h1>

# Tipos de objetos

Los objetos más básicos en Python son:
 1. numeros: -3,-2,-1,0,1,2,3 ... -3.5,-2.5,-1.5, 0.0 , 1.5, 2.5, 3.5  se reconocen como "int" si sin enteros o "float" si son decimales
 2. letras o cualquier otro caracter de texto:   "A","B", "%", "$", "," ... se reconocen como "string" o "str"
 3. Booleanos, son valores "Verdadero" o "Falso", dónde  0 es Falso y cualquier numero diferente de 0 es Verdadeor, se reconocen como "bool"

In [6]:
type(1)

int

In [3]:
type(1.0)

float

In [6]:
bool(1)

True

In [7]:
bool(0)

False

In [8]:
type(bool(1))

bool

In [9]:
type(True)

bool

In [10]:
type(False)

bool

> **Cada tipo de objeto, y cada tipo de colección me permite realizar algunas "funciones" sobre ellos, por ejemplo, puedo sumar numeros sean de tipo "int" o "float". También puedo "recortar, poner en mayúsucla o minúscula a letras, es decir, tipos "string"**

In [24]:
"""El,día,de,hoy,me,levanté,a,las,6"""

str

In [26]:
'nombre'.upper()

'NOMBRE#'

In [7]:
'Miguel;Manrique'.split(';')

['Miguel', 'Manrique']

In [38]:
pd.Series(['Miguel,Manrique','Juan,Perez'], dtype='string').str.split(',',expand=True)

        0         1
0  Miguel  Manrique
1    Juan     Perez

In [56]:
pd.Series('2'+'2', dtype='int32') + 10

0    32
dtype: int32

In [62]:
pd.Series('2.2').astype('float')

0    2.2
dtype: float64

# Tipos de colecciones

Las "colecciones" son formas de almacenar o "juntar" objetos (datos, numeros, letras, booleanos ... )

los más utilizados en cienca de datos y big data son:

1. Listas, su syntaxis (forma de escribir) siempre es con dos paréntesis "cuadrado", así [], puede contener numeros, letras, otras listas o tuplas

        [1,2,3,'H','$',[4,5,6,'L','HOLA']]

2. Tuplas, su syntaxis siempre es con dos paréntesis "redondos", así (). Puede contener numeros, letras, otras litas o tuplas, a diferencia de las listas, las tuplas no se pueden "transformar" por eso decimos que son inmutables

        (1,2,3,'H','#',(4,5,6),[4,5,6])

3. Diccionarios, su syntaxis siempre es de la siguiente manera:

        {'Nombre_llave1' : valores_de_la_llave1,
         'Nombre_llave2' : valores_de_la_llave2}

> **Las colecciones también me permiten realizar algunas "funciones", en este caso las más usadas son las listas y los diccionarios ya que sobre las tuplas no puedo realizar muchas funciones**

In [75]:
a = [1,2,3,4]

In [86]:
a.append(5)
a

[1, 2, 3, 4, 5, 5]

In [73]:
mi_lista = [1,2,3,4]

In [80]:
a == mi_lista

False

## Para poder "guardar" la información creamos "variables", pueden ser entendidos como "contenedores de información"

en este caso ``mi_lista`` contiene o "guarda" la información de una lista que contiene los números 1,2,3,4

In [ ]:
mi_lista.append(5)
mi_lista

In [85]:
mi_lista.sort(reverse=True)
mi_lista

[4, 3, 2, 1]

In [ ]:
mi_lista.sort()

> las "funciones" ``.append() y .sort() nos permiten "apendizar", en el primer caso y "ordenar" en el segundo caso, la mayoría de las funciones en python tienen los nombres en inglés, por ejemplo, .sum(), .average(), nos permiten sumar y hallar el promedio respectivamente

> A diferencia de .append(), .sort() tiene "dentro" de los paréntistes un "parámetro", este parámetro altera el resultado de la función, por ejemplo, el parámetro "reverse" en español es "inverso", por defecto reverse = False, es decir calcula de mayor a menor o de A-Z, pero yo puedo alterar ese parámetro diciendo que reverse = True, es decir que ordene de manera inversa, o en lenguaje de programación "ordenar a la inversa = Verdadero"

In [8]:
mi_lista.sum()

NameError: name 'mi_lista' is not defined

In [95]:
mi_lista.average()

AttributeError: 'list' object has no attribute 'average'

In [9]:
mi_diccionario1 = {'Llave_1': 1,
                  'Llave_2': 'A'}
mi_diccionario1

{'Llave_1': 1, 'Llave_2': 'A'}

In [10]:
mi_diccionario2 = {'Llave_1': [1,2,3,4,5],
                   'Llave_2': ['A','#','B',',','L']}
mi_diccionario2

{'Llave_1': [1, 2, 3, 4, 5], 'Llave_2': ['A', '#', 'B', ',', 'L']}

In [11]:
numeros = [1,2,3,4]
letras = ['A','B','C','D']

mi_diccionario3 = {'Llave_1':numeros,
                   'Llave_2':letras}
mi_diccionario3

{'Llave_1': [1, 2, 3, 4], 'Llave_2': ['A', 'B', 'C', 'D']}

In [106]:
# mi_diccionario3.keys()

In [107]:
# mi_diccionario3.values()

In [12]:
mi_diccionario3['Llave_nueva'] = [(1,2,3),(3,4),(5,6),(7,8)]
mi_diccionario3

{'Llave_1': [1, 2, 3, 4],
 'Llave_2': ['A', 'B', 'C', 'D'],
 'Llave_nueva': [(1, 2, 3), (3, 4), (5, 6), (7, 8)]}

In [114]:
len(mi_diccionario3)

3

# Tipos de colecciónes con Pandas

In [116]:
import pandas as pd

Para Big-Data y Data science utilizamos dos tipos de objetos principales que son de la librería pandas

> https://pandas.pydata.org/docs/user_guide/index.html

1. pd.Series() :  una serie, "es como una lista", pero sus datos estan ORDENADOS mediante un índice o (posición), en escencia una serie es un vector


2. pd.DataFrame() : un dataframe es un "marco de datos", es decir, una tabla ORDENADA en filas y columnas, cada columna esta formada por una serie

In [130]:
mi_lista

[4, 3, 2, 1]

In [13]:
pd.Series([1,2,3,4]) + 2

0    3
1    4
2    5
3    6
dtype: int64

In [124]:
pd.Series([1,2,3,4], index=['a','b','c','d'])

a    1
b    2
c    3
d    4
dtype: int64

In [14]:
pd.Series([1,2,3,4], dtype='int')**2

0     1
1     4
2     9
3    16
dtype: int32

In [128]:
pd.Series([1,2,3,4], dtype='string')**2

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

In [131]:
pd.Series(['1','2','3','4']) == pd.Series([1,2,3,4], dtype='string')

0    True
1    True
2    True
3    True
dtype: boolean

In [18]:
""""'A','B','C','D'""".lower()

'"\'a\',\'b\',\'c\',\'d\''

In [21]:
pd.Series(['A','B','C','D']).str.lower()

0    a
1    b
2    c
3    d
dtype: object

***
___

In [135]:
pd.DataFrame({'Columna_1': numeros,
             'Columna_2':letras})

   Columna_1 Columna_2
0          1         A
1          2         B
2          3         C
3          4         D

In [136]:
pd.DataFrame({'Columna_1': numeros,
             'Columna_2':letras}).rename(columns={'Columna_1':'Numeros',
                                                 'Columna_2':'Letras'})

   Numeros Letras
0        1      A
1        2      B
2        3      C
3        4      D

In [139]:
pd.DataFrame({'Columna_1': numeros,
             'Columna_2':letras}, index= ['lorito','vaquita','c','d'])

         Columna_1 Columna_2
lorito           1         A
vaquita          2         B
c                3         C
d                4         D

***
___

<h1><center> ¿Preguntas? </center></h1>

In [9]:
creditos = pd.DataFrame({
 'Año': {0: 2020, 1: 2020, 2: 2020, 3: 2020, 4: 2020},
 'Mes': {0: 9, 1: 5, 2: 9, 3: 4, 4: 2},
 'fuente Colocacion': {0: 'REDESCUENTO',
  1: 'REDESCUENTO',
  2: 'REDESCUENTO',
  3: 'SUSTITUTA',
  4: 'REDESCUENTO'},
 'Tipo Productor': {0: 'MEDIANO',
  1: 'PEQUEÑO',
  2: 'PEQUEÑO',
  3: 'GRANDE',
  4: 'PEQUEÑO'},
 'Valor Inversion': {0: 81760000.0,
  1: 17000000.0,
  2: 4000000.0,
  3: 0.0,
  4: 6000000.0},
 'ID Depto': {0: 15, 1: 15, 2: 70, 3: 76, 4: 18},
 'Departamento Inversion': {0: 'BOYACA',
  1: 'BOYACA',
  2: 'SUCRE',
  3: 'VALLE',
  4: 'CAQUETA'},
 'Id Munic': {0: 15690, 1: 15632, 2: 70742, 3: 76001, 4: 18001},
 'Municipio Inversion': {0: 'SANTA MARIA',
  1: 'SABOYA',
  2: 'SINCE',
  3: 'CALI',
  4: 'FLORENCIA'}})
creditos

,Año,Mes,fuente Colocacion,Tipo Productor,Valor Inversion,ID Depto,Departamento Inversion,Id Munic,Municipio Inversion
0,2020,9,REDESCUENTO,MEDIANO,81760000.0,15,BOYACA,15690,SANTA MARIA
1,2020,5,REDESCUENTO,PEQUEÑO,17000000.0,15,BOYACA,15632,SABOYA
2,2020,9,REDESCUENTO,PEQUEÑO,4000000.0,70,SUCRE,70742,SINCE
3,2020,4,SUSTITUTA,GRANDE,0.0,76,VALLE,76001,CALI
4,2020,2,REDESCUENTO,PEQUEÑO,6000000.0,18,CAQUETA,18001,FLORENCIA

In [15]:
creditos.iloc[2:4,1:2]

   Mes
2    9
3    4

In [16]:
creditos.iloc[2:4,0:1]

    Año
2  2020
3  2020

In [17]:
creditos.iloc[3,5]

76

In [53]:
creditos.iloc[2:4,0]

2    2020
3    2020
Name: Año, dtype: int64

In [167]:
creditos.iloc[2:4]['Año'] == creditos.iloc[2:4,0]

2    True
3    True
Name: Año, dtype: bool

In [164]:
creditos.iloc[2:4][['Año','Mes','Tipo Productor']]

    Año  Mes Tipo Productor
2  2020    9        PEQUEÑO
3  2020    4         GRANDE

In [172]:
creditos[['Año','Mes','Tipo Productor']]

    Año  Mes Tipo Productor
0  2020    9        MEDIANO
1  2020    5        PEQUEÑO
2  2020    9        PEQUEÑO
3  2020    4         GRANDE
4  2020    2        PEQUEÑO

***
___

> Una columnda es una serie

In [174]:
creditos['Valor Inversion']

0    81760000.0
1    17000000.0
2     4000000.0
3           0.0
4     6000000.0
Name: Valor Inversion, dtype: float64

In [175]:
creditos['Valor Inversion']/2

0    40880000.0
1     8500000.0
2     2000000.0
3           0.0
4     3000000.0
Name: Valor Inversion, dtype: float64

In [176]:
creditos['Valor Inversion'].sum()

108760000.0

In [177]:
creditos['Valor Inversion'].mean()

21752000.0

***
___

In [179]:
'MIGUEL'.lower()

'miguel'

In [178]:
creditos['Departamento Inversion'].lower()

AttributeError: 'Series' object has no attribute 'lower'

In [181]:
creditos['Departamento Inversion'].str.lower()

0     boyaca
1     boyaca
2      sucre
3      valle
4    caqueta
Name: Departamento Inversion, dtype: object

***
___

# Agrupar con GroupBy

In [184]:
creditos

,Año,Mes,fuente Colocacion,Tipo Productor,Valor Inversion,ID Depto,Departamento Inversion,Id Munic,Municipio Inversion
0,2020,9,REDESCUENTO,MEDIANO,81760000.0,15,BOYACA,15690,SANTA MARIA
1,2020,5,REDESCUENTO,PEQUEÑO,17000000.0,15,BOYACA,15632,SABOYA
2,2020,9,REDESCUENTO,PEQUEÑO,4000000.0,70,SUCRE,70742,SINCE
3,2020,4,SUSTITUTA,GRANDE,0.0,76,VALLE,76001,CALI
4,2020,2,REDESCUENTO,PEQUEÑO,6000000.0,18,CAQUETA,18001,FLORENCIA

In [22]:
creditos.groupby('fuente Colocacion')

In [19]:
creditos.groupby('Tipo Productor').get_group('PEQUEÑO')

,Año,Mes,fuente Colocacion,Tipo Productor,Valor Inversion,ID Depto,Departamento Inversion,Id Munic,Municipio Inversion
1,2020,5,REDESCUENTO,PEQUEÑO,17000000.0,15,BOYACA,15632,SABOYA
2,2020,9,REDESCUENTO,PEQUEÑO,4000000.0,70,SUCRE,70742,SINCE
4,2020,2,REDESCUENTO,PEQUEÑO,6000000.0,18,CAQUETA,18001,FLORENCIA

In [194]:
creditos.groupby('Tipo Productor').aggregate({'Valor Inversion': np.sum})

                Valor Inversion
Tipo Productor
GRANDE                      0.0
MEDIANO              81760000.0
PEQUEÑO              27000000.0

In [195]:
# "idioma" pandorable
creditos.groupby('Tipo Productor').get_group('PEQUEÑO').aggregate({'Valor Inversion': np.sum})

Valor Inversion    27000000.0
dtype: float64

In [196]:
creditos.groupby('Tipo Productor')['Valor Inversion'].sum()

Tipo Productor
GRANDE            0.0
MEDIANO    81760000.0
PEQUEÑO    27000000.0
Name: Valor Inversion, dtype: float64

In [23]:
creditos.groupby('Tipo Productor').aggregate({'Año':np.count})

AttributeError: module 'numpy' has no attribute 'count'

In [25]:
creditos.groupby('fuente Colocacion')['Año'].count()

fuente Colocacion
REDESCUENTO    4
SUSTITUTA      1
Name: Año, dtype: int64

In [26]:
creditos['fuente Colocacion'].value_counts()

REDESCUENTO    4
SUSTITUTA      1
Name: fuente Colocacion, dtype: int64

# Agrupar Bases de Datos

In [200]:
creditos

,Año,Mes,fuente Colocacion,Tipo Productor,Valor Inversion,ID Depto,Departamento Inversion,Id Munic,Municipio Inversion
0,2020,9,REDESCUENTO,MEDIANO,81760000.0,15,BOYACA,15690,SANTA MARIA
1,2020,5,REDESCUENTO,PEQUEÑO,17000000.0,15,BOYACA,15632,SABOYA
2,2020,9,REDESCUENTO,PEQUEÑO,4000000.0,70,SUCRE,70742,SINCE
3,2020,4,SUSTITUTA,GRANDE,0.0,76,VALLE,76001,CALI
4,2020,2,REDESCUENTO,PEQUEÑO,6000000.0,18,CAQUETA,18001,FLORENCIA

In [201]:
creditos2 = pd.DataFrame({'Año': {0: 2020, 1: 2020, 2: 2020, 3: 2020, 4: 2020},
 'Mes': {0: 2, 1: 2, 2: 9, 3: 9, 4: 1},
 'fuente Colocacion': {0: 'REDESCUENTO',
  1: 'REDESCUENTO',
  2: 'REDESCUENTO',
  3: 'SUSTITUTA',
  4: 'SUSTITUTA'},
 'Tipo Productor': {0: 'PEQUEÑO',
  1: 'PEQUEÑO',
  2: 'PEQUEÑO',
  3: 'MEDIANO',
  4: 'PEQUEÑO'},
 'Valor Inversion': {0: 10000000.0,
  1: 8500000.0,
  2: 25000000.0,
  3: 60000000.0,
  4: 0.0},
 'Colocacion': {0: 10000000.0,
  1: 8500000.0,
  2: 10278403.0,
  3: 60000000.0,
  4: 4000000.0},
 'ID Depto': {0: 54, 1: 52, 2: 15, 3: 68, 4: 41},
 'Departamento Inversion': {0: 'NORTE DE SANTANDER',
  1: 'NARIÑO',
  2: 'BOYACA',
  3: 'SANTANDER',
  4: 'HUILA'},
 'Id Munic': {0: 54223, 1: 52317, 2: 15763, 3: 68418, 4: 41298},
 'Municipio Inversion': {0: 'CUCUTILLA',
  1: 'GUACHUCAL',
  2: 'SOTAQUIRA',
  3: 'LOS SANTOS',
  4: 'GARZON'}})
creditos2

,Año,Mes,fuente Colocacion,Tipo Productor,Valor Inversion,Colocacion,ID Depto,Departamento Inversion,Id Munic,Municipio Inversion
0,2020,2,REDESCUENTO,PEQUEÑO,10000000.0,10000000.0,54,NORTE DE SANTANDER,54223,CUCUTILLA
1,2020,2,REDESCUENTO,PEQUEÑO,8500000.0,8500000.0,52,NARIÑO,52317,GUACHUCAL
2,2020,9,REDESCUENTO,PEQUEÑO,25000000.0,10278403.0,15,BOYACA,15763,SOTAQUIRA
3,2020,9,SUSTITUTA,MEDIANO,60000000.0,60000000.0,68,SANTANDER,68418,LOS SANTOS
4,2020,1,SUSTITUTA,PEQUEÑO,0.0,4000000.0,41,HUILA,41298,GARZON

In [214]:
df = pd.concat([creditos,creditos2], axis='rows') #axis = 'rows' == axis = 0

In [215]:
# pd.concat([creditos,creditos2], axis='columns')# axis = 'columns' == axis = 1

In [217]:
df['Ratio col/inv'] = df['Colocacion'] / df['Valor Inversion']

In [29]:
import os

In [36]:
print(os.getcwd())

C:\Users\IVAN CORREDOR

<h1><center> "Práctica Guiada" </center></h1>

# Importar bases de datos

En Python podemos trabajar con diferentes tipos de bases de datos, para poder trabajar con ella debemos "importarlas" al programa, para tal fin usamos pandas

    pd.read_excel()
    pd.read_csv()
    pd.read_dta()
    pd.read_stata()

Dentro de cada función ``pd.read_...()``, hay diferentes "parámetros", que nos dan diferentes opciones para cambiar la visualización de la base de datos

> **OJO**

**El parámetro más importante es la "ruta" del archivo, es decir, la ubicación del archivo en su computador, por ejemplo 
``C:/Downloads``**

    pd.read_excel("C:/Downloads/mi_archivo.xlsx')
    pd.read_csv('C:/Documents/mi_carpeta/mi_archivo.csv')
    
Si el archivo está en la misma carpeta del script no es necesario poner toda la ruta

    pd.read_csv('mi_archivo.csv')

>**NO OLIDE PONER LA EXTENSIÓN DEL ARCHIVO AL FINAL DEL NOMBRE, Por ejemplo: .csv .xlsx .json ...***

### 1. Importe la base de datos 

``Colocaciones_De_Credito_Sector_Agropecuario_2020.csv``

In [ ]:
## Escriba su código en esta celda
data =

### 2. Realize una visualización de las primeras 20 filas de la base de datos

    consejo: utilize .head() o .iloc[]

In [ ]:
##

### 3. ¿Qué tipo de objetos en cada columa tiene su base de datos?

    consejo: utilize .dtypes() o .info()

In [ ]:
##

### 4. ¿Su base de Datos tiene valores perdidos o "Missing Values"?
    consejo: utilize .isnull() o .isna()

In [ ]:
##

### 5. ¿Cuantos productores pequeños, medianos y grandes hay?
    consejo: intente data['fuente Colocacion'].value_counts()

In [ ]:
##

## 6. Tome de la base de datos solo los pequeños productores

    consejo: haga una máscara booleana mask = data[data[] == '']

In [ ]:
##

### 7. Tome de la base de datos solo los pequeños productores y que la línea de crédtio sea "inversión"

    consejo: use data.columns y luego use una máscara booleana

In [ ]:
##

### 8. Agrupe su base de datos por departamento y tipo de productor, y calcule la suma del valor de la inversión 

    consejo: use .groubpy(by=['',''])[''].sum()
    use las columnas 
    "Departamento Inversion"
    "Tipo Productor"
    "Valor Inversion"

In [ ]:
##

### 9. Agrupe su base de datos por departamento, tipo de prodcutor y calcule la suma del valor de la inversión y la colocación

    consejo: use .groupby(by = ["",""]).aggregate({'': np.sum, '':np.sum})
     use las columnas 
    "Departamento Inversion"
    "Tipo Productor"
    "Valor Inversion"
    "Colocacion"

In [ ]:
##

## 10 Su jefe le pide que haga un análisis con las bases de datos:



    'Colocaciones_De_Credito_Sector_Agropecuario_2016.csv'

    'Colocaciones_De_Credito_Sector_Agropecuario_2017.csv'

    'Colocaciones_De_Credito_Sector_Agropecuario_2018.csv'

    'Colocaciones_De_Credito_Sector_Agropecuario_2019.csv'

    'Colocaciones_De_Credito_Sector_Agropecuario_2020.csv'
    
> consejo: use **pd.concat()**

Le pide que determine:

#### 10.1: ¿Cuántos créditos se han otorgado a los pequeños, medianos y grandes productores?

In [ ]:
###

#### 10.2: ¿Cuanto se le ha prestado a los pequeños, medianos y grandes productores?

In [ ]:
###

####  10.3: ¿Cuántos créditos se han otorgado por línea de crédito?

In [ ]:
###

#### 10.4: ¿cuál es el valor de la inversión de los pequeños, medianos y grandes productores por línea de crédito?

In [ ]:
###

#### 10.5: ¿Cuantos créditos y cuál ha sido el valor de la inversión por tipo de productor y linea de producción?

In [ ]:
###

#### 10.6: ¿Cuáles han sido los departamentos con mayor número de créditos otorgados?

In [ ]:
###

#### 10.7: ¿Cuáles han sido los departamentos con mayor volumen de inversión?

In [ ]:
###

#### 10.8: ¿Cuantos productores de cada tipo hay en cada Departamento?

In [ ]:
###

<h1><center> Librerías </center></h1>

instalar las siguientes librerías

1. urllib3
2. bs4
3. requests
4. csv

In [3]:
import urllib3
import bs4
import requests

In [2]:
import csv