<h1 style="text-align: center;"><span style="color: #000080;"><strong>BIENVENDIDOS AL CURSO DE INTRODUCCI&Oacute;N A PYTHON&nbsp;<img src="https://html-online.com/editor/tinymce4_6_5/plugins/emoticons/img/smiley-cool.gif" alt="cool" /></strong></span></h1>

<h1><center> Hola </center></h1>

$\beta_{0} + x_{1} $

In [22]:
# Hola

a = 1   #int 
b = "Hola" #string
c = """ 
hola
como
estas 1234
"""
d = 1.0 #float
e = True
f = False

# print('Angel')
# print('Miguel') #Esto sirve para imprimir en pantalla

In [26]:
mujer = 0
hombre = 1
bool(hombre)

True

In [32]:
2 > 3

False

In [36]:
if 2 < 3:
    print('Miguel')

Miguel

print('Hello World')
print()

+ esc  + b   ----> ``Inserta`` una nueva celda debajo

+ esc  + dd  ----> ``Elimina`` la celda actual

+ esc  + z   ----> ``Restaura`` la celda eliminada

+ ctrl  + enter --->  ``Ejecuta`` la celda actual 

+ shift + enter --->  ``Ejecuta`` la celda actual y pasa a la siguiente

+ alt   + enter --->  ``Ejecuta`` La celda actual e inserta una nueva debajo

 + ``shift`` ---> Autocompletar
 + ``shift`` + ``tabulador`` ---> muestra información del método o fución que vayamos a utilizar

In [4]:
pwd

'c:\\Users\\ASUS\\Python Scripts 2\\Python_Intro\\Sesión_1'

# Creación y activación de entornos, administración de librerías.

 + Linux,MacOS -->   conda **source activate**

***
---

<h1><center> Tipos de colecciones en Python </h1></center>

+ ctrl  +  ``} (la que esta encima de enter)`` ---> comenta

In [37]:
# #print('Tipos de objetos')
print(type(1))
print(type('Hola'))
print(type(True))
print(type(1.0))

<class 'int'>
<class 'str'>
<class 'bool'>
<class 'float'>

In [ ]:
# type(lista_estudiantes)
# type(lista_estudiantes['Nombre y Apellido'])

# ``Listas y Tuplas``

In [30]:
# las listas son objetos mutables
lista = [1,'hola',1.0,True] 
lista_numeros = [1,2,3,4,5,7]

In [11]:
lista_numeros.append(10) 
lista_numeros #agrego o "apendizo" al final

[1, 2, 3, 4, 5, 7, 10]

In [12]:
lista_numeros.pop() #quito o elimino todo hasta el final

10

In [49]:
lista_numeros.append(lista)

In [51]:
len(lista_numeros) # me muestra la longitud de la lista, es decir, el número de elementos que tiene

7

In [21]:
lista_numeros.insert(0,0)
lista_numeros

[0, 0, 0, 3, 3, 1, 2, 2, 2, 3, 4, 5, 7]

In [24]:
lista_numeros.insert(0, 0)
lista_numeros

[0, 0, 0, 0, 0, 0, 3, 3, 1, 2, 2, 2, 3, 4, 5, 7]

In [26]:
saludo = 'Hola, muy Buenos días'
saludo

'Hola, muy Buenos días'

In [27]:
saludo.replace('días','noches')

'Hola, muy Buenos noches'

In [31]:
del(lista[1])
lista

[1, 1.0, True]

In [33]:
lista.insert(1,'chao')
lista

[1, 'chao', 'chao', 1.0, True]

***
___

In [34]:
#las tuplas on objetos inmutables

tupla =  (1,2,3)
tupla =  (4,5,6)
# tupla.append(1)

lista_tuplas = [(1,2,3),(4,5,6)]
lista_tuplas

[(1, 2, 3), (4, 5, 6)]

In [94]:
lista_numeros

[1, 2, 3, 4, 5]

In [36]:
lista_tuplas[1][1]

5

# ``Diccionarios``

In [38]:
# Llaves : "keys"
# Values: "Values"

diccionarios = { 'Nombre' : ['Miguel','Alejandro','Geraldine'],
                  'Edad'  : [21,20,20],
                  'Carrera': ['Economía','Economía','Admin']}

In [39]:
diccionarios['Edad'][0]
diccionarios.keys()
diccionarios.values()
diccionarios.items()

dict_items([('Nombre', ['Miguel', 'Alejandro', 'Geraldine']), ('Edad', [21, 20, 20]), ('Carrera', ['Economía', 'Economía', 'Admin'])])

In [136]:
diccionarios

{'Nombre': ['Miguel', 'Alejandro', 'Geraldine'],
 'Edad': [21, 20, 20],
 'Carrera': ['Economía', 'Economía', 'Admin']}

# ``Data Frames``

In [111]:
import pandas as pd

df = pd.DataFrame(diccionarios)

In [138]:
df

      Nombre  Edad   Carrera
0     Miguel    21  Economía
1  Alejandro    20  Economía
2  Geraldine    20     Admin

# ``Series``

In [144]:
# serie = pd.Series(lista_numeros)
serie = pd.Series([10,2,3,4,5])

In [146]:
serie

0    10
1     2
2     3
3     4
4     5
dtype: int64

***
___

<h1><center> Estructuras de Control </h1></center>

# ``Condicionales``

In [ ]:
# if "SI" 
# elif if + else
# else "si no"
# in
# not in 
# <> menor, mayor
# == igual
# != diferente

In [158]:
2 >= 3

False

In [159]:
2 <= "3D Objects"

True

In [48]:
b = [6,5,7,9]
c = [5,2,-5,10]

In [50]:
a = 0
if b > c: # ":" entonces
    a =+ 1
    print("b+1")
else:
    print('b=c')

b+1

In [56]:
if 2 > 0:
    lista_prueba = [1,2,3,4]
print (lista_prueba)

[1, 2, 3, 4]

In [51]:
if 2 < 0:
    print(2)

In [35]:
if 2 not in lista:
    print(2)

In [42]:
if 2 % 2 == False:
    print(2)

In [57]:
if 2 < 3:
    print('Adiós')
    if 3 > 4:
        print('hola')

Adiós

# ``Funciones``

In [58]:
def suma(a,b):
    suma = a+b
    return suma

In [59]:
suma(2,6)

8

In [75]:
def varianza(*x):
    import numpy as np
    var = sum((x-np.mean(x))**2)/len(x)
    return var

In [76]:
varianza([5,10,15,20])

array([56.25,  6.25,  6.25, 56.25])

In [13]:
def suma(*args):
    suma = sum(args)
    return suma

# ``Loops o  Bucles``

for ``item`` in ``iterable``: # los dos puntos (:) se leen como un "entonces"

      sentencia1
      sentencia2
      ...

<h1><center> Referencias </h1></center>

 + https://pandas.pydata.org/
 + https://numpy.org/
 + https://matplotlib.org/
 + https://docs.conda.io/projects/conda/en/latest/user-guide/tasks/manage-environments.html
 + Harrison. M.***Learning the Pandas Library***, Python tools for data munging, Data analysis, and Visualization. 2016.
 + McKinney. W. ***Python for Data Analysis***. O'Reilly. Ed 1°. 2013.