In [704]:
import pandas as pd
import numpy as np

### Marco muestral 2005

In [705]:
#principl objects
raw1 = "G:/Unidades compartidas/Mercado laboral/Datos/1_Raw/marco_muestral 2005_proyec_CNPV2018.xlsx"

In [706]:
#datos 2019
t05_comp = pd.read_excel(raw1,     
                       sheet_name = "areas trim movil", header = 0,
                       skiprows = range(58), nrows = 28)#,  usecols = "A:IS")#, names=names_col_19)

In [707]:
#borrar filas innecesarias y reindexar
t05_comp.drop(t05_comp.index[4:15], inplace = True)
t05_comp.reset_index(drop =True, inplace = True) 
t05_comp.drop(t05_comp.index[[9,10]],inplace = True) 
t05_comp.reset_index(drop =True, inplace = True) 
t05_comp.drop(t05_comp.index[11:14], inplace = True)

In [708]:
##cambiar nombre de variable
t05_comp = t05_comp.rename(columns = {"Unnamed: 0":"Poblaciones"})

In [709]:
t05_comp.columns

Index(['Poblaciones', 'Ene -Mar', 'Feb -Abr', 'Mar - May', 'Abr - Jun',
       'May - Jul', 'Jun - Ago', 'Jul - Sep', 'Ago -Oct', 'Sep - Nov',
       ...
       'Ene - Mar.12', 'Feb - Abr.10', 'Mar - May.18', 'Abr - Jun ',
       'May - Jul.18', 'Jun - Ago.19', 'Jul - Sep.19', 'Ago - Oct.13',
       'Sep - Nov.20', 'Oct - Dic.20'],
      dtype='object', length=251)

In [710]:
###insertar columnas vacías al final para la división "Nov 21 - Ene 22", "Dic 21 - Feb 22"
t05_comp.insert(251, 'Nov 21 - Ene 22', np.nan)
t05_comp.insert(252, 'Dic 21 - Feb 22', np.nan)

#### Transponer

In [711]:
#establecer indice
t05_comp = t05_comp.set_index("Poblaciones")

In [712]:
t05_comp = t05_comp.transpose().reset_index()

In [713]:
#renombrar columnas
names =  {"index":"Trimestre","Fuerza de trabajo (población económicamente activa)":"Fuerza de trabajo", "Población fuera de la fuerza de trabajo (inactivos)": "Población fuera de la fuerza laboral"}
t05_comp = t05_comp.rename(columns= names)

In [714]:
# for i in (range(0,250, 12)):
#     print(i)

In [715]:
#crear variable de periodo
per = list(range(2001,2022))
t05_comp.insert(0, 'Periodo',  pd.Series(per, index= range(0,250, 12)))

In [716]:
#rellenar
t05_comp["Periodo"].ffill(inplace=True)

In [717]:
#limpiar variable trimestre
t05_comp["Trimestre"] = t05_comp["Trimestre"].str.strip().str.replace(" ", "").str.lower()

In [718]:
### crear variable Subocupados y borrar variables subempleo sub y obj.
t05_comp["Subocupados"] = t05_comp["Subempleados Subjetivos"] + t05_comp["Subempleados Objetivos"]
t05_comp.drop(columns = ["Subempleados Subjetivos", "Subempleados Objetivos"], inplace = True)

In [719]:
t05_comp["Trimestre"] = (pd.Series(t05_comp["Trimestre"],                                
                                          dtype = "string").str.split(r'\.\d', expand = True).get(0))

In [720]:
#imprimir el número completo
# pd.set_option('float_format', '{:f}'.format)

In [721]:
t05_comp.to_excel("G:/Unidades compartidas/Mercado laboral/Datos/4_Output/t05_completa.xlsx",     
                       sheet_name = "bogotá_trimmovil_m05", header = True, index=False)

### Marco muestral 2018

In [722]:
#datos 2021
raw5 = "G:/Unidades compartidas/Mercado laboral/Datos/1_Raw/anexo_empleo_jul_22.xlsx"
names_col_21= ["Poblaciones", "Ene - Mar","Feb - Abr", "Mar - May","Abr - Jun", "May - Jul",
             "Jun - Ago", "Jul - Sep", "Ago - Oct", "Sep - Nov", "Oct - Dic","Nov 21 - Ene 22", 
             "Dic 21 - Feb 22"]
t18_21 = pd.read_excel(raw5,     
                       sheet_name = "Total 23 ciudades A.M. Trim", header = 0,
                       skiprows = range(31), nrows = 13, usecols = "A:M", names =names_col_21)
t18_21.drop([5], inplace = True)

In [723]:
#datos 2022
names_col_22= ["Poblaciones", "Ene - Mar","Feb - Abr", "Mar - May","Abr - Jun", "May - Jul"]
t18_22 = pd.read_excel(raw5,     
                       sheet_name = "Total 23 ciudades A.M. Trim", header = 0,
                       skiprows = range(31), nrows = 13,  usecols = "A, N:R", names = names_col_22)
t18_22.drop([5], inplace = True)

#### Transponer

In [724]:
#establecer indice, renombrar columnas, crear variable de periodo
dfs_18 = [t18_21, t18_22]
per2 = [2021, 2022]

for i, j, k in zip(dfs_18, range(21,23), per2):
    i = i.set_index("Poblaciones")
    exec('t18_{}t = i.transpose().reset_index()'.format(j))
    names =  {'index':'Trimestre', 'Fuerza de trabajo  ': 'Fuerza de trabajo'}
    exec('t18_{}t = t18_{}t.rename(columns= names)'.format(j,j))
    exec("t18_{}t.insert(0, 'Periodo',  k)".format(j))
    exec('t18_{}t["Trimestre"] = t18_{}t["Trimestre"].str.strip().str.replace(" ", "").str.lower()'.format(j,j))

In [743]:
t18_21t

Poblaciones,Periodo,Trimestre,% población en edad de trabajar,TGP,TO,TD,TS,Población total,Población en edad de trabajar,Fuerza de trabajo,Ocupados,Desocupados,Población fuera de la fuerza laboral,Subocupados
0,2021,ene-mar,81.293586,69.185176,55.385997,19.945283,8.312239,7773.758000,6319.566667,4372.203333,3500.155000,872.048333,1947.363333,363.428000
1,2021,feb-abr,81.319192,69.492535,56.427774,18.800237,7.635219,7780.889333,6327.356333,4397.040333,3570.386333,826.654000,1930.316000,335.723667
2,2021,mar-may,81.344322,68.464891,56.388879,17.638255,7.327873,7787.770000,6334.908667,4337.188333,3572.184000,765.004333,1997.720333,317.823667
3,2021,abr-jun,81.370083,67.995643,55.988653,17.658469,7.117056,7794.688667,6342.544667,4312.654000,3551.105333,761.548667,2029.890667,306.934000
4,2021,may-jul,81.395350,67.220825,55.953433,16.761758,7.189931,7801.315000,6349.907667,4268.460333,3552.991333,715.469000,2081.447333,306.899333
5,2021,jun-ago,81.420651,67.536973,56.868394,15.796649,7.301583,7807.783333,6357.148000,4293.425333,3615.208000,678.217333,2063.722667,313.488000
6,2021,jul-sep,81.445700,67.379702,57.965494,13.971876,7.030744,7814.018000,6364.181667,4288.166667,3689.029333,599.137333,2076.015000,301.490000
7,2021,ago-oct,81.470498,67.022104,58.002894,13.457068,6.448393,7820.046667,6371.031000,4269.999000,3695.382333,574.616667,2101.032000,275.346333
8,2021,sep-nov,81.495037,66.432352,57.773640,13.033879,5.469104,7825.884333,6377.707333,4236.861000,3684.633667,552.227333,2140.846333,231.718333
9,2021,oct-dic,81.519053,65.527153,57.068902,12.908001,4.767155,7831.500000,6384.164667,4183.361333,3643.372667,539.988333,2200.803333,199.427333
10,2021,nov21-ene22,81.543071,66.192299,57.002160,13.883984,4.137600,7837.040667,6390.563667,4230.061000,3642.759333,587.301000,2160.502667,175.023000
11,2021,dic21-feb22,81.566819,66.668103,57.205338,14.193826,4.946934,7842.471667,6396.854667,4264.661667,3659.342333,605.318667,2132.193000,210.970000

#### Imputar 2001-2020

##### Variables poblacionales

In [725]:
t05_comp.columns

Index(['Periodo', 'Trimestre', '% población en edad de trabajar ', 'TGP', 'TO',
       'TD', 'Población total', 'Población en edad de trabajar',
       'Fuerza de trabajo', 'Ocupados', 'Desocupados',
       'Población fuera de la fuerza laboral', 'Subocupados'],
      dtype='object', name='Poblaciones')

In [726]:
#variables
l1 = ['Población en edad de trabajar', 'Fuerza de trabajo',
       'Ocupados', 'Desocupados', 'Población fuera de la fuerza laboral',
       'Subocupados']

### Slice

In [727]:
##filtrar por año y crear dataframe
per = list(range(2001,2022))
lf = list(range(1,22))
for i, j in zip(per, lf):
    msk19 = t05_comp["Periodo"] == i
    exec('t05_com_{} = t05_comp[msk19==True]'.format(j))
    exec('t05_com_{}.reset_index(drop =True, inplace = True)'.format(j))

In [728]:
lf1 = list(range(1,20))
lf2 = list(range(2,21))   
# for j, k in zip(lf1, lf2):
#     print('{}, {}, {}, {},{}'.format(k, j, k, j, j))

In [729]:
#imputar valores 2001
t05_imp_1 = t05_com_1.copy()
for i in l1: 
    t05_imp_1[i] =((np.divide(t18_21t[i], np.asarray(t05_com_21[i])) * t05_com_1[i])).astype(np.double)

In [730]:
##copiar daraframe para reempazarlos e imputar valores para los otros años
for j, k in zip(lf1, lf2):
    exec('t05_imp_{} = t05_com_{}.copy()'.format(k, k))
    for i in l1:
        exec('t05_imp_{}[i] = ((t05_imp_{}[i] * (1 + ((t05_com_{}[i]- t05_com_{}[i]) / t05_com_{}[i])))).astype(np.double)'.format(k, j, k, j, j))

##### Tasas

In [731]:
#variables
l2 = ["% población en edad de trabajar ", "TGP","TO","TD", "TS"]
l3_n = ["Población en edad de trabajar", "Fuerza de trabajo","Ocupados",
        "Desocupados", "Subocupados"]
l4_d = ["Población total", "Población en edad de trabajar","Población en edad de trabajar",
        "Fuerza de trabajo", "Ocupados", "Ocupados"]

In [732]:
#calcular tasas
lf3 = list(range(1,21))  
for i in lf3:
    for j, k, l in zip(l2, l3_n, l4_d):
        exec('t05_imp_{}[j] = (t05_imp_{}[k] / t05_imp_{}[l]*100).astype(np.double)'.format(i,i,i))

In [733]:
#reindexar variables, cambiar de posición. 
for i in lf3:
    exec("t05_imp_{} = t05_imp_{}.reindex(columns= ['Periodo', 'Trimestre', '% población en edad de trabajar ', 'TGP', 'TO', 'TD','TS', 'Población total','Población en edad de trabajar','Fuerza de trabajo','Ocupados', 'Desocupados','Población fuera de la fuerza laboral', 'Subocupados'])".format(i,i))

#### Concatenar

In [734]:
lframe = [t05_imp_1, t05_imp_2, t05_imp_3, t05_imp_4, t05_imp_5, t05_imp_6,
          t05_imp_7, t05_imp_8, t05_imp_9, t05_imp_10, t05_imp_11, t05_imp_12,
         t05_imp_13, t05_imp_14, t05_imp_15, t05_imp_16, t05_imp_17, t05_imp_18, 
          t05_imp_19, t05_imp_20,t18_21t, t18_22t]

In [735]:
ml_pob_impu_01_22 = pd.concat(lframe, axis = 0, join = 'outer', sort = False)

In [736]:
#poblaciones a millones enteros
l_5 = ['Población total', 'Población en edad de trabajar', 'Fuerza de trabajo',
       'Ocupados', 'Desocupados', 'Población fuera de la fuerza laboral',
       'Subocupados']
for i in (l_5):
    ml_pob_impu_01_22[i] = ml_pob_impu_01_22[i]*1000

In [737]:
#ml_pob_impu_01_22["Periodo"] = pd.Series(ml_pob_impu_01_22["Periodo"], dtype = "int")

In [738]:
### marca valores imputados
def m_imp(df):
    if ((df["Periodo"] == 2021 or df["Periodo"] == 2022) 
        and (pd.notnull(df["Población en edad de trabajar"]))): 
        x = 0
    elif pd.isnull(df["Población en edad de trabajar"]):
        x = np.nan
    else:
        x = 1
    return(x)

In [739]:
ml_pob_impu_01_22["valor Imputado"] = ml_pob_impu_01_22.apply(m_imp, axis=1)

In [740]:
ml_pob_impu_01_22["Trimestre"] = (pd.Series(ml_pob_impu_01_22["Trimestre"],                                
                                          dtype = "string").str.split(r'\.\d', expand = True).get(0))

In [741]:
ml_pob_impu_01_22.to_excel("G:/Unidades compartidas/Mercado laboral/Datos/4_Output/ml_pob_impu_01_22.xlsx",     
                       sheet_name = "bogotá trim movil", header = True, index=False)