# librerias

In [ ]:
# import matplotlib.pyplot as plt
# import seaborn as sns
# import statsmodels.api as sm
# import statistics as stat
# import sklearn
# import scipy as sy 
# import plotly.graph_objects as go
# from plotly.subplots import make_subplots 
# import plotly.express as px
# from pandas.api.types import CategoricalDtype
# from sklearn.preprocessing import LabelEncoder
# import collections

# cambiar tema del libro

In [ ]:
#cambiar tema de blanco a negro
#! pip install jupyterthemes #este se aplica en anaconda powershell prompt
# import jupyterthemes as jt
# jt -t
#jupyher notebook

# Formato de variables
reemplazar, separar, convertir a entero, quitar comas, minusculas, mayusculas.

In [ ]:
#df7['clasif_lab'] = pd.Series(df7['clasif_lab'], dtype = "string").str.replace('No informa', '-1')
#df7['clasif_lab']= pd.Series(df7['clasif_lab'], dtype = "string").str.split('.', expand = True).get(0)
#df7['clasif_lab'] =pd.Series(df7['clasif_lab'], dtype = "int")
# otra formapd.Series(clasif_lab.str.split(".", expand = True).get(0),dtype="int")
##df3["sexo"] = df3["sexo"].str.lower()

# reemplazar tíldes variable a variable
# df3["afiliacion"] = df3["afiliacion"].str.replace("í", "i")

# df3['edad'] = pd.Series(dfs3['edad'], dtype = "string").str.replace('No informa', '-1')
# df3['edad']= pd.Series(df3['edad'], dtype = "string").str.split('.', expand = True).get(0)
# df3['edad'] =pd.Series(df3['edad'], dtype = "int")
#pd.to_numeric(df7["vr_salario"], downcast="float")s

In [ ]:
#volver a minuscula variable a variable
#mayus = lambda x: x.str.upper() if (x.dtype == 'string') else x
minus = lambda x: x.str.lower() if (x.dtype == 'string') else x
#mayus(df7['etnia']).value_counts()
#minus(df7['etnia']).value_counts()
df7['etnia'] = minus(df7['etnia'])
df7['etnia'].value_counts()

In [ ]:
# df3 = df3[df3.iloc[:, :] =="str"].apply(lambda x: x.astype(str).str.lower()) #if (x.dtype == "int") else x)
# df3 =df3.apply(lambda x: x.astype(str).str.replace("á", "a"))

In [ ]:
#nombre de columnas
#df7.columns.tolist()

# análisis descriptivo

In [ ]:
#df7.groupby(by=["Fecha"]).aggregate({"clasif_lab": [np.size]})
#df7.query('((fecha == "2010-12-31") & (clasif_lab == "1")) | ((fecha == "2013-12-31") & (clasif_lab == "2")) | ((fecha == "2016-12-31") & (clasif_lab == "1"))').count()
#df7.query('(fecha == "2016-12-31") & (13 < edad < 29) & (sexo == "hombre") & (clasif_lab == "1")')
#gener_2013: 128; hora_2010: 248; gene_2016: 37. existen 120 personas que estuvieron ocupadas en 2010 y que no está ocupadas en 2013. Mirarlas por id.

In [ ]:
# df3.iloc[:,:50].isnull().sum().sort_values(ascending = False) #vive_conyugue, beneficiario_sss, vr_rec_pension
# df3.iloc[:,51:100].isnull().sum().sort_values(ascending = False)
# df3.iloc[:,101:151].isnull().sum().sort_values(ascending = False)
# # df3.iloc[:,152:180].isnull().sum().sort_values(ascending = False)

In [ ]:
#Hyp_2016.shape
#Hyp_2016.head()
#print(Hyp_2013['llave_n16'].duplicated().sum())
# print(Hyp_2013['consecutivo_l'].duplicated().sum())
# print(Hyp_2013["llave_ID_lb"].isnull().sum())
# print(Hyp_2013["llave_ID_lb"].count())
# print(Hyp_2013['indicator_column'].value_counts())
#xxx
#Hyp_2013 = Hyp_2013.dropna(subset = ['llave_ID_lb'])
#Hyp_2016 = Hyp_2016.set_index('llave_ID_lb')
#len(aparecen_3veces)
#type(Hyp_2016)
#Hyp_2010.info()
#sorted(Hyp_2010.columns)
#pd.Series(Hyp_2010.columns).nunique()
#df3.query('(fecha == "2016-12-31") | (fecha == "2013-12-31") | (fecha == "2010-12-31")').count() 
#mask_1 = df2['ID'].value_counts()==1
#mask_1[mask_1==True].count()