In [1]:
import pandas as pd
#pip install pandas --upgrade
#pd.__version__
import numpy as np
#np.__version__
# from pandas_profiling import ProfileReport
import dtale
#from sklearn.preprocessing import LabelEncoder,MinMaxScaler,StandardScaler

In [2]:
# %run ./formateo_variables.ipynb
# %run ./Tesis_estadarización_construcción_variables_2.ipynb
%run ./bases_datos_tesis.ipynb

#### EDAD

In [11]:
#EDAD
def re(df):
    if (df["edad"] < 19):
        ed = "< 19"
    elif ((df["edad"] >= 19) and (df["edad"] <= 25)):
        ed = "19-25"
    elif ((df["edad"] > 25) and (df["edad"] <= 35)):
        ed = "26-35"
    elif ((df["edad"] > 35) and (df["edad"] <= 45)):
        ed = "36-45"
    elif ((df["edad"] > 45) and (df["edad"] <= 55)):
        ed = "46-55"
    elif (df["edad"] > 55):
        ed = "55+"
    else:
        ed = np.nan
    return(ed)

In [12]:
df7["rango_edad"] = df7.apply(re,axis = 1)

In [13]:
dfprueba["rango_edad"] = dfprueba.apply(re,axis = 1)

In [16]:
dfprueba["rango_edad"].notna().sum()

6816

#### Experiencia

In [40]:
#EDAD
def exp(df):
    if (df["exper"] <= 1):
        ex = "<= 1"
    elif ((df["exper"] > 1) and (df["exper"] <= 3)):
        ex = ">1-3"
    elif ((df["exper"] > 3) and (df["exper"] <= 5)):
        ex = ">3-5"
    elif ((df["exper"] > 5) and (df["exper"] <= 7)):
        ex = ">5-7"
    elif (df["exper"] > 7 and (df["exper"] <= 10)):
        ex = ">7-10"
    elif (df["exper"] > 10):
        ex = "10+"
    else:
        ex = np.nan
    return(ex)

In [41]:
df8["rango_exper"] = df8.apply(exp,axis = 1)

In [42]:
dfgroups["rango_exper"] = dfgroups.apply(exp,axis = 1)

In [43]:
dfgroups["rango_exper"].value_counts()

<= 1     2951
>1-3     1954
10+       584
>3-5      272
>5-7      212
>7-10     206
Name: rango_exper, dtype: int64

#### Tiempo de empleo recal trat y control

In [3]:
# d = dtale.show(df8, ignore_duplicate = True)
# d

In [84]:
d = dtale.show(dfgroups, ignore_duplicate = True)
d

#### imputación

In [284]:
#Se crean los subconjuntos de valores coherentes [a, i] y de incoherentes [j,r]
a = dfprueba[(dfprueba["tiempo_empleo"] > 0) & (dfprueba["tiempo_empleo"] <= 36) & 
             (dfprueba["camino"]=="t_uno") & (dfprueba["ano_encuesta"]== 2016)]
b = dfprueba[(dfprueba["tiempo_empleo"] > 0) & (dfprueba["tiempo_empleo"] <= 36) & 
             (dfprueba["camino"]=="t_dos") & (dfprueba["ano_encuesta"]== 2013)]
c = dfprueba[(dfprueba["tiempo_empleo"] > 0) & (dfprueba["tiempo_empleo"] <= 36) & 
              (dfprueba["camino"]=="t_tres") & (dfprueba["ano_encuesta"]== 2016)]
d = dfprueba[(dfprueba["tiempo_empleo"] > 0) & (dfprueba["tiempo_empleo"] <= 36) & 
              (dfprueba["camino"]=="t_cuatro") & (dfprueba["ano_encuesta"]== 2013)]
e = dfprueba[(dfprueba["tiempo_empleo"] > 0) & (dfprueba["tiempo_empleo"] <= 36) & 
             (dfprueba["camino"]=="t_cinco") & (dfprueba["ano_encuesta"]== 2016)]
f = dfprueba[(dfprueba["tiempo_empleo"] > 0) & (dfprueba["tiempo_empleo"] <= 36) & 
              (dfprueba["camino"]=="t_seis") & (dfprueba["ano_encuesta"]== 2016)]
g = dfprueba[(dfprueba["tiempo_empleo"] > 0) & (dfprueba["tiempo_empleo"] <= 36) & 
              (dfprueba["camino"]=="c_dos") & (dfprueba["ano_encuesta"]== 2013)]
h = dfprueba[(dfprueba["tiempo_empleo"] > 0) & (dfprueba["tiempo_empleo"] <= 36) & 
              (dfprueba["camino"]=="c_tres") & (dfprueba["ano_encuesta"]== 2013)]
i = dfprueba[(dfprueba["tiempo_empleo"] > 0) & (dfprueba["tiempo_empleo"] <= 36) & 
              (dfprueba["camino"]=="c_cuatro") & (dfprueba["ano_encuesta"]== 2016)]
j = dfprueba[(dfprueba["tiempo_empleo"] > 36) & (dfprueba["camino"]=="t_uno") & 
             (dfprueba["ano_encuesta"]== 2016)]
k = dfprueba[(dfprueba["tiempo_empleo"] > 36) & (dfprueba["camino"]=="t_dos") & 
             (dfprueba["ano_encuesta"]== 2013)]
l = dfprueba[(dfprueba["tiempo_empleo"] > 36) & (dfprueba["camino"]=="t_tres") & 
             (dfprueba["ano_encuesta"]== 2016)]
m = dfprueba[(dfprueba["tiempo_empleo"] > 36) & (dfprueba["camino"]=="t_cuatro") & 
             (dfprueba["ano_encuesta"]== 2013)]
n = dfprueba[(dfprueba["tiempo_empleo"] > 36) & (dfprueba["camino"]=="t_cinco") & 
             (dfprueba["ano_encuesta"]== 2016)]
o = dfprueba[(dfprueba["tiempo_empleo"] > 36) & (dfprueba["camino"]=="t_seis") & 
             (dfprueba["ano_encuesta"]== 2016)]
p = dfprueba[(dfprueba["tiempo_empleo"] > 36) & (dfprueba["camino"]=="c_dos") & 
             (dfprueba["ano_encuesta"]== 2013)]
q = dfprueba[(dfprueba["tiempo_empleo"] > 36) & (dfprueba["camino"]=="c_tres") & 
             (dfprueba["ano_encuesta"]== 2013)]
r = dfprueba[(dfprueba["tiempo_empleo"] > 36) & (dfprueba["camino"]=="c_cuatro") & 
             (dfprueba["ano_encuesta"]== 2016)]

In [285]:
# se calcula el promedio para los grupos [a, i]
a1= np.mean(a["tiempo_empleo"])
b1= np.mean(b["tiempo_empleo"]) 
c1= np.mean(c["tiempo_empleo"])
d1= np.mean(d["tiempo_empleo"])
e1= np.mean(e["tiempo_empleo"])
f1= np.mean(f["tiempo_empleo"])
g1= np.mean(g["tiempo_empleo"])
h1= np.mean(h["tiempo_empleo"])
i1= np.mean(i["tiempo_empleo"])

In [286]:
# aplico el promedio para los grupos [j,r]
j.loc[:,"tiempo_empleo"] = a1
k.loc[:,"tiempo_empleo"] = b1
l.loc[:,"tiempo_empleo"] = c1
m.loc[:,"tiempo_empleo"] = d1
n.loc[:,"tiempo_empleo"] = e1
o.loc[:,"tiempo_empleo"] = f1
p.loc[:,"tiempo_empleo"] = g1
q.loc[:,"tiempo_empleo"] = h1
r.loc[:,"tiempo_empleo"] = i1

In [287]:
subconjunto1 = [a,b,c,d,e,f,g,h,i]
for i in subconjunto1: ##imprime las dimensiones del conjunto coherente.
    print(i.shape)

(108, 179)
(691, 179)
(169, 179)
(91, 179)
(49, 179)
(63, 179)
(29, 179)
(74, 179)
(35, 179)

In [288]:
subconjunto22= [j, k, l, m, n, o, p, q, r]
for i in subconjunto22: #imprime las dimensiones del conjunto incoherente, al cual se le imputó cada promedio del conjunto coherente
    print(i.shape)

(0, 179)
(0, 179)
(0, 179)
(0, 179)
(0, 179)
(0, 179)
(16, 179)
(27, 179)
(27, 179)

In [289]:
#lista de dataframe a imputar, subcojunto [q, r]
for i in subconjunto22: #imprime los datos nulos del conjunto incoherente, al cual se le imputó cada promedio del conjunto coherente
    print(i["tiempo_empleo"].isnull().sum())

0
0
0
0
0
0
0
0
0

In [290]:
#lista de escalares, promedios, de subcojunto [a, i]
sub11= [a1, b1, c1, d1, e1, f1, g1, h1, i1]
print(sub11)

[14.132352941176483, 13.284313725490215, 13.655172413793089, 13.327868852459012, 12.212121212121215, 13.590909090909095, 11.448275862068966, 7.986486486486487, 12.82857142857143]

In [291]:
#imputación: inserción de subconjuntos imputados (corregidos) en la base original
for i in subconjunto22:
    dfprueba.update(i)

In [48]:
dfprueba.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 6816 entries, ('2010-12-31', 11112401) to ('2016-12-31', 21461302)
Columns: 178 entries, ola_l to scar_uno
dtypes: float64(73), object(105)
memory usage: 9.4+ MB

In [283]:
dfprueba["tiempo_empleo"].mean()

45.16409391771938

In [292]:
dfprueba["tiempo_empleo"].mean()

43.76486734019864

In [55]:
# se guarda la base de datos imputada con otro nombre para no sobreescribir la base original.
#dfprueba.to_csv('D:/maestria_ciencias_economicas_unal/tesis_scarring/base datos/ELCA_FINAL/PET_REDUC_Trat_ctrl_impu.csv', sep = ";")

### null

In [162]:
#Se crean los subconjuntos de valores incoherentes [j,r]
def nul(df):
    if ((df["tiempo_empleo"] > 36) & (df["camino"]=="t_uno") & 
        (df["ano_encuesta"]== 2016)):
        nu= np.nan
    elif ((df["tiempo_empleo"] > 36) & (df["camino"]=="t_dos") & 
          (df["ano_encuesta"]== 2013)):
        nu= np.nan
    elif ((df["tiempo_empleo"] > 36) & (df["camino"]=="t_tres") & 
          (df["ano_encuesta"]== 2016)):
        nu= np.nan
    elif ((df["tiempo_empleo"] > 36) & (df["camino"]== "t_cuatro") &
          (df["ano_encuesta"]== 2013)):
        nu= np.nan    
    elif ((df["tiempo_empleo"] > 36) & (df["camino"]=="t_cinco") &
          (df["ano_encuesta"]== 2016)):
        nu= np.nan
    elif ((df["tiempo_empleo"] > 36) & (df["camino"]=="t_seis") & 
          (df["ano_encuesta"]== 2016)):
        nu= np.nan
    elif ((df["tiempo_empleo"] > 36) & (df["camino"]=="c_dos") & 
          (df["ano_encuesta"]== 2013)):
        nu= np.nan
    elif ((df["tiempo_empleo"] > 36) & (df["camino"]=="c_tres") & 
          (df["ano_encuesta"]== 2013)):
        nu= np.nan
    elif ((df["tiempo_empleo"] > 36) & (df["camino"]=="c_cuatro") & 
          (df["ano_encuesta"]== 2016)):
        nu= np.nan
    elif ((df["tiempo_empleo"] > 36) & (["camino"]== "t_cuatro") & 
          (df["ano_encuesta"]== 2013)):
        nu= np.nan
    elif ((df["tiempo_empleo"] == np.nan) or (df["camino"]== np.nan) or 
          (df["ano_encuesta"]== np.nan)):
        nu=np.nan
    else:
        nu= df["tiempo_empleo"]
    return(nu)

In [163]:
dfprueba["tiempo_empleo"] = dfprueba.apply(nul, axis = 1)

In [3]:
dfprueba["tiempo_empleo"].notnull().sum()

6070

In [78]:
dfprueba["tiempo_empleo"].mean()

52.79406919275124

In [163]:
dfprueba["tiempo_empleo"].mean()

43.09738307991555

#### Df7

In [295]:
df7.pivot_table("tiempo_empleo", "ano_encuesta", "sexo", aggfunc =["count", "mean"])

              count              mean
sexo         hombre mujer      hombre      mujer
ano_encuesta
2010           2108  1866  124.278937  88.366024
2013           2069  2022   68.251812  47.036103
2016           2034  2080   73.661750  52.805288

In [222]:
df7.pivot_table("tiempo_empleo", "ano_encuesta", "sexo", aggfunc =["count", "mean"])

              count              mean
sexo         hombre mujer      hombre      mujer
ano_encuesta
2010.0         2108  1866  124.278937  88.366024
2013.0         2069  2022   54.045803  40.843886
2016.0         2034  2080   69.519884  48.708446

In [203]:
# indexar por fecha e ID para que cargue update
# el df7 tenía solo el índice "id" por lo que no hacía el update con el dfprueba.
# por tanto se reeindexa con el comando .set_index que acepta multiindex en forma de variable y de indice. 
# entonces se extrae el indice del df7 "id" en una lista y se coloca la variable la variable "Fecha"
#id_index_1= [i[1] for i in df7.index.to_list()]
df7.set_index(["Fecha", pd.Index(id_index_1, name = ["fecha", "ID"])])

In [241]:
#renombrar el indice y pasarlo como una variable
df7.rename_axis(index={'Fecha': 'fecha'}, inplace = True)

In [246]:
#crear variable Fecha para que corra el flujo de identificación
df7['Fecha']=[i[0] for i in df7.index.to_list()]

In [297]:
df7.update(dfprueba)

#### Simulación

In [99]:
arrays = [np.array(["2010-12-31", "2013-12-31", "2016-12-31", "2010-12-31", 
                    "2013-12-31", "2016-12-31", "2010-12-31", "2013-12-31", "2016-12-31", 
                    "2010-12-31", "2013-12-31", "2016-12-31", "2010-12-31", "2013-12-31", 
                    "2016-12-31"]),
np.array([11, 11, 11, 12, 12, 12, 13, 13, 13, 14, 14, 14, 15, 15, 15])]
index = pd.MultiIndex.from_arrays(arrays, names=["fecha", "persona"])
simul = pd.DataFrame({"ID":[11, 11, 11, 12, 12, 12, 13, 13, 13, 14, 14, 14, 15, 15, 15],
                      "Fecha": ["2010-12-31", "2013-12-31", "2016-12-31", "2010-12-31", 
                                "2013-12-31", "2016-12-31", "2010-12-31", "2013-12-31", 
                                "2016-12-31", "2010-12-31", "2013-12-31", "2016-12-31",
                                "2010-12-31", "2013-12-31", "2016-12-31"],
                      "clasif_lab": [1, 2, 1, 1, 1, 3, 1, 2, 1, 1, 1, 1, "x", "x", "x"],
                     "tiempo_empleo": [46.5,25.6,24,5,4,3,2,10,9,None,None, None,None,15,20],
                     "rango_edad": ["1","2","3","4","1","2","3","4","3",None,None, None,"1","2","3"]}, index= index)

simul.head(16)

                    ID       Fecha clasif_lab  tiempo_empleo rango_edad
fecha      persona
2010-12-31 11       11  2010-12-31          1           46.5          1
2013-12-31 11       11  2013-12-31          2           25.6          2
2016-12-31 11       11  2016-12-31          1           24.0          3
2010-12-31 12       12  2010-12-31          1            5.0          4
2013-12-31 12       12  2013-12-31          1            4.0          1
2016-12-31 12       12  2016-12-31          3            3.0          2
2010-12-31 13       13  2010-12-31          1            2.0          3
2013-12-31 13       13  2013-12-31          2           10.0          4
2016-12-31 13       13  2016-12-31          1            9.0          3
2010-12-31 14       14  2010-12-31          1            NaN       None
2013-12-31 14       14  2013-12-31          1            NaN       None
2016-12-31 14       14  2016-12-31          1            NaN       None
2010-12-31 15       15  2010-12-31          x            NaN          1
2013-12-31 15       15  2013-12-31          x           15.0          2
2016-12-31 15       15  2016-12-31          x           20.0          3

In [117]:
arrays = [np.array(["2010-12-31", "2013-12-31", "2016-12-31", 
                    "2010-12-31", "2013-12-31", "2016-12-31", "2010-12-31", "2013-12-31", 
                    "2016-12-31"]),
np.array([13, 13, 13, 14, 14, 14, 15, 15, 15])]
index = pd.MultiIndex.from_arrays(arrays, names=["fecha", "persona"])
simul_2 = pd.DataFrame({"ID":[13, 13, 13, 14, 14, 14, 15, 15, 15],
                      "Fecha": ["2010-12-31", "2013-12-31", 
                                "2016-12-31", "2010-12-31", "2013-12-31", "2016-12-31",
                                "2010-12-31", "2013-12-31", "2016-12-31"],
                        "clasif_lab": [1, 2, 1, 1, 1, 1, "x", "x", "x"],
                       "tiempo_empleo": [19,2,9,46.5,25.6,24,5,4,3],
                       "tcamino": ["t_uno","t_uno","t_uno", "c_uno","c_uno","c_uno","c_cuatro","c_cuatro","c_cuatro"]}, index= index)
simul_2

                    ID       Fecha clasif_lab  tiempo_empleo   tcamino
fecha      persona
2010-12-31 13       13  2010-12-31          1           19.0     t_uno
2013-12-31 13       13  2013-12-31          2            2.0     t_uno
2016-12-31 13       13  2016-12-31          1            9.0     t_uno
2010-12-31 14       14  2010-12-31          1           46.5     c_uno
2013-12-31 14       14  2013-12-31          1           25.6     c_uno
2016-12-31 14       14  2016-12-31          1           24.0     c_uno
2010-12-31 15       15  2010-12-31          x            5.0  c_cuatro
2013-12-31 15       15  2013-12-31          x            4.0  c_cuatro
2016-12-31 15       15  2016-12-31          x            3.0  c_cuatro

In [228]:
simul.update(simul_2)
#simul

In [120]:
#recategorizar variable a variable
np.array(simul['Fecha'])
simul["Fecha"] = LabelEncoder().fit(simul['Fecha']).transform(simul['Fecha'])

simul.head(15)

#print(LabelEncoder().fit(simul['Fecha']).transform(simul['Fecha']))

                    ID  Fecha clasif_lab  tiempo_empleo rango_edad  Fecha1
fecha      persona
2010-12-31 11       11      0          1           46.5          1       0
2013-12-31 11       11      1          2           25.6          2       1
2016-12-31 11       11      2          1           24.0          3       2
2010-12-31 12       12      0          1            5.0          4       0
2013-12-31 12       12      1          1            4.0          1       1
2016-12-31 12       12      2          3            3.0          2       2
2010-12-31 13       13      0          1            2.0          3       0
2013-12-31 13       13      1          2           10.0          4       1
2016-12-31 13       13      2          1            9.0          3       2
2010-12-31 14       14      0          1            NaN       None       0
2013-12-31 14       14      1          1            NaN       None       1
2016-12-31 14       14      2          1            NaN       None       2
2010-12-31 15       15      0          x            NaN          1       0
2013-12-31 15       15      1          x           15.0          2       1
2016-12-31 15       15      2          x           20.0          3       2

In [119]:
#recategorizar variable a variable
np.array(simul_2['tcamino'])
simul_2["tcamino"] = LabelEncoder().fit(simul_2['tcamino']).transform(simul_2['tcamino'])

simul_2.head(15)

                    ID       Fecha clasif_lab  tiempo_empleo  tcamino
fecha      persona
2010-12-31 13       13  2010-12-31          1           19.0        2
2013-12-31 13       13  2013-12-31          2            2.0        2
2016-12-31 13       13  2016-12-31          1            9.0        2
2010-12-31 14       14  2010-12-31          1           46.5        1
2013-12-31 14       14  2013-12-31          1           25.6        1
2016-12-31 14       14  2016-12-31          1           24.0        1
2010-12-31 15       15  2010-12-31          x            5.0        0
2013-12-31 15       15  2013-12-31          x            4.0        0
2016-12-31 15       15  2016-12-31          x            3.0        0

### Educación

In [84]:
def educa(df):
    if ((df["Fecha"]!=np.nan) and (df["estudia"]== "Si")):
        e = df["nivel_educ_cursa"]
    elif ((df["Fecha"]!=np.nan) and (df["estudia"]!= "Si")): 
        e = df["nivel_educ"]     
    return(e)

In [85]:
df7["educación"]= df7.apply(educa,axis = 1)

In [86]:
dfprueba["educación"]= dfprueba.apply(educa,axis = 1)

In [88]:
df7["educación"]= df7["educación"].fillna(method="ffill")

In [89]:
dfprueba["educación"]= dfprueba["educación"].fillna(method="ffill")

In [95]:
dfprueba["educación"].value_counts(dropna=False)

Básica secundaria y media (6 a 13)    3060
Básica primaria (1 a 5)               1890
Técnico con título                     469
Universitario con título               343
Ninguno                                287
Universitario sin título               201
Tecnológico con título                 180
Posgrado con título                    128
Técnico                                104
Universitario                          104
Técnico sin título                      92
Posgrado                                49
Tecnológico                             36
Tecnológico sin título                  26
Posgrado sin título                     12
Name: educación, dtype: int64

In [96]:
table_2_educ = df7.pivot_table(values= ["tiempo_empleo"],
                                  index=["educación"],
                                  columns=["Fecha"], aggfunc= ["count", "mean"], margins = True, dropna =True)
round(table_2_educ,2)#, 2).iloc[:, [1,4,]]

                                           count                               \
                                   tiempo_empleo
Fecha                                 2010-12-31 2013-12-31 2016-12-31    All
educación
Básica primaria (1 a 5)                     1101       1066       1053   3220
Básica secundaria y media (6 a 13)          1754       1752       1714   5220
Ninguno                                      163        159        160    482
Posgrado                                      33         22         38     93
Posgrado con título                           77        113        118    308
Posgrado sin título                           10          5          8     23
Tecnológico                                   18         15         19     52
Tecnológico con título                        90        104        104    298
Tecnológico sin título                        25         19         19     63
Técnico                                       46         42         71    159
Técnico con título                           220        333        354    907
Técnico sin título                            44         57         56    157
Universitario                                 53         63         70    186
Universitario con título                     232        225        214    671
Universitario sin título                     108        116        116    340
All                                         3974       4091       4114  12179

                                            mean
                                   tiempo_empleo
Fecha                                 2010-12-31 2013-12-31 2016-12-31     All
educación
Básica primaria (1 a 5)                   119.50      52.07      66.42   79.81
Básica secundaria y media (6 a 13)         95.48      44.13      50.89   63.60
Ninguno                                   134.69      59.76      79.23   91.56
Posgrado                                  130.27      67.68      53.71   84.18
Posgrado con título                       170.30      70.31     117.46  113.37
Posgrado sin título                       181.20      42.60      77.52  115.01
Tecnológico                                97.39      28.09      38.34   55.82
Tecnológico con título                    102.19      44.34      44.05   61.71
Tecnológico sin título                    140.20      37.94      42.48   79.89
Técnico                                    84.37      31.54      40.39   50.78
Técnico con título                         93.84      44.17      50.84   58.82
Técnico sin título                         80.59      34.36      38.63   48.84
Universitario                              70.47      25.82      49.93   47.62
Universitario con título                  130.39      46.83      58.97   79.59
Universitario sin título                   93.99      38.16      45.24   58.31
All                                       107.42      47.00      57.58   70.29

#### Ocupacion2

In [12]:
#copia de ocupación df7
df7["ocupacion2"] = df7["ocupacion"]

In [13]:
#copia de ocupación dfrpueba
dfprueba["ocupacion2"] = dfprueba["ocupacion"]

#### Años de Educación superior (anos_superior2)

In [5]:
def a_sup(df):
    if (df["anos_superior"] <=1):
        su = "0-1"
    elif ((df["anos_superior"] > 1) and (df["anos_superior"] <= 3)):
        su = "2-3"
    elif ((df["anos_superior"] > 3) and (df["anos_superior"] <= 5)):
        su = "4-5"
    elif (df["anos_superior"] > 5):
        su = "5+"
    else:
        su = np.nan
    return(su)

In [6]:
df7["anos_superior2"] = df7.apply(a_sup,axis = 1)

In [7]:
dfprueba["anos_superior2"] = dfprueba.apply(a_sup,axis = 1)

#### horas de trabajo

In [9]:
def horas_t(df):
    if (df["horas_normal"] <=24):
        ht = "-25"
    elif ((df["horas_normal"] > 24) and (df["horas_normal"] < 48)):
        ht = "25-47"
    elif (df["horas_normal"] == 48):
        ht = "48"
    elif (df["horas_normal"] > 48):
        ht = "48+"
    else:
        ht = np.nan
    return(ht)

In [10]:
df7["horas_normal_2"] = df7.apply(horas_t,axis = 1)

In [11]:
dfprueba["horas_normal_2"] = dfprueba.apply(horas_t,axis = 1)

#### Ingreso laboral, no laboral y total

In [61]:
# Ingreso laboral
col_sum = ["vr_salario", "vr_alimentos_pago", "vr_vivienda_pago", "vr_educ_pago", "vr_subalimentacion", 
          "vr_subtransporte","vr_subfamiliar","vr_bonos", "pagos_adicion", "vr_salario_mes"]
df7["Ingreso_laboral"] = df7[col_sum].sum(axis=1, min_count=1) #min_count=0 deja los valores np.nan y empty como cero
dfprueba["Ingreso_laboral"] = dfprueba[col_sum].sum(axis=1, min_count=1)       
print(df7["Ingreso_laboral"].value_counts(dropna= False))
print(dfprueba["Ingreso_laboral"].value_counts(dropna= False))

NaN          11351
800000.0       235
600000.0       218
700000.0       190
1000000.0      177
             ...
763000.0         1
787500.0         1
858000.0         1
529500.0         1
245000.0         1
Name: Ingreso_laboral, Length: 1204, dtype: int64
NaN          3935
600000.0      120
800000.0      112
700000.0      108
200000.0      106
             ...
612600.0        1
423000.0        1
634100.0        1
8000000.0       1
1026000.0       1
Name: Ingreso_laboral, Length: 762, dtype: int64

In [82]:
# Ingreso no laboral df7 y dfprueba
df7["vr_ganancia_2"] = df7["vr_ganancia"].divide(df7["meses_ganancia"])
df7["vr_rec_dividendos_2"]= df7["vr_rec_dividendos"].divide(12)
dfprueba["vr_ganancia_2"] = dfprueba["vr_ganancia"].divide(dfprueba["meses_ganancia"])
dfprueba["vr_rec_dividendos_2"]= dfprueba["vr_rec_dividendos"].divide(12)

col_sum_2=["vr_ganancia_2",  "vr_rec_pension", "vr_rec_arriendos", "vr_rec_dividendos_2"]

df7["Ingreso_no_laboral"] = df7[col_sum_2].sum(axis=1, min_count=1)
dfprueba["Ingreso_no_laboral"] = dfprueba[col_sum_2].sum(axis=1, min_count=1)   

print(df7["Ingreso_no_laboral"].value_counts(dropna= False))
print(dfprueba["Ingreso_no_laboral"].value_counts(dropna= False))

NaN          10624
300000.0       488
600000.0       423
500000.0       384
200000.0       360
             ...
1889000.0        1
7370000.0        1
588600.0         1
684400.0         1
892917.0         1
Name: Ingreso_no_laboral, Length: 584, dtype: int64

In [92]:
#remuneración
col_sum_1 = ["Ingreso_laboral", "Ingreso_no_laboral"]
df7["Ingreso_total"] = df7[col_sum_1].sum(axis=1, min_count=1)
dfprueba["Ingreso_total"] = dfprueba[col_sum_1].sum(axis=1, min_count=1)
print(df7["Ingreso_total"].value_counts(dropna= False))

#### Quintiles de ingreso

In [34]:
list_1 = ["Ingreso_total", "Ingreso_laboral", "Ingreso_no_laboral"]
list_2 = ["q_Ingreso_total","q_Ingreso_laboral", "q_Ingreso_no_laboral"]
for i, j in zip(list_1, list_2):  
    df7[j]=pd.qcut(df7[i], 5, labels=[1,2,3,4,5])
    dfprueba[j]=pd.qcut(dfprueba[i], 5, labels=[1,2,3,4,5])

In [3]:
#quintiles deflactados para las nuevas bases
list_1 = ["Ingreso_total_dflac", "Ingreso_laboral_dflac", "Ingreso_no_laboral_dflac"]
list_2 = ["q_Ingreso_total","q_Ingreso_laboral", "q_Ingreso_no_laboral"]
for i, j in zip(list_1, list_2):  
    df8[j]=pd.qcut(df8[i], 5, labels=[1,2,3,4,5])
    dfgroups[j]=pd.qcut(dfgroups[i], 5, labels=[1,2,3,4,5])

#### 2da Corrección Tiempo de Empleo

In [33]:
# Ajustar los caminos del grupo de tratamiento de acuerdo con la variable retrospectiva de tiempo de empleo
#de la siguiente manera:
#1. más de dos años
#Se crean los subconjuntos de valores coherentes [a, l]
a = dfprueba[((dfprueba["tiempo_desemp"]== "Más de 2 años") &
             (dfprueba["tiempo_empleo"] > 0) & (dfprueba["tiempo_empleo"] < 12) & 
             (dfprueba["camino"]=="t_uno") & (dfprueba["ano_encuesta"]== 2013))]
b = dfprueba[((dfprueba["tiempo_desemp"]== "Más de 2 años") &
             (dfprueba["tiempo_empleo"] > 0) & (dfprueba["tiempo_empleo"] < 12) & 
             (dfprueba["camino"]=="t_uno") & (dfprueba["ano_encuesta"]== 2016))]
c = dfprueba[((dfprueba["tiempo_desemp"]== "Más de 2 años") &
             (dfprueba["tiempo_empleo"] > 0) & (dfprueba["tiempo_empleo"] < 12) & 
             (dfprueba["camino"]=="t_dos") & (dfprueba["ano_encuesta"]== 2013))]
d = dfprueba[((dfprueba["tiempo_desemp"]== "Más de 2 años") &
             (dfprueba["tiempo_empleo"] > 0) & (dfprueba["tiempo_empleo"] < 12) & 
             (dfprueba["camino"]=="t_dos") & (dfprueba["ano_encuesta"]== 2016))]
e = dfprueba[((dfprueba["tiempo_desemp"]== "Más de 2 años") &
             (dfprueba["tiempo_empleo"] > 0) & (dfprueba["tiempo_empleo"] < 12) & 
             (dfprueba["camino"]=="t_tres") & (dfprueba["ano_encuesta"]== 2013))]
f = dfprueba[((dfprueba["tiempo_desemp"]== "Más de 2 años") &
             (dfprueba["tiempo_empleo"] > 0) & (dfprueba["tiempo_empleo"] < 12) & 
             (dfprueba["camino"]=="t_tres") & (dfprueba["ano_encuesta"]== 2016))]
g = dfprueba[((dfprueba["tiempo_desemp"]== "Más de 2 años") &
             (dfprueba["tiempo_empleo"] > 0) & (dfprueba["tiempo_empleo"] < 12) & 
              (dfprueba["camino"]=="t_cuatro") & (dfprueba["ano_encuesta"]== 2013))]
h = dfprueba[((dfprueba["tiempo_desemp"]== "Más de 2 años") &
             (dfprueba["tiempo_empleo"] > 0) & (dfprueba["tiempo_empleo"] < 12) & 
              (dfprueba["camino"]=="t_cuatro") & (dfprueba["ano_encuesta"]== 2016))]
i = dfprueba[((dfprueba["tiempo_desemp"]== "Más de 2 años") & 
               (dfprueba["tiempo_empleo"] > 0) & (dfprueba["tiempo_empleo"] < 12) & 
               (dfprueba["camino"]=="t_cinco") & (dfprueba["ano_encuesta"]== 2013))]
j = dfprueba[((dfprueba["tiempo_desemp"]== "Más de 2 años") & 
               (dfprueba["tiempo_empleo"] > 0) & (dfprueba["tiempo_empleo"] < 12) & 
               (dfprueba["camino"]=="t_cinco") & (dfprueba["ano_encuesta"]== 2016))]
k = dfprueba[((dfprueba["tiempo_desemp"]== "Más de 2 años") & 
               (dfprueba["tiempo_empleo"] > 0) & (dfprueba["tiempo_empleo"] < 12) & 
               (dfprueba["camino"]=="t_seis") & (dfprueba["ano_encuesta"]== 2013))]
l =dfprueba[((dfprueba["tiempo_desemp"]== "Más de 2 años") & 
               (dfprueba["tiempo_empleo"] > 0) & (dfprueba["tiempo_empleo"] < 12) & 
               (dfprueba["camino"]=="t_seis") & (dfprueba["ano_encuesta"]== 2016))]

In [34]:
#2. Entre 1 año y 2 años
#Se crean los subconjuntos de valores coherentes [aa, ll] 
aa = dfprueba[((dfprueba["tiempo_desemp"]== "Entre 1 año y 2 años") &
             (dfprueba["tiempo_empleo"] > 0) & (dfprueba["tiempo_empleo"] < 24) & 
             (dfprueba["camino"]=="t_uno") & (dfprueba["ano_encuesta"]== 2013))]
bb = dfprueba[((dfprueba["tiempo_desemp"]== "Entre 1 año y 2 años") &
             (dfprueba["tiempo_empleo"] > 0) & (dfprueba["tiempo_empleo"] < 24) & 
             (dfprueba["camino"]=="t_uno") & (dfprueba["ano_encuesta"]== 2016))]
cc = dfprueba[((dfprueba["tiempo_desemp"]== "Entre 1 año y 2 años") &
             (dfprueba["tiempo_empleo"] > 0) & (dfprueba["tiempo_empleo"] < 24) & 
             (dfprueba["camino"]=="t_dos") & (dfprueba["ano_encuesta"]== 2013))]
dd = dfprueba[((dfprueba["tiempo_desemp"]== "Entre 1 año y 2 años") &
             (dfprueba["tiempo_empleo"] > 0) & (dfprueba["tiempo_empleo"] < 24) & 
             (dfprueba["camino"]=="t_dos") & (dfprueba["ano_encuesta"]== 2016))]
ee = dfprueba[((dfprueba["tiempo_desemp"]== "Entre 1 año y 2 años") &
             (dfprueba["tiempo_empleo"] > 0) & (dfprueba["tiempo_empleo"] < 24) & 
             (dfprueba["camino"]=="t_tres") & (dfprueba["ano_encuesta"]== 2013))]
ff = dfprueba[((dfprueba["tiempo_desemp"]== "Entre 1 año y 2 años") &
             (dfprueba["tiempo_empleo"] > 0) & (dfprueba["tiempo_empleo"] < 24) & 
             (dfprueba["camino"]=="t_tres") & (dfprueba["ano_encuesta"]== 2016))]
gg = dfprueba[((dfprueba["tiempo_desemp"]== "Entre 1 año y 2 años") &
             (dfprueba["tiempo_empleo"] > 0) & (dfprueba["tiempo_empleo"] < 24) & 
              (dfprueba["camino"]=="t_cuatro") & (dfprueba["ano_encuesta"]== 2013))]
hh = dfprueba[((dfprueba["tiempo_desemp"]== "Entre 1 año y 2 años") &
             (dfprueba["tiempo_empleo"] > 0) & (dfprueba["tiempo_empleo"] < 24) & 
              (dfprueba["camino"]=="t_cuatro") & (dfprueba["ano_encuesta"]== 2016))]
ii = dfprueba[((dfprueba["tiempo_desemp"]== "Entre 1 año y 2 años") & 
               (dfprueba["tiempo_empleo"] > 0) & (dfprueba["tiempo_empleo"] < 24) & 
               (dfprueba["camino"]=="t_cinco") & (dfprueba["ano_encuesta"]== 2013))]
jj = dfprueba[((dfprueba["tiempo_desemp"]== "Entre 1 año y 2 años") & 
               (dfprueba["tiempo_empleo"] > 0) & (dfprueba["tiempo_empleo"] < 24) & 
               (dfprueba["camino"]=="t_cinco") & (dfprueba["ano_encuesta"]== 2016))]
kk = dfprueba[((dfprueba["tiempo_desemp"]== "Entre 1 año y 2 años") & 
               (dfprueba["tiempo_empleo"] > 0) & (dfprueba["tiempo_empleo"] < 24) & 
               (dfprueba["camino"]=="t_seis") & (dfprueba["ano_encuesta"]== 2013))]
ll =dfprueba[((dfprueba["tiempo_desemp"]== "Entre 1 año y 2 años") & 
               (dfprueba["tiempo_empleo"] > 0) & (dfprueba["tiempo_empleo"] < 24) & 
               (dfprueba["camino"]=="t_seis") & (dfprueba["ano_encuesta"]== 2016))]

In [35]:
#3. Entre 6 meses y 11 meses
#Se crean los subconjuntos de valores coherentes [aaa, lll] y
aaa = dfprueba[((dfprueba["tiempo_desemp"]== "Entre 6 meses y 11 meses") &
             (dfprueba["tiempo_empleo"] > 0) & (dfprueba["tiempo_empleo"] < 30) & 
             (dfprueba["camino"]=="t_uno") & (dfprueba["ano_encuesta"]== 2013))]
bbb = dfprueba[((dfprueba["tiempo_desemp"]== "Entre 6 meses y 11 meses") &
             (dfprueba["tiempo_empleo"] > 0) & (dfprueba["tiempo_empleo"] < 30) & 
             (dfprueba["camino"]=="t_uno") & (dfprueba["ano_encuesta"]== 2016))]
ccc = dfprueba[((dfprueba["tiempo_desemp"]== "Entre 6 meses y 11 meses") &
             (dfprueba["tiempo_empleo"] > 0) & (dfprueba["tiempo_empleo"] < 30) & 
             (dfprueba["camino"]=="t_dos") & (dfprueba["ano_encuesta"]== 2013))]
ddd = dfprueba[((dfprueba["tiempo_desemp"]== "Entre 6 meses y 11 meses") &
             (dfprueba["tiempo_empleo"] > 0) & (dfprueba["tiempo_empleo"] < 30) & 
             (dfprueba["camino"]=="t_dos") & (dfprueba["ano_encuesta"]== 2016))]
eee = dfprueba[((dfprueba["tiempo_desemp"]== "Entre 6 meses y 11 meses") &
             (dfprueba["tiempo_empleo"] > 0) & (dfprueba["tiempo_empleo"] < 30) & 
             (dfprueba["camino"]=="t_tres") & (dfprueba["ano_encuesta"]== 2013))]
fff = dfprueba[((dfprueba["tiempo_desemp"]== "Entre 6 meses y 11 meses") &
             (dfprueba["tiempo_empleo"] > 0) & (dfprueba["tiempo_empleo"] < 30) & 
             (dfprueba["camino"]=="t_tres") & (dfprueba["ano_encuesta"]== 2016))]
ggg = dfprueba[((dfprueba["tiempo_desemp"]== "Entre 6 meses y 11 meses") &
             (dfprueba["tiempo_empleo"] > 0) & (dfprueba["tiempo_empleo"] < 30) & 
              (dfprueba["camino"]=="t_cuatro") & (dfprueba["ano_encuesta"]== 2013))]
hhh = dfprueba[((dfprueba["tiempo_desemp"]== "Entre 6 meses y 11 meses") &
             (dfprueba["tiempo_empleo"] > 0) & (dfprueba["tiempo_empleo"] < 30) & 
              (dfprueba["camino"]=="t_cuatro") & (dfprueba["ano_encuesta"]== 2016))]
iii = dfprueba[((dfprueba["tiempo_desemp"]== "Entre 6 meses y 11 meses") & 
               (dfprueba["tiempo_empleo"] > 0) & (dfprueba["tiempo_empleo"] < 30) & 
               (dfprueba["camino"]=="t_cinco") & (dfprueba["ano_encuesta"]== 2013))]
jjj = dfprueba[((dfprueba["tiempo_desemp"]== "Entre 6 meses y 11 meses") & 
               (dfprueba["tiempo_empleo"] > 0) & (dfprueba["tiempo_empleo"] < 30) & 
               (dfprueba["camino"]=="t_cinco") & (dfprueba["ano_encuesta"]== 2016))]
kkk = dfprueba[((dfprueba["tiempo_desemp"]== "Entre 6 meses y 11 meses") & 
               (dfprueba["tiempo_empleo"] > 0) & (dfprueba["tiempo_empleo"] < 30) & 
               (dfprueba["camino"]=="t_seis") & (dfprueba["ano_encuesta"]== 2013))]
lll =dfprueba[((dfprueba["tiempo_desemp"]== "Entre 6 meses y 11 meses") & 
               (dfprueba["tiempo_empleo"] > 0) & (dfprueba["tiempo_empleo"] < 30) & 
               (dfprueba["camino"]=="t_seis") & (dfprueba["ano_encuesta"]== 2016))]

In [36]:
#4. Menos de 6 meses
#Se crean los subconjuntos de valores coherentes [aaaa, llll] 
aaaa = dfprueba[((dfprueba["tiempo_desemp"]== "Menos de 6 meses") &
             (dfprueba["tiempo_empleo"] > 0) & (dfprueba["tiempo_empleo"] < 35) & 
             (dfprueba["camino"]=="t_uno") & (dfprueba["ano_encuesta"]== 2013))]
bbbb = dfprueba[((dfprueba["tiempo_desemp"]== "Menos de 6 meses") &
             (dfprueba["tiempo_empleo"] > 0) & (dfprueba["tiempo_empleo"] < 35) & 
             (dfprueba["camino"]=="t_uno") & (dfprueba["ano_encuesta"]== 2016))]
cccc = dfprueba[((dfprueba["tiempo_desemp"]== "Menos de 6 meses") &
             (dfprueba["tiempo_empleo"] > 0) & (dfprueba["tiempo_empleo"] < 35) & 
             (dfprueba["camino"]=="t_dos") & (dfprueba["ano_encuesta"]== 2013))]
dddd = dfprueba[((dfprueba["tiempo_desemp"]== "Menos de 6 meses") &
             (dfprueba["tiempo_empleo"] > 0) & (dfprueba["tiempo_empleo"] < 35) & 
             (dfprueba["camino"]=="t_dos") & (dfprueba["ano_encuesta"]== 2016))]
eeee = dfprueba[((dfprueba["tiempo_desemp"]== "Menos de 6 meses") &
             (dfprueba["tiempo_empleo"] > 0) & (dfprueba["tiempo_empleo"] < 35) & 
             (dfprueba["camino"]=="t_tres") & (dfprueba["ano_encuesta"]== 2013))]
ffff = dfprueba[((dfprueba["tiempo_desemp"]== "Menos de 6 meses") &
             (dfprueba["tiempo_empleo"] > 0) & (dfprueba["tiempo_empleo"] < 35) & 
             (dfprueba["camino"]=="t_tres") & (dfprueba["ano_encuesta"]== 2016))]
gggg = dfprueba[((dfprueba["tiempo_desemp"]== "Menos de 6 meses") &
             (dfprueba["tiempo_empleo"] > 0) & (dfprueba["tiempo_empleo"] < 35) & 
              (dfprueba["camino"]=="t_cuatro") & (dfprueba["ano_encuesta"]== 2013))]
hhhh = dfprueba[((dfprueba["tiempo_desemp"]== "Menos de 6 meses") &
             (dfprueba["tiempo_empleo"] > 0) & (dfprueba["tiempo_empleo"] < 35) & 
              (dfprueba["camino"]=="t_cuatro") & (dfprueba["ano_encuesta"]== 2016))]
iiii = dfprueba[((dfprueba["tiempo_desemp"]== "Menos de 6 meses") & 
               (dfprueba["tiempo_empleo"] > 0) & (dfprueba["tiempo_empleo"] < 35) & 
               (dfprueba["camino"]=="t_cinco") & (dfprueba["ano_encuesta"]== 2013))]
jjjj = dfprueba[((dfprueba["tiempo_desemp"]== "Menos de 6 meses") & 
               (dfprueba["tiempo_empleo"] > 0) & (dfprueba["tiempo_empleo"] < 35) & 
               (dfprueba["camino"]=="t_cinco") & (dfprueba["ano_encuesta"]== 2016))]
kkkk = dfprueba[((dfprueba["tiempo_desemp"]== "Menos de 6 meses") & 
               (dfprueba["tiempo_empleo"] > 0) & (dfprueba["tiempo_empleo"] < 35) & 
               (dfprueba["camino"]=="t_seis") & (dfprueba["ano_encuesta"]== 2013))]
llll =dfprueba[((dfprueba["tiempo_desemp"]== "Menos de 6 meses") & 
               (dfprueba["tiempo_empleo"] > 0) & (dfprueba["tiempo_empleo"] < 35) & 
               (dfprueba["camino"]=="t_seis") & (dfprueba["ano_encuesta"]== 2016))]

In [37]:
#1. Más de 2 años
#Se crean los subconjuntos de valores incoherentes [m,x]
m = dfprueba[((dfprueba["tiempo_desemp"]== "Más de 2 años") &
             (dfprueba["tiempo_empleo"] >= 12)  & 
             (dfprueba["camino"]=="t_uno") & (dfprueba["ano_encuesta"]== 2013))]
n = dfprueba[((dfprueba["tiempo_desemp"]== "Más de 2 años") &
             (dfprueba["tiempo_empleo"] >= 12)  & 
             (dfprueba["camino"]=="t_uno") & (dfprueba["ano_encuesta"]== 2016))]
o = dfprueba[((dfprueba["tiempo_desemp"]== "Más de 2 años") &
             (dfprueba["tiempo_empleo"] >= 12)  & 
             (dfprueba["camino"]=="t_dos") & (dfprueba["ano_encuesta"]== 2013))]
p = dfprueba[((dfprueba["tiempo_desemp"]== "Más de 2 años") &
             (dfprueba["tiempo_empleo"] >= 12)  & 
             (dfprueba["camino"]=="t_dos") & (dfprueba["ano_encuesta"]== 2016))]
q = dfprueba[((dfprueba["tiempo_desemp"]== "Más de 2 años") &
             (dfprueba["tiempo_empleo"] >= 12)  & 
             (dfprueba["camino"]=="t_tres") & (dfprueba["ano_encuesta"]== 2013))]
r = dfprueba[((dfprueba["tiempo_desemp"]== "Más de 2 años") &
             (dfprueba["tiempo_empleo"] >= 12)  & 
             (dfprueba["camino"]=="t_tres") & (dfprueba["ano_encuesta"]== 2016))]
s = dfprueba[((dfprueba["tiempo_desemp"]== "Más de 2 años") &
             (dfprueba["tiempo_empleo"] >= 12)  & 
              (dfprueba["camino"]=="t_cuatro") & (dfprueba["ano_encuesta"]== 2013))]
t = dfprueba[((dfprueba["tiempo_desemp"]== "Más de 2 años") &
             (dfprueba["tiempo_empleo"] >= 12)  & 
              (dfprueba["camino"]=="t_cuatro") & (dfprueba["ano_encuesta"]== 2016))]
u = dfprueba[((dfprueba["tiempo_desemp"]== "Más de 2 años") & 
               (dfprueba["tiempo_empleo"] >= 12)  & 
               (dfprueba["camino"]=="t_cinco") & (dfprueba["ano_encuesta"]== 2013))]
v = dfprueba[((dfprueba["tiempo_desemp"]== "Más de 2 años") & 
               (dfprueba["tiempo_empleo"] >= 12)  & 
               (dfprueba["camino"]=="t_cinco") & (dfprueba["ano_encuesta"]== 2016))]
w = dfprueba[((dfprueba["tiempo_desemp"]== "Más de 2 años") & 
               (dfprueba["tiempo_empleo"] >= 12)  & 
               (dfprueba["camino"]=="t_seis") & (dfprueba["ano_encuesta"]== 2013))]
x =dfprueba[((dfprueba["tiempo_desemp"]== "Más de 2 años") & 
               (dfprueba["tiempo_empleo"] >= 12)  & 
               (dfprueba["camino"]=="t_seis") & (dfprueba["ano_encuesta"]== 2016))]

In [38]:
#2. Entre 1 año y 2 años
#Se crean los subconjuntos de valores incoherentes [mm,xx]
mm = dfprueba[((dfprueba["tiempo_desemp"]== "Entre 1 año y 2 años") &
             (dfprueba["tiempo_empleo"] >= 24) & 
             (dfprueba["camino"]=="t_uno") & (dfprueba["ano_encuesta"]== 2013))]
nn = dfprueba[((dfprueba["tiempo_desemp"]== "Entre 1 año y 2 años") &
             (dfprueba["tiempo_empleo"] >= 24) & 
             (dfprueba["camino"]=="t_uno") & (dfprueba["ano_encuesta"]== 2016))]
oo = dfprueba[((dfprueba["tiempo_desemp"]== "Entre 1 año y 2 años") &
             (dfprueba["tiempo_empleo"] >= 24) & 
             (dfprueba["camino"]=="t_dos") & (dfprueba["ano_encuesta"]== 2013))]
pp = dfprueba[((dfprueba["tiempo_desemp"]== "Entre 1 año y 2 años") &
             (dfprueba["tiempo_empleo"] >= 24) & 
             (dfprueba["camino"]=="t_dos") & (dfprueba["ano_encuesta"]== 2016))]
qq = dfprueba[((dfprueba["tiempo_desemp"]== "Entre 1 año y 2 años") &
             (dfprueba["tiempo_empleo"] >= 24) & 
             (dfprueba["camino"]=="t_tres") & (dfprueba["ano_encuesta"]== 2013))]
rr = dfprueba[((dfprueba["tiempo_desemp"]== "Entre 1 año y 2 años") &
             (dfprueba["tiempo_empleo"] >= 24) & 
             (dfprueba["camino"]=="t_tres") & (dfprueba["ano_encuesta"]== 2016))]
ss = dfprueba[((dfprueba["tiempo_desemp"]== "Entre 1 año y 2 años") &
             (dfprueba["tiempo_empleo"] >= 24) & 
              (dfprueba["camino"]=="t_cuatro") & (dfprueba["ano_encuesta"]== 2013))]
tt = dfprueba[((dfprueba["tiempo_desemp"]== "Entre 1 año y 2 años") &
             (dfprueba["tiempo_empleo"] >= 24) & 
              (dfprueba["camino"]=="t_cuatro") & (dfprueba["ano_encuesta"]== 2016))]
uu = dfprueba[((dfprueba["tiempo_desemp"]== "Entre 1 año y 2 años") & 
               (dfprueba["tiempo_empleo"] >= 24) & 
               (dfprueba["camino"]=="t_cinco") & (dfprueba["ano_encuesta"]== 2013))]
vv = dfprueba[((dfprueba["tiempo_desemp"]== "Entre 1 año y 2 años") & 
               (dfprueba["tiempo_empleo"] >= 24) & 
               (dfprueba["camino"]=="t_cinco") & (dfprueba["ano_encuesta"]== 2016))]
ww = dfprueba[((dfprueba["tiempo_desemp"]== "Entre 1 año y 2 años") & 
               (dfprueba["tiempo_empleo"] >= 24) & 
               (dfprueba["camino"]=="t_seis") & (dfprueba["ano_encuesta"]== 2013))]
xx =dfprueba[((dfprueba["tiempo_desemp"]== "Entre 1 año y 2 años") & 
               (dfprueba["tiempo_empleo"] >= 24) & 
               (dfprueba["camino"]=="t_seis") & (dfprueba["ano_encuesta"]== 2016))]

In [39]:
#3. Entre 6 meses y 11 meses
#Se crean los subconjuntos de valores incoherentes [mmm,xxx]
mmm = dfprueba[((dfprueba["tiempo_desemp"]== "Entre 6 meses y 11 meses") &
             (dfprueba["tiempo_empleo"] >= 30) & 
             (dfprueba["camino"]=="t_uno") & (dfprueba["ano_encuesta"]== 2013))]
nnn = dfprueba[((dfprueba["tiempo_desemp"]== "Entre 6 meses y 11 meses") &
             (dfprueba["tiempo_empleo"] >= 30) & 
             (dfprueba["camino"]=="t_uno") & (dfprueba["ano_encuesta"]== 2016))]
ooo = dfprueba[((dfprueba["tiempo_desemp"]== "Entre 6 meses y 11 meses") &
             (dfprueba["tiempo_empleo"] >= 30) & 
             (dfprueba["camino"]=="t_dos") & (dfprueba["ano_encuesta"]== 2013))]
ppp = dfprueba[((dfprueba["tiempo_desemp"]== "Entre 6 meses y 11 meses") &
             (dfprueba["tiempo_empleo"] >= 30) & 
             (dfprueba["camino"]=="t_dos") & (dfprueba["ano_encuesta"]== 2016))]
qqq = dfprueba[((dfprueba["tiempo_desemp"]== "Entre 6 meses y 11 meses") &
             (dfprueba["tiempo_empleo"] >= 30) & 
             (dfprueba["camino"]=="t_tres") & (dfprueba["ano_encuesta"]== 2013))]
rrr = dfprueba[((dfprueba["tiempo_desemp"]== "Entre 6 meses y 11 meses") &
             (dfprueba["tiempo_empleo"] >= 30) & 
             (dfprueba["camino"]=="t_tres") & (dfprueba["ano_encuesta"]== 2016))]
sss = dfprueba[((dfprueba["tiempo_desemp"]== "Entre 6 meses y 11 meses") &
             (dfprueba["tiempo_empleo"] >= 30) & 
              (dfprueba["camino"]=="t_cuatro") & (dfprueba["ano_encuesta"]== 2013))]
ttt = dfprueba[((dfprueba["tiempo_desemp"]== "Entre 6 meses y 11 meses") &
             (dfprueba["tiempo_empleo"] >= 30) & 
              (dfprueba["camino"]=="t_cuatro") & (dfprueba["ano_encuesta"]== 2016))]
uuu = dfprueba[((dfprueba["tiempo_desemp"]== "Entre 6 meses y 11 meses") & 
               (dfprueba["tiempo_empleo"] >= 30) & 
               (dfprueba["camino"]=="t_cinco") & (dfprueba["ano_encuesta"]== 2013))]
vvv = dfprueba[((dfprueba["tiempo_desemp"]== "Entre 6 meses y 11 meses") & 
               (dfprueba["tiempo_empleo"] >= 30) & 
               (dfprueba["camino"]=="t_cinco") & (dfprueba["ano_encuesta"]== 2016))]
www = dfprueba[((dfprueba["tiempo_desemp"]== "Entre 6 meses y 11 meses") & 
               (dfprueba["tiempo_empleo"] >= 30) & 
               (dfprueba["camino"]=="t_seis") & (dfprueba["ano_encuesta"]== 2013))]
xxx =dfprueba[((dfprueba["tiempo_desemp"]== "Entre 6 meses y 11 meses") & 
               (dfprueba["tiempo_empleo"] >= 30) & 
               (dfprueba["camino"]=="t_seis") & (dfprueba["ano_encuesta"]== 2016))]

In [40]:
#4. Menos de 6 meses
#Se crean los subconjuntos de valores incoherentes [mmmm,xxxx]

mmmm = dfprueba[((dfprueba["tiempo_desemp"]== "Menos de 6 meses") &
             (dfprueba["tiempo_empleo"] >= 35) & 
             (dfprueba["camino"]=="t_uno") & (dfprueba["ano_encuesta"]== 2013))]
nnnn = dfprueba[((dfprueba["tiempo_desemp"]== "Menos de 6 meses") &
             (dfprueba["tiempo_empleo"] >= 35) & 
             (dfprueba["camino"]=="t_uno") & (dfprueba["ano_encuesta"]== 2016))]
oooo = dfprueba[((dfprueba["tiempo_desemp"]== "Menos de 6 meses") &
             (dfprueba["tiempo_empleo"] >= 35) & 
             (dfprueba["camino"]=="t_dos") & (dfprueba["ano_encuesta"]== 2013))]
pppp = dfprueba[((dfprueba["tiempo_desemp"]== "Menos de 6 meses") &
             (dfprueba["tiempo_empleo"] >= 35) & 
             (dfprueba["camino"]=="t_dos") & (dfprueba["ano_encuesta"]== 2016))]
qqqq = dfprueba[((dfprueba["tiempo_desemp"]== "Menos de 6 meses") &
             (dfprueba["tiempo_empleo"] >= 35) & 
             (dfprueba["camino"]=="t_tres") & (dfprueba["ano_encuesta"]== 2013))]
rrrr = dfprueba[((dfprueba["tiempo_desemp"]== "Menos de 6 meses") &
             (dfprueba["tiempo_empleo"] >= 35) & 
             (dfprueba["camino"]=="t_tres") & (dfprueba["ano_encuesta"]== 2016))]
ssss = dfprueba[((dfprueba["tiempo_desemp"]== "Menos de 6 meses") &
             (dfprueba["tiempo_empleo"] >= 35) & 
              (dfprueba["camino"]=="t_cuatro") & (dfprueba["ano_encuesta"]== 2013))]
tttt = dfprueba[((dfprueba["tiempo_desemp"]== "Menos de 6 meses") &
             (dfprueba["tiempo_empleo"] >= 35) & 
              (dfprueba["camino"]=="t_cuatro") & (dfprueba["ano_encuesta"]== 2016))]
uuuu = dfprueba[((dfprueba["tiempo_desemp"]== "Menos de 6 meses") & 
               (dfprueba["tiempo_empleo"] >= 35) & 
               (dfprueba["camino"]=="t_cinco") & (dfprueba["ano_encuesta"]== 2013))]
vvvv = dfprueba[((dfprueba["tiempo_desemp"]== "Menos de 6 meses") & 
               (dfprueba["tiempo_empleo"] >= 35) & 
               (dfprueba["camino"]=="t_cinco") & (dfprueba["ano_encuesta"]== 2016))]
wwww = dfprueba[((dfprueba["tiempo_desemp"]== "Menos de 6 meses") & 
               (dfprueba["tiempo_empleo"] >= 35) & 
               (dfprueba["camino"]=="t_seis") & (dfprueba["ano_encuesta"]== 2013))]
xxxx =dfprueba[((dfprueba["tiempo_desemp"]== "Menos de 6 meses") & 
               (dfprueba["tiempo_empleo"] >= 35) & 
               (dfprueba["camino"]=="t_seis") & (dfprueba["ano_encuesta"]== 2016))]

In [41]:
# se calcula el promedio para los grupos [a, l], [aa, ll], [aaa, lll], [aaaa,llll]
a1= np.mean(a["tiempo_empleo"])
b1= np.mean(b["tiempo_empleo"]) 
c1= np.mean(c["tiempo_empleo"])
d1= np.mean(d["tiempo_empleo"])
e1= np.mean(e["tiempo_empleo"])
f1= np.mean(f["tiempo_empleo"]) 
g1= np.mean(g["tiempo_empleo"])
h1= np.mean(h["tiempo_empleo"])
i1= np.mean(i["tiempo_empleo"])
j1= np.mean(j["tiempo_empleo"]) 
k1= np.mean(k["tiempo_empleo"])
l1= np.mean(l["tiempo_empleo"])

aa1= np.mean(aa["tiempo_empleo"])
bb1= np.mean(bb["tiempo_empleo"]) 
cc1= np.mean(cc["tiempo_empleo"])
dd1= np.mean(dd["tiempo_empleo"])
ee1= np.mean(ee["tiempo_empleo"])
ff1= np.mean(ff["tiempo_empleo"]) 
gg1= np.mean(gg["tiempo_empleo"])
hh1= np.mean(hh["tiempo_empleo"])
ii1= np.mean(ii["tiempo_empleo"])
jj1= np.mean(jj["tiempo_empleo"]) 
kk1= np.mean(kk["tiempo_empleo"])
ll1= np.mean(ll["tiempo_empleo"])

aaa1= np.mean(aaa["tiempo_empleo"])
bbb1= np.mean(bbb["tiempo_empleo"]) 
ccc1= np.mean(ccc["tiempo_empleo"])
ddd1= np.mean(ddd["tiempo_empleo"])
eee1= np.mean(eee["tiempo_empleo"])
fff1= np.mean(fff["tiempo_empleo"]) 
ggg1= np.mean(ggg["tiempo_empleo"])
hhh1= np.mean(hhh["tiempo_empleo"])
iii1= np.mean(iii["tiempo_empleo"])
jjj1= np.mean(jjj["tiempo_empleo"]) 
kkk1= np.mean(kkk["tiempo_empleo"])
lll1= np.mean(lll["tiempo_empleo"])

aaaa1= np.mean(aaaa["tiempo_empleo"])
bbbb1= np.mean(bbbb["tiempo_empleo"]) 
cccc1= np.mean(cccc["tiempo_empleo"])
dddd1= np.mean(dddd["tiempo_empleo"])
eeee1= np.mean(eeee["tiempo_empleo"])
ffff1= np.mean(ffff["tiempo_empleo"]) 
gggg1= np.mean(gggg["tiempo_empleo"])
hhhh1= np.mean(hhhh["tiempo_empleo"])
iiii1= np.mean(iiii["tiempo_empleo"])
jjjj1= np.mean(jjjj["tiempo_empleo"]) 
kkkk1= np.mean(kkkk["tiempo_empleo"])
llll1= np.mean(llll["tiempo_empleo"])

In [44]:
# aplico el promedio para los grupos [m, x], [mm, xx], [mmm, xxx], [mmmm,xxxx]
m.loc[:,"tiempo_empleo"] = a1
n.loc[:,"tiempo_empleo"] = b1
o.loc[:,"tiempo_empleo"] = c1
p.loc[:,"tiempo_empleo"] = d1
q.loc[:,"tiempo_empleo"] = e1
r.loc[:,"tiempo_empleo"] = f1
s.loc[:,"tiempo_empleo"] = g1
t.loc[:,"tiempo_empleo"] = h1
u.loc[:,"tiempo_empleo"] = i1
v.loc[:,"tiempo_empleo"] = j1
w.loc[:,"tiempo_empleo"] = k1
x.loc[:,"tiempo_empleo"] = l1

mm.loc[:,"tiempo_empleo"] = aa1
nn.loc[:,"tiempo_empleo"] = bb1
oo.loc[:,"tiempo_empleo"] = cc1
pp.loc[:,"tiempo_empleo"] = dd1
qq.loc[:,"tiempo_empleo"] = ee1
rr.loc[:,"tiempo_empleo"] = ff1
ss.loc[:,"tiempo_empleo"] = gg1
tt.loc[:,"tiempo_empleo"] = hh1
uu.loc[:,"tiempo_empleo"] = ii1
vv.loc[:,"tiempo_empleo"] = jj1
ww.loc[:,"tiempo_empleo"] = kk1
xx.loc[:,"tiempo_empleo"] = ll1

mmm.loc[:,"tiempo_empleo"] = aaa1
nnn.loc[:,"tiempo_empleo"] = bbb1
ooo.loc[:,"tiempo_empleo"] = ccc1
ppp.loc[:,"tiempo_empleo"] = ddd1
qqq.loc[:,"tiempo_empleo"] = eee1
rrr.loc[:,"tiempo_empleo"] = fff1
sss.loc[:,"tiempo_empleo"] = ggg1
ttt.loc[:,"tiempo_empleo"] = hhh1
uuu.loc[:,"tiempo_empleo"] = iii1
vvv.loc[:,"tiempo_empleo"] = jjj1
www.loc[:,"tiempo_empleo"] = kkk1
xxx.loc[:,"tiempo_empleo"] = lll1

mmmm.loc[:,"tiempo_empleo"] = aaaa1
nnnn.loc[:,"tiempo_empleo"] = bbbb1
oooo.loc[:,"tiempo_empleo"] = cccc1
pppp.loc[:,"tiempo_empleo"] = dddd1
qqqq.loc[:,"tiempo_empleo"] = eeee1
rrrr.loc[:,"tiempo_empleo"] = ffff1
ssss.loc[:,"tiempo_empleo"] = gggg1
tttt.loc[:,"tiempo_empleo"] = hhhh1
uuuu.loc[:,"tiempo_empleo"] = iiii1
vvvv.loc[:,"tiempo_empleo"] = jjjj1
wwww.loc[:,"tiempo_empleo"] = kkkk1
xxxx.loc[:,"tiempo_empleo"] = llll1

In [45]:
subconjunto1 = [a,b,c,d,e,f,g,h,i,j,k,l, #más dos años
                aa,bb,cc,dd,ee,ff,gg,hh,ii,jj,kk,l, #ntre 1 y 2 años
                aaa,bbb,ccc,ddd,eee,fff,ggg,hhh,iii,jjj,kkk,lll, 
                aaaa,bbbb,cccc,dddd,eeee,ffff,gggg,hhhh,iiii,jjjj,kkkk,llll]
for i in subconjunto1: ##imprime las dimensiones del conjunto coherente.
    print(i.shape)

(0, 187)
(0, 187)
(22, 187)
(1, 187)
(0, 187)
(1, 187)
(4, 187)
(5, 187)
(0, 187)
(3, 187)
(0, 187)
(1, 187)
(0, 187)
(3, 187)
(115, 187)
(7, 187)
(0, 187)
(13, 187)
(11, 187)
(11, 187)
(0, 187)
(3, 187)
(0, 187)
(1, 187)
(0, 187)
(11, 187)
(148, 187)
(19, 187)
(0, 187)
(37, 187)
(11, 187)
(18, 187)
(0, 187)
(1, 187)
(0, 187)
(3, 187)
(0, 187)
(14, 187)
(302, 187)
(28, 187)
(0, 187)
(93, 187)
(15, 187)
(18, 187)
(0, 187)
(1, 187)
(0, 187)
(0, 187)

In [46]:
##crea la lista de  subconjuntos incoherentes e imprime las dimensiones, 
#se imputó cada promedio del conjunto coherente al subconjunto incoherente
subconjunto2= [m,n,o,p,q,r,s,t,u,v,w,x,
               mm,nn,oo,pp,qq,rr,ss,tt,uu,vv,ww,xx,
               mmm,nnn,ooo,ppp,qqq,rrr,sss,ttt,uuu,vvv,www,xxx,
               mmmm,nnnn,oooo,pppp,qqqq,rrrr,ssss,tttt,uuuu,vvvv,wwww,xxxx]
for i in subconjunto2: 
    print(i.shape)

(0, 187)
(1, 187)
(51, 187)
(5, 187)
(0, 187)
(8, 187)
(8, 187)
(12, 187)
(0, 187)
(3, 187)
(0, 187)
(1, 187)
(0, 187)
(3, 187)
(20, 187)
(12, 187)
(0, 187)
(6, 187)
(1, 187)
(13, 187)
(0, 187)
(0, 187)
(0, 187)
(0, 187)
(0, 187)
(0, 187)
(12, 187)
(10, 187)
(0, 187)
(3, 187)
(3, 187)
(10, 187)
(0, 187)
(1, 187)
(0, 187)
(0, 187)
(0, 187)
(1, 187)
(21, 187)
(23, 187)
(0, 187)
(8, 187)
(3, 187)
(10, 187)
(0, 187)
(0, 187)
(0, 187)
(0, 187)

In [47]:
#lista de dataframe a imputar, subcojunto [m,xxxx]
for i in subconjunto2: #imprime los datos nulos del conjunto incoherente, al cual se le imputó cada promedio del conjunto coherente
    print(i["tiempo_empleo"].isnull().sum())

0
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0

In [49]:
#lista de escalares, promedios, de subcojunto [a, llll]
sub11= [a1,b1,c1,d1,e1,f1,g1,h1,i1,j1,k1,l1, 
                aa1,bb1,cc1,dd1,ee1,ff1,gg1,hh1,ii1,jj1,kk1,l1,
                aaa1,bbb1,ccc1,ddd1,eee1,fff1,ggg1,hhh1,iii1,jjj1,kkk1,lll1, 
                aaaa1,bbbb1,cccc1,dddd1,eeee1,ffff1,gggg1,hhhh1,iiii1,jjjj1,kkkk1,llll1]
print(sub11)

[nan, nan, 4.5, 1.0, nan, 1.0, 3.25, 4.4, nan, 4.333333333333333, nan, 2.0, nan, 13.377450980392156, 10.07885763000852, 5.857142857142857, nan, 8.071618037135279, 8.664679582712369, 9.818181818181818, nan, 11.808080808080808, nan, 2.0, nan, 13.77540106951872, 11.350755166931629, 11.842105263157896, nan, 11.626281453867662, 10.5424739195231, 11.666666666666666, nan, 2.0, nan, 16.0, nan, 11.099789915966387, 11.968121023243768, 9.25, nan, 11.458657767890253, 11.064480874316938, 11.055555555555555, nan, 12.212121212121213, nan, nan]

In [50]:
#imputación: inserción de subconjuntos imputados (corregidos) en la base original
for i in subconjunto2:
    dfprueba.update(i)

In [32]:
dfprueba["tiempo_empleo"].mean() # 1

43.76486734019864

In [51]:
dfprueba["tiempo_empleo"].mean() #3

42.47630064672973

In [20]:
des_retro = dfprueba.pivot_table(values= ["tiempo_empleo"],
                                  index=["tiempo_desemp", "ano_encuesta"],
                                  columns=["camino"], aggfunc= ["count","mean"], margins = False, sort = True)
round(des_retro ,2)#, 2).iloc[:, [1,4,]] #1

                                              count                         \
                                      tiempo_empleo
camino                                      t_cinco t_cuatro  t_dos t_seis
tiempo_desemp            ano_encuesta
Entre 1 año y 2 años     2013.0                 0.0     15.0  140.0    0.0
                         2016.0                 3.0     25.0   19.0    3.0
Entre 6 meses y 11 meses 2013.0                 0.0     14.0  166.0    0.0
                         2016.0                 2.0     30.0   31.0    3.0
Menos de 6 meses         2013.0                 0.0     20.0  331.0    0.0
                         2016.0                 1.0     28.0   54.0    NaN
Más de 2 años            2013.0                 0.0     13.0   76.0    0.0
                         2016.0                 6.0     17.0    6.0    3.0

                                                            mean           \
                                                   tiempo_empleo
camino                                t_tres t_uno       t_cinco t_cuatro
tiempo_desemp            ano_encuesta
Entre 1 año y 2 años     2013.0          NaN   0.0           NaN     8.75
                         2016.0         23.0   7.0         11.81    39.88
Entre 6 meses y 11 meses 2013.0          NaN   0.0           NaN    16.00
                         2016.0         42.0  11.0         19.00    27.07
Menos de 6 meses         2013.0          NaN   0.0           NaN    13.70
                         2016.0        107.0  15.0         12.21    33.82
Más de 2 años            2013.0          NaN   0.0           NaN    12.46
                         2016.0         10.0   2.0          8.24    35.29



camino                                 t_dos t_seis t_tres  t_uno
tiempo_desemp            ano_encuesta
Entre 1 año y 2 años     2013.0        12.43    NaN    NaN    NaN
                         2016.0        34.47   8.67  11.95  17.88
Entre 6 meses y 11 meses 2013.0        12.65    NaN    NaN    NaN
                         2016.0        27.94  16.00  12.81  13.78
Menos de 6 meses         2013.0        13.20    NaN    NaN    NaN
                         2016.0        37.00    NaN  12.65  12.76
Más de 2 años            2013.0        12.73    NaN    NaN    NaN
                         2016.0        28.17  12.67  14.10   6.00

In [52]:
des_retro = dfprueba.pivot_table(values= ["tiempo_empleo"],
                                  index=["tiempo_desemp", "ano_encuesta"],
                                  columns=["camino"], aggfunc= ["count","mean"], margins = False, sort = True)
round(des_retro ,2)#, 2).iloc[:, [1,4,]] #3

                                              count                         \
                                      tiempo_empleo
camino                                      t_cinco t_cuatro  t_dos t_seis
tiempo_desemp            ano_encuesta
Entre 1 año y 2 años     2013.0                 0.0     15.0  140.0    0.0
                         2016.0                 3.0     25.0   19.0    3.0
Entre 6 meses y 11 meses 2013.0                 0.0     14.0  166.0    0.0
                         2016.0                 2.0     30.0   31.0    3.0
Menos de 6 meses         2013.0                 0.0     20.0  331.0    0.0
                         2016.0                 1.0     28.0   54.0    NaN
Más de 2 años            2013.0                 0.0     13.0   76.0    0.0
                         2016.0                 6.0     17.0    6.0    3.0

                                                            mean           \
                                                   tiempo_empleo
camino                                t_tres t_uno       t_cinco t_cuatro
tiempo_desemp            ano_encuesta
Entre 1 año y 2 años     2013.0          NaN   0.0           NaN     6.93
                         2016.0         23.0   7.0         11.81     9.43
Entre 6 meses y 11 meses 2013.0          NaN   0.0           NaN    10.54
                         2016.0         42.0  11.0          2.00    10.86
Menos de 6 meses         2013.0          NaN   0.0           NaN     9.96
                         2016.0        107.0  15.0         12.21    11.06
Más de 2 años            2013.0          NaN   0.0           NaN     3.00
                         2016.0         10.0   2.0          4.33     4.40



camino                                 t_dos t_seis t_tres  t_uno
tiempo_desemp            ano_encuesta
Entre 1 año y 2 años     2013.0         9.69    NaN    NaN    NaN
                         2016.0         5.86   8.67   6.67  11.47
Entre 6 meses y 11 meses 2013.0        10.94    NaN    NaN    NaN
                         2016.0        11.01  16.00  11.07  13.78
Menos de 6 meses         2013.0        11.68    NaN    NaN    NaN
                         2016.0         8.74    NaN  10.82  11.10
Más de 2 años            2013.0         4.32    NaN    NaN    NaN
                         2016.0         1.00   1.33   0.90   6.00

In [54]:
df7["tiempo_empleo"].mean() #1

70.94138396379762

In [55]:
df7.update(dfprueba)

In [56]:
df7["tiempo_empleo"].mean() #1

70.28763130767285

In [13]:
###experiencia
df8["exper"]= df8["tiempo_empleo"]/12
dfgroups["exper"]= dfgroups["tiempo_empleo"]/12

#### Tamaño de la Empresa

In [61]:
def tam_e(df):
    if ((df["tam_empresa"]!=np.nan) and (df["ano_encuesta"]==2010)):
        ta=df["tam_empresa"]
    elif ((df["n_empleados"]!=np.nan) and (df["ano_encuesta"]!=2010)):
        ta=df["n_empleados"]
    else:
        ta= np.nan
    return(ta)

In [63]:
df7["ta_empresa"]= df7.apply(tam_e,axis = 1)

In [64]:
dfprueba["ta_empresa"]= dfprueba.apply(tam_e,axis = 1)

In [10]:
df7["tam_empresa"].value_counts()

Trabaja solo           1446
De 2 a 5 personas       970
50 personas y más       957
De 6 a 10 personas      260
De 20 a 49 personas     224
De 11 a 19 personas     152
Name: tam_empresa, dtype: int64

In [13]:
df7["n_empleados"].value_counts()

Trabaja solo           3032
50 personas y más      1870
De 2 a 5 personas      1808
De 20 a 49 personas     519
De 6 a 10 personas      493
De 11 a 19 personas     332
Name: n_empleados, dtype: int64

In [12]:
df8["ta_empresa"].value_counts()

Trabaja solo           4478
50 personas y más      2827
De 2 a 5 personas      2778
De 6 a 10 personas      753
De 20 a 49 personas     743
De 11 a 19 personas     484
Name: ta_empresa, dtype: int64

#### Informalidad

In [71]:
df7["ocupacion2"].value_counts()

Trabajador por cuenta propia                                                5419
Asalariado de empresa particular                                            4576
Asalariado del gobierno                                                      762
Empleado doméstico                                                           522
Jornalero o peón                                                             305
Patrón o empleador                                                           270
Trabajador familiar sin remuneración                                         194
Otro                                                                         153
Trabajador de su propia finca independientemente de la forma de tenencia     109
Name: ocupacion2, dtype: int64

In [72]:
df7["tam_empresa"].value_counts()

Trabaja solo           1446
De 2 a 5 personas       970
50 personas y más       957
De 6 a 10 personas      260
De 20 a 49 personas     224
De 11 a 19 personas     152
Name: tam_empresa, dtype: int64

In [124]:
df7["educación"].sort_values().value_counts(dropna=False)

Básica secundaria y media (6 a 13)    7439
Básica primaria (1 a 5)               5163
Técnico con título                    1178
Universitario con título               795
Ninguno                                788
Universitario sin título               449
Tecnológico con título                 388
Posgrado con título                    355
Técnico sin título                     227
Universitario                          227
Técnico                                222
Posgrado                               102
Tecnológico sin título                  85
Tecnológico                             67
Posgrado sin título                     26
Name: educación, dtype: int64

Executing shutdown due to inactivity...
Executing shutdown due to inactivity...
Executing shutdown due to inactivity...
Executing shutdown due to inactivity...
Executing shutdown due to inactivity...

2021-10-23 09:29:57,824 - INFO     - Executing shutdown due to inactivity...

Executing shutdown...
Executing shutdown...
Executing shutdown...
Executing shutdown...
Executing shutdown...

2021-10-23 09:30:01,930 - INFO     - Executing shutdown...

In [44]:
#convertir a variable discreta el nivel educativo
def educ(df):
    if (df["educación"]=="Ninguno"):
        ed=0
    elif (df["educación"]=="Básica primaria (1 a 5)"):
        ed=1
    elif (df["educación"]=="Básica secundaria y media (6 a 13)"):
        ed=2
    elif (df["educación"]=="Técnico sin título"):
        ed=3
    elif (df["educación"]=="Técnico con título"):
        ed=4
    elif (df["educación"]=="Tecnológico sin título"):
        ed=5
    elif (df["educación"]=="Tecnológico con título"):
        ed=6
    elif (df["educación"]=="Universitario sin título"):
        ed=7
    elif (df["educación"]=="Universitario con título"):
        ed=8
    elif (df["educación"]=="Posgrado sin título"):
        ed=9
    elif (df["educación"]=="Posgrado con título"):
        ed=10
    else:
        ed=np.nan
    return(ed)

In [45]:
df7["educación2"]= df7.apply(educ,axis = 1)

In [46]:
dfprueba["educación2"]= dfprueba.apply(educ,axis = 1)

In [6]:
#reducir niveles de educación
def educ3(df):
    if (df["educación"]=="Ninguno") or (df["educación"]=="Básica primaria (1 a 5)") or (df["educación"]=="Básica secundaria y media (6 a 13)"):
        ed=df["educación"]
    elif (df["educación"]=="Técnico sin título") or (df["educación"]=="Técnico con título"):
        ed="Técnico"
    elif (df["educación"]=="Tecnológico sin título") or (df["educación"]=="Tecnológico con título"):
        ed="Tecnológico"
    elif (df["educación"]=="Universitario sin título") or (df["educación"]=="Universitario con título"):        ed="Universitario"
    elif (df["educación"]=="Posgrado sin título") or (df["educación"]=="Posgrado con título"):
        ed="Posgrado"
    else:
        ed=np.nan
    return(ed)

In [7]:
df8["educación3"]= df8.apply(educ3,axis = 1)

In [8]:
dfgroups["educación3"]= dfgroups.apply(educ3,axis = 1)

In [17]:
#reducir variable educación 4
def educ4(df):
    if (df["educación"]=="Ninguno" or df["educación"]=="Básica primaria (1 a 5)" or
        df["educación"]=="Básica secundaria y media (6 a 13)"):
        ed=df["educación"]
    elif (df["educación"]=="Técnico sin título" or df["educación"]=="Técnico con título" or 
          df["educación"]=="Tecnológico sin título" or df["educación"]=="Tecnológico con título" or 
          df["educación"]=="Universitario sin título" or df["educación"]=="Universitario con título" or
          df["educación"]=="Posgrado sin título" or df["educación"]=="Posgrado con título"):
        ed="Superior"
    else:
        ed=np.nan
    return(ed)

In [18]:
df8["educación4"]= df8.apply(educ4,axis = 1)

In [19]:
dfgroups["educación4"]= dfgroups.apply(educ4,axis = 1)

In [23]:
#educación con y sin titulo
def educ5(df):
    if (df["educación"]=="Ninguno" or df["educación"]=="Básica primaria (1 a 5)" or
        df["educación"]=="Básica secundaria y media (6 a 13)"):
        ed=df["educación"]
    elif (df["educación"]=="Técnico con título" or 
          df["educación"]=="Tecnológico con título" or 
          df["educación"]=="Universitario con título" or
          df["educación"]=="Posgrado con título"):
        ed="Superior con título"
    elif (df["educación"]=="Técnico sin título" or 
          df["educación"]=="Tecnológico sin título" or 
          df["educación"]=="Universitario sin título" or
          df["educación"]=="Posgrado sin título"):    
        ed="Superior sin título"
    else:
        ed=np.nan
    return(ed)

In [24]:
df8["educación5"]= df8.apply(educ5,axis = 1)

In [25]:
dfgroups["educación5"]= dfgroups.apply(educ5,axis = 1)

In [26]:
dfgroups["educación5"].value_counts(dropna=False)

Básica secundaria y media (6 a 13)    3060
Básica primaria (1 a 5)               1890
Superior con título                   1120
Superior sin título                    624
Ninguno                                287
Name: educación5, dtype: int64

In [21]:
dfgroups["educación"].value_counts(dropna=False)

Básica secundaria y media (6 a 13)    3060
Básica primaria (1 a 5)               1890
Técnico con título                     469
Universitario con título               343
Universitario sin título               305
Ninguno                                287
Técnico sin título                     196
Tecnológico con título                 180
Posgrado con título                    128
Tecnológico sin título                  62
Posgrado sin título                     61
Name: educación, dtype: int64

##### Tipo de empleo

In [106]:
df7["ta_empresa"]= df7["ta_empresa"].replace(np.nan, "x")
dfprueba["ta_empresa"]= dfprueba["ta_empresa"].replace(np.nan, "x")
df7["cotiza_fp2"]= df7["cotiza_fp2"].replace(np.nan, "x")
dfprueba["cotiza_fp2"]= dfprueba["cotiza_fp2"].replace(np.nan, "x")
df7["afiliacion_fp"]= df7["afiliacion_fp"].replace(np.nan, "x")
dfprueba["afiliacion_fp"]= dfprueba["afiliacion_fp"].replace(np.nan, "x")

In [107]:
#empleo informal 
#se lleva la variable cotiza_fp2 (con valores solo para el año 2010) a "si" y "No"
#sse utiliza la variable educación2
def e_infor(df): 
    if ((df["ocupacion2"]== "Asalariado de empresa particular" or 
          df["ocupacion2"]== "Asalariado del gobierno" or
         df["ocupacion2"]== "Empleado doméstico" or
        df["ocupacion2"]== "Jornalero o peón" or
        df["ocupacion2"]== "Trabajador de su propia finca independientemente de la forma de tenencia" or 
          df["ocupacion2"]== "Otro") and
        (df["cotiza_fp2"]=="No" or df["afiliacion_fp"]=="No")):
        i = "Informal"
    elif ((df["ocupacion2"]== "Asalariado de empresa particular" or 
          df["ocupacion2"]== "Asalariado del gobierno" or
           df["ocupacion2"]== "Empleado doméstico" or
        df["ocupacion2"]== "Jornalero o peón" or
        df["ocupacion2"]== "Trabajador de su propia finca independientemente de la forma de tenencia" or
           df["ocupacion2"]== "Otro") and
        (df["cotiza_fp2"]=="x" and df["afiliacion_fp"]=="x")):
         i = "null"
    elif (df["ocupacion2"]=="Trabajador familiar sin remuneración"):
        i = "Informal"
    elif ((df["ocupacion2"]== "Trabajador por cuenta propia") and 
          (df["educación2"]<8 and (df["ta_empresa"]=="x" or df["ta_empresa"]=="Trabaja solo" or df["ta_empresa"]=="De 2 a 5 personas"))):
        i = "Informal"
    elif ((df["ocupacion2"]== "Patrón o empleador") and 
          (df["educación2"]<8 and (df["ta_empresa"]=="Trabaja solo" or df["ta_empresa"]=="De 2 a 5 personas"))):
        i = "Informal"
    elif ((df["ocupacion2"]== "Patrón o empleador") and 
          (df["educación2"]<8 and df["ta_empresa"]== "x")):
        i = "null"
    else: 
        i = "x"
    return(i)
# hay valores nulos en la variable tam_empresa, por lo cual no los marca como informales sino como "x", se corrige.
#crear la de formalidad y actualizar la variable tipo de empleo

In [108]:
df7["Tipo_empleo"]= df7.apply(e_infor,axis = 1)

In [109]:
dfprueba["Tipo_empleo"]= dfprueba.apply(e_infor,axis = 1)

In [110]:
def e_infor2(df):
    if ((df["clasif_lab"]==1) and (df["Tipo_empleo"]=="x")):
        f = "Formal"
    else:
        f= df["Tipo_empleo"]
    return(f)

In [111]:
df7["Tipo_empleo"]= df7.apply(e_infor2,axis = 1)

In [112]:
dfprueba["Tipo_empleo"]= dfprueba.apply(e_infor2,axis = 1)

In [113]:
df7["Tipo_empleo"]= df7["Tipo_empleo"].replace("null", np.nan)
dfprueba["Tipo_empleo"]= dfprueba["Tipo_empleo"].replace("null", np.nan)
df7["Tipo_empleo"]= df7["Tipo_empleo"].replace("x", np.nan)
dfprueba["Tipo_empleo"]= dfprueba["Tipo_empleo"].replace("x", np.nan)

#### Tipo de empleo informal 2

In [291]:
df8["ta_empresa"]= df8["ta_empresa"].replace(np.nan, "x")
dfgroups["ta_empresa"]= dfgroups["ta_empresa"].replace(np.nan, "x")
df8["cotiza_fp2"]= df8["cotiza_fp2"].replace(np.nan, "x")
dfgroups["cotiza_fp2"]= dfgroups["cotiza_fp2"].replace(np.nan, "x")
df8["afiliacion_fp"]= df8["afiliacion_fp"].replace(np.nan, "x")
dfgroups["afiliacion_fp"]= dfgroups["afiliacion_fp"].replace(np.nan, "x")
# df8["ocupacion2"]= df8["ocupacion2"].replace(np.nan, "x")
# dfgroups["ocupacion2"]= dfgroups["ocupacion2"].replace(np.nan, "x")

In [292]:
#empleo informal 
#se lleva la variable cotiza_fp2 (con valores solo para el año 2010) a "si" y "No"
#sse utiliza la variable educación2
def infor_sinedu(df): 
    if ((df["ocupacion2"]== "Asalariado de empresa particular" or 
         df["ocupacion2"]== "Asalariado del gobierno" or
         df["ocupacion2"]== "Empleado doméstico" or
         df["ocupacion2"]== "Jornalero o peón" or
         df["ocupacion2"]== "Trab. propia finca" or 
         df["ocupacion2"]== "Otro") and
        (df["cotiza_fp2"]=="No" or df["afiliacion_fp"]=="No")):
        i = "Informal"
    elif ((df["ocupacion2"]== "Asalariado de empresa particular" or 
           df["ocupacion2"]== "Asalariado del gobierno" or
           df["ocupacion2"]== "Empleado doméstico" or
           df["ocupacion2"]== "Jornalero o peón" or
           df["ocupacion2"]== "Trab. propia finca" or
           df["ocupacion2"]== "Otro") and
          (df["cotiza_fp2"]=="x" and df["afiliacion_fp"]=="x")):
        i = "null"
    elif (df["ocupacion2"]=="Trab. fam sin remun"):
        i = "Informal"
    elif ((df["ocupacion2"]== "Trabajador por cuenta propia") and 
          (df["ta_empresa"]=="x" or df["ta_empresa"]=="Trabaja solo" or df["ta_empresa"]=="De 2 a 5 personas")):
        i = "Informal"
    elif ((df["ocupacion2"]== "Patrón o empleador") and 
          (df["ta_empresa"]=="Trabaja solo" or df["ta_empresa"]=="De 2 a 5 personas")):
        i = "Informal"
    elif ((df["ocupacion2"]== "Patrón o empleador") and df["ta_empresa"]== "x"):
        i = "null"
    else: 
        i = "x"
    return(i)
# hay valores nulos en la variable tam_empresa, por lo cual no los marca como informales sino como "x", se corrige.
#crear la de formalidad y actualizar la variable tipo de empleo

In [276]:
print(dfgroups["ocupacion2"].value_counts(dropna=False))

Trabajador por cuenta propia        2823
Asalariado de empresa particular    2247
x                                    760
Asalariado del gobierno              305
Empleado doméstico                   290
Jornalero o peón                     189
Patrón o empleador                   125
Trab. fam sin remun                  103
Otro                                  89
Trab. propia finca                    50
Name: ocupacion2, dtype: int64

In [293]:
df8["Tipo_empleo2"]= df8.apply(infor_sinedu,axis = 1)

In [294]:
dfgroups["Tipo_empleo2"]= dfgroups.apply(infor_sinedu,axis = 1)

In [296]:
def infor_sinedu2(df):
    if (df["clasif_lab"]==1 and df["Tipo_empleo2"]=="x"):
        f = "Formal"
    else:
        f= df["Tipo_empleo2"]
    return(f)

In [297]:
df8["Tipo_empleo2"]= df8.apply(infor_sinedu2,axis = 1)

In [298]:
dfgroups["Tipo_empleo2"]= dfgroups.apply(infor_sinedu2,axis = 1)

In [300]:
df8["Tipo_empleo2"]= df8["Tipo_empleo2"].replace("null", np.nan)
dfgroups["Tipo_empleo2"]= dfgroups["Tipo_empleo2"].replace("null", np.nan)
df8["Tipo_empleo2"]= df8["Tipo_empleo2"].replace("x", np.nan)
dfgroups["Tipo_empleo2"]= dfgroups["Tipo_empleo2"].replace("x", np.nan)

In [301]:
print(dfgroups["Tipo_empleo"].value_counts(dropna=False))
print(dfgroups["Tipo_empleo2"].value_counts(dropna=False))

Informal    4112
Formal      2107
NaN          762
Name: Tipo_empleo, dtype: int64
Informal    4224
Formal      1995
NaN          762
Name: Tipo_empleo2, dtype: int64

##### Sector de empleo

In [114]:
#sector informal 
#sse utiliza la variable educación2
def s_infor(df):
    if ((df["ocupacion2"]== "Trabajador por cuenta propia") and 
          (df["educación2"]<8 and (df["ta_empresa"]=="x" or df["ta_empresa"]=="Trabaja solo" or df["ta_empresa"]=="De 2 a 5 personas"))):
        i = "S. Informal"
    elif ((df["ocupacion2"]=="Asalariado de empresa particular" or 
          df["ocupacion2"]=="Asalariado del gobierno") and 
          (df["ta_empresa"]=="Trabaja solo" or df["ta_empresa"]=="De 2 a 5 personas")):
        i = "S. Informal"
    elif ((df["ocupacion2"]=="Asalariado de empresa particular" or 
          df["ocupacion2"]=="Asalariado del gobierno") and 
          (df["ta_empresa"]=="x")):
        i = "null"
    elif ((df["ocupacion2"]=="Trabajador familiar sin remuneración") and 
          (df["ta_empresa"]=="x" or df["ta_empresa"]=="Trabaja solo" or df["ta_empresa"]=="De 2 a 5 personas")):
        i = "S. Informal"
    elif ((df["ocupacion2"]=="Patrón o empleador") and 
          (df["educación2"]<8 and (df["ta_empresa"]=="Trabaja solo" or df["ta_empresa"]=="De 2 a 5 personas"))):
        i = "S. Informal"
    elif ((df["ocupacion2"]=="Patrón o empleador") and 
          (df["educación2"]<8 and df["ta_empresa"]== "x")):
        i = "null"
    elif (df["ocupacion2"]=="Empleado doméstico" or 
           df["ocupacion2"]=="Jornalero o peón" or 
           df["ocupacion2"]=="Otro"): 
        i = "Hogar_empleador"
    else: 
        i = "x"
    return(i)
#se deben considerar como otra categoria de la variable, pro ejemplo "doméstico"? o se debe adicionar la condición del tamaño del establecimiento??

In [115]:
df7["tipo_sector"]= df7.apply(s_infor,axis = 1)

In [116]:
dfprueba["tipo_sector"]= dfprueba.apply(s_infor,axis = 1)

In [117]:
def s_infor2(df):
    if ((df["clasif_lab"]==1) and (df["tipo_sector"]=="x")):
        f = "S. Formal"
    else:
        f= df["tipo_sector"]
    return(f)

In [118]:
df7["tipo_sector"]= df7.apply(s_infor2,axis = 1)

In [119]:
dfprueba["tipo_sector"]= dfprueba.apply(s_infor2,axis = 1)

In [120]:
df7["tipo_sector"]= df7["tipo_sector"].replace( "null", np.nan)
dfprueba["tipo_sector"]= dfprueba["tipo_sector"].replace( "null", np.nan)
df7["tipo_sector"]= df7["tipo_sector"].replace( "x", np.nan)
dfprueba["tipo_sector"]= dfprueba["tipo_sector"].replace( "x", np.nan)

In [121]:
df7["ta_empresa"]= df7["ta_empresa"].replace("x", np.nan)
dfprueba["ta_empresa"]= dfprueba["ta_empresa"].replace("x", np.nan)
df7["cotiza_fp2"]= df7["cotiza_fp2"].replace("x", np.nan)
dfprueba["cotiza_fp2"]= dfprueba["cotiza_fp2"].replace("x", np.nan)
df7["afiliacion_fp"]= df7["afiliacion_fp"].replace("x", np.nan)
dfprueba["afiliacion_fp"]= dfprueba["afiliacion_fp"].replace("x", np.nan)

#### Economía informal

In [7]:
#hussmanns mix
def e_inf(df):
    if (((df["ocupacion2"]== "Trabajador por cuenta propia") and (df["Tipo_empleo"]=="Formal") and
        (df["tipo_sector"]=="S. Formal")) or #a
        ((df["ocupacion2"]== "Patrón o empleador") and (df["Tipo_empleo"]=="Formal") and
        (df["tipo_sector"]=="S. Formal")) or #b
        ((df["ocupacion2"]=="Asalariado de empresa particular" or 
          df["ocupacion2"]=="Asalariado del gobierno") and (df["Tipo_empleo"]=="Formal" and
        df["tipo_sector"]=="S. Formal")) or #c
        ((df["ocupacion2"]=="Asalariado de empresa particular" or 
          df["ocupacion2"]=="Asalariado del gobierno") and (df["Tipo_empleo"]=="Formal" and
        df["tipo_sector"]=="Hogar_empleador")) or #e
        ((df["ocupacion2"]=="Empleado doméstico" or 
           df["ocupacion2"]=="Jornalero o peón" or 
           df["ocupacion2"]=="Otro") and 
         (df["Tipo_empleo"]=="Formal" and df["tipo_sector"]=="Hogar_empleador"))): #f
        e="Ocupacion_formal"
    elif (((df["ocupacion2"]== "Trabajador familiar sin remuneración") and 
           (df["Tipo_empleo"]=="Informal") and (df["tipo_sector"]=="S. Formal")) or #1
        ((df["ocupacion2"]=="Asalariado de empresa particular" or 
          df["ocupacion2"]=="Asalariado del gobierno") and (df["Tipo_empleo"]=="Informal" and
        df["tipo_sector"]=="S. Formal")) or # 2
        ((df["ocupacion2"]=="Asalariado de empresa particular" or 
          df["ocupacion2"]=="Asalariado del gobierno") and (df["Tipo_empleo"]=="Informal" and
        df["tipo_sector"]=="Hogar_empleador")) or #8
        ((df["ocupacion2"]=="Empleado doméstico" or 
           df["ocupacion2"]=="Jornalero o peón" or 
           df["ocupacion2"]=="Otro") and
         (df["Tipo_empleo"]=="Informal" and df["tipo_sector"]=="Hogar_empleador"))): #9
        e="Ocupacion_inf_fuera_s_inf" 
    elif (((df["ocupacion2"]== "Trabajador familiar sin remuneración") and 
           (df["Tipo_empleo"]=="Informal") and 
           (df["tipo_sector"]=="S. Formal" or df["tipo_sector"]=="S. Informal")) or #1 y 5
        ((df["ocupacion2"]=="Asalariado de empresa particular" or 
          df["ocupacion2"]=="Asalariado del gobierno") and (df["Tipo_empleo"]=="Informal" and
        df["tipo_sector"]=="S. Formal")) or # 2
        ((df["ocupacion2"]== "Trabajador por cuenta propia") and (df["Tipo_empleo"]=="Informal") and
        (df["tipo_sector"]=="S. Informal")) or #3
        ((df["ocupacion2"]== "Patrón o empleador") and (df["Tipo_empleo"]=="Informal") and
        (df["tipo_sector"]=="S. Informal")) or #4
        ((df["ocupacion2"]=="Asalariado de empresa particular" or 
          df["ocupacion2"]=="Asalariado del gobierno") and (df["Tipo_empleo"]=="Informal" and
        df["tipo_sector"]=="S. Informal")) or #6
        ((df["ocupacion2"]=="Asalariado de empresa particular" or 
          df["ocupacion2"]=="Asalariado del gobierno") and (df["Tipo_empleo"]=="Informal" and
        df["tipo_sector"]=="Hogar_empleador")) or #8
        ((df["ocupacion2"]=="Empleado doméstico" or 
           df["ocupacion2"]=="Jornalero o peón" or 
           df["ocupacion2"]=="Otro") and
         (df["Tipo_empleo"]=="Informal" and df["tipo_sector"]=="Hogar_empleador"))): #9
        e="Ocupacion_informal"
    elif (((df["ocupacion2"]== "Trabajador por cuenta propia") and (df["Tipo_empleo"]=="Informal") and
        (df["tipo_sector"]=="S. Informal")) or #3
        ((df["ocupacion2"]== "Patrón o empleador") and (df["Tipo_empleo"]=="Informal") and
        (df["tipo_sector"]=="S. Informal")) or #4
          ((df["ocupacion2"]== "Trabajador familiar sin remuneración") and 
           (df["Tipo_empleo"]=="Informal") and (df["tipo_sector"]=="S. Informal")) or #5
        ((df["ocupacion2"]=="Asalariado de empresa particular" or 
          df["ocupacion2"]=="Asalariado del gobierno") and (df["Tipo_empleo"]=="Informal" and
        df["tipo_sector"]=="S. Informal")) or #6
         ((df["ocupacion2"]=="Asalariado de empresa particular" or 
          df["ocupacion2"]=="Asalariado del gobierno") and (df["Tipo_empleo"]=="Formal" and
        df["tipo_sector"]=="S. Informal"))): #7
        e="Ocupacion_en_s_inf"
    else:
        e=np.nan
    return(e)

In [8]:
df7["hussmanns"]= df7.apply(e_inf,axis = 1)
dfprueba["hussmanns"]= dfprueba.apply(e_inf,axis = 1)

In [3]:
#ocupación informal y formal
def e_inf(df):
    if (((df["ocupacion2"]== "Trabajador por cuenta propia") and (df["Tipo_empleo"]=="Formal") and
        (df["tipo_sector"]=="S. Formal")) or #a
        ((df["ocupacion2"]== "Patrón o empleador") and (df["Tipo_empleo"]=="Formal") and
        (df["tipo_sector"]=="S. Formal")) or #b
        ((df["ocupacion2"]=="Asalariado de empresa particular" or 
          df["ocupacion2"]=="Asalariado del gobierno") and (df["Tipo_empleo"]=="Formal" and
        df["tipo_sector"]=="S. Formal")) or #c
        ((df["ocupacion2"]=="Asalariado de empresa particular" or 
          df["ocupacion2"]=="Asalariado del gobierno") and (df["Tipo_empleo"]=="Formal" and
        df["tipo_sector"]=="Hogar_empleador")) or #e
        ((df["ocupacion2"]=="Empleado doméstico" or 
           df["ocupacion2"]=="Jornalero o peón" or 
           df["ocupacion2"]=="Otro") and 
         (df["Tipo_empleo"]=="Formal" and df["tipo_sector"]=="Hogar_empleador"))): #f
        e="Ocupacion_formal"
    elif (((df["ocupacion2"]== "Trabajador familiar sin remuneración") and 
           (df["Tipo_empleo"]=="Informal") and 
           (df["tipo_sector"]=="S. Formal" or df["tipo_sector"]=="S. Informal")) or #1 y 5
        ((df["ocupacion2"]=="Asalariado de empresa particular" or 
          df["ocupacion2"]=="Asalariado del gobierno") and (df["Tipo_empleo"]=="Informal" and
        df["tipo_sector"]=="S. Formal")) or # 2
        ((df["ocupacion2"]== "Trabajador por cuenta propia") and (df["Tipo_empleo"]=="Informal") and
        (df["tipo_sector"]=="S. Informal")) or #3
        ((df["ocupacion2"]== "Patrón o empleador") and (df["Tipo_empleo"]=="Informal") and
        (df["tipo_sector"]=="S. Informal")) or #4
        ((df["ocupacion2"]=="Asalariado de empresa particular" or 
          df["ocupacion2"]=="Asalariado del gobierno") and (df["Tipo_empleo"]=="Informal" and
        df["tipo_sector"]=="S. Informal")) or #6
        ((df["ocupacion2"]=="Asalariado de empresa particular" or 
          df["ocupacion2"]=="Asalariado del gobierno") and (df["Tipo_empleo"]=="Informal" and
        df["tipo_sector"]=="Hogar_empleador")) or #8
        ((df["ocupacion2"]=="Empleado doméstico" or 
           df["ocupacion2"]=="Jornalero o peón" or 
           df["ocupacion2"]=="Otro") and
         (df["Tipo_empleo"]=="Informal" and df["tipo_sector"]=="Hogar_empleador"))): #9
        e="Ocupacion_informal"
    else:
        e=np.nan
    return(e)

In [4]:
df7["hussmanns_a"]= df7.apply(e_inf,axis = 1)
dfprueba["hussmanns_a"]= dfprueba.apply(e_inf,axis = 1)

In [5]:
#ocupación inmformal: ocupación en el sector informal y ocupación informal fuera del sector informal
def e_inf(df):
    if (((df["ocupacion2"]== "Trabajador familiar sin remuneración") and 
           (df["Tipo_empleo"]=="Informal") and (df["tipo_sector"]=="S. Formal")) or #1
        ((df["ocupacion2"]=="Asalariado de empresa particular" or 
          df["ocupacion2"]=="Asalariado del gobierno") and (df["Tipo_empleo"]=="Informal" and
        df["tipo_sector"]=="S. Formal")) or # 2
        ((df["ocupacion2"]=="Asalariado de empresa particular" or 
          df["ocupacion2"]=="Asalariado del gobierno") and (df["Tipo_empleo"]=="Informal" and
        df["tipo_sector"]=="Hogar_empleador")) or #8
        ((df["ocupacion2"]=="Empleado doméstico" or 
           df["ocupacion2"]=="Jornalero o peón" or 
           df["ocupacion2"]=="Otro") and
         (df["Tipo_empleo"]=="Informal" and df["tipo_sector"]=="Hogar_empleador"))): #9
        e="Ocupacion_inf_fuera_s_inf" 
    elif (((df["ocupacion2"]== "Trabajador por cuenta propia") and (df["Tipo_empleo"]=="Informal") and
        (df["tipo_sector"]=="S. Informal")) or #3
        ((df["ocupacion2"]== "Patrón o empleador") and (df["Tipo_empleo"]=="Informal") and
        (df["tipo_sector"]=="S. Informal")) or #4
          ((df["ocupacion2"]== "Trabajador familiar sin remuneración") and 
           (df["Tipo_empleo"]=="Informal") and (df["tipo_sector"]=="S. Informal")) or #5
        ((df["ocupacion2"]=="Asalariado de empresa particular" or 
          df["ocupacion2"]=="Asalariado del gobierno") and (df["Tipo_empleo"]=="Informal" and
        df["tipo_sector"]=="S. Informal")) or #6
         ((df["ocupacion2"]=="Asalariado de empresa particular" or 
          df["ocupacion2"]=="Asalariado del gobierno") and (df["Tipo_empleo"]=="Formal" and
        df["tipo_sector"]=="S. Informal"))): #7
        e="Ocupacion_en_s_inf"
    else:
        e=np.nan
    return(e)

In [6]:
df7["hussmanns_b"]= df7.apply(e_inf,axis = 1)
dfprueba["hussmanns_b"]= dfprueba.apply(e_inf,axis = 1)

#### hogar

In [33]:
def hog(df):
    if (df["Fecha"]=="2010-12-31" and df["t_hogar"]!= np.nan):
        h=df["t_hogar"]
    elif (df["Fecha"]=="2013-12-31" and df["hogar_l"]!= np.nan):
        h=df["hogar_l"]
    elif (df["Fecha"]=="2016-12-31" and df["hogar_n16_l"]!= np.nan):
        h=df["hogar_n16_l"]
    else:
        h=df[np.nan]
    return(h)

In [34]:
df7["hogar_numero"]= df7.apply(hog,axis = 1)
dfprueba["hogar_numero"]= dfprueba.apply(hog,axis = 1)

#### región

In [40]:
#el id_mpiou contiene el códgio de departamento y municipio falso, dejajrlo pero no sirve.
#Region_Lb contiene los valores de linea base de la ola anterior, por tanto, para 2010 contiene solo nulos (Dejarla en la base)
def reg(df):
    if ((df["Fecha"]=="2010-12-31" or df["Fecha"]=="2013-12-31") and (df["region"]!= np.nan)):
        r=df["region"]
    elif (df["Fecha"]=="2016-12-31" and df["region_2016"]!= np.nan):
        r=df["region_2016"]
    else:
        r=np.nan
    return(r)

In [55]:
df7["region_encuesta"]= df7.apply(reg,axis = 1)
dfprueba["region_encuesta"]= dfprueba.apply(reg,axis = 1)

In [64]:
#a 57 datos nulos en la nueva variable ("region_encuesta") se le asignan los valores de RegionLb
df7["region_encuesta"]= df7["region_encuesta"].replace(np.nan, "x")
dfprueba["region_encuesta"]= dfprueba["region_encuesta"].replace(np.nan, "x")

def reg_n(df):
    if (df["region_encuesta"]== "x"):
        r=df["RegionLb"]
    else:
        r=df["region_encuesta"]
    return(r)

In [65]:
df7["region_encuesta"]= df7.apply(reg_n,axis = 1)
dfprueba["region_encuesta"]= dfprueba.apply(reg_n,axis = 1)

In [58]:
# df7['region_encuesta']= df7['region_encuesta'].replace("x", np.nan) 
# dfprueba['region_encuesta']= dfprueba['region_encuesta'].replace("x", np.nan)

#### Tercil riqueza hogar

In [8]:
def ter(df):
    if (df["Fecha"]=="2010-12-31" and df["tercil2010"]!= np.nan):
        t=df["tercil2010"]
    elif (df["Fecha"]=="2013-12-31" and df["tercil2013"]!= np.nan):
        t=df["tercil2013"]
    elif (df["Fecha"]=="2016-12-31" and df["tercil2016"]!= np.nan):
        t=df["tercil2016"]
    else:
        t=np.nan
    return(t)

In [9]:
df7["tercil"]= df7.apply(ter,axis = 1)
dfprueba["tercil"]= dfprueba.apply(ter,axis = 1)

#### Factor de expansión hogar

In [16]:
#factor de expansión longitudinal
def fexl(df):
    if (df["Fecha"]=="2010-12-31" and df["fhog"]!= np.nan):
        f=df["fhog"]
    elif ((df["Fecha"]=="2013-12-31" or df["Fecha"]=="2016-12-31") and (df["fhog_2010"]!= np.nan)):
        f=df["fhog_2010"]
    else:
        f=np.nan
    return(f)

In [17]:
df7["factorex_hlong"]= df7.apply(fexl,axis = 1)
dfprueba["factorex_hlong"]= dfprueba.apply(fexl,axis = 1)

In [45]:
#factor de expansión unidad longitudinal
def fexhl(df):
    if (df["Fecha"]=="2010-12-31" and df["fexhog"]!= np.nan):
        fex=df["fexhog"]
    elif ((df["Fecha"]=="2013-12-31" or df["Fecha"]=="2016-12-31") and (df["fexhog_2010"]!= np.nan)):
        fex=df["fexhog_2010"]
    else:
        fex=np.nan
    return(fex)

In [46]:
df7["factorex_hlong_uni"]= df7.apply(fexhl,axis = 1)
dfprueba["factorex_hlong_uni"]= dfprueba.apply(fexhl,axis = 1)

In [32]:
#factor de expansión por olas
def fexol(df):
    if (df["Fecha"]=="2010-12-31" and df["fhog"]!= np.nan):
        fo=df["fhog"]
    elif (df["Fecha"]=="2013-12-31" and (df["fhog_2013"]!= np.nan):
        fo=df["fhog_2013"]
    elif (df["Fecha"]=="2016-12-31" and df["fhog_2016"]!= np.nan):
        fo=df["fhog_2016"]
    else:
        fo=np.nan
    return(fo)

In [34]:
df7["factorex_hola"]df7.apply(fexol(),axis = 1)
dfprueba["factorex_hola"]= dfprueba.apply(fexol(),axis = 1)

#### Factor de expansión persona

In [37]:
#factor de expansión persona longitudinal
def fexperl(df):
    if (df["Fecha"]=="2010-12-31" and df["fpers"]!= np.nan):
        fp=df["fpers"]
    elif ((df["Fecha"]=="2013-12-31" or df["Fecha"]=="2016-12-31") and (df["fpers_2010"]!= np.nan)):
        fp=df["fpers_2010"]
    else:
        fp=np.nan
    return(fp)

In [38]:
df7["factorex_plong"]= df7.apply(fexperl,axis = 1)
dfprueba["factorex_plong"]= dfprueba.apply(fexperl,axis = 1)

In [2]:
df7["factorex_plong"]= df7["factorex_plong"].fillna(method="ffill")
dfprueba["factorex_plong"]= dfprueba["factorex_plong"].fillna(method="ffill")

In [3]:
df8["factorex_plong"]= df8["factorex_plong"].fillna(method="ffill")
dfgroups["factorex_plong"]= dfgroups["factorex_plong"].fillna(method="ffill")

In [47]:
#factor de expansión persona unidad longitudinal
def fexperl_u(df):
    if (df["Fecha"]=="2010-12-31" and df["fexpers"]!= np.nan):
        fpu=df["fexpers"]
    elif ((df["Fecha"]=="2013-12-31" or df["Fecha"]=="2016-12-31") and (df["fexpers_2010"]!= np.nan)):
        fpu=df["fexpers_2010"]
    else:
        fpu=np.nan
    return(fpu)

In [48]:
df7["factorex_plong_uni"]= df7.apply(fexperl_u,axis = 1)
dfprueba["factorex_plong_uni"]= dfprueba.apply(fexperl_u,axis = 1)

In [40]:
#factor de expansión persona por olas
def fexpol(df):
    if (df["Fecha"]=="2010-12-31" and df["fpers"]!= np.nan):
        fpo=df["fpers"]
    elif (df["Fecha"]=="2013-12-31" and df["fpers_2013"]!= np.nan):
        fpo=df["fpers_2013"]
    elif (df["Fecha"]=="2016-12-31" and df["fpers_2016"]!= np.nan):
        fpo=df["fpers_2016"]
    else:
        fpo=np.nan
    return(fpo)

In [41]:
df7["factorex_pola"]= df7.apply(fexpol,axis = 1)
dfprueba["factorex_pola"]= dfprueba.apply(fexpol,axis = 1)

In [7]:
# Ingreso deflactado ipc normalizado
def ipc(df):
    if (df["ano"]==2016):
        i=100
    elif (df["ano"]==2013):
        i = round((79.56/93.11)*100,2)
    elif (df["ano"]==2010):
        i = round((73.45/93.11)*100,2)
    else:
        i = np.nan
    return(i)

In [8]:
df8["ipc_norm"]= df8.apply(ipc,axis = 1)
dfgroups["ipc_norm"]= dfgroups.apply(ipc,axis = 1)

In [10]:
#deflactor
df8["deflactor"]= round((100/df8["ipc_norm"]),2)
dfgroups["deflactor"]= round((100/dfgroups["ipc_norm"]),2)

In [11]:
#ingresos deflactados
l1=["Ingreso_total", "Ingreso_laboral", "Ingreso_no_laboral"]
l2=["Ingreso_total_dflac", "Ingreso_laboral_dflac", "Ingreso_no_laboral_dflac"]

for i, j in zip(l1,l2):
    df8[j]= round((df8[i]*df8["deflactor"]),2)
    dfgroups[j]= round((dfgroups[i]*dfgroups["deflactor"]),2)

In [17]:
#df8["ipc_norm"].value_counts()
dfgroups["Ingreso_total_dflac"].head()

fecha       ID
2010-12-31  11112401    2457915.94
2013-12-31  11112401           NaN
2016-12-31  11112401    5000000.00
2010-12-31  11130702      61964.27
2013-12-31  11130702           NaN
Name: Ingreso_total_dflac, dtype: float64

In [4]:
dfgroups["camino"].value_counts()

c_uno       2391
t_dos       2154
t_tres       558
t_uno        336
c_tres       312
t_cuatro     300
c_seis       216
t_seis       192
c_cuatro     186
t_cinco      147
c_dos        144
c_cinco       45
Name: camino, dtype: int64

In [6]:
#la variable scar previamente creada no era dinámica por tanto era solo un identificador. 
#se crea enbtonces la variable scar2 dinámica para la base de grupos

def scarring(df):
    if df["ano"]==2010:
        s=0
    elif (df["ano"]==2013  and (df["camino"]=="t_uno" or df["camino"]=="t_tres" 
                                or df["camino"]=="t_cuatro" or df["camino"]=="t_cinco" 
                                or df["camino"]=="t_seis")):
        s=0
    elif (df["ano"]==2016  and (df["camino"]=="t_uno" or df["camino"]=="t_tres" 
                                or df["camino"]=="t_cuatro" or df["camino"]=="t_cinco"
                                or df["camino"]=="t_seis")):
        s=1
    elif (df["ano"]==2013  and df["camino"]=="t_dos"):
        s=1
    elif (df["ano"]==2016  and df["camino"]=="t_dos"):
        s=1
    else:
        s=0
    return(s)

In [7]:
dfgroups["scar2"]= dfgroups.apply(scarring,axis = 1)

In [3]:
#salario horario
l1=["Ingreso_total_dflac", "Ingreso_laboral_dflac", "Ingreso_no_laboral_dflac"]
l2=["Ingreso_td_hora", "Ingreso_ld_hora", "Ingreso_nld_hora"]
for i, j in zip(l1,l2):
    df8[j]= round((df8[i]/(df8["horas_normal"]*4)),2)
    dfgroups[j]= round((dfgroups[i]/(dfgroups["horas_normal"]*4)),2)

In [18]:
print(dfgroups["horas_normal"].notnull().sum())
print(dfgroups["Ingreso_laboral_dflac"].notnull().sum())

6215
3046

In [158]:
print(dfgroups["anos_superior_fill"].notnull().sum())

1623

In [156]:
df8["anos_superior_fill"] = df8.groupby("id")["anos_superior"].transform(lambda x: x.fillna(method="ffill"))
dfgroups["anos_superior_fill"] = dfgroups.groupby("id")["anos_superior"].transform(lambda x: x.fillna(method="ffill"))

In [123]:
# for ix, i in enumerate(dfnulls['id']):
#     if i not in null__3_index:
#         null3vcs.append(ix)
# df8["anos_superior_fill"]= df8.iloc[null3vcs,22].fillna(method="ffill")

In [117]:
#obtener el número indice de una columna con su nombre
df8.columns.get_loc("anos_superior")

22

In [ ]:
dfgroups.groupby()

In [89]:
### informlalidad, cotiza_fp2, cotizando, pension, afiliacion_fp.
dfgroups["id"][(dfgroups["cotiza_fp2"]=="x") & (dfgroups["afiliacion_fp"]=="x")].count()
#dfgroups.groupby(by=["ano"])[dfgroups[[dfgroups["cotiza_fp2"]=="Si"]]].count() #& (dfgroups["ano"]==2010)

465

Exception occurred while processing request: min() arg is an empty sequence
Traceback (most recent call last):
  File "D:\anaconda\lib\site-packages\dtale\views.py", line 83, in _handle_exceptions
    return func(*args, **kwargs)
  File "D:\anaconda\lib\site-packages\dtale\views.py", line 2267, in load_filtered_ranges
    overall_min = min([v["min"] for v in filtered_ranges.values()])
ValueError: min() arg is an empty sequence

2022-02-02 10:19:41,925 - ERROR    - Exception occurred while processing request: min() arg is an empty sequence
Traceback (most recent call last):
  File "D:\anaconda\lib\site-packages\dtale\views.py", line 83, in _handle_exceptions
    return func(*args, **kwargs)
  File "D:\anaconda\lib\site-packages\dtale\views.py", line 2267, in load_filtered_ranges
    overall_min = min([v["min"] for v in filtered_ranges.values()])
ValueError: min() arg is an empty sequence

Exception occurred while processing request: min() arg is an empty sequence
Traceback (most recent call last):
  File "D:\anaconda\lib\site-packages\dtale\views.py", line 83, in _handle_exceptions
    return func(*args, **kwargs)
  File "D:\anaconda\lib\site-packages\dtale\views.py", line 2267, in load_filtered_ranges
    overall_min = min([v["min"] for v in filtered_ranges.values()])
ValueError: min() arg is an empty sequence

2022-02-02 10:19:59,652 - ERROR    - Exception occurred while processing request: min() arg is an empty sequence
Traceback (most recent call last):
  File "D:\anaconda\lib\site-packages\dtale\views.py", line 83, in _handle_exceptions
    return func(*args, **kwargs)
  File "D:\anaconda\lib\site-packages\dtale\views.py", line 2267, in load_filtered_ranges
    overall_min = min([v["min"] for v in filtered_ranges.values()])
ValueError: min() arg is an empty sequence

Exception occurred while processing request: min() arg is an empty sequence
Traceback (most recent call last):
  File "D:\anaconda\lib\site-packages\dtale\views.py", line 83, in _handle_exceptions
    return func(*args, **kwargs)
  File "D:\anaconda\lib\site-packages\dtale\views.py", line 2267, in load_filtered_ranges
    overall_min = min([v["min"] for v in filtered_ranges.values()])
ValueError: min() arg is an empty sequence

2022-02-02 10:20:20,344 - ERROR    - Exception occurred while processing request: min() arg is an empty sequence
Traceback (most recent call last):
  File "D:\anaconda\lib\site-packages\dtale\views.py", line 83, in _handle_exceptions
    return func(*args, **kwargs)
  File "D:\anaconda\lib\site-packages\dtale\views.py", line 2267, in load_filtered_ranges
    overall_min = min([v["min"] for v in filtered_ranges.values()])
ValueError: min() arg is an empty sequence

Exception occurred while processing request: min() arg is an empty sequence
Traceback (most recent call last):
  File "D:\anaconda\lib\site-packages\dtale\views.py", line 83, in _handle_exceptions
    return func(*args, **kwargs)
  File "D:\anaconda\lib\site-packages\dtale\views.py", line 2267, in load_filtered_ranges
    overall_min = min([v["min"] for v in filtered_ranges.values()])
ValueError: min() arg is an empty sequence

2022-02-02 10:21:53,115 - ERROR    - Exception occurred while processing request: min() arg is an empty sequence
Traceback (most recent call last):
  File "D:\anaconda\lib\site-packages\dtale\views.py", line 83, in _handle_exceptions
    return func(*args, **kwargs)
  File "D:\anaconda\lib\site-packages\dtale\views.py", line 2267, in load_filtered_ranges
    overall_min = min([v["min"] for v in filtered_ranges.values()])
ValueError: min() arg is an empty sequence

In [86]:
dfgroups["cotiza_fp2"].value_counts()

x     4654
No    1687
Si     640
Name: cotiza_fp2, dtype: int64

In [37]:
# dfprueba.to_csv('D:/maestria_ciencias_economicas_unal/tesis_scarring/base datos/ELCA_FINAL/PET_REDUC_Trat_ctrl.csv', sep = ";")
# df7.to_csv('D:/maestria_ciencias_economicas_unal/tesis_scarring/base datos/ELCA_FINAL/PANEL_PET_REDUC.csv', sep = ";")

In [5]:
df8.to_csv('D:/maestria_ciencias_economicas_unal/tesis_scarring/base datos/ELCA_FINAL/PANEL_MODELO.csv', sep = ";")
dfgroups.to_csv('D:/maestria_ciencias_economicas_unal/tesis_scarring/base datos/ELCA_FINAL/Trat_ctrl_MODELO.csv', sep = ";")

Executing shutdown due to inactivity...

2022-01-27 22:21:33,252 - INFO     - Executing shutdown due to inactivity...

Executing shutdown...

2022-01-27 22:21:37,353 - INFO     - Executing shutdown...

In [9]:
# se guarda la base de datos con nulls con otro nombre para no sobreescribir la base original. se elimina la base nulls.
#dfprueba.to_csv('D:/maestria_ciencias_economicas_unal/tesis_scarring/base datos/ELCA_FINAL/PET_REDUC_Trat_ctrl_nulls.csv', sep = ";")

In [ ]:
# error en datapain al actualizar la versión de pandas:

# Collecting pandasNote: you may need to restart the kernel to use updated packages.
#   Downloading pandas-1.3.3-cp38-cp38-win_amd64.whl (10.2 MB)
# Requirement already satisfied, skipping upgrade: python-dateutil>=2.7.3 in d:\anaconda\lib\site-packages (from pandas) (2.8.1)
# Requirement already satisfied, skipping upgrade: numpy>=1.17.3 in d:\anaconda\lib\site-packages (from pandas) (1.18.5)
# Requirement already satisfied, skipping upgrade: pytz>=2017.3 in d:\anaconda\lib\site-packages (from pandas) (2020.1)
# Requirement already satisfied, skipping upgrade: six>=1.5 in d:\anaconda\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
# Installing collected packages: pandas
#   Attempting uninstall: pandas
#     Found existing installation: pandas 1.0.5
#     Uninstalling pandas-1.0.5:
#       Successfully uninstalled pandas-1.0.5

# ERROR: datapane 0.8.5 has requirement ruamel.yaml<0.17.0,>=0.16.5, but you'll have ruamel-yaml 0.15.87 which is incompatible.
# ERROR: Could not install packages due to an EnvironmentError: [WinError 5] Acceso denegado: 'D:\\anaconda\\Lib\\site-packages\\~andas\\_libs\\algos.cp38-win_amd64.pyd'
# Consider using the `--user` option or check the permissions.