In [1]:
import pandas as pd
import numpy as np
from pandas_profiling import ProfileReport
import dtale

# Seleción de variables, creación, depuración y estandarización

Se busca determinar las variables necesarias para el ejercicio. Para esto se seleccionan de la base df6 aquellas que tienen que ver con 9 temáticas, a saber, indetificación, periodo, control, ubicación, representatividad, composición de la vivienda y el hogar, y las condiciones de la vivienda, sociodemográficas y socioeconómicas. Posteriormente, se crean las variables de clasificación laboral, scar, remuneraciones, calidad del empleo y educación. En este proceso se depuran y  estandarizar las variables necesarias de acuerdo con diversos procedimientos, entre ellos 'gather', fomateo correcto, remoción de tíldes y espacios, string a mínusculas.

## Selección
Se seleccionan las variables de acuerdo con 9 grupos, las de indetificación, periodo, control, ubicación, representatividad, composición de la vivienda y el hogar, y las condiciones de la vivienda, sociodemográficas y socioeconómicas. Además, el grupo de las condiciones socioecnómicas se divide en 3  subgrupos, educación, clasificación e historia laboral. Asimismo, estos subgrupos contemplan las caracteristicas de los ocupados, las remuneraciones, la calidad del empleo y las características de los desocupados, presentes y pasadas.

In [11]:
df7 = df6[[
 #identificador
    'ID',
 #periodo
 'Fecha',
 'ola_l',
 'hogar_l',
 'hogar_n16_l'
 #control
 'orden',
 'seguimiento',
 'encuestada_2013',
 #ubicación
 'region',
 'RegionLb',
 'region_2016',
 'id_depto',
 'id_mpio',
 'id_mpioU',
 #representatividad
 'riqueza_pca',
 'tercil2010',
 'tercil2013',
 'tercil2016',
 'fhog',
 'fhog_2010',
 'fhog_2013',
 'fhog_2016',
 'fexhog',
 'fexhog_2010',
 'fexhog_2013',
 'fpers',
 'fpers_2010',
 'fpers_2013',
 'fpers_2016',
 'fexpers',
 'fexpers_2010',
 'fexpers_2013',
 #composición
 't_hogares',
 't_hogar',
 't_personas',
 #condiciones de la vivienda
 'tipo_vivienda',
 'material_pisos',
 'material_paredes',
 'sp_energia',
 'sp_estrato',
 'sp_gasnatural',
 'sp_acueducto',
 'sp_alcantarillado',
 'sp_telefono',
 'sp_recoleccion_basura',
 'eliminan_basura',
 #condiciones sociodemográficas
 'sexo',
 'edad',
 'edad_meses',
 'parentesco',
 'estado_civil',
 'vive_conyuge',
 'orden_conyuge',
 'etnia',
 #condiciones socieconómicas:  
 'estrato',
 ##educación
 'lee_escribe',
 'estudia',
 'nivel_educ',
 'grado_educ',
 'edad_dejoestudio',
 'nivel_educ_cursa',
 'grado_educ_cursa',
 'anos_superior',
 'estudiaba_2010',
 'nivel_educ_2010',
 'grado_educ_2010',
 'anos_superior_2010',
 'est_superiores',  
 ##clasificación laboral
     ###ocupados   
 'actividad_ppal',
 ### desocupados
 'diligencias4',
 'diligencias12',
 ###características de los ocupados
 'descripcion_ciiu',
 'descrip_oficio',
 'cod_oficio',
 'edad_tenia',
 'anos_trabaja',
 'meses_trabaja',
 'mes_inicio',
 'ano_inicio', 
 'ocupacion',
 'horas_normal',
 'cod_oficio2',
 'tipo_contrato',
 ### remuneraciones
'rec_otros_pago',
 'vr_alimentos_pago',
 'vr_vivienda_pago',
 'vr_educ_pago',
 'vr_subalimentacion',
 'vr_subtransporte',
 'vr_subfamiliar',
 'vr_bonos',
 'vr_ingmen_ase',
 'vr_salario',
 'vr_ganancia',  
 'meses_ganancia',
 'rec_ninguno',
 'pagos_adicion',
 'ingresos',
 'ganancia_neta',
 'vr_salario_mes',
 'recibio_ganancia',
    
 ### calidad del empleo
 ####salud
 'afiliacion',
 'seg_medico',
 'segsoc_salud',
 'estaba_sss',
 'beneficiario_sss',
 'beneficiario_orden',
 ####pensión
 'cotiza_fp',
 'estaba_fp',     
 'afiliacion_fp',
 'vr_rec_pension',
 ####tamaño
 'tam_empresa',
 'n_empleados',
 'registro_mercantil',
 ####condiciones adicionales
 'vacaciones',
 'prima_navidad',
 'cesantias',
 ### características de los desocupados
 'ofertas_empleo',
 'ofertas_emp12',
 'ofertas_emp1',
 'vr_salario_ofr',
 'razon_noacepto',
 'disponibilidad',
 't_bustrab_a',
 't_bustrab_m',
 'medio_busco',
 't_busco_trab',
 't_dejo_trabajar',
 'vr_rec_arriendos',
 'vr_rec_dividendos',
 'salario_insf',
 'salario_nopresta',
 'horario_nosirve',
 'ubica_inadecuada',
 'noapto_trabajo',
 'razon_personal',
 
  ## historia laboral
 ###caracterísicas ocupados
 'edad_primert',
 'anos_primert',
 'horas_normal_pt',
 'ocupacion_pt',
 'es_ptrabajo',
 't_trabajo_ult',
 'trabajo_ult3',
 'tiempo_trab',
 ###remuneración
 'vr_recibia_pt',
 'rango_ingreso',
 ###salud
 'sss_pt',
 ###pensión
 'afiliado_fp_pt',
 'cotizando',
 ###tamaño
 'tamano_pt',
  ###caracterísicas desocupados
 'desemp_ult3',
 'tiempo_desemp',
 'nocotiza_ult3',
 'tiempo_ncotiza',
 'primer_busca'
  ]]

In [271]:
df7= pd.read_csv('D:/maestria_ciencias_economicas_unal/tesis_scarring/base datos/ELCA_FINAL/PANEL_PET_REDUC.csv', sep = ";", index_col=[0,1], low_memory=False)

## Creación variables

### 1. Estadarizaión e implace

In [95]:
df7 = df7.convert_dtypes()

In [3]:
df7['diligencias4'] = df7['diligencias4'].str.replace("í", "i")
df7['diligencias4'].value_counts()

x     12517
No     4201
Si      793
Name: diligencias4, dtype: int64

In [4]:
df7['diligencias12'] = df7['diligencias12'].str.replace("í", "i")
df7['diligencias12'].value_counts()

x     13309
No     3833
Si      369
Name: diligencias12, dtype: int64

In [270]:
#df7.to_csv('D:/maestria_ciencias_economicas_unal/tesis_scarring/base datos/ELCA_FINAL/PANEL_PET_REDUC.csv', sep = ";")

In [4]:
df7['actividad_ppal'].value_counts()

Ninguna de las anteriores                                                           4994
Trabajó en forma remunerada por lo menos UNA hora  en una actividad que le gener    3990
Trabajó en forma remunerada por lo menos UNA hora  en una actividad que le gene     3867
Trabajó en forma remunerada por lo menos una hora                                   3848
No trabajó pero tenía un empleo o trabajo por el que recibe ingresos                 254
Trabajó como ayudante familiar sin que le pagaran  por lo menos UNA hora             144
Es incapacitado(a) permanente para trabajar                                          106
No trabajó pero tenía un empleo o trabajo de por lo menos una hora                    74
Trabajó como ayudante familiar sin remuneración por lo menos una hora                 63
x                                                                                     56
Trabajó  por lo menos UNA HORA y buscó  trabajo                                       46
Es incapacitado permanente para trabajar                                              36
Trabajó por lo menos una hora y buscó trabajo                                         24
No informa                                                                             9
Name: actividad_ppal, dtype: int64

In [20]:
df7["sexo"].value_counts()

mujer     10254
hombre     7257
Name: sexo, dtype: Int64

### Forma 2 clasificación laboral

Se encuentran problemas con los datos nulos de las variables actividad principal, diligencias 4 y diligencias 12, por tanto se procede a reemplazarlos por una "x". Se verifica que los datos nulos sean cero, así como el tipo de dato de la variable sea string y que cualquier condición o categoría de la variable actividad principal arroge resultados. Posteriormente se construye una función que recibe como argumento el data frame y retorna 1,2,3 si los registros cumplen con las condiciones respectivas, de lo contrario arroja valores np.nan. Finalmente, se crea la nueva variable clasif_lab en el dataframe y se aplica sobre el dataframe la función new_colum -que recibe como argumento el dataframe- a través de la función apply.

In [34]:
#hacer esto primero, convertir datos nulos a caracter string
df7['actividad_ppal']= df7['actividad_ppal'].replace(np.nan, "x") 
df7['diligencias4']= df7['diligencias4'].replace(np.nan, "x")
df7['diligencias12']= df7['diligencias12'].replace(np.nan, "x")

In [10]:
df7['actividad_ppal'].str.upper().isnull().sum()

56

In [23]:
df7['diligencias12'].dtypes

StringDtype

In [35]:
def new_colum(df):
    if ((df['actividad_ppal'] == "Trabajó en forma remunerada por lo menos UNA hora  en una actividad que le gener") or 
       (df['actividad_ppal'] == "Trabajó en forma remunerada por lo menos UNA hora  en una actividad que le gene") or
       (df['actividad_ppal'] == "Trabajó en forma remunerada por lo menos una hora") or
       (df['actividad_ppal'] == "No trabajó pero tenía un empleo o trabajo por el que recibe ingresos") or
       (df['actividad_ppal'] == "Trabajó como ayudante familiar sin que le pagaran  por lo menos UNA hora") or
       (df['actividad_ppal'] == "No trabajó pero tenía un empleo o trabajo de por lo menos una hora") or
       (df['actividad_ppal'] == "Trabajó como ayudante familiar sin remuneración por lo menos una hora") or
       (df['actividad_ppal'] == "Trabajó  por lo menos UNA HORA y buscó  trabajo") or
       (df['actividad_ppal'] == "Trabajó por lo menos una hora y buscó trabajo")):
        categoria = 1
    elif (((df['actividad_ppal'] == "Ninguna de las anteriores") and (df['diligencias4'] == "Si")) or 
          ((df['actividad_ppal'] == "Ninguna de las anteriores") and (df['diligencias12'] == "Si"))):
        categoria = 2
    elif (((df['actividad_ppal'] == "Ninguna de las anteriores") and (df['diligencias4'] == "No")) or
          ((df['actividad_ppal'] == "Ninguna de las anteriores") and  (df['diligencias12'] == "No")) or
          (df['actividad_ppal'] == "Es incapacitado permanente para trabajar") or
          (df['actividad_ppal'] == "Es incapacitado(a) permanente para trabajar") or
          (df['actividad_ppal'] == "No informa")):
         categoria = 3
    else:
        categoria = np.nan
    return(categoria)

### Aplicamos la función para crear la variable clasificación laboral

Se realiza la verificación del procedimiento mediante value_counts sobre la variable clasif_lab, se verfican los datos nulos y se le da el respectivo formato int.

In [44]:
df7['clasif_lab'].value_counts()

1.0    12310
3.0     3984
2.0     1161
Name: clasif_lab, dtype: int64

In [37]:
df7['clasif_lab1'].isnull().sum()

56

In [24]:
df7.to_csv('D:/maestria_ciencias_economicas_unal/tesis_scarring/base datos/ELCA_FINAL/PANEL_PET_REDUC.csv', sep = ";")

### scar
Se crean seis variables scar, correspondites a los seis flujos de identificación, para lo cual primero se simula el proceso y posteriormente se aplica a la base real.

### simulación

In [99]:
arrays = [np.array(["2010-12-31", "2013-12-31", "2016-12-31", "2010-12-31", "2013-12-31", "2016-12-31", "2010-12-31", "2013-12-31", "2016-12-31", "2010-12-31", "2013-12-31", "2016-12-31", "2010-12-31", "2013-12-31", "2016-12-31"]),
np.array([11, 11, 11, 12, 12, 12, 13, 13, 13, 14, 14, 14, 15, 15, 15])]
index = pd.MultiIndex.from_arrays(arrays, names=["fecha", "persona"])
simul = pd.DataFrame({"ID":[11, 11, 11, 12, 12, 12, 13, 13, 13, 14, 14, 14, 15, 15, 15],"Fecha": ["2010-12-31", "2013-12-31", "2016-12-31", "2010-12-31", "2013-12-31", "2016-12-31", "2010-12-31", "2013-12-31", "2016-12-31", "2010-12-31", "2013-12-31", "2016-12-31", "2010-12-31", "2013-12-31", "2016-12-31"],
"clasif_lab": [1, 2, 1, 1, 1, 3, 1, 2, 1, 1, 1, 1, "x", "x", "x"]}, index= index)

simul.head(16)

                    ID       Fecha clasif_lab
fecha      persona
2010-12-31 11       11  2010-12-31          1
2013-12-31 11       11  2013-12-31          2
2016-12-31 11       11  2016-12-31          1
2010-12-31 12       12  2010-12-31          1
2013-12-31 12       12  2013-12-31          1
2016-12-31 12       12  2016-12-31          3
2010-12-31 13       13  2010-12-31          1
2013-12-31 13       13  2013-12-31          2
2016-12-31 13       13  2016-12-31          1
2010-12-31 14       14  2010-12-31          1
2013-12-31 14       14  2013-12-31          1
2016-12-31 14       14  2016-12-31          1
2010-12-31 15       15  2010-12-31          x
2013-12-31 15       15  2013-12-31          x
2016-12-31 15       15  2016-12-31          x

In [ ]:
#simul['Fecha']=[i[0] for i in simul.index.to_list()]
#simul['ID']=[i[1] for i in simul.index.to_list()]

In [100]:
def scarfs(df):
    if (((df["Fecha"]=="2010-12-31") and (df["clasif_lab"]== 1)) or
    ((df["Fecha"]=="2013-12-31") and (df["clasif_lab"]== 2)) or
    ((df["Fecha"]=="2016-12-31") and (df["clasif_lab"]== 1))):
        categoria=1
    elif (df["clasif_lab"]== "x"):
         categoria= "x"
    else:
        categoria=0
    return(categoria)

In [102]:
simul['scar'] = simul.apply(scarfs, axis = 1)
simul.head(16)

                    ID       Fecha clasif_lab scar
fecha      persona
2010-12-31 11       11  2010-12-31          1    1
2013-12-31 11       11  2013-12-31          2    1
2016-12-31 11       11  2016-12-31          1    1
2010-12-31 12       12  2010-12-31          1    1
2013-12-31 12       12  2013-12-31          1    0
2016-12-31 12       12  2016-12-31          3    0
2010-12-31 13       13  2010-12-31          1    1
2013-12-31 13       13  2013-12-31          2    1
2016-12-31 13       13  2016-12-31          1    1
2010-12-31 14       14  2010-12-31          1    1
2013-12-31 14       14  2013-12-31          1    0
2016-12-31 14       14  2016-12-31          1    1
2010-12-31 15       15  2010-12-31          x    x
2013-12-31 15       15  2013-12-31          x    x
2016-12-31 15       15  2016-12-31          x    x

In [103]:
mask_1= simul["scar"] == 1
mask_1[mask_1==True].count()
#solo_1 = mask_1[mask_1==True].index.to_list()

9

In [104]:
simul2 = simul[mask_1==True]
simul2

                    ID       Fecha clasif_lab scar
fecha      persona
2010-12-31 11       11  2010-12-31          1    1
2013-12-31 11       11  2013-12-31          2    1
2016-12-31 11       11  2016-12-31          1    1
2010-12-31 12       12  2010-12-31          1    1
           13       13  2010-12-31          1    1
2013-12-31 13       13  2013-12-31          2    1
2016-12-31 13       13  2016-12-31          1    1
2010-12-31 14       14  2010-12-31          1    1
2016-12-31 14       14  2016-12-31          1    1

In [107]:
mask_2 = simul2["ID"].value_counts()==3
mask_2[mask_2==True].count()

2


Existe un problema al filtrar los datos, ya que existen índices que se repiten tres veces y tienen el valor 0 y 1, es por ello que se deben separar las codiciones en dos tablas, dado que en una misma no se pueden cumplir las dos condiciones al mismo tiempo. Lo anterior se ejemplifica con los datos simulados, al crear los filtros mask_1 y mask_4 sobre la misma tabla, como se muestra a continuación.

In [108]:
# mask_4=simul["ID"].value_counts()==3
# simul[mask_4 & mask_1]

In [109]:
tres_veces = mask_2[mask_2==True].index.to_list()

indices_tres_veces = []
for ix, i in enumerate(simul2['ID']): #ix recorre el indice, i recorre los valores de la variable
    if i in tres_veces:
        indices_tres_veces.append(ix)

simul2= simul2.iloc[indices_tres_veces,:]

In [111]:
simuls = [simul, simul2]

In [112]:
otro = pd.concat(simuls)
otro

                    ID       Fecha clasif_lab scar
fecha      persona
2010-12-31 11       11  2010-12-31          1    1
2013-12-31 11       11  2013-12-31          2    1
2016-12-31 11       11  2016-12-31          1    1
2010-12-31 12       12  2010-12-31          1    1
2013-12-31 12       12  2013-12-31          1    0
2016-12-31 12       12  2016-12-31          3    0
2010-12-31 13       13  2010-12-31          1    1
2013-12-31 13       13  2013-12-31          2    1
2016-12-31 13       13  2016-12-31          1    1
2010-12-31 14       14  2010-12-31          1    1
2013-12-31 14       14  2013-12-31          1    0
2016-12-31 14       14  2016-12-31          1    1
2010-12-31 15       15  2010-12-31          x    x
2013-12-31 15       15  2013-12-31          x    x
2016-12-31 15       15  2016-12-31          x    x
2010-12-31 11       11  2010-12-31          1    1
2013-12-31 11       11  2013-12-31          2    1
2016-12-31 11       11  2016-12-31          1    1
2010-12-31 13       13  2010-12-31          1    1
2013-12-31 13       13  2013-12-31          2    1
2016-12-31 13       13  2016-12-31          1    1

### Base real

In [68]:
df7= pd.read_csv('D:/maestria_ciencias_economicas_unal/tesis_scarring/base datos/ELCA_FINAL/PANEL_PET_REDUC.csv', sep = ";", index_col=[0,1], low_memory=False)
dfprueba= pd.read_csv('D:/maestria_ciencias_economicas_unal/tesis_scarring/base datos/ELCA_FINAL/PET_REDUC_Trat_ctrl.csv', sep = ";", low_memory=False)

In [134]:
#df7= df7.drop(["scar"], axis = 1)
#df7.to_csv('D:/maestria_ciencias_economicas_unal/tesis_scarring/base datos/ELCA_FINAL/PANEL_PET_REDUC.csv', sep = ";")

El código anterior permite conocer el número de personas que poseen el efecto scarring (1, 2, 1), a través de la creación de un filtro y arroja como resultado un dataframe con dichas personas. A continuación se crea la función que incluye los seis caminos para identificar la población suceptible del efecto. Se aplica la función junto con los filtros y se almacenan en df8, se crean las variables scar (1) y control (0). Asimismo, se crea la función para el grupo de control que incluye dos caminos, junto con los filtros y se almacena en df9; se crean las variables scar (0) y control (1). A continuación se concatenan las 2 tablas en df10.

Finalmente, se crea dos tablas de salida, una para el grupo tratamiento, con el número de personas, número de episodios de desempleo y tiempo de desempleo promedio en meses y años; y otra para el grupo de control, con el número de personas, número de episodios de empleo (si es posible), tiempo de trabajo en meses y años. 

Otra posibilidad es explorar la creación de funciones por cada tabla y concatenarlas, lo cual haría más extenso el código, pero permitiría realizar un pivot con todas las tablas por cada uno de los caminos.

In [46]:
# def scarf(df):
#     if (((df["Fecha"]=="2010-12-31") and (df["clasif_lab"]== 1)) or
#     ((df["Fecha"]=="2013-12-31") and (df["clasif_lab"]== 2)) or
#     ((df["Fecha"]=="2016-12-31") and (df["clasif_lab"]== 1))):
#         categoria=1
#     elif (((df["Fecha"]=="2010-12-31") and (df["clasif_lab"]== 1)) or
#     ((df["Fecha"]=="2013-12-31") and (df["clasif_lab"]== 1) and (df["desemp_ult3"] == "si")) or
#     ((df["Fecha"]=="2016-12-31") and (df["clasif_lab"]== 1))):
#         categoria=1
#     elif (((df["Fecha"]=="2010-12-31") and (df["clasif_lab"]== 1)) or
#     ((df["Fecha"]=="2013-12-31") and (df["clasif_lab"]== 1) and (df["desemp_ult3"] == "no")) or 
#     ((df["Fecha"]=="2016-12-31") and (df["clasif_lab"]== 1) and (df["desemp_ult3"] == "si"))):
#         categoria=1
#     elif (((df["Fecha"]=="2010-12-31") and (df["clasif_lab"]== 2)) or
#     ((df["Fecha"]=="2013-12-31") and (df["clasif_lab"]== 1)) or 
#     ((df["Fecha"]=="2016-12-31") and (df["clasif_lab"]== 1) and (df["desemp_ult3"] == "si"))):
#         categoria=1
#     elif (((df["Fecha"]=="2010-12-31") and (df["clasif_lab"]== 2)) or
#     ((df["Fecha"]=="2013-12-31") and (df["clasif_lab"]== 2) and (df["trabajo_ult3"] == "si")) or 
#     ((df["Fecha"]=="2016-12-31") and (df["clasif_lab"]== 1))):
#         categoria=1
#     elif (df["clasif_lab"]== "x") or (df["desemp_ult3"]== "x") or (df["trabajo_ult3"]== "x"):
#          categoria= "x"
#     else:
#         categoria=0
#     return(categoria)

In [47]:
# df7['scar'] = df7.apply(scarf, axis = 1)

Al realizar el análisis con la función compuesta se observa que existen registros marcados como scarring de manera incorrecta, por ejemplo ocupados en todos los tres periodos. Esto se debe al flujo de ejecución del programa, puesto que evalua la primera condición para todos los registros, entonces cuando pasa a la segunda condición los registros ya están marcados. Por ello se decide crear una función, una variable scar, un filtro, una tabla y una variable control por cada camino, y posteriormente concatenarlas, sin que existan valores duplicados.

#### Camino 1. scarfuno

In [20]:
def scarfuno(df):
    if (((df["Fecha"]=="2010-12-31") and (df["clasif_lab"]== 1)) or
        ((df["Fecha"]=="2013-12-31") and (df["clasif_lab"]== 2)) or
        ((df["Fecha"]=="2016-12-31") and (df["clasif_lab"]== 1))):
        categoria= 1
    else:
        categoria= 0     
    return(categoria)

In [21]:
df7['scar_uno'] = df7.apply(scarfuno, axis = 1)

In [22]:
#celda flotante para comprobaciones
# df7["clasif_lab"].value_counts(dropna = False)
df7["scar_uno"].value_counts(dropna = False)
#df7.head()

0    9035
1    8476
Name: scar_uno, dtype: int64

In [23]:
msk_1_s1= df7["scar_uno"] == 1
msk_1_s1[msk_1_s1==True].count()

8476

In [24]:
df8 = df7[msk_1_s1==True]
msk_2_s1 = df8["id"].value_counts()==3
msk_2_s1[msk_2_s1==True].count() #112 ids cuentan con el efecto scar, aparecen 3495 personas con el efecto.

112

In [25]:
trs_veces1 = msk_2_s1[msk_2_s1==True].index.to_list()

indices_trs_veces1 = []
for ix,i in enumerate(df8['id']):
    if i in trs_veces1:
        indices_trs_veces1.append(ix)

df8 = df8.iloc[indices_trs_veces1,:] # se crea el dataframe 8 con 112 personas (camino1) suceptibles del scar.

In [26]:
df8= df8.rename(columns={"scar_uno":"scar"})

In [27]:
df8['control'] = int(0)

In [28]:
df8['camino'] = str("t_uno")

#### Camino 2. scarf_dos

In [29]:
def scarf_dos(df):
    if (((df["Fecha"]=="2010-12-31") and (df["clasif_lab"]== 1)) or
    ((df["Fecha"]=="2013-12-31") and (df["clasif_lab"]== 1) and (df["desemp_ult3"] == "si")) or
    ((df["Fecha"]=="2016-12-31") and (df["clasif_lab"]!= np.nan))):
        categoria=1
    elif (df["clasif_lab"]== np.nan) or (df["desemp_ult3"]== "x"):
         categoria= "x"
    else:
        categoria=0
    return(categoria)

In [30]:
df7['scar_dos'] = df7.apply(scarf_dos, axis = 1)

In [31]:
msk_1_s2= df7["scar_dos"] == 1
msk_1_s2[msk_1_s2==True].count()

10840

In [32]:
df9 = df7[msk_1_s2==True]
msk_2_s2= df9["id"].value_counts()==3
msk_2_s2[msk_2_s2==True].count() # 718 persons (camino 2) suceptibles de efecto scar

718

In [33]:
trs_veces2 = msk_2_s2[msk_2_s2==True].index.to_list()

indices_trs_veces2 = []
for ix,i in enumerate(df9['id']):
    if i in trs_veces2:
        indices_trs_veces2.append(ix)

df9 = df9.iloc[indices_trs_veces2,:] # se crea el dataframe 9 con las personas que tienen efecto scar.

In [34]:
df9= df9.rename(columns={"scar_dos":"scar"})

In [35]:
df9['control'] = int(0)
#df9= df9.rename(columns={"control_dos":"control"})
#df7['scar'].isnull().sum()

In [36]:
df9['camino'] = str("t_dos")

In [37]:
#df7[df7['scar']==1].count() #& (df7['scar']==1) & (df7['scar']==1)].count()
#df7[(df7['scar']==1) & (df7['Fecha']=="2013-12-31")].count()

#### Camino 3. scarf_tres

In [38]:
def scarf_tres(df):
    if (((df["Fecha"]=="2010-12-31") and (df["clasif_lab"]== 1)) or
    ((df["Fecha"]=="2013-12-31") and (df["clasif_lab"]== 1) and (df["desemp_ult3"] == "no")) or 
    ((df["Fecha"]=="2016-12-31") and (df["clasif_lab"]== 1) and (df["desemp_ult3"] == "si"))):
        categoria=1         
    elif (df["clasif_lab"]== np.nan) or (df["desemp_ult3"]== "x"):
        categoria= "x"
    else:
        categoria=0
    return(categoria)

In [39]:
df7['scar_tres'] = df7.apply(scarf_tres, axis = 1)

In [40]:
msk_1_s3= df7["scar_tres"] == 1
msk_1_s3[msk_1_s3==True].count()

7629

In [41]:
df10 = df7[msk_1_s3==True]
msk_2_s3= df10["id"].value_counts()==3
msk_2_s3[msk_2_s3==True].count() # 186 persons (camino 3) suceptibles de efecto scar

186

In [42]:
trs_veces3 = msk_2_s3[msk_2_s3==True].index.to_list()

indices_trs_veces3 = []
for ix,i in enumerate(df10['id']):
    if i in trs_veces3:
        indices_trs_veces3.append(ix)

df10 = df10.iloc[indices_trs_veces3,:] # se crea el dataframe 10 con las personas que tienen efecto scar.

In [43]:
#df9.drop("scar_uno", axis = 1) #probar la combinación con las dos variables

In [44]:
df10= df10.rename(columns={"scar_tres":"scar"})

In [45]:
df10['control'] = int(0)
#df10= df10.rename(columns={"control_tres":"control"})
#df7['scar'].isnull().sum()

In [46]:
df10['camino'] = str("t_tres")

#### Camino 4. scarf_cuatro

In [47]:
def scarf_cuatro(df):
    if (((df["Fecha"]=="2010-12-31") and ((df["clasif_lab"]== 2) or (df["clasif_lab"]== 3))) or
    ((df["Fecha"]=="2013-12-31") and (df["clasif_lab"]== 1)) or 
    ((df["Fecha"]=="2016-12-31") and (df["clasif_lab"]== 1) and (df["desemp_ult3"] == "si"))):
        categoria=1
    elif (df["clasif_lab"]== np.nan) or (df["desemp_ult3"]== "x"):
        categoria= "x"
    else:
        categoria=0
    return(categoria)

In [48]:
df7['scar_cuatro'] = df7.apply(scarf_cuatro, axis = 1)

In [49]:
msk_1_s4= df7["scar_cuatro"] == 1
msk_1_s4[msk_1_s4==True].count()

6511

In [50]:
df11 = df7[msk_1_s4==True]
msk_2_s4= df11["id"].value_counts()==3
msk_2_s4[msk_2_s4==True].count() # 100 personas (camino 4) suceptibles de efecto scar

100

In [51]:
trs_veces4 = msk_2_s4[msk_2_s4==True].index.to_list()

indices_trs_veces4 = []
for ix,i in enumerate(df11['id']):
    if i in trs_veces4:
        indices_trs_veces4.append(ix)

df11 = df11.iloc[indices_trs_veces4,:] # se crea el dataframe 11 con las personas que tienen efecto scar.

In [52]:
df11= df11.rename(columns={"scar_cuatro":"scar"})

In [53]:
df11['control'] = int(0)
#df7['scar'].isnull().sum()

In [54]:
df11['camino'] = str("t_cuatro")

#### Camino 5. scarf_cinco

In [55]:
def scarf_cinco(df):
    if (((df["Fecha"]=="2010-12-31") and ((df["clasif_lab"]== 2) or (df["clasif_lab"]== 3))) or
    ((df["Fecha"]=="2013-12-31") and (df["clasif_lab"]== 2) and (df["trabajo_ult3"] == "si")) or 
    ((df["Fecha"]=="2016-12-31") and (df["clasif_lab"]== 1))):
        categoria=1        
    elif (df["clasif_lab"]== np.nan) or (df["trabajo_ult3"]== "x"):
        categoria= "x"
    else:
        categoria=0
    return(categoria)

In [56]:
df7['scar_cinco'] = df7.apply(scarf_cinco, axis = 1)

In [57]:
msk_1_s5= df7["scar_cinco"] == 1
msk_1_s5[msk_1_s5==True].count()

6154

In [58]:
df12 = df7[msk_1_s5==True]
msk_2_s5= df12["id"].value_counts()==3
msk_2_s5[msk_2_s5==True].count() # 49 personas (camino 5) suceptibles de efecto scars

49

In [59]:
trs_veces5 = msk_2_s5[msk_2_s5==True].index.to_list()

indices_trs_veces5 = []
for ix,i in enumerate(df12['id']):
    if i in trs_veces5:
        indices_trs_veces5.append(ix)

df12 = df12.iloc[indices_trs_veces5,:] # se crea el dataframe 12 (camino 5) con las personas que tienen efecto scar.

In [60]:
df12= df12.rename(columns={"scar_cinco":"scar"})

In [61]:
df12['control'] = int(0)
#df7['scar'].isnull().sum()

In [62]:
df12['camino'] = str("t_cinco")

#### Camino 6. scarf_seis
agregar la variable de inactividad al df7

In [63]:
#urb_per_13 = pd.read_stata("D:/maestria_ciencias_economicas_unal/tesis_scarring/base datos/ELCA_2013/ELCA_2013_urbano/Upersonas_2013.dta")

In [64]:
#urb_per_13= urb_per_13.rename(columns={"llave_ID_lb":"ID"})

In [65]:
#urb_per_13["Fecha"] = '2013-12-31'

In [66]:
#urb_per_13.head()

In [67]:
#urb_per_13 = urb_per_13[["Fecha","ID","actividad_principal", "t_busco_trab"]]

In [68]:
# df7= pd.merge(left=df7, right=urb_per_13, left_on = ["Fecha","ID"], 
#                    right_on= ["Fecha","ID"], how = 'left', 
#                    sort = False, indicator = 'indicator_column', 
#                    validate = '1:m', suffixes=("_l", "_r"))

In [69]:
df7.shape

(17511, 175)

In [70]:
#df7.to_csv('D:/maestria_ciencias_economicas_unal/tesis_scarring/base datos/ELCA_FINAL/PANEL_PET_REDUC.csv', sep = ";")

In [71]:
#df7["t_busco_trab_r"].value_counts()

In [72]:
#df7["t_busco_trab_l"].value_counts()

In [73]:
def scarf_seis(df):
    if (((df["Fecha"]=="2010-12-31") and (df["clasif_lab"]== 1)) or
    ((df["Fecha"]=="2013-12-31") and (df["clasif_lab"]== 3) and (df["t_busco_trab_r"] == "Menos de 6 meses")) or
    ((df["Fecha"]=="2013-12-31") and (df["clasif_lab"]== 3) and (df["t_busco_trab_r"] == "Entre 7 y 11 meses")) or
    ((df["Fecha"]=="2013-12-31") and (df["clasif_lab"]== 3) and (df["t_busco_trab_r"] == "Entre 1 y menos de 2 años")) or 
    ((df["Fecha"]=="2016-12-31") and (df["clasif_lab"]== 1))):
        categoria=1        
    elif (df["clasif_lab"]== np.nan) or (df["t_busco_trab_r"]== np.nan):
        categoria= "x"
    else:
        categoria=0
    return categoria

In [74]:
df7['scar_seis'] = df7.apply(scarf_seis, axis = 1)

In [75]:
msk_1_s6= df7["scar_seis"] == 1
msk_1_s6[msk_1_s6==True].count()

8335

In [76]:
df12a = df7[msk_1_s6==True]
msk_2_s6= df12a["id"].value_counts()==3
msk_2_s6[msk_2_s6==True].count() # 64 personas (camino 6) suceptibles de efecto scar

64

In [77]:
trs_veces6 = msk_2_s6[msk_2_s6==True].index.to_list()

indices_trs_veces6 = []
for ix,i in enumerate(df12a['id']):
    if i in trs_veces6:
        indices_trs_veces6.append(ix)

df12a = df12a.iloc[indices_trs_veces6,:] # se crea el dataframe 12a (camino 6) con las 40 personas que tienen efecto scar.

In [78]:
df12a= df12a.rename(columns={"scar_seis":"scar"})

In [79]:
df12a['control'] = int(0)
#df12a= df12a.rename(columns={"control_seis":"control"})
#df7['scar'].isnull().sum()

In [80]:
df12a['camino'] = str("t_seis")

### Grupo control camino 1
Primero se debe crear variable de tiempo en el empleo actual a partir de la pregunta 503 del formulario, la cual admite 3 tipos de respuesta, a saber, edad de inicio, fecha de inicio o tiempo que lleva, generando 5 variables en base de datos. Entonces:

1. Se lleva la opción 1 a tiempo mensual, mediante:(edad - edad_tenia )*12 

2.Se lleva la opción 2 a tiempo mensual, mediante: (año_encuesta - ano_inicio)* 12 + (6 - mes_inicio)

3. Se lleva la opción 2 a tiempo mensual, mediante: Dado que las variables anos_trabaja y meses_trabaja son complementarias, se lleva la primera a meses, multiplicando por 12 y posteriormente se suma con las segunda. 

El procedimiento anterior se realiza mediante una función.

Adicionalmente, se debe pasar la variable mes_inicio a número para lo cual se cpnvertir los nombres de los meses a números.

In [81]:
def fecha_ini(df):
    if (df["Fecha"]=="2010-12-31"):
        fe = 2010
    elif (df["Fecha"]=="2013-12-31"):
        fe = 2013
    elif (df["Fecha"]=="2016-12-31"):
        fe = 2016
    else:
        fe = np.nan
    return fe

In [82]:
df7['ano_encuesta'] = df7.apply(fecha_ini, axis = 1)

In [154]:
#df7["edad_tenia"][df7["edad_tenia"]==99].count()

0

In [85]:
def t_trab_act(df):
    
    if ((df["anos_trabaja"] > 0) or (df["meses_trabaja"] > 0)):
        op_1 = ((df["anos_trabaja"]*12) + df["meses_trabaja"])
    
    elif (df["edad_tenia"] > 0 ):
        op_1 = ((df['edad'] - df["edad_tenia"])*12) 
    
    elif  (df["ano_inicio"]>0) and (df["mes_inicio"]>0):
        op_1 = (((df['ano_encuesta'] - df['ano_inicio'])*12) + (6 - df['mes_inicio'])) 
    else:
        op_1 = np.nan
    return op_1

In [86]:
df7['tiempo_empleo'] = df7.apply(t_trab_act, axis = 1)

In [153]:
#(((df7['ano_encuesta'] - df7['ano_inicio']) *12) + (6 - df7['mes_inicio'])).value_counts().sort_values(ascending = False)

In [151]:
#df7["tiempo_empleo"][df7["tiempo_empleo"] < 36].count()

6351

In [145]:
#df7.boxplot(column=["edad_tenia", "meses_trabaja", "anos_trabaja"], by = "sexo", layout = (2,2))
#df7.boxplot(column=["edad_tenia", "meses_trabaja", "anos_trabaja"])
#df7.boxplot(column=["Tiempo_trab_act"])


debido a que al pegar el dataframe no se indexó por fecha, el indice automaticamente paso a ser el id, por tanto se toma el indice "ID" y se replica como variable "ID" en el dataframe.

In [146]:
#dfindex = dfindex.reset_index()
#df7['id']=[i[1] for i in df7.index.to_list()]

Se contruye la función de condiciones

In [91]:
def controlf_uno(df):
    if (((df["Fecha"]=="2010-12-31") and (df["clasif_lab"]== 1)) or
    ((df["Fecha"]=="2013-12-31") and (df["clasif_lab"]== 1)  and (df["tiempo_empleo"] < 36)
    and (df["desemp_ult3"] != "si")) or 
    ((df["Fecha"]=="2016-12-31") and (df["clasif_lab"]== 1) and (df["tiempo_empleo"] < 36) and (df["desemp_ult3"] != "si"))): #
        categoria=1      
    elif (df["clasif_lab"]== np.nan) or (df["desemp_ult3"]== "x") or (df["tiempo_empleo"]== np.nan):
        categoria= "x"
    else:
        categoria=0
    return(categoria)

In [92]:
df7['control_uno'] = df7.apply(controlf_uno, axis = 1)

In [93]:
msk_1_c1= df7["control_uno"] == 1
msk_1_c1[msk_1_c1==True].count()

8026

In [94]:
df13 = df7[msk_1_c1==True]
msk_2_c1= df13["id"].value_counts()==3
msk_2_c1[msk_2_c1==True].count() # 797 personas (camino 1) grupo de control.

797

In [95]:
trs_veces_c1 = msk_2_c1[msk_2_c1==True].index.to_list()

indices_trs_veces_c1 = []
for ix,i in enumerate(df13['id']):
    if i in trs_veces_c1:
        indices_trs_veces_c1.append(ix)

df13 = df13.iloc[indices_trs_veces_c1,:] # se crea el dataframe 13 (camino 1) con las personas de control.

In [96]:
df13= df13.rename(columns={"control_uno":"control"})

In [97]:
df13['scar'] = int(0)
#df7['scar'].isnull().sum()

In [98]:
df13['camino'] = str("c_uno")

### Grupo control camino 2

In [99]:
def controlf_dos(df):
    if (((df["Fecha"]=="2010-12-31") and (df["clasif_lab"]== 2)) or
    ((df["Fecha"]=="2013-12-31") and (df["clasif_lab"]== 1) and (df["desemp_ult3"] != "si")) or 
    ((df["Fecha"]=="2016-12-31") and (df["clasif_lab"]== 1) and (df["tiempo_empleo"] < 36)
    and (df["desemp_ult3"] != "si"))):
        categoria=1        
    elif (df["clasif_lab"]== np.nan) or (df["desemp_ult3"]== "x") or (df["tiempo_empleo"]== np.nan):
        categoria= "x"
    else:
        categoria=0
    return(categoria)

In [100]:
df7['control_dos'] = df7.apply(controlf_dos, axis = 1)

In [101]:
msk_1_c2= df7["control_dos"] == 1
msk_1_c2[msk_1_c2==True].count()

5847

In [102]:
df14 = df7[msk_1_c2==True]
msk_2_c2= df14["id"].value_counts()==3
msk_2_c2[msk_2_c2==True].count() # 17 personas (camino 2) grupo de control

48

In [103]:
trs_veces_c2 = msk_2_c2[msk_2_c2==True].index.to_list()

indices_trs_veces_c2 = []
for ix,i in enumerate(df14['id']):
    if i in trs_veces_c2:
        indices_trs_veces_c2.append(ix)

df14 = df14.iloc[indices_trs_veces_c2,:] # se crea el dataframe 14 (camino 2) con las personas de control.

In [104]:
df14= df14.rename(columns={"control_dos":"control"})

In [105]:
df14['scar'] = int(0)
#df7['scar'].isnull().sum()

In [106]:
df14['camino'] = str("c_dos")

In [107]:
#df7.to_csv('D:/maestria_ciencias_economicas_unal/tesis_scarring/base datos/ELCA_FINAL/PANEL_PET_REDUC.csv', sep = ";")

### Grupo control camino 3

In [108]:
def controlf_tres(df):
    if (((df["Fecha"]=="2010-12-31") and (df["clasif_lab"]== 3)) or
    ((df["Fecha"]=="2013-12-31") and (df["clasif_lab"]== 1) and (df["desemp_ult3"] != "si")) or 
    ((df["Fecha"]=="2016-12-31") and (df["clasif_lab"]== 1) and (df["tiempo_empleo"] < 36)
    and (df["desemp_ult3"] != "si"))):
        categoria=1        
    elif (df["clasif_lab"]== np.nan) or (df["desemp_ult3"]== "x") or (df["tiempo_empleo"]== np.nan):
        categoria= "x"
    else:
        categoria=0
    return(categoria)

In [109]:
df7['control_tres'] = df7.apply(controlf_tres, axis = 1)

In [110]:
msk_1_c3= df7["control_tres"] == 1
msk_1_c3[msk_1_c3==True].count()

6563

In [111]:
df15 = df7[msk_1_c3==True]
msk_2_c3= df15["id"].value_counts()==3
msk_2_c3[msk_2_c3==True].count() # 23 personas (camino 3) grupo de control

104

In [112]:
trs_veces_c3 = msk_2_c3[msk_2_c3==True].index.to_list()

indices_trs_veces_c3 = []
for ix,i in enumerate(df15['id']):
    if i in trs_veces_c3:
        indices_trs_veces_c3.append(ix)

df15 = df15.iloc[indices_trs_veces_c3,:] # se crea el dataframe 14 (camino 3) con las personas de control.

In [113]:
df15= df15.rename(columns={"control_tres":"control"})

In [114]:
df15['scar'] = int(0)
#df7['scar'].isnull().sum()

In [115]:
df15['camino'] = str("c_tres")

In [116]:
#df7["t_busco_trab_r"].value_counts()

### Grupo control camino 4

In [117]:
def controlf_cuatro(df):
    if (((df["Fecha"]=="2010-12-31") and (df["clasif_lab"]== 1)) or
    ((df["Fecha"]=="2013-12-31") and (df["clasif_lab"]== 3) and (df["t_busco_trab_r"] == "Hace más de 5 años")) or 
    ((df["Fecha"]=="2013-12-31") and (df["clasif_lab"]== 3) and (df["t_busco_trab_r"] == "Nunca ha buscado trabajo")) or
    ((df["Fecha"]=="2016-12-31") and (df["clasif_lab"]== 1) and (df["desemp_ult3"] != "si"))):
        categoria=1        
    elif (df["clasif_lab"]== np.nan) or (df["desemp_ult3"]== "x") or (df["t_busco_trab_r"]== np.nan):
        categoria= "x"
    else:
        categoria=0
    return(categoria)

In [118]:
df7['control_cuatro'] = df7.apply(controlf_cuatro, axis = 1)

In [119]:
msk_1_c4= df7["control_cuatro"] == 1
msk_1_c4[msk_1_c4==True].count()

8557

In [120]:
df16 = df7[msk_1_c4==True]
msk_2_c4= df16["id"].value_counts()==3
msk_2_c4[msk_2_c4==True].count() # 15 personas (camino 4) grupo de control

62

In [121]:
trs_veces_c4 = msk_2_c4[msk_2_c4==True].index.to_list()

indices_trs_veces_c4 = []
for ix,i in enumerate(df16['id']):
    if i in trs_veces_c4:
        indices_trs_veces_c4.append(ix)

df16 = df16.iloc[indices_trs_veces_c4,:] # se crea el dataframe 15 (camino 4) con las personas de control.

In [122]:
df16= df16.rename(columns={"control_cuatro":"control"})

In [123]:
df16['scar'] = int(0)
#df7['scar'].isnull().sum()

In [124]:
df16['camino'] = str("c_cuatro")

### Grupo control camino 5

In [125]:
def controlf_cinco(df):
    if (((df["Fecha"]=="2010-12-31") and (df["clasif_lab"]== 1)) or
    ((df["Fecha"]=="2013-12-31") and (df["clasif_lab"]== 1) and (df["tiempo_empleo"] < 36) and (df["desemp_ult3"] != "si")) or 
    ((df["Fecha"]=="2016-12-31") and (df["clasif_lab"]== 2) and (df["desemp_ult3"] != "si"))):
        categoria=1      
    elif (df["clasif_lab"]== np.nan) or (df["desemp_ult3"]== "x") or (df["tiempo_empleo"]== np.nan):
        categoria= "x"
    else:
        categoria=0
    return(categoria)

In [126]:
df7['control_cinco'] = df7.apply(controlf_cinco, axis = 1)

In [127]:
msk_1_c5= df7["control_cinco"] == 1
msk_1_c5[msk_1_c5==True].count()

6005

In [128]:
df17 = df7[msk_1_c5==True]
msk_2_c5= df17["id"].value_counts()==3
msk_2_c5[msk_2_c5==True].count() # 32 personas (camino 5) grupo de control

15

In [129]:
trs_veces_c5 = msk_2_c5[msk_2_c5==True].index.to_list()

indices_trs_veces_c5 = []
for ix,i in enumerate(df17['id']):
    if i in trs_veces_c5:
        indices_trs_veces_c5.append(ix)

df17 = df17.iloc[indices_trs_veces_c5,:] # se crea el dataframe 17 (camino 5) con las personas de control.

In [130]:
df17= df17.rename(columns={"control_cinco":"control"})

In [131]:
df17['scar'] = int(0)
#df7['scar'].isnull().sum()

In [132]:
df17['camino'] = str("c_cinco")

### Grupo control camino 6

In [133]:
def controlf_seis(df):
    if (((df["Fecha"]=="2010-12-31") and (df["clasif_lab"]== 1)) or
    ((df["Fecha"]=="2013-12-31") and (df["clasif_lab"]== 1) and (df["tiempo_empleo"] < 36) and (df["desemp_ult3"] != "si")) or 
    ((df["Fecha"]=="2016-12-31") and (df["clasif_lab"]== 3) and (df["t_busco_trab_l"] == "Hace más de 5 años")) or 
    ((df["Fecha"]=="2016-12-31") and (df["clasif_lab"]== 3) and (df["t_busco_trab_l"] == "Nunca ha buscado trabajo"))):
        categoria=1      
    elif (df["clasif_lab"]== np.nan) or (df["desemp_ult3"]== "x") or (df["tiempo_empleo"]== np.nan) or (df["t_busco_trab_l"]== np.nan):
        categoria= "x"
    else:
        categoria=0
    return(categoria)

In [134]:
df7['control_seis'] = df7.apply(controlf_seis, axis = 1)

In [135]:
msk_1_c6= df7["control_seis"] == 1
msk_1_c6[msk_1_c6==True].count()

6269

In [136]:
df18 = df7[msk_1_c6==True]
msk_2_c6= df18["id"].value_counts()==3
msk_2_c6[msk_2_c6==True].count() # 32 personas (camino 6) grupo de control

18

In [137]:
trs_veces_c6 = msk_2_c6[msk_2_c6==True].index.to_list()

indices_trs_veces_c6 = []
for ix,i in enumerate(df18['id']):
    if i in trs_veces_c6:
        indices_trs_veces_c6.append(ix)

df18 = df18.iloc[indices_trs_veces_c6,:] # se crea el dataframe 18 (camino 6) con las personas de control.

In [138]:
df18= df18.rename(columns={"control_seis":"control"})

In [139]:
df18['scar'] = int(0)
#df7['scar'].isnull().sum()

In [140]:
df18['camino'] = str("c_seis")

In [141]:
#df7.to_csv('D:/maestria_ciencias_economicas_unal/tesis_scarring/base datos/ELCA_FINAL/PANEL_PET_REDUC.csv', sep = ";")

## Formateo de variables

#### 1. variables a número o string

In [253]:
#clasificación laboral
#df7['clasif_lab']=pd.to_numeric(df7['clasif_lab'])
#df7['scar_uno']=pd.to_numeric(df7['scar_uno'])

str

In [29]:
#vr_Salario
# df7['vr_salario'] = pd.Series(df7['vr_salario'], dtype = "string").str.replace('No recibió', '-1')
# df7['vr_salario'] = pd.Series(df7['vr_salario'], dtype = "string").str.replace('No informa', '-1')
# df7['vr_salario'] = pd.Series(df7['vr_salario'], dtype = "string").str.replace('No sabe', '-1')
# df7['vr_salario'] = pd.Series(df7['vr_salario']).replace("-1", np.nan)
#df7['vr_salario']= pd.Series(df7['vr_salario'], dtype = "string").str.split('.', expand = True).get(0)
#df7['vr_salario']=pd.to_numeric(df7['vr_salario'])
#df7[df7['vr_salario']== "No informa"].head()
#df7['mes_inicio'] = pd.Series(df7['mes_inicio'], dtype = "int").replace(np.nan, 0)
# df7['ano_inicio'] = pd.Series(df7['ano_inicio'], dtype = "int").replace(np.nan, 0)
# df7['ano_inicio'] = pd.Series(df7['ano_inicio'], dtype = "int").replace(9998, 0)
# df7['ano_inicio'] = pd.Series(df7['ano_inicio'], dtype = "int").replace(9999, 0)
#df7['edad_tenia'] = pd.Series(df7['edad_tenia'], dtype = "int").replace(99, np.nan)

In [121]:
##mes inicio, en el marco del proceso de creación de la variable tiempo de empleo

# mapping = [ ('Enero', '1'), ('Febrero', '2'), ('Marzo', '3'), ('Abril', '4'), ('Mayo', '5'), 
#            ('Junio', '6'), ('Julio', '7'), ('Agosto', '8'), ('Septiembre', '9'), 
#            ('Octubre', '10'), ('Noviembre', '11'), ('Diciembre', '12')]
# for k, v in mapping:
#     df7['mes_inicio'] = pd.Series(df7['mes_inicio'], dtype = "int").replace(k, v)

In [122]:
##mes inicio, paso 2, de string a  número
# df7['mes_inicio']=pd.to_numeric(df7['mes_inicio'])
# #import re
# df7['mes_inicio']=df7['mes_inicio'].map(lambda x: int(re.search(r"\d+", x).group(0)))
#df7['mes_inicio'].astype(str).astype(int)
#df7['mes_inicio'] = df7['mes_inicio'].astype(float)
#int(float(df7['mes_inicio']))

In [87]:
#asignar nulidad a la varable tiempo_empleo para la clasficación laboral de desocupados e inactivos.
# def nul_tiempo_ta(df):
#     if (((df['ano_encuesta'] == 2010) and (df['clasif_lab'] == 2)) or 
#         ((df['ano_encuesta'] == 2010) and (df['clasif_lab'] == 3))):
#         t_ac = np.nan    
#     else:
#         t_ac= df['tiempo_empleo']
#     return(t_ac)

In [88]:
# df7['tiempo_empleo']=df7.apply(nul_tiempo_ta, axis = 1)
#df7.drop(columns =['Tiempo_trab_act_prueba'], inplace =True)

In [89]:
#asignar nulidad a los registros de la varable tiempo_empleo para los datos incoherentes de edad_inicio
# def edad_inicio_1(df):
#     if (df['edad_tenia'] > df['edad']):
#         ed_ini = np.nan    
#     else:
#         ed_ini= df['tiempo_empleo']
#     return(ed_ini)

In [90]:
# df7['tiempo_empleo']=df7.apply(edad_inicio_1, axis = 1)
#df7.drop(columns =['Tiempo_trab_act_prueba'], inplace =True)

#### 2. miusculas o mayusculas

In [30]:
minus = lambda x: x.str.lower() if (x.dtype == 'string') else x
df7["desemp_ult3"] = minus(df7["desemp_ult3"])
df7["trabajo_ult3"] = minus(df7["trabajo_ult3"])

#### 3. tildes

In [33]:
df7["desemp_ult3"] = df7["desemp_ult3"].str.replace("í", "i")
df7["trabajo_ult3"] = df7["trabajo_ult3"].str.replace("í", "i")
df7["trabajo_ult3"].value_counts(dropna=False)

x     14379
si     2607
no      525
Name: trabajo_ult3, dtype: Int64

#### 4. remplazar los datos nulos por "x" y viceversa

In [268]:
# df7['clasif_lab']= df7['clasif_lab'].replace(np.nan, "x")
# # df7['diligencias4']= df7['diligencias4'].replace(np.nan, "x")
# # df7['diligencias12']= df7['diligencias12'].replace(np.nan, "x") 
# # df7['actividad_ppal']= df7['actividad_ppal'].replace(np.nan, "x")
#df7["desemp_ult3"]= df7["desemp_ult3"].replace(np.nan, "x")
#df7["Tiempo_trab_act"]= df7["Tiempo_trab_act"].replace(np.nan, "x")
#df7["Tiempo_trab_act"]= df7["Tiempo_trab_act"].replace("x", np.nan)
#df7["tiempo_empleo"]= df7["tiempo_empleo"].replace(np.nan, "x")
#df7["tiempo_empleo"]= df7["tiempo_empleo"].replace( "x", np.nan,)
#df_nne["tiempo_empleo"]= df_nne["tiempo_empleo"].replace("x", np.nan)
#df_nne["tiempo_empleo"]= df_nne["tiempo_empleo"].replace(np.nan, "x")
# df7["trabajo_ult3"]= df7["trabajo_ult3"].replace(np.nan, "x")
#df7["mes_inicio"]= df7["mes_inicio"].replace(np.nan, "x")
#viceversa
#df7['clasif_lab']= df7['clasif_lab'].replace("x", np.nan) 
# df7['diligencias4']= df7['diligencias4'].replace("x", np.nan)
# df7['diligencias12']= df7['diligencias12'].replace("x", np.nan) 
# df7['actividad_ppal']= df7['actividad_ppal'].replace("x", np.nan)
#df7["desemp_ult3"]= df7["desemp_ult3"].replace("x", np.nan)
#df7["trabajo_ult3"]= df7["trabajo_ult3"].replace("x", np.nan)
#df7["mes_inicio"]= df7["mes_inicio"].replace("x", np.nan)

#### 5. eliminar los espacios al final y al inicio

In [ ]:
#eliminar espacios al final de cada palabra y al inicio. dejar solo un espacio entre palabras

#### 6. recategorizan las variables

In [ ]:
#recategorizar variable a variable
np.array(df7['sexo'])

LabelEncoder().fit(df7['sexo']).transform(df7['sexo'])
#encoder = encoder.fit(sexo)

print(collections.Counter(LabelEncoder().fit(df7['sexo']).transform(df7['sexo'])))

In [17]:
#df7.to_csv('D:/maestria_ciencias_economicas_unal/tesis_scarring/base datos/ELCA_FINAL/PANEL_PET_REDUC.csv', sep = ";")

## tablas concatenadas

In [143]:
framesp=[df8, df9, df10, df11, df12, df12a, df13, df14, df15, df16, df17, df18]

In [144]:
dfprueba = pd.concat(framesp, axis = 0, names = ['consecutivo','persona'], join = 'outer', sort = False)

In [145]:
#grupo tratamiento
msk_1_p= dfprueba["scar"] == 1
msk_1_p[msk_1_p==True].count()
dfp = dfprueba[msk_1_p==True]
msk_2_p= dfp["id"].value_counts()==3
msk_2_p[msk_2_p==True].count()

1229

In [146]:
#grupo control
msk_1_c= dfprueba["control"] == 1
msk_1_c[msk_1_c==True].count()
dfp = dfprueba[msk_1_c==True]
msk_2_c= dfp["id"].value_counts()==3
msk_2_c[msk_2_c==True].count() # de 1630 se pasa a 1044 en grupo control, siendo estrictos

1044

In [251]:
# dfprueba = dfprueba.drop(["scar_uno","scar_dos", "scar_tres", "scar_cuatro", "scar_cinco", "scar_seis", 
#                 "control_uno", "control_dos", "control_tres","control_cuatro", "control_cinco", "indicator_column"], axis = 1)

In [253]:
# dfprueba= dfprueba.drop("control_seis", axis = 1)

In [220]:
#dfprueba.to_csv('D:/maestria_ciencias_economicas_unal/tesis_scarring/base datos/ELCA_FINAL/PET_REDUC_Trat_ctrl.csv', sep = ";")

In [147]:
dfprueba.columns.to_list()

['Fecha',
 'ola_l',
 'hogar_l',
 'hogar_n16_l',
 'orden',
 'seguimiento',
 'encuestada_2013',
 'region',
 'RegionLb',
 'region_2016',
 'id_depto',
 'id_mpio',
 'id_mpioU',
 'riqueza_pca',
 'tercil2010',
 'tercil2013',
 'tercil2016',
 'fhog',
 'fhog_2010',
 'fhog_2013',
 'fhog_2016',
 'fexhog',
 'fexhog_2010',
 'fexhog_2013',
 'fpers',
 'fpers_2010',
 'fpers_2013',
 'fpers_2016',
 'fexpers',
 'fexpers_2010',
 'fexpers_2013',
 't_hogares',
 't_hogar',
 't_personas',
 'tipo_vivienda',
 'material_pisos',
 'material_paredes',
 'sp_energia',
 'sp_estrato',
 'sp_gasnatural',
 'sp_acueducto',
 'sp_alcantarillado',
 'sp_telefono',
 'sp_recoleccion_basura',
 'eliminan_basura',
 'sexo',
 'edad',
 'edad_meses',
 'parentesco',
 'estado_civil',
 'vive_conyuge',
 'orden_conyuge',
 'etnia',
 'estrato',
 'lee_escribe',
 'estudia',
 'nivel_educ',
 'grado_educ',
 'edad_dejoestudio',
 'nivel_educ_cursa',
 'grado_educ_cursa',
 'anos_superior',
 'estudiaba_2010',
 'nivel_educ_2010',
 'grado_educ_2010',
 'anos_superior_2010',
 'est_superiores',
 'actividad_ppal',
 'diligencias4',
 'diligencias12',
 'descripcion_ciiu',
 'descrip_oficio',
 'cod_oficio',
 'edad_tenia',
 'anos_trabaja',
 'meses_trabaja',
 'mes_inicio',
 'ano_inicio',
 'ocupacion',
 'horas_normal',
 'cod_oficio2',
 'tipo_contrato',
 'rec_otros_pago',
 'vr_alimentos_pago',
 'vr_vivienda_pago',
 'vr_educ_pago',
 'vr_subalimentacion',
 'vr_subtransporte',
 'vr_subfamiliar',
 'vr_bonos',
 'vr_ingmen_ase',
 'vr_salario',
 'vr_ganancia',
 'meses_ganancia',
 'rec_ninguno',
 'pagos_adicion',
 'ingresos',
 'ganancia_neta',
 'vr_salario_mes',
 'recibio_ganancia',
 'afiliacion',
 'seg_medico',
 'segsoc_salud',
 'estaba_sss',
 'beneficiario_sss',
 'beneficiario_orden',
 'cotiza_fp',
 'estaba_fp',
 'afiliacion_fp',
 'vr_rec_pension',
 'tam_empresa',
 'n_empleados',
 'registro_mercantil',
 'vacaciones',
 'prima_navidad',
 'cesantias',
 'ofertas_empleo',
 'ofertas_emp12',
 'ofertas_emp1',
 'vr_salario_ofr',
 'razon_noacepto',
 'disponibilidad',
 't_bustrab_a',
 't_bustrab_m',
 'medio_busco',
 't_busco_trab_l',
 't_dejo_trabajar',
 'vr_rec_arriendos',
 'vr_rec_dividendos',
 'salario_insf',
 'salario_nopresta',
 'horario_nosirve',
 'ubica_inadecuada',
 'noapto_trabajo',
 'razon_personal',
 'edad_primert',
 'anos_primert',
 'horas_normal_pt',
 'ocupacion_pt',
 'es_ptrabajo',
 't_trabajo_ult',
 'trabajo_ult3',
 'tiempo_trab',
 'vr_recibia_pt',
 'rango_ingreso',
 'sss_pt',
 'afiliado_fp_pt',
 'cotizando',
 'tamano_pt',
 'desemp_ult3',
 'tiempo_desemp',
 'nocotiza_ult3',
 'tiempo_ncotiza',
 'primer_busca',
 'clasif_lab',
 'scar',
 'scar_dos',
 'scar_tres',
 'scar_cuatro',
 'scar_cinco',
 'control_uno',
 'control_dos',
 'actividad_principal',
 't_busco_trab_r',
 'indicator_column',
 'scar_seis',
 'tiempo_desempleo',
 'id',
 'control_tres',
 'control_cuatro',
 'control_cinco',
 'ano_encuesta',
 'tiempo_empleo',
 'control_seis',
 'not_null_empl',
 'control',
 'camino',
 'scar_uno']

## Análisis descriptivo

Está sección presenta estadísticas descriptivas de la muestra, asi como de la PET, la PEA, los ocupados, los desocupados y los inactivos, con el fin de contrastar el comportamiento general con los grupos de tratamiento y control. En este sentido, se compara el tiempo promedio de desempleo y de empleo por sexo, edad, posición ocupacional, rama de actividad, educación. Posteriormente se incluyen las variables dependientes de ingreso y calidad del empleo.

In [18]:
df7= pd.read_csv('D:/maestria_ciencias_economicas_unal/tesis_scarring/base datos/ELCA_FINAL/PANEL_PET_REDUC.csv', sep = ";", index_col=[0,1], low_memory=False)

In [3]:
dfprueba= pd.read_csv('D:/maestria_ciencias_economicas_unal/tesis_scarring/base datos/ELCA_FINAL/PET_REDUC_Trat_ctrl.csv', sep = ";", low_memory=False)

Se elimina la variable tiempo_empleo creada previamente en ejercicio descriptivo 1 
y se reemplaza por la variable Tiempo_trab_act en ejercicio 2 (la línea 200 de código está en el apartado de formateo de variables. Sin embargo, debido a la programación
se asigna nuevamente el nombre de tiempo_empleo. Asimismo, se crea la variable tiempo de desempleo para los dataframe df7 y prueba en este apartado.

In [217]:
# df7= df7.drop("tiempo_empleo", axis = 1)
# df7= df7.rename(columns={"Tiempo_trab_act":"tiempo_empleo"})

In [218]:
# dfprueba= dfprueba.drop("tiempo_empleo", axis = 1)
# dfprueba= dfprueba.rename(columns={"Tiempo_trab_act":"tiempo_empleo"})

In [148]:
df7["tiempo_desempleo"] = (df7["t_bustrab_a"]*12) + (df7["t_bustrab_m"])
dfprueba["tiempo_desempleo"] = (dfprueba["t_bustrab_a"]*12) + (dfprueba["t_bustrab_m"])
#df7["tiempo_empleo"][df7["tiempo_empleo"] < 36].count()

In [149]:
# dfprueba.to_csv('D:/maestria_ciencias_economicas_unal/tesis_scarring/base datos/ELCA_FINAL/PET_REDUC_Trat_ctrl.csv', sep = ";")
# df7.to_csv('D:/maestria_ciencias_economicas_unal/tesis_scarring/base datos/ELCA_FINAL/PANEL_PET_REDUC.csv', sep = ";")

###  Indentificación de los grupos - pivot table

#### tratamiento y control

In [261]:
trat_control = dfprueba.pivot_table(values= ["id"],
                                  index=["Fecha"],#, "sexo"],
                                  columns=["scar"], aggfunc= "count", margins = True)
trat_control #iloc[:, [1,4]]

              id
scar           0     1   All
Fecha
2010-12-31  1630  1229  2859
2013-12-31  1630  1229  2859
2016-12-31  1630  1229  2859
All         4890  3687  8577

#### Tratamiento

In [268]:
scar_table = dfprueba.pivot_table(values= ["tiempo_desempleo"],
                                  index=["Fecha","scar"],
                                  columns="sexo", aggfunc= ["count", "mean"], margins = True)
round(scar_table,2)#iloc[:, [1,4]]

                           count                          mean
                tiempo_desempleo              tiempo_desempleo
sexo                      hombre mujer    All           hombre  mujer    All
Fecha      scar
2010-12-31 0                   2    12   14.0             8.00  13.17  12.43
           1                  24    70   94.0             6.79  13.13  11.51
2013-12-31 0                   0     0    NaN              NaN    NaN    NaN
           1                  56    90  146.0            32.14  27.17  29.08
2016-12-31 0                  20    17   37.0            13.00  12.35  12.70
           1                  17    20   37.0            12.65  13.85  13.30
All                          119   209  328.0            20.62  19.18  19.70

In [270]:
scar_table = dfprueba.pivot_table(values= ["tiempo_desempleo"],
                                  index=["Fecha","sexo"],
                                  columns="camino", aggfunc= ["count", "mean"], margins = True)
scar_table#iloc[:, [1,4]]

                             count                                      \
                  tiempo_desempleo
camino                     c_cinco c_cuatro c_dos c_tres c_uno t_cinco
Fecha      sexo
2010-12-31 hombre              0.0      0.0     2    0.0     0       9
           mujer               0.0      0.0    12    0.0     0      21
2013-12-31 hombre              0.0      0.0     0    0.0     0      10
           mujer               0.0      0.0     0    0.0     0      39
2016-12-31 hombre              0.0      0.0     0    0.0    20       0
           mujer               0.0      0.0     0    0.0    17       0
All                            NaN      NaN    14    NaN    37      79

                                                                      mean  \
                                                          tiempo_desempleo
camino            t_cuatro t_dos t_seis t_tres t_uno  All            c_dos
Fecha      sexo
2010-12-31 hombre       15     0    0.0    0.0     0   26         8.000000
           mujer        49     0    0.0    0.0     0   82        13.166667
2013-12-31 hombre        0     0    0.0    0.0    46   56              NaN
           mujer         0     0    0.0    0.0    51   90              NaN
2016-12-31 hombre        0    17    0.0    0.0     0   37              NaN
           mujer         0    20    0.0    0.0     0   37              NaN
All                     64    37    NaN    NaN    97  328        12.428571

                                                                          \

camino                 c_uno    t_cinco   t_cuatro      t_dos      t_uno
Fecha      sexo
2010-12-31 hombre        NaN   6.777778   6.800000        NaN        NaN
           mujer         NaN  17.142857  11.408163        NaN        NaN
2013-12-31 hombre        NaN  27.800000        NaN        NaN  33.086957
           mujer         NaN  26.128205        NaN        NaN  27.960784
2016-12-31 hombre  13.000000        NaN        NaN  12.647059        NaN
           mujer   12.352941        NaN        NaN  13.850000        NaN
All                12.702703  21.746835  10.328125  13.297297  30.391753



camino                   All
Fecha      sexo
2010-12-31 hombre   6.884615
           mujer   13.134146
2013-12-31 hombre  32.142857
           mujer   27.166667
2016-12-31 hombre  12.837838
           mujer   13.162162
All                19.704268

In [275]:
scar_table_vert = dfprueba.pivot_table(values= ["tiempo_desempleo"],
                                  index=["sexo"],
                                  columns="scar", aggfunc= ["count", "mean"], margins = True)
#scar_table= round(scar_table,2).iloc[3:,:]
round(scar_table_vert, 2)

                  count                       mean
       tiempo_desempleo           tiempo_desempleo
scar                  0    1  All                0      1    All
sexo
hombre               22   97  119            12.55  22.45  20.62
mujer                29  180  209            12.69  20.23  19.18
All                  51  277  328            12.63  21.01  19.70

In [225]:
np.mean(dfprueba["tiempo_desempleo"])

20.518900343642613

In [278]:
#tiempo promedio  de desempleo por sexo y olas
scar_table = dfprueba.pivot_table(values= ["tiempo_desempleo"],
                                  index=["Fecha"],
                                  columns="scar", aggfunc= ["count", "mean"], margins = True)
#scar_table= round(scar_table,2).iloc[3:,:]
round(scar_table, 2)

                      count                       mean
           tiempo_desempleo           tiempo_desempleo
scar                      0    1  All                0      1    All
Fecha
2010-12-31               14   94  108            12.43  11.51  11.63
2013-12-31                0  146  146              NaN  29.08  29.08
2016-12-31               37   37   74            12.70  13.30  13.00
All                      51  277  328            12.63  21.01  19.70

In [161]:
dfprueba["tiempo_desempleo"].dtype

dtype('float64')

In [285]:
# scar_table_1= dfprueba.groupby(by=["tiempo_desemp", "scar"]).aggregate({"edad": [np.size, np.max, np.min, np.mean, np.std],
#                                                                         "estrato": np.mean})
# scar_table_1.sort_values(["scar"], ascending = False)

In [271]:
scar_table_2 = dfprueba.pivot_table(values= ["id"],
                                  index=["Fecha","tiempo_desemp"],
                                  columns=["scar", "sexo"], aggfunc= "count", margins = True)
scar_table_total = scar_table_2.iloc[:, [2,3]]
scar_table_total

                                        id
scar                                     1
sexo                                hombre  mujer
Fecha      tiempo_desemp
2013-12-31 Entre 6 meses y 11 meses  112.0   91.0
           Entre un (1) año y dos     79.0  110.0
           Menos de seis (6) meses   254.0  167.0
           Más de dos (2) años        46.0   70.0
2016-12-31 Entre 1 año y 2 años       36.0   53.0
           Entre 6 meses y 11 meses   56.0   69.0
           Menos de 6 meses          129.0   97.0
           Más de 2 años              18.0   34.0
All                                  730.0  691.0

In [8]:
#tiempo de empleo intermedio tratamiento
trat_empl = dfprueba.pivot_table(values= ["id"],
                                  index=["Fecha","tiempo_trab"],
                                  columns=["scar", "sexo"], aggfunc= "count", margins = True)
trat_empl = trat_empl.iloc[:, [2,3]]
trat_empl

                                        id
scar                                     1
sexo                                hombre mujer
Fecha      tiempo_trab
2013-12-31 Entre 6 meses y 11 meses     27    41
           Entre un (1) año y dos       72    98
           Menos de seis (6) meses      21    45
           Más de dos (2) años         173   148
2016-12-31 Entre 1 año y 2 años         69    88
           Entre 6 meses y 11 meses     23    45
           Menos de 6 meses             27    48
           Más de 2 años               195   159
All                                    607   672

In [12]:
scar_table_3 = dfprueba.pivot_table(values= ["tiempo_empleo"],
                                  index=["Fecha","sexo"],
                                  columns="scar", aggfunc= ["count", "mean"], margins = True)
scar_table_3#iloc[:, [1,4]]

                          count                      mean             \
                  tiempo_empleo             tiempo_empleo
scar                          0     1   All             0          1
Fecha      sexo
2010-12-31 hombre           206   154   360     60.072816  56.662338
           mujer            163   116   279     62.276074  18.163793
2013-12-31 hombre           857   401  1258     13.680280  33.099751
           mujer            719   282  1001     12.141864  35.758865
2016-12-31 hombre           613   447  1060     32.226754  35.006711
           mujer            508   362   870     26.456693  29.828729
All                        3066  1762  4828     24.845075  34.413167



scar                     All
Fecha      sexo
2010-12-31 hombre  58.613889
           mujer   43.935484
2013-12-31 hombre  19.870429
           mujer   18.795205
2016-12-31 hombre  33.399057
           mujer   27.859770
All                28.336993

In [273]:
#Tiempo de empleo promedio del grupo de tratamiento por sexo. 2010-2016 
scar_table_empleo = dfprueba.pivot_table(values= ["tiempo_empleo"],
                                  index=["sexo"],
                                  columns=["scar"], aggfunc= ["count", "mean"], margins = True)
round(scar_table_empleo, 2)#.iloc[:, [1,4,]]

               count                      mean
       tiempo_empleo             tiempo_empleo
scar               0     1   All             0      1    All
sexo
hombre          1712  1040  2752         26.36  37.54  30.59
mujer           1427   859  2286         23.68  30.52  26.25
All             3139  1899  5038         25.14  34.37  28.62

In [274]:
#Tiempo de empleo promedio del grupo de tratamiento por sexo y olas. 
scar_table_empleo_año = dfprueba.pivot_table(values= ["tiempo_empleo"],
                                  index=["Fecha"],
                                  columns=["scar"], aggfunc= ["count", "mean"], margins = True)
round(scar_table_empleo_año, 2).iloc[:, [1,4,]]

                   count          mean
           tiempo_empleo tiempo_empleo
scar                   1             1
Fecha
2010-12-31           295         39.72
2013-12-31           761         33.86
2016-12-31           843         32.95
All                 1899         34.37

#### Control

In [282]:
control_table_3 = dfprueba.pivot_table(values= ["tiempo_empleo"],
                                  index=["Fecha", "sexo"],
                                  columns=["control"], aggfunc= ["count", "mean"], margins = True)
round(control_table_3, 2).iloc[:, [1,4,]]

                          count          mean
                  tiempo_empleo tiempo_empleo
control                       1             1
Fecha      sexo
2010-12-31 hombre           210         59.04
           mujer            168         61.85
2013-12-31 hombre           873         14.72
           mujer            735         13.45
2016-12-31 hombre           629         31.61
           mujer            524         25.81
All                        3139         25.14

In [276]:
#Tiempo de empleo promedio del grupo de control por sexo. 2010-2016 
control_table_empleo= dfprueba.pivot_table(values= ["tiempo_empleo"],
                                  index=["sexo"],
                                  columns=["control"], aggfunc= ["count", "mean"], margins = True)
round(control_table_empleo,2)#.iloc[:, [1,4,]]

                count                      mean
        tiempo_empleo             tiempo_empleo
control             0     1   All             0      1    All
sexo
hombre           1040  1712  2752         37.54  26.36  30.59
mujer             859  1427  2286         30.52  23.68  26.25
All              1899  3139  5038         34.37  25.14  28.62

In [277]:
#Tiempo de empleo promedio del grupo de control por olas
control_table_empleo_año= dfprueba.pivot_table(values= ["tiempo_empleo"],
                                  index=["Fecha"],
                                  columns=["control"], aggfunc= ["count", "mean"], margins = True)
round(control_table_empleo_año,2)#.iloc[:, 0:5]

                   count                      mean
           tiempo_empleo             tiempo_empleo
control                0     1   All             0      1    All
Fecha
2010-12-31           295   378   673         39.72  60.29  51.27
2013-12-31           761  1608  2369         33.86  14.14  20.47
2016-12-31           843  1153  1996         32.95  28.97  30.65
All                 1899  3139  5038         34.37  25.14  28.62

In [222]:
control_table_empleo_año= dfprueba.pivot_table(values= ["tiempo_empleo"],
                                  index=["Fecha"],
                                  columns=["control"], aggfunc= ["count", "mean"], margins = True)
round(control_table_empleo_año,2)#.iloc[:, 0:5]

                   count                      mean
           tiempo_empleo             tiempo_empleo
control                0     1   All             0       1    All
Fecha
2010-12-31          1075   882  1957         74.06  108.05  89.38
2013-12-31           996   979  1975         55.91   16.90  36.57
2016-12-31          1137  1011  2148         48.76   17.60  34.09
All                 3208  2872  6080         59.46   45.14  52.69

In [218]:
#Tiempo de empleo promedio del grupo de control por olas
control_table_empleo_año= dfprueba.pivot_table(values= ["tiempo_empleo"],
                                  index=["Fecha"],
                                  columns=["camino"], aggfunc= ["mean"], margins = True)
round(control_table_empleo_año,2)#.iloc[:, 0:5]

                    mean                                                 \
           tiempo_empleo
camino           c_cinco c_cuatro  c_dos c_tres  c_uno t_cinco t_cuatro
Fecha
2010-12-31         29.33    96.00    NaN    NaN  60.95     NaN      NaN
2013-12-31         71.28      NaN  25.00  26.15  12.71     NaN    32.61
2016-12-31          6.53    45.92   7.47   7.00  30.25   26.33    43.25
All                37.73    49.50  15.07  15.91  24.96   26.33    38.00



camino      t_dos t_seis t_tres  t_uno    All
Fecha
2010-12-31  41.09  60.28  37.66  28.00  51.89
2013-12-31  36.39    NaN  26.84    NaN  20.18
2016-12-31  30.04  29.84  37.79  36.88  30.65
All         34.43  38.82  32.92  34.06  28.54

In [283]:
control_table_1 = dfprueba.pivot_table(values= ["id"],
                                  index=["Fecha", "tiempo_trab"],
                                  columns=["control", "sexo"], aggfunc= "count", margins = True)
round(control_table_1,2).iloc[:, [2,3]]

                                        id
control                                  1
sexo                                hombre mujer
Fecha      tiempo_trab
2013-12-31 Entre 6 meses y 11 meses      1     5
           Entre un (1) año y dos        4    21
           Menos de seis (6) meses       3    10
           Más de dos (2) años          56    51
2016-12-31 Entre 1 año y 2 años         34    48
           Entre 6 meses y 11 meses      9    11
           Menos de 6 meses             13    26
           Más de 2 años               117   108
All                                    237   280

In [7]:
#Tiempo de desempleo control intermedio
ctr_des_int = dfprueba.pivot_table(values= ["id"],
                                  index=["Fecha", "tiempo_desemp"],
                                  columns=["control", "sexo"], aggfunc= "count", margins = True)
round(ctr_des_int,2).iloc[:, [2,3]]

                                        id
control                                  1
sexo                                hombre mujer
Fecha      tiempo_desemp
2013-12-31 Entre 6 meses y 11 meses    NaN   4.0
           Entre un (1) año y dos      NaN   6.0
           Menos de seis (6) meses     2.0   4.0
           Más de dos (2) años         2.0   2.0
2016-12-31 Entre 1 año y 2 años       13.0   9.0
           Entre 6 meses y 11 meses   13.0  13.0
           Menos de 6 meses           47.0  29.0
           Más de 2 años              12.0  10.0
All                                   89.0  77.0

In [13]:
#Tiempo de desempleo intermedio caminos, control
ctr_des_int_c = dfprueba.pivot_table(values= ["id"],
                                  index=["Fecha", "tiempo_desemp"],
                                  columns=["camino"], aggfunc= "count", margins = True)
round(ctr_des_int_c,2).iloc[:, :4]

                                         id
camino                              c_cinco c_dos c_tres  c_uno
Fecha      tiempo_desemp
2013-12-31 Entre 6 meses y 11 meses     1.0   2.0    1.0    NaN
           Entre un (1) año y dos       2.0   3.0    1.0    NaN
           Menos de seis (6) meses      4.0   1.0    1.0    NaN
           Más de dos (2) años          1.0   2.0    1.0    NaN
2016-12-31 Entre 1 año y 2 años         NaN   NaN    NaN   22.0
           Entre 6 meses y 11 meses     NaN   NaN    NaN   26.0
           Menos de 6 meses             NaN   NaN    NaN   76.0
           Más de 2 años                NaN   NaN    NaN   22.0
All                                     8.0   8.0    4.0  146.0

In [279]:
#Tiempo de desempleo promedio del grupo de control por olas
control_table_desempleo_año= dfprueba.pivot_table(values= ["tiempo_desempleo"],
                                  index=["Fecha"],
                                  columns=["control"], aggfunc= ["count", "mean"], margins = True)
round(control_table_desempleo_año,2)#.iloc[:, 0:5]

                      count                      mean
           tiempo_desempleo          tiempo_desempleo
control                   0   1  All                0      1    All
Fecha
2010-12-31               94  14  108            11.51  12.43  11.63
2013-12-31              146   0  146            29.08    NaN  29.08
2016-12-31               37  37   74            13.30  12.70  13.00
All                     277  51  328            21.01  12.63  19.70

In [281]:
#Tiempo de desempleo promedio del grupo de control por olas y sexo
control_table_desempleo_sex= dfprueba.pivot_table(values= ["tiempo_desempleo"],
                                  index=["sexo"],
                                  columns=["control"], aggfunc= ["count", "mean"], margins = True)
round(control_table_desempleo_sex,2)#.iloc[:, 0:5]

                   count                      mean
        tiempo_desempleo          tiempo_desempleo
control                0   1  All                0      1    All
sexo
hombre                97  22  119            22.45  12.55  20.62
mujer                180  29  209            20.23  12.69  19.18
All                  277  51  328            21.01  12.63  19.70

In [24]:
# clasif_lab_pivot= df7.pivot_table(values= "edad", index=["Fecha", "estrato"], columns= ["sexo", "clasif_lab"], margins=True)
     
#                                   #aggfunc='first') #{'edad':np.mean,'vr_salario':np.mean})
# #clasif_lab_pivot1 = clasif_lab_pivot.sort_values(['clasif_lab']) 
# clasif_lab_pivot

sexo                   hombre                            mujer             \
clasif_lab                1.0        2.0        3.0        1.0        2.0
Fecha      estrato
2010-12-31 1.0      41.750357  44.903846  55.068966  39.855446  35.050314
           2.0      42.260355  47.122449  56.954545  40.201765  35.087209
           3.0      44.650407  44.857143  61.692308  41.902534  40.013514
           4.0      46.147727  49.200000  61.083333  43.361111  41.600000
2013-12-31 1.0      44.907275  46.600000  60.978723  42.171141  35.677083
           2.0      44.529132  48.942857  60.037975  41.855294  39.494949
           3.0      47.681363  49.913043  66.235294  44.440454  43.088889
           4.0      46.869565  45.000000  63.200000  45.068966  36.250000
2016-12-31 1.0      47.860534  50.896552  64.036364  43.649832  39.104478
           2.0      47.324291  47.514286  63.828283  44.648084  40.386667
           3.0      49.800000  55.857143  66.909091  46.718095  44.594595
           4.0      49.120879  52.750000  67.611111  47.687500  46.500000
All                 45.433062  47.790323  62.590837  42.890051  37.935370

sexo                                 All
clasif_lab                3.0
Fecha      estrato
2010-12-31 1.0      40.906166  40.768004
           2.0      44.888626  42.026417
           3.0      47.026119  44.493343
           4.0      52.479167  47.104167
2013-12-31 1.0      45.396739  44.081389
           2.0      48.617225  44.665805
           3.0      52.709343  48.262904
           4.0      54.176471  48.609302
2016-12-31 1.0      50.640884  47.240876
           2.0      52.321596  47.733853
           3.0      56.027586  50.925479
           4.0      55.913043  51.026616
All                 48.704246  45.481178

In [193]:
#Tiempo de desempleo promedio del grupo de control por sexo. 2010-2016 
control_table_des = dfprueba.pivot_table(values= ["tiempo_desempleo"],
                                  index=["control"],
                                  columns=["sexo"], aggfunc= ["count", "mean"], margins = True)
round(control_table_des, 2)#.iloc[:, [1,4,]]

                   count                        mean
        tiempo_desempleo            tiempo_desempleo
sexo              hombre mujer  All           hombre  mujer    All
control
0                     80   160  240            24.54  21.02  22.20
1                     22    29   51            12.55  12.69  12.63
All                  102   189  291            21.95  19.75  20.52

#### General

In [10]:
df7["tiempo_desempleo"] = (df7["t_bustrab_a"]*12) + (df7["t_bustrab_m"])
df7["tiempo_empleo"] = (df7["anos_trabaja"]*12) + (df7["meses_trabaja"])

In [263]:
#tiempo de empleo
g1 = df7.pivot_table(values= ["tiempo_empleo"],
                                  index=[ "sexo"],
                                  columns=["clasif_lab"], aggfunc= ["count", "mean"], margins = True)
round(g1, 2)#.iloc[:, [0,4,]]

                   count                          mean
           tiempo_empleo                 tiempo_empleo
clasif_lab           1.0  2.0  3.0   All           1.0    All
sexo
hombre              3779  0.0  0.0  3779         38.19  38.19
mujer               3749  0.0  0.0  3749         32.58  32.58
All                 7528  NaN  NaN  7528         35.40  35.40

In [262]:
#tiempo de empleo por sexo y año
g1_año = df7.pivot_table(values= ["tiempo_empleo"],
                                  index=[ "Fecha", "sexo"],
                                  columns=["clasif_lab"], aggfunc= ["count", "mean"], margins = True)
round(g1_año, 2).iloc[:, [0,4,]]

                          count          mean
                  tiempo_empleo tiempo_empleo
clasif_lab                  1.0           1.0
Fecha      sexo
2010-12-31 hombre           573         72.17
           mujer            507         48.80
2013-12-31 hombre          1651         31.33
           mujer           1653         30.72
2016-12-31 hombre          1555         32.97
           mujer           1589         29.35
All                        7528         35.40

In [265]:
#tiempo de empleo pora las personas que están en las 3 olas
g1_ola = df_nne.pivot_table(values= ["tiempo_empleo"],
                                  index=[ "Fecha"],
                                  columns=["clasif_lab"], aggfunc= ["count", "mean"], margins = True)
round(g1_ola, 2)#.iloc[:, [0,4,]

                   count                mean
           tiempo_empleo       tiempo_empleo
clasif_lab           1.0   All           1.0     All
Fecha
2010-12-31          2984  2984        107.57  107.57
2013-12-31          2984  2984         59.47   59.47
2016-12-31          2984  2984         68.48   68.48
All                 8952  8952         78.51   78.51

In [224]:
#tiempo de empleo por ola ejercicio 2
g1_ola_11 = df7.pivot_table(values= ["tiempo_empleo"],
                                  index=["Fecha"],
                                  columns=["clasif_lab"], aggfunc= ["count", "mean"], margins = True)
round(g1_ola_11, 2)#.iloc[:, [0,4,]]

                   count                           mean
           tiempo_empleo                  tiempo_empleo
clasif_lab           1.0  2.0  3.0    All           1.0     All
Fecha
2010-12-31          3984  0.0  0.0   3984        107.10  107.10
2013-12-31          4091  0.0  0.0   4091         57.77   57.77
2016-12-31          4115  0.0  0.0   4115         63.10   63.10
All                12190  NaN  NaN  12190         75.69   75.69

In [ ]:
###calcular el tiempo promedio de empleo para las mismas 1080 personas en las olas 2010-2013.

In [248]:
def t_empleo(df):
    if ((df["Fecha"]=='2010-12-31') and (df["clasif_lab"]== 1) and (df["tiempo_empleo"]!='x') or
       (df["Fecha"]=='2013-12-31') and (df["clasif_lab"]== 1) and (df["tiempo_empleo"]!='x') or
       (df["Fecha"]=='2016-12-31') and (df["clasif_lab"]== 1) and (df["tiempo_empleo"]!='x')):
        categoria=1      
    #elif (df["clasif_lab"]== np.nan) or (df["tiempo_empleo"]== np.nan):
       # categoria= "x"
    else:
        categoria=0
    return(categoria)

In [249]:
df7['not_null_empl'] = df7.apply(t_empleo, axis = 1)

In [250]:
df7['tiempo_empleo'][(df7['tiempo_empleo']==np.nan) & (df7['Fecha']=='2010-12-31')].sum()

0

In [258]:
snull= df7[df7['Fecha']=='2010-12-31']
#snull['tiempo_empleo'].notna().sum()
snull['tiempo_empleo'][snull['tiempo_empleo']!='x'].count()

3984

In [259]:
msk_1_nne= df7["not_null_empl"]== 1
msk_1_nne[msk_1_nne==True].count()

12190

In [260]:
df_nne = df7[msk_1_nne==True]
msk_2_nne= df_nne["id"].value_counts()==3
msk_2_nne[msk_2_nne==True].count() # 2984 personas no tienen datos nulos en la pregunta tiempo empleo y apaecen en las 3 olas.

2984

In [261]:
trs_veces_nne = msk_2_nne[msk_2_nne==True].index.to_list()

indices_trs_veces_nne = []
for ix,i in enumerate(df_nne['id']):
    if i in trs_veces_nne:
        indices_trs_veces_nne.append(ix)

df_nne = df_nne.iloc[indices_trs_veces_nne,:] # se crea el dataframe con los datos nulos en la pregunta tiempo empleo

In [16]:
#prueba inconsitencia tiempo de empleo ocupados 2010
g1_ola = df7.pivot_table(values= ["id"],
                                  index=[ "Fecha"],
                                  columns=["clasif_lab"], aggfunc= ["count"], margins = True)
round(g1_ola, 2)#.iloc[:, [0,4,]]

            count
               id
clasif_lab    1.0   2.0   3.0    All
Fecha
2010-12-31   4009   554  1270   5833
2013-12-31   4172   338  1323   5833
2016-12-31   4129   269  1391   5789
All         12310  1161  3984  17455

In [265]:
#tiempo de desempleo por sexo
g2 = df7.pivot_table(values= ["tiempo_desempleo"],
                                  index=["sexo"],
                                  columns=["clasif_lab"], aggfunc= ["count", "mean"], margins = True)
round(g2, 2)#.iloc[:, [1,4,]]

                      count                              mean
           tiempo_desempleo                  tiempo_desempleo
clasif_lab              1.0   2.0  3.0   All              2.0    All
sexo
hombre                  0.0   291  0.0   291            18.81  18.81
mujer                   0.0   758  0.0   758            18.89  18.89
All                     NaN  1049  NaN  1049            18.87  18.87

In [266]:
#tiempo de desempleo por ola y sexo
g2_año = df7.pivot_table(values= ["tiempo_desempleo"],
                                  index=[ "Fecha", "sexo"],
                                  columns=["clasif_lab"], aggfunc= ["count", "mean"], margins = True)
round(g2_año, 2).iloc[:, [1,4,]]

                             count             mean
                  tiempo_desempleo tiempo_desempleo
clasif_lab                     2.0              2.0
Fecha      sexo
2010-12-31 hombre              128            12.73
           mujer               386            16.90
2013-12-31 hombre               89            33.57
           mujer               214            28.64
2016-12-31 hombre               74            11.55
           mujer               158            10.54
All                           1049            18.87

In [267]:
#tiempo de desempleo por ola
g2_ola = df7.pivot_table(values= ["tiempo_desempleo"],
                                  index=["Fecha"],
                                  columns=["clasif_lab"], aggfunc= ["count", "mean"], margins = True)
round(g2_ola, 2).iloc[:, [1,4,]]

                      count             mean
           tiempo_desempleo tiempo_desempleo
clasif_lab              2.0              2.0
Fecha
2010-12-31              514            15.86
2013-12-31              303            30.09
2016-12-31              232            10.86
All                    1049            18.87

#### Tiempo de desempleo y empleo intermedio - PEA

In [5]:
#tiempo de desempleo intermedio
PEA_des = df7.pivot_table(values= ["id"],
                                  index=["Fecha","tiempo_desemp"],
                                  columns=["sexo"], aggfunc= "count", margins = True)
PEA_des#.iloc[:, [2,3]]

                                        id
sexo                                hombre mujer   All
Fecha      tiempo_desemp
2013-12-31 Entre 6 meses y 11 meses    131   158   289
           Entre un (1) año y dos       96   211   307
           Menos de seis (6) meses     283   243   526
           Más de dos (2) años          68   163   231
2016-12-31 Entre 1 año y 2 años         60   117   177
           Entre 6 meses y 11 meses     63   109   172
           Menos de 6 meses            147   161   308
           Más de 2 años                46   164   210
All                                    894  1326  2220

In [6]:
#tiempo de empleo intermedio
PEA_emp = df7.pivot_table(values= ["id"],
                                  index=["Fecha","tiempo_trab"],
                                  columns=["sexo"], aggfunc= "count", margins = True)
PEA_emp

                                        id
sexo                                hombre mujer   All
Fecha      tiempo_trab
2013-12-31 Entre 6 meses y 11 meses     35    95   130
           Entre un (1) año y dos       91   193   284
           Menos de seis (6) meses      32    88   120
           Más de dos (2) años         318   343   661
2016-12-31 Entre 1 año y 2 años        110   223   333
           Entre 6 meses y 11 meses     35   108   143
           Menos de 6 meses             48   152   200
           Más de 2 años               333   403   736
All                                   1002  1605  2607

#### Tabla de salida

In [2]:
dfprueba= pd.read_csv('D:/maestria_ciencias_economicas_unal/tesis_scarring/base datos/ELCA_FINAL/PET_REDUC_Trat_ctrl.csv', sep = ";", index_col=[0,1], low_memory=False)

In [19]:
d = dtale.show(df7, ignore_duplicate = True)
d

2021-08-08 16:15:29,294 - INFO     - NumExpr defaulting to 8 threads.

In [266]:
#df7.to_csv('D:/maestria_ciencias_economicas_unal/tesis_scarring/base datos/ELCA_FINAL/PANEL_PET_REDUC.csv', sep = ";")

In [151]:
#df7.groupby(by=["Fecha"]).aggregate({"clasif_lab": [np.size]})
#df7.groupby(by=["vr_salario"]).get_group()
#df7.query('((fecha == "2010-12-31") & (clasif_lab == "1")) | ((fecha == "2013-12-31") & (clasif_lab == "2")) | ((fecha == "2016-12-31") & (clasif_lab == "1"))').count()
prueba= df7.groupby(by=["Fecha","clasif_lab", "desemp_ult3"]).aggregate({"edad": [np.size, np.max, np.min, np.mean, np.std]})
prueba

                                   edad
                                   size amax amin       mean        std
Fecha      clasif_lab desemp_ult3
2013-12-31 1.0        No           3105   85   21  45.134300  10.823219
                      Sí            994   74   19  41.541247  10.323606
           2.0        No             62   69   24  43.580645  12.493340
                      Sí            257   72   20  41.560311  12.094568
           3.0        No           1137   88   19  51.995602  12.908841
                      Sí            102   67   21  40.725490  12.271804
2016-12-31 1.0        No            592   77   23  43.559122  10.958307
                      Sí            515   76   23  42.537864  10.277853
           2.0        No             77   71   23  44.701299  12.118999
                      Sí            175   75   23  43.525714  12.080581
           3.0        No            962   90   22  55.898129  12.645080
                      Sí            177   91   25  53.581921  12.873745

In [97]:
tam_mtra= df7.groupby(by=["Fecha","clasif_lab"]).aggregate({"edad": [np.size]})
tam_mtra

                       edad
                       size
Fecha      clasif_lab
2010-12-31 1.0         4009
           2.0          554
           3.0         1270
2013-12-31 1.0         4172
           2.0          338
           3.0         1323
2016-12-31 1.0         4129
           2.0          269
           3.0         1391

In [283]:
df7.query('((sexo== "hombre") & (clasif_lab == "1"))').count()

In [279]:
prueba2= df7.groupby(by=["Fecha","clasif_lab"]).aggregate({"edad": [np.size]})#, np.max, np.min, np.mean, np.std]})
prueba2

                       edad
                       size
Fecha      clasif_lab
2010-12-31 1.0         4009
           2.0          554
           3.0         1270
2013-12-31 1.0         4172
           2.0          338
           3.0         1323
2016-12-31 1.0         4129
           2.0          269
           3.0         1391

In [24]:
clasif_lab_pivot= df7.pivot_table(values= "edad", index=["Fecha", "estrato"], columns= ["sexo", "clasif_lab"], margins=True)
     
                                  #aggfunc='first') #{'edad':np.mean,'vr_salario':np.mean})
#clasif_lab_pivot1 = clasif_lab_pivot.sort_values(['clasif_lab']) 
clasif_lab_pivot

sexo                   hombre                            mujer             \
clasif_lab                1.0        2.0        3.0        1.0        2.0
Fecha      estrato
2010-12-31 1.0      41.750357  44.903846  55.068966  39.855446  35.050314
           2.0      42.260355  47.122449  56.954545  40.201765  35.087209
           3.0      44.650407  44.857143  61.692308  41.902534  40.013514
           4.0      46.147727  49.200000  61.083333  43.361111  41.600000
2013-12-31 1.0      44.907275  46.600000  60.978723  42.171141  35.677083
           2.0      44.529132  48.942857  60.037975  41.855294  39.494949
           3.0      47.681363  49.913043  66.235294  44.440454  43.088889
           4.0      46.869565  45.000000  63.200000  45.068966  36.250000
2016-12-31 1.0      47.860534  50.896552  64.036364  43.649832  39.104478
           2.0      47.324291  47.514286  63.828283  44.648084  40.386667
           3.0      49.800000  55.857143  66.909091  46.718095  44.594595
           4.0      49.120879  52.750000  67.611111  47.687500  46.500000
All                 45.433062  47.790323  62.590837  42.890051  37.935370

sexo                                 All
clasif_lab                3.0
Fecha      estrato
2010-12-31 1.0      40.906166  40.768004
           2.0      44.888626  42.026417
           3.0      47.026119  44.493343
           4.0      52.479167  47.104167
2013-12-31 1.0      45.396739  44.081389
           2.0      48.617225  44.665805
           3.0      52.709343  48.262904
           4.0      54.176471  48.609302
2016-12-31 1.0      50.640884  47.240876
           2.0      52.321596  47.733853
           3.0      56.027586  50.925479
           4.0      55.913043  51.026616
All                 48.704246  45.481178

In [291]:
dfprueba.pivot_table(values = ["tiempo_empleo", "tiempo_desempleo"], index = ['Fecha', "clasif_lab"])#, columns = 'sexo')

                       tiempo_desempleo  tiempo_empleo
Fecha      clasif_lab
2010-12-31 1.0                      NaN      52.205008
           2.0                11.629630            NaN
2013-12-31 1.0                      NaN      19.393980
           2.0                30.323077            NaN
2016-12-31 1.0                      NaN      30.902073
           2.0                12.702703            NaN

In [285]:
report = ProfileReport(df7, 'Resumen Estadísitco')
report