In [11]:
import pandas as pd
import numpy as np
from pandas_profiling import ProfileReport
import dtale
s

In [1]:
#%run ./formateo_variables.ipynb
#%run ./analisis_descriptivo.ipynb
%run ./bases_datos_tesis.ipynb

In [8]:
#df7= pd.read_csv('D:/maestria_ciencias_economicas_unal/tesis_scarring/base datos/ELCA_FINAL/PANEL_PET_REDUC.csv', sep = ";", index_col=[0,1], low_memory=False)

In [9]:
#dfprueba= pd.read_csv('D:/maestria_ciencias_economicas_unal/tesis_scarring/base datos/ELCA_FINAL/PET_REDUC_Trat_ctrl.csv', sep = ";", low_memory=False)

# Seleción de variables, creación, depuración y estandarización

Se busca determinar las variables necesarias para el ejercicio. Para esto se seleccionan de la base df6 aquellas que tienen que ver con 9 temáticas, a saber, indetificación, periodo, control, ubicación, representatividad, composición de la vivienda y el hogar, y las condiciones de la vivienda, sociodemográficas y socioeconómicas. Posteriormente, se crean las variables de clasificación laboral, scar, remuneraciones, calidad del empleo y educación. En este proceso se depuran y  estandarizar las variables necesarias de acuerdo con diversos procedimientos, entre ellos 'gather', fomateo correcto, remoción de tíldes y espacios, string a mínusculas.

## Selección
Se seleccionan las variables de acuerdo con 9 grupos, las de indetificación, periodo, control, ubicación, representatividad, composición de la vivienda y el hogar, y las condiciones de la vivienda, sociodemográficas y socioeconómicas. Además, el grupo de las condiciones socioecnómicas se divide en 3  subgrupos, educación, clasificación e historia laboral. Asimismo, estos subgrupos contemplan las caracteristicas de los ocupados, las remuneraciones, la calidad del empleo y las características de los desocupados, presentes y pasadas.

In [11]:
df7 = df6[[
 #identificador
    'ID',
 #periodo
 'Fecha',
 'ola_l',
 'hogar_l',
 'hogar_n16_l'
 #control
 'orden',
 'seguimiento',
 'encuestada_2013',
 #ubicación
 'region',
 'RegionLb',
 'region_2016',
 'id_depto',
 'id_mpio',
 'id_mpioU',
 #representatividad
 'riqueza_pca',
 'tercil2010',
 'tercil2013',
 'tercil2016',
 'fhog',
 'fhog_2010',
 'fhog_2013',
 'fhog_2016',
 'fexhog',
 'fexhog_2010',
 'fexhog_2013',
 'fpers',
 'fpers_2010',
 'fpers_2013',
 'fpers_2016',
 'fexpers',
 'fexpers_2010',
 'fexpers_2013',
 #composición
 't_hogares',
 't_hogar',
 't_personas',
 #condiciones de la vivienda
 'tipo_vivienda',
 'material_pisos',
 'material_paredes',
 'sp_energia',
 'sp_estrato',
 'sp_gasnatural',
 'sp_acueducto',
 'sp_alcantarillado',
 'sp_telefono',
 'sp_recoleccion_basura',
 'eliminan_basura',
 #condiciones sociodemográficas
 'sexo',
 'edad',
 'edad_meses',
 'parentesco',
 'estado_civil',
 'vive_conyuge',
 'orden_conyuge',
 'etnia',
 #condiciones socieconómicas:  
 'estrato',
 ##educación
 'lee_escribe',
 'estudia',
 'nivel_educ',
 'grado_educ',
 'edad_dejoestudio',
 'nivel_educ_cursa',
 'grado_educ_cursa',
 'anos_superior',
 'estudiaba_2010',
 'nivel_educ_2010',
 'grado_educ_2010',
 'anos_superior_2010',
 'est_superiores',  
 ##clasificación laboral
     ###ocupados   
 'actividad_ppal',
 ### desocupados
 'diligencias4',
 'diligencias12',
 ###características de los ocupados
 'descripcion_ciiu',
 'descrip_oficio',
 'cod_oficio',
 'edad_tenia',
 'anos_trabaja',
 'meses_trabaja',
 'mes_inicio',
 'ano_inicio', 
 'ocupacion',
 'horas_normal',
 'cod_oficio2',
 'tipo_contrato',
 ### remuneraciones
'rec_otros_pago',
 'vr_alimentos_pago',
 'vr_vivienda_pago',
 'vr_educ_pago',
 'vr_subalimentacion',
 'vr_subtransporte',
 'vr_subfamiliar',
 'vr_bonos',
 'vr_ingmen_ase',
 'vr_salario',
 'vr_ganancia',  
 'meses_ganancia',
 'rec_ninguno',
 'pagos_adicion',
 'ingresos',
 'ganancia_neta',
 'vr_salario_mes',
 'recibio_ganancia',
 ### calidad del empleo
 ####salud
 'afiliacion',
 'seg_medico',
 'segsoc_salud',
 'estaba_sss',
 'beneficiario_sss',
 'beneficiario_orden',
 ####pensión
 'cotiza_fp',
 'estaba_fp',     
 'afiliacion_fp',
 'vr_rec_pension',
 ####tamaño
 'tam_empresa',
 'n_empleados',
 'registro_mercantil',
 ####condiciones adicionales
 'vacaciones',
 'prima_navidad',
 'cesantias',
 ### características de los desocupados
 'ofertas_empleo',
 'ofertas_emp12',
 'ofertas_emp1',
 'vr_salario_ofr',
 'razon_noacepto',
 'disponibilidad',
 't_bustrab_a',
 't_bustrab_m',
 'medio_busco',
 't_busco_trab',
 't_dejo_trabajar',
 'vr_rec_arriendos',
 'vr_rec_dividendos',
 'salario_insf',
 'salario_nopresta',
 'horario_nosirve',
 'ubica_inadecuada',
 'noapto_trabajo',
 'razon_personal',
 
  ## historia laboral
 ###caracterísicas ocupados
 'edad_primert',
 'anos_primert',
 'horas_normal_pt',
 'ocupacion_pt',
 'es_ptrabajo',
 't_trabajo_ult',
 'trabajo_ult3',
 'tiempo_trab',
 ###remuneración
 'vr_recibia_pt',
 'rango_ingreso',
 ###salud
 'sss_pt',
 ###pensión
 'afiliado_fp_pt',
 'cotizando',
 ###tamaño
 'tamano_pt',
  ###caracterísicas desocupados
 'desemp_ult3',
 'tiempo_desemp',
 'nocotiza_ult3',
 'tiempo_ncotiza',
 'primer_busca'
  ]]

## Creación variables

### 1. Estadarizaión e implace

In [95]:
df7 = df7.convert_dtypes()

In [3]:
df7['diligencias4'] = df7['diligencias4'].str.replace("í", "i")
df7['diligencias4'].value_counts()

x     12517
No     4201
Si      793
Name: diligencias4, dtype: int64

In [4]:
df7['diligencias12'] = df7['diligencias12'].str.replace("í", "i")
df7['diligencias12'].value_counts()

x     13309
No     3833
Si      369
Name: diligencias12, dtype: int64

In [270]:
#df7.to_csv('D:/maestria_ciencias_economicas_unal/tesis_scarring/base datos/ELCA_FINAL/PANEL_PET_REDUC.csv', sep = ";")

In [4]:
df7['actividad_ppal'].value_counts()

Ninguna de las anteriores                                                           4994
Trabajó en forma remunerada por lo menos UNA hora  en una actividad que le gener    3990
Trabajó en forma remunerada por lo menos UNA hora  en una actividad que le gene     3867
Trabajó en forma remunerada por lo menos una hora                                   3848
No trabajó pero tenía un empleo o trabajo por el que recibe ingresos                 254
Trabajó como ayudante familiar sin que le pagaran  por lo menos UNA hora             144
Es incapacitado(a) permanente para trabajar                                          106
No trabajó pero tenía un empleo o trabajo de por lo menos una hora                    74
Trabajó como ayudante familiar sin remuneración por lo menos una hora                 63
x                                                                                     56
Trabajó  por lo menos UNA HORA y buscó  trabajo                                       46
Es incapacitado permanente para trabajar                                              36
Trabajó por lo menos una hora y buscó trabajo                                         24
No informa                                                                             9
Name: actividad_ppal, dtype: int64

In [20]:
df7["sexo"].value_counts()

mujer     10254
hombre     7257
Name: sexo, dtype: Int64

### Forma 2 clasificación laboral

Se encuentran problemas con los datos nulos de las variables actividad principal, diligencias 4 y diligencias 12, por tanto se procede a reemplazarlos por una "x". Se verifica que los datos nulos sean cero, así como el tipo de dato de la variable sea string y que cualquier condición o categoría de la variable actividad principal arroge resultados. Posteriormente se construye una función que recibe como argumento el data frame y retorna 1,2,3 si los registros cumplen con las condiciones respectivas, de lo contrario arroja valores np.nan. Finalmente, se crea la nueva variable clasif_lab en el dataframe y se aplica sobre el dataframe la función new_colum -que recibe como argumento el dataframe- a través de la función apply.

In [34]:
#hacer esto primero, convertir datos nulos a caracter string
df7['actividad_ppal']= df7['actividad_ppal'].replace(np.nan, "x") 
df7['diligencias4']= df7['diligencias4'].replace(np.nan, "x")
df7['diligencias12']= df7['diligencias12'].replace(np.nan, "x")

In [10]:
df7['actividad_ppal'].str.upper().isnull().sum()

56

In [23]:
df7['diligencias12'].dtypes

StringDtype

In [35]:
def new_colum(df): 
    if ((df['actividad_ppal'] == "Trabajó en forma remunerada por lo menos UNA hora  en una actividad que le gener") or 
       (df['actividad_ppal'] == "Trabajó en forma remunerada por lo menos UNA hora  en una actividad que le gene") or
       (df['actividad_ppal'] == "Trabajó en forma remunerada por lo menos una hora") or
       (df['actividad_ppal'] == "No trabajó pero tenía un empleo o trabajo por el que recibe ingresos") or
       (df['actividad_ppal'] == "Trabajó como ayudante familiar sin que le pagaran  por lo menos UNA hora") or
       (df['actividad_ppal'] == "No trabajó pero tenía un empleo o trabajo de por lo menos una hora") or
       (df['actividad_ppal'] == "Trabajó como ayudante familiar sin remuneración por lo menos una hora") or
       (df['actividad_ppal'] == "Trabajó  por lo menos UNA HORA y buscó  trabajo") or
       (df['actividad_ppal'] == "Trabajó por lo menos una hora y buscó trabajo")):
        categoria = 1
    elif (((df['actividad_ppal'] == "Ninguna de las anteriores") and (df['diligencias4'] == "Si")) or 
          ((df['actividad_ppal'] == "Ninguna de las anteriores") and (df['diligencias12'] == "Si"))):
        categoria = 2
    elif (((df['actividad_ppal'] == "Ninguna de las anteriores") and (df['diligencias4'] == "No")) or
          ((df['actividad_ppal'] == "Ninguna de las anteriores") and  (df['diligencias12'] == "No")) or
          (df['actividad_ppal'] == "Es incapacitado permanente para trabajar") or
          (df['actividad_ppal'] == "Es incapacitado(a) permanente para trabajar") or
          (df['actividad_ppal'] == "No informa")):
         categoria = 3
    else:
        categoria = np.nan
    return(categoria)

### Aplicamos la función para crear la variable clasificación laboral

Se realiza la verificación del procedimiento mediante value_counts sobre la variable clasif_lab, se verfican los datos nulos y se le da el respectivo formato int.

In [44]:
df7['clasif_lab'].value_counts()

1.0    12310
3.0     3984
2.0     1161
Name: clasif_lab, dtype: int64

In [37]:
df7['clasif_lab1'].isnull().sum()

56

In [24]:
#df7.to_csv('D:/maestria_ciencias_economicas_unal/tesis_scarring/base datos/ELCA_FINAL/PANEL_PET_REDUC.csv', sep = ";")

### scar
Se crean seis variables scar, correspondites a los seis flujos de identificación, para lo cual primero se simula el proceso y posteriormente se aplica a la base real.

### simulación

In [10]:
darrays = [np.array(["2010-12-31", "2013-12-31", "2016-12-31", "2010-12-31", 
                    "2013-12-31", "2016-12-31", "2010-12-31", "2013-12-31", "2016-12-31", 
                    "2010-12-31", "2013-12-31", "2016-12-31", "2010-12-31", "2013-12-31", 
                    "2016-12-31"]),
np.array([11, 11, 11, 12, 12, 12, 13, 13, 13, 14, 14, 14, 15, 15, 15])]
index = pd.MultiIndex.from_arrays(darrays, names=["fecha", "persona"])
simul = pd.DataFrame({"ID":[11, 11, 11, 12, 12, 12, 13, 13, 13, 14, 14, 14, 15, 15, 15],
                      "Fecha": ["2010-12-31", "2013-12-31", "2016-12-31", "2010-12-31", 
                                "2013-12-31", "2016-12-31", "2010-12-31", "2013-12-31", 
                                "2016-12-31", "2010-12-31", "2013-12-31", "2016-12-31",
                                "2010-12-31", "2013-12-31", "2016-12-31"],
"clasif_lab": [1, 2, 1, 1, 1, 3, 1, 2, 1, 1, 1, 1, "x", "x", "x"]}, index= index)

simul.head(16)

                    ID       Fecha clasif_lab  tiempo_empleo
fecha      persona
2010-12-31 11       11  2010-12-31          1           46.5
2013-12-31 11       11  2013-12-31          2           25.6
2016-12-31 11       11  2016-12-31          1           24.0
2010-12-31 12       12  2010-12-31          1            5.0
2013-12-31 12       12  2013-12-31          1            4.0
2016-12-31 12       12  2016-12-31          3            3.0
2010-12-31 13       13  2010-12-31          1            2.0
2013-12-31 13       13  2013-12-31          2           10.0
2016-12-31 13       13  2016-12-31          1            9.0
2010-12-31 14       14  2010-12-31          1            NaN
2013-12-31 14       14  2013-12-31          1            NaN
2016-12-31 14       14  2016-12-31          1            NaN
2010-12-31 15       15  2010-12-31          x            NaN
2013-12-31 15       15  2013-12-31          x           15.0
2016-12-31 15       15  2016-12-31          x           20.0

In [ ]:
#simul['Fecha']=[i[0] for i in simul.index.to_list()]
#simul['ID']=[i[1] for i in simul.index.to_list()]

In [100]:
def scarfs(df):
    if (((df["Fecha"]=="2010-12-31") and (df["clasif_lab"]== 1)) or
    ((df["Fecha"]=="2013-12-31") and (df["clasif_lab"]== 2)) or
    ((df["Fecha"]=="2016-12-31") and (df["clasif_lab"]== 1))):
        categoria=1
    elif (df["clasif_lab"]== "x"):
         categoria= "x"
    else:
        categoria=0
    return(categoria)

In [102]:
simul['scar'] = simul.apply(scarfs, axis = 1)
simul.head(16)

                    ID       Fecha clasif_lab scar
fecha      persona
2010-12-31 11       11  2010-12-31          1    1
2013-12-31 11       11  2013-12-31          2    1
2016-12-31 11       11  2016-12-31          1    1
2010-12-31 12       12  2010-12-31          1    1
2013-12-31 12       12  2013-12-31          1    0
2016-12-31 12       12  2016-12-31          3    0
2010-12-31 13       13  2010-12-31          1    1
2013-12-31 13       13  2013-12-31          2    1
2016-12-31 13       13  2016-12-31          1    1
2010-12-31 14       14  2010-12-31          1    1
2013-12-31 14       14  2013-12-31          1    0
2016-12-31 14       14  2016-12-31          1    1
2010-12-31 15       15  2010-12-31          x    x
2013-12-31 15       15  2013-12-31          x    x
2016-12-31 15       15  2016-12-31          x    x

In [103]:
mask_1= simul["scar"] == 1
mask_1[mask_1==True].count()
#solo_1 = mask_1[mask_1==True].index.to_list()

9

In [104]:
simul2 = simul[mask_1==True]
simul2

                    ID       Fecha clasif_lab scar
fecha      persona
2010-12-31 11       11  2010-12-31          1    1
2013-12-31 11       11  2013-12-31          2    1
2016-12-31 11       11  2016-12-31          1    1
2010-12-31 12       12  2010-12-31          1    1
           13       13  2010-12-31          1    1
2013-12-31 13       13  2013-12-31          2    1
2016-12-31 13       13  2016-12-31          1    1
2010-12-31 14       14  2010-12-31          1    1
2016-12-31 14       14  2016-12-31          1    1

In [107]:
mask_2 = simul2["ID"].value_counts()==3
mask_2[mask_2==True].count()

2


Existe un problema al filtrar los datos, ya que existen índices que se repiten tres veces y tienen el valor 0 y 1, es por ello que se deben separar las codiciones en dos tablas, dado que en una misma no se pueden cumplir las dos condiciones al mismo tiempo. Lo anterior se ejemplifica con los datos simulados, al crear los filtros mask_1 y mask_4 sobre la misma tabla, como se muestra a continuación.

In [108]:
# mask_4=simul["ID"].value_counts()==3
# simul[mask_4 & mask_1]

In [109]:
tres_veces = mask_2[mask_2==True].index.to_list()

indices_tres_veces = []
for ix, i in enumerate(simul2['ID']): #ix recorre el indice, i recorre los valores de la variable
    if i in tres_veces:
        indices_tres_veces.append(ix)

simul2= simul2.iloc[indices_tres_veces,:]

In [111]:
simuls = [simul, simul2]

In [112]:
otro = pd.concat(simuls)
otro

                    ID       Fecha clasif_lab scar
fecha      persona
2010-12-31 11       11  2010-12-31          1    1
2013-12-31 11       11  2013-12-31          2    1
2016-12-31 11       11  2016-12-31          1    1
2010-12-31 12       12  2010-12-31          1    1
2013-12-31 12       12  2013-12-31          1    0
2016-12-31 12       12  2016-12-31          3    0
2010-12-31 13       13  2010-12-31          1    1
2013-12-31 13       13  2013-12-31          2    1
2016-12-31 13       13  2016-12-31          1    1
2010-12-31 14       14  2010-12-31          1    1
2013-12-31 14       14  2013-12-31          1    0
2016-12-31 14       14  2016-12-31          1    1
2010-12-31 15       15  2010-12-31          x    x
2013-12-31 15       15  2013-12-31          x    x
2016-12-31 15       15  2016-12-31          x    x
2010-12-31 11       11  2010-12-31          1    1
2013-12-31 11       11  2013-12-31          2    1
2016-12-31 11       11  2016-12-31          1    1
2010-12-31 13       13  2010-12-31          1    1
2013-12-31 13       13  2013-12-31          2    1
2016-12-31 13       13  2016-12-31          1    1

### Base real

In [4]:
df7= pd.read_csv('D:/maestria_ciencias_economicas_unal/tesis_scarring/base datos/ELCA_FINAL/PANEL_PET_REDUC.csv', sep = ";", index_col=[0,1], low_memory=False)
dfprueba= pd.read_csv('D:/maestria_ciencias_economicas_unal/tesis_scarring/base datos/ELCA_FINAL/PET_REDUC_Trat_ctrl.csv', sep = ";", low_memory=False)

In [134]:
#df7= df7.drop(["scar"], axis = 1)
#df7.to_csv('D:/maestria_ciencias_economicas_unal/tesis_scarring/base datos/ELCA_FINAL/PANEL_PET_REDUC.csv', sep = ";")

El código anterior permite conocer el número de personas que poseen el efecto scarring (1, 2, 1), a través de la creación de un filtro y arroja como resultado un dataframe con dichas personas. A continuación se crea la función que incluye los seis caminos para identificar la población suceptible del efecto. Se aplica la función junto con los filtros y se almacenan en df8, se crean las variables scar (1) y control (0). Asimismo, se crea la función para el grupo de control que incluye dos caminos, junto con los filtros y se almacena en df9; se crean las variables scar (0) y control (1). A continuación se concatenan las 2 tablas en df10.

Finalmente, se crea dos tablas de salida, una para el grupo tratamiento, con el número de personas, número de episodios de desempleo y tiempo de desempleo promedio en meses y años; y otra para el grupo de control, con el número de personas, número de episodios de empleo (si es posible), tiempo de trabajo en meses y años. 

Otra posibilidad es explorar la creación de funciones por cada tabla y concatenarlas, lo cual haría más extenso el código, pero permitiría realizar un pivot con todas las tablas por cada uno de los caminos.

In [46]:
# def scarf(df):
#     if (((df["Fecha"]=="2010-12-31") and (df["clasif_lab"]== 1)) or
#     ((df["Fecha"]=="2013-12-31") and (df["clasif_lab"]== 2)) or
#     ((df["Fecha"]=="2016-12-31") and (df["clasif_lab"]== 1))):
#         categoria=1
#     elif (((df["Fecha"]=="2010-12-31") and (df["clasif_lab"]== 1)) or
#     ((df["Fecha"]=="2013-12-31") and (df["clasif_lab"]== 1) and (df["desemp_ult3"] == "si")) or
#     ((df["Fecha"]=="2016-12-31") and (df["clasif_lab"]== 1))):
#         categoria=1
#     elif (((df["Fecha"]=="2010-12-31") and (df["clasif_lab"]== 1)) or
#     ((df["Fecha"]=="2013-12-31") and (df["clasif_lab"]== 1) and (df["desemp_ult3"] == "no")) or 
#     ((df["Fecha"]=="2016-12-31") and (df["clasif_lab"]== 1) and (df["desemp_ult3"] == "si"))):
#         categoria=1
#     elif (((df["Fecha"]=="2010-12-31") and (df["clasif_lab"]== 2)) or
#     ((df["Fecha"]=="2013-12-31") and (df["clasif_lab"]== 1)) or 
#     ((df["Fecha"]=="2016-12-31") and (df["clasif_lab"]== 1) and (df["desemp_ult3"] == "si"))):
#         categoria=1
#     elif (((df["Fecha"]=="2010-12-31") and (df["clasif_lab"]== 2)) or
#     ((df["Fecha"]=="2013-12-31") and (df["clasif_lab"]== 2) and (df["trabajo_ult3"] == "si")) or 
#     ((df["Fecha"]=="2016-12-31") and (df["clasif_lab"]== 1))):
#         categoria=1
#     elif (df["clasif_lab"]== "x") or (df["desemp_ult3"]== "x") or (df["trabajo_ult3"]== "x"):
#          categoria= "x"
#     else:
#         categoria=0
#     return(categoria)

In [47]:
# df7['scar'] = df7.apply(scarf, axis = 1)

Al realizar el análisis con la función compuesta se observa que existen registros marcados como scarring de manera incorrecta, por ejemplo ocupados en todos los tres periodos. Esto se debe al flujo de ejecución del programa, puesto que evalua la primera condición para todos los registros, entonces cuando pasa a la segunda condición los registros ya están marcados. Por ello se decide crear una función, una variable scar, un filtro, una tabla y una variable control por cada camino, y posteriormente concatenarlas, sin que existan valores duplicados.

#### Camino 1. scarfuno

In [156]:
def scarfuno(df):
    if (((df["Fecha"]=="2010-12-31") and (df["clasif_lab"]== 1)) or
        ((df["Fecha"]=="2013-12-31") and (df["clasif_lab"]== 2)) or
        ((df["Fecha"]=="2016-12-31") and (df["clasif_lab"]== 1))):
        categoria= 1
    else:
        categoria= 0     
    return(categoria)

In [157]:
df7['scar_uno'] = df7.apply(scarfuno, axis = 1)

In [158]:
#celda flotante para comprobaciones
# df7["clasif_lab"].value_counts(dropna = False)
df7["scar_uno"].value_counts(dropna = False)
#df7.head()

0    9035
1    8476
Name: scar_uno, dtype: int64

In [159]:
msk_1_s1= df7["scar_uno"] == 1
msk_1_s1[msk_1_s1==True].count()

8476

In [160]:
df8 = df7[msk_1_s1==True]
msk_2_s1 = df8["id"].value_counts()==3
msk_2_s1[msk_2_s1==True].count() #112 ids cuentan con el efecto scar, aparecen 3495 personas con el efecto.

112

In [161]:
trs_veces1 = msk_2_s1[msk_2_s1==True].index.to_list()

indices_trs_veces1 = []
for ix,i in enumerate(df8['id']):
    if i in trs_veces1:
        indices_trs_veces1.append(ix)

df8 = df8.iloc[indices_trs_veces1,:] # se crea el dataframe 8 con 112 personas (camino1) suceptibles del scar.

In [162]:
df8= df8.rename(columns={"scar_uno":"scar"})

In [163]:
df8['control'] = int(0)

In [164]:
df8['camino'] = str("t_uno")

#### Camino 2. scarf_dos

In [165]:
def scarf_dos(df):
    if (((df["Fecha"]=="2010-12-31") and (df["clasif_lab"]== 1)) or
    ((df["Fecha"]=="2013-12-31") and (df["clasif_lab"]== 1) and (df["desemp_ult3"] == "si")) or
    ((df["Fecha"]=="2016-12-31") and (df["clasif_lab"]!= np.nan))):
        categoria=1
    elif (df["clasif_lab"]== np.nan) or (df["desemp_ult3"]== "x"):
         categoria= "x"
    else:
        categoria=0
    return(categoria)

In [166]:
df7['scar_dos'] = df7.apply(scarf_dos, axis = 1)

In [167]:
msk_1_s2= df7["scar_dos"] == 1
msk_1_s2[msk_1_s2==True].count()

10840

In [168]:
df9 = df7[msk_1_s2==True]
msk_2_s2= df9["id"].value_counts()==3
msk_2_s2[msk_2_s2==True].count() # 718 persons (camino 2) suceptibles de efecto scar

718

In [169]:
trs_veces2 = msk_2_s2[msk_2_s2==True].index.to_list()

indices_trs_veces2 = []
for ix,i in enumerate(df9['id']):
    if i in trs_veces2:
        indices_trs_veces2.append(ix)

df9 = df9.iloc[indices_trs_veces2,:] # se crea el dataframe 9 con las personas que tienen efecto scar.

In [170]:
df9= df9.rename(columns={"scar_dos":"scar"})

In [171]:
df9['control'] = int(0)
#df9= df9.rename(columns={"control_dos":"control"})
#df7['scar'].isnull().sum()

In [172]:
df9['camino'] = str("t_dos")

In [173]:
#df7[df7['scar']==1].count() #& (df7['scar']==1) & (df7['scar']==1)].count()
#df7[(df7['scar']==1) & (df7['Fecha']=="2013-12-31")].count()

#### Camino 3. scarf_tres

In [174]:
def scarf_tres(df):
    if (((df["Fecha"]=="2010-12-31") and (df["clasif_lab"]== 1)) or
    ((df["Fecha"]=="2013-12-31") and (df["clasif_lab"]== 1) and (df["desemp_ult3"] == "no")) or 
    ((df["Fecha"]=="2016-12-31") and (df["clasif_lab"]== 1) and (df["desemp_ult3"] == "si"))):
        categoria=1         
    elif (df["clasif_lab"]== np.nan) or (df["desemp_ult3"]== "x"):
        categoria= "x"
    else:
        categoria=0
    return(categoria)

In [175]:
df7['scar_tres'] = df7.apply(scarf_tres, axis = 1)

In [176]:
msk_1_s3= df7["scar_tres"] == 1
msk_1_s3[msk_1_s3==True].count()

7629

In [177]:
df10 = df7[msk_1_s3==True]
msk_2_s3= df10["id"].value_counts()==3
msk_2_s3[msk_2_s3==True].count() # 186 persons (camino 3) suceptibles de efecto scar

186

In [178]:
trs_veces3 = msk_2_s3[msk_2_s3==True].index.to_list()

indices_trs_veces3 = []
for ix,i in enumerate(df10['id']):
    if i in trs_veces3:
        indices_trs_veces3.append(ix)

df10 = df10.iloc[indices_trs_veces3,:] # se crea el dataframe 10 con las personas que tienen efecto scar.

In [179]:
#df9.drop("scar_uno", axis = 1) #probar la combinación con las dos variables

In [180]:
df10= df10.rename(columns={"scar_tres":"scar"})

In [181]:
df10['control'] = int(0)
#df10= df10.rename(columns={"control_tres":"control"})
#df7['scar'].isnull().sum()

In [182]:
df10['camino'] = str("t_tres")

#### Camino 4. scarf_cuatro

In [183]:
def scarf_cuatro(df):
    if (((df["Fecha"]=="2010-12-31") and ((df["clasif_lab"]== 2) or (df["clasif_lab"]== 3))) or
    ((df["Fecha"]=="2013-12-31") and (df["clasif_lab"]== 1)) or 
    ((df["Fecha"]=="2016-12-31") and (df["clasif_lab"]== 1) and (df["desemp_ult3"] == "si"))):
        categoria=1
    elif (df["clasif_lab"]== np.nan) or (df["desemp_ult3"]== "x"):
        categoria= "x"
    else:
        categoria=0
    return(categoria)

In [184]:
df7['scar_cuatro'] = df7.apply(scarf_cuatro, axis = 1)

In [185]:
msk_1_s4= df7["scar_cuatro"] == 1
msk_1_s4[msk_1_s4==True].count()

6511

In [186]:
df11 = df7[msk_1_s4==True]
msk_2_s4= df11["id"].value_counts()==3
msk_2_s4[msk_2_s4==True].count() # 100 personas (camino 4) suceptibles de efecto scar

100

In [187]:
trs_veces4 = msk_2_s4[msk_2_s4==True].index.to_list()

indices_trs_veces4 = []
for ix,i in enumerate(df11['id']):
    if i in trs_veces4:
        indices_trs_veces4.append(ix)

df11 = df11.iloc[indices_trs_veces4,:] # se crea el dataframe 11 con las personas que tienen efecto scar.

In [188]:
df11= df11.rename(columns={"scar_cuatro":"scar"})

In [189]:
df11['control'] = int(0)
#df7['scar'].isnull().sum()

In [190]:
df11['camino'] = str("t_cuatro")

#### Camino 5. scarf_cinco

In [191]:
def scarf_cinco(df):
    if (((df["Fecha"]=="2010-12-31") and ((df["clasif_lab"]== 2) or (df["clasif_lab"]== 3))) or
    ((df["Fecha"]=="2013-12-31") and (df["clasif_lab"]== 2) and (df["trabajo_ult3"] == "si")) or 
    ((df["Fecha"]=="2016-12-31") and (df["clasif_lab"]== 1))):
        categoria=1        
    elif (df["clasif_lab"]== np.nan) or (df["trabajo_ult3"]== "x"):
        categoria= "x"
    else:
        categoria=0
    return(categoria)

In [192]:
df7['scar_cinco'] = df7.apply(scarf_cinco, axis = 1)

In [193]:
msk_1_s5= df7["scar_cinco"] == 1
msk_1_s5[msk_1_s5==True].count()

6154

In [194]:
df12 = df7[msk_1_s5==True]
msk_2_s5= df12["id"].value_counts()==3
msk_2_s5[msk_2_s5==True].count() # 49 personas (camino 5) suceptibles de efecto scars

49

In [195]:
trs_veces5 = msk_2_s5[msk_2_s5==True].index.to_list()

indices_trs_veces5 = []
for ix,i in enumerate(df12['id']):
    if i in trs_veces5:
        indices_trs_veces5.append(ix)

df12 = df12.iloc[indices_trs_veces5,:] # se crea el dataframe 12 (camino 5) con las personas que tienen efecto scar.

In [196]:
df12= df12.rename(columns={"scar_cinco":"scar"})

In [197]:
df12['control'] = int(0)
#df7['scar'].isnull().sum()

In [198]:
df12['camino'] = str("t_cinco")

#### Camino 6. scarf_seis
agregar la variable de inactividad al df7

In [199]:
#urb_per_13 = pd.read_stata("D:/maestria_ciencias_economicas_unal/tesis_scarring/base datos/ELCA_2013/ELCA_2013_urbano/Upersonas_2013.dta")

In [200]:
#urb_per_13= urb_per_13.rename(columns={"llave_ID_lb":"ID"})

In [201]:
#urb_per_13["Fecha"] = '2013-12-31'

In [202]:
#urb_per_13.head()

In [203]:
#urb_per_13 = urb_per_13[["Fecha","ID","actividad_principal", "t_busco_trab"]]

In [204]:
# df7= pd.merge(left=df7, right=urb_per_13, left_on = ["Fecha","ID"], 
#                    right_on= ["Fecha","ID"], how = 'left', 
#                    sort = False, indicator = 'indicator_column', 
#                    validate = '1:m', suffixes=("_l", "_r"))

In [205]:
df7.shape

(17511, 176)

In [206]:
#df7.to_csv('D:/maestria_ciencias_economicas_unal/tesis_scarring/base datos/ELCA_FINAL/PANEL_PET_REDUC.csv', sep = ";")

In [207]:
#df7["t_busco_trab_r"].value_counts()

In [208]:
#df7["t_busco_trab_l"].value_counts()

In [209]:
def scarf_seis(df):
    if (((df["Fecha"]=="2010-12-31") and (df["clasif_lab"]== 1)) or
    ((df["Fecha"]=="2013-12-31") and (df["clasif_lab"]== 3) and (df["t_busco_trab_r"] == "Menos de 6 meses")) or
    ((df["Fecha"]=="2013-12-31") and (df["clasif_lab"]== 3) and (df["t_busco_trab_r"] == "Entre 7 y 11 meses")) or
    ((df["Fecha"]=="2013-12-31") and (df["clasif_lab"]== 3) and (df["t_busco_trab_r"] == "Entre 1 y menos de 2 años")) or 
    ((df["Fecha"]=="2016-12-31") and (df["clasif_lab"]== 1))):
        categoria=1        
    elif (df["clasif_lab"]== np.nan) or (df["t_busco_trab_r"]== np.nan):
        categoria= "x"
    else:
        categoria=0
    return categoria

In [210]:
df7['scar_seis'] = df7.apply(scarf_seis, axis = 1)

In [211]:
msk_1_s6= df7["scar_seis"] == 1
msk_1_s6[msk_1_s6==True].count()

8335

In [212]:
df12a = df7[msk_1_s6==True]
msk_2_s6= df12a["id"].value_counts()==3
msk_2_s6[msk_2_s6==True].count() # 64 personas (camino 6) suceptibles de efecto scar

64

In [213]:
trs_veces6 = msk_2_s6[msk_2_s6==True].index.to_list()

indices_trs_veces6 = []
for ix,i in enumerate(df12a['id']):
    if i in trs_veces6:
        indices_trs_veces6.append(ix)

df12a = df12a.iloc[indices_trs_veces6,:] # se crea el dataframe 12a (camino 6) con las 40 personas que tienen efecto scar.

In [214]:
df12a= df12a.rename(columns={"scar_seis":"scar"})

In [215]:
df12a['control'] = int(0)
#df12a= df12a.rename(columns={"control_seis":"control"})
#df7['scar'].isnull().sum()

In [216]:
df12a['camino'] = str("t_seis")

### Grupo control camino 1
Primero se debe crear variable de tiempo en el empleo actual a partir de la pregunta 503 del formulario, la cual admite 3 tipos de respuesta, a saber, edad de inicio, fecha de inicio o tiempo que lleva, generando 5 variables en base de datos. Entonces:

1. Se lleva la opción 1 a tiempo mensual, mediante:(edad - edad_tenia )*12 

2.Se lleva la opción 2 a tiempo mensual, mediante: (año_encuesta - ano_inicio)* 12 + (6 - mes_inicio)

3. Dado que las variables anos_trabaja y meses_trabaja son complementarias, se lleva la primera a meses, multiplicando por 12 y posteriormente se suma con las segunda. 

El procedimiento anterior se realiza mediante una función.

Adicionalmente, se debe pasar la variable mes_inicio a número para lo cual se convertir los nombres de los meses a números enteros.

In [217]:
def fecha_ini(df):
    if (df["Fecha"]=="2010-12-31"):
        fe = 2010
    elif (df["Fecha"]=="2013-12-31"):
        fe = 2013
    elif (df["Fecha"]=="2016-12-31"):
        fe = 2016
    else:
        fe = np.nan
    return fe

In [218]:
df7['ano_encuesta'] = df7.apply(fecha_ini, axis = 1)

In [219]:
#df7["edad_tenia"][df7["edad_tenia"]==99].count()

In [220]:
def t_trab_act(df):
    
    if ((df["anos_trabaja"] > 0) or (df["meses_trabaja"] > 0)):
        op_1 = ((df["anos_trabaja"]*12) + df["meses_trabaja"])
    
    elif (df["edad_tenia"] > 0 ):
        op_1 = ((df['edad'] - df["edad_tenia"])*12) 
    
    elif  (df["ano_inicio"]>0) and (df["mes_inicio"]>0):
        op_1 = (((df['ano_encuesta'] - df['ano_inicio'])*12) + (6 - df['mes_inicio'])) 
    else:
        op_1 = np.nan
    return op_1

In [221]:
df7['tiempo_empleo'] = df7.apply(t_trab_act, axis = 1)

In [222]:
def nul_tiempo_ta(df):
    if (((df['ano_encuesta'] == 2010) and (df['clasif_lab'] == 2)) or 
        ((df['ano_encuesta'] == 2010) and (df['clasif_lab'] == 3))):
        t_ac = np.nan    
    else:
        t_ac= df['tiempo_empleo']
    return(t_ac)

In [223]:
df7['tiempo_empleo']=df7.apply(nul_tiempo_ta, axis = 1)

In [224]:
#asignar nulidad a los registros de la varable tiempo_empleo para los datos incoherentes de edad_inicio
def edad_inicio_1(df):
    if (df['edad_tenia'] > df['edad']):
        ed_ini = np.nan    
    else:
        ed_ini= df['tiempo_empleo']
    return(ed_ini)

In [225]:
df7['tiempo_empleo']=df7.apply(edad_inicio_1, axis = 1)

In [226]:
#(((df7['ano_encuesta'] - df7['ano_inicio']) *12) + (6 - df7['mes_inicio'])).value_counts().sort_values(ascending = False)

In [227]:
#df7["tiempo_empleo"][df7["tiempo_empleo"] < 36].count()

In [228]:
#df7.boxplot(column=["edad_tenia", "meses_trabaja", "anos_trabaja"], by = "sexo", layout = (2,2))
#df7.boxplot(column=["edad_tenia", "meses_trabaja", "anos_trabaja"])
#df7.boxplot(column=["Tiempo_trab_act"])


debido a que al pegar el dataframe no se indexó por fecha, el indice automaticamente paso a ser el id, por tanto se toma el indice "ID" y se replica como variable "ID" en el dataframe.

In [229]:
#dfindex = dfindex.reset_index()
#df7['id']=[i[1] for i in df7.index.to_list()]

Se contruye la función de condiciones

In [230]:
def controlf_uno(df):
    if (((df["Fecha"]=="2010-12-31") and (df["clasif_lab"]== 1)) or
    ((df["Fecha"]=="2013-12-31") and (df["clasif_lab"]== 1)  and (df["tiempo_empleo"] < 36)
    and (df["desemp_ult3"] != "si")) or 
    ((df["Fecha"]=="2016-12-31") and (df["clasif_lab"]== 1) and (df["tiempo_empleo"] < 36) and (df["desemp_ult3"] != "si"))): #
        categoria=1      
    elif (df["clasif_lab"]== np.nan) or (df["desemp_ult3"]== "x") or (df["tiempo_empleo"]== np.nan):
        categoria= "x"
    else:
        categoria=0
    return(categoria)

In [231]:
df7['control_uno'] = df7.apply(controlf_uno, axis = 1)

In [232]:
msk_1_c1= df7["control_uno"] == 1
msk_1_c1[msk_1_c1==True].count()

8026

In [233]:
df13 = df7[msk_1_c1==True]
msk_2_c1= df13["id"].value_counts()==3
msk_2_c1[msk_2_c1==True].count() # 797 personas (camino 1) grupo de control.

797

In [234]:
trs_veces_c1 = msk_2_c1[msk_2_c1==True].index.to_list()

indices_trs_veces_c1 = []
for ix,i in enumerate(df13['id']):
    if i in trs_veces_c1:
        indices_trs_veces_c1.append(ix)

df13 = df13.iloc[indices_trs_veces_c1,:] # se crea el dataframe 13 (camino 1) con las personas de control.

In [235]:
df13= df13.rename(columns={"control_uno":"control"})

In [236]:
df13['scar'] = int(0)
#df7['scar'].isnull().sum()

In [237]:
df13['camino'] = str("c_uno")

### Grupo control camino 2

In [238]:
def controlf_dos(df):
    if (((df["Fecha"]=="2010-12-31") and (df["clasif_lab"]== 2)) or
    ((df["Fecha"]=="2013-12-31") and (df["clasif_lab"]== 1) and (df["desemp_ult3"] != "si")) or 
    ((df["Fecha"]=="2016-12-31") and (df["clasif_lab"]== 1) and (df["tiempo_empleo"] < 36)
    and (df["desemp_ult3"] != "si"))):
        categoria=1        
    elif (df["clasif_lab"]== np.nan) or (df["desemp_ult3"]== "x") or (df["tiempo_empleo"]== np.nan):
        categoria= "x"
    else:
        categoria=0
    return(categoria)

In [239]:
df7['control_dos'] = df7.apply(controlf_dos, axis = 1)

In [240]:
msk_1_c2= df7["control_dos"] == 1
msk_1_c2[msk_1_c2==True].count()

5847

In [241]:
df14 = df7[msk_1_c2==True]
msk_2_c2= df14["id"].value_counts()==3
msk_2_c2[msk_2_c2==True].count() # 48 personas (camino 2) grupo de control

48

In [242]:
trs_veces_c2 = msk_2_c2[msk_2_c2==True].index.to_list()

indices_trs_veces_c2 = []
for ix,i in enumerate(df14['id']):
    if i in trs_veces_c2:
        indices_trs_veces_c2.append(ix)

df14 = df14.iloc[indices_trs_veces_c2,:] # se crea el dataframe 14 (camino 2) con las personas de control.

In [243]:
df14= df14.rename(columns={"control_dos":"control"})

In [244]:
df14['scar'] = int(0)
#df7['scar'].isnull().sum()

In [245]:
df14['camino'] = str("c_dos")

In [246]:
#df7.to_csv('D:/maestria_ciencias_economicas_unal/tesis_scarring/base datos/ELCA_FINAL/PANEL_PET_REDUC.csv', sep = ";")

### Grupo control camino 3

In [247]:
def controlf_tres(df):
    if (((df["Fecha"]=="2010-12-31") and (df["clasif_lab"]== 3)) or
    ((df["Fecha"]=="2013-12-31") and (df["clasif_lab"]== 1) and (df["desemp_ult3"] != "si")) or 
    ((df["Fecha"]=="2016-12-31") and (df["clasif_lab"]== 1) and (df["tiempo_empleo"] < 36)
    and (df["desemp_ult3"] != "si"))):
        categoria=1        
    elif (df["clasif_lab"]== np.nan) or (df["desemp_ult3"]== "x") or (df["tiempo_empleo"]== np.nan):
        categoria= "x"
    else:
        categoria=0
    return(categoria)

In [248]:
df7['control_tres'] = df7.apply(controlf_tres, axis = 1)

In [249]:
msk_1_c3= df7["control_tres"] == 1
msk_1_c3[msk_1_c3==True].count()

6563

In [250]:
df15 = df7[msk_1_c3==True]
msk_2_c3= df15["id"].value_counts()==3
msk_2_c3[msk_2_c3==True].count() # 104 personas (camino 3) grupo de control

104

In [251]:
trs_veces_c3 = msk_2_c3[msk_2_c3==True].index.to_list()

indices_trs_veces_c3 = []
for ix,i in enumerate(df15['id']):
    if i in trs_veces_c3:
        indices_trs_veces_c3.append(ix)

df15 = df15.iloc[indices_trs_veces_c3,:] # se crea el dataframe 14 (camino 3) con las personas de control.

In [252]:
df15= df15.rename(columns={"control_tres":"control"})

In [253]:
df15['scar'] = int(0)
#df7['scar'].isnull().sum()

In [254]:
df15['camino'] = str("c_tres")

In [255]:
#df7["t_busco_trab_r"].value_counts()

### Grupo control camino 4

In [256]:
def controlf_cuatro(df):
    if (((df["Fecha"]=="2010-12-31") and (df["clasif_lab"]== 1)) or
    ((df["Fecha"]=="2013-12-31") and (df["clasif_lab"]== 3) and (df["t_busco_trab_r"] == "Hace más de 5 años")) or 
    ((df["Fecha"]=="2013-12-31") and (df["clasif_lab"]== 3) and (df["t_busco_trab_r"] == "Nunca ha buscado trabajo")) or
    ((df["Fecha"]=="2016-12-31") and (df["clasif_lab"]== 1) and (df["desemp_ult3"] != "si"))):
        categoria=1        
    elif (df["clasif_lab"]== np.nan) or (df["desemp_ult3"]== "x") or (df["t_busco_trab_r"]== np.nan):
        categoria= "x"
    else:
        categoria=0
    return(categoria)

In [257]:
df7['control_cuatro'] = df7.apply(controlf_cuatro, axis = 1)

In [258]:
msk_1_c4= df7["control_cuatro"] == 1
msk_1_c4[msk_1_c4==True].count()

8557

In [259]:
df16 = df7[msk_1_c4==True]
msk_2_c4= df16["id"].value_counts()==3
msk_2_c4[msk_2_c4==True].count() # 62 personas (camino 4) grupo de control

62

In [260]:
trs_veces_c4 = msk_2_c4[msk_2_c4==True].index.to_list()

indices_trs_veces_c4 = []
for ix,i in enumerate(df16['id']):
    if i in trs_veces_c4:
        indices_trs_veces_c4.append(ix)

df16 = df16.iloc[indices_trs_veces_c4,:] # se crea el dataframe 15 (camino 4) con las personas de control.

In [261]:
df16= df16.rename(columns={"control_cuatro":"control"})

In [262]:
df16['scar'] = int(0)
#df7['scar'].isnull().sum()

In [263]:
df16['camino'] = str("c_cuatro")

### Grupo control camino 5

In [264]:
def controlf_cinco(df):
    if (((df["Fecha"]=="2010-12-31") and (df["clasif_lab"]== 1)) or
    ((df["Fecha"]=="2013-12-31") and (df["clasif_lab"]== 1) and (df["tiempo_empleo"] < 36) and (df["desemp_ult3"] != "si")) or 
    ((df["Fecha"]=="2016-12-31") and (df["clasif_lab"]== 2) and (df["desemp_ult3"] != "si"))):
        categoria=1      
    elif (df["clasif_lab"]== np.nan) or (df["desemp_ult3"]== "x") or (df["tiempo_empleo"]== np.nan):
        categoria= "x"
    else:
        categoria=0
    return(categoria)

In [265]:
df7['control_cinco'] = df7.apply(controlf_cinco, axis = 1)

In [266]:
msk_1_c5= df7["control_cinco"] == 1
msk_1_c5[msk_1_c5==True].count()

6005

In [267]:
df17 = df7[msk_1_c5==True]
msk_2_c5= df17["id"].value_counts()==3
msk_2_c5[msk_2_c5==True].count() # 15 personas (camino 5) grupo de control

15

In [268]:
trs_veces_c5 = msk_2_c5[msk_2_c5==True].index.to_list()

indices_trs_veces_c5 = []
for ix,i in enumerate(df17['id']):
    if i in trs_veces_c5:
        indices_trs_veces_c5.append(ix)

df17 = df17.iloc[indices_trs_veces_c5,:] # se crea el dataframe 17 (camino 5) con las personas de control.

In [269]:
df17= df17.rename(columns={"control_cinco":"control"})

In [270]:
df17['scar'] = int(0)
#df7['scar'].isnull().sum()

In [271]:
df17['camino'] = str("c_cinco")

### Grupo control camino 6

In [272]:
def controlf_seis(df):
    if (((df["Fecha"]=="2010-12-31") and (df["clasif_lab"]== 1)) or
    ((df["Fecha"]=="2013-12-31") and (df["clasif_lab"]== 1) and (df["tiempo_empleo"] < 36) and (df["desemp_ult3"] != "si")) or 
    ((df["Fecha"]=="2016-12-31") and (df["clasif_lab"]== 3) and (df["t_busco_trab_l"] == "Hace 3 años o más") and (df["desemp_ult3"] != "si")) or 
    ((df["Fecha"]=="2016-12-31") and (df["clasif_lab"]== 3) and (df["t_busco_trab_l"] == "Nunca ha buscado trabajo") and (df["desemp_ult3"] != "si"))):
        categoria=1      
    elif (df["clasif_lab"]== np.nan) or (df["desemp_ult3"]== "x") or (df["tiempo_empleo"]== np.nan) or (df["t_busco_trab_l"]== np.nan):
        categoria= "x"
    else:
        categoria=0
    return(categoria)

In [273]:
df7['control_seis'] = df7.apply(controlf_seis, axis = 1)

In [274]:
msk_1_c6= df7["control_seis"] == 1
msk_1_c6[msk_1_c6==True].count() #7004

7004

In [275]:
df18 = df7[msk_1_c6==True]
msk_2_c6= df18["id"].value_counts()==3
msk_2_c6[msk_2_c6==True].count() # 72 personas (camino 6) grupo de control

72

In [276]:
trs_veces_c6 = msk_2_c6[msk_2_c6==True].index.to_list()

indices_trs_veces_c6 = []
for ix,i in enumerate(df18['id']):
    if i in trs_veces_c6:
        indices_trs_veces_c6.append(ix)

df18 = df18.iloc[indices_trs_veces_c6,:] # se crea el dataframe 18 (camino 6) con las personas de control.

In [277]:
df18= df18.rename(columns={"control_seis":"control"})

In [278]:
df18['scar'] = int(0)
#df7['scar'].isnull().sum()

In [279]:
df18['camino'] = str("c_seis")

In [280]:
#df7.to_csv('D:/maestria_ciencias_economicas_unal/tesis_scarring/base datos/ELCA_FINAL/PANEL_PET_REDUC.csv', sep = ";")

## tablas concatenadas

In [281]:
framesp=[df8, df9, df10, df11, df12, df12a, df13, df14, df15, df16, df17, df18]

In [282]:
dfprueba = pd.concat(framesp, axis = 0, join = 'outer', sort = False)

In [283]:
# ###indexar por fecha e ID
# id_index= [i[1] for i in dfprueba.index.to_list()]
# dfprueba= dfprueba.set_index(["Fecha", pd.Index(id_index, name = "ID")])

In [284]:
#grupo tratamiento
msk_1_p= dfprueba["scar"] == 1
msk_1_p[msk_1_p==True].count()
dfp = dfprueba[msk_1_p==True]
msk_2_p= dfp["id"].value_counts()==3
msk_2_p[msk_2_p==True].count() #1229

1229

In [285]:
#grupo control
msk_1_c= dfprueba["control"] == 1
msk_1_c[msk_1_c==True].count()
dfp = dfprueba[msk_1_c==True]
msk_2_c= dfp["id"].value_counts()==3
msk_2_c[msk_2_c==True].count() # de 1630 se pasa a 1043 en grupo control, siendo estrictos. 
#corregido el camino 6 se pasa de 1043 a 1098, es decir 55 personas más.

1098

In [132]:
# dfprueba = dfprueba.drop(["scar_uno","scar_dos", "scar_tres", "scar_cuatro", "scar_cinco", "scar_seis", 
#                 "control_uno", "control_dos", "control_tres","control_cuatro", "control_cinco", "indicator_column"], axis = 1)

In [133]:
# dfprueba= dfprueba.drop("control_seis", axis = 1)

In [153]:
#se reescribe el dataframe dfprueba con el imputado.
#dfprueba.to_csv('D:/maestria_ciencias_economicas_unal/tesis_scarring/base datos/ELCA_FINAL/PET_REDUC_Trat_ctrl.csv', sep = ";")
#se guarda el dataframe dfprueba original como PET_REDUC_Trat_ctrl_inicial, posteriormente se reescribe por el imputado. 
#dfprueba.to_csv('D:/maestria_ciencias_economicas_unal/tesis_scarring/base datos/ELCA_FINAL/PET_REDUC_Trat_ctrl_inicial.csv', sep = ";"

In [221]:
dfprueba.columns.to_list()

['ola_l',
 'hogar_l',
 'hogar_n16_l',
 'orden',
 'seguimiento',
 'encuestada_2013',
 'region',
 'RegionLb',
 'region_2016',
 'id_depto',
 'id_mpio',
 'id_mpioU',
 'riqueza_pca',
 'tercil2010',
 'tercil2013',
 'tercil2016',
 'fhog',
 'fhog_2010',
 'fhog_2013',
 'fhog_2016',
 'fexhog',
 'fexhog_2010',
 'fexhog_2013',
 'fpers',
 'fpers_2010',
 'fpers_2013',
 'fpers_2016',
 'fexpers',
 'fexpers_2010',
 'fexpers_2013',
 't_hogares',
 't_hogar',
 't_personas',
 'tipo_vivienda',
 'material_pisos',
 'material_paredes',
 'sp_energia',
 'sp_estrato',
 'sp_gasnatural',
 'sp_acueducto',
 'sp_alcantarillado',
 'sp_telefono',
 'sp_recoleccion_basura',
 'eliminan_basura',
 'sexo',
 'edad',
 'edad_meses',
 'parentesco',
 'estado_civil',
 'vive_conyuge',
 'orden_conyuge',
 'etnia',
 'estrato',
 'lee_escribe',
 'estudia',
 'nivel_educ',
 'grado_educ',
 'edad_dejoestudio',
 'nivel_educ_cursa',
 'grado_educ_cursa',
 'anos_superior',
 'estudiaba_2010',
 'nivel_educ_2010',
 'grado_educ_2010',
 'anos_superior_2010',
 'est_superiores',
 'actividad_ppal',
 'diligencias4',
 'diligencias12',
 'descripcion_ciiu',
 'descrip_oficio',
 'cod_oficio',
 'edad_tenia',
 'anos_trabaja',
 'meses_trabaja',
 'mes_inicio',
 'ano_inicio',
 'ocupacion',
 'horas_normal',
 'cod_oficio2',
 'tipo_contrato',
 'rec_otros_pago',
 'vr_alimentos_pago',
 'vr_vivienda_pago',
 'vr_educ_pago',
 'vr_subalimentacion',
 'vr_subtransporte',
 'vr_subfamiliar',
 'vr_bonos',
 'vr_ingmen_ase',
 'vr_salario',
 'vr_ganancia',
 'meses_ganancia',
 'rec_ninguno',
 'pagos_adicion',
 'ingresos',
 'ganancia_neta',
 'vr_salario_mes',
 'recibio_ganancia',
 'afiliacion',
 'seg_medico',
 'segsoc_salud',
 'estaba_sss',
 'beneficiario_sss',
 'beneficiario_orden',
 'cotiza_fp',
 'estaba_fp',
 'afiliacion_fp',
 'vr_rec_pension',
 'tam_empresa',
 'n_empleados',
 'registro_mercantil',
 'vacaciones',
 'prima_navidad',
 'cesantias',
 'ofertas_empleo',
 'ofertas_emp12',
 'ofertas_emp1',
 'vr_salario_ofr',
 'razon_noacepto',
 'disponibilidad',
 't_bustrab_a',
 't_bustrab_m',
 'medio_busco',
 't_busco_trab_l',
 't_dejo_trabajar',
 'vr_rec_arriendos',
 'vr_rec_dividendos',
 'salario_insf',
 'salario_nopresta',
 'horario_nosirve',
 'ubica_inadecuada',
 'noapto_trabajo',
 'razon_personal',
 'edad_primert',
 'anos_primert',
 'horas_normal_pt',
 'ocupacion_pt',
 'es_ptrabajo',
 't_trabajo_ult',
 'trabajo_ult3',
 'tiempo_trab',
 'vr_recibia_pt',
 'rango_ingreso',
 'sss_pt',
 'afiliado_fp_pt',
 'cotizando',
 'tamano_pt',
 'desemp_ult3',
 'tiempo_desemp',
 'nocotiza_ult3',
 'tiempo_ncotiza',
 'primer_busca',
 'clasif_lab',
 'scar',
 'scar_dos',
 'scar_tres',
 'scar_cuatro',
 'scar_cinco',
 'control_uno',
 'control_dos',
 'actividad_principal',
 't_busco_trab_r',
 'indicator_column',
 'scar_seis',
 'tiempo_desempleo',
 'id',
 'control_tres',
 'control_cuatro',
 'control_cinco',
 'ano_encuesta',
 'tiempo_empleo',
 'control_seis',
 'not_null_empl',
 'rango_edad',
 'control',
 'camino',
 'scar_uno']

In [224]:
# dfprueba.index

#### Tabla de salida

In [136]:
#dfprueba= pd.read_csv('D:/maestria_ciencias_economicas_unal/tesis_scarring/base datos/ELCA_FINAL/PET_REDUC_Trat_ctrl.csv', sep = ";", index_col=[0,1], low_memory=False)

In [139]:
d = dtale.show(dfprueba, ignore_duplicate = True)
d

In [135]:
#df7.to_csv('D:/maestria_ciencias_economicas_unal/tesis_scarring/base datos/ELCA_FINAL/PANEL_PET_REDUC.csv', sep = ";")

In [285]:
report = ProfileReport(df7, 'Resumen Estadísitco')
report